<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpAuditCommentFileMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpAuditCommentFile">
    <!--@mbggenerated-->
    <id column="FILE_ID" jdbcType="INTEGER" property="fileId" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="COMMENT_ID" jdbcType="INTEGER" property="commentId" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="FILE_ADDR" jdbcType="VARCHAR" property="fileAddr" />
    <result column="FILE_SEQ" jdbcType="INTEGER" property="fileSeq" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    FILE_ID, COMP_ID, COMMENT_ID, CREATION_TIME, FILE_ADDR, FILE_SEQ
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditCommentFileExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AUDIT_COMMENT_FILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from AUDIT_COMMENT_FILE
    where FILE_ID = #{fileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from AUDIT_COMMENT_FILE
    where FILE_ID = #{fileId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditCommentFileExample">
    <!--@mbggenerated-->
    delete from AUDIT_COMMENT_FILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="fileId" parameterType="com.myfun.repository.erpdb.po.ErpAuditCommentFile" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into AUDIT_COMMENT_FILE (COMP_ID, COMMENT_ID, CREATION_TIME, 
      FILE_ADDR, FILE_SEQ)
    values (#{compId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{fileAddr,jdbcType=VARCHAR}, #{fileSeq,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyProperty="fileId" parameterType="com.myfun.repository.erpdb.po.ErpAuditCommentFile" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into AUDIT_COMMENT_FILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="commentId != null">
        COMMENT_ID,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="fileAddr != null">
        FILE_ADDR,
      </if>
      <if test="fileSeq != null">
        FILE_SEQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileAddr != null">
        #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileSeq != null">
        #{fileSeq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditCommentFileExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from AUDIT_COMMENT_FILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update AUDIT_COMMENT_FILE
    <set>
      <if test="record.fileId != null">
        FILE_ID = #{record.fileId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.commentId != null">
        COMMENT_ID = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fileAddr != null">
        FILE_ADDR = #{record.fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.fileSeq != null">
        FILE_SEQ = #{record.fileSeq,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update AUDIT_COMMENT_FILE
    set FILE_ID = #{record.fileId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      COMMENT_ID = #{record.commentId,jdbcType=INTEGER},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      FILE_ADDR = #{record.fileAddr,jdbcType=VARCHAR},
      FILE_SEQ = #{record.fileSeq,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpAuditCommentFile">
    <!--@mbggenerated-->
    update AUDIT_COMMENT_FILE
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        COMMENT_ID = #{commentId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileAddr != null">
        FILE_ADDR = #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="fileSeq != null">
        FILE_SEQ = #{fileSeq,jdbcType=INTEGER},
      </if>
    </set>
    where FILE_ID = #{fileId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpAuditCommentFile">
    <!--@mbggenerated-->
    update AUDIT_COMMENT_FILE
    set COMP_ID = #{compId,jdbcType=INTEGER},
      COMMENT_ID = #{commentId,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      FILE_ADDR = #{fileAddr,jdbcType=VARCHAR},
      FILE_SEQ = #{fileSeq,jdbcType=INTEGER}
    where FILE_ID = #{fileId,jdbcType=INTEGER}
  </update>
</mapper>