<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpAliRenthouseReservationMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpAliRenthouseReservation">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ALI_USER_ID" jdbcType="VARCHAR" property="aliUserId" />
    <result column="ROOM_CODE" jdbcType="VARCHAR" property="roomCode" />
    <result column="FLATS_TAG" jdbcType="INTEGER" property="flatsTag" />
    <result column="LOOK_TIME" jdbcType="TIMESTAMP" property="lookTime" />
    <result column="BOOK_PHONE" jdbcType="VARCHAR" property="bookPhone" />
    <result column="BOOK_SEX" jdbcType="INTEGER" property="bookSex" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CASE_TYPE" jdbcType="INTEGER" property="caseType" />
    <result column="BOOK_NAME" jdbcType="VARCHAR" property="bookName" />
    <result column="CASE_USER_ID" jdbcType="INTEGER" property="caseUserId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="GR_ID" jdbcType="INTEGER" property="grId" />
    <result column="TRANS_CASE_ID" jdbcType="INTEGER" property="transCaseId" />
    <result column="TRANS_CASE_TYPE" jdbcType="INTEGER" property="transCaseType" />
    <result column="ORGANIZATION_PATH" jdbcType="VARCHAR" property="organizationPath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, ALI_USER_ID, ROOM_CODE, FLATS_TAG, LOOK_TIME, BOOK_PHONE, BOOK_SEX, REMARK, COMP_ID, 
    DEPT_ID, CASE_ID, CASE_TYPE, BOOK_NAME, CASE_USER_ID, CREATE_TIME, GR_ID, TRANS_CASE_ID, 
    TRANS_CASE_TYPE, ORGANIZATION_PATH
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpAliRenthouseReservationExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ALI_RENTHOUSE_RESERVATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from ALI_RENTHOUSE_RESERVATION
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from ALI_RENTHOUSE_RESERVATION
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpAliRenthouseReservationExample">
    <!--@mbggenerated-->
    delete from ALI_RENTHOUSE_RESERVATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpAliRenthouseReservation" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into ALI_RENTHOUSE_RESERVATION (ALI_USER_ID, ROOM_CODE, FLATS_TAG, 
      LOOK_TIME, BOOK_PHONE, BOOK_SEX, 
      REMARK, COMP_ID, DEPT_ID, 
      CASE_ID, CASE_TYPE, BOOK_NAME, 
      CASE_USER_ID, CREATE_TIME, GR_ID, 
      TRANS_CASE_ID, TRANS_CASE_TYPE, ORGANIZATION_PATH
      )
    values (#{aliUserId,jdbcType=VARCHAR}, #{roomCode,jdbcType=VARCHAR}, #{flatsTag,jdbcType=INTEGER}, 
      #{lookTime,jdbcType=TIMESTAMP}, #{bookPhone,jdbcType=VARCHAR}, #{bookSex,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{compId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{caseId,jdbcType=INTEGER}, #{caseType,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, 
      #{caseUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{grId,jdbcType=INTEGER}, 
      #{transCaseId,jdbcType=INTEGER}, #{transCaseType,jdbcType=INTEGER}, #{organizationPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpAliRenthouseReservation" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into ALI_RENTHOUSE_RESERVATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aliUserId != null">
        ALI_USER_ID,
      </if>
      <if test="roomCode != null">
        ROOM_CODE,
      </if>
      <if test="flatsTag != null">
        FLATS_TAG,
      </if>
      <if test="lookTime != null">
        LOOK_TIME,
      </if>
      <if test="bookPhone != null">
        BOOK_PHONE,
      </if>
      <if test="bookSex != null">
        BOOK_SEX,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="bookName != null">
        BOOK_NAME,
      </if>
      <if test="caseUserId != null">
        CASE_USER_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="grId != null">
        GR_ID,
      </if>
      <if test="transCaseId != null">
        TRANS_CASE_ID,
      </if>
      <if test="transCaseType != null">
        TRANS_CASE_TYPE,
      </if>
      <if test="organizationPath != null">
        ORGANIZATION_PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aliUserId != null">
        #{aliUserId,jdbcType=VARCHAR},
      </if>
      <if test="roomCode != null">
        #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="flatsTag != null">
        #{flatsTag,jdbcType=INTEGER},
      </if>
      <if test="lookTime != null">
        #{lookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookPhone != null">
        #{bookPhone,jdbcType=VARCHAR},
      </if>
      <if test="bookSex != null">
        #{bookSex,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=INTEGER},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="caseUserId != null">
        #{caseUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grId != null">
        #{grId,jdbcType=INTEGER},
      </if>
      <if test="transCaseId != null">
        #{transCaseId,jdbcType=INTEGER},
      </if>
      <if test="transCaseType != null">
        #{transCaseType,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null">
        #{organizationPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpAliRenthouseReservationExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from ALI_RENTHOUSE_RESERVATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update ALI_RENTHOUSE_RESERVATION
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.aliUserId != null">
        ALI_USER_ID = #{record.aliUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.roomCode != null">
        ROOM_CODE = #{record.roomCode,jdbcType=VARCHAR},
      </if>
      <if test="record.flatsTag != null">
        FLATS_TAG = #{record.flatsTag,jdbcType=INTEGER},
      </if>
      <if test="record.lookTime != null">
        LOOK_TIME = #{record.lookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bookPhone != null">
        BOOK_PHONE = #{record.bookPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.bookSex != null">
        BOOK_SEX = #{record.bookSex,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.caseId != null">
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=INTEGER},
      </if>
      <if test="record.bookName != null">
        BOOK_NAME = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.caseUserId != null">
        CASE_USER_ID = #{record.caseUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.grId != null">
        GR_ID = #{record.grId,jdbcType=INTEGER},
      </if>
      <if test="record.transCaseId != null">
        TRANS_CASE_ID = #{record.transCaseId,jdbcType=INTEGER},
      </if>
      <if test="record.transCaseType != null">
        TRANS_CASE_TYPE = #{record.transCaseType,jdbcType=INTEGER},
      </if>
      <if test="record.organizationPath != null">
        ORGANIZATION_PATH = #{record.organizationPath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update ALI_RENTHOUSE_RESERVATION
    set ID = #{record.id,jdbcType=INTEGER},
      ALI_USER_ID = #{record.aliUserId,jdbcType=VARCHAR},
      ROOM_CODE = #{record.roomCode,jdbcType=VARCHAR},
      FLATS_TAG = #{record.flatsTag,jdbcType=INTEGER},
      LOOK_TIME = #{record.lookTime,jdbcType=TIMESTAMP},
      BOOK_PHONE = #{record.bookPhone,jdbcType=VARCHAR},
      BOOK_SEX = #{record.bookSex,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=INTEGER},
      BOOK_NAME = #{record.bookName,jdbcType=VARCHAR},
      CASE_USER_ID = #{record.caseUserId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      GR_ID = #{record.grId,jdbcType=INTEGER},
      TRANS_CASE_ID = #{record.transCaseId,jdbcType=INTEGER},
      TRANS_CASE_TYPE = #{record.transCaseType,jdbcType=INTEGER},
      ORGANIZATION_PATH = #{record.organizationPath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpAliRenthouseReservation">
    <!--@mbggenerated-->
    update ALI_RENTHOUSE_RESERVATION
    <set>
      <if test="aliUserId != null">
        ALI_USER_ID = #{aliUserId,jdbcType=VARCHAR},
      </if>
      <if test="roomCode != null">
        ROOM_CODE = #{roomCode,jdbcType=VARCHAR},
      </if>
      <if test="flatsTag != null">
        FLATS_TAG = #{flatsTag,jdbcType=INTEGER},
      </if>
      <if test="lookTime != null">
        LOOK_TIME = #{lookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookPhone != null">
        BOOK_PHONE = #{bookPhone,jdbcType=VARCHAR},
      </if>
      <if test="bookSex != null">
        BOOK_SEX = #{bookSex,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=INTEGER},
      </if>
      <if test="bookName != null">
        BOOK_NAME = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="caseUserId != null">
        CASE_USER_ID = #{caseUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grId != null">
        GR_ID = #{grId,jdbcType=INTEGER},
      </if>
      <if test="transCaseId != null">
        TRANS_CASE_ID = #{transCaseId,jdbcType=INTEGER},
      </if>
      <if test="transCaseType != null">
        TRANS_CASE_TYPE = #{transCaseType,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null">
        ORGANIZATION_PATH = #{organizationPath,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpAliRenthouseReservation">
    <!--@mbggenerated-->
    update ALI_RENTHOUSE_RESERVATION
    set ALI_USER_ID = #{aliUserId,jdbcType=VARCHAR},
      ROOM_CODE = #{roomCode,jdbcType=VARCHAR},
      FLATS_TAG = #{flatsTag,jdbcType=INTEGER},
      LOOK_TIME = #{lookTime,jdbcType=TIMESTAMP},
      BOOK_PHONE = #{bookPhone,jdbcType=VARCHAR},
      BOOK_SEX = #{bookSex,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=INTEGER},
      BOOK_NAME = #{bookName,jdbcType=VARCHAR},
      CASE_USER_ID = #{caseUserId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      GR_ID = #{grId,jdbcType=INTEGER},
      TRANS_CASE_ID = #{transCaseId,jdbcType=INTEGER},
      TRANS_CASE_TYPE = #{transCaseType,jdbcType=INTEGER},
      ORGANIZATION_PATH = #{organizationPath,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap extends="BaseResultMap" id="extBaseResultMap" type="com.myfun.repository.erpdb.dto.ErpAliRenthouseReservationDto">

  </resultMap>
  <select id="getReservationList" parameterType="com.myfun.erpWeb.managecenter.alipayReservation.param.GetReservationListParam" resultMap="extBaseResultMap">
     select a.ID, a.ALI_USER_ID, a.ROOM_CODE, a.FLATS_TAG, a.LOOK_TIME, a.BOOK_PHONE, a.BOOK_SEX, a.REMARK, a.COMP_ID,
    a.DEPT_ID, a.CASE_ID, a.CASE_TYPE, a.BOOK_NAME, a.CASE_USER_ID, a.CREATE_TIME, a.GR_ID from ALI_RENTHOUSE_RESERVATION a
      join FUN_USERS b on a.CASE_USER_ID = b.USER_ID
      where a.COMP_ID=#{param.compId}
     <if test="null != param.deptId">
        and a.dept_id=#{param.deptId}
     </if>
     <if test="null != param.grId">
        and b.GR_ID=#{param.grId}
     </if>
     <if test="null != param.userId">
        and CASE_USER_ID=#{userId}
     </if>
     <if test="null != param.startTime and '' != param.startTime and null != param.endTime and '' != param.endTime">
        and LOOK_TIME &gt;=#{param.startTime} and LOOK_TIME &lt;=#{param.endTime}
     </if>
     <if test="null != param.organizationId and param.organizationId &gt; 0">
     	and a.ORGANIZATION_PATH like '%:${param.organizationId}:%'
     </if>
     order by a.CREATE_TIME desc
  </select>
</mapper>