<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpAuditUserTemplateMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpAuditUserTemplate">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="AUDIT_ID" jdbcType="INTEGER" property="auditId" />
    <result column="AUDIT_USER_TYPE" jdbcType="INTEGER" property="auditUserType" />
    <result column="AUDIT_USER_ID" jdbcType="INTEGER" property="auditUserId" />
    <result column="AUDIT_ROLE_ID" jdbcType="VARCHAR" property="auditRoleId" />
    <result column="AUDIT_SEQ" jdbcType="INTEGER" property="auditSeq" />
    <result column="EXAMINE_TYPE" jdbcType="TINYINT" property="examineType" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="CLASS_ID" jdbcType="INTEGER" property="classId" />
    <result column="CONDITION_DAY" jdbcType="NUMERIC" property="conditionDay" />
    <result column="AUDIT_PROCESS_ID" jdbcType="INTEGER" property="auditProcessId" />
    <result column="ORGANIZATION_DEFINITION_ID" jdbcType="INTEGER" property="organizationDefinitionId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, AUDIT_ID, AUDIT_USER_TYPE, AUDIT_USER_ID, AUDIT_ROLE_ID, AUDIT_SEQ, EXAMINE_TYPE, 
    CREATION_TIME, CLASS_ID, CONDITION_DAY, AUDIT_PROCESS_ID, ORGANIZATION_DEFINITION_ID
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTemplateExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AUDIT_USER_TEMPLATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from AUDIT_USER_TEMPLATE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from AUDIT_USER_TEMPLATE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTemplateExample">
    <!--@mbggenerated-->
    delete from AUDIT_USER_TEMPLATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTemplate" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into AUDIT_USER_TEMPLATE (AUDIT_ID, AUDIT_USER_TYPE, AUDIT_USER_ID, 
      AUDIT_ROLE_ID, AUDIT_SEQ, EXAMINE_TYPE, 
      CREATION_TIME, CLASS_ID, CONDITION_DAY, 
      AUDIT_PROCESS_ID, ORGANIZATION_DEFINITION_ID
      )
    values (#{auditId,jdbcType=INTEGER}, #{auditUserType,jdbcType=INTEGER}, #{auditUserId,jdbcType=INTEGER}, 
      #{auditRoleId,jdbcType=VARCHAR}, #{auditSeq,jdbcType=INTEGER}, #{examineType,jdbcType=TINYINT}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{classId,jdbcType=INTEGER}, #{conditionDay,jdbcType=NUMERIC}, 
      #{auditProcessId,jdbcType=INTEGER}, #{organizationDefinitionId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTemplate" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into AUDIT_USER_TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="auditId != null">
        AUDIT_ID,
      </if>
      <if test="auditUserType != null">
        AUDIT_USER_TYPE,
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID,
      </if>
      <if test="auditRoleId != null">
        AUDIT_ROLE_ID,
      </if>
      <if test="auditSeq != null">
        AUDIT_SEQ,
      </if>
      <if test="examineType != null">
        EXAMINE_TYPE,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="classId != null">
        CLASS_ID,
      </if>
      <if test="conditionDay != null">
        CONDITION_DAY,
      </if>
      <if test="auditProcessId != null">
        AUDIT_PROCESS_ID,
      </if>
      <if test="organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="auditId != null">
        #{auditId,jdbcType=INTEGER},
      </if>
      <if test="auditUserType != null">
        #{auditUserType,jdbcType=INTEGER},
      </if>
      <if test="auditUserId != null">
        #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditRoleId != null">
        #{auditRoleId,jdbcType=VARCHAR},
      </if>
      <if test="auditSeq != null">
        #{auditSeq,jdbcType=INTEGER},
      </if>
      <if test="examineType != null">
        #{examineType,jdbcType=TINYINT},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="conditionDay != null">
        #{conditionDay,jdbcType=NUMERIC},
      </if>
      <if test="auditProcessId != null">
        #{auditProcessId,jdbcType=INTEGER},
      </if>
      <if test="organizationDefinitionId != null">
        #{organizationDefinitionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTemplateExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from AUDIT_USER_TEMPLATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update AUDIT_USER_TEMPLATE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.auditId != null">
        AUDIT_ID = #{record.auditId,jdbcType=INTEGER},
      </if>
      <if test="record.auditUserType != null">
        AUDIT_USER_TYPE = #{record.auditUserType,jdbcType=INTEGER},
      </if>
      <if test="record.auditUserId != null">
        AUDIT_USER_ID = #{record.auditUserId,jdbcType=INTEGER},
      </if>
      <if test="record.auditRoleId != null">
        AUDIT_ROLE_ID = #{record.auditRoleId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditSeq != null">
        AUDIT_SEQ = #{record.auditSeq,jdbcType=INTEGER},
      </if>
      <if test="record.examineType != null">
        EXAMINE_TYPE = #{record.examineType,jdbcType=TINYINT},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.classId != null">
        CLASS_ID = #{record.classId,jdbcType=INTEGER},
      </if>
      <if test="record.conditionDay != null">
        CONDITION_DAY = #{record.conditionDay,jdbcType=NUMERIC},
      </if>
      <if test="record.auditProcessId != null">
        AUDIT_PROCESS_ID = #{record.auditProcessId,jdbcType=INTEGER},
      </if>
      <if test="record.organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID = #{record.organizationDefinitionId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update AUDIT_USER_TEMPLATE
    set ID = #{record.id,jdbcType=INTEGER},
      AUDIT_ID = #{record.auditId,jdbcType=INTEGER},
      AUDIT_USER_TYPE = #{record.auditUserType,jdbcType=INTEGER},
      AUDIT_USER_ID = #{record.auditUserId,jdbcType=INTEGER},
      AUDIT_ROLE_ID = #{record.auditRoleId,jdbcType=VARCHAR},
      AUDIT_SEQ = #{record.auditSeq,jdbcType=INTEGER},
      EXAMINE_TYPE = #{record.examineType,jdbcType=TINYINT},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      CLASS_ID = #{record.classId,jdbcType=INTEGER},
      CONDITION_DAY = #{record.conditionDay,jdbcType=NUMERIC},
      AUDIT_PROCESS_ID = #{record.auditProcessId,jdbcType=INTEGER},
      ORGANIZATION_DEFINITION_ID = #{record.organizationDefinitionId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTemplate">
    <!--@mbggenerated-->
    update AUDIT_USER_TEMPLATE
    <set>
      <if test="auditId != null">
        AUDIT_ID = #{auditId,jdbcType=INTEGER},
      </if>
      <if test="auditUserType != null">
        AUDIT_USER_TYPE = #{auditUserType,jdbcType=INTEGER},
      </if>
      <if test="auditUserId != null">
        AUDIT_USER_ID = #{auditUserId,jdbcType=INTEGER},
      </if>
      <if test="auditRoleId != null">
        AUDIT_ROLE_ID = #{auditRoleId,jdbcType=VARCHAR},
      </if>
      <if test="auditSeq != null">
        AUDIT_SEQ = #{auditSeq,jdbcType=INTEGER},
      </if>
      <if test="examineType != null">
        EXAMINE_TYPE = #{examineType,jdbcType=TINYINT},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="classId != null">
        CLASS_ID = #{classId,jdbcType=INTEGER},
      </if>
      <if test="conditionDay != null">
        CONDITION_DAY = #{conditionDay,jdbcType=NUMERIC},
      </if>
      <if test="auditProcessId != null">
        AUDIT_PROCESS_ID = #{auditProcessId,jdbcType=INTEGER},
      </if>
      <if test="organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID = #{organizationDefinitionId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTemplate">
    <!--@mbggenerated-->
    update AUDIT_USER_TEMPLATE
    set AUDIT_ID = #{auditId,jdbcType=INTEGER},
      AUDIT_USER_TYPE = #{auditUserType,jdbcType=INTEGER},
      AUDIT_USER_ID = #{auditUserId,jdbcType=INTEGER},
      AUDIT_ROLE_ID = #{auditRoleId,jdbcType=VARCHAR},
      AUDIT_SEQ = #{auditSeq,jdbcType=INTEGER},
      EXAMINE_TYPE = #{examineType,jdbcType=TINYINT},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      CLASS_ID = #{classId,jdbcType=INTEGER},
      CONDITION_DAY = #{conditionDay,jdbcType=NUMERIC},
      AUDIT_PROCESS_ID = #{auditProcessId,jdbcType=INTEGER},
      ORGANIZATION_DEFINITION_ID = #{organizationDefinitionId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
	
	<select id="selectByAuditId" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from AUDIT_USER_TEMPLATE
		where AUDIT_ID = #{auditId}
	</select>
	
	<select id="getBusinessAuditTemplate" resultMap="BaseResultMap">
		select 
		AUDIT_ID, AUDIT_USER_TYPE, AUDIT_USER_ID, AUDIT_SEQ, AUDIT_ROLE_ID, EXAMINE_TYPE,ORGANIZATION_DEFINITION_ID
		from AUDIT_USER_TEMPLATE
		where AUDIT_ID IN
		<foreach close=")" collection="auditIds" item="item" open="(" separator=",">
			#{item}
		</foreach>
	</select>
	
	<delete id="deleteByAuditId">
		DELETE FROM AUDIT_USER_TEMPLATE
		WHERE AUDIT_ID IN
		(
			SELECT ID from AUDIT_TEMPLATE WHERE COMP_ID=#{compId}
			<if test="caseType != null">AND CASE_TYPE=#{caseType}</if>
			<if test="auditType != null">AND AUDIT_TYPE=#{auditType}</if>
			<if test="auditResource != null">AND AUDIT_RESOURCE=#{auditResource}</if>
		)
	</delete>
	
	<insert id="insertList" useGeneratedKeys="true">
		insert into AUDIT_USER_TEMPLATE (AUDIT_ID, AUDIT_USER_TYPE, AUDIT_USER_ID, AUDIT_ROLE_ID,
			AUDIT_SEQ, EXAMINE_TYPE, CREATION_TIME,ORGANIZATION_DEFINITION_ID)
		values
		<foreach collection="auditUserTemplates" item="item" separator=",">
			(
			#{item.auditId}, #{item.auditUserType}, #{item.auditUserId},#{item.auditRoleId},
			#{item.auditSeq}, #{item.examineType}, #{item.creationTime},#{item.organizationDefinitionId}
			)
		</foreach>
	</insert>

   <select id="selectByClassId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM AUDIT_USER_TEMPLATE
    WHERE CLASS_ID = #{classId}
   </select>

	<delete id="delAuditHouseComplaint">
		delete from AUDIT_USER_TEMPLATE where AUDIT_USER_ID = #{userId} and CLASS_ID in
		(select ID from AUDIT_CLASS where COMP_ID = #{compId} and AUDIT_RESOURCE = 5)
	</delete>

	<insert id="addAuditHouseComplaint">
		insert into AUDIT_USER_TEMPLATE(AUDIT_ID,AUDIT_USER_TYPE,AUDIT_USER_ID,AUDIT_ROLE_ID,AUDIT_SEQ,EXAMINE_TYPE,CREATION_TIME,CLASS_ID,CONDITION_DAY,AUDIT_PROCESS_ID)
		select AUDIT_ID,AUDIT_USER_TYPE,#{userId},AUDIT_ROLE_ID,AUDIT_SEQ,EXAMINE_TYPE,getdate(),CLASS_ID,CONDITION_DAY,AUDIT_PROCESS_ID
		from AUDIT_USER_TEMPLATE where AUDIT_USER_ID = #{generalManagerUserId} and CLASS_ID in
		(select ID from AUDIT_CLASS where COMP_ID = #{compId} and AUDIT_RESOURCE = 5)
	</insert>

   <select id="countAuditHouseComplaint" resultType="java.lang.Integer">
		select count(1)
		from AUDIT_USER_TEMPLATE where AUDIT_USER_ID = #{userId} and CLASS_ID in
		(select ID from AUDIT_CLASS where COMP_ID = #{compId} and AUDIT_RESOURCE = 5)
	</select>

  <select id="selectByAuditProcessId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM AUDIT_USER_TEMPLATE
    WHERE AUDIT_PROCESS_ID = #{auditProcessId}
  </select>

</mapper>