<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.erpdb.dao.ErpAliyunTelephoneBillMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBill" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="A_PHONE" property="aPhone" jdbcType="VARCHAR" />
    <result column="X_PHONE" property="xPhone" jdbcType="VARCHAR" />
    <result column="BIND_A_TIME" property="bindATime" jdbcType="TIMESTAMP" />
    <result column="ORG_ID" property="orgId" jdbcType="INTEGER" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ORG_NO" property="orgNo" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="TELE_PHONE_BILL" property="telePhoneBill" jdbcType="DECIMAL" />
    <result column="MONTHLYRENT" property="monthlyrent" jdbcType="DECIMAL" />
    <result column="OTHER_BILL" property="otherBill" jdbcType="DECIMAL" />
    <result column="RECORDING" property="recording" jdbcType="DECIMAL" />
    <result column="ALL_MONEY" property="allMoney" jdbcType="DECIMAL" />
    <result column="TOALL_TIME" property="toallTime" jdbcType="INTEGER" />
    <result column="TOALL_COUNT" property="toallCount" jdbcType="INTEGER" />
    <result column="SUFFIX" property="suffix" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, COMP_ID, A_PHONE, X_PHONE, BIND_A_TIME, ORG_ID, ORG_NAME, ORG_NO, USER_ID, ARCHIVE_ID, 
    USER_NAME, TELE_PHONE_BILL, MONTHLYRENT, OTHER_BILL, RECORDING, ALL_MONEY, TOALL_TIME, 
    TOALL_COUNT, SUFFIX
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBillExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ALIYUN_TELEPHONE_BILL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from ALIYUN_TELEPHONE_BILL
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from ALIYUN_TELEPHONE_BILL
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBillExample" >
    <!--@mbggenerated-->
    delete from ALIYUN_TELEPHONE_BILL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBill" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into ALIYUN_TELEPHONE_BILL (COMP_ID, A_PHONE, X_PHONE, 
      BIND_A_TIME, ORG_ID, ORG_NAME, 
      ORG_NO, USER_ID, ARCHIVE_ID, 
      USER_NAME, TELE_PHONE_BILL, MONTHLYRENT, 
      OTHER_BILL, RECORDING, ALL_MONEY, 
      TOALL_TIME, TOALL_COUNT, SUFFIX
      )
    values (#{compId,jdbcType=INTEGER}, #{aPhone,jdbcType=VARCHAR}, #{xPhone,jdbcType=VARCHAR}, 
      #{bindATime,jdbcType=TIMESTAMP}, #{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, 
      #{orgNo,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{telePhoneBill,jdbcType=DECIMAL}, #{monthlyrent,jdbcType=DECIMAL}, 
      #{otherBill,jdbcType=DECIMAL}, #{recording,jdbcType=DECIMAL}, #{allMoney,jdbcType=DECIMAL}, 
      #{toallTime,jdbcType=INTEGER}, #{toallCount,jdbcType=INTEGER}, #{suffix,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBill" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into ALIYUN_TELEPHONE_BILL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="aPhone != null" >
        A_PHONE,
      </if>
      <if test="xPhone != null" >
        X_PHONE,
      </if>
      <if test="bindATime != null" >
        BIND_A_TIME,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="orgNo != null" >
        ORG_NO,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="telePhoneBill != null" >
        TELE_PHONE_BILL,
      </if>
      <if test="monthlyrent != null" >
        MONTHLYRENT,
      </if>
      <if test="otherBill != null" >
        OTHER_BILL,
      </if>
      <if test="recording != null" >
        RECORDING,
      </if>
      <if test="allMoney != null" >
        ALL_MONEY,
      </if>
      <if test="toallTime != null" >
        TOALL_TIME,
      </if>
      <if test="toallCount != null" >
        TOALL_COUNT,
      </if>
      <if test="suffix != null" >
        SUFFIX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="aPhone != null" >
        #{aPhone,jdbcType=VARCHAR},
      </if>
      <if test="xPhone != null" >
        #{xPhone,jdbcType=VARCHAR},
      </if>
      <if test="bindATime != null" >
        #{bindATime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgNo != null" >
        #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="telePhoneBill != null" >
        #{telePhoneBill,jdbcType=DECIMAL},
      </if>
      <if test="monthlyrent != null" >
        #{monthlyrent,jdbcType=DECIMAL},
      </if>
      <if test="otherBill != null" >
        #{otherBill,jdbcType=DECIMAL},
      </if>
      <if test="recording != null" >
        #{recording,jdbcType=DECIMAL},
      </if>
      <if test="allMoney != null" >
        #{allMoney,jdbcType=DECIMAL},
      </if>
      <if test="toallTime != null" >
        #{toallTime,jdbcType=INTEGER},
      </if>
      <if test="toallCount != null" >
        #{toallCount,jdbcType=INTEGER},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBillExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from ALIYUN_TELEPHONE_BILL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update ALIYUN_TELEPHONE_BILL
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.aPhone != null" >
        A_PHONE = #{record.aPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.xPhone != null" >
        X_PHONE = #{record.xPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.bindATime != null" >
        BIND_A_TIME = #{record.bindATime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgNo != null" >
        ORG_NO = #{record.orgNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.telePhoneBill != null" >
        TELE_PHONE_BILL = #{record.telePhoneBill,jdbcType=DECIMAL},
      </if>
      <if test="record.monthlyrent != null" >
        MONTHLYRENT = #{record.monthlyrent,jdbcType=DECIMAL},
      </if>
      <if test="record.otherBill != null" >
        OTHER_BILL = #{record.otherBill,jdbcType=DECIMAL},
      </if>
      <if test="record.recording != null" >
        RECORDING = #{record.recording,jdbcType=DECIMAL},
      </if>
      <if test="record.allMoney != null" >
        ALL_MONEY = #{record.allMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.toallTime != null" >
        TOALL_TIME = #{record.toallTime,jdbcType=INTEGER},
      </if>
      <if test="record.toallCount != null" >
        TOALL_COUNT = #{record.toallCount,jdbcType=INTEGER},
      </if>
      <if test="record.suffix != null" >
        SUFFIX = #{record.suffix,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update ALIYUN_TELEPHONE_BILL
    set ID = #{record.id,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      A_PHONE = #{record.aPhone,jdbcType=VARCHAR},
      X_PHONE = #{record.xPhone,jdbcType=VARCHAR},
      BIND_A_TIME = #{record.bindATime,jdbcType=TIMESTAMP},
      ORG_ID = #{record.orgId,jdbcType=INTEGER},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ORG_NO = #{record.orgNo,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      TELE_PHONE_BILL = #{record.telePhoneBill,jdbcType=DECIMAL},
      MONTHLYRENT = #{record.monthlyrent,jdbcType=DECIMAL},
      OTHER_BILL = #{record.otherBill,jdbcType=DECIMAL},
      RECORDING = #{record.recording,jdbcType=DECIMAL},
      ALL_MONEY = #{record.allMoney,jdbcType=DECIMAL},
      TOALL_TIME = #{record.toallTime,jdbcType=INTEGER},
      TOALL_COUNT = #{record.toallCount,jdbcType=INTEGER},
      SUFFIX = #{record.suffix,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBill" >
    <!--@mbggenerated-->
    update ALIYUN_TELEPHONE_BILL
    <set >
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="aPhone != null" >
        A_PHONE = #{aPhone,jdbcType=VARCHAR},
      </if>
      <if test="xPhone != null" >
        X_PHONE = #{xPhone,jdbcType=VARCHAR},
      </if>
      <if test="bindATime != null" >
        BIND_A_TIME = #{bindATime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=INTEGER},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgNo != null" >
        ORG_NO = #{orgNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="telePhoneBill != null" >
        TELE_PHONE_BILL = #{telePhoneBill,jdbcType=DECIMAL},
      </if>
      <if test="monthlyrent != null" >
        MONTHLYRENT = #{monthlyrent,jdbcType=DECIMAL},
      </if>
      <if test="otherBill != null" >
        OTHER_BILL = #{otherBill,jdbcType=DECIMAL},
      </if>
      <if test="recording != null" >
        RECORDING = #{recording,jdbcType=DECIMAL},
      </if>
      <if test="allMoney != null" >
        ALL_MONEY = #{allMoney,jdbcType=DECIMAL},
      </if>
      <if test="toallTime != null" >
        TOALL_TIME = #{toallTime,jdbcType=INTEGER},
      </if>
      <if test="toallCount != null" >
        TOALL_COUNT = #{toallCount,jdbcType=INTEGER},
      </if>
      <if test="suffix != null" >
        SUFFIX = #{suffix,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpAliyunTelephoneBill" >
    <!--@mbggenerated-->
    update ALIYUN_TELEPHONE_BILL
    set COMP_ID = #{compId,jdbcType=INTEGER},
      A_PHONE = #{aPhone,jdbcType=VARCHAR},
      X_PHONE = #{xPhone,jdbcType=VARCHAR},
      BIND_A_TIME = #{bindATime,jdbcType=TIMESTAMP},
      ORG_ID = #{orgId,jdbcType=INTEGER},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ORG_NO = #{orgNo,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      TELE_PHONE_BILL = #{telePhoneBill,jdbcType=DECIMAL},
      MONTHLYRENT = #{monthlyrent,jdbcType=DECIMAL},
      OTHER_BILL = #{otherBill,jdbcType=DECIMAL},
      RECORDING = #{recording,jdbcType=DECIMAL},
      ALL_MONEY = #{allMoney,jdbcType=DECIMAL},
      TOALL_TIME = #{toallTime,jdbcType=INTEGER},
      TOALL_COUNT = #{toallCount,jdbcType=INTEGER},
      SUFFIX = #{suffix,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getPhoneBillList" parameterType="com.myfun.erpWeb.managecenter.axn.param.PhoneBillListParam" resultType="com.myfun.erpWeb.managecenter.axn.vo.PhoneBillVO">
    SELECT A.X_PHONE, A.BIND_A_TIME, A.ORG_ID, A.ORG_NAME, A.ORG_NO, A.USER_ID, A.USER_NAME, A.TELE_PHONE_BILL, A.MONTHLYRENT, A.OTHER_BILL,
    A.RECORDING, A.ALL_MONEY, A.TOALL_TIME, A.TOALL_COUNT, A.SUFFIX 
    FROM ALIYUN_TELEPHONE_BILL A 
    LEFT JOIN FUN_USERS B ON A.COMP_ID = B.COMP_ID AND A.USER_ID = B.USER_ID 
    INNER JOIN ALIYUN_PHONE C ON A.X_PHONE = C.BIND_X
    LEFT JOIN FUN_ORGANIZATION D ON A.ORG_ID = D.ORGANIZATION_ID
    WHERE A.COMP_ID = #{param.compId}
    <if test="null != param.suffixStart and null != param.suffixEnd">
      AND A.SUFFIX BETWEEN #{param.suffixStart} AND #{param.suffixEnd}
    </if>
    <if test="null != param.queryWord and '' != param.queryWord">
      AND (A.X_PHONE LIKE '%${param.queryWord}%' OR A.ORG_NAME LIKE '%${param.queryWord}%' OR A.ORG_NO LIKE '%${param.queryWord}%' OR A.USER_NAME LIKE '%${param.queryWord}%')
    </if>
    <if test="null != param.organizationId">
      AND B.TISSUE_LINE LIKE '%:${param.organizationId}:%'
    </if>
    <if test="null != param.poolOrganizationId">
      AND D.ORGANIZATION_ID LIKE '%:${param.poolOrganizationId}:%'
    </if>
    <if test="null != param.userId">
      AND A.USER_ID = #{param.userId}
    </if>
    ORDER BY A.SUFFIX DESC, A.TOALL_TIME DESC
  </select>
  
    <select id="getPhoneBillTotal" parameterType="com.myfun.erpWeb.managecenter.axn.param.PhoneBillListParam" resultType="com.myfun.erpWeb.managecenter.axn.vo.PhoneBillListVO">
    SELECT ISNULL(SUM(A.ALL_MONEY),0) as totalAllMoney,
    	   ISNULL(SUM(A.TOALL_TIME),0) as totalToallTime,
    	   ISNULL(SUM(A.MONTHLYRENT),0) as totalMonthlyrent,
    	   ISNULL(SUM(A.TELE_PHONE_BILL),0) as totalTelePhoneBill,
    	   ISNULL(SUM(A.OTHER_BILL),0) as totalOtherBill,
    	   ISNULL(SUM(A.RECORDING),0) as totalRecording
    FROM ALIYUN_TELEPHONE_BILL A 
    LEFT JOIN FUN_USERS B ON A.COMP_ID = B.COMP_ID AND A.USER_ID = B.USER_ID 
    INNER JOIN ALIYUN_PHONE C ON A.X_PHONE = C.BIND_X
    LEFT JOIN FUN_ORGANIZATION D ON A.ORG_ID = D.ORGANIZATION_ID
    WHERE A.COMP_ID = #{param.compId}
    <if test="null != param.suffixStart and null != param.suffixEnd">
      AND A.SUFFIX BETWEEN #{param.suffixStart} AND #{param.suffixEnd}
    </if>
    <if test="null != param.queryWord and '' != param.queryWord">
      AND (A.X_PHONE LIKE '%${param.queryWord}%' OR A.ORG_NAME LIKE '%${param.queryWord}%' OR A.ORG_NO LIKE '%${param.queryWord}%' OR A.USER_NAME LIKE '%${param.queryWord}%')
    </if>
    <if test="null != param.organizationId">
      AND B.TISSUE_LINE LIKE '%:${param.organizationId}:%'
    </if>
    <if test="null != param.poolOrganizationId">
      AND D.ORGANIZATION_ID LIKE '%:${param.poolOrganizationId}:%'
    </if>
    <if test="null != param.userId">
      AND A.USER_ID = #{param.userId}
    </if>
  </select>
  
  <select id="getPhoneBillByMonth" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from ALIYUN_TELEPHONE_BILL where COMP_ID = #{compId} and SUFFIX= #{suffix} and X_PHONE = #{xPhone}
  </select>
  
</mapper>