<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpAuditUserTransmitLogMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLog">
    <!--@mbggenerated-->
    <id column="LOG_ID" jdbcType="INTEGER" property="logId" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="AUDIT_ID" jdbcType="INTEGER" property="auditId" />
    <result column="AUDIT_SEQ" jdbcType="INTEGER" property="auditSeq" />
    <result column="SOURCE_USERID" jdbcType="INTEGER" property="sourceUserid" />
    <result column="SOURCE_DEPTID" jdbcType="INTEGER" property="sourceDeptid" />
    <result column="ACCEPT_USERID" jdbcType="INTEGER" property="acceptUserid" />
    <result column="ACCEPT_DEPTID" jdbcType="INTEGER" property="acceptDeptid" />
    <result column="TRANSMIT_CONTENT" jdbcType="VARCHAR" property="transmitContent" />
    <result column="TRANSMIT_PHOTO" jdbcType="VARCHAR" property="transmitPhoto" />
    <result column="SOURCE_USERNAME" jdbcType="VARCHAR" property="sourceUsername" />
    <result column="SOURCE_DEPTNAME" jdbcType="VARCHAR" property="sourceDeptname" />
    <result column="ACCEPT_USERNAME" jdbcType="VARCHAR" property="acceptUsername" />
    <result column="ACCEPT_DEPTNAME" jdbcType="VARCHAR" property="acceptDeptname" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    LOG_ID, COMP_ID, AUDIT_ID, AUDIT_SEQ, SOURCE_USERID, SOURCE_DEPTID, ACCEPT_USERID, 
    ACCEPT_DEPTID, TRANSMIT_CONTENT, TRANSMIT_PHOTO, SOURCE_USERNAME, SOURCE_DEPTNAME, 
    ACCEPT_USERNAME, ACCEPT_DEPTNAME, CREATION_TIME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLogExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AUDIT_USER_TRANSMIT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from AUDIT_USER_TRANSMIT_LOG
    where LOG_ID = #{logId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from AUDIT_USER_TRANSMIT_LOG
    where LOG_ID = #{logId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLogExample">
    <!--@mbggenerated-->
    delete from AUDIT_USER_TRANSMIT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="logId" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLog" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into AUDIT_USER_TRANSMIT_LOG (COMP_ID, AUDIT_ID, AUDIT_SEQ, 
      SOURCE_USERID, SOURCE_DEPTID, ACCEPT_USERID, 
      ACCEPT_DEPTID, TRANSMIT_CONTENT, TRANSMIT_PHOTO, 
      SOURCE_USERNAME, SOURCE_DEPTNAME, ACCEPT_USERNAME, 
      ACCEPT_DEPTNAME, CREATION_TIME)
    values (#{compId,jdbcType=INTEGER}, #{auditId,jdbcType=INTEGER}, #{auditSeq,jdbcType=INTEGER}, 
      #{sourceUserid,jdbcType=INTEGER}, #{sourceDeptid,jdbcType=INTEGER}, #{acceptUserid,jdbcType=INTEGER}, 
      #{acceptDeptid,jdbcType=INTEGER}, #{transmitContent,jdbcType=VARCHAR}, #{transmitPhoto,jdbcType=VARCHAR}, 
      #{sourceUsername,jdbcType=VARCHAR}, #{sourceDeptname,jdbcType=VARCHAR}, #{acceptUsername,jdbcType=VARCHAR}, 
      #{acceptDeptname,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="logId" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLog" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into AUDIT_USER_TRANSMIT_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="auditId != null">
        AUDIT_ID,
      </if>
      <if test="auditSeq != null">
        AUDIT_SEQ,
      </if>
      <if test="sourceUserid != null">
        SOURCE_USERID,
      </if>
      <if test="sourceDeptid != null">
        SOURCE_DEPTID,
      </if>
      <if test="acceptUserid != null">
        ACCEPT_USERID,
      </if>
      <if test="acceptDeptid != null">
        ACCEPT_DEPTID,
      </if>
      <if test="transmitContent != null">
        TRANSMIT_CONTENT,
      </if>
      <if test="transmitPhoto != null">
        TRANSMIT_PHOTO,
      </if>
      <if test="sourceUsername != null">
        SOURCE_USERNAME,
      </if>
      <if test="sourceDeptname != null">
        SOURCE_DEPTNAME,
      </if>
      <if test="acceptUsername != null">
        ACCEPT_USERNAME,
      </if>
      <if test="acceptDeptname != null">
        ACCEPT_DEPTNAME,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="auditId != null">
        #{auditId,jdbcType=INTEGER},
      </if>
      <if test="auditSeq != null">
        #{auditSeq,jdbcType=INTEGER},
      </if>
      <if test="sourceUserid != null">
        #{sourceUserid,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptid != null">
        #{sourceDeptid,jdbcType=INTEGER},
      </if>
      <if test="acceptUserid != null">
        #{acceptUserid,jdbcType=INTEGER},
      </if>
      <if test="acceptDeptid != null">
        #{acceptDeptid,jdbcType=INTEGER},
      </if>
      <if test="transmitContent != null">
        #{transmitContent,jdbcType=VARCHAR},
      </if>
      <if test="transmitPhoto != null">
        #{transmitPhoto,jdbcType=VARCHAR},
      </if>
      <if test="sourceUsername != null">
        #{sourceUsername,jdbcType=VARCHAR},
      </if>
      <if test="sourceDeptname != null">
        #{sourceDeptname,jdbcType=VARCHAR},
      </if>
      <if test="acceptUsername != null">
        #{acceptUsername,jdbcType=VARCHAR},
      </if>
      <if test="acceptDeptname != null">
        #{acceptDeptname,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLogExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from AUDIT_USER_TRANSMIT_LOG
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update AUDIT_USER_TRANSMIT_LOG
    <set>
      <if test="record.logId != null">
        LOG_ID = #{record.logId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.auditId != null">
        AUDIT_ID = #{record.auditId,jdbcType=INTEGER},
      </if>
      <if test="record.auditSeq != null">
        AUDIT_SEQ = #{record.auditSeq,jdbcType=INTEGER},
      </if>
      <if test="record.sourceUserid != null">
        SOURCE_USERID = #{record.sourceUserid,jdbcType=INTEGER},
      </if>
      <if test="record.sourceDeptid != null">
        SOURCE_DEPTID = #{record.sourceDeptid,jdbcType=INTEGER},
      </if>
      <if test="record.acceptUserid != null">
        ACCEPT_USERID = #{record.acceptUserid,jdbcType=INTEGER},
      </if>
      <if test="record.acceptDeptid != null">
        ACCEPT_DEPTID = #{record.acceptDeptid,jdbcType=INTEGER},
      </if>
      <if test="record.transmitContent != null">
        TRANSMIT_CONTENT = #{record.transmitContent,jdbcType=VARCHAR},
      </if>
      <if test="record.transmitPhoto != null">
        TRANSMIT_PHOTO = #{record.transmitPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceUsername != null">
        SOURCE_USERNAME = #{record.sourceUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceDeptname != null">
        SOURCE_DEPTNAME = #{record.sourceDeptname,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptUsername != null">
        ACCEPT_USERNAME = #{record.acceptUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptDeptname != null">
        ACCEPT_DEPTNAME = #{record.acceptDeptname,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update AUDIT_USER_TRANSMIT_LOG
    set LOG_ID = #{record.logId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      AUDIT_ID = #{record.auditId,jdbcType=INTEGER},
      AUDIT_SEQ = #{record.auditSeq,jdbcType=INTEGER},
      SOURCE_USERID = #{record.sourceUserid,jdbcType=INTEGER},
      SOURCE_DEPTID = #{record.sourceDeptid,jdbcType=INTEGER},
      ACCEPT_USERID = #{record.acceptUserid,jdbcType=INTEGER},
      ACCEPT_DEPTID = #{record.acceptDeptid,jdbcType=INTEGER},
      TRANSMIT_CONTENT = #{record.transmitContent,jdbcType=VARCHAR},
      TRANSMIT_PHOTO = #{record.transmitPhoto,jdbcType=VARCHAR},
      SOURCE_USERNAME = #{record.sourceUsername,jdbcType=VARCHAR},
      SOURCE_DEPTNAME = #{record.sourceDeptname,jdbcType=VARCHAR},
      ACCEPT_USERNAME = #{record.acceptUsername,jdbcType=VARCHAR},
      ACCEPT_DEPTNAME = #{record.acceptDeptname,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLog">
    <!--@mbggenerated-->
    update AUDIT_USER_TRANSMIT_LOG
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="auditId != null">
        AUDIT_ID = #{auditId,jdbcType=INTEGER},
      </if>
      <if test="auditSeq != null">
        AUDIT_SEQ = #{auditSeq,jdbcType=INTEGER},
      </if>
      <if test="sourceUserid != null">
        SOURCE_USERID = #{sourceUserid,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptid != null">
        SOURCE_DEPTID = #{sourceDeptid,jdbcType=INTEGER},
      </if>
      <if test="acceptUserid != null">
        ACCEPT_USERID = #{acceptUserid,jdbcType=INTEGER},
      </if>
      <if test="acceptDeptid != null">
        ACCEPT_DEPTID = #{acceptDeptid,jdbcType=INTEGER},
      </if>
      <if test="transmitContent != null">
        TRANSMIT_CONTENT = #{transmitContent,jdbcType=VARCHAR},
      </if>
      <if test="transmitPhoto != null">
        TRANSMIT_PHOTO = #{transmitPhoto,jdbcType=VARCHAR},
      </if>
      <if test="sourceUsername != null">
        SOURCE_USERNAME = #{sourceUsername,jdbcType=VARCHAR},
      </if>
      <if test="sourceDeptname != null">
        SOURCE_DEPTNAME = #{sourceDeptname,jdbcType=VARCHAR},
      </if>
      <if test="acceptUsername != null">
        ACCEPT_USERNAME = #{acceptUsername,jdbcType=VARCHAR},
      </if>
      <if test="acceptDeptname != null">
        ACCEPT_DEPTNAME = #{acceptDeptname,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpAuditUserTransmitLog">
    <!--@mbggenerated-->
    update AUDIT_USER_TRANSMIT_LOG
    set COMP_ID = #{compId,jdbcType=INTEGER},
      AUDIT_ID = #{auditId,jdbcType=INTEGER},
      AUDIT_SEQ = #{auditSeq,jdbcType=INTEGER},
      SOURCE_USERID = #{sourceUserid,jdbcType=INTEGER},
      SOURCE_DEPTID = #{sourceDeptid,jdbcType=INTEGER},
      ACCEPT_USERID = #{acceptUserid,jdbcType=INTEGER},
      ACCEPT_DEPTID = #{acceptDeptid,jdbcType=INTEGER},
      TRANSMIT_CONTENT = #{transmitContent,jdbcType=VARCHAR},
      TRANSMIT_PHOTO = #{transmitPhoto,jdbcType=VARCHAR},
      SOURCE_USERNAME = #{sourceUsername,jdbcType=VARCHAR},
      SOURCE_DEPTNAME = #{sourceDeptname,jdbcType=VARCHAR},
      ACCEPT_USERNAME = #{acceptUsername,jdbcType=VARCHAR},
      ACCEPT_DEPTNAME = #{acceptDeptname,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where LOG_ID = #{logId,jdbcType=INTEGER}
  </update>
</mapper>