<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpCollReqMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpCollReq">
    <!--@mbggenerated-->
    <id column="COLL_ID" jdbcType="INTEGER" property="collId" />
    <result column="TARGET_ID" jdbcType="INTEGER" property="targetId" />
    <result column="TARGET_NO" jdbcType="VARCHAR" property="targetNo" />
    <result column="TARGET_USEAGE" jdbcType="TINYINT" property="targetUseage" />
    <result column="TARGET_TYPE" jdbcType="VARCHAR" property="targetType" />
    <result column="TARGET_COMP_ID" jdbcType="INTEGER" property="targetCompId" />
    <result column="TARGET_DEPT_ID" jdbcType="INTEGER" property="targetDeptId" />
    <result column="TARGET_DEPT_NAME" jdbcType="VARCHAR" property="targetDeptName" />
    <result column="TARGET_USER_ID" jdbcType="INTEGER" property="targetUserId" />
    <result column="TARGET_USER_NAME" jdbcType="VARCHAR" property="targetUserName" />
    <result column="TARGET_USER_TELE" jdbcType="VARCHAR" property="targetUserTele" />
    <result column="TARGET_READ_FLG" jdbcType="INTEGER" property="targetReadFlg" />
    <result column="TARGET_LOOK_STATUS" jdbcType="INTEGER" property="targetLookStatus" />
    <result column="TARGET_LOOK_NUMBER" jdbcType="VARCHAR" property="targetLookNumber" />
    <result column="TARGET_LOOK_DESC" jdbcType="VARCHAR" property="targetLookDesc" />
    <result column="TARGET_LOOK_USER" jdbcType="INTEGER" property="targetLookUser" />
    <result column="TARGET_LOOK_TIME" jdbcType="TIMESTAMP" property="targetLookTime" />
    <result column="SOURCE_ID" jdbcType="INTEGER" property="sourceId" />
    <result column="SOURCE_NO" jdbcType="VARCHAR" property="sourceNo" />
    <result column="SOURCE_USEAGE" jdbcType="TINYINT" property="sourceUseage" />
    <result column="SOURCE_TYPE" jdbcType="VARCHAR" property="sourceType" />
    <result column="COMMISSION_TYPE" jdbcType="TINYINT" property="commissionType" />
    <result column="SOURCE_COMP_ID" jdbcType="INTEGER" property="sourceCompId" />
    <result column="SOURCE_DEPT_ID" jdbcType="INTEGER" property="sourceDeptId" />
    <result column="SOURCE_DEPT_NAME" jdbcType="VARCHAR" property="sourceDeptName" />
    <result column="SOURCE_USER_ID" jdbcType="INTEGER" property="sourceUserId" />
    <result column="SOURCE_USER_NAME" jdbcType="VARCHAR" property="sourceUserName" />
    <result column="SOURCE_USER_TELE" jdbcType="VARCHAR" property="sourceUserTele" />
    <result column="SOURCE_READ_FLG" jdbcType="INTEGER" property="sourceReadFlg" />
    <result column="SOURCE_LOOK_STATUS" jdbcType="INTEGER" property="sourceLookStatus" />
    <result column="SOURCE_LOOK_NUMBER" jdbcType="VARCHAR" property="sourceLookNumber" />
    <result column="SOURCE_LOOK_DESC" jdbcType="VARCHAR" property="sourceLookDesc" />
    <result column="SOURCE_LOOK_USER" jdbcType="INTEGER" property="sourceLookUser" />
    <result column="SOURCE_LOOK_TIME" jdbcType="TIMESTAMP" property="sourceLookTime" />
    <result column="COLL_TIME" jdbcType="TIMESTAMP" property="collTime" />
    <result column="COLL_REASON" jdbcType="VARCHAR" property="collReason" />
    <result column="REPLY_TIME" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="REPLY_RESULT" jdbcType="INTEGER" property="replyResult" />
    <result column="REPLY_ADVICE" jdbcType="VARCHAR" property="replyAdvice" />
    <result column="REPLY_USER_NO" jdbcType="VARCHAR" property="replyUserNo" />
    <result column="REPLY_USER_NAME" jdbcType="VARCHAR" property="replyUserName" />
    <result column="REPLY_USER_TELE" jdbcType="VARCHAR" property="replyUserTele" />
    <result column="LOOK_STATUS" jdbcType="BIT" property="lookStatus" />
    <result column="COLL_FROM" jdbcType="INTEGER" property="collFrom" />
    <result column="DEAL_INFO" jdbcType="VARCHAR" property="dealInfo" />
    <result column="DEAL_STATUS" jdbcType="TINYINT" property="dealStatus" />
    <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="IS_DEL" jdbcType="TINYINT" property="isDel" />
    <result column="COOPERATE_TYPE" jdbcType="TINYINT" property="cooperateType" />
    <result column="SHARE_ID" jdbcType="INTEGER" property="shareId" />
    <result column="SOURCE_LOOK_USER_NAME" jdbcType="VARCHAR" property="sourceLookUserName" />
    <result column="TARGET_LOOK_USER_NAME" jdbcType="VARCHAR" property="targetLookUserName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    COLL_ID, TARGET_ID, TARGET_NO, TARGET_USEAGE, TARGET_TYPE, TARGET_COMP_ID, TARGET_DEPT_ID, 
    TARGET_DEPT_NAME, TARGET_USER_ID, TARGET_USER_NAME, TARGET_USER_TELE, TARGET_READ_FLG, 
    TARGET_LOOK_STATUS, TARGET_LOOK_NUMBER, TARGET_LOOK_DESC, TARGET_LOOK_USER, TARGET_LOOK_TIME, 
    SOURCE_ID, SOURCE_NO, SOURCE_USEAGE, SOURCE_TYPE, COMMISSION_TYPE, SOURCE_COMP_ID, 
    SOURCE_DEPT_ID, SOURCE_DEPT_NAME, SOURCE_USER_ID, SOURCE_USER_NAME, SOURCE_USER_TELE, 
    SOURCE_READ_FLG, SOURCE_LOOK_STATUS, SOURCE_LOOK_NUMBER, SOURCE_LOOK_DESC, SOURCE_LOOK_USER, 
    SOURCE_LOOK_TIME, COLL_TIME, COLL_REASON, REPLY_TIME, REPLY_RESULT, REPLY_ADVICE, 
    REPLY_USER_NO, REPLY_USER_NAME, REPLY_USER_TELE, LOOK_STATUS, COLL_FROM, DEAL_INFO, 
    DEAL_STATUS, DEAL_TIME, IS_DEL, COOPERATE_TYPE, SHARE_ID, SOURCE_LOOK_USER_NAME, 
    TARGET_LOOK_USER_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from COLL_REQ
    where COLL_ID = #{collId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from COLL_REQ
    where COLL_ID = #{collId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpCollReq">
    <!--@mbggenerated-->
    <selectKey keyProperty="collId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_COLL_REQ_COLL_ID
    </selectKey>
    insert into COLL_REQ (COLL_ID, TARGET_ID, TARGET_NO, 
      TARGET_USEAGE, TARGET_TYPE, TARGET_COMP_ID, 
      TARGET_DEPT_ID, TARGET_DEPT_NAME, TARGET_USER_ID, 
      TARGET_USER_NAME, TARGET_USER_TELE, TARGET_READ_FLG, 
      TARGET_LOOK_STATUS, TARGET_LOOK_NUMBER, TARGET_LOOK_DESC, 
      TARGET_LOOK_USER, TARGET_LOOK_TIME, SOURCE_ID, 
      SOURCE_NO, SOURCE_USEAGE, SOURCE_TYPE, 
      COMMISSION_TYPE, SOURCE_COMP_ID, SOURCE_DEPT_ID, 
      SOURCE_DEPT_NAME, SOURCE_USER_ID, SOURCE_USER_NAME, 
      SOURCE_USER_TELE, SOURCE_READ_FLG, SOURCE_LOOK_STATUS, 
      SOURCE_LOOK_NUMBER, SOURCE_LOOK_DESC, SOURCE_LOOK_USER, 
      SOURCE_LOOK_TIME, COLL_TIME, COLL_REASON, 
      REPLY_TIME, REPLY_RESULT, REPLY_ADVICE, 
      REPLY_USER_NO, REPLY_USER_NAME, REPLY_USER_TELE, 
      LOOK_STATUS, COLL_FROM, DEAL_INFO, 
      DEAL_STATUS, DEAL_TIME, IS_DEL, 
      COOPERATE_TYPE, SHARE_ID, SOURCE_LOOK_USER_NAME, 
      TARGET_LOOK_USER_NAME)
    values (#{collId,jdbcType=INTEGER}, #{targetId,jdbcType=INTEGER}, #{targetNo,jdbcType=VARCHAR}, 
      #{targetUseage,jdbcType=TINYINT}, #{targetType,jdbcType=VARCHAR}, #{targetCompId,jdbcType=INTEGER}, 
      #{targetDeptId,jdbcType=INTEGER}, #{targetDeptName,jdbcType=VARCHAR}, #{targetUserId,jdbcType=INTEGER}, 
      #{targetUserName,jdbcType=VARCHAR}, #{targetUserTele,jdbcType=VARCHAR}, #{targetReadFlg,jdbcType=INTEGER}, 
      #{targetLookStatus,jdbcType=INTEGER}, #{targetLookNumber,jdbcType=VARCHAR}, #{targetLookDesc,jdbcType=VARCHAR}, 
      #{targetLookUser,jdbcType=INTEGER}, #{targetLookTime,jdbcType=TIMESTAMP}, #{sourceId,jdbcType=INTEGER}, 
      #{sourceNo,jdbcType=VARCHAR}, #{sourceUseage,jdbcType=TINYINT}, #{sourceType,jdbcType=VARCHAR}, 
      #{commissionType,jdbcType=TINYINT}, #{sourceCompId,jdbcType=INTEGER}, #{sourceDeptId,jdbcType=INTEGER}, 
      #{sourceDeptName,jdbcType=VARCHAR}, #{sourceUserId,jdbcType=INTEGER}, #{sourceUserName,jdbcType=VARCHAR}, 
      #{sourceUserTele,jdbcType=VARCHAR}, #{sourceReadFlg,jdbcType=INTEGER}, #{sourceLookStatus,jdbcType=INTEGER}, 
      #{sourceLookNumber,jdbcType=VARCHAR}, #{sourceLookDesc,jdbcType=VARCHAR}, #{sourceLookUser,jdbcType=INTEGER}, 
      #{sourceLookTime,jdbcType=TIMESTAMP}, #{collTime,jdbcType=TIMESTAMP}, #{collReason,jdbcType=VARCHAR}, 
      #{replyTime,jdbcType=TIMESTAMP}, #{replyResult,jdbcType=INTEGER}, #{replyAdvice,jdbcType=VARCHAR}, 
      #{replyUserNo,jdbcType=VARCHAR}, #{replyUserName,jdbcType=VARCHAR}, #{replyUserTele,jdbcType=VARCHAR}, 
      #{lookStatus,jdbcType=BIT}, #{collFrom,jdbcType=INTEGER}, #{dealInfo,jdbcType=VARCHAR}, 
      #{dealStatus,jdbcType=TINYINT}, #{dealTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=TINYINT}, 
      #{cooperateType,jdbcType=TINYINT}, #{shareId,jdbcType=INTEGER}, #{sourceLookUserName,jdbcType=VARCHAR}, 
      #{targetLookUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpCollReq">
    <!--@mbggenerated-->
    <selectKey keyProperty="collId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_COLL_REQ_COLL_ID
    </selectKey>
    insert into COLL_REQ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      COLL_ID,
      <if test="targetId != null">
        TARGET_ID,
      </if>
      <if test="targetNo != null">
        TARGET_NO,
      </if>
      <if test="targetUseage != null">
        TARGET_USEAGE,
      </if>
      <if test="targetType != null">
        TARGET_TYPE,
      </if>
      <if test="targetCompId != null">
        TARGET_COMP_ID,
      </if>
      <if test="targetDeptId != null">
        TARGET_DEPT_ID,
      </if>
      <if test="targetDeptName != null">
        TARGET_DEPT_NAME,
      </if>
      <if test="targetUserId != null">
        TARGET_USER_ID,
      </if>
      <if test="targetUserName != null">
        TARGET_USER_NAME,
      </if>
      <if test="targetUserTele != null">
        TARGET_USER_TELE,
      </if>
      <if test="targetReadFlg != null">
        TARGET_READ_FLG,
      </if>
      <if test="targetLookStatus != null">
        TARGET_LOOK_STATUS,
      </if>
      <if test="targetLookNumber != null">
        TARGET_LOOK_NUMBER,
      </if>
      <if test="targetLookDesc != null">
        TARGET_LOOK_DESC,
      </if>
      <if test="targetLookUser != null">
        TARGET_LOOK_USER,
      </if>
      <if test="targetLookTime != null">
        TARGET_LOOK_TIME,
      </if>
      <if test="sourceId != null">
        SOURCE_ID,
      </if>
      <if test="sourceNo != null">
        SOURCE_NO,
      </if>
      <if test="sourceUseage != null">
        SOURCE_USEAGE,
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE,
      </if>
      <if test="commissionType != null">
        COMMISSION_TYPE,
      </if>
      <if test="sourceCompId != null">
        SOURCE_COMP_ID,
      </if>
      <if test="sourceDeptId != null">
        SOURCE_DEPT_ID,
      </if>
      <if test="sourceDeptName != null">
        SOURCE_DEPT_NAME,
      </if>
      <if test="sourceUserId != null">
        SOURCE_USER_ID,
      </if>
      <if test="sourceUserName != null">
        SOURCE_USER_NAME,
      </if>
      <if test="sourceUserTele != null">
        SOURCE_USER_TELE,
      </if>
      <if test="sourceReadFlg != null">
        SOURCE_READ_FLG,
      </if>
      <if test="sourceLookStatus != null">
        SOURCE_LOOK_STATUS,
      </if>
      <if test="sourceLookNumber != null">
        SOURCE_LOOK_NUMBER,
      </if>
      <if test="sourceLookDesc != null">
        SOURCE_LOOK_DESC,
      </if>
      <if test="sourceLookUser != null">
        SOURCE_LOOK_USER,
      </if>
      <if test="sourceLookTime != null">
        SOURCE_LOOK_TIME,
      </if>
      <if test="collTime != null">
        COLL_TIME,
      </if>
      <if test="collReason != null">
        COLL_REASON,
      </if>
      <if test="replyTime != null">
        REPLY_TIME,
      </if>
      <if test="replyResult != null">
        REPLY_RESULT,
      </if>
      <if test="replyAdvice != null">
        REPLY_ADVICE,
      </if>
      <if test="replyUserNo != null">
        REPLY_USER_NO,
      </if>
      <if test="replyUserName != null">
        REPLY_USER_NAME,
      </if>
      <if test="replyUserTele != null">
        REPLY_USER_TELE,
      </if>
      <if test="lookStatus != null">
        LOOK_STATUS,
      </if>
      <if test="collFrom != null">
        COLL_FROM,
      </if>
      <if test="dealInfo != null">
        DEAL_INFO,
      </if>
      <if test="dealStatus != null">
        DEAL_STATUS,
      </if>
      <if test="dealTime != null">
        DEAL_TIME,
      </if>
      <if test="isDel != null">
        IS_DEL,
      </if>
      <if test="cooperateType != null">
        COOPERATE_TYPE,
      </if>
      <if test="shareId != null">
        SHARE_ID,
      </if>
      <if test="sourceLookUserName != null">
        SOURCE_LOOK_USER_NAME,
      </if>
      <if test="targetLookUserName != null">
        TARGET_LOOK_USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{collId,jdbcType=INTEGER},
      <if test="targetId != null">
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="targetNo != null">
        #{targetNo,jdbcType=VARCHAR},
      </if>
      <if test="targetUseage != null">
        #{targetUseage,jdbcType=TINYINT},
      </if>
      <if test="targetType != null">
        #{targetType,jdbcType=VARCHAR},
      </if>
      <if test="targetCompId != null">
        #{targetCompId,jdbcType=INTEGER},
      </if>
      <if test="targetDeptId != null">
        #{targetDeptId,jdbcType=INTEGER},
      </if>
      <if test="targetDeptName != null">
        #{targetDeptName,jdbcType=VARCHAR},
      </if>
      <if test="targetUserId != null">
        #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="targetUserName != null">
        #{targetUserName,jdbcType=VARCHAR},
      </if>
      <if test="targetUserTele != null">
        #{targetUserTele,jdbcType=VARCHAR},
      </if>
      <if test="targetReadFlg != null">
        #{targetReadFlg,jdbcType=INTEGER},
      </if>
      <if test="targetLookStatus != null">
        #{targetLookStatus,jdbcType=INTEGER},
      </if>
      <if test="targetLookNumber != null">
        #{targetLookNumber,jdbcType=VARCHAR},
      </if>
      <if test="targetLookDesc != null">
        #{targetLookDesc,jdbcType=VARCHAR},
      </if>
      <if test="targetLookUser != null">
        #{targetLookUser,jdbcType=INTEGER},
      </if>
      <if test="targetLookTime != null">
        #{targetLookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="sourceNo != null">
        #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceUseage != null">
        #{sourceUseage,jdbcType=TINYINT},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="commissionType != null">
        #{commissionType,jdbcType=TINYINT},
      </if>
      <if test="sourceCompId != null">
        #{sourceCompId,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptId != null">
        #{sourceDeptId,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptName != null">
        #{sourceDeptName,jdbcType=VARCHAR},
      </if>
      <if test="sourceUserId != null">
        #{sourceUserId,jdbcType=INTEGER},
      </if>
      <if test="sourceUserName != null">
        #{sourceUserName,jdbcType=VARCHAR},
      </if>
      <if test="sourceUserTele != null">
        #{sourceUserTele,jdbcType=VARCHAR},
      </if>
      <if test="sourceReadFlg != null">
        #{sourceReadFlg,jdbcType=INTEGER},
      </if>
      <if test="sourceLookStatus != null">
        #{sourceLookStatus,jdbcType=INTEGER},
      </if>
      <if test="sourceLookNumber != null">
        #{sourceLookNumber,jdbcType=VARCHAR},
      </if>
      <if test="sourceLookDesc != null">
        #{sourceLookDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceLookUser != null">
        #{sourceLookUser,jdbcType=INTEGER},
      </if>
      <if test="sourceLookTime != null">
        #{sourceLookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collTime != null">
        #{collTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collReason != null">
        #{collReason,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyResult != null">
        #{replyResult,jdbcType=INTEGER},
      </if>
      <if test="replyAdvice != null">
        #{replyAdvice,jdbcType=VARCHAR},
      </if>
      <if test="replyUserNo != null">
        #{replyUserNo,jdbcType=VARCHAR},
      </if>
      <if test="replyUserName != null">
        #{replyUserName,jdbcType=VARCHAR},
      </if>
      <if test="replyUserTele != null">
        #{replyUserTele,jdbcType=VARCHAR},
      </if>
      <if test="lookStatus != null">
        #{lookStatus,jdbcType=BIT},
      </if>
      <if test="collFrom != null">
        #{collFrom,jdbcType=INTEGER},
      </if>
      <if test="dealInfo != null">
        #{dealInfo,jdbcType=VARCHAR},
      </if>
      <if test="dealStatus != null">
        #{dealStatus,jdbcType=TINYINT},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="cooperateType != null">
        #{cooperateType,jdbcType=TINYINT},
      </if>
      <if test="shareId != null">
        #{shareId,jdbcType=INTEGER},
      </if>
      <if test="sourceLookUserName != null">
        #{sourceLookUserName,jdbcType=VARCHAR},
      </if>
      <if test="targetLookUserName != null">
        #{targetLookUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpCollReq">
    <!--@mbggenerated-->
    update COLL_REQ
    <set>
      <if test="targetId != null">
        TARGET_ID = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="targetNo != null">
        TARGET_NO = #{targetNo,jdbcType=VARCHAR},
      </if>
      <if test="targetUseage != null">
        TARGET_USEAGE = #{targetUseage,jdbcType=TINYINT},
      </if>
      <if test="targetType != null">
        TARGET_TYPE = #{targetType,jdbcType=VARCHAR},
      </if>
      <if test="targetCompId != null">
        TARGET_COMP_ID = #{targetCompId,jdbcType=INTEGER},
      </if>
      <if test="targetDeptId != null">
        TARGET_DEPT_ID = #{targetDeptId,jdbcType=INTEGER},
      </if>
      <if test="targetDeptName != null">
        TARGET_DEPT_NAME = #{targetDeptName,jdbcType=VARCHAR},
      </if>
      <if test="targetUserId != null">
        TARGET_USER_ID = #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="targetUserName != null">
        TARGET_USER_NAME = #{targetUserName,jdbcType=VARCHAR},
      </if>
      <if test="targetUserTele != null">
        TARGET_USER_TELE = #{targetUserTele,jdbcType=VARCHAR},
      </if>
      <if test="targetReadFlg != null">
        TARGET_READ_FLG = #{targetReadFlg,jdbcType=INTEGER},
      </if>
      <if test="targetLookStatus != null">
        TARGET_LOOK_STATUS = #{targetLookStatus,jdbcType=INTEGER},
      </if>
      <if test="targetLookNumber != null">
        TARGET_LOOK_NUMBER = #{targetLookNumber,jdbcType=VARCHAR},
      </if>
      <if test="targetLookDesc != null">
        TARGET_LOOK_DESC = #{targetLookDesc,jdbcType=VARCHAR},
      </if>
      <if test="targetLookUser != null">
        TARGET_LOOK_USER = #{targetLookUser,jdbcType=INTEGER},
      </if>
      <if test="targetLookTime != null">
        TARGET_LOOK_TIME = #{targetLookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceId != null">
        SOURCE_ID = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="sourceNo != null">
        SOURCE_NO = #{sourceNo,jdbcType=VARCHAR},
      </if>
      <if test="sourceUseage != null">
        SOURCE_USEAGE = #{sourceUseage,jdbcType=TINYINT},
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="commissionType != null">
        COMMISSION_TYPE = #{commissionType,jdbcType=TINYINT},
      </if>
      <if test="sourceCompId != null">
        SOURCE_COMP_ID = #{sourceCompId,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptId != null">
        SOURCE_DEPT_ID = #{sourceDeptId,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptName != null">
        SOURCE_DEPT_NAME = #{sourceDeptName,jdbcType=VARCHAR},
      </if>
      <if test="sourceUserId != null">
        SOURCE_USER_ID = #{sourceUserId,jdbcType=INTEGER},
      </if>
      <if test="sourceUserName != null">
        SOURCE_USER_NAME = #{sourceUserName,jdbcType=VARCHAR},
      </if>
      <if test="sourceUserTele != null">
        SOURCE_USER_TELE = #{sourceUserTele,jdbcType=VARCHAR},
      </if>
      <if test="sourceReadFlg != null">
        SOURCE_READ_FLG = #{sourceReadFlg,jdbcType=INTEGER},
      </if>
      <if test="sourceLookStatus != null">
        SOURCE_LOOK_STATUS = #{sourceLookStatus,jdbcType=INTEGER},
      </if>
      <if test="sourceLookNumber != null">
        SOURCE_LOOK_NUMBER = #{sourceLookNumber,jdbcType=VARCHAR},
      </if>
      <if test="sourceLookDesc != null">
        SOURCE_LOOK_DESC = #{sourceLookDesc,jdbcType=VARCHAR},
      </if>
      <if test="sourceLookUser != null">
        SOURCE_LOOK_USER = #{sourceLookUser,jdbcType=INTEGER},
      </if>
      <if test="sourceLookTime != null">
        SOURCE_LOOK_TIME = #{sourceLookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collTime != null">
        COLL_TIME = #{collTime,jdbcType=TIMESTAMP},
      </if>
      <if test="collReason != null">
        COLL_REASON = #{collReason,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        REPLY_TIME = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyResult != null">
        REPLY_RESULT = #{replyResult,jdbcType=INTEGER},
      </if>
      <if test="replyAdvice != null">
        REPLY_ADVICE = #{replyAdvice,jdbcType=VARCHAR},
      </if>
      <if test="replyUserNo != null">
        REPLY_USER_NO = #{replyUserNo,jdbcType=VARCHAR},
      </if>
      <if test="replyUserName != null">
        REPLY_USER_NAME = #{replyUserName,jdbcType=VARCHAR},
      </if>
      <if test="replyUserTele != null">
        REPLY_USER_TELE = #{replyUserTele,jdbcType=VARCHAR},
      </if>
      <if test="lookStatus != null">
        LOOK_STATUS = #{lookStatus,jdbcType=BIT},
      </if>
      <if test="collFrom != null">
        COLL_FROM = #{collFrom,jdbcType=INTEGER},
      </if>
      <if test="dealInfo != null">
        DEAL_INFO = #{dealInfo,jdbcType=VARCHAR},
      </if>
      <if test="dealStatus != null">
        DEAL_STATUS = #{dealStatus,jdbcType=TINYINT},
      </if>
      <if test="dealTime != null">
        DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        IS_DEL = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="cooperateType != null">
        COOPERATE_TYPE = #{cooperateType,jdbcType=TINYINT},
      </if>
      <if test="shareId != null">
        SHARE_ID = #{shareId,jdbcType=INTEGER},
      </if>
      <if test="sourceLookUserName != null">
        SOURCE_LOOK_USER_NAME = #{sourceLookUserName,jdbcType=VARCHAR},
      </if>
      <if test="targetLookUserName != null">
        TARGET_LOOK_USER_NAME = #{targetLookUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where COLL_ID = #{collId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpCollReq">
    <!--@mbggenerated-->
    update COLL_REQ
    set TARGET_ID = #{targetId,jdbcType=INTEGER},
      TARGET_NO = #{targetNo,jdbcType=VARCHAR},
      TARGET_USEAGE = #{targetUseage,jdbcType=TINYINT},
      TARGET_TYPE = #{targetType,jdbcType=VARCHAR},
      TARGET_COMP_ID = #{targetCompId,jdbcType=INTEGER},
      TARGET_DEPT_ID = #{targetDeptId,jdbcType=INTEGER},
      TARGET_DEPT_NAME = #{targetDeptName,jdbcType=VARCHAR},
      TARGET_USER_ID = #{targetUserId,jdbcType=INTEGER},
      TARGET_USER_NAME = #{targetUserName,jdbcType=VARCHAR},
      TARGET_USER_TELE = #{targetUserTele,jdbcType=VARCHAR},
      TARGET_READ_FLG = #{targetReadFlg,jdbcType=INTEGER},
      TARGET_LOOK_STATUS = #{targetLookStatus,jdbcType=INTEGER},
      TARGET_LOOK_NUMBER = #{targetLookNumber,jdbcType=VARCHAR},
      TARGET_LOOK_DESC = #{targetLookDesc,jdbcType=VARCHAR},
      TARGET_LOOK_USER = #{targetLookUser,jdbcType=INTEGER},
      TARGET_LOOK_TIME = #{targetLookTime,jdbcType=TIMESTAMP},
      SOURCE_ID = #{sourceId,jdbcType=INTEGER},
      SOURCE_NO = #{sourceNo,jdbcType=VARCHAR},
      SOURCE_USEAGE = #{sourceUseage,jdbcType=TINYINT},
      SOURCE_TYPE = #{sourceType,jdbcType=VARCHAR},
      COMMISSION_TYPE = #{commissionType,jdbcType=TINYINT},
      SOURCE_COMP_ID = #{sourceCompId,jdbcType=INTEGER},
      SOURCE_DEPT_ID = #{sourceDeptId,jdbcType=INTEGER},
      SOURCE_DEPT_NAME = #{sourceDeptName,jdbcType=VARCHAR},
      SOURCE_USER_ID = #{sourceUserId,jdbcType=INTEGER},
      SOURCE_USER_NAME = #{sourceUserName,jdbcType=VARCHAR},
      SOURCE_USER_TELE = #{sourceUserTele,jdbcType=VARCHAR},
      SOURCE_READ_FLG = #{sourceReadFlg,jdbcType=INTEGER},
      SOURCE_LOOK_STATUS = #{sourceLookStatus,jdbcType=INTEGER},
      SOURCE_LOOK_NUMBER = #{sourceLookNumber,jdbcType=VARCHAR},
      SOURCE_LOOK_DESC = #{sourceLookDesc,jdbcType=VARCHAR},
      SOURCE_LOOK_USER = #{sourceLookUser,jdbcType=INTEGER},
      SOURCE_LOOK_TIME = #{sourceLookTime,jdbcType=TIMESTAMP},
      COLL_TIME = #{collTime,jdbcType=TIMESTAMP},
      COLL_REASON = #{collReason,jdbcType=VARCHAR},
      REPLY_TIME = #{replyTime,jdbcType=TIMESTAMP},
      REPLY_RESULT = #{replyResult,jdbcType=INTEGER},
      REPLY_ADVICE = #{replyAdvice,jdbcType=VARCHAR},
      REPLY_USER_NO = #{replyUserNo,jdbcType=VARCHAR},
      REPLY_USER_NAME = #{replyUserName,jdbcType=VARCHAR},
      REPLY_USER_TELE = #{replyUserTele,jdbcType=VARCHAR},
      LOOK_STATUS = #{lookStatus,jdbcType=BIT},
      COLL_FROM = #{collFrom,jdbcType=INTEGER},
      DEAL_INFO = #{dealInfo,jdbcType=VARCHAR},
      DEAL_STATUS = #{dealStatus,jdbcType=TINYINT},
      DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      IS_DEL = #{isDel,jdbcType=TINYINT},
      COOPERATE_TYPE = #{cooperateType,jdbcType=TINYINT},
      SHARE_ID = #{shareId,jdbcType=INTEGER},
      SOURCE_LOOK_USER_NAME = #{sourceLookUserName,jdbcType=VARCHAR},
      TARGET_LOOK_USER_NAME = #{targetLookUserName,jdbcType=VARCHAR}
    where COLL_ID = #{collId,jdbcType=INTEGER}
  </update>
</mapper>