<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunAttendanceGroupBizPersonMapper">
    <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPerson">
        <!--@mbggenerated-->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="GROUP_BIZ_ID" jdbcType="INTEGER" property="groupBizId"/>
        <result column="ATT_GROUP_ID" jdbcType="INTEGER" property="attGroupId"/>
        <result column="IS_DEL" jdbcType="TINYINT" property="isDel"/>
        <result column="DEL_TIME" jdbcType="TIMESTAMP" property="delTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <!--@mbggenerated-->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--@mbggenerated-->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--@mbggenerated-->
        ID, USER_ID, CREATE_TIME, USER_NAME, GROUP_BIZ_ID, ATT_GROUP_ID, IS_DEL, DEL_TIME
    </sql>
    <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPersonExample"
            resultMap="BaseResultMap">
        <!--@mbggenerated-->
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from FUN_ATTENDANCE_GROUP_BIZ_PERSON
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbggenerated-->
        select
        <include refid="Base_Column_List"/>
        from FUN_ATTENDANCE_GROUP_BIZ_PERSON
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbggenerated-->
        delete from FUN_ATTENDANCE_GROUP_BIZ_PERSON
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPersonExample">
        <!--@mbggenerated-->
        delete from FUN_ATTENDANCE_GROUP_BIZ_PERSON
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPerson"
            useGeneratedKeys="true">
        <!--@mbggenerated-->
        insert into FUN_ATTENDANCE_GROUP_BIZ_PERSON (USER_ID, CREATE_TIME, USER_NAME,
        GROUP_BIZ_ID, ATT_GROUP_ID, IS_DEL,
        DEL_TIME)
        values (#{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR},
        #{groupBizId,jdbcType=INTEGER}, #{attGroupId,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT},
        #{delTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyProperty="id"
            parameterType="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPerson" useGeneratedKeys="true">
        <!--@mbggenerated-->
        insert into FUN_ATTENDANCE_GROUP_BIZ_PERSON
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="groupBizId != null">
                GROUP_BIZ_ID,
            </if>
            <if test="attGroupId != null">
                ATT_GROUP_ID,
            </if>
            <if test="isDel != null">
                IS_DEL,
            </if>
            <if test="delTime != null">
                DEL_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="groupBizId != null">
                #{groupBizId,jdbcType=INTEGER},
            </if>
            <if test="attGroupId != null">
                #{attGroupId,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=TINYINT},
            </if>
            <if test="delTime != null">
                #{delTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPersonExample"
            resultType="java.lang.Integer">
        <!--@mbggenerated-->
        select count(*) from FUN_ATTENDANCE_GROUP_BIZ_PERSON
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        <!--@mbggenerated-->
        update FUN_ATTENDANCE_GROUP_BIZ_PERSON
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                USER_ID = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.userName != null">
                USER_NAME = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.groupBizId != null">
                GROUP_BIZ_ID = #{record.groupBizId,jdbcType=INTEGER},
            </if>
            <if test="record.attGroupId != null">
                ATT_GROUP_ID = #{record.attGroupId,jdbcType=INTEGER},
            </if>
            <if test="record.isDel != null">
                IS_DEL = #{record.isDel,jdbcType=TINYINT},
            </if>
            <if test="record.delTime != null">
                DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        <!--@mbggenerated-->
        update FUN_ATTENDANCE_GROUP_BIZ_PERSON
        set ID = #{record.id,jdbcType=INTEGER},
        USER_ID = #{record.userId,jdbcType=INTEGER},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
        GROUP_BIZ_ID = #{record.groupBizId,jdbcType=INTEGER},
        ATT_GROUP_ID = #{record.attGroupId,jdbcType=INTEGER},
        IS_DEL = #{record.isDel,jdbcType=TINYINT},
        DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPerson">
        <!--@mbggenerated-->
        update FUN_ATTENDANCE_GROUP_BIZ_PERSON
        <set>
            <if test="userId != null">
                USER_ID = #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="groupBizId != null">
                GROUP_BIZ_ID = #{groupBizId,jdbcType=INTEGER},
            </if>
            <if test="attGroupId != null">
                ATT_GROUP_ID = #{attGroupId,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                IS_DEL = #{isDel,jdbcType=TINYINT},
            </if>
            <if test="delTime != null">
                DEL_TIME = #{delTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunAttendanceGroupBizPerson">
        <!--@mbggenerated-->
        update FUN_ATTENDANCE_GROUP_BIZ_PERSON
        set USER_ID = #{userId,jdbcType=INTEGER},
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
        USER_NAME = #{userName,jdbcType=VARCHAR},
        GROUP_BIZ_ID = #{groupBizId,jdbcType=INTEGER},
        ATT_GROUP_ID = #{attGroupId,jdbcType=INTEGER},
        IS_DEL = #{isDel,jdbcType=TINYINT},
        DEL_TIME = #{delTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <insert id="insertBatch">
        insert into FUN_ATTENDANCE_GROUP_BIZ_PERSON (USER_ID, USER_NAME,
        ATT_GROUP_ID, GROUP_BIZ_ID)
        values
        <foreach collection="userList" index="index" item="funUser" separator=",">
            (#{funUser.userId,jdbcType=INTEGER}, #{funUser.userName,jdbcType=VARCHAR},
            #{groupId,jdbcType=INTEGER}, #{groupBizId,jdbcType=INTEGER})
        </foreach>
    </insert>

    <select id="findGroupByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        from FUN_ATTENDANCE_GROUP_BIZ_PERSON
        WHERE IS_DEL=0 and USER_ID=#{userId} ORDER BY ID desc
    </select>

    <select id="getUserList" resultMap="BaseResultMap">
        SELECT a.ID, a.USER_ID, a.CREATE_TIME, a.USER_NAME, a.GROUP_BIZ_ID, a.ATT_GROUP_ID, a.IS_DEL, a.DEL_TIME
        from FUN_ATTENDANCE_GROUP_BIZ_PERSON a
        JOIN FUN_USERS b on a.USER_ID = b.USER_ID
        JOIN FUN_DEPTS c on c.DEPT_ID = b.DEPT_ID AND c.DEPT_FLAG != 0
        where a.ATT_GROUP_ID = #{groupId} and b.USER_WRITEOFF=0 and a.IS_DEL=0
    </select>

	<update id="updateByUserId">
		UPDATE FUN_ATTENDANCE_GROUP_BIZ_PERSON SET IS_DEL = 1, DEL_TIME = GETDATE() WHERE USER_ID = #{userId};
		UPDATE FUN_ATTENDANCE_SCOPE_BIZ_PERSON SET IS_DEL = 1, DEL_TIME = GETDATE() WHERE USER_ID = #{userId};
		UPDATE FUN_ATTENDANCE_GROUP_BIZ SET IS_DEL = 1, DEL_TIME = GETDATE()
		WHERE BIZ_ID = #{userId} AND CHOOSE_TYPE=3 AND COMP_ID=#{compId};
		UPDATE FUN_ATTENDANCE_SCOPE_BIZ SET IS_DEL = 1, DEL_TIME = GETDATE()
		WHERE BIZ_ID = #{userId} AND CHOOSE_TYPE=3 AND COMP_ID=#{compId};
		
	</update>
	
</mapper>

