<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFootPhotoMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFootPhoto">
    <!--@mbggenerated-->
    <id column="PHOTO_ID" jdbcType="INTEGER" property="photoId" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="PHOTO_ADDR" jdbcType="VARCHAR" property="photoAddr" />
    <result column="SMALL_PHOTO" jdbcType="VARCHAR" property="smallPhoto" />
    <result column="PHOTO_NAME" jdbcType="VARCHAR" property="photoName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="FOOT_ID" jdbcType="INTEGER" property="footId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    PHOTO_ID, ARCHIVE_ID, PHOTO_ADDR, SMALL_PHOTO, PHOTO_NAME, CREATE_TIME, FOOT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FOOT_PHOTO
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FOOT_PHOTO
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFootPhoto">
    <!--@mbggenerated-->
    <selectKey keyProperty="photoId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_FOOT_PHOTO_PHOTO_ID
    </selectKey>
    insert into FOOT_PHOTO (PHOTO_ID, ARCHIVE_ID, PHOTO_ADDR, 
      SMALL_PHOTO, PHOTO_NAME, CREATE_TIME, 
      FOOT_ID)
    values (#{photoId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, #{photoAddr,jdbcType=VARCHAR}, 
      #{smallPhoto,jdbcType=VARCHAR}, #{photoName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{footId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFootPhoto">
    <!--@mbggenerated-->
    <selectKey keyProperty="photoId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_FOOT_PHOTO_PHOTO_ID
    </selectKey>
    insert into FOOT_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      PHOTO_ID,
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR,
      </if>
      <if test="smallPhoto != null">
        SMALL_PHOTO,
      </if>
      <if test="photoName != null">
        PHOTO_NAME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="footId != null">
        FOOT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{photoId,jdbcType=INTEGER},
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null">
        #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="smallPhoto != null">
        #{smallPhoto,jdbcType=VARCHAR},
      </if>
      <if test="photoName != null">
        #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="footId != null">
        #{footId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFootPhoto">
    <!--@mbggenerated-->
    update FOOT_PHOTO
    <set>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="smallPhoto != null">
        SMALL_PHOTO = #{smallPhoto,jdbcType=VARCHAR},
      </if>
      <if test="photoName != null">
        PHOTO_NAME = #{photoName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="footId != null">
        FOOT_ID = #{footId,jdbcType=INTEGER},
      </if>
    </set>
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFootPhoto">
    <!--@mbggenerated-->
    update FOOT_PHOTO
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      SMALL_PHOTO = #{smallPhoto,jdbcType=VARCHAR},
      PHOTO_NAME = #{photoName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      FOOT_ID = #{footId,jdbcType=INTEGER}
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
</mapper>