<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunProfitOldMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunProfitOld">
    <!--@mbggenerated-->
    <result column="PROFIT_ID" jdbcType="INTEGER" property="profitId" />
    <result column="AGREEMENT_NO" jdbcType="VARCHAR" property="agreementNo" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="PROFIT_PROPORTION" jdbcType="DOUBLE" property="profitProportion" />
    <result column="PROFIT_MONEY" jdbcType="DOUBLE" property="profitMoney" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="SETTLE_FLAG" jdbcType="INTEGER" property="settleFlag" />
    <result column="SETTLE_TIME" jdbcType="TIMESTAMP" property="settleTime" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunProfitOld">
    <!--@mbggenerated-->
    insert into FUN_PROFIT_OLD (PROFIT_ID, AGREEMENT_NO, DEPT_ID, 
      USER_ID, PROFIT_PROPORTION, PROFIT_MONEY, 
      FLAG, COMP_ID, SETTLE_FLAG, 
      SETTLE_TIME)
    values (#{profitId,jdbcType=INTEGER}, #{agreementNo,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{profitProportion,jdbcType=DOUBLE}, #{profitMoney,jdbcType=DOUBLE}, 
      #{flag,jdbcType=VARCHAR}, #{compId,jdbcType=INTEGER}, #{settleFlag,jdbcType=INTEGER}, 
      #{settleTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunProfitOld">
    <!--@mbggenerated-->
    insert into FUN_PROFIT_OLD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="profitId != null">
        PROFIT_ID,
      </if>
      <if test="agreementNo != null">
        AGREEMENT_NO,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="profitProportion != null">
        PROFIT_PROPORTION,
      </if>
      <if test="profitMoney != null">
        PROFIT_MONEY,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="settleFlag != null">
        SETTLE_FLAG,
      </if>
      <if test="settleTime != null">
        SETTLE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="profitId != null">
        #{profitId,jdbcType=INTEGER},
      </if>
      <if test="agreementNo != null">
        #{agreementNo,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="profitProportion != null">
        #{profitProportion,jdbcType=DOUBLE},
      </if>
      <if test="profitMoney != null">
        #{profitMoney,jdbcType=DOUBLE},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="settleFlag != null">
        #{settleFlag,jdbcType=INTEGER},
      </if>
      <if test="settleTime != null">
        #{settleTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>