<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunContractTemplaeMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunContractTemplae">
    <!--@mbggenerated-->
    <id column="TEMPLATE_ID" jdbcType="INTEGER" property="templateId" />
    <result column="TEMPLATE_NAME" jdbcType="VARCHAR" property="templateName" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="TEMPLATE_TYPE" jdbcType="TINYINT" property="templateType" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="TEMPLATE_STATUS" jdbcType="TINYINT" property="templateStatus" />
    <result column="LINE_HEIGHT" jdbcType="NUMERIC" property="lineHeight" />
    <result column="IS_YOUJIA_TEMPLATE" jdbcType="TINYINT" property="isYoujiaTemplate" />
    <result column="IS_SYS_MODEL" jdbcType="INTEGER" property="isSysModel" />
    <result column="SYS_TEMPLATE_ID" jdbcType="INTEGER" property="sysTemplateId" />
    <result column="CONTENT_TYPE" jdbcType="TINYINT" property="contentType" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.myfun.repository.erpdb.po.ErpFunContractTemplae">
    <!--@mbggenerated-->
    <result column="TEMPLATE_CONTENT" jdbcType="CLOB" property="templateContent" />
    <result column="CONTRACT_SUB_CONTENT" jdbcType="CLOB" property="contractSubContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    TEMPLATE_ID, TEMPLATE_NAME, CREATION_TIME, TEMPLATE_TYPE, COMP_ID, TEMPLATE_STATUS, 
    LINE_HEIGHT, IS_YOUJIA_TEMPLATE, IS_SYS_MODEL, SYS_TEMPLATE_ID, CONTENT_TYPE, CITY_ID
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbggenerated-->
    TEMPLATE_CONTENT, CONTRACT_SUB_CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplaeExample" resultMap="ResultMapWithBLOBs">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from FUN_CONTRACT_TEMPLAE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplaeExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_CONTRACT_TEMPLAE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from FUN_CONTRACT_TEMPLAE
    where TEMPLATE_ID = #{templateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_CONTRACT_TEMPLAE
    where TEMPLATE_ID = #{templateId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplaeExample">
    <!--@mbggenerated-->
    delete from FUN_CONTRACT_TEMPLAE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="templateId" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplae" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_CONTRACT_TEMPLAE (TEMPLATE_NAME, CREATION_TIME, TEMPLATE_TYPE, 
      COMP_ID, TEMPLATE_STATUS, LINE_HEIGHT, 
      IS_YOUJIA_TEMPLATE, IS_SYS_MODEL, SYS_TEMPLATE_ID, 
      CONTENT_TYPE, CITY_ID, TEMPLATE_CONTENT, 
      CONTRACT_SUB_CONTENT)
    values (#{templateName,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{templateType,jdbcType=TINYINT}, 
      #{compId,jdbcType=INTEGER}, #{templateStatus,jdbcType=TINYINT}, #{lineHeight,jdbcType=NUMERIC}, 
      #{isYoujiaTemplate,jdbcType=TINYINT}, #{isSysModel,jdbcType=INTEGER}, #{sysTemplateId,jdbcType=INTEGER}, 
      #{contentType,jdbcType=TINYINT}, #{cityId,jdbcType=INTEGER}, #{templateContent,jdbcType=CLOB}, 
      #{contractSubContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" keyProperty="templateId" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplae" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_CONTRACT_TEMPLAE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateName != null">
        TEMPLATE_NAME,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="templateType != null">
        TEMPLATE_TYPE,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="templateStatus != null">
        TEMPLATE_STATUS,
      </if>
      <if test="lineHeight != null">
        LINE_HEIGHT,
      </if>
      <if test="isYoujiaTemplate != null">
        IS_YOUJIA_TEMPLATE,
      </if>
      <if test="isSysModel != null">
        IS_SYS_MODEL,
      </if>
      <if test="sysTemplateId != null">
        SYS_TEMPLATE_ID,
      </if>
      <if test="contentType != null">
        CONTENT_TYPE,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="templateContent != null">
        TEMPLATE_CONTENT,
      </if>
      <if test="contractSubContent != null">
        CONTRACT_SUB_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateName != null">
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateType != null">
        #{templateType,jdbcType=TINYINT},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="templateStatus != null">
        #{templateStatus,jdbcType=TINYINT},
      </if>
      <if test="lineHeight != null">
        #{lineHeight,jdbcType=NUMERIC},
      </if>
      <if test="isYoujiaTemplate != null">
        #{isYoujiaTemplate,jdbcType=TINYINT},
      </if>
      <if test="isSysModel != null">
        #{isSysModel,jdbcType=INTEGER},
      </if>
      <if test="sysTemplateId != null">
        #{sysTemplateId,jdbcType=INTEGER},
      </if>
      <if test="contentType != null">
        #{contentType,jdbcType=TINYINT},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="templateContent != null">
        #{templateContent,jdbcType=CLOB},
      </if>
      <if test="contractSubContent != null">
        #{contractSubContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplaeExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_CONTRACT_TEMPLAE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_CONTRACT_TEMPLAE
    <set>
      <if test="record.templateId != null">
        TEMPLATE_ID = #{record.templateId,jdbcType=INTEGER},
      </if>
      <if test="record.templateName != null">
        TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.templateType != null">
        TEMPLATE_TYPE = #{record.templateType,jdbcType=TINYINT},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.templateStatus != null">
        TEMPLATE_STATUS = #{record.templateStatus,jdbcType=TINYINT},
      </if>
      <if test="record.lineHeight != null">
        LINE_HEIGHT = #{record.lineHeight,jdbcType=NUMERIC},
      </if>
      <if test="record.isYoujiaTemplate != null">
        IS_YOUJIA_TEMPLATE = #{record.isYoujiaTemplate,jdbcType=TINYINT},
      </if>
      <if test="record.isSysModel != null">
        IS_SYS_MODEL = #{record.isSysModel,jdbcType=INTEGER},
      </if>
      <if test="record.sysTemplateId != null">
        SYS_TEMPLATE_ID = #{record.sysTemplateId,jdbcType=INTEGER},
      </if>
      <if test="record.contentType != null">
        CONTENT_TYPE = #{record.contentType,jdbcType=TINYINT},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.templateContent != null">
        TEMPLATE_CONTENT = #{record.templateContent,jdbcType=CLOB},
      </if>
      <if test="record.contractSubContent != null">
        CONTRACT_SUB_CONTENT = #{record.contractSubContent,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    <!--@mbggenerated-->
    update FUN_CONTRACT_TEMPLAE
    set TEMPLATE_ID = #{record.templateId,jdbcType=INTEGER},
      TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      TEMPLATE_TYPE = #{record.templateType,jdbcType=TINYINT},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      TEMPLATE_STATUS = #{record.templateStatus,jdbcType=TINYINT},
      LINE_HEIGHT = #{record.lineHeight,jdbcType=NUMERIC},
      IS_YOUJIA_TEMPLATE = #{record.isYoujiaTemplate,jdbcType=TINYINT},
      IS_SYS_MODEL = #{record.isSysModel,jdbcType=INTEGER},
      SYS_TEMPLATE_ID = #{record.sysTemplateId,jdbcType=INTEGER},
      CONTENT_TYPE = #{record.contentType,jdbcType=TINYINT},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      TEMPLATE_CONTENT = #{record.templateContent,jdbcType=CLOB},
      CONTRACT_SUB_CONTENT = #{record.contractSubContent,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_CONTRACT_TEMPLAE
    set TEMPLATE_ID = #{record.templateId,jdbcType=INTEGER},
      TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      TEMPLATE_TYPE = #{record.templateType,jdbcType=TINYINT},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      TEMPLATE_STATUS = #{record.templateStatus,jdbcType=TINYINT},
      LINE_HEIGHT = #{record.lineHeight,jdbcType=NUMERIC},
      IS_YOUJIA_TEMPLATE = #{record.isYoujiaTemplate,jdbcType=TINYINT},
      IS_SYS_MODEL = #{record.isSysModel,jdbcType=INTEGER},
      SYS_TEMPLATE_ID = #{record.sysTemplateId,jdbcType=INTEGER},
      CONTENT_TYPE = #{record.contentType,jdbcType=TINYINT},
      CITY_ID = #{record.cityId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplae">
    <!--@mbggenerated-->
    update FUN_CONTRACT_TEMPLAE
    <set>
      <if test="templateName != null">
        TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateType != null">
        TEMPLATE_TYPE = #{templateType,jdbcType=TINYINT},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="templateStatus != null">
        TEMPLATE_STATUS = #{templateStatus,jdbcType=TINYINT},
      </if>
      <if test="lineHeight != null">
        LINE_HEIGHT = #{lineHeight,jdbcType=NUMERIC},
      </if>
      <if test="isYoujiaTemplate != null">
        IS_YOUJIA_TEMPLATE = #{isYoujiaTemplate,jdbcType=TINYINT},
      </if>
      <if test="isSysModel != null">
        IS_SYS_MODEL = #{isSysModel,jdbcType=INTEGER},
      </if>
      <if test="sysTemplateId != null">
        SYS_TEMPLATE_ID = #{sysTemplateId,jdbcType=INTEGER},
      </if>
      <if test="contentType != null">
        CONTENT_TYPE = #{contentType,jdbcType=TINYINT},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="templateContent != null">
        TEMPLATE_CONTENT = #{templateContent,jdbcType=CLOB},
      </if>
      <if test="contractSubContent != null">
        CONTRACT_SUB_CONTENT = #{contractSubContent,jdbcType=CLOB},
      </if>
    </set>
    where TEMPLATE_ID = #{templateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplae">
    <!--@mbggenerated-->
    update FUN_CONTRACT_TEMPLAE
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      TEMPLATE_TYPE = #{templateType,jdbcType=TINYINT},
      COMP_ID = #{compId,jdbcType=INTEGER},
      TEMPLATE_STATUS = #{templateStatus,jdbcType=TINYINT},
      LINE_HEIGHT = #{lineHeight,jdbcType=NUMERIC},
      IS_YOUJIA_TEMPLATE = #{isYoujiaTemplate,jdbcType=TINYINT},
      IS_SYS_MODEL = #{isSysModel,jdbcType=INTEGER},
      SYS_TEMPLATE_ID = #{sysTemplateId,jdbcType=INTEGER},
      CONTENT_TYPE = #{contentType,jdbcType=TINYINT},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      TEMPLATE_CONTENT = #{templateContent,jdbcType=CLOB},
      CONTRACT_SUB_CONTENT = #{contractSubContent,jdbcType=CLOB}
    where TEMPLATE_ID = #{templateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunContractTemplae">
    <!--@mbggenerated-->
    update FUN_CONTRACT_TEMPLAE
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      TEMPLATE_TYPE = #{templateType,jdbcType=TINYINT},
      COMP_ID = #{compId,jdbcType=INTEGER},
      TEMPLATE_STATUS = #{templateStatus,jdbcType=TINYINT},
      LINE_HEIGHT = #{lineHeight,jdbcType=NUMERIC},
      IS_YOUJIA_TEMPLATE = #{isYoujiaTemplate,jdbcType=TINYINT},
      IS_SYS_MODEL = #{isSysModel,jdbcType=INTEGER},
      SYS_TEMPLATE_ID = #{sysTemplateId,jdbcType=INTEGER},
      CONTENT_TYPE = #{contentType,jdbcType=TINYINT},
      CITY_ID = #{cityId,jdbcType=INTEGER}
    where TEMPLATE_ID = #{templateId,jdbcType=INTEGER}
  </update>
  
  <select id="getTemplatList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> FROM FUN_CONTRACT_TEMPLAE
    <where>
      <if test="1==1">
        AND TEMPLATE_STATUS = 1 AND TEMPLATE_TYPE = #{templateType} and CITY_ID=#{shardCityId}
      </if>
      <choose>
        <when test=" &quot;1&quot; == youCityDealNeedExamine and youJiaDeptFlag">
            AND COMP_ID=0 AND IS_YOUJIA_TEMPLATE = 1
        </when>
        <otherwise>
          AND IS_YOUJIA_TEMPLATE = 0 AND COMP_ID = #{compId}
        </otherwise>
      </choose>
    </where>
    ORDER BY  COMP_ID ASC
	
  </select>
  
  <select id="countContractTemplete" resultType="int">
    select count(1) from FUN_CONTRACT_TEMPLAE
    <where>
      <if test="1==1">
        AND TEMPLATE_STATUS = 1 AND TEMPLATE_TYPE = #{templateType}
      </if>
      <choose>
        <when test=" &quot;1&quot; == youCityDealNeedExamine and youJiaDeptFlag">
            AND COMP_ID = 0 AND IS_YOUJIA_TEMPLATE = 1
        </when>
        <otherwise>
          AND IS_YOUJIA_TEMPLATE = 0 AND COMP_ID = #{compId}
        </otherwise>
      </choose>
    </where>
   
	
  </select>
</mapper>