<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunBlackListMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunBlackList">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="CREATE_UID" jdbcType="INTEGER" property="createUid" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_SEX" jdbcType="TINYINT" property="userSex" />
    <result column="PHONE1" jdbcType="VARCHAR" property="phone1" />
    <result column="PHONE_TYPE1" jdbcType="TINYINT" property="phoneType1" />
    <result column="PHONE2" jdbcType="VARCHAR" property="phone2" />
    <result column="PHONE_TYPE2" jdbcType="TINYINT" property="phoneType2" />
    <result column="BLACK_COMP" jdbcType="VARCHAR" property="blackComp" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="KEYWORD_QUERY" jdbcType="VARCHAR" property="keywordQuery" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, COMP_ID, CREATE_UID, USER_NAME, USER_SEX, PHONE1, PHONE_TYPE1, PHONE2, PHONE_TYPE2, 
    BLACK_COMP, REMARKS, CREATION_TIME, UPDATE_TIME, KEYWORD_QUERY
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunBlackListExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_BLACK_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_BLACK_LIST
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_BLACK_LIST
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunBlackListExample">
    <!--@mbggenerated-->
    delete from FUN_BLACK_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunBlackList" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_BLACK_LIST (COMP_ID, CREATE_UID, USER_NAME, 
      USER_SEX, PHONE1, PHONE_TYPE1, 
      PHONE2, PHONE_TYPE2, BLACK_COMP, 
      REMARKS, CREATION_TIME, UPDATE_TIME, 
      KEYWORD_QUERY)
    values (#{compId,jdbcType=INTEGER}, #{createUid,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=TINYINT}, #{phone1,jdbcType=VARCHAR}, #{phoneType1,jdbcType=TINYINT}, 
      #{phone2,jdbcType=VARCHAR}, #{phoneType2,jdbcType=TINYINT}, #{blackComp,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{keywordQuery,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunBlackList" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_BLACK_LIST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="createUid != null">
        CREATE_UID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userSex != null">
        USER_SEX,
      </if>
      <if test="phone1 != null">
        PHONE1,
      </if>
      <if test="phoneType1 != null">
        PHONE_TYPE1,
      </if>
      <if test="phone2 != null">
        PHONE2,
      </if>
      <if test="phoneType2 != null">
        PHONE_TYPE2,
      </if>
      <if test="blackComp != null">
        BLACK_COMP,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="keywordQuery != null">
        KEYWORD_QUERY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=TINYINT},
      </if>
      <if test="phone1 != null">
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phoneType1 != null">
        #{phoneType1,jdbcType=TINYINT},
      </if>
      <if test="phone2 != null">
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="phoneType2 != null">
        #{phoneType2,jdbcType=TINYINT},
      </if>
      <if test="blackComp != null">
        #{blackComp,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keywordQuery != null">
        #{keywordQuery,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunBlackListExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_BLACK_LIST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_BLACK_LIST
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.createUid != null">
        CREATE_UID = #{record.createUid,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userSex != null">
        USER_SEX = #{record.userSex,jdbcType=TINYINT},
      </if>
      <if test="record.phone1 != null">
        PHONE1 = #{record.phone1,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneType1 != null">
        PHONE_TYPE1 = #{record.phoneType1,jdbcType=TINYINT},
      </if>
      <if test="record.phone2 != null">
        PHONE2 = #{record.phone2,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneType2 != null">
        PHONE_TYPE2 = #{record.phoneType2,jdbcType=TINYINT},
      </if>
      <if test="record.blackComp != null">
        BLACK_COMP = #{record.blackComp,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.keywordQuery != null">
        KEYWORD_QUERY = #{record.keywordQuery,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_BLACK_LIST
    set ID = #{record.id,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CREATE_UID = #{record.createUid,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_SEX = #{record.userSex,jdbcType=TINYINT},
      PHONE1 = #{record.phone1,jdbcType=VARCHAR},
      PHONE_TYPE1 = #{record.phoneType1,jdbcType=TINYINT},
      PHONE2 = #{record.phone2,jdbcType=VARCHAR},
      PHONE_TYPE2 = #{record.phoneType2,jdbcType=TINYINT},
      BLACK_COMP = #{record.blackComp,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      KEYWORD_QUERY = #{record.keywordQuery,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunBlackList">
    <!--@mbggenerated-->
    update FUN_BLACK_LIST
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="createUid != null">
        CREATE_UID = #{createUid,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        USER_SEX = #{userSex,jdbcType=TINYINT},
      </if>
      <if test="phone1 != null">
        PHONE1 = #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phoneType1 != null">
        PHONE_TYPE1 = #{phoneType1,jdbcType=TINYINT},
      </if>
      <if test="phone2 != null">
        PHONE2 = #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="phoneType2 != null">
        PHONE_TYPE2 = #{phoneType2,jdbcType=TINYINT},
      </if>
      <if test="blackComp != null">
        BLACK_COMP = #{blackComp,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keywordQuery != null">
        KEYWORD_QUERY = #{keywordQuery,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunBlackList">
    <!--@mbggenerated-->
    update FUN_BLACK_LIST
    set COMP_ID = #{compId,jdbcType=INTEGER},
      CREATE_UID = #{createUid,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_SEX = #{userSex,jdbcType=TINYINT},
      PHONE1 = #{phone1,jdbcType=VARCHAR},
      PHONE_TYPE1 = #{phoneType1,jdbcType=TINYINT},
      PHONE2 = #{phone2,jdbcType=VARCHAR},
      PHONE_TYPE2 = #{phoneType2,jdbcType=TINYINT},
      BLACK_COMP = #{blackComp,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      KEYWORD_QUERY = #{keywordQuery,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getBlackList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FUN_BLACK_LIST
    where COMP_ID = #{param.compId}
	<if test="param.keywordQuery != null and '' !=param.keywordQuery ">
		and KEYWORD_QUERY like #{param.keywordQuery} 
	</if>
	order by UPDATE_TIME DESC
  </select>
  
  <update id="updateById">
    update FUN_BLACK_LIST
    set 
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_SEX = #{userSex,jdbcType=TINYINT},
      PHONE1 = #{phone1,jdbcType=VARCHAR},
      PHONE_TYPE1 = #{phoneType1,jdbcType=TINYINT},
      PHONE2 = #{phone2,jdbcType=VARCHAR},
      PHONE_TYPE2 = #{phoneType2,jdbcType=TINYINT},
      BLACK_COMP = #{blackComp,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      KEYWORD_QUERY = #{keywordQuery,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>