<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFafaDataInfoMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFafaDataInfo">
    <!--@mbggenerated-->
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="HOUSE_ID" jdbcType="VARCHAR" property="houseId" />
    <result column="SALE_LEASE" jdbcType="TINYINT" property="saleLease" />
    <result column="HOUSE_NO" jdbcType="VARCHAR" property="houseNo" />
    <result column="HOUSE_REGION" jdbcType="VARCHAR" property="houseRegion" />
    <result column="HOUSE_SECTION" jdbcType="VARCHAR" property="houseSection" />
    <result column="HOUSE_ROUND" jdbcType="VARCHAR" property="houseRound" />
    <result column="BUILD_NAME" jdbcType="VARCHAR" property="buildName" />
    <result column="HOUSE_ROOM" jdbcType="VARCHAR" property="houseRoom" />
    <result column="HOUSE_HALL" jdbcType="VARCHAR" property="houseHall" />
    <result column="HOUSE_WEI" jdbcType="VARCHAR" property="houseWei" />
    <result column="HOUSE_CHU" jdbcType="VARCHAR" property="houseChu" />
    <result column="HOUSE_YANG" jdbcType="VARCHAR" property="houseYang" />
    <result column="HOUSE_TYPE" jdbcType="VARCHAR" property="houseType" />
    <result column="HOUSE_FLOOR" jdbcType="VARCHAR" property="houseFloor" />
    <result column="HOUSE_FLOORS" jdbcType="VARCHAR" property="houseFloors" />
    <result column="HOUSE_FITMENT" jdbcType="VARCHAR" property="houseFitment" />
    <result column="HOUSE_DIRECT" jdbcType="VARCHAR" property="houseDirect" />
    <result column="HOUSE_YEAR" jdbcType="VARCHAR" property="houseYear" />
    <result column="HOUSE_STRUCT" jdbcType="VARCHAR" property="houseStruct" />
    <result column="HOUSE_USEAGE" jdbcType="VARCHAR" property="houseUseage" />
    <result column="HOUSE_RIGHT" jdbcType="VARCHAR" property="houseRight" />
    <result column="HOUSE_AREA" jdbcType="VARCHAR" property="houseArea" />
    <result column="HOUSE_TOTAL_PRICE" jdbcType="VARCHAR" property="houseTotalPrice" />
    <result column="HOUSE_UNIT_PRICE" jdbcType="VARCHAR" property="houseUnitPrice" />
    <result column="time_see" jdbcType="TIMESTAMP" property="timeSee" />
    <result column="HOUSE_MAP" jdbcType="VARCHAR" property="houseMap" />
    <result column="PRICE_UNIT" jdbcType="VARCHAR" property="priceUnit" />
    <result column="HOUSE_DEPOSIT" jdbcType="VARCHAR" property="houseDeposit" />
    <result column="HOUSE_LIMITE" jdbcType="VARCHAR" property="houseLimite" />
    <result column="HOUSE_ACCOUNT" jdbcType="VARCHAR" property="houseAccount" />
    <result column="HOUSE_SET" jdbcType="VARCHAR" property="houseSet" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="BUILD_ID" jdbcType="VARCHAR" property="buildId" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="is_seperator" jdbcType="BIT" property="isSeperator" />
    <result column="owner_type" jdbcType="TINYINT" property="ownerType" />
    <result column="office_level" jdbcType="VARCHAR" property="officeLevel" />
    <result column="shop_usage" jdbcType="VARCHAR" property="shopUsage" />
    <result column="hall_structure" jdbcType="VARCHAR" property="hallStructure" />
    <result column="ug_area" jdbcType="DOUBLE" property="ugArea" />
    <result column="ug_type" jdbcType="VARCHAR" property="ugType" />
    <result column="garden_area" jdbcType="DOUBLE" property="gardenArea" />
    <result column="garage_amount" jdbcType="TINYINT" property="garageAmount" />
    <result column="CENTER_COMP_ID" jdbcType="INTEGER" property="centerCompId" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFafaDataInfo">
    <!--@mbggenerated-->
    insert into FAFA_DATA_INFO (ARCHIVE_ID, HOUSE_ID, SALE_LEASE, 
      HOUSE_NO, HOUSE_REGION, HOUSE_SECTION, 
      HOUSE_ROUND, BUILD_NAME, HOUSE_ROOM, 
      HOUSE_HALL, HOUSE_WEI, HOUSE_CHU, 
      HOUSE_YANG, HOUSE_TYPE, HOUSE_FLOOR, 
      HOUSE_FLOORS, HOUSE_FITMENT, HOUSE_DIRECT, 
      HOUSE_YEAR, HOUSE_STRUCT, HOUSE_USEAGE, 
      HOUSE_RIGHT, HOUSE_AREA, HOUSE_TOTAL_PRICE, 
      HOUSE_UNIT_PRICE, time_see, HOUSE_MAP, 
      PRICE_UNIT, HOUSE_DEPOSIT, HOUSE_LIMITE, 
      HOUSE_ACCOUNT, HOUSE_SET, UPDATE_TIME, 
      BUILD_ID, property, is_seperator, 
      owner_type, office_level, shop_usage, 
      hall_structure, ug_area, ug_type, 
      garden_area, garage_amount, CENTER_COMP_ID
      )
    values (#{archiveId,jdbcType=INTEGER}, #{houseId,jdbcType=VARCHAR}, #{saleLease,jdbcType=TINYINT}, 
      #{houseNo,jdbcType=VARCHAR}, #{houseRegion,jdbcType=VARCHAR}, #{houseSection,jdbcType=VARCHAR}, 
      #{houseRound,jdbcType=VARCHAR}, #{buildName,jdbcType=VARCHAR}, #{houseRoom,jdbcType=VARCHAR}, 
      #{houseHall,jdbcType=VARCHAR}, #{houseWei,jdbcType=VARCHAR}, #{houseChu,jdbcType=VARCHAR}, 
      #{houseYang,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, #{houseFloor,jdbcType=VARCHAR}, 
      #{houseFloors,jdbcType=VARCHAR}, #{houseFitment,jdbcType=VARCHAR}, #{houseDirect,jdbcType=VARCHAR}, 
      #{houseYear,jdbcType=VARCHAR}, #{houseStruct,jdbcType=VARCHAR}, #{houseUseage,jdbcType=VARCHAR}, 
      #{houseRight,jdbcType=VARCHAR}, #{houseArea,jdbcType=VARCHAR}, #{houseTotalPrice,jdbcType=VARCHAR}, 
      #{houseUnitPrice,jdbcType=VARCHAR}, #{timeSee,jdbcType=TIMESTAMP}, #{houseMap,jdbcType=VARCHAR}, 
      #{priceUnit,jdbcType=VARCHAR}, #{houseDeposit,jdbcType=VARCHAR}, #{houseLimite,jdbcType=VARCHAR}, 
      #{houseAccount,jdbcType=VARCHAR}, #{houseSet,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{buildId,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, #{isSeperator,jdbcType=BIT}, 
      #{ownerType,jdbcType=TINYINT}, #{officeLevel,jdbcType=VARCHAR}, #{shopUsage,jdbcType=VARCHAR}, 
      #{hallStructure,jdbcType=VARCHAR}, #{ugArea,jdbcType=DOUBLE}, #{ugType,jdbcType=VARCHAR}, 
      #{gardenArea,jdbcType=DOUBLE}, #{garageAmount,jdbcType=TINYINT}, #{centerCompId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFafaDataInfo">
    <!--@mbggenerated-->
    insert into FAFA_DATA_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="houseId != null">
        HOUSE_ID,
      </if>
      <if test="saleLease != null">
        SALE_LEASE,
      </if>
      <if test="houseNo != null">
        HOUSE_NO,
      </if>
      <if test="houseRegion != null">
        HOUSE_REGION,
      </if>
      <if test="houseSection != null">
        HOUSE_SECTION,
      </if>
      <if test="houseRound != null">
        HOUSE_ROUND,
      </if>
      <if test="buildName != null">
        BUILD_NAME,
      </if>
      <if test="houseRoom != null">
        HOUSE_ROOM,
      </if>
      <if test="houseHall != null">
        HOUSE_HALL,
      </if>
      <if test="houseWei != null">
        HOUSE_WEI,
      </if>
      <if test="houseChu != null">
        HOUSE_CHU,
      </if>
      <if test="houseYang != null">
        HOUSE_YANG,
      </if>
      <if test="houseType != null">
        HOUSE_TYPE,
      </if>
      <if test="houseFloor != null">
        HOUSE_FLOOR,
      </if>
      <if test="houseFloors != null">
        HOUSE_FLOORS,
      </if>
      <if test="houseFitment != null">
        HOUSE_FITMENT,
      </if>
      <if test="houseDirect != null">
        HOUSE_DIRECT,
      </if>
      <if test="houseYear != null">
        HOUSE_YEAR,
      </if>
      <if test="houseStruct != null">
        HOUSE_STRUCT,
      </if>
      <if test="houseUseage != null">
        HOUSE_USEAGE,
      </if>
      <if test="houseRight != null">
        HOUSE_RIGHT,
      </if>
      <if test="houseArea != null">
        HOUSE_AREA,
      </if>
      <if test="houseTotalPrice != null">
        HOUSE_TOTAL_PRICE,
      </if>
      <if test="houseUnitPrice != null">
        HOUSE_UNIT_PRICE,
      </if>
      <if test="timeSee != null">
        time_see,
      </if>
      <if test="houseMap != null">
        HOUSE_MAP,
      </if>
      <if test="priceUnit != null">
        PRICE_UNIT,
      </if>
      <if test="houseDeposit != null">
        HOUSE_DEPOSIT,
      </if>
      <if test="houseLimite != null">
        HOUSE_LIMITE,
      </if>
      <if test="houseAccount != null">
        HOUSE_ACCOUNT,
      </if>
      <if test="houseSet != null">
        HOUSE_SET,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="buildId != null">
        BUILD_ID,
      </if>
      <if test="property != null">
        property,
      </if>
      <if test="isSeperator != null">
        is_seperator,
      </if>
      <if test="ownerType != null">
        owner_type,
      </if>
      <if test="officeLevel != null">
        office_level,
      </if>
      <if test="shopUsage != null">
        shop_usage,
      </if>
      <if test="hallStructure != null">
        hall_structure,
      </if>
      <if test="ugArea != null">
        ug_area,
      </if>
      <if test="ugType != null">
        ug_type,
      </if>
      <if test="gardenArea != null">
        garden_area,
      </if>
      <if test="garageAmount != null">
        garage_amount,
      </if>
      <if test="centerCompId != null">
        CENTER_COMP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="saleLease != null">
        #{saleLease,jdbcType=TINYINT},
      </if>
      <if test="houseNo != null">
        #{houseNo,jdbcType=VARCHAR},
      </if>
      <if test="houseRegion != null">
        #{houseRegion,jdbcType=VARCHAR},
      </if>
      <if test="houseSection != null">
        #{houseSection,jdbcType=VARCHAR},
      </if>
      <if test="houseRound != null">
        #{houseRound,jdbcType=VARCHAR},
      </if>
      <if test="buildName != null">
        #{buildName,jdbcType=VARCHAR},
      </if>
      <if test="houseRoom != null">
        #{houseRoom,jdbcType=VARCHAR},
      </if>
      <if test="houseHall != null">
        #{houseHall,jdbcType=VARCHAR},
      </if>
      <if test="houseWei != null">
        #{houseWei,jdbcType=VARCHAR},
      </if>
      <if test="houseChu != null">
        #{houseChu,jdbcType=VARCHAR},
      </if>
      <if test="houseYang != null">
        #{houseYang,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="houseFloor != null">
        #{houseFloor,jdbcType=VARCHAR},
      </if>
      <if test="houseFloors != null">
        #{houseFloors,jdbcType=VARCHAR},
      </if>
      <if test="houseFitment != null">
        #{houseFitment,jdbcType=VARCHAR},
      </if>
      <if test="houseDirect != null">
        #{houseDirect,jdbcType=VARCHAR},
      </if>
      <if test="houseYear != null">
        #{houseYear,jdbcType=VARCHAR},
      </if>
      <if test="houseStruct != null">
        #{houseStruct,jdbcType=VARCHAR},
      </if>
      <if test="houseUseage != null">
        #{houseUseage,jdbcType=VARCHAR},
      </if>
      <if test="houseRight != null">
        #{houseRight,jdbcType=VARCHAR},
      </if>
      <if test="houseArea != null">
        #{houseArea,jdbcType=VARCHAR},
      </if>
      <if test="houseTotalPrice != null">
        #{houseTotalPrice,jdbcType=VARCHAR},
      </if>
      <if test="houseUnitPrice != null">
        #{houseUnitPrice,jdbcType=VARCHAR},
      </if>
      <if test="timeSee != null">
        #{timeSee,jdbcType=TIMESTAMP},
      </if>
      <if test="houseMap != null">
        #{houseMap,jdbcType=VARCHAR},
      </if>
      <if test="priceUnit != null">
        #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="houseDeposit != null">
        #{houseDeposit,jdbcType=VARCHAR},
      </if>
      <if test="houseLimite != null">
        #{houseLimite,jdbcType=VARCHAR},
      </if>
      <if test="houseAccount != null">
        #{houseAccount,jdbcType=VARCHAR},
      </if>
      <if test="houseSet != null">
        #{houseSet,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buildId != null">
        #{buildId,jdbcType=VARCHAR},
      </if>
      <if test="property != null">
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="isSeperator != null">
        #{isSeperator,jdbcType=BIT},
      </if>
      <if test="ownerType != null">
        #{ownerType,jdbcType=TINYINT},
      </if>
      <if test="officeLevel != null">
        #{officeLevel,jdbcType=VARCHAR},
      </if>
      <if test="shopUsage != null">
        #{shopUsage,jdbcType=VARCHAR},
      </if>
      <if test="hallStructure != null">
        #{hallStructure,jdbcType=VARCHAR},
      </if>
      <if test="ugArea != null">
        #{ugArea,jdbcType=DOUBLE},
      </if>
      <if test="ugType != null">
        #{ugType,jdbcType=VARCHAR},
      </if>
      <if test="gardenArea != null">
        #{gardenArea,jdbcType=DOUBLE},
      </if>
      <if test="garageAmount != null">
        #{garageAmount,jdbcType=TINYINT},
      </if>
      <if test="centerCompId != null">
        #{centerCompId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>