<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunWebCtrlMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunWebCtrl">
    <!--@mbggenerated-->
    <id column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <id column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <id column="CASE_TYPE" jdbcType="TINYINT" property="caseType" />
    <result column="USEAGE" jdbcType="TINYINT" property="useage" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="MINISHOP_IMPT" jdbcType="TINYINT" property="minishopImpt" />
    <result column="MINISHOP_SEQ" jdbcType="INTEGER" property="minishopSeq" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    CITY_ID, CASE_ID, CASE_TYPE, USEAGE, COMP_ID, DEPT_ID, ARCHIVE_ID, MINISHOP_IMPT, 
    MINISHOP_SEQ, CREATION_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunWebCtrlKey" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_WEB_CTRL
    where CITY_ID = #{cityId,jdbcType=INTEGER}
      and CASE_ID = #{caseId,jdbcType=INTEGER}
      and CASE_TYPE = #{caseType,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunWebCtrlKey">
    <!--@mbggenerated-->
    delete from FUN_WEB_CTRL
    where CITY_ID = #{cityId,jdbcType=INTEGER}
      and CASE_ID = #{caseId,jdbcType=INTEGER}
      and CASE_TYPE = #{caseType,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunWebCtrl">
    <!--@mbggenerated-->
    insert into FUN_WEB_CTRL (CITY_ID, CASE_ID, CASE_TYPE, 
      USEAGE, COMP_ID, DEPT_ID, 
      ARCHIVE_ID, MINISHOP_IMPT, MINISHOP_SEQ, 
      CREATION_TIME)
    values (#{cityId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{useage,jdbcType=TINYINT}, #{compId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{archiveId,jdbcType=INTEGER}, #{minishopImpt,jdbcType=TINYINT}, #{minishopSeq,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunWebCtrl">
    <!--@mbggenerated-->
    insert into FUN_WEB_CTRL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="useage != null">
        USEAGE,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="minishopImpt != null">
        MINISHOP_IMPT,
      </if>
      <if test="minishopSeq != null">
        MINISHOP_SEQ,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="useage != null">
        #{useage,jdbcType=TINYINT},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="minishopImpt != null">
        #{minishopImpt,jdbcType=TINYINT},
      </if>
      <if test="minishopSeq != null">
        #{minishopSeq,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunWebCtrl">
    <!--@mbggenerated-->
    update FUN_WEB_CTRL
    <set>
      <if test="useage != null">
        USEAGE = #{useage,jdbcType=TINYINT},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="minishopImpt != null">
        MINISHOP_IMPT = #{minishopImpt,jdbcType=TINYINT},
      </if>
      <if test="minishopSeq != null">
        MINISHOP_SEQ = #{minishopSeq,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=INTEGER}
      and CASE_ID = #{caseId,jdbcType=INTEGER}
      and CASE_TYPE = #{caseType,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunWebCtrl">
    <!--@mbggenerated-->
    update FUN_WEB_CTRL
    set USEAGE = #{useage,jdbcType=TINYINT},
      COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      MINISHOP_IMPT = #{minishopImpt,jdbcType=TINYINT},
      MINISHOP_SEQ = #{minishopSeq,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where CITY_ID = #{cityId,jdbcType=INTEGER}
      and CASE_ID = #{caseId,jdbcType=INTEGER}
      and CASE_TYPE = #{caseType,jdbcType=TINYINT}
  </update>
</mapper>