<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunCompMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunComp">
    <!--@mbggenerated-->
    <id column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="COMP_NO" jdbcType="VARCHAR" property="compNo" />
    <result column="CITY_ID" jdbcType="SMALLINT" property="cityId" />
    <result column="COMP_NAME" jdbcType="VARCHAR" property="compName" />
    <result column="COMP_CNAME" jdbcType="VARCHAR" property="compCname" />
    <result column="COMP_ADDR" jdbcType="VARCHAR" property="compAddr" />
    <result column="COMP_TELE" jdbcType="VARCHAR" property="compTele" />
    <result column="COMP_CONTACT" jdbcType="VARCHAR" property="compContact" />
    <result column="COMP_DESC" jdbcType="VARCHAR" property="compDesc" />
    <result column="COMMERCIAL_NO" jdbcType="VARCHAR" property="commercialNo" />
    <result column="APTITUDE_NO" jdbcType="VARCHAR" property="aptitudeNo" />
    <result column="INSTALL_PWD" jdbcType="VARCHAR" property="installPwd" />
    <result column="PLAINT_PWD" jdbcType="VARCHAR" property="plaintPwd" />
    <result column="CUSTOM_LOG" jdbcType="VARCHAR" property="customLog" />
    <result column="REGIST_FLAG" jdbcType="BIT" property="registFlag" />
    <result column="COMP_TYPE" jdbcType="TINYINT" property="compType" />
    <result column="PLOT_SWITCH" jdbcType="BIT" property="plotSwitch" />
    <result column="WATERIMG" jdbcType="VARCHAR" property="waterimg" />
    <result column="WATER_CONFIG" jdbcType="VARCHAR" property="waterConfig" />
    <result column="STORE_NO" jdbcType="VARCHAR" property="storeNo" />
    <result column="UPDATE_UID" jdbcType="INTEGER" property="updateUid" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="BRAND_ID" jdbcType="INTEGER" property="brandId" />
    <result column="AREA_FLAG" jdbcType="TINYINT" property="areaFlag" />
    <result column="GENERAL_ARCHIVE" jdbcType="INTEGER" property="generalArchive" />
    <result column="LOGO_PATH" jdbcType="VARCHAR" property="logoPath" />
    <result column="HOUSE_ADD_NO" jdbcType="INTEGER" property="houseAddNo" />
    <result column="HEAD_NAME" jdbcType="VARCHAR" property="headName" />
    <result column="BUSINESS_NAME" jdbcType="VARCHAR" property="businessName" />
    <result column="STATISTICS_FLAG" jdbcType="TINYINT" property="statisticsFlag" />
    <result column="OPEN_PARTNER" jdbcType="TINYINT" property="openPartner" />
    <result column="BUSINESS_APART" jdbcType="TINYINT" property="businessApart" />
    <result column="MAIN_COMP" jdbcType="TINYINT" property="mainComp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    COMP_ID, COMP_NO, CITY_ID, COMP_NAME, COMP_CNAME, COMP_ADDR, COMP_TELE, COMP_CONTACT, 
    COMP_DESC, COMMERCIAL_NO, APTITUDE_NO, INSTALL_PWD, PLAINT_PWD, CUSTOM_LOG, REGIST_FLAG, 
    COMP_TYPE, PLOT_SWITCH, WATERIMG, WATER_CONFIG, STORE_NO, UPDATE_UID, UPDATE_TIME, 
    BRAND_ID, AREA_FLAG, GENERAL_ARCHIVE, LOGO_PATH, HOUSE_ADD_NO, HEAD_NAME, BUSINESS_NAME, 
    STATISTICS_FLAG, OPEN_PARTNER, BUSINESS_APART, MAIN_COMP
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunCompExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_COMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_COMP
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_COMP
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunCompExample">
    <!--@mbggenerated-->
    delete from FUN_COMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunComp">
    <!--@mbggenerated-->
    <selectKey keyProperty="compId" order="BEFORE" resultType="java.lang.Integer">
      SELECT MAX(ISNULL(COMP_ID,0))+1 FROM FUN_COMP
    </selectKey>
    insert into FUN_COMP (COMP_ID, COMP_NO, CITY_ID, 
      COMP_NAME, COMP_CNAME, COMP_ADDR, 
      COMP_TELE, COMP_CONTACT, COMP_DESC, 
      COMMERCIAL_NO, APTITUDE_NO, INSTALL_PWD, 
      PLAINT_PWD, CUSTOM_LOG, REGIST_FLAG, 
      COMP_TYPE, PLOT_SWITCH, WATERIMG, 
      WATER_CONFIG, STORE_NO, UPDATE_UID, 
      UPDATE_TIME, BRAND_ID, AREA_FLAG, 
      GENERAL_ARCHIVE, LOGO_PATH, HOUSE_ADD_NO, 
      HEAD_NAME, BUSINESS_NAME, STATISTICS_FLAG, 
      OPEN_PARTNER, BUSINESS_APART, MAIN_COMP
      )
    values (#{compId,jdbcType=INTEGER}, #{compNo,jdbcType=VARCHAR}, #{cityId,jdbcType=SMALLINT}, 
      #{compName,jdbcType=VARCHAR}, #{compCname,jdbcType=VARCHAR}, #{compAddr,jdbcType=VARCHAR}, 
      #{compTele,jdbcType=VARCHAR}, #{compContact,jdbcType=VARCHAR}, #{compDesc,jdbcType=VARCHAR}, 
      #{commercialNo,jdbcType=VARCHAR}, #{aptitudeNo,jdbcType=VARCHAR}, #{installPwd,jdbcType=VARCHAR}, 
      #{plaintPwd,jdbcType=VARCHAR}, #{customLog,jdbcType=VARCHAR}, #{registFlag,jdbcType=BIT}, 
      #{compType,jdbcType=TINYINT}, #{plotSwitch,jdbcType=BIT}, #{waterimg,jdbcType=VARCHAR}, 
      #{waterConfig,jdbcType=VARCHAR}, #{storeNo,jdbcType=VARCHAR}, #{updateUid,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, #{areaFlag,jdbcType=TINYINT}, 
      #{generalArchive,jdbcType=INTEGER}, #{logoPath,jdbcType=VARCHAR}, #{houseAddNo,jdbcType=INTEGER}, 
      #{headName,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, #{statisticsFlag,jdbcType=TINYINT}, 
      #{openPartner,jdbcType=TINYINT}, #{businessApart,jdbcType=TINYINT}, #{mainComp,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunComp">
    <!--@mbggenerated-->
    <selectKey keyProperty="compId" order="BEFORE" resultType="java.lang.Integer">
      SELECT MAX(ISNULL(COMP_ID,0))+1 FROM FUN_COMP
    </selectKey>
    insert into FUN_COMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      COMP_ID,
      <if test="compNo != null">
        COMP_NO,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="compName != null">
        COMP_NAME,
      </if>
      <if test="compCname != null">
        COMP_CNAME,
      </if>
      <if test="compAddr != null">
        COMP_ADDR,
      </if>
      <if test="compTele != null">
        COMP_TELE,
      </if>
      <if test="compContact != null">
        COMP_CONTACT,
      </if>
      <if test="compDesc != null">
        COMP_DESC,
      </if>
      <if test="commercialNo != null">
        COMMERCIAL_NO,
      </if>
      <if test="aptitudeNo != null">
        APTITUDE_NO,
      </if>
      <if test="installPwd != null">
        INSTALL_PWD,
      </if>
      <if test="plaintPwd != null">
        PLAINT_PWD,
      </if>
      <if test="customLog != null">
        CUSTOM_LOG,
      </if>
      <if test="registFlag != null">
        REGIST_FLAG,
      </if>
      <if test="compType != null">
        COMP_TYPE,
      </if>
      <if test="plotSwitch != null">
        PLOT_SWITCH,
      </if>
      <if test="waterimg != null">
        WATERIMG,
      </if>
      <if test="waterConfig != null">
        WATER_CONFIG,
      </if>
      <if test="storeNo != null">
        STORE_NO,
      </if>
      <if test="updateUid != null">
        UPDATE_UID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="brandId != null">
        BRAND_ID,
      </if>
      <if test="areaFlag != null">
        AREA_FLAG,
      </if>
      <if test="generalArchive != null">
        GENERAL_ARCHIVE,
      </if>
      <if test="logoPath != null">
        LOGO_PATH,
      </if>
      <if test="houseAddNo != null">
        HOUSE_ADD_NO,
      </if>
      <if test="headName != null">
        HEAD_NAME,
      </if>
      <if test="businessName != null">
        BUSINESS_NAME,
      </if>
      <if test="statisticsFlag != null">
        STATISTICS_FLAG,
      </if>
      <if test="openPartner != null">
        OPEN_PARTNER,
      </if>
      <if test="businessApart != null">
        BUSINESS_APART,
      </if>
      <if test="mainComp != null">
        MAIN_COMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{compId,jdbcType=INTEGER},
      <if test="compNo != null">
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="compName != null">
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compCname != null">
        #{compCname,jdbcType=VARCHAR},
      </if>
      <if test="compAddr != null">
        #{compAddr,jdbcType=VARCHAR},
      </if>
      <if test="compTele != null">
        #{compTele,jdbcType=VARCHAR},
      </if>
      <if test="compContact != null">
        #{compContact,jdbcType=VARCHAR},
      </if>
      <if test="compDesc != null">
        #{compDesc,jdbcType=VARCHAR},
      </if>
      <if test="commercialNo != null">
        #{commercialNo,jdbcType=VARCHAR},
      </if>
      <if test="aptitudeNo != null">
        #{aptitudeNo,jdbcType=VARCHAR},
      </if>
      <if test="installPwd != null">
        #{installPwd,jdbcType=VARCHAR},
      </if>
      <if test="plaintPwd != null">
        #{plaintPwd,jdbcType=VARCHAR},
      </if>
      <if test="customLog != null">
        #{customLog,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        #{registFlag,jdbcType=BIT},
      </if>
      <if test="compType != null">
        #{compType,jdbcType=TINYINT},
      </if>
      <if test="plotSwitch != null">
        #{plotSwitch,jdbcType=BIT},
      </if>
      <if test="waterimg != null">
        #{waterimg,jdbcType=VARCHAR},
      </if>
      <if test="waterConfig != null">
        #{waterConfig,jdbcType=VARCHAR},
      </if>
      <if test="storeNo != null">
        #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="areaFlag != null">
        #{areaFlag,jdbcType=TINYINT},
      </if>
      <if test="generalArchive != null">
        #{generalArchive,jdbcType=INTEGER},
      </if>
      <if test="logoPath != null">
        #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="houseAddNo != null">
        #{houseAddNo,jdbcType=INTEGER},
      </if>
      <if test="headName != null">
        #{headName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null">
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="statisticsFlag != null">
        #{statisticsFlag,jdbcType=TINYINT},
      </if>
      <if test="openPartner != null">
        #{openPartner,jdbcType=TINYINT},
      </if>
      <if test="businessApart != null">
        #{businessApart,jdbcType=TINYINT},
      </if>
      <if test="mainComp != null">
        #{mainComp,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunCompExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_COMP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_COMP
    <set>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.compNo != null">
        COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=SMALLINT},
      </if>
      <if test="record.compName != null">
        COMP_NAME = #{record.compName,jdbcType=VARCHAR},
      </if>
      <if test="record.compCname != null">
        COMP_CNAME = #{record.compCname,jdbcType=VARCHAR},
      </if>
      <if test="record.compAddr != null">
        COMP_ADDR = #{record.compAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.compTele != null">
        COMP_TELE = #{record.compTele,jdbcType=VARCHAR},
      </if>
      <if test="record.compContact != null">
        COMP_CONTACT = #{record.compContact,jdbcType=VARCHAR},
      </if>
      <if test="record.compDesc != null">
        COMP_DESC = #{record.compDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.commercialNo != null">
        COMMERCIAL_NO = #{record.commercialNo,jdbcType=VARCHAR},
      </if>
      <if test="record.aptitudeNo != null">
        APTITUDE_NO = #{record.aptitudeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.installPwd != null">
        INSTALL_PWD = #{record.installPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.plaintPwd != null">
        PLAINT_PWD = #{record.plaintPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.customLog != null">
        CUSTOM_LOG = #{record.customLog,jdbcType=VARCHAR},
      </if>
      <if test="record.registFlag != null">
        REGIST_FLAG = #{record.registFlag,jdbcType=BIT},
      </if>
      <if test="record.compType != null">
        COMP_TYPE = #{record.compType,jdbcType=TINYINT},
      </if>
      <if test="record.plotSwitch != null">
        PLOT_SWITCH = #{record.plotSwitch,jdbcType=BIT},
      </if>
      <if test="record.waterimg != null">
        WATERIMG = #{record.waterimg,jdbcType=VARCHAR},
      </if>
      <if test="record.waterConfig != null">
        WATER_CONFIG = #{record.waterConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.storeNo != null">
        STORE_NO = #{record.storeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUid != null">
        UPDATE_UID = #{record.updateUid,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
      <if test="record.brandId != null">
        BRAND_ID = #{record.brandId,jdbcType=INTEGER},
      </if>
      <if test="record.areaFlag != null">
        AREA_FLAG = #{record.areaFlag,jdbcType=TINYINT},
      </if>
      <if test="record.generalArchive != null">
        GENERAL_ARCHIVE = #{record.generalArchive,jdbcType=INTEGER},
      </if>
      <if test="record.logoPath != null">
        LOGO_PATH = #{record.logoPath,jdbcType=VARCHAR},
      </if>
      <if test="record.houseAddNo != null">
        HOUSE_ADD_NO = #{record.houseAddNo,jdbcType=INTEGER},
      </if>
      <if test="record.headName != null">
        HEAD_NAME = #{record.headName,jdbcType=VARCHAR},
      </if>
      <if test="record.businessName != null">
        BUSINESS_NAME = #{record.businessName,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsFlag != null">
        STATISTICS_FLAG = #{record.statisticsFlag,jdbcType=TINYINT},
      </if>
      <if test="record.openPartner != null">
        OPEN_PARTNER = #{record.openPartner,jdbcType=TINYINT},
      </if>
      <if test="record.businessApart != null">
        BUSINESS_APART = #{record.businessApart,jdbcType=TINYINT},
      </if>
      <if test="record.mainComp != null">
        MAIN_COMP = #{record.mainComp,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_COMP
    set COMP_ID = #{record.compId,jdbcType=INTEGER},
      COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      CITY_ID = #{record.cityId,jdbcType=SMALLINT},
      COMP_NAME = #{record.compName,jdbcType=VARCHAR},
      COMP_CNAME = #{record.compCname,jdbcType=VARCHAR},
      COMP_ADDR = #{record.compAddr,jdbcType=VARCHAR},
      COMP_TELE = #{record.compTele,jdbcType=VARCHAR},
      COMP_CONTACT = #{record.compContact,jdbcType=VARCHAR},
      COMP_DESC = #{record.compDesc,jdbcType=VARCHAR},
      COMMERCIAL_NO = #{record.commercialNo,jdbcType=VARCHAR},
      APTITUDE_NO = #{record.aptitudeNo,jdbcType=VARCHAR},
      INSTALL_PWD = #{record.installPwd,jdbcType=VARCHAR},
      PLAINT_PWD = #{record.plaintPwd,jdbcType=VARCHAR},
      CUSTOM_LOG = #{record.customLog,jdbcType=VARCHAR},
      REGIST_FLAG = #{record.registFlag,jdbcType=BIT},
      COMP_TYPE = #{record.compType,jdbcType=TINYINT},
      PLOT_SWITCH = #{record.plotSwitch,jdbcType=BIT},
      WATERIMG = #{record.waterimg,jdbcType=VARCHAR},
      WATER_CONFIG = #{record.waterConfig,jdbcType=VARCHAR},
      STORE_NO = #{record.storeNo,jdbcType=VARCHAR},
      UPDATE_UID = #{record.updateUid,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      BRAND_ID = #{record.brandId,jdbcType=INTEGER},
      AREA_FLAG = #{record.areaFlag,jdbcType=TINYINT},
      GENERAL_ARCHIVE = #{record.generalArchive,jdbcType=INTEGER},
      LOGO_PATH = #{record.logoPath,jdbcType=VARCHAR},
      HOUSE_ADD_NO = #{record.houseAddNo,jdbcType=INTEGER},
      HEAD_NAME = #{record.headName,jdbcType=VARCHAR},
      BUSINESS_NAME = #{record.businessName,jdbcType=VARCHAR},
      STATISTICS_FLAG = #{record.statisticsFlag,jdbcType=TINYINT},
      OPEN_PARTNER = #{record.openPartner,jdbcType=TINYINT},
      BUSINESS_APART = #{record.businessApart,jdbcType=TINYINT},
      MAIN_COMP = #{record.mainComp,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunComp">
    <!--@mbggenerated-->
    update FUN_COMP
    <set>
      <if test="compNo != null">
        COMP_NO = #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="compName != null">
        COMP_NAME = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compCname != null">
        COMP_CNAME = #{compCname,jdbcType=VARCHAR},
      </if>
      <if test="compAddr != null">
        COMP_ADDR = #{compAddr,jdbcType=VARCHAR},
      </if>
      <if test="compTele != null">
        COMP_TELE = #{compTele,jdbcType=VARCHAR},
      </if>
      <if test="compContact != null">
        COMP_CONTACT = #{compContact,jdbcType=VARCHAR},
      </if>
      <if test="compDesc != null">
        COMP_DESC = #{compDesc,jdbcType=VARCHAR},
      </if>
      <if test="commercialNo != null">
        COMMERCIAL_NO = #{commercialNo,jdbcType=VARCHAR},
      </if>
      <if test="aptitudeNo != null">
        APTITUDE_NO = #{aptitudeNo,jdbcType=VARCHAR},
      </if>
      <if test="installPwd != null">
        INSTALL_PWD = #{installPwd,jdbcType=VARCHAR},
      </if>
      <if test="plaintPwd != null">
        PLAINT_PWD = #{plaintPwd,jdbcType=VARCHAR},
      </if>
      <if test="customLog != null">
        CUSTOM_LOG = #{customLog,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        REGIST_FLAG = #{registFlag,jdbcType=BIT},
      </if>
      <if test="compType != null">
        COMP_TYPE = #{compType,jdbcType=TINYINT},
      </if>
      <if test="plotSwitch != null">
        PLOT_SWITCH = #{plotSwitch,jdbcType=BIT},
      </if>
      <if test="waterimg != null">
        WATERIMG = #{waterimg,jdbcType=VARCHAR},
      </if>
      <if test="waterConfig != null">
        WATER_CONFIG = #{waterConfig,jdbcType=VARCHAR},
      </if>
      <if test="storeNo != null">
        STORE_NO = #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null">
        UPDATE_UID = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        BRAND_ID = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="areaFlag != null">
        AREA_FLAG = #{areaFlag,jdbcType=TINYINT},
      </if>
      <if test="generalArchive != null">
        GENERAL_ARCHIVE = #{generalArchive,jdbcType=INTEGER},
      </if>
      <if test="logoPath != null">
        LOGO_PATH = #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="houseAddNo != null">
        HOUSE_ADD_NO = #{houseAddNo,jdbcType=INTEGER},
      </if>
      <if test="headName != null">
        HEAD_NAME = #{headName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null">
        BUSINESS_NAME = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="statisticsFlag != null">
        STATISTICS_FLAG = #{statisticsFlag,jdbcType=TINYINT},
      </if>
      <if test="openPartner != null">
        OPEN_PARTNER = #{openPartner,jdbcType=TINYINT},
      </if>
      <if test="businessApart != null">
        BUSINESS_APART = #{businessApart,jdbcType=TINYINT},
      </if>
      <if test="mainComp != null">
        MAIN_COMP = #{mainComp,jdbcType=TINYINT},
      </if>
    </set>
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunComp">
    <!--@mbggenerated-->
    update FUN_COMP
    set COMP_NO = #{compNo,jdbcType=VARCHAR},
      CITY_ID = #{cityId,jdbcType=SMALLINT},
      COMP_NAME = #{compName,jdbcType=VARCHAR},
      COMP_CNAME = #{compCname,jdbcType=VARCHAR},
      COMP_ADDR = #{compAddr,jdbcType=VARCHAR},
      COMP_TELE = #{compTele,jdbcType=VARCHAR},
      COMP_CONTACT = #{compContact,jdbcType=VARCHAR},
      COMP_DESC = #{compDesc,jdbcType=VARCHAR},
      COMMERCIAL_NO = #{commercialNo,jdbcType=VARCHAR},
      APTITUDE_NO = #{aptitudeNo,jdbcType=VARCHAR},
      INSTALL_PWD = #{installPwd,jdbcType=VARCHAR},
      PLAINT_PWD = #{plaintPwd,jdbcType=VARCHAR},
      CUSTOM_LOG = #{customLog,jdbcType=VARCHAR},
      REGIST_FLAG = #{registFlag,jdbcType=BIT},
      COMP_TYPE = #{compType,jdbcType=TINYINT},
      PLOT_SWITCH = #{plotSwitch,jdbcType=BIT},
      WATERIMG = #{waterimg,jdbcType=VARCHAR},
      WATER_CONFIG = #{waterConfig,jdbcType=VARCHAR},
      STORE_NO = #{storeNo,jdbcType=VARCHAR},
      UPDATE_UID = #{updateUid,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      BRAND_ID = #{brandId,jdbcType=INTEGER},
      AREA_FLAG = #{areaFlag,jdbcType=TINYINT},
      GENERAL_ARCHIVE = #{generalArchive,jdbcType=INTEGER},
      LOGO_PATH = #{logoPath,jdbcType=VARCHAR},
      HOUSE_ADD_NO = #{houseAddNo,jdbcType=INTEGER},
      HEAD_NAME = #{headName,jdbcType=VARCHAR},
      BUSINESS_NAME = #{businessName,jdbcType=VARCHAR},
      STATISTICS_FLAG = #{statisticsFlag,jdbcType=TINYINT},
      OPEN_PARTNER = #{openPartner,jdbcType=TINYINT},
      BUSINESS_APART = #{businessApart,jdbcType=TINYINT},
      MAIN_COMP = #{mainComp,jdbcType=TINYINT}
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </update>
  
  <resultMap extends="BaseResultMap" id="resultMapDto" type="com.myfun.repository.erpdb.dto.ErpFunCompDto">
  
  </resultMap>
  <!-- business -->
  <select id="getCompByCompNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FUN_COMP
    where COMP_NO = #{shardCompNo,jdbcType=VARCHAR}
  </select>
  
  <select id="getCompInfoByCompNo" resultMap="resultMapDto">
    select 
    <include refid="Base_Column_List" />
    from FUN_COMP
    where COMP_NO = #{compNo}
  </select>
  
  <update id="updateRecordsByCompId">
  	update FUN_COMP set COMP_TYPE = #{softType}, UPDATE_TIME = #{nowTime} where COMP_ID = #{enterCompId}
  </update>
  <select id="queryComp" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select top 1 COMP_NAME from FUN_COMP where COMP_NO=(select COMP_NO from FUN_USERS where ARCHIVE_ID=#{archiveId} AND USER_WRITEOFF=0)
  </select>
  <select id="getCompInfoByCompId" parameterType="com.myfun.repository.erpdb.po.ErpFunComp" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FUN_COMP
    where COMP_Id = #{compId}
  </select>
   <update id="updateByCompNo" parameterType="com.myfun.repository.erpdb.po.ErpFunComp">
    update FUN_COMP
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="compName != null">
        COMP_NAME = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compCname != null">
        COMP_CNAME = #{compCname,jdbcType=VARCHAR},
      </if>
      <if test="compAddr != null">
        COMP_ADDR = #{compAddr,jdbcType=VARCHAR},
      </if>
      <if test="compTele != null">
        COMP_TELE = #{compTele,jdbcType=VARCHAR},
      </if>
      <if test="compContact != null">
        COMP_CONTACT = #{compContact,jdbcType=VARCHAR},
      </if>
      <if test="compDesc != null">
        COMP_DESC = #{compDesc,jdbcType=VARCHAR},
      </if>
      <if test="commercialNo != null">
        COMMERCIAL_NO = #{commercialNo,jdbcType=VARCHAR},
      </if>
      <if test="aptitudeNo != null">
        APTITUDE_NO = #{aptitudeNo,jdbcType=VARCHAR},
      </if>
      <if test="installPwd != null">
        INSTALL_PWD = #{installPwd,jdbcType=VARCHAR},
      </if>
      <if test="plaintPwd != null">
        PLAINT_PWD = #{plaintPwd,jdbcType=VARCHAR},
      </if>
      <if test="customLog != null">
        CUSTOM_LOG = #{customLog,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        REGIST_FLAG = #{registFlag,jdbcType=BIT},
      </if>
      <if test="compType != null">
        COMP_TYPE = #{compType,jdbcType=TINYINT},
      </if>
      <if test="plotSwitch != null">
        PLOT_SWITCH = #{plotSwitch,jdbcType=BIT},
      </if>
      <if test="waterimg != null">
        WATERIMG = #{waterimg,jdbcType=VARCHAR},
      </if>
      <if test="waterConfig != null">
        WATER_CONFIG = #{waterConfig,jdbcType=VARCHAR},
      </if>
      <if test="storeNo != null">
        STORE_NO = #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null">
        UPDATE_UID = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        BRAND_ID = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="areaFlag != null">
        AREA_FLAG = #{areaFlag,jdbcType=TINYINT},
      </if>
      <if test="generalArchive != null">
        GENERAL_ARCHIVE = #{generalArchive,jdbcType=INTEGER},
      </if>
      <if test="logoPath != null">
        LOGO_PATH = #{logoPath,jdbcType=VARCHAR},
      </if>
    </set>
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </update>
  <select id="addTryData" resultType="java.lang.String">
  	EXEC proc_ImportTemplateData #{shardCompNo}, #{deptNo};
  </select>
  <select id="getCityIdsGroup" resultType="java.lang.Integer">
  	select city_id from fun_comp group by city_id 
  </select>
  <select id="selectCompIdsByCityId" resultType="java.lang.Integer">
  	select comp_id from fun_comp where city_id=#{cityId} group by comp_id 
  </select>
  <select id="getMgrRegistFlag" resultType="java.util.Map">
      SELECT REGIST_FLAG AS registFlag  FROM FUN_COMP WHERE COMP_ID = #{compId}
  </select>

  <!-- <select id="getAdminFunCompByCompId" resultType="com.myfun.repository.admindb.po.AdminFunComp">
    SELECT a.comp_id compId, a.comp_no compNo from hft_admindb..FUN_COMP a
    JOIN FUN_COMP b on a.comp_no= b.comp_no
    WHERE b.comp_id=#{compId}
  </select> -->


	<select id="selectByCompId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM FUN_COMP
		WHERE COMP_ID = #{compId}
	</select>

	<select id="getCompIdsByCompNos" resultType="java.lang.Integer">
		SELECT COMP_ID FROM FUN_COMP
		WHERE
		COMP_NO IN
		<foreach close=")" collection="shareCompNos" index="index" item="compNo" open="(" separator=",">
			#{compNo}
		</foreach>
	</select>

	<select id="getErpCompIdListByCrmCompId" resultType="java.lang.Integer">
		SELECT C.COMP_ID FROM hft_admindb.dbo.CRM_COMP_RANGE A
		JOIN hft_admindb.dbo.FUN_COMP B ON A.RANGE_ID = B.COMP_ID
		JOIN dbo.FUN_COMP C ON B.COMP_NO = C.COMP_NO
		WHERE A.RANGE_TYPE = 3 AND A.WRITEOFF_FLAG = 0 AND A.COMP_ID = #{crmCompId}
	</select>
	
	<update id="updatePlctSwotch">
		update FUN_COMP set PLOT_SWITCH = #{plotSwitch}
		where COMP_ID = #{compId}
	</update>
    <update id="updateCompHeadNameOrBusinessNameByCompId">
      UPDATE FUN_COMP
      <set>
        <if test="headName != null and headName != &quot;&quot;">
           HEAD_NAME = #{headName},
        </if>
        <if test="headName == &quot;&quot;">
          HEAD_NAME = null ,
        </if>
        <if test="businessName != null and businessName != &quot;&quot;">
          BUSINESS_NAME = #{businessName}
        </if>
        <if test="businessName == &quot;&quot;">
          BUSINESS_NAME = null
        </if>
      </set>
      WHERE COMP_ID = #{compId}
    </update>

    <insert id="insertCompRoles">
      insert into COMP_ROLES (ROLE_ID,COMP_ID,ROLE_NAME,SEQ_NO,MANAGE_FLAG,IS_COMP_ROLE,IS_DEL,MANAGE_LEVEL)
      select ROLE_ID, #{erpCompId}, ROLE_NAME, SEQ_NO, MANAGE_FLAG, 0, 0, MANAGE_LEVEL from FUN_ROLES
    </insert>
    
    <insert id="insertSelectiveNew" parameterType="com.myfun.repository.erpdb.po.ErpFunComp">
    insert into FUN_COMP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      COMP_ID,
      <if test="compNo != null">
        COMP_NO,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="compName != null">
        COMP_NAME,
      </if>
      <if test="compCname != null">
        COMP_CNAME,
      </if>
      <if test="compAddr != null">
        COMP_ADDR,
      </if>
      <if test="compTele != null">
        COMP_TELE,
      </if>
      <if test="compContact != null">
        COMP_CONTACT,
      </if>
      <if test="compDesc != null">
        COMP_DESC,
      </if>
      <if test="commercialNo != null">
        COMMERCIAL_NO,
      </if>
      <if test="aptitudeNo != null">
        APTITUDE_NO,
      </if>
      <if test="installPwd != null">
        INSTALL_PWD,
      </if>
      <if test="plaintPwd != null">
        PLAINT_PWD,
      </if>
      <if test="customLog != null">
        CUSTOM_LOG,
      </if>
      <if test="registFlag != null">
        REGIST_FLAG,
      </if>
      <if test="compType != null">
        COMP_TYPE,
      </if>
      <if test="plotSwitch != null">
        PLOT_SWITCH,
      </if>
      <if test="waterimg != null">
        WATERIMG,
      </if>
      <if test="waterConfig != null">
        WATER_CONFIG,
      </if>
      <if test="storeNo != null">
        STORE_NO,
      </if>
      <if test="updateUid != null">
        UPDATE_UID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="brandId != null">
        BRAND_ID,
      </if>
      <if test="areaFlag != null">
        AREA_FLAG,
      </if>
      <if test="generalArchive != null">
        GENERAL_ARCHIVE,
      </if>
      <if test="logoPath != null">
        LOGO_PATH,
      </if>
      <if test="houseAddNo != null">
        HOUSE_ADD_NO,
      </if>
      <if test="headName != null">
        HEAD_NAME,
      </if>
      <if test="businessName != null">
        BUSINESS_NAME,
      </if>
      <if test="statisticsFlag != null">
        STATISTICS_FLAG,
      </if>
      <if test="openPartner != null">
        OPEN_PARTNER,
      </if>
      <if test="businessApart != null">
        BUSINESS_APART,
      </if>
      <if test="mainComp != null">
        MAIN_COMP,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{compId,jdbcType=INTEGER},
      <if test="compNo != null">
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="compName != null">
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compCname != null">
        #{compCname,jdbcType=VARCHAR},
      </if>
      <if test="compAddr != null">
        #{compAddr,jdbcType=VARCHAR},
      </if>
      <if test="compTele != null">
        #{compTele,jdbcType=VARCHAR},
      </if>
      <if test="compContact != null">
        #{compContact,jdbcType=VARCHAR},
      </if>
      <if test="compDesc != null">
        #{compDesc,jdbcType=VARCHAR},
      </if>
      <if test="commercialNo != null">
        #{commercialNo,jdbcType=VARCHAR},
      </if>
      <if test="aptitudeNo != null">
        #{aptitudeNo,jdbcType=VARCHAR},
      </if>
      <if test="installPwd != null">
        #{installPwd,jdbcType=VARCHAR},
      </if>
      <if test="plaintPwd != null">
        #{plaintPwd,jdbcType=VARCHAR},
      </if>
      <if test="customLog != null">
        #{customLog,jdbcType=VARCHAR},
      </if>
      <if test="registFlag != null">
        #{registFlag,jdbcType=BIT},
      </if>
      <if test="compType != null">
        #{compType,jdbcType=TINYINT},
      </if>
      <if test="plotSwitch != null">
        #{plotSwitch,jdbcType=BIT},
      </if>
      <if test="waterimg != null">
        #{waterimg,jdbcType=VARCHAR},
      </if>
      <if test="waterConfig != null">
        #{waterConfig,jdbcType=VARCHAR},
      </if>
      <if test="storeNo != null">
        #{storeNo,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="areaFlag != null">
        #{areaFlag,jdbcType=TINYINT},
      </if>
      <if test="generalArchive != null">
        #{generalArchive,jdbcType=INTEGER},
      </if>
      <if test="logoPath != null">
        #{logoPath,jdbcType=VARCHAR},
      </if>
      <if test="houseAddNo != null">
        #{houseAddNo,jdbcType=INTEGER},
      </if>
      <if test="headName != null">
        #{headName,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null">
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="statisticsFlag != null">
        #{statisticsFlag,jdbcType=TINYINT},
      </if>
      <if test="openPartner != null">
        #{openPartner,jdbcType=TINYINT},
      </if>
      <if test="businessApart != null">
        #{businessApart,jdbcType=TINYINT},
      </if>
      <if test="mainComp != null">
        #{mainComp,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="getBaseCompInfo" resultMap="BaseResultMap">
    select LOGO_PATH,OPEN_PARTNER,COMP_ID,COMP_NO,COMP_NAME from fun_comp where comp_id = #{compId}
  </select>
</mapper>