<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunRoadsInfoMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunRoadsInfo">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROADS_NAME" jdbcType="VARCHAR" property="roadsName" />
    <result column="THIRD_ROADS_ID" jdbcType="VARCHAR" property="thirdRoadsId" />
    <result column="ROADS_CODE" jdbcType="VARCHAR" property="roadsCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, ROADS_NAME, THIRD_ROADS_ID, ROADS_CODE
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunRoadsInfoExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_ROADS_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_ROADS_INFO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_ROADS_INFO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunRoadsInfoExample">
    <!--@mbggenerated-->
    delete from FUN_ROADS_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunRoadsInfo" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ROADS_INFO (ROADS_NAME, THIRD_ROADS_ID, ROADS_CODE
      )
    values (#{roadsName,jdbcType=VARCHAR}, #{thirdRoadsId,jdbcType=VARCHAR}, #{roadsCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunRoadsInfo" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ROADS_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roadsName != null">
        ROADS_NAME,
      </if>
      <if test="thirdRoadsId != null">
        THIRD_ROADS_ID,
      </if>
      <if test="roadsCode != null">
        ROADS_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roadsName != null">
        #{roadsName,jdbcType=VARCHAR},
      </if>
      <if test="thirdRoadsId != null">
        #{thirdRoadsId,jdbcType=VARCHAR},
      </if>
      <if test="roadsCode != null">
        #{roadsCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunRoadsInfoExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_ROADS_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ROADS_INFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roadsName != null">
        ROADS_NAME = #{record.roadsName,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdRoadsId != null">
        THIRD_ROADS_ID = #{record.thirdRoadsId,jdbcType=VARCHAR},
      </if>
      <if test="record.roadsCode != null">
        ROADS_CODE = #{record.roadsCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ROADS_INFO
    set ID = #{record.id,jdbcType=INTEGER},
      ROADS_NAME = #{record.roadsName,jdbcType=VARCHAR},
      THIRD_ROADS_ID = #{record.thirdRoadsId,jdbcType=VARCHAR},
      ROADS_CODE = #{record.roadsCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunRoadsInfo">
    <!--@mbggenerated-->
    update FUN_ROADS_INFO
    <set>
      <if test="roadsName != null">
        ROADS_NAME = #{roadsName,jdbcType=VARCHAR},
      </if>
      <if test="thirdRoadsId != null">
        THIRD_ROADS_ID = #{thirdRoadsId,jdbcType=VARCHAR},
      </if>
      <if test="roadsCode != null">
        ROADS_CODE = #{roadsCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunRoadsInfo">
    <!--@mbggenerated-->
    update FUN_ROADS_INFO
    set ROADS_NAME = #{roadsName,jdbcType=VARCHAR},
      THIRD_ROADS_ID = #{thirdRoadsId,jdbcType=VARCHAR},
      ROADS_CODE = #{roadsCode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
	<select id="getRoadsMenu" resultMap="BaseResultMap">
		SELECT TOP 10 ID, ROADS_NAME
		FROM FUN_ROADS_INFO
		<where>
			<if test="null != param.roadsName and param.roadsName !=''">
				AND (ROADS_NAME LIKE #{param.roadsName} OR ROADS_CODE LIKE #{param.roadsName})
			</if>
		</where>
	</select>
</mapper>

