<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunStationMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunStation">
    <!--@mbggenerated-->
    <id column="STATION_ID" jdbcType="INTEGER" property="stationId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="SW_ID" jdbcType="INTEGER" property="swId" />
    <result column="STATION_NAME" jdbcType="VARCHAR" property="stationName" />
    <result column="SEQ_NO" jdbcType="INTEGER" property="seqNo" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="BaseResultMapStationListVO" type="com.myfun.erpWeb.common.vo.StationVO" />
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    STATION_ID, CITY_ID, SW_ID, STATION_NAME, SEQ_NO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_STATION
    where STATION_ID = #{stationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_STATION
    where STATION_ID = #{stationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunStation">
    <!--@mbggenerated-->
    insert into FUN_STATION (STATION_ID, CITY_ID, SW_ID, 
      STATION_NAME, SEQ_NO)
    values (#{stationId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{swId,jdbcType=INTEGER}, 
      #{stationName,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunStation">
    <!--@mbggenerated-->
    insert into FUN_STATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stationId != null">
        STATION_ID,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="swId != null">
        SW_ID,
      </if>
      <if test="stationName != null">
        STATION_NAME,
      </if>
      <if test="seqNo != null">
        SEQ_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stationId != null">
        #{stationId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="swId != null">
        #{swId,jdbcType=INTEGER},
      </if>
      <if test="stationName != null">
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunStation">
    <!--@mbggenerated-->
    update FUN_STATION
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="swId != null">
        SW_ID = #{swId,jdbcType=INTEGER},
      </if>
      <if test="stationName != null">
        STATION_NAME = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        SEQ_NO = #{seqNo,jdbcType=INTEGER},
      </if>
    </set>
    where STATION_ID = #{stationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunStation">
    <!--@mbggenerated-->
    update FUN_STATION
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      SW_ID = #{swId,jdbcType=INTEGER},
      STATION_NAME = #{stationName,jdbcType=VARCHAR},
      SEQ_NO = #{seqNo,jdbcType=INTEGER}
    where STATION_ID = #{stationId,jdbcType=INTEGER}
  </update>
  
  <!-- buniess -->
  <select id="getStationList" resultMap="BaseResultMap">
  	select
  	 <include refid="Base_Column_List" />
    from FUN_STATION
    where SW_ID IN
    <foreach collection="staIds" open="(" separator="," close=")" index="index" item="item"> 
    	#{item}
    </foreach>
    and CITY_ID = #{shardCityId}
    order by SW_ID
  </select>
  
  <select id="formatStation" resultMap="BaseResultMap">
  	select
  	 <include refid="Base_Column_List" />
    from FUN_STATION where
    STATION_ID in 
    <foreach collection="stationIds" open="(" separator="," close=")" index="index" item="item">
    	#{item}
    </foreach>
    and city_id = #{shardCityId}
  </select>
  <select id="getStationVOList"  resultMap="BaseResultMapStationListVO">
    select
    <include refid="Base_Column_List" />
    from FUN_STATION
    where CITY_ID=#{param.cityId}
    ORDER BY SEQ_NO
  </select>
</mapper>