<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunSalaryStatisticalMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunSalaryStatistical">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="AREA_ID" jdbcType="INTEGER" property="areaId" />
    <result column="REG_ID" jdbcType="INTEGER" property="regId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="HOUSE_ADD_COUNT" jdbcType="INTEGER" property="houseAddCount" />
    <result column="CUST_ADD_COUNT" jdbcType="INTEGER" property="custAddCount" />
    <result column="FANKAN_COUNT" jdbcType="INTEGER" property="fankanCount" />
    <result column="DAIKAN_COUNT" jdbcType="INTEGER" property="daikanCount" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, COMP_ID, AREA_ID, REG_ID, DEPT_ID, USER_ID, HOUSE_ADD_COUNT, CUST_ADD_COUNT, 
    FANKAN_COUNT, DAIKAN_COUNT, CREATION_TIME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunSalaryStatisticalExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_SALARY_STATISTICAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_SALARY_STATISTICAL
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_SALARY_STATISTICAL
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunSalaryStatisticalExample">
    <!--@mbggenerated-->
    delete from FUN_SALARY_STATISTICAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunSalaryStatistical" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_SALARY_STATISTICAL (COMP_ID, AREA_ID, REG_ID, 
      DEPT_ID, USER_ID, HOUSE_ADD_COUNT, 
      CUST_ADD_COUNT, FANKAN_COUNT, DAIKAN_COUNT, 
      CREATION_TIME)
    values (#{compId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, #{regId,jdbcType=INTEGER}, 
      #{deptId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{houseAddCount,jdbcType=INTEGER}, 
      #{custAddCount,jdbcType=INTEGER}, #{fankanCount,jdbcType=INTEGER}, #{daikanCount,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunSalaryStatistical" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_SALARY_STATISTICAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="areaId != null">
        AREA_ID,
      </if>
      <if test="regId != null">
        REG_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="houseAddCount != null">
        HOUSE_ADD_COUNT,
      </if>
      <if test="custAddCount != null">
        CUST_ADD_COUNT,
      </if>
      <if test="fankanCount != null">
        FANKAN_COUNT,
      </if>
      <if test="daikanCount != null">
        DAIKAN_COUNT,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="regId != null">
        #{regId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="houseAddCount != null">
        #{houseAddCount,jdbcType=INTEGER},
      </if>
      <if test="custAddCount != null">
        #{custAddCount,jdbcType=INTEGER},
      </if>
      <if test="fankanCount != null">
        #{fankanCount,jdbcType=INTEGER},
      </if>
      <if test="daikanCount != null">
        #{daikanCount,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunSalaryStatisticalExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_SALARY_STATISTICAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_SALARY_STATISTICAL
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.areaId != null">
        AREA_ID = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.regId != null">
        REG_ID = #{record.regId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.houseAddCount != null">
        HOUSE_ADD_COUNT = #{record.houseAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.custAddCount != null">
        CUST_ADD_COUNT = #{record.custAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.fankanCount != null">
        FANKAN_COUNT = #{record.fankanCount,jdbcType=INTEGER},
      </if>
      <if test="record.daikanCount != null">
        DAIKAN_COUNT = #{record.daikanCount,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_SALARY_STATISTICAL
    set ID = #{record.id,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      AREA_ID = #{record.areaId,jdbcType=INTEGER},
      REG_ID = #{record.regId,jdbcType=INTEGER},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      HOUSE_ADD_COUNT = #{record.houseAddCount,jdbcType=INTEGER},
      CUST_ADD_COUNT = #{record.custAddCount,jdbcType=INTEGER},
      FANKAN_COUNT = #{record.fankanCount,jdbcType=INTEGER},
      DAIKAN_COUNT = #{record.daikanCount,jdbcType=INTEGER},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunSalaryStatistical">
    <!--@mbggenerated-->
    update FUN_SALARY_STATISTICAL
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        AREA_ID = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="regId != null">
        REG_ID = #{regId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="houseAddCount != null">
        HOUSE_ADD_COUNT = #{houseAddCount,jdbcType=INTEGER},
      </if>
      <if test="custAddCount != null">
        CUST_ADD_COUNT = #{custAddCount,jdbcType=INTEGER},
      </if>
      <if test="fankanCount != null">
        FANKAN_COUNT = #{fankanCount,jdbcType=INTEGER},
      </if>
      <if test="daikanCount != null">
        DAIKAN_COUNT = #{daikanCount,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunSalaryStatistical">
    <!--@mbggenerated-->
    update FUN_SALARY_STATISTICAL
    set COMP_ID = #{compId,jdbcType=INTEGER},
      AREA_ID = #{areaId,jdbcType=INTEGER},
      REG_ID = #{regId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      HOUSE_ADD_COUNT = #{houseAddCount,jdbcType=INTEGER},
      CUST_ADD_COUNT = #{custAddCount,jdbcType=INTEGER},
      FANKAN_COUNT = #{fankanCount,jdbcType=INTEGER},
      DAIKAN_COUNT = #{daikanCount,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>