<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunSelfdefineProfitMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunSelfdefineProfit">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PROFIT_DATE" jdbcType="TIMESTAMP" property="profitDate" />
    <result column="PROFIT_VALUE" jdbcType="NUMERIC" property="profitValue" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="CASE_NO" jdbcType="VARCHAR" property="caseNo" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CASE_TYPE" jdbcType="TINYINT" property="caseType" />
    <result column="DEAL_TYPE" jdbcType="TINYINT" property="dealType" />
    <result column="PROFIT_TYPE" jdbcType="TINYINT" property="profitType" />
    <result column="CREATE_UID" jdbcType="INTEGER" property="createUid" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="USEAGE" jdbcType="TINYINT" property="useage" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, PROFIT_DATE, PROFIT_VALUE, COMP_ID, DEPT_ID, USER_ID, CASE_NO, CASE_ID, CASE_TYPE, 
    DEAL_TYPE, PROFIT_TYPE, CREATE_UID, CREATE_TIME, USEAGE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_SELFDEFINE_PROFIT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_SELFDEFINE_PROFIT
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunSelfdefineProfit">
    <!--@mbggenerated-->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FUN_SELFDEFINE_PROFIT (PROFIT_DATE, PROFIT_VALUE, COMP_ID, 
      DEPT_ID, USER_ID, CASE_NO, 
      CASE_ID, CASE_TYPE, DEAL_TYPE, 
      PROFIT_TYPE, CREATE_UID, CREATE_TIME, 
      USEAGE)
    values (#{profitDate,jdbcType=TIMESTAMP}, #{profitValue,jdbcType=NUMERIC}, #{compId,jdbcType=INTEGER}, 
      #{deptId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{caseNo,jdbcType=VARCHAR}, 
      #{caseId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, #{dealType,jdbcType=TINYINT}, 
      #{profitType,jdbcType=TINYINT}, #{createUid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{useage,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunSelfdefineProfit">
    <!--@mbggenerated-->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FUN_SELFDEFINE_PROFIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="profitDate != null">
        PROFIT_DATE,
      </if>
      <if test="profitValue != null">
        PROFIT_VALUE,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="caseNo != null">
        CASE_NO,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="dealType != null">
        DEAL_TYPE,
      </if>
      <if test="profitType != null">
        PROFIT_TYPE,
      </if>
      <if test="createUid != null">
        CREATE_UID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="useage != null">
        USEAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="profitDate != null">
        #{profitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="profitValue != null">
        #{profitValue,jdbcType=NUMERIC},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="caseNo != null">
        #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=TINYINT},
      </if>
      <if test="profitType != null">
        #{profitType,jdbcType=TINYINT},
      </if>
      <if test="createUid != null">
        #{createUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useage != null">
        #{useage,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunSelfdefineProfit">
    <!--@mbggenerated-->
    update FUN_SELFDEFINE_PROFIT
    <set>
      <if test="profitDate != null">
        PROFIT_DATE = #{profitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="profitValue != null">
        PROFIT_VALUE = #{profitValue,jdbcType=NUMERIC},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="caseNo != null">
        CASE_NO = #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="dealType != null">
        DEAL_TYPE = #{dealType,jdbcType=TINYINT},
      </if>
      <if test="profitType != null">
        PROFIT_TYPE = #{profitType,jdbcType=TINYINT},
      </if>
      <if test="createUid != null">
        CREATE_UID = #{createUid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useage != null">
        USEAGE = #{useage,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunSelfdefineProfit">
    <!--@mbggenerated-->
    update FUN_SELFDEFINE_PROFIT
    set PROFIT_DATE = #{profitDate,jdbcType=TIMESTAMP},
      PROFIT_VALUE = #{profitValue,jdbcType=NUMERIC},
      COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      CASE_NO = #{caseNo,jdbcType=VARCHAR},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      DEAL_TYPE = #{dealType,jdbcType=TINYINT},
      PROFIT_TYPE = #{profitType,jdbcType=TINYINT},
      CREATE_UID = #{createUid,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      USEAGE = #{useage,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>