<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunGenerationPaymentClassMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClass">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CLASS_NAME" jdbcType="VARCHAR" property="className" />
    <result column="CLASS_SEQ" jdbcType="INTEGER" property="classSeq" />
    <result column="IS_DEL" jdbcType="TINYINT" property="isDel" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="PERSON_AMOUNT" jdbcType="NUMERIC" property="personAmount" />
    <result column="COMP_AMOUNT" jdbcType="NUMERIC" property="compAmount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, CLASS_NAME, CLASS_SEQ, IS_DEL, COMP_ID, CREATE_TIME, PERSON_AMOUNT, COMP_AMOUNT
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClassExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_GENERATION_PAYMENT_CLASS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_GENERATION_PAYMENT_CLASS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_GENERATION_PAYMENT_CLASS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClassExample">
    <!--@mbggenerated-->
    delete from FUN_GENERATION_PAYMENT_CLASS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClass" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_GENERATION_PAYMENT_CLASS (CLASS_NAME, CLASS_SEQ, IS_DEL, 
      COMP_ID, CREATE_TIME, PERSON_AMOUNT, 
      COMP_AMOUNT)
    values (#{className,jdbcType=VARCHAR}, #{classSeq,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, 
      #{compId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{personAmount,jdbcType=NUMERIC}, 
      #{compAmount,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClass" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_GENERATION_PAYMENT_CLASS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="className != null">
        CLASS_NAME,
      </if>
      <if test="classSeq != null">
        CLASS_SEQ,
      </if>
      <if test="isDel != null">
        IS_DEL,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="personAmount != null">
        PERSON_AMOUNT,
      </if>
      <if test="compAmount != null">
        COMP_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classSeq != null">
        #{classSeq,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personAmount != null">
        #{personAmount,jdbcType=NUMERIC},
      </if>
      <if test="compAmount != null">
        #{compAmount,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClassExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_GENERATION_PAYMENT_CLASS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_GENERATION_PAYMENT_CLASS
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.className != null">
        CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.classSeq != null">
        CLASS_SEQ = #{record.classSeq,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null">
        IS_DEL = #{record.isDel,jdbcType=TINYINT},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.personAmount != null">
        PERSON_AMOUNT = #{record.personAmount,jdbcType=NUMERIC},
      </if>
      <if test="record.compAmount != null">
        COMP_AMOUNT = #{record.compAmount,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_GENERATION_PAYMENT_CLASS
    set ID = #{record.id,jdbcType=INTEGER},
      CLASS_NAME = #{record.className,jdbcType=VARCHAR},
      CLASS_SEQ = #{record.classSeq,jdbcType=INTEGER},
      IS_DEL = #{record.isDel,jdbcType=TINYINT},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      PERSON_AMOUNT = #{record.personAmount,jdbcType=NUMERIC},
      COMP_AMOUNT = #{record.compAmount,jdbcType=NUMERIC}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClass">
    <!--@mbggenerated-->
    update FUN_GENERATION_PAYMENT_CLASS
    <set>
      <if test="className != null">
        CLASS_NAME = #{className,jdbcType=VARCHAR},
      </if>
      <if test="classSeq != null">
        CLASS_SEQ = #{classSeq,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        IS_DEL = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="personAmount != null">
        PERSON_AMOUNT = #{personAmount,jdbcType=NUMERIC},
      </if>
      <if test="compAmount != null">
        COMP_AMOUNT = #{compAmount,jdbcType=NUMERIC},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunGenerationPaymentClass">
    <!--@mbggenerated-->
    update FUN_GENERATION_PAYMENT_CLASS
    set CLASS_NAME = #{className,jdbcType=VARCHAR},
      CLASS_SEQ = #{classSeq,jdbcType=INTEGER},
      IS_DEL = #{isDel,jdbcType=TINYINT},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PERSON_AMOUNT = #{personAmount,jdbcType=NUMERIC},
      COMP_AMOUNT = #{compAmount,jdbcType=NUMERIC}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="getClassById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from FUN_GENERATION_PAYMENT_CLASS where  id = #{id}
  </select>
	
	<select id="getClassByIds" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from FUN_GENERATION_PAYMENT_CLASS where  id in
    <foreach collection="ids" separator="," item="id" open="(" close=")">
		#{id}
	</foreach>
  </select>
  
</mapper>