<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunProcessOldMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunProcessOld">
    <!--@mbggenerated-->
    <result column="DEAL_NO" jdbcType="VARCHAR" property="dealNo" />
    <result column="PRO_TYPE" jdbcType="INTEGER" property="proType" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="WARM_FLAG" jdbcType="INTEGER" property="warmFlag" />
    <result column="WARM_TIME" jdbcType="TIMESTAMP" property="warmTime" />
    <result column="WARM_CONTENT" jdbcType="VARCHAR" property="warmContent" />
    <result column="UPDATE_USERNO" jdbcType="VARCHAR" property="updateUserno" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessOld">
    <!--@mbggenerated-->
    insert into FUN_PROCESS_OLD (DEAL_NO, PRO_TYPE, CONTENT, 
      WARM_FLAG, WARM_TIME, WARM_CONTENT, 
      UPDATE_USERNO, UPDATE_TIME, COMP_ID
      )
    values (#{dealNo,jdbcType=VARCHAR}, #{proType,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{warmFlag,jdbcType=INTEGER}, #{warmTime,jdbcType=TIMESTAMP}, #{warmContent,jdbcType=VARCHAR}, 
      #{updateUserno,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{compId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessOld">
    <!--@mbggenerated-->
    insert into FUN_PROCESS_OLD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dealNo != null">
        DEAL_NO,
      </if>
      <if test="proType != null">
        PRO_TYPE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="warmFlag != null">
        WARM_FLAG,
      </if>
      <if test="warmTime != null">
        WARM_TIME,
      </if>
      <if test="warmContent != null">
        WARM_CONTENT,
      </if>
      <if test="updateUserno != null">
        UPDATE_USERNO,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dealNo != null">
        #{dealNo,jdbcType=VARCHAR},
      </if>
      <if test="proType != null">
        #{proType,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="warmFlag != null">
        #{warmFlag,jdbcType=INTEGER},
      </if>
      <if test="warmTime != null">
        #{warmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warmContent != null">
        #{warmContent,jdbcType=VARCHAR},
      </if>
      <if test="updateUserno != null">
        #{updateUserno,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>