<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunCustFileMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunCustFile">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="CASE_TYPE" jdbcType="TINYINT" property="caseType" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="FILE_CLASS" jdbcType="TINYINT" property="fileClass" />
    <result column="FILE_CLASS_NAME" jdbcType="VARCHAR" property="fileClassName" />
    <result column="FILE_TYPE" jdbcType="TINYINT" property="fileType" />
    <result column="FILE_TYPE_NAME" jdbcType="VARCHAR" property="fileTypeName" />
    <result column="FILE_ADDR" jdbcType="VARCHAR" property="fileAddr" />
    <result column="DEL_FLAG" jdbcType="TINYINT" property="delFlag" />
    <result column="DEL_TIME" jdbcType="TIMESTAMP" property="delTime" />
    <result column="DEL_ARCHIVE_ID" jdbcType="INTEGER" property="delArchiveId" />
    <result column="TRACK_ID" jdbcType="INTEGER" property="trackId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, CITY_ID, COMP_ID, CASE_TYPE, CASE_ID, CREATION_TIME, USER_ID, ARCHIVE_ID, FILE_CLASS, 
    FILE_CLASS_NAME, FILE_TYPE, FILE_TYPE_NAME, FILE_ADDR, DEL_FLAG, DEL_TIME, DEL_ARCHIVE_ID, 
    TRACK_ID, DEPT_ID, DEPT_NAME, USER_NAME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunCustFileExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_CUST_FILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_CUST_FILE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_CUST_FILE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunCustFileExample">
    <!--@mbggenerated-->
    delete from FUN_CUST_FILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunCustFile" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_CUST_FILE (CITY_ID, COMP_ID, CASE_TYPE, 
      CASE_ID, CREATION_TIME, USER_ID, 
      ARCHIVE_ID, FILE_CLASS, FILE_CLASS_NAME, 
      FILE_TYPE, FILE_TYPE_NAME, FILE_ADDR, 
      DEL_FLAG, DEL_TIME, DEL_ARCHIVE_ID, 
      TRACK_ID, DEPT_ID, DEPT_NAME, 
      USER_NAME)
    values (#{cityId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{caseId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{archiveId,jdbcType=INTEGER}, #{fileClass,jdbcType=TINYINT}, #{fileClassName,jdbcType=VARCHAR}, 
      #{fileType,jdbcType=TINYINT}, #{fileTypeName,jdbcType=VARCHAR}, #{fileAddr,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{delTime,jdbcType=TIMESTAMP}, #{delArchiveId,jdbcType=INTEGER}, 
      #{trackId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunCustFile" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_CUST_FILE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="fileClass != null">
        FILE_CLASS,
      </if>
      <if test="fileClassName != null">
        FILE_CLASS_NAME,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="fileTypeName != null">
        FILE_TYPE_NAME,
      </if>
      <if test="fileAddr != null">
        FILE_ADDR,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="delTime != null">
        DEL_TIME,
      </if>
      <if test="delArchiveId != null">
        DEL_ARCHIVE_ID,
      </if>
      <if test="trackId != null">
        TRACK_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="fileClass != null">
        #{fileClass,jdbcType=TINYINT},
      </if>
      <if test="fileClassName != null">
        #{fileClassName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=TINYINT},
      </if>
      <if test="fileTypeName != null">
        #{fileTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delArchiveId != null">
        #{delArchiveId,jdbcType=INTEGER},
      </if>
      <if test="trackId != null">
        #{trackId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunCustFileExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_CUST_FILE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_CUST_FILE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      </if>
      <if test="record.caseId != null">
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.archiveId != null">
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.fileClass != null">
        FILE_CLASS = #{record.fileClass,jdbcType=TINYINT},
      </if>
      <if test="record.fileClassName != null">
        FILE_CLASS_NAME = #{record.fileClassName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileType != null">
        FILE_TYPE = #{record.fileType,jdbcType=TINYINT},
      </if>
      <if test="record.fileTypeName != null">
        FILE_TYPE_NAME = #{record.fileTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileAddr != null">
        FILE_ADDR = #{record.fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=TINYINT},
      </if>
      <if test="record.delTime != null">
        DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.delArchiveId != null">
        DEL_ARCHIVE_ID = #{record.delArchiveId,jdbcType=INTEGER},
      </if>
      <if test="record.trackId != null">
        TRACK_ID = #{record.trackId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_CUST_FILE
    set ID = #{record.id,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      FILE_CLASS = #{record.fileClass,jdbcType=TINYINT},
      FILE_CLASS_NAME = #{record.fileClassName,jdbcType=VARCHAR},
      FILE_TYPE = #{record.fileType,jdbcType=TINYINT},
      FILE_TYPE_NAME = #{record.fileTypeName,jdbcType=VARCHAR},
      FILE_ADDR = #{record.fileAddr,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=TINYINT},
      DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP},
      DEL_ARCHIVE_ID = #{record.delArchiveId,jdbcType=INTEGER},
      TRACK_ID = #{record.trackId,jdbcType=INTEGER},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      USER_NAME = #{record.userName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunCustFile">
    <!--@mbggenerated-->
    update FUN_CUST_FILE
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="fileClass != null">
        FILE_CLASS = #{fileClass,jdbcType=TINYINT},
      </if>
      <if test="fileClassName != null">
        FILE_CLASS_NAME = #{fileClassName,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null">
        FILE_TYPE = #{fileType,jdbcType=TINYINT},
      </if>
      <if test="fileTypeName != null">
        FILE_TYPE_NAME = #{fileTypeName,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        FILE_ADDR = #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="delTime != null">
        DEL_TIME = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delArchiveId != null">
        DEL_ARCHIVE_ID = #{delArchiveId,jdbcType=INTEGER},
      </if>
      <if test="trackId != null">
        TRACK_ID = #{trackId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunCustFile">
    <!--@mbggenerated-->
    update FUN_CUST_FILE
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      USER_ID = #{userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      FILE_CLASS = #{fileClass,jdbcType=TINYINT},
      FILE_CLASS_NAME = #{fileClassName,jdbcType=VARCHAR},
      FILE_TYPE = #{fileType,jdbcType=TINYINT},
      FILE_TYPE_NAME = #{fileTypeName,jdbcType=VARCHAR},
      FILE_ADDR = #{fileAddr,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=TINYINT},
      DEL_TIME = #{delTime,jdbcType=TIMESTAMP},
      DEL_ARCHIVE_ID = #{delArchiveId,jdbcType=INTEGER},
      TRACK_ID = #{trackId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>