<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunOrganizationMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunOrganization">
    <!--@mbggenerated-->
    <id column="ORGANIZATION_ID" jdbcType="INTEGER" property="organizationId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="ORGANIZATION_NAME" jdbcType="VARCHAR" property="organizationName" />
    <result column="DEL_FLAG" jdbcType="TINYINT" property="delFlag" />
    <result column="ORGANIZATION_DEFINITION_ID" jdbcType="INTEGER" property="organizationDefinitionId" />
    <result column="PID" jdbcType="INTEGER" property="pid" />
    <result column="ORGANIZATION_PATH" jdbcType="VARCHAR" property="organizationPath" />
    <result column="CONTACT_NUMBER" jdbcType="VARCHAR" property="contactNumber" />
    <result column="ORGANIZATION_ADDR" jdbcType="VARCHAR" property="organizationAddr" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ORGANIZATION_SEQ" jdbcType="INTEGER" property="organizationSeq" />
    <result column="ORGANIZATION_USER_NUM" jdbcType="INTEGER" property="organizationUserNum" />
    <result column="ORGANIZATION_BUSSINESS_TYPE" jdbcType="TINYINT" property="organizationBussinessType" />
    <result column="PARTNER_ID" jdbcType="INTEGER" property="partnerId" />
    <result column="ROUTEMAC" jdbcType="VARCHAR" property="routemac" />
    <result column="ORGANIZATION_NO" jdbcType="VARCHAR" property="organizationNo" />
    <result column="POSITION_X" jdbcType="VARCHAR" property="positionX" />
    <result column="POSITION_Y" jdbcType="VARCHAR" property="positionY" />
    <result column="QX_TYPE" jdbcType="INTEGER" property="qxType" />
    <result column="ML_ORG_ID" jdbcType="VARCHAR" property="mlOrgId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ORGANIZATION_ID, CITY_ID, COMP_ID, ORGANIZATION_NAME, DEL_FLAG, ORGANIZATION_DEFINITION_ID, 
    PID, ORGANIZATION_PATH, CONTACT_NUMBER, ORGANIZATION_ADDR, CREATION_TIME, UPDATE_TIME, 
    ORGANIZATION_SEQ, ORGANIZATION_USER_NUM, ORGANIZATION_BUSSINESS_TYPE, PARTNER_ID, 
    ROUTEMAC, ORGANIZATION_NO, POSITION_X, POSITION_Y, QX_TYPE, ML_ORG_ID
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganizationExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    where ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_ORGANIZATION
    where ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganizationExample">
    <!--@mbggenerated-->
    delete from FUN_ORGANIZATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="organizationId" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganization" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ORGANIZATION (CITY_ID, COMP_ID, ORGANIZATION_NAME, 
      DEL_FLAG, ORGANIZATION_DEFINITION_ID, PID, 
      ORGANIZATION_PATH, CONTACT_NUMBER, ORGANIZATION_ADDR, 
      CREATION_TIME, UPDATE_TIME, ORGANIZATION_SEQ, 
      ORGANIZATION_USER_NUM, ORGANIZATION_BUSSINESS_TYPE, 
      PARTNER_ID, ROUTEMAC, ORGANIZATION_NO, 
      POSITION_X, POSITION_Y, QX_TYPE, 
      ML_ORG_ID)
    values (#{cityId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{organizationName,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=TINYINT}, #{organizationDefinitionId,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{organizationPath,jdbcType=VARCHAR}, #{contactNumber,jdbcType=VARCHAR}, #{organizationAddr,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{organizationSeq,jdbcType=INTEGER}, 
      #{organizationUserNum,jdbcType=INTEGER}, #{organizationBussinessType,jdbcType=TINYINT}, 
      #{partnerId,jdbcType=INTEGER}, #{routemac,jdbcType=VARCHAR}, #{organizationNo,jdbcType=VARCHAR}, 
      #{positionX,jdbcType=VARCHAR}, #{positionY,jdbcType=VARCHAR}, #{qxType,jdbcType=INTEGER}, 
      #{mlOrgId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="organizationId" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganization" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ORGANIZATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="organizationName != null">
        ORGANIZATION_NAME,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="organizationPath != null">
        ORGANIZATION_PATH,
      </if>
      <if test="contactNumber != null">
        CONTACT_NUMBER,
      </if>
      <if test="organizationAddr != null">
        ORGANIZATION_ADDR,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="organizationSeq != null">
        ORGANIZATION_SEQ,
      </if>
      <if test="organizationUserNum != null">
        ORGANIZATION_USER_NUM,
      </if>
      <if test="organizationBussinessType != null">
        ORGANIZATION_BUSSINESS_TYPE,
      </if>
      <if test="partnerId != null">
        PARTNER_ID,
      </if>
      <if test="routemac != null">
        ROUTEMAC,
      </if>
      <if test="organizationNo != null">
        ORGANIZATION_NO,
      </if>
      <if test="positionX != null">
        POSITION_X,
      </if>
      <if test="positionY != null">
        POSITION_Y,
      </if>
      <if test="qxType != null">
        QX_TYPE,
      </if>
      <if test="mlOrgId != null">
        ML_ORG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="organizationName != null">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="organizationDefinitionId != null">
        #{organizationDefinitionId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null">
        #{organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddr != null">
        #{organizationAddr,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationSeq != null">
        #{organizationSeq,jdbcType=INTEGER},
      </if>
      <if test="organizationUserNum != null">
        #{organizationUserNum,jdbcType=INTEGER},
      </if>
      <if test="organizationBussinessType != null">
        #{organizationBussinessType,jdbcType=TINYINT},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="routemac != null">
        #{routemac,jdbcType=VARCHAR},
      </if>
      <if test="organizationNo != null">
        #{organizationNo,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null">
        #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="qxType != null">
        #{qxType,jdbcType=INTEGER},
      </if>
      <if test="mlOrgId != null">
        #{mlOrgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganizationExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_ORGANIZATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ORGANIZATION
    <set>
      <if test="record.organizationId != null">
        ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.organizationName != null">
        ORGANIZATION_NAME = #{record.organizationName,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        DEL_FLAG = #{record.delFlag,jdbcType=TINYINT},
      </if>
      <if test="record.organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID = #{record.organizationDefinitionId,jdbcType=INTEGER},
      </if>
      <if test="record.pid != null">
        PID = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.organizationPath != null">
        ORGANIZATION_PATH = #{record.organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="record.contactNumber != null">
        CONTACT_NUMBER = #{record.contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationAddr != null">
        ORGANIZATION_ADDR = #{record.organizationAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.organizationSeq != null">
        ORGANIZATION_SEQ = #{record.organizationSeq,jdbcType=INTEGER},
      </if>
      <if test="record.organizationUserNum != null">
        ORGANIZATION_USER_NUM = #{record.organizationUserNum,jdbcType=INTEGER},
      </if>
      <if test="record.organizationBussinessType != null">
        ORGANIZATION_BUSSINESS_TYPE = #{record.organizationBussinessType,jdbcType=TINYINT},
      </if>
      <if test="record.partnerId != null">
        PARTNER_ID = #{record.partnerId,jdbcType=INTEGER},
      </if>
      <if test="record.routemac != null">
        ROUTEMAC = #{record.routemac,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationNo != null">
        ORGANIZATION_NO = #{record.organizationNo,jdbcType=VARCHAR},
      </if>
      <if test="record.positionX != null">
        POSITION_X = #{record.positionX,jdbcType=VARCHAR},
      </if>
      <if test="record.positionY != null">
        POSITION_Y = #{record.positionY,jdbcType=VARCHAR},
      </if>
      <if test="record.qxType != null">
        QX_TYPE = #{record.qxType,jdbcType=INTEGER},
      </if>
      <if test="record.mlOrgId != null">
        ML_ORG_ID = #{record.mlOrgId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ORGANIZATION
    set ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      ORGANIZATION_NAME = #{record.organizationName,jdbcType=VARCHAR},
      DEL_FLAG = #{record.delFlag,jdbcType=TINYINT},
      ORGANIZATION_DEFINITION_ID = #{record.organizationDefinitionId,jdbcType=INTEGER},
      PID = #{record.pid,jdbcType=INTEGER},
      ORGANIZATION_PATH = #{record.organizationPath,jdbcType=VARCHAR},
      CONTACT_NUMBER = #{record.contactNumber,jdbcType=VARCHAR},
      ORGANIZATION_ADDR = #{record.organizationAddr,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      ORGANIZATION_SEQ = #{record.organizationSeq,jdbcType=INTEGER},
      ORGANIZATION_USER_NUM = #{record.organizationUserNum,jdbcType=INTEGER},
      ORGANIZATION_BUSSINESS_TYPE = #{record.organizationBussinessType,jdbcType=TINYINT},
      PARTNER_ID = #{record.partnerId,jdbcType=INTEGER},
      ROUTEMAC = #{record.routemac,jdbcType=VARCHAR},
      ORGANIZATION_NO = #{record.organizationNo,jdbcType=VARCHAR},
      POSITION_X = #{record.positionX,jdbcType=VARCHAR},
      POSITION_Y = #{record.positionY,jdbcType=VARCHAR},
      QX_TYPE = #{record.qxType,jdbcType=INTEGER},
      ML_ORG_ID = #{record.mlOrgId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganization">
    <!--@mbggenerated-->
    update FUN_ORGANIZATION
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="organizationName != null">
        ORGANIZATION_NAME = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID = #{organizationDefinitionId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null">
        ORGANIZATION_PATH = #{organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        CONTACT_NUMBER = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddr != null">
        ORGANIZATION_ADDR = #{organizationAddr,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationSeq != null">
        ORGANIZATION_SEQ = #{organizationSeq,jdbcType=INTEGER},
      </if>
      <if test="organizationUserNum != null">
        ORGANIZATION_USER_NUM = #{organizationUserNum,jdbcType=INTEGER},
      </if>
      <if test="organizationBussinessType != null">
        ORGANIZATION_BUSSINESS_TYPE = #{organizationBussinessType,jdbcType=TINYINT},
      </if>
      <if test="partnerId != null">
        PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="routemac != null">
        ROUTEMAC = #{routemac,jdbcType=VARCHAR},
      </if>
      <if test="organizationNo != null">
        ORGANIZATION_NO = #{organizationNo,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        POSITION_X = #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null">
        POSITION_Y = #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="qxType != null">
        QX_TYPE = #{qxType,jdbcType=INTEGER},
      </if>
      <if test="mlOrgId != null">
        ML_ORG_ID = #{mlOrgId,jdbcType=VARCHAR},
      </if>
    </set>
    where ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganization">
    <!--@mbggenerated-->
    update FUN_ORGANIZATION
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      ORGANIZATION_NAME = #{organizationName,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=TINYINT},
      ORGANIZATION_DEFINITION_ID = #{organizationDefinitionId,jdbcType=INTEGER},
      PID = #{pid,jdbcType=INTEGER},
      ORGANIZATION_PATH = #{organizationPath,jdbcType=VARCHAR},
      CONTACT_NUMBER = #{contactNumber,jdbcType=VARCHAR},
      ORGANIZATION_ADDR = #{organizationAddr,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ORGANIZATION_SEQ = #{organizationSeq,jdbcType=INTEGER},
      ORGANIZATION_USER_NUM = #{organizationUserNum,jdbcType=INTEGER},
      ORGANIZATION_BUSSINESS_TYPE = #{organizationBussinessType,jdbcType=TINYINT},
      PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      ROUTEMAC = #{routemac,jdbcType=VARCHAR},
      ORGANIZATION_NO = #{organizationNo,jdbcType=VARCHAR},
      POSITION_X = #{positionX,jdbcType=VARCHAR},
      POSITION_Y = #{positionY,jdbcType=VARCHAR},
      QX_TYPE = #{qxType,jdbcType=INTEGER},
      ML_ORG_ID = #{mlOrgId,jdbcType=VARCHAR}
    where ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
  </update>
  <select id="selectOneByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganizationExample" resultMap="BaseResultMap">
    select TOP 1
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <resultMap extends="BaseResultMap" id="organizationListResultMap" type="com.myfun.erpWeb.common.vo.OrganizationVO">
      <result column="DEFINITION_LEVEL" jdbcType="INTEGER" property="definitionLevel" />
  </resultMap>
  <select id="getOrganizationList" resultMap="organizationListResultMap">
    SELECT a.*, b.DEFINITION_LEVEL
    FROM FUN_ORGANIZATION a 
    LEFT JOIN FUN_ORGANIZATION_DEFINITION b ON b.DEFINITION_ID = ORGANIZATION_DEFINITION_ID 
    WHERE <!-- [2020-03-09] 陈峰  取消DEL_FLAG=0的限制，返回所有组织信息  bugId#34410 【统计分析】房源维护，部门展示有误 -->
    <choose>
      <when test="null == compId">
        a.COMP_ID IN (SELECT COMP_ID FROM FUN_COMP WHERE MAIN_COMP IN (1, 2)) 
      </when>
      <otherwise>
  		a.COMP_ID = #{compId} 
      </otherwise>
    </choose>
    <if test="null != updateTime">
      AND a.UPDATE_TIME &gt; #{updateTime}
    </if>
  </select>
  
  <select id="countByEqualOrgName" resultType="java.lang.Integer">
  	select count(*) from FUN_ORGANIZATION where CITY_ID = #{shardCityId} and COMP_ID = #{compId} and DEL_FLAG = 0 and ORGANIZATION_NAME = #{organizationName}
  </select>
  
  <insert id="insertOrganizationInfo" keyProperty="organizationId" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganization" useGeneratedKeys="true">
  	insert into FUN_ORGANIZATION 
        (ORGANIZATION_ID,CITY_ID,COMP_ID,ORGANIZATION_NAME,DEL_FLAG,ORGANIZATION_DEFINITION_ID,PID,ORGANIZATION_PATH,
        CONTACT_NUMBER,ORGANIZATION_ADDR,CREATION_TIME,UPDATE_TIME,ORGANIZATION_SEQ,ORGANIZATION_USER_NUM,ORGANIZATION_BUSSINESS_TYPE,ORGANIZATION_NO)
      values
        (#{organizationId},#{cityId},#{compId},#{organizationName},#{delFlag},#{organizationDefinitionId},#{pid},#{organizationPath},
        #{contactNumber},#{organizationAddr},#{creationTime},#{updateTime},#{organizationSeq},#{organizationUserNum},#{organizationBussinessType},#{organizationNo})
  </insert>
  

  <resultMap id="getOrganizationVOResultMap" type="com.myfun.erpWeb.managecenter.userOpers.vo.ErpOrganizationVO">
    <result column="ORGANIZATION_ID" jdbcType="INTEGER" property="organizationId" />
    <result column="ORGANIZATION_DEFINITION_ID" jdbcType="INTEGER" property="organizationDefinitionId" />
    <result column="PID" jdbcType="INTEGER" property="pid" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="ORGANIZATION_NAME" jdbcType="VARCHAR" property="organizationName" />
    <result column="DEFINITION_NAME" jdbcType="VARCHAR" property="definitionName" />
    <result column="MAPPING_DB_FIELD" jdbcType="VARCHAR" property="mappingDbField" />
    <result column="DEFINITION_LEVEL" jdbcType="INTEGER" property="definitionLevel" />
    <result column="PARTNER_ID" jdbcType="INTEGER" property="partnerId" />
    <result column="ORGANIZATION_PATH" jdbcType="VARCHAR" property="organizationPath" />
    <result column="ORGANIZATION_USER_NUM" jdbcType="INTEGER" property="organizationUserNum" />
  </resultMap>
  <select id="getOrganizationVOs" resultMap="getOrganizationVOResultMap">
        select
            a.ORGANIZATION_ID,ORGANIZATION_DEFINITION_ID,PID, a.COMP_ID,ORGANIZATION_NAME,DEFINITION_NAME,MAPPING_DB_FIELD, DEFINITION_LEVEL,a.PARTNER_ID,a.ORGANIZATION_PATH,a.ORGANIZATION_USER_NUM
        from FUN_ORGANIZATION a
        join FUN_ORGANIZATION_DEFINITION b on a.ORGANIZATION_DEFINITION_ID	 = b.DEFINITION_ID
        WHERE a.COMP_ID = #{compId}
        <if test="null != organizationIds and organizationIds.size() &gt; 0">
           and a.ORGANIZATION_ID in <foreach close=")" collection="organizationIds" item="organizationId" open="(" separator=",">#{organizationId}</foreach>
        </if>
        ORDER BY DEFINITION_LEVEL ASC
  </select>
  <select id="selectOrganizationMap" resultType="com.myfun.service.business.erpdb.bean.vo.OrganizationDic">
    SELECT A.ORGANIZATION_ID orgId,B.MAPPING_DB_FIELD dbFieldPath FROM FUN_ORGANIZATION A
        LEFT JOIN FUN_ORGANIZATION_DEFINITION B ON A.ORGANIZATION_DEFINITION_ID = B.DEFINITION_ID
      WHERE A.DEL_FLAG = 0 AND A.COMP_ID = #{compId} AND B.DEL_FLAG = 0
  </select>

  <select id="selectByPartnerIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    where COMP_ID=#{compId} AND PARTNER_ID  in
    <foreach close=")" collection="partnerIds" item="item" open="(" separator=",">
      #{item}
    </foreach>
    AND DEL_FLAG = 0
  </select>

  <select id="selectOrgByOrgWithOrgIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    where ORGANIZATION_ID  in
    <foreach close=")" collection="organizationIds" item="item" open="(" separator=",">
      #{item}
    </foreach>
    AND DEL_FLAG = 0
  </select>

  <select id="selectOrgByOrgId" resultMap="BaseResultMap">
    select TOP 1
        <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    where COMP_ID=#{compId} 
    <if test="null != organizationId and organizationId &gt; 0">
	    AND ORGANIZATION_ID = #{organizationId}
    </if>
    AND DEL_FLAG = 0
  </select>
   <select id="selectOrgByOrgIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    where COMP_ID=#{compId}
    <if test="organizationIds!=null and organizationIds.size&gt;0">
      AND ORGANIZATION_ID in
      <foreach close=")" collection="organizationIds" item="item" open="(" separator=",">
        #{item}
      </foreach>
    </if>
    AND DEL_FLAG = 0
  </select>
  <update id="updateMoveOrgPath" parameterType="map">
    update FUN_ORGANIZATION
    set 
      ORGANIZATION_PATH = REPLACE (ORGANIZATION_PATH , #{replaceOldPrefix} ,#{replaceNewPrefix} ),
      PARTNER_ID = #{partnerId},UPDATE_TIME=getDate()
    where COMP_ID =#{compId} and ORGANIZATION_PATH like #{moveOrgId};
    update FUN_ORGANIZATION set PID = #{newPid},UPDATE_TIME=getDate() where ORGANIZATION_ID = #{moveOrgIdintVal};
    update FUN_USERS
    set 
      TISSUE_LINE = REPLACE (TISSUE_LINE, #{replaceOldPrefix} ,#{replaceNewPrefix}),
      PARTNER_ID = #{partnerId},UPDATE_TIME=getDate()
      <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
    where COMP_ID =#{compId} and TISSUE_LINE like #{moveOrgId};
    
      update FUN_SALE
    set 
      TISSUE_LINE = REPLACE (TISSUE_LINE, #{replaceOldPrefix} ,#{replaceNewPrefix}),
      PARTNER_ID = #{partnerId}
      <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and TISSUE_LINE like #{moveOrgId};
    
     update FUN_LEASE
    set 
      TISSUE_LINE = REPLACE (TISSUE_LINE, #{replaceOldPrefix} ,#{replaceNewPrefix}),
      PARTNER_ID = #{partnerId}
      <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and TISSUE_LINE like #{moveOrgId};
    
       update FUN_BUY_CUSTOMER 
    set 
      TISSUE_LINE = REPLACE (TISSUE_LINE, #{replaceOldPrefix} ,#{replaceNewPrefix}),
      PARTNER_ID = #{partnerId}
      <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and TISSUE_LINE like #{moveOrgId};
    
       update FUN_RENT_CUSTOMER 
    set 
      TISSUE_LINE = REPLACE (TISSUE_LINE, #{replaceOldPrefix} ,#{replaceNewPrefix}),
      PARTNER_ID = #{partnerId}
      <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and TISSUE_LINE like #{moveOrgId};
       update FINE 
    set 
      ORGANIZATION_PATH = REPLACE (ORGANIZATION_PATH, #{replaceOldPrefix} ,#{replaceNewPrefix})
       <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
    where COMP_ID =#{compId} and ORGANIZATION_PATH like #{moveOrgId};
       update WORK_LOG 
    set 
      ORGANIZATION_PATH = REPLACE (ORGANIZATION_PATH, #{replaceOldPrefix} ,#{replaceNewPrefix})
       <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
    where COMP_ID =#{compId} and ORGANIZATION_PATH like #{moveOrgId};
       update FUN_ECARDS 
    set 
      ORGANIZATION_PATH = REPLACE (ORGANIZATION_PATH, #{replaceOldPrefix} ,#{replaceNewPrefix})
       <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
    where COMP_ID =#{compId} and ORGANIZATION_PATH like #{moveOrgId};
       update FUN_WAGE 
    set 
      ORGANIZATION_PATH = REPLACE (ORGANIZATION_PATH, #{replaceOldPrefix} ,#{replaceNewPrefix})
       <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
    where COMP_ID =#{compId} and ORGANIZATION_PATH like #{moveOrgId} AND CREATE_DATE &gt;=#{startTime} and CREATE_DATE &lt;=#{endTime};
       update FUN_TASK 
    set 
      ORGANIZATION_PATH = REPLACE (ORGANIZATION_PATH, #{replaceOldPrefix} ,#{replaceNewPrefix})
      <if test="newDeptId!=null"> 
      	,DEPT_ID = #{newDeptId}
      </if>
    where COMP_ID =#{compId} and ORGANIZATION_PATH like #{moveOrgId};
  </update>
  <update id="updateMoveUserNewOrg" parameterType="map">
   
    update FUN_USERS
    set 
      TISSUE_LINE = #{organizationPath},
      PARTNER_ID = #{partnerId},ORGANIZATION_ID= #{newOrgId},UPDATE_TIME=getDate()
    where COMP_ID =#{compId} and USER_ID = #{userId};
    
      update FUN_SALE
    set 
     TISSUE_LINE =  #{organizationPath},
      PARTNER_ID = #{partnerId},ORGANIZATION_ID= #{newOrgId}
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and USER_ID = #{userId};
    
     update FUN_LEASE
    set 
     TISSUE_LINE =  #{organizationPath},
      PARTNER_ID = #{partnerId},ORGANIZATION_ID= #{newOrgId}
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and USER_ID = #{userId};
    
       update FUN_BUY_CUSTOMER 
    set 
     TISSUE_LINE =  #{organizationPath},
      PARTNER_ID = #{partnerId},ORGANIZATION_ID= #{newOrgId}
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and USER_ID = #{userId};
    
       update FUN_RENT_CUSTOMER 
    set 
     TISSUE_LINE =  #{organizationPath},
      PARTNER_ID = #{partnerId},ORGANIZATION_ID= #{newOrgId}
      <if test="bussinessType!=null"> 
      	,INFO_TYPE = #{bussinessType}
      </if>
    where COMP_ID =#{compId} and USER_ID = #{userId};
    
       update FINE 
        set 
     ORGANIZATION_PATH =  #{organizationPath}
    where COMP_ID =#{compId} and FINE_DEST = #{userId};
       update WORK_LOG 
    set 
        ORGANIZATION_PATH =  #{organizationPath}
    where COMP_ID =#{compId} and CREATOR_UID = #{userId};
       update FUN_ECARDS 
    set 
     ORGANIZATION_PATH =  #{organizationPath} 
    where COMP_ID =#{compId} and ARCHIVE_ID = #{archiveId};
       update FUN_WAGE 
    set 
      ORGANIZATION_PATH = #{organizationPath} 
    where COMP_ID =#{compId} and USER_ID = #{userId} AND CREATE_DATE &gt;=#{startTime} and CREATE_DATE &lt;=#{endTime};
    UPDATE FUN_TASK SET  ORGANIZATION_PATH = #{organizationPath}  WHERE COMP_ID = #{compId} and TASK_OWNER = #{userId}
  </update>
  <update id="updateOrganizationUserNum" parameterType="map">
    update FUN_ORGANIZATION
    set 
      ORGANIZATION_USER_NUM = iif(ORGANIZATION_USER_NUM + #{userNum}&gt;=0,ORGANIZATION_USER_NUM + #{userNum},0),UPDATE_TIME=getDate()
    where COMP_ID =#{compId} and 
    ORGANIZATION_ID in
    <foreach close=")" collection="dealPidList" item="organizationId" open="(" separator=",">
    	#{organizationId}
    </foreach>
  </update>


  <select id="selectOneLevelOrganization" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from FUN_ORGANIZATION
    where COMP_ID=#{compId}
    and ORGANIZATION_DEFINITION_ID = #{defId}
    <if test="whereCause!=null and whereCause!=''">
      and ${whereCause}
    </if>
    AND DEL_FLAG = 0
  </select>

  <select id="selectOrgByOrgPath" resultType="com.myfun.erpWeb.managecenter.profit.vo.ProfiTargetNewOrgVO">
    SELECT B.MAPPING_DB_FIELD mappingDbField,A.ORGANIZATION_ID orgId FROM dbo.FUN_ORGANIZATION A JOIN dbo.FUN_ORGANIZATION_DEFINITION B ON A.ORGANIZATION_DEFINITION_ID = B.DEFINITION_ID
    WHERE b.DEL_FLAG = 0 AND A.DEL_FLAG = 0 AND A.COMP_ID = #{compId} AND A.ORGANIZATION_ID  IN (${orgIds})
    ORDER BY A.ORGANIZATION_ID
  </select>

  <select id="selectOrgInfoByDefAndOrgId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM dbo.FUN_ORGANIZATION
    where COMP_ID = #{compId} AND DEL_FLAG = 0
      <if test="null != defId">
        AND ORGANIZATION_DEFINITION_ID = #{defId}
      </if>
      <if test="null != organizationId and organizationId &gt; 0">
        AND ORGANIZATION_PATH LIKE '%:${organizationId}:%'
      </if>
    ORDER BY ORGANIZATION_ID
  </select>
  
    <!-- 根据组织id线和defid查ErpFunOrganization -->
    <select id="selectOrgByTissueLine" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM dbo.FUN_ORGANIZATION 
    WHERE ORGANIZATION_DEFINITION_ID = #{organizationDefId} AND COMP_ID = #{compId}
    AND ORGANIZATION_ID IN 
    <foreach close=")" collection="tissueLines" item="tissue" open="(" separator=",">
            #{tissue}
    </foreach>

  </select>
  
    <select id="getAcrossTheCityOrganization" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" /> 
  	FROM FUN_ORGANIZATION 
  	WHERE DEL_FLAG = 0 AND COMP_ID IN (SELECT COMP_ID FROM FUN_COMP WHERE MAIN_COMP IN (1, 2)) 
  </select>
  <select id="getChildOrganizationCount" resultType="com.myfun.erpWeb.common.vo.GetChildOrganizationCountVO">
  	SELECT COUNT(1) as countNum, PID as pId FROM FUN_ORGANIZATION WHERE DEL_FLAG = 0 AND COMP_ID IN (SELECT COMP_ID FROM FUN_COMP WHERE MAIN_COMP IN (1,2)) AND PID &gt; 0 GROUP BY PID
  </select>
  <select id="hasGreaterThanUpdateTime" resultMap="BaseResultMap">
  	SELECT TOP 1 <include refid="Base_Column_List" /> 
  	FROM FUN_ORGANIZATION 
  	WHERE DEL_FLAG = 0 AND COMP_ID IN (SELECT COMP_ID FROM FUN_COMP WHERE MAIN_COMP IN (1, 2)) AND UPDATE_TIME &gt; #{updateTime} 
  </select>

  <insert id="insertSelectiveNew" parameterType="com.myfun.repository.erpdb.po.ErpFunOrganization">
    insert into FUN_ORGANIZATION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="organizationId != null">
        ORGANIZATION_ID,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="organizationName != null">
        ORGANIZATION_NAME,
      </if>
      <if test="delFlag != null">
        DEL_FLAG,
      </if>
      <if test="organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID,
      </if>
      <if test="pid != null">
        PID,
      </if>
      <if test="organizationPath != null">
        ORGANIZATION_PATH,
      </if>
      <if test="contactNumber != null">
        CONTACT_NUMBER,
      </if>
      <if test="organizationAddr != null">
        ORGANIZATION_ADDR,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="organizationSeq != null">
        ORGANIZATION_SEQ,
      </if>
      <if test="organizationUserNum != null">
        ORGANIZATION_USER_NUM,
      </if>
      <if test="organizationBussinessType != null">
        ORGANIZATION_BUSSINESS_TYPE,
      </if>
      <if test="partnerId != null">
        PARTNER_ID,
      </if>
      <if test="organizationNo != null">
        ORGANIZATION_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="organizationName != null">
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="organizationDefinitionId != null">
        #{organizationDefinitionId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null">
        #{organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddr != null">
        #{organizationAddr,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationSeq != null">
        #{organizationSeq,jdbcType=INTEGER},
      </if>
      <if test="organizationUserNum != null">
        #{organizationUserNum,jdbcType=INTEGER},
      </if>
      <if test="organizationBussinessType != null">
        #{organizationBussinessType,jdbcType=TINYINT},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="organizationNo != null">
        #{organizationNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelectiveNew" parameterType="com.myfun.repository.erpdb.po.ErpFunOutdeal">
    update FUN_ORGANIZATION
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="organizationName != null">
        ORGANIZATION_NAME = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        DEL_FLAG = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="organizationDefinitionId != null">
        ORGANIZATION_DEFINITION_ID = #{organizationDefinitionId,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        PID = #{pid,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null">
        ORGANIZATION_PATH = #{organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        CONTACT_NUMBER = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="organizationAddr != null">
        ORGANIZATION_ADDR = #{organizationAddr,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organizationSeq != null">
        ORGANIZATION_SEQ = #{organizationSeq,jdbcType=INTEGER},
      </if>
      <if test="organizationUserNum != null">
        ORGANIZATION_USER_NUM = #{organizationUserNum,jdbcType=INTEGER},
      </if>
      <if test="organizationBussinessType != null">
        ORGANIZATION_BUSSINESS_TYPE = #{organizationBussinessType,jdbcType=TINYINT},
      </if>
      <if test="partnerId != null">
        PARTNER_ID = #{partnerId,jdbcType=INTEGER},
      </if>
    </set>
    where ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
  </update>
  
  
  
    <select id="selectDefIdByOrgId" resultType="java.lang.Integer">
   select ORGANIZATION_DEFINITION_ID from FUN_ORGANIZATION where COMP_ID = #{compId} AND  ORGANIZATION_ID = #{organizationId}
  </select>

  <select id="selectOrgByOrganizationId" resultMap="BaseResultMap">
     select <include refid="Base_Column_List" /> from FUN_ORGANIZATION where ORGANIZATION_ID = #{organizationId}
  </select>

  <select id="getLatestLevelOrgIdLessthanDefId" resultType="int">
    select
    top 1
      A.ORGANIZATION_ID
    from FUN_ORGANIZATION A  join FUN_ORGANIZATION_DEFINITION B ON A.ORGANIZATION_DEFINITION_ID=B.DEFINITION_ID
    where A.COMP_ID = #{compId} and A.ORGANIZATION_ID in
    <foreach close=")" collection="orgIds" item="orgId" open="(" separator=",">
     #{orgId}
    </foreach>
  	and B.DEFINITION_LEVEL &gt; (select DEFINITION_LEVEL from FUN_ORGANIZATION_DEFINITION where COMP_ID =#{compId} and DEFINITION_ID =#{operDefId})
    order by B.DEFINITION_LEVEL DESC
  </select>
</mapper>