<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunDealPhotoMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunDealPhoto">
    <!--@mbggenerated-->
    <id column="PHOTO_ID" jdbcType="INTEGER" property="photoId" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEAL_ID" jdbcType="INTEGER" property="dealId" />
    <result column="PHOTO_ADDR" jdbcType="VARCHAR" property="photoAddr" />
    <result column="PHOTO_TYPE" jdbcType="TINYINT" property="photoType" />
    <result column="USEAGE_TYPE" jdbcType="TINYINT" property="useageType" />
    <result column="UPLOAD_USER" jdbcType="INTEGER" property="uploadUser" />
    <result column="UPLOAD_DATE" jdbcType="TIMESTAMP" property="uploadDate" />
    <result column="TRANSMIT_FLAG" jdbcType="TINYINT" property="transmitFlag" />
    <result column="UPLOAD_SOURCE" jdbcType="VARCHAR" property="uploadSource" />
    <result column="UPLOAD_USER_NAME" jdbcType="VARCHAR" property="uploadUserName" />
    <result column="PELLUCIDITY" jdbcType="INTEGER" property="pellucidity" />
    <result column="FILE_TYPE" jdbcType="TINYINT" property="fileType" />
    <result column="FILE_SUB_TYPE" jdbcType="TINYINT" property="fileSubType" />
    <result column="UPLOAD_DEPT_NAME" jdbcType="VARCHAR" property="uploadDeptName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    PHOTO_ID, COMP_ID, DEAL_ID, PHOTO_ADDR, PHOTO_TYPE, USEAGE_TYPE, UPLOAD_USER, UPLOAD_DATE, 
    TRANSMIT_FLAG, UPLOAD_SOURCE, UPLOAD_USER_NAME, PELLUCIDITY, FILE_TYPE, FILE_SUB_TYPE, 
    UPLOAD_DEPT_NAME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunDealPhotoExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_DEAL_PHOTO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_DEAL_PHOTO
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_DEAL_PHOTO
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunDealPhotoExample">
    <!--@mbggenerated-->
    delete from FUN_DEAL_PHOTO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="photoId" parameterType="com.myfun.repository.erpdb.po.ErpFunDealPhoto" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_DEAL_PHOTO (COMP_ID, DEAL_ID, PHOTO_ADDR, 
      PHOTO_TYPE, USEAGE_TYPE, UPLOAD_USER, 
      UPLOAD_DATE, TRANSMIT_FLAG, UPLOAD_SOURCE, 
      UPLOAD_USER_NAME, PELLUCIDITY, FILE_TYPE, 
      FILE_SUB_TYPE, UPLOAD_DEPT_NAME)
    values (#{compId,jdbcType=INTEGER}, #{dealId,jdbcType=INTEGER}, #{photoAddr,jdbcType=VARCHAR}, 
      #{photoType,jdbcType=TINYINT}, #{useageType,jdbcType=TINYINT}, #{uploadUser,jdbcType=INTEGER}, 
      #{uploadDate,jdbcType=TIMESTAMP}, #{transmitFlag,jdbcType=TINYINT}, #{uploadSource,jdbcType=VARCHAR}, 
      #{uploadUserName,jdbcType=VARCHAR}, #{pellucidity,jdbcType=INTEGER}, #{fileType,jdbcType=TINYINT}, 
      #{fileSubType,jdbcType=TINYINT}, #{uploadDeptName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="photoId" parameterType="com.myfun.repository.erpdb.po.ErpFunDealPhoto" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_DEAL_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="dealId != null">
        DEAL_ID,
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR,
      </if>
      <if test="photoType != null">
        PHOTO_TYPE,
      </if>
      <if test="useageType != null">
        USEAGE_TYPE,
      </if>
      <if test="uploadUser != null">
        UPLOAD_USER,
      </if>
      <if test="uploadDate != null">
        UPLOAD_DATE,
      </if>
      <if test="transmitFlag != null">
        TRANSMIT_FLAG,
      </if>
      <if test="uploadSource != null">
        UPLOAD_SOURCE,
      </if>
      <if test="uploadUserName != null">
        UPLOAD_USER_NAME,
      </if>
      <if test="pellucidity != null">
        PELLUCIDITY,
      </if>
      <if test="fileType != null">
        FILE_TYPE,
      </if>
      <if test="fileSubType != null">
        FILE_SUB_TYPE,
      </if>
      <if test="uploadDeptName != null">
        UPLOAD_DEPT_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="dealId != null">
        #{dealId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null">
        #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        #{photoType,jdbcType=TINYINT},
      </if>
      <if test="useageType != null">
        #{useageType,jdbcType=TINYINT},
      </if>
      <if test="uploadUser != null">
        #{uploadUser,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transmitFlag != null">
        #{transmitFlag,jdbcType=TINYINT},
      </if>
      <if test="uploadSource != null">
        #{uploadSource,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserName != null">
        #{uploadUserName,jdbcType=VARCHAR},
      </if>
      <if test="pellucidity != null">
        #{pellucidity,jdbcType=INTEGER},
      </if>
      <if test="fileType != null">
        #{fileType,jdbcType=TINYINT},
      </if>
      <if test="fileSubType != null">
        #{fileSubType,jdbcType=TINYINT},
      </if>
      <if test="uploadDeptName != null">
        #{uploadDeptName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunDealPhotoExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_DEAL_PHOTO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_DEAL_PHOTO
    <set>
      <if test="record.photoId != null">
        PHOTO_ID = #{record.photoId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.dealId != null">
        DEAL_ID = #{record.dealId,jdbcType=INTEGER},
      </if>
      <if test="record.photoAddr != null">
        PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.photoType != null">
        PHOTO_TYPE = #{record.photoType,jdbcType=TINYINT},
      </if>
      <if test="record.useageType != null">
        USEAGE_TYPE = #{record.useageType,jdbcType=TINYINT},
      </if>
      <if test="record.uploadUser != null">
        UPLOAD_USER = #{record.uploadUser,jdbcType=INTEGER},
      </if>
      <if test="record.uploadDate != null">
        UPLOAD_DATE = #{record.uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transmitFlag != null">
        TRANSMIT_FLAG = #{record.transmitFlag,jdbcType=TINYINT},
      </if>
      <if test="record.uploadSource != null">
        UPLOAD_SOURCE = #{record.uploadSource,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadUserName != null">
        UPLOAD_USER_NAME = #{record.uploadUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.pellucidity != null">
        PELLUCIDITY = #{record.pellucidity,jdbcType=INTEGER},
      </if>
      <if test="record.fileType != null">
        FILE_TYPE = #{record.fileType,jdbcType=TINYINT},
      </if>
      <if test="record.fileSubType != null">
        FILE_SUB_TYPE = #{record.fileSubType,jdbcType=TINYINT},
      </if>
      <if test="record.uploadDeptName != null">
        UPLOAD_DEPT_NAME = #{record.uploadDeptName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_DEAL_PHOTO
    set PHOTO_ID = #{record.photoId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      DEAL_ID = #{record.dealId,jdbcType=INTEGER},
      PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      PHOTO_TYPE = #{record.photoType,jdbcType=TINYINT},
      USEAGE_TYPE = #{record.useageType,jdbcType=TINYINT},
      UPLOAD_USER = #{record.uploadUser,jdbcType=INTEGER},
      UPLOAD_DATE = #{record.uploadDate,jdbcType=TIMESTAMP},
      TRANSMIT_FLAG = #{record.transmitFlag,jdbcType=TINYINT},
      UPLOAD_SOURCE = #{record.uploadSource,jdbcType=VARCHAR},
      UPLOAD_USER_NAME = #{record.uploadUserName,jdbcType=VARCHAR},
      PELLUCIDITY = #{record.pellucidity,jdbcType=INTEGER},
      FILE_TYPE = #{record.fileType,jdbcType=TINYINT},
      FILE_SUB_TYPE = #{record.fileSubType,jdbcType=TINYINT},
      UPLOAD_DEPT_NAME = #{record.uploadDeptName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunDealPhoto">
    <!--@mbggenerated-->
    update FUN_DEAL_PHOTO
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="dealId != null">
        DEAL_ID = #{dealId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        PHOTO_TYPE = #{photoType,jdbcType=TINYINT},
      </if>
      <if test="useageType != null">
        USEAGE_TYPE = #{useageType,jdbcType=TINYINT},
      </if>
      <if test="uploadUser != null">
        UPLOAD_USER = #{uploadUser,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null">
        UPLOAD_DATE = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="transmitFlag != null">
        TRANSMIT_FLAG = #{transmitFlag,jdbcType=TINYINT},
      </if>
      <if test="uploadSource != null">
        UPLOAD_SOURCE = #{uploadSource,jdbcType=VARCHAR},
      </if>
      <if test="uploadUserName != null">
        UPLOAD_USER_NAME = #{uploadUserName,jdbcType=VARCHAR},
      </if>
      <if test="pellucidity != null">
        PELLUCIDITY = #{pellucidity,jdbcType=INTEGER},
      </if>
      <if test="fileType != null">
        FILE_TYPE = #{fileType,jdbcType=TINYINT},
      </if>
      <if test="fileSubType != null">
        FILE_SUB_TYPE = #{fileSubType,jdbcType=TINYINT},
      </if>
      <if test="uploadDeptName != null">
        UPLOAD_DEPT_NAME = #{uploadDeptName,jdbcType=VARCHAR},
      </if>
    </set>
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunDealPhoto">
    <!--@mbggenerated-->
    update FUN_DEAL_PHOTO
    set COMP_ID = #{compId,jdbcType=INTEGER},
      DEAL_ID = #{dealId,jdbcType=INTEGER},
      PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      PHOTO_TYPE = #{photoType,jdbcType=TINYINT},
      USEAGE_TYPE = #{useageType,jdbcType=TINYINT},
      UPLOAD_USER = #{uploadUser,jdbcType=INTEGER},
      UPLOAD_DATE = #{uploadDate,jdbcType=TIMESTAMP},
      TRANSMIT_FLAG = #{transmitFlag,jdbcType=TINYINT},
      UPLOAD_SOURCE = #{uploadSource,jdbcType=VARCHAR},
      UPLOAD_USER_NAME = #{uploadUserName,jdbcType=VARCHAR},
      PELLUCIDITY = #{pellucidity,jdbcType=INTEGER},
      FILE_TYPE = #{fileType,jdbcType=TINYINT},
      FILE_SUB_TYPE = #{fileSubType,jdbcType=TINYINT},
      UPLOAD_DEPT_NAME = #{uploadDeptName,jdbcType=VARCHAR}
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
  
	<select id="getPhotoTypeCount" resultType="java.lang.Integer">
		select count(1) from FUN_DEAL_PHOTO where 
		DEAL_ID = #{dealId}
		AND PHOTO_TYPE = #{photoType}
		AND TRANSMIT_FLAG=0 and PHOTO_ADDR is not null
	</select>

	<select id="getDealFiles" resultMap="BaseResultMap">
		select
		PHOTO_ID,PHOTO_ADDR,PHOTO_TYPE,UPLOAD_SOURCE
		from FUN_DEAL_PHOTO where
		TRANSMIT_FLAG=0
		<choose>
			<when test="photoType != null">AND PHOTO_TYPE = #{photoType}</when>
			<otherwise>AND PHOTO_TYPE IN (5,6)</otherwise>
		</choose>
		<if test="compId != null">AND COMP_ID=#{compId}</if>
		<if test="dealId != null">AND DEAL_ID = #{dealId}</if>
	</select>
	
	
	<select id="getPhotoListOrderByPhotoIdDesc" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select top 50 PHOTO_ID,PHOTO_ADDR
		from FUN_DEAL_PHOTO
		where UPLOAD_DATE &lt; '2017-04-15 18:00:00' and TRANSMIT_FLAG &lt; 2 
		<if test="photoId != null and photoId &gt; 0">AND PHOTO_ID &lt; #{photoId}</if>
		order by PHOTO_ID desc
	</select>

  <resultMap extends="BaseResultMap" id="extBaseResultMap" type="com.myfun.repository.erpdb.dto.ErpFunDealPhotoDto">
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="UPLOAD_USER" jdbcType="INTEGER" property="uploadUser" />
  </resultMap>
  
  <select id="getDealPhotoList" resultMap="extBaseResultMap">
      SELECT a.PHOTO_TYPE,a.PHOTO_ADDR,a.PHOTO_ID,b.DEPT_ID, a.UPLOAD_USER, a.FILE_TYPE, a.FILE_SUB_TYPE,a.UPLOAD_DEPT_NAME,a.UPLOAD_USER_NAME,a.UPLOAD_DATE
      FROM FUN_DEAL_PHOTO a
      LEFT JOIN FUN_USERS b ON a.UPLOAD_USER = b.USER_ID
      LEFT JOIN FUN_DEPTS c ON b.DEPT_ID = c.DEPT_ID
      WHERE a.DEAL_ID = #{dealId} AND a.TRANSMIT_FLAG = 0 AND a.PHOTO_TYPE IN
        <foreach close=")" collection="photoTypes" item="photoType" open="(" separator=",">
            #{photoType}
        </foreach>
  </select>

	<update id="updateTransmitFlag">
		update FUN_DEAL_PHOTO set TRANSMIT_FLAG=2 where COMP_ID=#{compId} and PHOTO_TYPE=#{photoType}
	</update>
</mapper>