<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunCaseFavoriteMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunCaseFavorite" >
    <!--@mbggenerated-->
    <id column="FAVORITE_ID" property="favoriteId" jdbcType="INTEGER" />
    <result column="CASE_ID" property="caseId" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="FAVORITE_UID" property="favoriteUid" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="CASE_NO" property="caseNo" jdbcType="VARCHAR" />
    <result column="CASE_TYPE" property="caseType" jdbcType="TINYINT" />
    <result column="FAVORITE_STATUS" property="favoriteStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    FAVORITE_ID, CASE_ID, CREATION_TIME, FAVORITE_UID, COMP_ID, CASE_NO, CASE_TYPE, FAVORITE_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_CASE_FAVORITE
    where FAVORITE_ID = #{favoriteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_CASE_FAVORITE
    where FAVORITE_ID = #{favoriteId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunCaseFavorite" useGeneratedKeys="true" keyProperty="favoriteId" >
    <!--@mbggenerated-->
    insert into FUN_CASE_FAVORITE (CASE_ID, CREATION_TIME, FAVORITE_UID, 
      COMP_ID, CASE_NO, CASE_TYPE, 
      FAVORITE_STATUS)
    values (#{caseId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, #{favoriteUid,jdbcType=INTEGER}, 
      #{compId,jdbcType=INTEGER}, #{caseNo,jdbcType=VARCHAR}, #{caseType,jdbcType=TINYINT}, 
      #{favoriteStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunCaseFavorite" useGeneratedKeys="true" keyProperty="favoriteId" >
    <!--@mbggenerated-->
    insert into FUN_CASE_FAVORITE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caseId != null" >
        CASE_ID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="favoriteUid != null" >
        FAVORITE_UID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="caseNo != null" >
        CASE_NO,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="favoriteStatus != null" >
        FAVORITE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favoriteUid != null" >
        #{favoriteUid,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseNo != null" >
        #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="favoriteStatus != null" >
        #{favoriteStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunCaseFavorite" >
    <!--@mbggenerated-->
    update FUN_CASE_FAVORITE
    <set >
      <if test="caseId != null" >
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favoriteUid != null" >
        FAVORITE_UID = #{favoriteUid,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseNo != null" >
        CASE_NO = #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="favoriteStatus != null" >
        FAVORITE_STATUS = #{favoriteStatus,jdbcType=TINYINT},
      </if>
    </set>
    where FAVORITE_ID = #{favoriteId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunCaseFavorite" >
    <!--@mbggenerated-->
    update FUN_CASE_FAVORITE
    set CASE_ID = #{caseId,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      FAVORITE_UID = #{favoriteUid,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CASE_NO = #{caseNo,jdbcType=VARCHAR},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      FAVORITE_STATUS = #{favoriteStatus,jdbcType=TINYINT}
    where FAVORITE_ID = #{favoriteId,jdbcType=INTEGER}
  </update>
  <select id="count" resultType="java.lang.Integer" parameterType="com.myfun.repository.erpdb.param.CaseFavoriteParam">
    SELECT COUNT(*) AS ATTR_NAME FROM FUN_CASE_FAVORITE
    WHERE FAVORITE_UID = #{param.favoriteUid} AND COMP_ID = #{param.compId} AND CASE_TYPE = #{param.caseType} AND FAVORITE_STATUS = 1
  </select>
  <select id="getByFavoriteUid" resultMap="BaseResultMap"  parameterType="com.myfun.repository.erpdb.param.CaseFavoriteParam">
    select
    <include refid="Base_Column_List" />
    from FUN_CASE_FAVORITE
    where FAVORITE_UID = #{param.favoriteUid} and CASE_ID = #{param.caseId} and CASE_TYPE = #{param.caseType} AND COMP_ID = #{param.compId}
  </select>
  
	<select id="getFavoriteList" resultType="java.lang.Integer">
		select FAVORITE_UID from FUN_CASE_FAVORITE
		where COMP_ID = #{compId} AND CASE_ID = #{caseId} and CASE_TYPE = #{caseType}
	</select>
	
	<select id="getFavoriteListByCaseIds" resultMap="BaseResultMap">
		select CASE_ID,FAVORITE_UID from FUN_CASE_FAVORITE
		where
		FAVORITE_STATUS = 1
		and FAVORITE_UID = #{userId}
		and COMP_ID = #{compId} 
		AND CASE_ID IN
			<foreach collection="caseIds" index="index" item="caseId" open="(" separator="," close=")">
				#{caseId}
			</foreach> 
		and CASE_TYPE = #{caseType}
	</select>

  <select id="getFunCaseFavorite" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from FUN_CASE_FAVORITE
    where CASE_ID = #{caseId} and CASE_TYPE = #{caseType} AND FAVORITE_UID = #{userId} AND FAVORITE_STATUS = 1
  </select>

  <select id="countSaleFavorite" resultType="java.lang.Integer" parameterType="com.myfun.repository.erpdb.param.CaseFavoriteParam">
    SELECT COUNT(*) AS count FROM FUN_CASE_FAVORITE A  JOIN fun_sale B on A.case_id=B.sale_id
    WHERE A.FAVORITE_UID = #{param.favoriteUid} AND A.COMP_ID = #{param.compId} AND A.CASE_TYPE = #{param.caseType} AND A.FAVORITE_STATUS = 1 and B.sale_status != 7
  </select>

  <select id="countLeaseFavorite" resultType="java.lang.Integer" parameterType="com.myfun.repository.erpdb.param.CaseFavoriteParam">
    SELECT COUNT(*) AS count FROM FUN_CASE_FAVORITE A  JOIN fun_lease B on A.case_id=B.lease_id
    WHERE A.FAVORITE_UID = #{param.favoriteUid} AND A.COMP_ID = #{param.compId} AND A.CASE_TYPE = #{param.caseType} AND A.FAVORITE_STATUS = 1 and B.lease_status != 7
  </select>

  <select id="countBuyFavorite" resultType="java.lang.Integer" parameterType="com.myfun.repository.erpdb.param.CaseFavoriteParam">
    SELECT COUNT(*) AS count FROM FUN_CASE_FAVORITE A  JOIN FUN_BUY_CUSTOMER  B on A.case_id=B.BUY_CUST_ID
    WHERE A.FAVORITE_UID = #{param.favoriteUid} AND A.COMP_ID = #{param.compId} AND A.CASE_TYPE = #{param.caseType} AND A.FAVORITE_STATUS = 1 and B.BUY_CUST_STATUS != 7
  </select>

  <select id="countRentFavorite" resultType="java.lang.Integer" parameterType="com.myfun.repository.erpdb.param.CaseFavoriteParam">
    SELECT COUNT(*) AS count FROM FUN_CASE_FAVORITE A  JOIN FUN_RENT_CUSTOMER  B on A.case_id=B.RENT_CUST_ID
    WHERE A.FAVORITE_UID = #{param.favoriteUid} AND A.COMP_ID = #{param.compId} AND A.CASE_TYPE = #{param.caseType} AND A.FAVORITE_STATUS = 1 and B.RENT_CUST_STATUS != 7
  </select>

  <select id="countByUserId" resultType="java.lang.Integer">
    SELECT COUNT(*) AS count FROM FUN_CASE_FAVORITE WHERE COMP_ID = #{compId} AND FAVORITE_UID = #{currentUserId} AND CASE_TYPE = #{caseType} AND FAVORITE_STATUS = 1
  </select>
</mapper>