<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunCityMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunCity">
    <!--@mbggenerated-->
    <id column="CITY_ID" jdbcType="SMALLINT" property="cityId" />
    <result column="PROVINCE_ID" jdbcType="SMALLINT" property="provinceId" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    CITY_ID, PROVINCE_ID, CITY_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_CITY
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
  </select>
  <select id="selectCityList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FUN_CITY
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    <!--@mbggenerated-->
    delete from FUN_CITY
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunCity">
    <!--@mbggenerated-->
    insert into FUN_CITY (CITY_ID, PROVINCE_ID, CITY_NAME
      )
    values (#{cityId,jdbcType=SMALLINT}, #{provinceId,jdbcType=SMALLINT}, #{cityName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunCity">
    <!--@mbggenerated-->
    insert into FUN_CITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="provinceId != null">
        PROVINCE_ID,
      </if>
      <if test="cityName != null">
        CITY_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=SMALLINT},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunCity">
    <!--@mbggenerated-->
    update FUN_CITY
    <set>
      <if test="provinceId != null">
        PROVINCE_ID = #{provinceId,jdbcType=SMALLINT},
      </if>
      <if test="cityName != null">
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunCity">
    <!--@mbggenerated-->
    update FUN_CITY
    set PROVINCE_ID = #{provinceId,jdbcType=SMALLINT},
      CITY_NAME = #{cityName,jdbcType=VARCHAR}
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
  </update>
	
	<select id="getCityListByProvince" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from FUN_CITY
		where PROVINCE_ID = #{provinceId}
	</select>
	<select id="getCityInfoByCityIds" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> 
		FROM FUN_CITY 
		WHERE CITY_ID IN 
		<foreach collection="cityIdList" separator="," item="cityId" open="(" close=")">
			#{cityId}
		</foreach>
	</select>
</mapper>


