<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunRecruitmentChannelMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunRecruitmentChannel" >
    <!--@mbggenerated-->
    <id column="CHANNEL_ID" property="channelId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="SEQ" property="seq" jdbcType="INTEGER" />
    <result column="CHANNEL_STATUS" property="channelStatus" jdbcType="TINYINT" />
    <result column="CHANNEL_DESC" property="channelDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    CHANNEL_ID, COMP_ID, CHANNEL_NAME, CREATION_TIME, SEQ, CHANNEL_STATUS, CHANNEL_DESC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_RECRUITMENT_CHANNEL
    where CHANNEL_ID = #{channelId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_RECRUITMENT_CHANNEL
    where CHANNEL_ID = #{channelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunRecruitmentChannel" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="channelId" order="BEFORE" >
      SELECT MAX(ISNULL(CHANNEL_ID,0))+1 FROM FUN_RECRUITMENT_CHANNEL
    </selectKey>
    insert into FUN_RECRUITMENT_CHANNEL (CHANNEL_ID, COMP_ID, CHANNEL_NAME, 
      CREATION_TIME, SEQ, CHANNEL_STATUS, 
      CHANNEL_DESC)
    values (#{channelId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{seq,jdbcType=INTEGER}, #{channelStatus,jdbcType=TINYINT}, 
      #{channelDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunRecruitmentChannel" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="channelId" order="BEFORE" >
      SELECT MAX(ISNULL(CHANNEL_ID,0))+1 FROM FUN_RECRUITMENT_CHANNEL
    </selectKey>
    insert into FUN_RECRUITMENT_CHANNEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="channelStatus != null" >
        CHANNEL_STATUS,
      </if>
      <if test="channelDesc != null" >
        CHANNEL_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="channelStatus != null" >
        #{channelStatus,jdbcType=TINYINT},
      </if>
      <if test="channelDesc != null" >
        #{channelDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunRecruitmentChannel" >
    <!--@mbggenerated-->
    update FUN_RECRUITMENT_CHANNEL
    <set >
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=INTEGER},
      </if>
      <if test="channelStatus != null" >
        CHANNEL_STATUS = #{channelStatus,jdbcType=TINYINT},
      </if>
      <if test="channelDesc != null" >
        CHANNEL_DESC = #{channelDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where CHANNEL_ID = #{channelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunRecruitmentChannel" >
    <!--@mbggenerated-->
    update FUN_RECRUITMENT_CHANNEL
    set COMP_ID = #{compId,jdbcType=INTEGER},
      CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      SEQ = #{seq,jdbcType=INTEGER},
      CHANNEL_STATUS = #{channelStatus,jdbcType=TINYINT},
      CHANNEL_DESC = #{channelDesc,jdbcType=VARCHAR}
    where CHANNEL_ID = #{channelId,jdbcType=INTEGER}
  </update>
  
  <select id="selectListByCondition" resultMap="BaseResultMap" parameterType="com.myfun.repository.erpdb.po.ErpFunRecruitmentChannel">
  		SELECT <include refid="Base_Column_List" /> 
  		FROM FUN_RECRUITMENT_CHANNEL
  		<where>
  			<if test="null != compId">
  				AND COMP_ID = #{compId}
  			</if>
  			<if test="null != channelStatus">
  				AND CHANNEL_STATUS = #{channelStatus}
  			</if>
  		</where>
      ORDER BY SEQ
  </select>

  <select id="getMaxChannelSeqNO" resultType="java.lang.Integer">
    select max(SEQ) maxSeq from FUN_RECRUITMENT_CHANNEL where COMP_ID = #{compId}
    <if test="seq != null">
      and SEQ &lt; #{seq}
      and  CHANNEL_STATUS = '1'
    </if>
  </select>

  <select id="getMinChannelSeqNO" resultType="java.lang.Integer">
    select min(SEQ) minSeq from FUN_RECRUITMENT_CHANNEL where COMP_ID = #{compId} and SEQ &lt; #{seq} and CHANNEL_STATUS = '1'
  </select>

  <update id="updateFunRecruitmentChannelSeq">
    update FUN_RECRUITMENT_CHANNEL set SEQ = SEQ ${symbol} 1 where SEQ >= #{seq} and CHANNEL_ID !=#{channelId} and CHANNEL_STATUS = '1'
  </update>
  <update id="updateFunRecruitmentChannelSeqDown">
     update FUN_RECRUITMENT_CHANNEL set SEQ = SEQ + 1 where SEQ >= #{seq} and CHANNEL_ID !=#{channelId}
  </update>
  <update id="updateFunRecruitmentChannelSeqUp">
    update FUN_RECRUITMENT_CHANNEL set SEQ = SEQ - 1 where SEQ &lt;= #{seq} and CHANNEL_ID !=#{channelId}
  </update>
</mapper>