<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunHistoryDealCustMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunHistoryDealCust">
    <!--@mbggenerated-->
    <id column="FUN_HISTORY_DEAL_CUST_ID" jdbcType="INTEGER" property="funHistoryDealCustId" />
    <result column="CREATED_USER_ID" jdbcType="INTEGER" property="createdUserId" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_USER_ID" jdbcType="INTEGER" property="updatedUserId" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="CASE_NUM" jdbcType="VARCHAR" property="caseNum" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CASE_TYPE" jdbcType="INTEGER" property="caseType" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="CUST_TEL" jdbcType="VARCHAR" property="custTel" />
    <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="DEAL_TYPE" jdbcType="INTEGER" property="dealType" />
    <result column="DEAL_USER_ID" jdbcType="INTEGER" property="dealUserId" />
    <result column="DEAL_USER_NAME" jdbcType="VARCHAR" property="dealUserName" />
    <result column="DEAL_ORG_ID" jdbcType="INTEGER" property="dealOrgId" />
    <result column="DEAL_ORG_PATH" jdbcType="VARCHAR" property="dealOrgPath" />
    <result column="DEAL_ORG_NAME" jdbcType="VARCHAR" property="dealOrgName" />
    <result column="DEAL_PROPERTY" jdbcType="VARCHAR" property="dealProperty" />
    <result column="DEAL_NUM" jdbcType="VARCHAR" property="dealNum" />
    <result column="BELONG_USER_ID" jdbcType="INTEGER" property="belongUserId" />
    <result column="BELONG_USER_NAME" jdbcType="VARCHAR" property="belongUserName" />
    <result column="BELONG_ORG_ID" jdbcType="INTEGER" property="belongOrgId" />
    <result column="BELONG_ORG_PATH" jdbcType="VARCHAR" property="belongOrgPath" />
    <result column="BELONG_ORG_NAME" jdbcType="VARCHAR" property="belongOrgName" />
    <result column="BUILD_ID" jdbcType="INTEGER" property="buildId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    FUN_HISTORY_DEAL_CUST_ID, CREATED_USER_ID, CREATED_TIME, UPDATED_USER_ID, UPDATED_TIME, 
    CASE_NUM, CASE_ID, CASE_TYPE, CUST_NAME, CUST_TEL, DEAL_TIME, DEAL_TYPE, DEAL_USER_ID, 
    DEAL_USER_NAME, DEAL_ORG_ID, DEAL_ORG_PATH, DEAL_ORG_NAME, DEAL_PROPERTY, DEAL_NUM, 
    BELONG_USER_ID, BELONG_USER_NAME, BELONG_ORG_ID, BELONG_ORG_PATH, BELONG_ORG_NAME, 
    BUILD_ID
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunHistoryDealCustExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_HISTORY_DEAL_CUST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_HISTORY_DEAL_CUST
    where FUN_HISTORY_DEAL_CUST_ID = #{funHistoryDealCustId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_HISTORY_DEAL_CUST
    where FUN_HISTORY_DEAL_CUST_ID = #{funHistoryDealCustId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunHistoryDealCustExample">
    <!--@mbggenerated-->
    delete from FUN_HISTORY_DEAL_CUST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="funHistoryDealCustId" parameterType="com.myfun.repository.erpdb.po.ErpFunHistoryDealCust" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_HISTORY_DEAL_CUST (CREATED_USER_ID, CREATED_TIME, UPDATED_USER_ID, 
      UPDATED_TIME, CASE_NUM, CASE_ID, 
      CASE_TYPE, CUST_NAME, CUST_TEL, 
      DEAL_TIME, DEAL_TYPE, DEAL_USER_ID, 
      DEAL_USER_NAME, DEAL_ORG_ID, DEAL_ORG_PATH, 
      DEAL_ORG_NAME, DEAL_PROPERTY, DEAL_NUM, 
      BELONG_USER_ID, BELONG_USER_NAME, BELONG_ORG_ID, 
      BELONG_ORG_PATH, BELONG_ORG_NAME, BUILD_ID
      )
    values (#{createdUserId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedUserId,jdbcType=INTEGER}, 
      #{updatedTime,jdbcType=TIMESTAMP}, #{caseNum,jdbcType=VARCHAR}, #{caseId,jdbcType=INTEGER}, 
      #{caseType,jdbcType=INTEGER}, #{custName,jdbcType=VARCHAR}, #{custTel,jdbcType=VARCHAR}, 
      #{dealTime,jdbcType=TIMESTAMP}, #{dealType,jdbcType=INTEGER}, #{dealUserId,jdbcType=INTEGER}, 
      #{dealUserName,jdbcType=VARCHAR}, #{dealOrgId,jdbcType=INTEGER}, #{dealOrgPath,jdbcType=VARCHAR}, 
      #{dealOrgName,jdbcType=VARCHAR}, #{dealProperty,jdbcType=VARCHAR}, #{dealNum,jdbcType=VARCHAR}, 
      #{belongUserId,jdbcType=INTEGER}, #{belongUserName,jdbcType=VARCHAR}, #{belongOrgId,jdbcType=INTEGER}, 
      #{belongOrgPath,jdbcType=VARCHAR}, #{belongOrgName,jdbcType=VARCHAR}, #{buildId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyProperty="funHistoryDealCustId" parameterType="com.myfun.repository.erpdb.po.ErpFunHistoryDealCust" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_HISTORY_DEAL_CUST
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createdUserId != null">
        CREATED_USER_ID,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedUserId != null">
        UPDATED_USER_ID,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
      <if test="caseNum != null">
        CASE_NUM,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="custTel != null">
        CUST_TEL,
      </if>
      <if test="dealTime != null">
        DEAL_TIME,
      </if>
      <if test="dealType != null">
        DEAL_TYPE,
      </if>
      <if test="dealUserId != null">
        DEAL_USER_ID,
      </if>
      <if test="dealUserName != null">
        DEAL_USER_NAME,
      </if>
      <if test="dealOrgId != null">
        DEAL_ORG_ID,
      </if>
      <if test="dealOrgPath != null">
        DEAL_ORG_PATH,
      </if>
      <if test="dealOrgName != null">
        DEAL_ORG_NAME,
      </if>
      <if test="dealProperty != null">
        DEAL_PROPERTY,
      </if>
      <if test="dealNum != null">
        DEAL_NUM,
      </if>
      <if test="belongUserId != null">
        BELONG_USER_ID,
      </if>
      <if test="belongUserName != null">
        BELONG_USER_NAME,
      </if>
      <if test="belongOrgId != null">
        BELONG_ORG_ID,
      </if>
      <if test="belongOrgPath != null">
        BELONG_ORG_PATH,
      </if>
      <if test="belongOrgName != null">
        BELONG_ORG_NAME,
      </if>
      <if test="buildId != null">
        BUILD_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null">
        #{updatedUserId,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseNum != null">
        #{caseNum,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=INTEGER},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custTel != null">
        #{custTel,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=INTEGER},
      </if>
      <if test="dealUserId != null">
        #{dealUserId,jdbcType=INTEGER},
      </if>
      <if test="dealUserName != null">
        #{dealUserName,jdbcType=VARCHAR},
      </if>
      <if test="dealOrgId != null">
        #{dealOrgId,jdbcType=INTEGER},
      </if>
      <if test="dealOrgPath != null">
        #{dealOrgPath,jdbcType=VARCHAR},
      </if>
      <if test="dealOrgName != null">
        #{dealOrgName,jdbcType=VARCHAR},
      </if>
      <if test="dealProperty != null">
        #{dealProperty,jdbcType=VARCHAR},
      </if>
      <if test="dealNum != null">
        #{dealNum,jdbcType=VARCHAR},
      </if>
      <if test="belongUserId != null">
        #{belongUserId,jdbcType=INTEGER},
      </if>
      <if test="belongUserName != null">
        #{belongUserName,jdbcType=VARCHAR},
      </if>
      <if test="belongOrgId != null">
        #{belongOrgId,jdbcType=INTEGER},
      </if>
      <if test="belongOrgPath != null">
        #{belongOrgPath,jdbcType=VARCHAR},
      </if>
      <if test="belongOrgName != null">
        #{belongOrgName,jdbcType=VARCHAR},
      </if>
      <if test="buildId != null">
        #{buildId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunHistoryDealCustExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_HISTORY_DEAL_CUST
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_HISTORY_DEAL_CUST
    <set>
      <if test="record.funHistoryDealCustId != null">
        FUN_HISTORY_DEAL_CUST_ID = #{record.funHistoryDealCustId,jdbcType=INTEGER},
      </if>
      <if test="record.createdUserId != null">
        CREATED_USER_ID = #{record.createdUserId,jdbcType=INTEGER},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedUserId != null">
        UPDATED_USER_ID = #{record.updatedUserId,jdbcType=INTEGER},
      </if>
      <if test="record.updatedTime != null">
        UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.caseNum != null">
        CASE_NUM = #{record.caseNum,jdbcType=VARCHAR},
      </if>
      <if test="record.caseId != null">
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=INTEGER},
      </if>
      <if test="record.custName != null">
        CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      </if>
      <if test="record.custTel != null">
        CUST_TEL = #{record.custTel,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTime != null">
        DEAL_TIME = #{record.dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealType != null">
        DEAL_TYPE = #{record.dealType,jdbcType=INTEGER},
      </if>
      <if test="record.dealUserId != null">
        DEAL_USER_ID = #{record.dealUserId,jdbcType=INTEGER},
      </if>
      <if test="record.dealUserName != null">
        DEAL_USER_NAME = #{record.dealUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.dealOrgId != null">
        DEAL_ORG_ID = #{record.dealOrgId,jdbcType=INTEGER},
      </if>
      <if test="record.dealOrgPath != null">
        DEAL_ORG_PATH = #{record.dealOrgPath,jdbcType=VARCHAR},
      </if>
      <if test="record.dealOrgName != null">
        DEAL_ORG_NAME = #{record.dealOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.dealProperty != null">
        DEAL_PROPERTY = #{record.dealProperty,jdbcType=VARCHAR},
      </if>
      <if test="record.dealNum != null">
        DEAL_NUM = #{record.dealNum,jdbcType=VARCHAR},
      </if>
      <if test="record.belongUserId != null">
        BELONG_USER_ID = #{record.belongUserId,jdbcType=INTEGER},
      </if>
      <if test="record.belongUserName != null">
        BELONG_USER_NAME = #{record.belongUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.belongOrgId != null">
        BELONG_ORG_ID = #{record.belongOrgId,jdbcType=INTEGER},
      </if>
      <if test="record.belongOrgPath != null">
        BELONG_ORG_PATH = #{record.belongOrgPath,jdbcType=VARCHAR},
      </if>
      <if test="record.belongOrgName != null">
        BELONG_ORG_NAME = #{record.belongOrgName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildId != null">
        BUILD_ID = #{record.buildId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_HISTORY_DEAL_CUST
    set FUN_HISTORY_DEAL_CUST_ID = #{record.funHistoryDealCustId,jdbcType=INTEGER},
      CREATED_USER_ID = #{record.createdUserId,jdbcType=INTEGER},
      CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      UPDATED_USER_ID = #{record.updatedUserId,jdbcType=INTEGER},
      UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      CASE_NUM = #{record.caseNum,jdbcType=VARCHAR},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=INTEGER},
      CUST_NAME = #{record.custName,jdbcType=VARCHAR},
      CUST_TEL = #{record.custTel,jdbcType=VARCHAR},
      DEAL_TIME = #{record.dealTime,jdbcType=TIMESTAMP},
      DEAL_TYPE = #{record.dealType,jdbcType=INTEGER},
      DEAL_USER_ID = #{record.dealUserId,jdbcType=INTEGER},
      DEAL_USER_NAME = #{record.dealUserName,jdbcType=VARCHAR},
      DEAL_ORG_ID = #{record.dealOrgId,jdbcType=INTEGER},
      DEAL_ORG_PATH = #{record.dealOrgPath,jdbcType=VARCHAR},
      DEAL_ORG_NAME = #{record.dealOrgName,jdbcType=VARCHAR},
      DEAL_PROPERTY = #{record.dealProperty,jdbcType=VARCHAR},
      DEAL_NUM = #{record.dealNum,jdbcType=VARCHAR},
      BELONG_USER_ID = #{record.belongUserId,jdbcType=INTEGER},
      BELONG_USER_NAME = #{record.belongUserName,jdbcType=VARCHAR},
      BELONG_ORG_ID = #{record.belongOrgId,jdbcType=INTEGER},
      BELONG_ORG_PATH = #{record.belongOrgPath,jdbcType=VARCHAR},
      BELONG_ORG_NAME = #{record.belongOrgName,jdbcType=VARCHAR},
      BUILD_ID = #{record.buildId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunHistoryDealCust">
    <!--@mbggenerated-->
    update FUN_HISTORY_DEAL_CUST
    <set>
      <if test="createdUserId != null">
        CREATED_USER_ID = #{createdUserId,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedUserId != null">
        UPDATED_USER_ID = #{updatedUserId,jdbcType=INTEGER},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseNum != null">
        CASE_NUM = #{caseNum,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=INTEGER},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custTel != null">
        CUST_TEL = #{custTel,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null">
        DEAL_TYPE = #{dealType,jdbcType=INTEGER},
      </if>
      <if test="dealUserId != null">
        DEAL_USER_ID = #{dealUserId,jdbcType=INTEGER},
      </if>
      <if test="dealUserName != null">
        DEAL_USER_NAME = #{dealUserName,jdbcType=VARCHAR},
      </if>
      <if test="dealOrgId != null">
        DEAL_ORG_ID = #{dealOrgId,jdbcType=INTEGER},
      </if>
      <if test="dealOrgPath != null">
        DEAL_ORG_PATH = #{dealOrgPath,jdbcType=VARCHAR},
      </if>
      <if test="dealOrgName != null">
        DEAL_ORG_NAME = #{dealOrgName,jdbcType=VARCHAR},
      </if>
      <if test="dealProperty != null">
        DEAL_PROPERTY = #{dealProperty,jdbcType=VARCHAR},
      </if>
      <if test="dealNum != null">
        DEAL_NUM = #{dealNum,jdbcType=VARCHAR},
      </if>
      <if test="belongUserId != null">
        BELONG_USER_ID = #{belongUserId,jdbcType=INTEGER},
      </if>
      <if test="belongUserName != null">
        BELONG_USER_NAME = #{belongUserName,jdbcType=VARCHAR},
      </if>
      <if test="belongOrgId != null">
        BELONG_ORG_ID = #{belongOrgId,jdbcType=INTEGER},
      </if>
      <if test="belongOrgPath != null">
        BELONG_ORG_PATH = #{belongOrgPath,jdbcType=VARCHAR},
      </if>
      <if test="belongOrgName != null">
        BELONG_ORG_NAME = #{belongOrgName,jdbcType=VARCHAR},
      </if>
      <if test="buildId != null">
        BUILD_ID = #{buildId,jdbcType=INTEGER},
      </if>
    </set>
    where FUN_HISTORY_DEAL_CUST_ID = #{funHistoryDealCustId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunHistoryDealCust">
    <!--@mbggenerated-->
    update FUN_HISTORY_DEAL_CUST
    set CREATED_USER_ID = #{createdUserId,jdbcType=INTEGER},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_USER_ID = #{updatedUserId,jdbcType=INTEGER},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      CASE_NUM = #{caseNum,jdbcType=VARCHAR},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=INTEGER},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      CUST_TEL = #{custTel,jdbcType=VARCHAR},
      DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      DEAL_TYPE = #{dealType,jdbcType=INTEGER},
      DEAL_USER_ID = #{dealUserId,jdbcType=INTEGER},
      DEAL_USER_NAME = #{dealUserName,jdbcType=VARCHAR},
      DEAL_ORG_ID = #{dealOrgId,jdbcType=INTEGER},
      DEAL_ORG_PATH = #{dealOrgPath,jdbcType=VARCHAR},
      DEAL_ORG_NAME = #{dealOrgName,jdbcType=VARCHAR},
      DEAL_PROPERTY = #{dealProperty,jdbcType=VARCHAR},
      DEAL_NUM = #{dealNum,jdbcType=VARCHAR},
      BELONG_USER_ID = #{belongUserId,jdbcType=INTEGER},
      BELONG_USER_NAME = #{belongUserName,jdbcType=VARCHAR},
      BELONG_ORG_ID = #{belongOrgId,jdbcType=INTEGER},
      BELONG_ORG_PATH = #{belongOrgPath,jdbcType=VARCHAR},
      BELONG_ORG_NAME = #{belongOrgName,jdbcType=VARCHAR},
      BUILD_ID = #{buildId,jdbcType=INTEGER}
    where FUN_HISTORY_DEAL_CUST_ID = #{funHistoryDealCustId,jdbcType=INTEGER}
  </update>
  <!--查询历史成交客列表-->
  <select id="getHistoryDealCustList" parameterType="com.myfun.erpWeb.historyCustomer.param.HistoryCustomerListParam" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from FUN_HISTORY_DEAL_CUST
    <where>
      <if test="param.conditionType==1">
        <if test="param.orgId!=null and param.orgId != ''">
            and BELONG_ORG_PATH like concat(concat('%',#{orgId}),'%')
        </if>
        <if test="param.userId!=null and param.userId != ''">
          and BELONG_USER_ID = #{param.userId}
        </if>
      </if>
      <if test="param.conditionType==2">
        <if test="param.orgId!=null and param.orgId != ''">
          and DEAL_ORG_PATH like concat(concat('%',#{orgId}),'%')
        </if>
        <if test="param.userId!=null and param.userId != ''">
          and DEAL_USER_ID = #{param.userId}
        </if>
      </if>
      <if test="param.dealType!=null and param.dealType != ''">
            and DEAL_TYPE = #{param.dealType}
      </if>
      <if test="param.buildId!=null and param.buildId != ''">
        and BUILD_ID = #{param.buildId}
      </if>
      <if test="param.dealStartTime!=null and param.dealStartTime != ''">
        and DEAL_TIME &gt;= #{param.dealStartTime}
      </if>
      <if test="param.dealEndTime!=null and param.dealEndTime != ''">
        and DEAL_TIME &lt;= #{param.dealEndTime}
      </if>
      <if test="param.keyWords!=null and param.keyWords != ''">
        and (
            CUST_NAME like concat(concat('%',#{keyWords}),'%')
        or CUST_TEL like concat(concat('%',#{keyWords}),'%')
        or CASE_NUM like concat(concat('%',#{keyWords}),'%')
        )
      </if>
    </where>
    ORDER BY FUN_HISTORY_DEAL_CUST_ID
  </select>
</mapper>