<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunEntrustRecordKpiTrackMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrack" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="CASE_TYPE" property="caseType" jdbcType="TINYINT" />
    <result column="CASE_ID" property="caseId" jdbcType="INTEGER" />
    <result column="ENTRUST_ID" property="entrustId" jdbcType="INTEGER" />
    <result column="RECORD_NO" property="recordNo" jdbcType="VARCHAR" />
    <result column="RECORD_TIME" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="ORGANIZATION_ID" property="organizationId" jdbcType="INTEGER" />
    <result column="ORGANIZATION_PATH" property="organizationPath" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, USER_ID, COMP_ID, CASE_TYPE, CASE_ID, ENTRUST_ID, RECORD_NO, RECORD_TIME, CONTENT, 
    ORGANIZATION_ID, ORGANIZATION_PATH, CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrackExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_ENTRUST_RECORD_KPI_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_ENTRUST_RECORD_KPI_TRACK
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_ENTRUST_RECORD_KPI_TRACK
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrackExample" >
    <!--@mbggenerated-->
    delete from FUN_ENTRUST_RECORD_KPI_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrack" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into FUN_ENTRUST_RECORD_KPI_TRACK (USER_ID, COMP_ID, CASE_TYPE, 
      CASE_ID, ENTRUST_ID, RECORD_NO, 
      RECORD_TIME, CONTENT, ORGANIZATION_ID, 
      ORGANIZATION_PATH, CREATE_TIME)
    values (#{userId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{caseId,jdbcType=INTEGER}, #{entrustId,jdbcType=INTEGER}, #{recordNo,jdbcType=VARCHAR}, 
      #{recordTime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{organizationId,jdbcType=INTEGER}, 
      #{organizationPath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrack" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into FUN_ENTRUST_RECORD_KPI_TRACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="caseId != null" >
        CASE_ID,
      </if>
      <if test="entrustId != null" >
        ENTRUST_ID,
      </if>
      <if test="recordNo != null" >
        RECORD_NO,
      </if>
      <if test="recordTime != null" >
        RECORD_TIME,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="organizationId != null" >
        ORGANIZATION_ID,
      </if>
      <if test="organizationPath != null" >
        ORGANIZATION_PATH,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="entrustId != null" >
        #{entrustId,jdbcType=INTEGER},
      </if>
      <if test="recordNo != null" >
        #{recordNo,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null" >
        #{organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrackExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from FUN_ENTRUST_RECORD_KPI_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update FUN_ENTRUST_RECORD_KPI_TRACK
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null" >
        CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      </if>
      <if test="record.caseId != null" >
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.entrustId != null" >
        ENTRUST_ID = #{record.entrustId,jdbcType=INTEGER},
      </if>
      <if test="record.recordNo != null" >
        RECORD_NO = #{record.recordNo,jdbcType=VARCHAR},
      </if>
      <if test="record.recordTime != null" >
        RECORD_TIME = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationId != null" >
        ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER},
      </if>
      <if test="record.organizationPath != null" >
        ORGANIZATION_PATH = #{record.organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update FUN_ENTRUST_RECORD_KPI_TRACK
    set ID = #{record.id,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      ENTRUST_ID = #{record.entrustId,jdbcType=INTEGER},
      RECORD_NO = #{record.recordNo,jdbcType=VARCHAR},
      RECORD_TIME = #{record.recordTime,jdbcType=TIMESTAMP},
      CONTENT = #{record.content,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER},
      ORGANIZATION_PATH = #{record.organizationPath,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrack" >
    <!--@mbggenerated-->
    update FUN_ENTRUST_RECORD_KPI_TRACK
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseId != null" >
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="entrustId != null" >
        ENTRUST_ID = #{entrustId,jdbcType=INTEGER},
      </if>
      <if test="recordNo != null" >
        RECORD_NO = #{recordNo,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null" >
        RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER},
      </if>
      <if test="organizationPath != null" >
        ORGANIZATION_PATH = #{organizationPath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustRecordKpiTrack" >
    <!--@mbggenerated-->
    update FUN_ENTRUST_RECORD_KPI_TRACK
    set USER_ID = #{userId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      ENTRUST_ID = #{entrustId,jdbcType=INTEGER},
      RECORD_NO = #{recordNo,jdbcType=VARCHAR},
      RECORD_TIME = #{recordTime,jdbcType=TIMESTAMP},
      CONTENT = #{content,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER},
      ORGANIZATION_PATH = #{organizationPath,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>