<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunFinancStatusMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunFinancStatus" >
    <!--@mbggenerated-->
    <id column="FINANC_STATUS_ID" property="financStatusId" jdbcType="INTEGER" />
    <result column="FINANC_NAME" property="financName" jdbcType="VARCHAR" />
    <result column="SEQ_NO" property="seqNo" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="IS_DEL" property="isDel" jdbcType="TINYINT" />
    <result column="CAN_DEL" property="canDel" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    FINANC_STATUS_ID, FINANC_NAME, SEQ_NO, COMP_ID, CREATE_TIME, IS_DEL, CAN_DEL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.erpdb.po.ErpFunFinancStatusExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_FINANC_STATUS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_FINANC_STATUS
    where FINANC_STATUS_ID = #{financStatusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_FINANC_STATUS
    where FINANC_STATUS_ID = #{financStatusId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunFinancStatusExample" >
    <!--@mbggenerated-->
    delete from FUN_FINANC_STATUS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunFinancStatus" useGeneratedKeys="true" keyProperty="financStatusId" >
    <!--@mbggenerated-->
    insert into FUN_FINANC_STATUS (FINANC_NAME, SEQ_NO, COMP_ID, 
      CREATE_TIME, IS_DEL, CAN_DEL
      )
    values (#{financName,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=TINYINT}, #{canDel,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunFinancStatus" useGeneratedKeys="true" keyProperty="financStatusId" >
    <!--@mbggenerated-->
    insert into FUN_FINANC_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="financName != null" >
        FINANC_NAME,
      </if>
      <if test="seqNo != null" >
        SEQ_NO,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="isDel != null" >
        IS_DEL,
      </if>
      <if test="canDel != null" >
        CAN_DEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="financName != null" >
        #{financName,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="canDel != null" >
        #{canDel,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunFinancStatusExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from FUN_FINANC_STATUS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update FUN_FINANC_STATUS
    <set >
      <if test="record.financStatusId != null" >
        FINANC_STATUS_ID = #{record.financStatusId,jdbcType=INTEGER},
      </if>
      <if test="record.financName != null" >
        FINANC_NAME = #{record.financName,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNo != null" >
        SEQ_NO = #{record.seqNo,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null" >
        IS_DEL = #{record.isDel,jdbcType=TINYINT},
      </if>
      <if test="record.canDel != null" >
        CAN_DEL = #{record.canDel,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update FUN_FINANC_STATUS
    set FINANC_STATUS_ID = #{record.financStatusId,jdbcType=INTEGER},
      FINANC_NAME = #{record.financName,jdbcType=VARCHAR},
      SEQ_NO = #{record.seqNo,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      IS_DEL = #{record.isDel,jdbcType=TINYINT},
      CAN_DEL = #{record.canDel,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunFinancStatus" >
    <!--@mbggenerated-->
    update FUN_FINANC_STATUS
    <set >
      <if test="financName != null" >
        FINANC_NAME = #{financName,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        SEQ_NO = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        IS_DEL = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="canDel != null" >
        CAN_DEL = #{canDel,jdbcType=TINYINT},
      </if>
    </set>
    where FINANC_STATUS_ID = #{financStatusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunFinancStatus" >
    <!--@mbggenerated-->
    update FUN_FINANC_STATUS
    set FINANC_NAME = #{financName,jdbcType=VARCHAR},
      SEQ_NO = #{seqNo,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      IS_DEL = #{isDel,jdbcType=TINYINT},
      CAN_DEL = #{canDel,jdbcType=TINYINT}
    where FINANC_STATUS_ID = #{financStatusId,jdbcType=INTEGER}
  </update>
  
	<select id="getFunFinancStatus" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from FUN_FINANC_STATUS
		where COMP_ID = #{compId} and FINANC_NAME = #{type} and is_del=0
		
	</select>
</mapper>