<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunProcessAssessmentMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunProcessAssessment" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PF_ID" property="pfId" jdbcType="INTEGER" />
    <result column="DEAL_TYPE" property="dealType" jdbcType="TINYINT" />
    <result column="DEAL_ID" property="dealId" jdbcType="INTEGER" />
    <result column="DIVIDED_AMOUNT" property="dividedAmount" jdbcType="NUMERIC" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="PROCESS_STATUS" property="processStatus" jdbcType="TINYINT" />
    <result column="CALCULATE_TYPE" property="calculateType" jdbcType="TINYINT" />
    <result column="ASSESSMENT_MONTH" property="assessmentMonth" jdbcType="VARCHAR" />
    <result column="WAGE_PROFIT_AMOUNT" property="wageProfitAmount" jdbcType="NUMERIC" />
    <result column="PROFIT_ID" property="profitId" jdbcType="INTEGER" />
    <result column="PERFORMANCE_TYPE" property="performanceType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, PF_ID, DEAL_TYPE, DEAL_ID, DIVIDED_AMOUNT, USER_ID, COMP_ID, PROCESS_STATUS, 
    CALCULATE_TYPE, ASSESSMENT_MONTH, WAGE_PROFIT_AMOUNT, PROFIT_ID, PERFORMANCE_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessAssessmentExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_PROCESS_ASSESSMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_PROCESS_ASSESSMENT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_PROCESS_ASSESSMENT
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessAssessmentExample" >
    <!--@mbggenerated-->
    delete from FUN_PROCESS_ASSESSMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessAssessment" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into FUN_PROCESS_ASSESSMENT (PF_ID, DEAL_TYPE, DEAL_ID, 
      DIVIDED_AMOUNT, USER_ID, COMP_ID, 
      PROCESS_STATUS, CALCULATE_TYPE, ASSESSMENT_MONTH, 
      WAGE_PROFIT_AMOUNT, PROFIT_ID, PERFORMANCE_TYPE
      )
    values (#{pfId,jdbcType=INTEGER}, #{dealType,jdbcType=TINYINT}, #{dealId,jdbcType=INTEGER}, 
      #{dividedAmount,jdbcType=NUMERIC}, #{userId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, 
      #{processStatus,jdbcType=TINYINT}, #{calculateType,jdbcType=TINYINT}, #{assessmentMonth,jdbcType=VARCHAR}, 
      #{wageProfitAmount,jdbcType=NUMERIC}, #{profitId,jdbcType=INTEGER}, #{performanceType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessAssessment" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into FUN_PROCESS_ASSESSMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pfId != null" >
        PF_ID,
      </if>
      <if test="dealType != null" >
        DEAL_TYPE,
      </if>
      <if test="dealId != null" >
        DEAL_ID,
      </if>
      <if test="dividedAmount != null" >
        DIVIDED_AMOUNT,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="processStatus != null" >
        PROCESS_STATUS,
      </if>
      <if test="calculateType != null" >
        CALCULATE_TYPE,
      </if>
      <if test="assessmentMonth != null" >
        ASSESSMENT_MONTH,
      </if>
      <if test="wageProfitAmount != null" >
        WAGE_PROFIT_AMOUNT,
      </if>
      <if test="profitId != null" >
        PROFIT_ID,
      </if>
      <if test="performanceType != null" >
        PERFORMANCE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pfId != null" >
        #{pfId,jdbcType=INTEGER},
      </if>
      <if test="dealType != null" >
        #{dealType,jdbcType=TINYINT},
      </if>
      <if test="dealId != null" >
        #{dealId,jdbcType=INTEGER},
      </if>
      <if test="dividedAmount != null" >
        #{dividedAmount,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="processStatus != null" >
        #{processStatus,jdbcType=TINYINT},
      </if>
      <if test="calculateType != null" >
        #{calculateType,jdbcType=TINYINT},
      </if>
      <if test="assessmentMonth != null" >
        #{assessmentMonth,jdbcType=VARCHAR},
      </if>
      <if test="wageProfitAmount != null" >
        #{wageProfitAmount,jdbcType=NUMERIC},
      </if>
      <if test="profitId != null" >
        #{profitId,jdbcType=INTEGER},
      </if>
      <if test="performanceType != null" >
        #{performanceType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessAssessmentExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from FUN_PROCESS_ASSESSMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update FUN_PROCESS_ASSESSMENT
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.pfId != null" >
        PF_ID = #{record.pfId,jdbcType=INTEGER},
      </if>
      <if test="record.dealType != null" >
        DEAL_TYPE = #{record.dealType,jdbcType=TINYINT},
      </if>
      <if test="record.dealId != null" >
        DEAL_ID = #{record.dealId,jdbcType=INTEGER},
      </if>
      <if test="record.dividedAmount != null" >
        DIVIDED_AMOUNT = #{record.dividedAmount,jdbcType=NUMERIC},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.processStatus != null" >
        PROCESS_STATUS = #{record.processStatus,jdbcType=TINYINT},
      </if>
      <if test="record.calculateType != null" >
        CALCULATE_TYPE = #{record.calculateType,jdbcType=TINYINT},
      </if>
      <if test="record.assessmentMonth != null" >
        ASSESSMENT_MONTH = #{record.assessmentMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.wageProfitAmount != null" >
        WAGE_PROFIT_AMOUNT = #{record.wageProfitAmount,jdbcType=NUMERIC},
      </if>
      <if test="record.profitId != null" >
        PROFIT_ID = #{record.profitId,jdbcType=INTEGER},
      </if>
      <if test="record.performanceType != null" >
        PERFORMANCE_TYPE = #{record.performanceType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update FUN_PROCESS_ASSESSMENT
    set ID = #{record.id,jdbcType=INTEGER},
      PF_ID = #{record.pfId,jdbcType=INTEGER},
      DEAL_TYPE = #{record.dealType,jdbcType=TINYINT},
      DEAL_ID = #{record.dealId,jdbcType=INTEGER},
      DIVIDED_AMOUNT = #{record.dividedAmount,jdbcType=NUMERIC},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      PROCESS_STATUS = #{record.processStatus,jdbcType=TINYINT},
      CALCULATE_TYPE = #{record.calculateType,jdbcType=TINYINT},
      ASSESSMENT_MONTH = #{record.assessmentMonth,jdbcType=VARCHAR},
      WAGE_PROFIT_AMOUNT = #{record.wageProfitAmount,jdbcType=NUMERIC},
      PROFIT_ID = #{record.profitId,jdbcType=INTEGER},
      PERFORMANCE_TYPE = #{record.performanceType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessAssessment" >
    <!--@mbggenerated-->
    update FUN_PROCESS_ASSESSMENT
    <set >
      <if test="pfId != null" >
        PF_ID = #{pfId,jdbcType=INTEGER},
      </if>
      <if test="dealType != null" >
        DEAL_TYPE = #{dealType,jdbcType=TINYINT},
      </if>
      <if test="dealId != null" >
        DEAL_ID = #{dealId,jdbcType=INTEGER},
      </if>
      <if test="dividedAmount != null" >
        DIVIDED_AMOUNT = #{dividedAmount,jdbcType=NUMERIC},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="processStatus != null" >
        PROCESS_STATUS = #{processStatus,jdbcType=TINYINT},
      </if>
      <if test="calculateType != null" >
        CALCULATE_TYPE = #{calculateType,jdbcType=TINYINT},
      </if>
      <if test="assessmentMonth != null" >
        ASSESSMENT_MONTH = #{assessmentMonth,jdbcType=VARCHAR},
      </if>
      <if test="wageProfitAmount != null" >
        WAGE_PROFIT_AMOUNT = #{wageProfitAmount,jdbcType=NUMERIC},
      </if>
      <if test="profitId != null" >
        PROFIT_ID = #{profitId,jdbcType=INTEGER},
      </if>
      <if test="performanceType != null" >
        PERFORMANCE_TYPE = #{performanceType,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunProcessAssessment" >
    <!--@mbggenerated-->
    update FUN_PROCESS_ASSESSMENT
    set PF_ID = #{pfId,jdbcType=INTEGER},
      DEAL_TYPE = #{dealType,jdbcType=TINYINT},
      DEAL_ID = #{dealId,jdbcType=INTEGER},
      DIVIDED_AMOUNT = #{dividedAmount,jdbcType=NUMERIC},
      USER_ID = #{userId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      PROCESS_STATUS = #{processStatus,jdbcType=TINYINT},
      CALCULATE_TYPE = #{calculateType,jdbcType=TINYINT},
      ASSESSMENT_MONTH = #{assessmentMonth,jdbcType=VARCHAR},
      WAGE_PROFIT_AMOUNT = #{wageProfitAmount,jdbcType=NUMERIC},
      PROFIT_ID = #{profitId,jdbcType=INTEGER},
      PERFORMANCE_TYPE = #{performanceType,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>

</mapper>