<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunContractDealMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunContractDeal">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DEAL_ID" jdbcType="INTEGER" property="dealId" />
    <result column="CONTRACT_ID" jdbcType="INTEGER" property="contractId" />
    <result column="CONTRACT_TYPE" jdbcType="TINYINT" property="contractType" />
    <result column="CASE_TYPE" jdbcType="TINYINT" property="caseType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, DEAL_ID, CONTRACT_ID, CONTRACT_TYPE, CASE_TYPE
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunContractDealExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_CONTRACT_DEAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_CONTRACT_DEAL
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_CONTRACT_DEAL
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunContractDealExample">
    <!--@mbggenerated-->
    delete from FUN_CONTRACT_DEAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunContractDeal" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_CONTRACT_DEAL (DEAL_ID, CONTRACT_ID, CONTRACT_TYPE, 
      CASE_TYPE)
    values (#{dealId,jdbcType=INTEGER}, #{contractId,jdbcType=INTEGER}, #{contractType,jdbcType=TINYINT}, 
      #{caseType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunContractDeal" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_CONTRACT_DEAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dealId != null">
        DEAL_ID,
      </if>
      <if test="contractId != null">
        CONTRACT_ID,
      </if>
      <if test="contractType != null">
        CONTRACT_TYPE,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dealId != null">
        #{dealId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="contractType != null">
        #{contractType,jdbcType=TINYINT},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunContractDealExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_CONTRACT_DEAL
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_CONTRACT_DEAL
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dealId != null">
        DEAL_ID = #{record.dealId,jdbcType=INTEGER},
      </if>
      <if test="record.contractId != null">
        CONTRACT_ID = #{record.contractId,jdbcType=INTEGER},
      </if>
      <if test="record.contractType != null">
        CONTRACT_TYPE = #{record.contractType,jdbcType=TINYINT},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_CONTRACT_DEAL
    set ID = #{record.id,jdbcType=INTEGER},
      DEAL_ID = #{record.dealId,jdbcType=INTEGER},
      CONTRACT_ID = #{record.contractId,jdbcType=INTEGER},
      CONTRACT_TYPE = #{record.contractType,jdbcType=TINYINT},
      CASE_TYPE = #{record.caseType,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunContractDeal">
    <!--@mbggenerated-->
    update FUN_CONTRACT_DEAL
    <set>
      <if test="dealId != null">
        DEAL_ID = #{dealId,jdbcType=INTEGER},
      </if>
      <if test="contractId != null">
        CONTRACT_ID = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="contractType != null">
        CONTRACT_TYPE = #{contractType,jdbcType=TINYINT},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunContractDeal">
    <!--@mbggenerated-->
    update FUN_CONTRACT_DEAL
    set DEAL_ID = #{dealId,jdbcType=INTEGER},
      CONTRACT_ID = #{contractId,jdbcType=INTEGER},
      CONTRACT_TYPE = #{contractType,jdbcType=TINYINT},
      CASE_TYPE = #{caseType,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>