<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunEntrustmentPhotoMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhoto">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CASE_TYPE" jdbcType="TINYINT" property="caseType" />
    <result column="PHOTO_ADDR" jdbcType="VARCHAR" property="photoAddr" />
    <result column="PHOTO_TYPE" jdbcType="TINYINT" property="photoType" />
    <result column="UPLOAD_USER" jdbcType="INTEGER" property="uploadUser" />
    <result column="UPLOAD_DATE" jdbcType="VARCHAR" property="uploadDate" />
    <result column="PHOTO_STATUS" jdbcType="TINYINT" property="photoStatus" />
    <result column="TRACK_ID" jdbcType="INTEGER" property="trackId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, COMP_ID, CASE_ID, CASE_TYPE, PHOTO_ADDR, PHOTO_TYPE, UPLOAD_USER, UPLOAD_DATE, 
    PHOTO_STATUS, TRACK_ID
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhotoExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_ENTRUSTMENT_PHOTO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_ENTRUSTMENT_PHOTO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_ENTRUSTMENT_PHOTO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhotoExample">
    <!--@mbggenerated-->
    delete from FUN_ENTRUSTMENT_PHOTO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhoto" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ENTRUSTMENT_PHOTO (COMP_ID, CASE_ID, CASE_TYPE, 
      PHOTO_ADDR, PHOTO_TYPE, UPLOAD_USER, 
      UPLOAD_DATE, PHOTO_STATUS, TRACK_ID
      )
    values (#{compId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{photoAddr,jdbcType=VARCHAR}, #{photoType,jdbcType=TINYINT}, #{uploadUser,jdbcType=INTEGER}, 
      #{uploadDate,jdbcType=VARCHAR}, #{photoStatus,jdbcType=TINYINT}, #{trackId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhoto" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ENTRUSTMENT_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR,
      </if>
      <if test="photoType != null">
        PHOTO_TYPE,
      </if>
      <if test="uploadUser != null">
        UPLOAD_USER,
      </if>
      <if test="uploadDate != null">
        UPLOAD_DATE,
      </if>
      <if test="photoStatus != null">
        PHOTO_STATUS,
      </if>
      <if test="trackId != null">
        TRACK_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="photoAddr != null">
        #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        #{photoType,jdbcType=TINYINT},
      </if>
      <if test="uploadUser != null">
        #{uploadUser,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=VARCHAR},
      </if>
      <if test="photoStatus != null">
        #{photoStatus,jdbcType=TINYINT},
      </if>
      <if test="trackId != null">
        #{trackId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhotoExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_ENTRUSTMENT_PHOTO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ENTRUSTMENT_PHOTO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.caseId != null">
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      </if>
      <if test="record.photoAddr != null">
        PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.photoType != null">
        PHOTO_TYPE = #{record.photoType,jdbcType=TINYINT},
      </if>
      <if test="record.uploadUser != null">
        UPLOAD_USER = #{record.uploadUser,jdbcType=INTEGER},
      </if>
      <if test="record.uploadDate != null">
        UPLOAD_DATE = #{record.uploadDate,jdbcType=VARCHAR},
      </if>
      <if test="record.photoStatus != null">
        PHOTO_STATUS = #{record.photoStatus,jdbcType=TINYINT},
      </if>
      <if test="record.trackId != null">
        TRACK_ID = #{record.trackId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ENTRUSTMENT_PHOTO
    set ID = #{record.id,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      PHOTO_TYPE = #{record.photoType,jdbcType=TINYINT},
      UPLOAD_USER = #{record.uploadUser,jdbcType=INTEGER},
      UPLOAD_DATE = #{record.uploadDate,jdbcType=VARCHAR},
      PHOTO_STATUS = #{record.photoStatus,jdbcType=TINYINT},
      TRACK_ID = #{record.trackId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhoto">
    <!--@mbggenerated-->
    update FUN_ENTRUSTMENT_PHOTO
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="photoType != null">
        PHOTO_TYPE = #{photoType,jdbcType=TINYINT},
      </if>
      <if test="uploadUser != null">
        UPLOAD_USER = #{uploadUser,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null">
        UPLOAD_DATE = #{uploadDate,jdbcType=VARCHAR},
      </if>
      <if test="photoStatus != null">
        PHOTO_STATUS = #{photoStatus,jdbcType=TINYINT},
      </if>
      <if test="trackId != null">
        TRACK_ID = #{trackId,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustmentPhoto">
    <!--@mbggenerated-->
    update FUN_ENTRUSTMENT_PHOTO
    set COMP_ID = #{compId,jdbcType=INTEGER},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      PHOTO_TYPE = #{photoType,jdbcType=TINYINT},
      UPLOAD_USER = #{uploadUser,jdbcType=INTEGER},
      UPLOAD_DATE = #{uploadDate,jdbcType=VARCHAR},
      PHOTO_STATUS = #{photoStatus,jdbcType=TINYINT},
      TRACK_ID = #{trackId,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
	<update id="updateFunEntrustmentToInvalid">
		update FUN_ENTRUSTMENT_PHOTO
		set PHOTO_STATUS = 1  
		Where COMP_ID = #{compId} and CASE_TYPE = #{caseType} and CASE_ID =#{caseId} and PHOTO_TYPE in (0,1)
	</update>
	<update id="updateFunEntrustmentCaseInfo">
		update FUN_ENTRUSTMENT_PHOTO
		set CASE_TYPE = #{caseType} ,CASE_ID = #{caseId}
		Where COMP_ID = #{compId} and TRACK_ID = #{trackId} 
	</update>
</mapper>