<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunStreetMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunStreet">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="STREET_TERRITORY_ID" jdbcType="INTEGER" property="streetTerritoryId" />
    <result column="STREET_PROVINCE_ID" jdbcType="INTEGER" property="streetProvinceId" />
    <result column="STREET_CITY_ID" jdbcType="INTEGER" property="streetCityId" />
    <result column="STREET_NAME" jdbcType="VARCHAR" property="streetName" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="SEQ_NO" jdbcType="INTEGER" property="seqNo" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IS_DEL" jdbcType="TINYINT" property="isDel" />
    <result column="DEL_USER_ID" jdbcType="INTEGER" property="delUserId" />
    <result column="DEL_TIME" jdbcType="TIMESTAMP" property="delTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, COMP_ID, STREET_TERRITORY_ID, STREET_PROVINCE_ID, STREET_CITY_ID, STREET_NAME, 
    CODE, SEQ_NO, REMARK, CREATE_TIME, UPDATE_TIME, IS_DEL, DEL_USER_ID, DEL_TIME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunStreetExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_STREET
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_STREET
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_STREET
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunStreetExample">
    <!--@mbggenerated-->
    delete from FUN_STREET
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunStreet" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_STREET (COMP_ID, STREET_TERRITORY_ID, STREET_PROVINCE_ID, 
      STREET_CITY_ID, STREET_NAME, CODE, 
      SEQ_NO, REMARK, CREATE_TIME, 
      UPDATE_TIME, IS_DEL, DEL_USER_ID, 
      DEL_TIME)
    values (#{compId,jdbcType=INTEGER}, #{streetTerritoryId,jdbcType=INTEGER}, #{streetProvinceId,jdbcType=INTEGER}, 
      #{streetCityId,jdbcType=INTEGER}, #{streetName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{seqNo,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=TINYINT}, #{delUserId,jdbcType=INTEGER}, 
      #{delTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunStreet" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_STREET
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="streetTerritoryId != null">
        STREET_TERRITORY_ID,
      </if>
      <if test="streetProvinceId != null">
        STREET_PROVINCE_ID,
      </if>
      <if test="streetCityId != null">
        STREET_CITY_ID,
      </if>
      <if test="streetName != null">
        STREET_NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="seqNo != null">
        SEQ_NO,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="isDel != null">
        IS_DEL,
      </if>
      <if test="delUserId != null">
        DEL_USER_ID,
      </if>
      <if test="delTime != null">
        DEL_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="streetTerritoryId != null">
        #{streetTerritoryId,jdbcType=INTEGER},
      </if>
      <if test="streetProvinceId != null">
        #{streetProvinceId,jdbcType=INTEGER},
      </if>
      <if test="streetCityId != null">
        #{streetCityId,jdbcType=INTEGER},
      </if>
      <if test="streetName != null">
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="delUserId != null">
        #{delUserId,jdbcType=INTEGER},
      </if>
      <if test="delTime != null">
        #{delTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunStreetExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_STREET
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_STREET
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.streetTerritoryId != null">
        STREET_TERRITORY_ID = #{record.streetTerritoryId,jdbcType=INTEGER},
      </if>
      <if test="record.streetProvinceId != null">
        STREET_PROVINCE_ID = #{record.streetProvinceId,jdbcType=INTEGER},
      </if>
      <if test="record.streetCityId != null">
        STREET_CITY_ID = #{record.streetCityId,jdbcType=INTEGER},
      </if>
      <if test="record.streetName != null">
        STREET_NAME = #{record.streetName,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNo != null">
        SEQ_NO = #{record.seqNo,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDel != null">
        IS_DEL = #{record.isDel,jdbcType=TINYINT},
      </if>
      <if test="record.delUserId != null">
        DEL_USER_ID = #{record.delUserId,jdbcType=INTEGER},
      </if>
      <if test="record.delTime != null">
        DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_STREET
    set ID = #{record.id,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      STREET_TERRITORY_ID = #{record.streetTerritoryId,jdbcType=INTEGER},
      STREET_PROVINCE_ID = #{record.streetProvinceId,jdbcType=INTEGER},
      STREET_CITY_ID = #{record.streetCityId,jdbcType=INTEGER},
      STREET_NAME = #{record.streetName,jdbcType=VARCHAR},
      CODE = #{record.code,jdbcType=VARCHAR},
      SEQ_NO = #{record.seqNo,jdbcType=INTEGER},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      IS_DEL = #{record.isDel,jdbcType=TINYINT},
      DEL_USER_ID = #{record.delUserId,jdbcType=INTEGER},
      DEL_TIME = #{record.delTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunStreet">
    <!--@mbggenerated-->
    update FUN_STREET
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="streetTerritoryId != null">
        STREET_TERRITORY_ID = #{streetTerritoryId,jdbcType=INTEGER},
      </if>
      <if test="streetProvinceId != null">
        STREET_PROVINCE_ID = #{streetProvinceId,jdbcType=INTEGER},
      </if>
      <if test="streetCityId != null">
        STREET_CITY_ID = #{streetCityId,jdbcType=INTEGER},
      </if>
      <if test="streetName != null">
        STREET_NAME = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        SEQ_NO = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        IS_DEL = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="delUserId != null">
        DEL_USER_ID = #{delUserId,jdbcType=INTEGER},
      </if>
      <if test="delTime != null">
        DEL_TIME = #{delTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunStreet">
    <!--@mbggenerated-->
    update FUN_STREET
    set COMP_ID = #{compId,jdbcType=INTEGER},
      STREET_TERRITORY_ID = #{streetTerritoryId,jdbcType=INTEGER},
      STREET_PROVINCE_ID = #{streetProvinceId,jdbcType=INTEGER},
      STREET_CITY_ID = #{streetCityId,jdbcType=INTEGER},
      STREET_NAME = #{streetName,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      SEQ_NO = #{seqNo,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_DEL = #{isDel,jdbcType=TINYINT},
      DEL_USER_ID = #{delUserId,jdbcType=INTEGER},
      DEL_TIME = #{delTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="getStreetList" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM FUN_STREET
    WHERE IS_DEL = 0
    -- 1=街道地区(例如华南地区) 2=街道省份 3=街道城市 4=街道行政区
    <choose>
      <when test="param.dataRange == 1">
        AND STREET_TERRITORY_ID = #{param.dataId}
      </when>
      <when test="param.dataRange == 2">
        AND STREET_PROVINCE_ID = #{param.dataId}
      </when>
      <when test="param.dataRange == 3">
        AND STREET_CITY_ID = #{param.dataId}
      </when>
    </choose>
    <if test="param.streetName != null and param.streetName != ''">
      AND STREET_NAME LIKE '%${param.streetName}%'
    </if>
    ORDER BY SEQ_NO ASC
  </select>

  <select id="getStreetListBySection" resultMap="BaseResultMap">
    SELECT DISTINCT A.*
    FROM 
    FUN_STREET A left join FUN_STREET_IN_SECTION B ON A.ID = B.STREET_ID 
    LEFT JOIN FUN_STREET_SECTION C ON B.STREET_SECTION_ID = C.ID
    LEFT JOIN　FUN_STREET_IN_REG D ON A.ID = D.STREET_ID
    LEFT JOIN FUN_STREET_REG E ON D.STREET_REG_ID = E.ID
     WHERE 1=1
<!--     <if test="param.sectionIds != null and param.sectionIds.size > 0">
      AND B.STREET_SECTION_ID IN
      <foreach collection="param.sectionIds" close=")" open="(" index="index" item="sectionId" separator=",">
        #{sectionId}
      </foreach>
    </if> -->
    <if test="param.regId != null"> 
      AND D.STREET_REG_ID = #{param.regId} AND D.IS_DEL = 0
    </if>
    <if test="param.sectionId != null"> 
      AND B.STREET_SECTION_ID = #{param.sectionId}  AND B.IS_DEL = 0
    </if>
    <if test="param.streetName != null and param.streetName != ''">
      AND (A.STREET_NAME LIKE '%${param.streetName}%' OR C.SECTION_NAME LIKE '%${param.streetName}%')
    </if>
    AND A.IS_DEL = 0

  </select>

  <update id="deleteStreetById">
    UPDATE FUN_STREET SET IS_DEL = 1, DEL_TIME = GETDATE(), DEL_USER_ID = #{delUserId}
    where ID = #{id}
  </update>

  <select id="getMaxId" resultType="java.lang.Integer">
    SELECT ISNULL(MAX(ID), 0) FROM FUN_STREET
  </select>

  <select id="getStreetListByName" resultMap="BaseResultMap">
    SELECT
    A.*
    FROM FUN_STREET A
    JOIN FUN_STREET_CITY B ON A.STREET_CITY_ID = B.ID
    WHERE B.CITY_ID = #{shardCityId}
    AND A.IS_DEL = 0
    AND A.STREET_NAME LIKE '%${streetName}%'
    ORDER BY A.SEQ_NO ASC
  </select>

</mapper>