<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunAuditMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunAudit">
    <!--@mbggenerated-->
    <id column="AUDIT_ID" jdbcType="INTEGER" property="auditId" />
    <result column="DEAL_ID" jdbcType="INTEGER" property="dealId" />
    <result column="UPDATE_CONTENT" jdbcType="VARCHAR" property="updateContent" />
    <result column="PRO_CONTENT" jdbcType="VARCHAR" property="proContent" />
    <result column="AUDIT_DATE" jdbcType="VARCHAR" property="auditDate" />
    <result column="AUDIT_USER" jdbcType="INTEGER" property="auditUser" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    AUDIT_ID, DEAL_ID, UPDATE_CONTENT, PRO_CONTENT, AUDIT_DATE, AUDIT_USER, COMP_ID, 
    DEPT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_AUDIT
    where AUDIT_ID = #{auditId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_AUDIT
    where AUDIT_ID = #{auditId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpFunAudit">
    <!--@mbggenerated-->
    <selectKey keyProperty="auditId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_FUN_AUDIT_AUDIT_ID
    </selectKey>
    insert into FUN_AUDIT (AUDIT_ID, DEAL_ID, UPDATE_CONTENT, 
      PRO_CONTENT, AUDIT_DATE, AUDIT_USER, 
      COMP_ID, DEPT_ID)
    values (#{auditId,jdbcType=INTEGER}, #{dealId,jdbcType=INTEGER}, #{updateContent,jdbcType=VARCHAR}, 
      #{proContent,jdbcType=VARCHAR}, #{auditDate,jdbcType=VARCHAR}, #{auditUser,jdbcType=INTEGER}, 
      #{compId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpFunAudit">
    <!--@mbggenerated-->
    <selectKey keyProperty="auditId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_FUN_AUDIT_AUDIT_ID
    </selectKey>
    insert into FUN_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      AUDIT_ID,
      <if test="dealId != null">
        DEAL_ID,
      </if>
      <if test="updateContent != null">
        UPDATE_CONTENT,
      </if>
      <if test="proContent != null">
        PRO_CONTENT,
      </if>
      <if test="auditDate != null">
        AUDIT_DATE,
      </if>
      <if test="auditUser != null">
        AUDIT_USER,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{auditId,jdbcType=INTEGER},
      <if test="dealId != null">
        #{dealId,jdbcType=INTEGER},
      </if>
      <if test="updateContent != null">
        #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="proContent != null">
        #{proContent,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null">
        #{auditDate,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null">
        #{auditUser,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunAudit">
    <!--@mbggenerated-->
    update FUN_AUDIT
    <set>
      <if test="dealId != null">
        DEAL_ID = #{dealId,jdbcType=INTEGER},
      </if>
      <if test="updateContent != null">
        UPDATE_CONTENT = #{updateContent,jdbcType=VARCHAR},
      </if>
      <if test="proContent != null">
        PRO_CONTENT = #{proContent,jdbcType=VARCHAR},
      </if>
      <if test="auditDate != null">
        AUDIT_DATE = #{auditDate,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null">
        AUDIT_USER = #{auditUser,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
    </set>
    where AUDIT_ID = #{auditId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunAudit">
    <!--@mbggenerated-->
    update FUN_AUDIT
    set DEAL_ID = #{dealId,jdbcType=INTEGER},
      UPDATE_CONTENT = #{updateContent,jdbcType=VARCHAR},
      PRO_CONTENT = #{proContent,jdbcType=VARCHAR},
      AUDIT_DATE = #{auditDate,jdbcType=VARCHAR},
      AUDIT_USER = #{auditUser,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER}
    where AUDIT_ID = #{auditId,jdbcType=INTEGER}
  </update>
  <delete id="deleteAdByWriteoffOrDown">
  delete from FUN_AUDIT
  where  CASE_TYPE = #{caseType} AND CASE_ID = #{caseId}
  </delete>
</mapper>