<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpFunEntrustCertificateMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpFunEntrustCertificate">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ENTRUST_ID" jdbcType="INTEGER" property="entrustId" />
    <result column="CERTIFICATE_TYPE" jdbcType="TINYINT" property="certificateType" />
    <result column="CERTIFICATE_NO" jdbcType="VARCHAR" property="certificateNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, ENTRUST_ID, CERTIFICATE_TYPE, CERTIFICATE_NO
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificateExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_ENTRUST_CERTIFICATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_ENTRUST_CERTIFICATE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_ENTRUST_CERTIFICATE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificateExample">
    <!--@mbggenerated-->
    delete from FUN_ENTRUST_CERTIFICATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificate" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ENTRUST_CERTIFICATE (ENTRUST_ID, CERTIFICATE_TYPE, CERTIFICATE_NO
      )
    values (#{entrustId,jdbcType=INTEGER}, #{certificateType,jdbcType=TINYINT}, #{certificateNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificate" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ENTRUST_CERTIFICATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="entrustId != null">
        ENTRUST_ID,
      </if>
      <if test="certificateType != null">
        CERTIFICATE_TYPE,
      </if>
      <if test="certificateNo != null">
        CERTIFICATE_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="entrustId != null">
        #{entrustId,jdbcType=INTEGER},
      </if>
      <if test="certificateType != null">
        #{certificateType,jdbcType=TINYINT},
      </if>
      <if test="certificateNo != null">
        #{certificateNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificateExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_ENTRUST_CERTIFICATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ENTRUST_CERTIFICATE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.entrustId != null">
        ENTRUST_ID = #{record.entrustId,jdbcType=INTEGER},
      </if>
      <if test="record.certificateType != null">
        CERTIFICATE_TYPE = #{record.certificateType,jdbcType=TINYINT},
      </if>
      <if test="record.certificateNo != null">
        CERTIFICATE_NO = #{record.certificateNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ENTRUST_CERTIFICATE
    set ID = #{record.id,jdbcType=INTEGER},
      ENTRUST_ID = #{record.entrustId,jdbcType=INTEGER},
      CERTIFICATE_TYPE = #{record.certificateType,jdbcType=TINYINT},
      CERTIFICATE_NO = #{record.certificateNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificate">
    <!--@mbggenerated-->
    update FUN_ENTRUST_CERTIFICATE
    <set>
      <if test="entrustId != null">
        ENTRUST_ID = #{entrustId,jdbcType=INTEGER},
      </if>
      <if test="certificateType != null">
        CERTIFICATE_TYPE = #{certificateType,jdbcType=TINYINT},
      </if>
      <if test="certificateNo != null">
        CERTIFICATE_NO = #{certificateNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificate">
    <!--@mbggenerated-->
    update FUN_ENTRUST_CERTIFICATE
    set ENTRUST_ID = #{entrustId,jdbcType=INTEGER},
      CERTIFICATE_TYPE = #{certificateType,jdbcType=TINYINT},
      CERTIFICATE_NO = #{certificateNo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="EntrustCertificateVOMap" type="com.myfun.erpWeb.house.vo.EntrustCertificateVO">
    <id column="ID" jdbcType="INTEGER" property="certificateId" />
    <result column="ENTRUST_ID" jdbcType="INTEGER" property="entrustId" />
    <result column="CERTIFICATE_TYPE" jdbcType="TINYINT" property="certificateType" />
    <result column="CERTIFICATE_NO" jdbcType="VARCHAR" property="certificateNo" />
  </resultMap>
  
  <select id="selectByEntrustIds" resultMap="EntrustCertificateVOMap">
    select <include refid="Base_Column_List" /> from FUN_ENTRUST_CERTIFICATE
    WHERE ENTRUST_ID in
    <foreach close=")" collection="entrustIds" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
  
  <update id="updateCertificateInfo" parameterType="com.myfun.repository.erpdb.po.ErpFunEntrustCertificate">
    update FUN_ENTRUST_CERTIFICATE
    set ENTRUST_ID = #{entrustId},
      CERTIFICATE_TYPE = #{certificateType},
      CERTIFICATE_NO = #{certificateNo}
    where ID = #{id}
  </update>
</mapper>