<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpHouseRoofAnisMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpHouseRoofAnis">
    <!--@mbggenerated-->
    <result column="HOUSE_ID" jdbcType="INTEGER" property="houseId" />
    <result column="HOUSE_NO" jdbcType="VARCHAR" property="houseNo" />
    <result column="HOUSE_TYPE" jdbcType="TINYINT" property="houseType" />
    <result column="HOUSE_ROOF" jdbcType="VARCHAR" property="houseRoof" />
    <result column="HOUSE_ROOF_R" jdbcType="VARCHAR" property="houseRoofR" />
    <result column="HOUSE_ROOF_MINWEN" jdbcType="VARCHAR" property="houseRoofMinwen" />
    <result column="HOUSE_ROOF_R_MINWEN" jdbcType="VARCHAR" property="houseRoofRMinwen" />
    <result column="ROOF_FLAG" jdbcType="TINYINT" property="roofFlag" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpHouseRoofAnis">
    <!--@mbggenerated-->
    insert into HOUSE_ROOF_ANIS (HOUSE_ID, HOUSE_NO, HOUSE_TYPE, 
      HOUSE_ROOF, HOUSE_ROOF_R, HOUSE_ROOF_MINWEN, 
      HOUSE_ROOF_R_MINWEN, ROOF_FLAG, CREATION_TIME
      )
    values (#{houseId,jdbcType=INTEGER}, #{houseNo,jdbcType=VARCHAR}, #{houseType,jdbcType=TINYINT}, 
      #{houseRoof,jdbcType=VARCHAR}, #{houseRoofR,jdbcType=VARCHAR}, #{houseRoofMinwen,jdbcType=VARCHAR}, 
      #{houseRoofRMinwen,jdbcType=VARCHAR}, #{roofFlag,jdbcType=TINYINT}, #{creationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpHouseRoofAnis">
    <!--@mbggenerated-->
    insert into HOUSE_ROOF_ANIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseId != null">
        HOUSE_ID,
      </if>
      <if test="houseNo != null">
        HOUSE_NO,
      </if>
      <if test="houseType != null">
        HOUSE_TYPE,
      </if>
      <if test="houseRoof != null">
        HOUSE_ROOF,
      </if>
      <if test="houseRoofR != null">
        HOUSE_ROOF_R,
      </if>
      <if test="houseRoofMinwen != null">
        HOUSE_ROOF_MINWEN,
      </if>
      <if test="houseRoofRMinwen != null">
        HOUSE_ROOF_R_MINWEN,
      </if>
      <if test="roofFlag != null">
        ROOF_FLAG,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseNo != null">
        #{houseNo,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null">
        #{houseType,jdbcType=TINYINT},
      </if>
      <if test="houseRoof != null">
        #{houseRoof,jdbcType=VARCHAR},
      </if>
      <if test="houseRoofR != null">
        #{houseRoofR,jdbcType=VARCHAR},
      </if>
      <if test="houseRoofMinwen != null">
        #{houseRoofMinwen,jdbcType=VARCHAR},
      </if>
      <if test="houseRoofRMinwen != null">
        #{houseRoofRMinwen,jdbcType=VARCHAR},
      </if>
      <if test="roofFlag != null">
        #{roofFlag,jdbcType=TINYINT},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>