<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpProcessModelStepMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpProcessModelStep">
    <!--@mbggenerated-->
    <id column="STEP_ID" jdbcType="INTEGER" property="stepId" />
    <result column="STEP_NAME" jdbcType="VARCHAR" property="stepName" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="TIMELIMIT_TYPE" jdbcType="TINYINT" property="timelimitType" />
    <result column="TIMELIMIT" jdbcType="INTEGER" property="timelimit" />
    <result column="EXECUTOR_TYPE" jdbcType="TINYINT" property="executorType" />
    <result column="EXECUTOR" jdbcType="INTEGER" property="executor" />
    <result column="EXECUTOR_NAME" jdbcType="VARCHAR" property="executorName" />
    <result column="EXECUTOR_ROLE" jdbcType="VARCHAR" property="executorRole" />
    <result column="WARN_TYPE" jdbcType="TINYINT" property="warnType" />
    <result column="WARNER" jdbcType="INTEGER" property="warner" />
    <result column="WARNER_NAME" jdbcType="VARCHAR" property="warnerName" />
    <result column="WARNER_ROLE" jdbcType="VARCHAR" property="warnerRole" />
    <result column="IS_SYSTEM" jdbcType="TINYINT" property="isSystem" />
    <result column="RPEVSTEP_ID" jdbcType="INTEGER" property="rpevstepId" />
    <result column="RPEVSTEP_NAME" jdbcType="VARCHAR" property="rpevstepName" />
    <result column="STEP_NO" jdbcType="VARCHAR" property="stepNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    STEP_ID, STEP_NAME, COMP_ID, TIMELIMIT_TYPE, TIMELIMIT, EXECUTOR_TYPE, EXECUTOR, 
    EXECUTOR_NAME, EXECUTOR_ROLE, WARN_TYPE, WARNER, WARNER_NAME, WARNER_ROLE, IS_SYSTEM, 
    RPEVSTEP_ID, RPEVSTEP_NAME, STEP_NO
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpProcessModelStepExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PROCESS_MODEL_STEP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from PROCESS_MODEL_STEP
    where STEP_ID = #{stepId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from PROCESS_MODEL_STEP
    where STEP_ID = #{stepId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpProcessModelStepExample">
    <!--@mbggenerated-->
    delete from PROCESS_MODEL_STEP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpProcessModelStep">
    <!--@mbggenerated-->
    <selectKey keyProperty="stepId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_PROCESS_MODEL_STEP_STEP_ID
    </selectKey>
    insert into PROCESS_MODEL_STEP (STEP_ID, STEP_NAME, COMP_ID, 
      TIMELIMIT_TYPE, TIMELIMIT, EXECUTOR_TYPE, 
      EXECUTOR, EXECUTOR_NAME, EXECUTOR_ROLE, 
      WARN_TYPE, WARNER, WARNER_NAME, 
      WARNER_ROLE, IS_SYSTEM, RPEVSTEP_ID, 
      RPEVSTEP_NAME, STEP_NO)
    values (#{stepId,jdbcType=INTEGER}, #{stepName,jdbcType=VARCHAR}, #{compId,jdbcType=INTEGER}, 
      #{timelimitType,jdbcType=TINYINT}, #{timelimit,jdbcType=INTEGER}, #{executorType,jdbcType=TINYINT}, 
      #{executor,jdbcType=INTEGER}, #{executorName,jdbcType=VARCHAR}, #{executorRole,jdbcType=VARCHAR}, 
      #{warnType,jdbcType=TINYINT}, #{warner,jdbcType=INTEGER}, #{warnerName,jdbcType=VARCHAR}, 
      #{warnerRole,jdbcType=VARCHAR}, #{isSystem,jdbcType=TINYINT}, #{rpevstepId,jdbcType=INTEGER}, 
      #{rpevstepName,jdbcType=VARCHAR}, #{stepNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpProcessModelStep">
    <!--@mbggenerated-->
    <selectKey keyProperty="stepId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_PROCESS_MODEL_STEP_STEP_ID
    </selectKey>
    insert into PROCESS_MODEL_STEP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      STEP_ID,
      <if test="stepName != null">
        STEP_NAME,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="timelimitType != null">
        TIMELIMIT_TYPE,
      </if>
      <if test="timelimit != null">
        TIMELIMIT,
      </if>
      <if test="executorType != null">
        EXECUTOR_TYPE,
      </if>
      <if test="executor != null">
        EXECUTOR,
      </if>
      <if test="executorName != null">
        EXECUTOR_NAME,
      </if>
      <if test="executorRole != null">
        EXECUTOR_ROLE,
      </if>
      <if test="warnType != null">
        WARN_TYPE,
      </if>
      <if test="warner != null">
        WARNER,
      </if>
      <if test="warnerName != null">
        WARNER_NAME,
      </if>
      <if test="warnerRole != null">
        WARNER_ROLE,
      </if>
      <if test="isSystem != null">
        IS_SYSTEM,
      </if>
      <if test="rpevstepId != null">
        RPEVSTEP_ID,
      </if>
      <if test="rpevstepName != null">
        RPEVSTEP_NAME,
      </if>
      <if test="stepNo != null">
        STEP_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{stepId,jdbcType=INTEGER},
      <if test="stepName != null">
        #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="timelimitType != null">
        #{timelimitType,jdbcType=TINYINT},
      </if>
      <if test="timelimit != null">
        #{timelimit,jdbcType=INTEGER},
      </if>
      <if test="executorType != null">
        #{executorType,jdbcType=TINYINT},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=INTEGER},
      </if>
      <if test="executorName != null">
        #{executorName,jdbcType=VARCHAR},
      </if>
      <if test="executorRole != null">
        #{executorRole,jdbcType=VARCHAR},
      </if>
      <if test="warnType != null">
        #{warnType,jdbcType=TINYINT},
      </if>
      <if test="warner != null">
        #{warner,jdbcType=INTEGER},
      </if>
      <if test="warnerName != null">
        #{warnerName,jdbcType=VARCHAR},
      </if>
      <if test="warnerRole != null">
        #{warnerRole,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        #{isSystem,jdbcType=TINYINT},
      </if>
      <if test="rpevstepId != null">
        #{rpevstepId,jdbcType=INTEGER},
      </if>
      <if test="rpevstepName != null">
        #{rpevstepName,jdbcType=VARCHAR},
      </if>
      <if test="stepNo != null">
        #{stepNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpProcessModelStepExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from PROCESS_MODEL_STEP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update PROCESS_MODEL_STEP
    <set>
      <if test="record.stepId != null">
        STEP_ID = #{record.stepId,jdbcType=INTEGER},
      </if>
      <if test="record.stepName != null">
        STEP_NAME = #{record.stepName,jdbcType=VARCHAR},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.timelimitType != null">
        TIMELIMIT_TYPE = #{record.timelimitType,jdbcType=TINYINT},
      </if>
      <if test="record.timelimit != null">
        TIMELIMIT = #{record.timelimit,jdbcType=INTEGER},
      </if>
      <if test="record.executorType != null">
        EXECUTOR_TYPE = #{record.executorType,jdbcType=TINYINT},
      </if>
      <if test="record.executor != null">
        EXECUTOR = #{record.executor,jdbcType=INTEGER},
      </if>
      <if test="record.executorName != null">
        EXECUTOR_NAME = #{record.executorName,jdbcType=VARCHAR},
      </if>
      <if test="record.executorRole != null">
        EXECUTOR_ROLE = #{record.executorRole,jdbcType=VARCHAR},
      </if>
      <if test="record.warnType != null">
        WARN_TYPE = #{record.warnType,jdbcType=TINYINT},
      </if>
      <if test="record.warner != null">
        WARNER = #{record.warner,jdbcType=INTEGER},
      </if>
      <if test="record.warnerName != null">
        WARNER_NAME = #{record.warnerName,jdbcType=VARCHAR},
      </if>
      <if test="record.warnerRole != null">
        WARNER_ROLE = #{record.warnerRole,jdbcType=VARCHAR},
      </if>
      <if test="record.isSystem != null">
        IS_SYSTEM = #{record.isSystem,jdbcType=TINYINT},
      </if>
      <if test="record.rpevstepId != null">
        RPEVSTEP_ID = #{record.rpevstepId,jdbcType=INTEGER},
      </if>
      <if test="record.rpevstepName != null">
        RPEVSTEP_NAME = #{record.rpevstepName,jdbcType=VARCHAR},
      </if>
      <if test="record.stepNo != null">
        STEP_NO = #{record.stepNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update PROCESS_MODEL_STEP
    set STEP_ID = #{record.stepId,jdbcType=INTEGER},
      STEP_NAME = #{record.stepName,jdbcType=VARCHAR},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      TIMELIMIT_TYPE = #{record.timelimitType,jdbcType=TINYINT},
      TIMELIMIT = #{record.timelimit,jdbcType=INTEGER},
      EXECUTOR_TYPE = #{record.executorType,jdbcType=TINYINT},
      EXECUTOR = #{record.executor,jdbcType=INTEGER},
      EXECUTOR_NAME = #{record.executorName,jdbcType=VARCHAR},
      EXECUTOR_ROLE = #{record.executorRole,jdbcType=VARCHAR},
      WARN_TYPE = #{record.warnType,jdbcType=TINYINT},
      WARNER = #{record.warner,jdbcType=INTEGER},
      WARNER_NAME = #{record.warnerName,jdbcType=VARCHAR},
      WARNER_ROLE = #{record.warnerRole,jdbcType=VARCHAR},
      IS_SYSTEM = #{record.isSystem,jdbcType=TINYINT},
      RPEVSTEP_ID = #{record.rpevstepId,jdbcType=INTEGER},
      RPEVSTEP_NAME = #{record.rpevstepName,jdbcType=VARCHAR},
      STEP_NO = #{record.stepNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpProcessModelStep">
    <!--@mbggenerated-->
    update PROCESS_MODEL_STEP
    <set>
      <if test="stepName != null">
        STEP_NAME = #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="timelimitType != null">
        TIMELIMIT_TYPE = #{timelimitType,jdbcType=TINYINT},
      </if>
      <if test="timelimit != null">
        TIMELIMIT = #{timelimit,jdbcType=INTEGER},
      </if>
      <if test="executorType != null">
        EXECUTOR_TYPE = #{executorType,jdbcType=TINYINT},
      </if>
      <if test="executor != null">
        EXECUTOR = #{executor,jdbcType=INTEGER},
      </if>
      <if test="executorName != null">
        EXECUTOR_NAME = #{executorName,jdbcType=VARCHAR},
      </if>
      <if test="executorRole != null">
        EXECUTOR_ROLE = #{executorRole,jdbcType=VARCHAR},
      </if>
      <if test="warnType != null">
        WARN_TYPE = #{warnType,jdbcType=TINYINT},
      </if>
      <if test="warner != null">
        WARNER = #{warner,jdbcType=INTEGER},
      </if>
      <if test="warnerName != null">
        WARNER_NAME = #{warnerName,jdbcType=VARCHAR},
      </if>
      <if test="warnerRole != null">
        WARNER_ROLE = #{warnerRole,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        IS_SYSTEM = #{isSystem,jdbcType=TINYINT},
      </if>
      <if test="rpevstepId != null">
        RPEVSTEP_ID = #{rpevstepId,jdbcType=INTEGER},
      </if>
      <if test="rpevstepName != null">
        RPEVSTEP_NAME = #{rpevstepName,jdbcType=VARCHAR},
      </if>
      <if test="stepNo != null">
        STEP_NO = #{stepNo,jdbcType=VARCHAR},
      </if>
    </set>
    where STEP_ID = #{stepId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpProcessModelStep">
    <!--@mbggenerated-->
    update PROCESS_MODEL_STEP
    set STEP_NAME = #{stepName,jdbcType=VARCHAR},
      COMP_ID = #{compId,jdbcType=INTEGER},
      TIMELIMIT_TYPE = #{timelimitType,jdbcType=TINYINT},
      TIMELIMIT = #{timelimit,jdbcType=INTEGER},
      EXECUTOR_TYPE = #{executorType,jdbcType=TINYINT},
      EXECUTOR = #{executor,jdbcType=INTEGER},
      EXECUTOR_NAME = #{executorName,jdbcType=VARCHAR},
      EXECUTOR_ROLE = #{executorRole,jdbcType=VARCHAR},
      WARN_TYPE = #{warnType,jdbcType=TINYINT},
      WARNER = #{warner,jdbcType=INTEGER},
      WARNER_NAME = #{warnerName,jdbcType=VARCHAR},
      WARNER_ROLE = #{warnerRole,jdbcType=VARCHAR},
      IS_SYSTEM = #{isSystem,jdbcType=TINYINT},
      RPEVSTEP_ID = #{rpevstepId,jdbcType=INTEGER},
      RPEVSTEP_NAME = #{rpevstepName,jdbcType=VARCHAR},
      STEP_NO = #{stepNo,jdbcType=VARCHAR}
    where STEP_ID = #{stepId,jdbcType=INTEGER}
  </update>
  <select id="getMgrAllStepModelList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PROCESS_MODEL_STEP
    where COMP_ID = #{compId}
  </select>

  <resultMap id="extBaseResultMap" extends="BaseResultMap" type="com.myfun.erpWeb.managecenter.transaction.vo.ProcessModelStepVO">

  </resultMap>
   <select id="getProcessModelStepList" resultMap="extBaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PROCESS_MODEL_STEP
    where COMP_ID = #{compId}
  </select>
  
  
</mapper>