<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpSysParaMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpSysPara">
    <!--@mbggenerated-->
    <id column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <id column="PARAM_ID" jdbcType="VARCHAR" property="paramId" />
    <id column="PARTNER_ID" jdbcType="INTEGER" property="partnerId" />
    <result column="PARAM_VALUE" jdbcType="VARCHAR" property="paramValue" />
    <result column="PARAM_TYPE" jdbcType="VARCHAR" property="paramType" />
    <result column="DEFAULT_VALUE" jdbcType="VARCHAR" property="defaultValue" />
    <result column="PARAM_DESC" jdbcType="VARCHAR" property="paramDesc" />
    <result column="NEED_RELOGIN" jdbcType="TINYINT" property="needRelogin" />
    <result column="MEDIUM_VALUE" jdbcType="VARCHAR" property="mediumValue" />
    <result column="SENIOR_VALUE" jdbcType="VARCHAR" property="seniorValue" />
    <result column="ORGANIZATION_TYPE" jdbcType="TINYINT" property="organizationType" />
    <result column="PARAM_VALUE_DEF_ID" jdbcType="INTEGER" property="paramValueDefId" />
    <result column="DEFAULT_VALUE_DEF_ID" jdbcType="INTEGER" property="defaultValueDefId" />
    <result column="MEDIUM_VALUE_DEF_ID" jdbcType="INTEGER" property="mediumValueDefId" />
    <result column="SENIOR_VALUE_DEF_ID" jdbcType="INTEGER" property="seniorValueDefId" />
    <result column="ORGANIZATION_ID" jdbcType="INTEGER" property="organizationId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    COMP_ID, PARAM_ID, PARTNER_ID, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC, 
    NEED_RELOGIN, MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, 
    DEFAULT_VALUE_DEF_ID, MEDIUM_VALUE_DEF_ID, SENIOR_VALUE_DEF_ID, ORGANIZATION_ID
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.erpdb.po.ErpSysParaExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_PARA
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from SYS_PARA
    where COMP_ID = #{compId,jdbcType=INTEGER}
      and PARAM_ID = #{paramId,jdbcType=VARCHAR}
      and PARTNER_ID = #{partnerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    <!--@mbggenerated-->
    delete from SYS_PARA
    where COMP_ID = #{compId,jdbcType=INTEGER}
      and PARAM_ID = #{paramId,jdbcType=VARCHAR}
      and PARTNER_ID = #{partnerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.erpdb.po.ErpSysParaExample">
    <!--@mbggenerated-->
    delete from SYS_PARA
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpSysPara">
    <!--@mbggenerated-->
    insert into SYS_PARA (COMP_ID, PARAM_ID, PARTNER_ID, 
      PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, 
      PARAM_DESC, NEED_RELOGIN, MEDIUM_VALUE, 
      SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, 
      DEFAULT_VALUE_DEF_ID, MEDIUM_VALUE_DEF_ID, SENIOR_VALUE_DEF_ID, 
      ORGANIZATION_ID)
    values (#{compId,jdbcType=INTEGER}, #{paramId,jdbcType=VARCHAR}, #{partnerId,jdbcType=INTEGER}, 
      #{paramValue,jdbcType=VARCHAR}, #{paramType,jdbcType=VARCHAR}, #{defaultValue,jdbcType=VARCHAR}, 
      #{paramDesc,jdbcType=VARCHAR}, #{needRelogin,jdbcType=TINYINT}, #{mediumValue,jdbcType=VARCHAR}, 
      #{seniorValue,jdbcType=VARCHAR}, #{organizationType,jdbcType=TINYINT}, #{paramValueDefId,jdbcType=INTEGER}, 
      #{defaultValueDefId,jdbcType=INTEGER}, #{mediumValueDefId,jdbcType=INTEGER}, #{seniorValueDefId,jdbcType=INTEGER}, 
      #{organizationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpSysPara">
    <!--@mbggenerated-->
    insert into SYS_PARA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="paramId != null">
        PARAM_ID,
      </if>
      <if test="partnerId != null">
        PARTNER_ID,
      </if>
      <if test="paramValue != null">
        PARAM_VALUE,
      </if>
      <if test="paramType != null">
        PARAM_TYPE,
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE,
      </if>
      <if test="paramDesc != null">
        PARAM_DESC,
      </if>
      <if test="needRelogin != null">
        NEED_RELOGIN,
      </if>
      <if test="mediumValue != null">
        MEDIUM_VALUE,
      </if>
      <if test="seniorValue != null">
        SENIOR_VALUE,
      </if>
      <if test="organizationType != null">
        ORGANIZATION_TYPE,
      </if>
      <if test="paramValueDefId != null">
        PARAM_VALUE_DEF_ID,
      </if>
      <if test="defaultValueDefId != null">
        DEFAULT_VALUE_DEF_ID,
      </if>
      <if test="mediumValueDefId != null">
        MEDIUM_VALUE_DEF_ID,
      </if>
      <if test="seniorValueDefId != null">
        SENIOR_VALUE_DEF_ID,
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="paramId != null">
        #{paramId,jdbcType=VARCHAR},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=INTEGER},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null">
        #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="needRelogin != null">
        #{needRelogin,jdbcType=TINYINT},
      </if>
      <if test="mediumValue != null">
        #{mediumValue,jdbcType=VARCHAR},
      </if>
      <if test="seniorValue != null">
        #{seniorValue,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null">
        #{organizationType,jdbcType=TINYINT},
      </if>
      <if test="paramValueDefId != null">
        #{paramValueDefId,jdbcType=INTEGER},
      </if>
      <if test="defaultValueDefId != null">
        #{defaultValueDefId,jdbcType=INTEGER},
      </if>
      <if test="mediumValueDefId != null">
        #{mediumValueDefId,jdbcType=INTEGER},
      </if>
      <if test="seniorValueDefId != null">
        #{seniorValueDefId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.erpdb.po.ErpSysParaExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from SYS_PARA
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update SYS_PARA
    <set>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.paramId != null">
        PARAM_ID = #{record.paramId,jdbcType=VARCHAR},
      </if>
      <if test="record.partnerId != null">
        PARTNER_ID = #{record.partnerId,jdbcType=INTEGER},
      </if>
      <if test="record.paramValue != null">
        PARAM_VALUE = #{record.paramValue,jdbcType=VARCHAR},
      </if>
      <if test="record.paramType != null">
        PARAM_TYPE = #{record.paramType,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultValue != null">
        DEFAULT_VALUE = #{record.defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.paramDesc != null">
        PARAM_DESC = #{record.paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.needRelogin != null">
        NEED_RELOGIN = #{record.needRelogin,jdbcType=TINYINT},
      </if>
      <if test="record.mediumValue != null">
        MEDIUM_VALUE = #{record.mediumValue,jdbcType=VARCHAR},
      </if>
      <if test="record.seniorValue != null">
        SENIOR_VALUE = #{record.seniorValue,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationType != null">
        ORGANIZATION_TYPE = #{record.organizationType,jdbcType=TINYINT},
      </if>
      <if test="record.paramValueDefId != null">
        PARAM_VALUE_DEF_ID = #{record.paramValueDefId,jdbcType=INTEGER},
      </if>
      <if test="record.defaultValueDefId != null">
        DEFAULT_VALUE_DEF_ID = #{record.defaultValueDefId,jdbcType=INTEGER},
      </if>
      <if test="record.mediumValueDefId != null">
        MEDIUM_VALUE_DEF_ID = #{record.mediumValueDefId,jdbcType=INTEGER},
      </if>
      <if test="record.seniorValueDefId != null">
        SENIOR_VALUE_DEF_ID = #{record.seniorValueDefId,jdbcType=INTEGER},
      </if>
      <if test="record.organizationId != null">
        ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update SYS_PARA
    set COMP_ID = #{record.compId,jdbcType=INTEGER},
      PARAM_ID = #{record.paramId,jdbcType=VARCHAR},
      PARTNER_ID = #{record.partnerId,jdbcType=INTEGER},
      PARAM_VALUE = #{record.paramValue,jdbcType=VARCHAR},
      PARAM_TYPE = #{record.paramType,jdbcType=VARCHAR},
      DEFAULT_VALUE = #{record.defaultValue,jdbcType=VARCHAR},
      PARAM_DESC = #{record.paramDesc,jdbcType=VARCHAR},
      NEED_RELOGIN = #{record.needRelogin,jdbcType=TINYINT},
      MEDIUM_VALUE = #{record.mediumValue,jdbcType=VARCHAR},
      SENIOR_VALUE = #{record.seniorValue,jdbcType=VARCHAR},
      ORGANIZATION_TYPE = #{record.organizationType,jdbcType=TINYINT},
      PARAM_VALUE_DEF_ID = #{record.paramValueDefId,jdbcType=INTEGER},
      DEFAULT_VALUE_DEF_ID = #{record.defaultValueDefId,jdbcType=INTEGER},
      MEDIUM_VALUE_DEF_ID = #{record.mediumValueDefId,jdbcType=INTEGER},
      SENIOR_VALUE_DEF_ID = #{record.seniorValueDefId,jdbcType=INTEGER},
      ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpSysPara">
    <!--@mbggenerated-->
    update SYS_PARA
    <set>
      <if test="paramValue != null">
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramType != null">
        PARAM_TYPE = #{paramType,jdbcType=VARCHAR},
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null">
        PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="needRelogin != null">
        NEED_RELOGIN = #{needRelogin,jdbcType=TINYINT},
      </if>
      <if test="mediumValue != null">
        MEDIUM_VALUE = #{mediumValue,jdbcType=VARCHAR},
      </if>
      <if test="seniorValue != null">
        SENIOR_VALUE = #{seniorValue,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null">
        ORGANIZATION_TYPE = #{organizationType,jdbcType=TINYINT},
      </if>
      <if test="paramValueDefId != null">
        PARAM_VALUE_DEF_ID = #{paramValueDefId,jdbcType=INTEGER},
      </if>
      <if test="defaultValueDefId != null">
        DEFAULT_VALUE_DEF_ID = #{defaultValueDefId,jdbcType=INTEGER},
      </if>
      <if test="mediumValueDefId != null">
        MEDIUM_VALUE_DEF_ID = #{mediumValueDefId,jdbcType=INTEGER},
      </if>
      <if test="seniorValueDefId != null">
        SENIOR_VALUE_DEF_ID = #{seniorValueDefId,jdbcType=INTEGER},
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER},
      </if>
    </set>
    where COMP_ID = #{compId,jdbcType=INTEGER}
      and PARAM_ID = #{paramId,jdbcType=VARCHAR}
      and PARTNER_ID = #{partnerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpSysPara">
    <!--@mbggenerated-->
    update SYS_PARA
    set PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      PARAM_TYPE = #{paramType,jdbcType=VARCHAR},
      DEFAULT_VALUE = #{defaultValue,jdbcType=VARCHAR},
      PARAM_DESC = #{paramDesc,jdbcType=VARCHAR},
      NEED_RELOGIN = #{needRelogin,jdbcType=TINYINT},
      MEDIUM_VALUE = #{mediumValue,jdbcType=VARCHAR},
      SENIOR_VALUE = #{seniorValue,jdbcType=VARCHAR},
      ORGANIZATION_TYPE = #{organizationType,jdbcType=TINYINT},
      PARAM_VALUE_DEF_ID = #{paramValueDefId,jdbcType=INTEGER},
      DEFAULT_VALUE_DEF_ID = #{defaultValueDefId,jdbcType=INTEGER},
      MEDIUM_VALUE_DEF_ID = #{mediumValueDefId,jdbcType=INTEGER},
      SENIOR_VALUE_DEF_ID = #{seniorValueDefId,jdbcType=INTEGER},
      ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
    where COMP_ID = #{compId,jdbcType=INTEGER}
      and PARAM_ID = #{paramId,jdbcType=VARCHAR}
      and PARTNER_ID = #{partnerId,jdbcType=INTEGER}
  </update>
  
  <!-- buniess -->
	<update id="updateOaramValueByCompId">
		UPDATE SYS_PARA SET PARAM_VALUE= #{parvalue}
		<if test="defaultVal != null and defaultVal != ''">
			,DEFAULT_VALUE = #{defaultVal}
		</if>
		WHERE PARAM_ID= #{paramId} AND COMP_ID = #{compId}
	</update>
	
	<update id="updateSysParaComp" parameterType="com.myfun.repository.erpdb.po.ErpSysPara">
		UPDATE SYS_PARA SET
		PARAM_VALUE = #{paramValue}, DEFAULT_VALUE =
		#{defaultValue}
		WHERE
		COMP_ID = #{compId} AND PARAM_ID = #{paramId}
	</update>
	
	<insert id="insertSysParaComp">
		INSERT
		SYS_PARA(COMP_ID,PARAM_ID,PARAM_VALUE,PARAM_TYPE,DEFAULT_VALUE,ORGANIZATION_ID)
		SELECT
		#{compId},PARAM_ID,PARAM_VALUE,PARAM_TYPE,DEFAULT_VALUE,0 FROM
		SYS_PARA
		where COMP_ID = 0
	</insert>
	

	
	<select id="selectSysParaByCompId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		from SYS_PARA
		where
		<choose>
			<when test="compId &gt; 1000">COMP_ID = #{compId} and PARTNER_ID =0 AND ORGANIZATION_ID = 0</when>
			<otherwise>COMP_ID = 0</otherwise>
		</choose>
	</select>
	
	<select id="getParamValue" resultType="java.lang.String">
		select PARAM_VALUE from SYS_PARA
		where PARAM_ID = #{paramId}
		<choose>
			<when test="compId &gt; 1000">AND COMP_ID = #{compId}</when>
			<otherwise>AND COMP_ID = 0</otherwise>
		</choose>
		and PARTNER_ID = 0
	</select>
	
	<select id="selectByParams" resultMap="BaseResultMap">
		select PARAM_ID,PARAM_VALUE from SYS_PARA
		where PARAM_ID IN
		<foreach close=")" collection="params" item="val" open="(" separator=",">#{val}</foreach>
		<choose>
			<when test="compId &gt; 1000">AND COMP_ID = #{compId} and PARTNER_ID = 0</when>
			<otherwise>AND COMP_ID = 0</otherwise>
		</choose>
	</select>

    <select id="getParaMapForLogin" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from SYS_PARA
        where COMP_ID = #{compId}
      <choose>
        <when test="null != partnerId and partnerId &gt; 0">AND PARTNER_ID = #{partnerId}</when>
        <otherwise>AND PARTNER_ID = 0</otherwise>
      </choose>
    </select>

    <delete id="cleanPartnerSysParam">
        DELETE FROM SYS_PARA WHERE COMP_ID = #{compId} AND PARTNER_ID != 0
        AND PARAM_ID IN
        <foreach close=")" collection="sysParams" item="val" open="(" separator=",">
            #{val}
        </foreach>
    </delete>

  <delete id="cleanSysParamByPartnerId">
    DELETE FROM SYS_PARA WHERE COMP_ID = #{compId} AND PARTNER_ID =#{partnerId}
    AND PARAM_ID IN
    <foreach close=")" collection="sysParams" item="val" open="(" separator=",">
      #{val}
    </foreach>
  </delete>

  <insert id="copyCompSysParamToPartner">
    <foreach close="" collection="partnerIds" index="index" item="partnerId" open="" separator=";">
      INSERT INTO SYS_PARA (COMP_ID, PARAM_ID, PARTNER_ID, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC,
      NEED_RELOGIN, MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, ORGANIZATION_ID)
      SELECT COMP_ID, PARAM_ID, #{partnerId}, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC, NEED_RELOGIN,
      MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, ORGANIZATION_ID
      FROM SYS_PARA
      WHERE COMP_ID = #{compId} AND PARTNER_ID = 0 AND PARAM_ID IN
      <foreach close=")" collection="sysParams" item="val" open="(" separator=",">
        #{val}
      </foreach>
    </foreach>
  </insert>

  <insert id="copyCompRoleSysParamToPartner">
    <foreach close="" collection="partnerIds" index="index" item="partnerId" open="" separator=";">
      INSERT INTO SYS_PARA (COMP_ID, PARAM_ID, PARTNER_ID, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC,
      NEED_RELOGIN, MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, ORGANIZATION_ID)
      SELECT COMP_ID, PARAM_ID, #{partnerId}, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC, NEED_RELOGIN,
      MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, ORGANIZATION_ID
      FROM SYS_PARA
      WHERE COMP_ID = #{compId} AND PARTNER_ID = 0
      AND (
      <foreach collection="sysParams" item="item" separator="OR">
        PARAM_ID like #{item}
      </foreach>
      )
    </foreach>
  </insert>

  <delete id="cleanCompPartnerSysParam">
    DELETE FROM SYS_PARA WHERE COMP_ID = #{compId} AND PARTNER_ID != 0
    AND (
    <foreach collection="sysParams" item="item" separator="OR">
      PARAM_ID like #{item}
    </foreach>
    )
  </delete>
  <delete id="cleanRoleSysParamByPartnerId">
    DELETE FROM SYS_PARA WHERE COMP_ID = #{compId} AND PARTNER_ID = #{partnerId}
    AND (
    <foreach collection="sysParams" item="item" separator="OR">
      PARAM_ID like #{item}
    </foreach>
    )
  </delete>

  <select id="selectSysParamByBusinessType" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from SYS_PARA
    where
    COMP_ID = #{compId}
    and PARTNER_ID = #{businessType}
      AND ORGANIZATION_ID = 0
  </select>

  
	<update id="excuteSys" statementType="CALLABLE">
		{call Proc_TskHouseCustStrategy()}
	</update>



  <update id="mlEntrustParamSetting">
    IF EXISTS (SELECT 1 FROM SYS_PARA WHERE COMP_ID = #{record.compId} and PARAM_ID = #{record.paramId})
      update SYS_PARA
      set PARAM_VALUE = #{record.paramValue}
      where COMP_ID = #{record.compId} and  PARAM_ID = #{record.paramId} and PARAM_VALUE != #{record.paramValue}
    ELSE
       insert into SYS_PARA (COMP_ID, PARAM_ID, PARAM_VALUE, 
        PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC, 
        NEED_RELOGIN, MEDIUM_VALUE, SENIOR_VALUE, 
        PARTNER_ID)
      values (#{record.compId}, #{record.paramId}, #{record.paramValue}, 
        #{record.paramType}, #{record.defaultValue}, #{record.paramDesc}, 
        #{record.needRelogin}, #{record.mediumValue}, #{record.seniorValue}, 
        #{record.partnerId})
  </update>
  <select id="selectMLParamWithBusinessType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_PARA
    where COMP_ID = #{compId} and PARTNER_ID = #{businessType} and PARAM_ID = #{paramId}
    union
    select
    <include refid="Base_Column_List" />
    from SYS_PARA
    where COMP_ID = #{compId} and PARTNER_ID = 0 and PARAM_ID = #{paramId}
  </select>

  <select id="selectMLParamWithParamIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SYS_PARA
    where COMP_ID = #{compId} AND PARTNER_ID = #{businessType} AND PARAM_ID IN
    <foreach close=")" collection="paramIds" item="val" open="(" separator=",">
      #{val}
    </foreach>
    <if test="businessType!=null and businessType!=0">
      union
      select
      <include refid="Base_Column_List" />
      from SYS_PARA
      where COMP_ID = #{compId} AND PARTNER_ID = 0 AND PARAM_ID IN
      <foreach close=")" collection="paramIds" item="val" open="(" separator=",">
        #{val}
      </foreach>
    </if>
  </select>

    <select id="selectMLSysParas" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        from SYS_PARA
        where
        COMP_ID = #{compId}
      <choose>
        <when test="businessType != null and businessType != ''">
          AND PARTNER_ID = #{businessType}
        </when>
        <otherwise>
          AND PARTNER_ID = 0
        </otherwise>
      </choose>
        AND ORGANIZATION_ID = 0
    </select>

  <delete id="cleanAllPartnerSysParam">
    DELETE FROM SYS_PARA WHERE COMP_ID = #{compId} AND PARTNER_ID != 0
  </delete>

  <insert id="copyAllCompSysParamToPartner">
    <foreach close="" collection="partnerIds" index="index" item="partnerId" open="" separator=";">
      INSERT INTO SYS_PARA
      SELECT COMP_ID, PARAM_ID, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC, NEED_RELOGIN,
      MEDIUM_VALUE, SENIOR_VALUE, #{partnerId}, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, ORGANIZATION_ID
      FROM SYS_PARA
      WHERE COMP_ID = #{compId} AND PARTNER_ID = 0
    </foreach>
  </insert>
  
  
      <select id="getValueById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        from SYS_PARA
        where COMP_ID = #{erpCompId} AND PARAM_ID = #{paramId}
    </select>
    
    
  <select id="selectByParamIds" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM SYS_PARA 	WHERE COMP_ID = #{erpCompId} AND ${initializeParamIds}
  </select>

  <delete id="deleteByCompId">
  	delete from SYS_PARA
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </delete>

  <update id="updateParamValues">
    UPDATE dbo.SYS_PARA SET PARAM_VALUE = '-2' WHERE COMP_ID = #{erpCompId} AND PARAM_ID IN
    <foreach close=")" collection="paramIds" item="paramId" open="(" separator=",">
      #{paramId}
    </foreach>
  </update>

  <update id="updateDefaultValues">
    UPDATE dbo.SYS_PARA SET DEFAULT_VALUE = '-2' WHERE COMP_ID = #{erpCompId} AND PARAM_ID IN
    <foreach close=")" collection="defaultIds" item="paramId" open="(" separator=",">
      #{paramId}
    </foreach>
  </update>

  <update id="updateMediumIdsValues">
    UPDATE dbo.SYS_PARA SET MEDIUM_VALUE = '-2' WHERE COMP_ID = #{erpCompId} AND PARAM_ID IN
    <foreach close=")" collection="mediumIds" item="paramId" open="(" separator=",">
      #{paramId}
    </foreach>
  </update>

  <update id="updateSeniorIdsValues">
    UPDATE dbo.SYS_PARA SET SENIOR_VALUE = '-2' WHERE COMP_ID = #{erpCompId} AND PARAM_ID IN
    <foreach close=")" collection="seniorIds" item="paramId" open="(" separator=",">
      #{paramId}
    </foreach>
  </update>

  <update id="updateSysParaLevelToDefId">
    UPDATE SYS_PARA SET PARAM_VALUE = B.DEFINITION_ID FROM dbo.SYS_PARA A JOIN dbo.FUN_ORGANIZATION_DEFINITION B ON A.PARAM_VALUE = B.DEFINITION_LEVEL
    WHERE A.COMP_ID = #{erpCompId}  AND B.COMP_ID = #{erpCompId}
    AND ${paramIds}

    UPDATE SYS_PARA SET DEFAULT_VALUE = B.DEFINITION_ID FROM dbo.SYS_PARA A JOIN dbo.FUN_ORGANIZATION_DEFINITION B ON A.DEFAULT_VALUE = B.DEFINITION_LEVEL
    WHERE A.COMP_ID = #{erpCompId}  AND B.COMP_ID = #{erpCompId}
    AND ${paramIds}

    UPDATE SYS_PARA SET MEDIUM_VALUE = B.DEFINITION_ID FROM dbo.SYS_PARA A JOIN dbo.FUN_ORGANIZATION_DEFINITION B ON A.MEDIUM_VALUE = B.DEFINITION_LEVEL
    WHERE A.COMP_ID = #{erpCompId}  AND B.COMP_ID = #{erpCompId}
    AND ${paramIds}

    UPDATE SYS_PARA SET SENIOR_VALUE = B.DEFINITION_ID FROM dbo.SYS_PARA A JOIN dbo.FUN_ORGANIZATION_DEFINITION B ON A.SENIOR_VALUE = B.DEFINITION_LEVEL
    WHERE A.COMP_ID = #{erpCompId}  AND B.COMP_ID = #{erpCompId}
    AND ${paramIds}
  </update>

  <select id="getParamByCompNo" resultType="java.lang.String">
    select PARAM_VALUE from SYS_PARA sp
    left join FUN_COMP fc on fc.COMP_ID = sp.COMP_ID
    where fc.comp_no=#{compNo} and sp.PARAM_ID=#{paramId}
  </select>

  <insert id="insertWageTypeForComp">
  	INSERT into SYS_PARA (COMP_ID, PARAM_ID, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC)
    select #{compId}, 'PAYROLL_SETTLEMENT_TYPE', '5', 'int', '5', '1=签约比例实收发  2：签约比例结算发 3：实收比例结算发 4：实收比例实收发 5:结算比例结算发'
    from SYS_PARA group by COMP_ID;
  </insert>

  <select id="selectByParamId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM SYS_PARA 	WHERE COMP_ID = #{erpCompId} AND PARAM_ID = #{paramId}
  </select>

  <select id="selectByOrgId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM SYS_PARA
    WHERE COMP_ID = #{compId} AND ORGANIZATION_ID = #{organizationId}
  </select>

    <insert id="copyParameterStrategy">
        INSERT INTO SYS_PARA (COMP_ID, PARAM_ID, PARTNER_ID, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC,
        NEED_RELOGIN, MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, ORGANIZATION_ID)
        SELECT COMP_ID, PARAM_ID, 0, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC, NEED_RELOGIN,
        MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, #{organizationId}
        FROM SYS_PARA
        WHERE COMP_ID = #{compId} AND PARTNER_ID = 0 AND ORGANIZATION_ID = 0 AND PARAM_ID IN
        <foreach close=")" collection="sysParams" item="val" open="(" separator=",">
            #{val}
        </foreach>
    </insert>

  <insert id="copyParameterStrategyWithDef">
      INSERT INTO SYS_PARA (COMP_ID, PARAM_ID, PARTNER_ID, PARAM_VALUE, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC,
      NEED_RELOGIN, MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, ORGANIZATION_ID)
      SELECT COMP_ID, PARAM_ID, 0, #{defalutValue}, PARAM_TYPE, DEFAULT_VALUE, PARAM_DESC, NEED_RELOGIN,
      MEDIUM_VALUE, SENIOR_VALUE, ORGANIZATION_TYPE, PARAM_VALUE_DEF_ID, #{organizationId}
      FROM SYS_PARA
      WHERE COMP_ID = #{compId} AND PARTNER_ID = 0 AND ORGANIZATION_ID = 0 AND PARAM_ID IN
      <foreach close=")" collection="sysParams" item="val" open="(" separator=",">
        #{val}
      </foreach>
  </insert>

  <update id="updateParameterStrategy">
    UPDATE SYS_PARA
    SET PARAM_VALUE = #{paramValue}
    WHERE COMP_ID = #{compId}
      AND PARTNER_ID = 0
      AND ORGANIZATION_ID = #{organizationId}
      AND PARAM_ID = #{paramId}
  </update>


  <select id="selectMLSysParamByOrgId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from SYS_PARA
    where comp_id = #{compId} and ORGANIZATION_ID = #{orgId} and PARAM_ID = #{paramId}
    union
    select
    <include refid="Base_Column_List"/>
    from SYS_PARA
    where comp_id = #{compId} and ORGANIZATION_ID = 0 and PARAM_ID = #{paramId}
    order by ORGANIZATION_ID desc
  </select>

  <select id="selectMLSysParamListByOrgId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from SYS_PARA
    where comp_id = #{compId} and ORGANIZATION_ID = #{orgId} and PARAM_ID in
    <foreach collection="paramIds" item="paramId" open="(" separator="," close=")">
      #{paramId}
    </foreach>
    union
    select
    <include refid="Base_Column_List"/>
    from SYS_PARA
    where comp_id = #{compId} and ORGANIZATION_ID = 0 and PARAM_ID in
    <foreach collection="paramIds" item="paramId" open="(" separator="," close=")">
      #{paramId}
    </foreach>
  </select>

  <update id="updateParameterBlank">
    update SYS_PARA SET PARAM_VALUE = null
    where comp_id = #{compId}
      and PARTNER_ID = #{businessType}
      AND PARAM_ID = #{paramId}
  </update>
  	
  <select id="getParamValueWithPartnerId" resultType="java.lang.String">
    select top 1 PARAM_VALUE from SYS_PARA
    where (COMP_ID = #{compId} and PARTNER_ID = #{partnerId} and PARAM_ID = #{paramId}) or (COMP_ID = #{compId} and PARTNER_ID = 0 and PARAM_ID = #{paramId})
    order by PARTNER_ID asc
  </select>

  <update id="updateValue" parameterType="com.myfun.repository.erpdb.po.ErpSysPara">
    UPDATE SYS_PARA SET
    PARAM_VALUE = #{paramValue}
    WHERE
    COMP_ID = #{compId} AND PARAM_ID = #{paramId}
    <if test="partnerId != null">
      and PARTNER_ID = #{partnerId}
    </if>
  </update>
  
  <update id="updateParamValueByParamId">
    update SYS_PARA 
    SET PARAM_VALUE = #{erpSysPara.paramValue}
    where COMP_ID = #{erpSysPara.compId} and PARAM_ID = #{erpSysPara.paramId}
  </update>

</mapper>