<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpShareScopeMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpShareScope">
    <!--@mbggenerated-->
    <id column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="COMP_IDS" jdbcType="VARCHAR" property="compIds" />
    <result column="SHARE_SUBJECT" jdbcType="VARCHAR" property="shareSubject" />
    <result column="SCOPE_ID" jdbcType="INTEGER" property="scopeId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    COMP_ID, COMP_IDS, SHARE_SUBJECT, SCOPE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from SHARE_SCOPE
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from SHARE_SCOPE
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpShareScope">
    <!--@mbggenerated-->
    insert into SHARE_SCOPE (COMP_ID, COMP_IDS, SHARE_SUBJECT, 
      SCOPE_ID)
    values (#{compId,jdbcType=INTEGER}, #{compIds,jdbcType=VARCHAR}, #{shareSubject,jdbcType=VARCHAR}, 
      #{scopeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpShareScope">
    <!--@mbggenerated-->
    insert into SHARE_SCOPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="compIds != null">
        COMP_IDS,
      </if>
      <if test="shareSubject != null">
        SHARE_SUBJECT,
      </if>
      <if test="scopeId != null">
        SCOPE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="compIds != null">
        #{compIds,jdbcType=VARCHAR},
      </if>
      <if test="shareSubject != null">
        #{shareSubject,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null">
        #{scopeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpShareScope">
    <!--@mbggenerated-->
    update SHARE_SCOPE
    <set>
      <if test="compIds != null">
        COMP_IDS = #{compIds,jdbcType=VARCHAR},
      </if>
      <if test="shareSubject != null">
        SHARE_SUBJECT = #{shareSubject,jdbcType=VARCHAR},
      </if>
      <if test="scopeId != null">
        SCOPE_ID = #{scopeId,jdbcType=INTEGER},
      </if>
    </set>
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpShareScope">
    <!--@mbggenerated-->
    update SHARE_SCOPE
    set COMP_IDS = #{compIds,jdbcType=VARCHAR},
      SHARE_SUBJECT = #{shareSubject,jdbcType=VARCHAR},
      SCOPE_ID = #{scopeId,jdbcType=INTEGER}
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </update>

  <select id="getShareScopeByCompId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from SHARE_SCOPE
    where COMP_ID = #{compId}
  </select>

</mapper>