<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.erpdb.dao.ErpWorkLogMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.erpdb.po.ErpWorkLog">
    <!--@mbggenerated-->
    <id column="WL_ID" jdbcType="INTEGER" property="wlId" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="WL_USER" jdbcType="INTEGER" property="wlUser" />
    <result column="WL_TIME" jdbcType="VARCHAR" property="wlTime" />
    <result column="WL_SUBMIT" jdbcType="VARCHAR" property="wlSubmit" />
    <result column="EXPLRTH_COUNT" jdbcType="INTEGER" property="explrthCount" />
    <result column="LOOK_COUNT" jdbcType="INTEGER" property="lookCount" />
    <result column="OTHER_COUNT" jdbcType="NUMERIC" property="otherCount" />
    <result column="TOTAL_COUNT" jdbcType="NUMERIC" property="totalCount" />
    <result column="WL_SUMMARY" jdbcType="VARCHAR" property="wlSummary" />
    <result column="EXAMIN_FLAG" jdbcType="TINYINT" property="examinFlag" />
    <result column="EXAMIN_LEVEL" jdbcType="VARCHAR" property="examinLevel" />
    <result column="EXAMIN_DESCRIPT" jdbcType="VARCHAR" property="examinDescript" />
    <result column="EXAMIN_USER" jdbcType="INTEGER" property="examinUser" />
    <result column="EXAMIN_TIME" jdbcType="VARCHAR" property="examinTime" />
    <result column="CREATOR_UID" jdbcType="INTEGER" property="creatorUid" />
    <result column="CREATION_TIME" jdbcType="VARCHAR" property="creationTime" />
  </resultMap>
  <resultMap id="WorkDtoResultMap" type="com.myfun.repository.erpdb.dto.ErpWorkLogDto">
    <id column="WL_ID" jdbcType="INTEGER" property="wlId" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="WL_USER" jdbcType="INTEGER" property="wlUser" />
    <result column="WL_TIME" jdbcType="VARCHAR" property="wlTime" />
    <result column="WL_SUBMIT" jdbcType="VARCHAR" property="wlSubmit" />
    <result column="EXPLRTH_COUNT" jdbcType="INTEGER" property="explrthCount" />
    <result column="LOOK_COUNT" jdbcType="INTEGER" property="lookCount" />
    <result column="OTHER_COUNT" jdbcType="NUMERIC" property="otherCount" />
    <result column="TOTAL_COUNT" jdbcType="NUMERIC" property="totalCount" />
    <result column="WL_SUMMARY" jdbcType="VARCHAR" property="wlSummary" />
    <result column="EXAMIN_FLAG" jdbcType="TINYINT" property="examinFlag" />
    <result column="EXAMIN_LEVEL" jdbcType="VARCHAR" property="examinLevel" />
    <result column="EXAMIN_DESCRIPT" jdbcType="VARCHAR" property="examinDescript" />
    <result column="EXAMIN_USER" jdbcType="INTEGER" property="examinUser" />
    <result column="EXAMIN_TIME" jdbcType="VARCHAR" property="examinTime" />
    <result column="CREATOR_UID" jdbcType="INTEGER" property="creatorUid" />
    <result column="CREATION_TIME" jdbcType="VARCHAR" property="creationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    WL_ID, COMP_ID, DEPT_ID, WL_USER, WL_TIME, WL_SUBMIT, EXPLRTH_COUNT, LOOK_COUNT, 
    OTHER_COUNT, TOTAL_COUNT, WL_SUMMARY, EXAMIN_FLAG, EXAMIN_LEVEL, EXAMIN_DESCRIPT, 
    EXAMIN_USER, EXAMIN_TIME, CREATOR_UID, CREATION_TIME
  </sql>
  <sql id="WorkLog_Column_List">
    WL_ID, COMP_ID, DEPT_ID, WL_USER, WL_TIME, WL_SUBMIT, 
    OTHER_COUNT, TOTAL_COUNT, WL_SUMMARY, EXAMIN_FLAG, EXAMIN_LEVEL, EXAMIN_DESCRIPT, 
    EXAMIN_USER, EXAMIN_TIME, CREATOR_UID, CREATION_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WORK_LOG
    where WL_ID = #{wlId,jdbcType=INTEGER}
  </select>
  <select id="countWorkLogOffUser" resultType="java.lang.Integer">
    select 
    count(1) as ATTR
    from WORK_LOG
    where WL_USER = #{nowUser,jdbcType=INTEGER} 
    and WL_TIME &lt;=#{timeEnd,jdbcType=VARCHAR}
    and WL_TIME &gt;=#{nowTime,jdbcType=VARCHAR}
  </select>
	
	<select id="selectLookExplrthCount" resultMap="WorkDtoResultMap">
		select sum(iif(TRACK_TYPE ='4',1,0)) as LOOK_COUNT,WL_ID,sum(iif(TRACK_TYPE = '3',1,0))as EXPLRTH_COUNT
		from FUN_TRACK,(
			select wl_id,creation_time,CREATOR_UID from WORK_LOg where wl_id in
			<foreach collection="wlIds" item="wlId" open="(" close=")" separator=",">#{wlId}</foreach>
		)a
		where TARGET_FLAG=1 and FUN_TRACK.CREATOR_UID = a.CREATOR_UID
		and CONVERT(VARCHAR(10),a.creation_time,23) = CONVERT(VARCHAR(10),FUN_TRACK.creation_time,23)
		GROUP BY wl_id
	</select>
	
	<select id="selectWorkLogInfo" resultMap="WorkDtoResultMap">
		SELECT
		<include refid="WorkLog_Column_List" />
		FROM WORK_LOG
		where WL_ID = #{wlId}
	</select>
	
	<select id="selectWorkLogList" resultMap="WorkDtoResultMap">
		SELECT
      A.WL_ID, A.COMP_ID, A.DEPT_ID, A.WL_USER, A.WL_TIME, A.WL_SUBMIT, A.EXPLRTH_COUNT, A.LOOK_COUNT,
      A.OTHER_COUNT, A.TOTAL_COUNT, A.WL_SUMMARY, A.EXAMIN_FLAG, A.EXAMIN_LEVEL, A.EXAMIN_DESCRIPT,
      A.EXAMIN_USER, A.EXAMIN_TIME, A.CREATOR_UID, A.CREATION_TIME
		FROM WORK_LOG A join FUN_USERS B ON A.WL_USER=B.USER_ID
		where A.COMP_ID = #{conditionModel.compId,jdbcType=INTEGER}
		<if test="conditionModel.deptId != null">
			and A.DEPT_ID=#{conditionModel.deptId,jdbcType=INTEGER}
		</if>
		<if test="conditionModel.newOrganization == false">
            <if test="conditionModel.grId != null">
                and B.GR_ID=#{conditionModel.grId}
            </if>
        </if>
        <if test="conditionModel.newOrganization == true and conditionModel.organizationId != null and conditionModel.organizationId != 0">
            AND B.TISSUE_LINE LIKE '%:${conditionModel.organizationId}:%'
        </if>
		<if test="conditionModel.userId != null">
			and A.WL_USER=#{conditionModel.userId}
		</if>
		<if test="conditionModel.examinFlag != null">
			and A.EXAMIN_FLAG = #{conditionModel.examinFlag,jdbcType=TINYINT}
		</if>
		<if test="conditionModel.wlTime1 != null">
			and A.WL_TIME &gt;= #{conditionModel.wlTime1,jdbcType=VARCHAR}
		</if>
		<if test="conditionModel.wlTime2 != null">
			and A.WL_TIME &lt;= #{conditionModel.wlTime2,jdbcType=VARCHAR}
		</if>
		<if test="conditionModel.orderBy != null and ''!=conditionModel.orderBy">
			order by ${conditionModel.orderBy}
		</if>
		OFFSET (${conditionModel.pageOffset}-1)*${conditionModel.pageRows} ROW FETCH NEXT ${conditionModel.pageRows} ROWS ONLY
	</select>
	
  <select id="countWorkLogList" resultType="java.lang.Integer">
  	SELECT
		count(1) as ATTR
	FROM
		WORK_LOG A join FUN_USERS B ON A.WL_USER=B.USER_ID
	  where A.COMP_ID = #{conditionModel.compId,jdbcType=INTEGER}
    <if test="conditionModel.deptId != null">
    and  A.DEPT_ID=#{conditionModel.deptId,jdbcType=INTEGER}
    </if>
	  <if test="conditionModel.grId != null">
		  and B.GR_ID=#{conditionModel.grId}
	  </if>
    <if test="conditionModel.userId != null">
    and  A.WL_USER=#{conditionModel.userId}
    </if>
    <if test="conditionModel.examinFlag != null">
    and  A.EXAMIN_FLAG=#{conditionModel.examinFlag,jdbcType=TINYINT}
    </if>
    <if test="conditionModel.wlTime1 != null">
    and  A.WL_TIME&gt;=#{conditionModel.wlTime1,jdbcType=VARCHAR}
    </if>
    <if test="conditionModel.wlTime2 != null">
    and  A.WL_TIME&lt;=#{conditionModel.wlTime2,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from WORK_LOG
    where WL_ID = #{wlId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.erpdb.po.ErpWorkLog">
    <!--@mbggenerated-->
    <selectKey keyProperty="wlId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_WORK_LOG_WL_ID
    </selectKey>
    insert into WORK_LOG (WL_ID, COMP_ID, DEPT_ID, 
      WL_USER, WL_TIME, WL_SUBMIT, 
      EXPLRTH_COUNT, LOOK_COUNT, OTHER_COUNT, 
      TOTAL_COUNT, WL_SUMMARY, EXAMIN_FLAG, 
      EXAMIN_LEVEL, EXAMIN_DESCRIPT, EXAMIN_USER, 
      EXAMIN_TIME, CREATOR_UID, CREATION_TIME
      )
    values (#{wlId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{wlUser,jdbcType=INTEGER}, #{wlTime,jdbcType=VARCHAR}, #{wlSubmit,jdbcType=VARCHAR}, 
      #{explrthCount,jdbcType=INTEGER}, #{lookCount,jdbcType=INTEGER}, #{otherCount,jdbcType=NUMERIC}, 
      #{totalCount,jdbcType=NUMERIC}, #{wlSummary,jdbcType=VARCHAR}, #{examinFlag,jdbcType=TINYINT}, 
      #{examinLevel,jdbcType=VARCHAR}, #{examinDescript,jdbcType=VARCHAR}, #{examinUser,jdbcType=INTEGER}, 
      #{examinTime,jdbcType=VARCHAR}, #{creatorUid,jdbcType=INTEGER}, #{creationTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.erpdb.po.ErpWorkLog">
    <!--@mbggenerated-->
    <selectKey keyProperty="wlId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_WORK_LOG_WL_ID
    </selectKey>
    insert into WORK_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      WL_ID,
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="wlUser != null">
        WL_USER,
      </if>
      <if test="wlTime != null">
        WL_TIME,
      </if>
      <if test="wlSubmit != null">
        WL_SUBMIT,
      </if>
      <if test="explrthCount != null">
        EXPLRTH_COUNT,
      </if>
      <if test="lookCount != null">
        LOOK_COUNT,
      </if>
      <if test="otherCount != null">
        OTHER_COUNT,
      </if>
      <if test="totalCount != null">
        TOTAL_COUNT,
      </if>
      <if test="wlSummary != null">
        WL_SUMMARY,
      </if>
      <if test="examinFlag != null">
        EXAMIN_FLAG,
      </if>
      <if test="examinLevel != null">
        EXAMIN_LEVEL,
      </if>
      <if test="examinDescript != null">
        EXAMIN_DESCRIPT,
      </if>
      <if test="examinUser != null">
        EXAMIN_USER,
      </if>
      <if test="examinTime != null">
        EXAMIN_TIME,
      </if>
      <if test="creatorUid != null">
        CREATOR_UID,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{wlId,jdbcType=INTEGER},
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="wlUser != null">
        #{wlUser,jdbcType=INTEGER},
      </if>
      <if test="wlTime != null">
        #{wlTime,jdbcType=VARCHAR},
      </if>
      <if test="wlSubmit != null">
        #{wlSubmit,jdbcType=VARCHAR},
      </if>
      <if test="explrthCount != null">
        #{explrthCount,jdbcType=INTEGER},
      </if>
      <if test="lookCount != null">
        #{lookCount,jdbcType=INTEGER},
      </if>
      <if test="otherCount != null">
        #{otherCount,jdbcType=NUMERIC},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=NUMERIC},
      </if>
      <if test="wlSummary != null">
        #{wlSummary,jdbcType=VARCHAR},
      </if>
      <if test="examinFlag != null">
        #{examinFlag,jdbcType=TINYINT},
      </if>
      <if test="examinLevel != null">
        #{examinLevel,jdbcType=VARCHAR},
      </if>
      <if test="examinDescript != null">
        #{examinDescript,jdbcType=VARCHAR},
      </if>
      <if test="examinUser != null">
        #{examinUser,jdbcType=INTEGER},
      </if>
      <if test="examinTime != null">
        #{examinTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null">
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.erpdb.po.ErpWorkLog">
    <!--@mbggenerated-->
    update WORK_LOG
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="wlUser != null">
        WL_USER = #{wlUser,jdbcType=INTEGER},
      </if>
      <if test="wlTime != null">
        WL_TIME = #{wlTime,jdbcType=VARCHAR},
      </if>
      <if test="wlSubmit != null">
        WL_SUBMIT = #{wlSubmit,jdbcType=VARCHAR},
      </if>
      <if test="explrthCount != null">
        EXPLRTH_COUNT = #{explrthCount,jdbcType=INTEGER},
      </if>
      <if test="lookCount != null">
        LOOK_COUNT = #{lookCount,jdbcType=INTEGER},
      </if>
      <if test="otherCount != null">
        OTHER_COUNT = #{otherCount,jdbcType=NUMERIC},
      </if>
      <if test="totalCount != null">
        TOTAL_COUNT = #{totalCount,jdbcType=NUMERIC},
      </if>
      <if test="wlSummary != null">
        WL_SUMMARY = #{wlSummary,jdbcType=VARCHAR},
      </if>
      <if test="examinFlag != null">
        EXAMIN_FLAG = #{examinFlag,jdbcType=TINYINT},
      </if>
      <if test="examinLevel != null">
        EXAMIN_LEVEL = #{examinLevel,jdbcType=VARCHAR},
      </if>
      <if test="examinDescript != null">
        EXAMIN_DESCRIPT = #{examinDescript,jdbcType=VARCHAR},
      </if>
      <if test="examinUser != null">
        EXAMIN_USER = #{examinUser,jdbcType=INTEGER},
      </if>
      <if test="examinTime != null">
        EXAMIN_TIME = #{examinTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null">
        CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=VARCHAR},
      </if>
    </set>
    where WL_ID = #{wlId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.erpdb.po.ErpWorkLog">
    <!--@mbggenerated-->
    update WORK_LOG
    set COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      WL_USER = #{wlUser,jdbcType=INTEGER},
      WL_TIME = #{wlTime,jdbcType=VARCHAR},
      WL_SUBMIT = #{wlSubmit,jdbcType=VARCHAR},
      EXPLRTH_COUNT = #{explrthCount,jdbcType=INTEGER},
      LOOK_COUNT = #{lookCount,jdbcType=INTEGER},
      OTHER_COUNT = #{otherCount,jdbcType=NUMERIC},
      TOTAL_COUNT = #{totalCount,jdbcType=NUMERIC},
      WL_SUMMARY = #{wlSummary,jdbcType=VARCHAR},
      EXAMIN_FLAG = #{examinFlag,jdbcType=TINYINT},
      EXAMIN_LEVEL = #{examinLevel,jdbcType=VARCHAR},
      EXAMIN_DESCRIPT = #{examinDescript,jdbcType=VARCHAR},
      EXAMIN_USER = #{examinUser,jdbcType=INTEGER},
      EXAMIN_TIME = #{examinTime,jdbcType=VARCHAR},
      CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=VARCHAR}
    where WL_ID = #{wlId,jdbcType=INTEGER}
  </update>
  <insert id="createWorkLog">
    <selectKey keyProperty="wlId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_WORK_LOG_WL_ID
    </selectKey>
    insert into WORK_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      WL_ID,
      <if test="insertModel.compId != null">
        COMP_ID,
      </if>
      <if test="insertModel.deptId != null">
        DEPT_ID,
      </if>
      <if test="insertModel.wlUser != null">
        WL_USER,
      </if>
      <if test="insertModel.wlTime != null">
        WL_TIME,
      </if>
      <if test="insertModel.wlSubmit != null">
        WL_SUBMIT,
      </if>
      <if test="insertModel.explrthCount != null">
        EXPLRTH_COUNT,
      </if>
      <if test="insertModel.lookCount != null">
        LOOK_COUNT,
      </if>
      <if test="insertModel.otherCount != null">
        OTHER_COUNT,
      </if>
      <if test="insertModel.totalCount != null">
        TOTAL_COUNT,
      </if>
      <if test="insertModel.wlSummary != null">
        WL_SUMMARY,
      </if>
      <if test="insertModel.examinFlag != null">
        EXAMIN_FLAG,
      </if>
      <if test="insertModel.examinLevel != null">
        EXAMIN_LEVEL,
      </if>
      <if test="insertModel.examinDescript != null">
        EXAMIN_DESCRIPT,
      </if>
      <if test="insertModel.examinUser != null">
        EXAMIN_USER,
      </if>
      <if test="insertModel.examinTime != null">
        EXAMIN_TIME,
      </if>
      <if test="insertModel.creatorUid != null">
        CREATOR_UID,
      </if>
      <if test="insertModel.creationTime != null">
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{wlId,jdbcType=INTEGER},
      <if test="insertModel.compId != null">
        #{insertModel.compId,jdbcType=INTEGER},
      </if>
      <if test="insertModel.deptId != null">
        #{insertModel.deptId,jdbcType=INTEGER},
      </if>
      <if test="insertModel.wlUser != null">
        #{insertModel.wlUser,jdbcType=INTEGER},
      </if>
      <if test="insertModel.wlTime != null">
        #{insertModel.wlTime,jdbcType=VARCHAR},
      </if>
      <if test="insertModel.wlSubmit != null">
        #{insertModel.wlSubmit,jdbcType=VARCHAR},
      </if>
      <if test="insertModel.explrthCount != null">
        #{insertModel.explrthCount,jdbcType=INTEGER},
      </if>
      <if test="insertModel.lookCount != null">
        #{insertModel.lookCount,jdbcType=INTEGER},
      </if>
      <if test="insertModel.otherCount != null">
        #{insertModel.otherCount,jdbcType=NUMERIC},
      </if>
      <if test="insertModel.totalCount != null">
        #{insertModel.totalCount,jdbcType=NUMERIC},
      </if>
      <if test="insertModel.wlSummary != null">
        #{insertModel.wlSummary,jdbcType=VARCHAR},
      </if>
      <if test="insertModel.examinFlag != null">
        #{insertModel.examinFlag,jdbcType=TINYINT},
      </if>
      <if test="insertModel.examinLevel != null">
        #{insertModel.examinLevel,jdbcType=VARCHAR},
      </if>
      <if test="insertModel.examinDescript != null">
        #{insertModel.examinDescript,jdbcType=VARCHAR},
      </if>
      <if test="insertModel.examinUser != null">
        #{insertModel.examinUser,jdbcType=INTEGER},
      </if>
      <if test="insertModel.examinTime != null">
        #{insertModel.examinTime,jdbcType=VARCHAR},
      </if>
      <if test="insertModel.creatorUid != null">
        #{insertModel.creatorUid,jdbcType=INTEGER},
      </if>
      <if test="insertModel.creationTime != null">
        #{insertModel.creationTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
   <update id="updateWorkLog">
    update WORK_LOG
    <set>
      <if test="updateModel.compId != null">
        COMP_ID = #{updateModel.compId,jdbcType=INTEGER},
      </if>
      <if test="updateModel.deptId != null">
        DEPT_ID = #{updateModel.deptId,jdbcType=INTEGER},
      </if>
      <if test="updateModel.wlUser != null">
        WL_USER = #{updateModel.wlUser,jdbcType=INTEGER},
      </if>
      <if test="updateModel.wlTime != null">
        WL_TIME = #{updateModel.wlTime,jdbcType=VARCHAR},
      </if>
      <if test="updateModel.wlSubmit != null">
        WL_SUBMIT = #{updateModel.wlSubmit,jdbcType=VARCHAR},
      </if>
      <if test="updateModel.explrthCount != null">
        EXPLRTH_COUNT = #{updateModel.explrthCount,jdbcType=INTEGER},
      </if>
      <if test="updateModel.lookCount != null">
        LOOK_COUNT = #{updateModel.lookCount,jdbcType=INTEGER},
      </if>
      <if test="updateModel.otherCount != null">
        OTHER_COUNT = #{updateModel.otherCount,jdbcType=NUMERIC},
      </if>
      <if test="updateModel.totalCount != null">
        TOTAL_COUNT = #{updateModel.totalCount,jdbcType=NUMERIC},
      </if>
      <if test="updateModel.wlSummary != null">
        WL_SUMMARY = #{updateModel.wlSummary,jdbcType=VARCHAR},
      </if>
      <if test="updateModel.examinFlag != null">
        EXAMIN_FLAG = #{updateModel.examinFlag,jdbcType=TINYINT},
      </if>
      <if test="updateModel.examinLevel != null">
        EXAMIN_LEVEL = #{updateModel.examinLevel,jdbcType=VARCHAR},
      </if>
      <if test="updateModel.examinDescript != null">
        EXAMIN_DESCRIPT = #{updateModel.examinDescript,jdbcType=VARCHAR},
      </if>
      <if test="updateModel.examinUser != null">
        EXAMIN_USER = #{updateModel.examinUser,jdbcType=INTEGER},
      </if>
      <if test="updateModel.examinTime != null">
        EXAMIN_TIME = #{updateModel.examinTime,jdbcType=VARCHAR},
      </if>
      <if test="updateModel.creatorUid != null">
        CREATOR_UID = #{updateModel.creatorUid,jdbcType=INTEGER},
      </if>
      <if test="updateModel.creationTime != null">
        CREATION_TIME = #{updateModel.creationTime,jdbcType=VARCHAR},
      </if>
    </set>
    where WL_ID = #{updateModel.wlId,jdbcType=INTEGER}
  </update>
</mapper>