@charset "UTF-8";
/**
 * @desc 邀请注册
 * @author LiuChiLei
 * @date 2018-09-06
 */
body,html{
    width: 100%;
    height: 100%;
    position: relative;
}
#app{
    position: relative;
    margin: 0 auto;
    width: 3.75rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hide{
    display: none;
}
input::-webkit-input-placeholder {
    color: #aab2c9;
}

input:-moz-placeholder {
    color: #aab2c9;
}

input::-moz-placeholder {
    color: #aab2c9;
}

input:-ms-input-placeholder {
    color: #aab2c9;
}


/** banner
 ********************************************************/
.banner{
    padding-top: 0.69rem;
    width: 100%;
    height: 1.45rem;
    box-sizing: border-box;
    background: url("/statics/images/inviteImages/banner.jpg") center center no-repeat;
    background-size: 100% 100%;
}
.banner .tt{
    
    font-size: 0.25rem;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
}

/** form check-form
 ********************************************************/

 .form-section {
     flex: 1;
     box-sizing: border-box;
     padding: 0.3rem 0.35rem 0;
 }
 .form-section .input-cell.server-input-cell {
     position: relative;
 }
  .form-section .input-cell.server-input-cell::after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -0.025rem;
      width: 0.09rem;
      height: 0.05rem;
      background: url(/statics/images/inviteImages/arrow-down.png) center center no-repeat;
      background-size: 100% 100%;
  }
 .form-section .input-cell {
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 0.15rem;
     margin-bottom: 0.33rem;
     white-space: nowrap;
 }
 .form-section .input-cell:last-of-type{
     margin-bottom: 0.4rem;
 }
 .form-section .input-cell .tt{
     min-width: 0.64rem;
     text-align-last: justify;
     text-align: justify;
     color: #4f5c81;
 }
 .form-section .input-cell input{
     display: block;
     flex: 1;
     border: none;
     padding-left: 0.12rem;
     color: #4f5c81;
 }
 .form-section .input-cell .code-btn{
     position: absolute;
     top: 50%;
     right: 0;
     transform: translateY(-50%);
     color: #577bf5;
     font-size: 0.13rem;
 }
 .form-section .check-btn{
     width: 3.05rem;
     height: 0.45rem;
     line-height: 0.45rem;
     font-size: 0.16rem;
     text-align: center;
     color: #fff;
     background-color: #577bf5;
     border-radius: 0.23rem;
     margin: 0 auto;
     
 }


 /** footer
 ********************************************************/
 .footer{
     color: #577bf5;
     font-size: 0.11rem;
     padding-bottom: 0.15rem;
     text-align: center;
 }

 /* 封装的公用弹窗样式
 ****************************************************************************/
 #toast {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 999;
 }

 #toast .toast-txt {
     position: absolute;
     max-width: 2.5rem;
     background-color: rgba(0, 0, 0, 0.5);
     font-size: .16rem;
     border-radius: .06rem;
     padding: .06rem .1rem;
     color: #fff;
 }

 /* 服务 区域/商圈选择弹窗
 ****************************************************************************/

 .server-reg-box{
     position: fixed;
     z-index: 100;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
 }
 .server-reg-box .content{
     position: absolute;
     width: 3.75rem;
     height: 100%;
     left: 50%;
     top: 0;
     margin-left: -1.875rem;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background: #fff;
 }
 .server-reg-box .content .tips{
     background: #f9f9f9;
     color: #333333;
     font-size: 0.1rem;
     text-align: center;
     width: 100%;
     height: 0.2rem;
     line-height: 0.2rem;
 }

 .server-reg-box .content .list{
     width: 100%;
     flex: 1;
     font-size: 0.14rem;
     display: flex;
 }
 .server-reg-box .content .list-ul{
     overflow-y: auto;
     flex: 1;
 }
 .server-reg-box .content .list-ul.reg-list{
     background: #f4f4f4;
 }
 .server-reg-box .content .list-ul.section.list{
     background: #fff;
 }
  .server-reg-box .content .list-ul li {
      padding-left: 0.27rem;
      box-sizing: border-box;
      height: 0.45rem;
      line-height: 0.45rem;
  }
   .server-reg-box .content .list-ul li.on{
       color: #3396fb;
   }
  .server-reg-box .content .list-ul.reg-list li.on{
      background: #fff;
  }
  .server-reg-box .content .list-ul.reg-list li{}
  .server-reg-box .content .list-ul.section.list li{}
  
  .server-reg-box .content .confirm-btn{
      height: 0.45rem;
      line-height: 0.45rem;
      width: 100%;
      color: #fff;
      font-size: 0.16rem;
      text-align: center;
      background: #3396fb;
  }
