<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%logger{0}] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="CAT" class="com.extension.framework.cat.log.CatLogbackAppender"/>
	<!--
	<appender name="db-classic-mysql" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
		<driverClass>com.mysql.jdbc.Driver</driverClass> <url>jdbc:mysql://192.168.0.240:3306/txhouse_hft?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull&amp;autoReconnect=true
		</url> <user>root</user> <password>123456</password> </connectionSource>
	</appender>
	-->
	<!--
	<appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>c:/logs/erpWeb.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>c:/logs/erpWeb-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>1</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss}][%-5level][%logger{0}] %msg%n </pattern>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>
	 -->
	<logger name="org.springframework.data.mongodb.core" level="info"/>
	<logger name="com.myfun.repository" level="warn"/>
	<logger name="com.atomikos.jdbc" level="warn"/>
	<logger name="com.atomikos.datasource.xa" level="warn"/>
	<logger name="com.atomikos.icatch.imp" level="warn"/>
	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="CAT" />
		<!-- <appender-ref ref="db-classic-mysql" /> -->
		<!-- <appender-ref ref="rollingAppender" /> -->
	</root>
</configuration>