.bt-darkblue{
	background-image: url('../images/darkblue_normal.png');border: 0;width: 62px;cursor: pointer;
	height: 30px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	line-height: 1px;outline: none;text-align: center;color: #fff;
	transition:background-color 0.2s ease-in;
}
.bt-darkblue:hover{background-image: url('../images/darkblue_focus.png');}
.bt-darkblue:active{background-image: url('../images/darkblue_press.png');}

.bt-darkblue-per{
	background-image: url('../images/darkblue_normal_per.png');border: 0;width: 62px;cursor: pointer;
	height: 30px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	line-height: 1px;outline: none;text-align: center;color: #fff;
	transition:background-color 0.2s ease-in;
}
.bt-darkblue-per:hover{background-image: url('../images/darkblue_focus_per.png');}
.bt-darkblue-per:active{background-image: url('../images/darkblue_press_per.png');}

.bt-blue{
	background-image: url('../images/blue_normal.png');border: 0;width: 70px;cursor: pointer;
	height: 31px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	line-height: 1px;outline: none;text-align: center;color: #fff;
	transition:background-color 0.2s ease-in;
}
.bt-blue:hover{background-image: url('../images/blue_hover.png');}
.bt-blue:active{background-image: url('../images/blue_press.png');}
.bt-blue:disabled{background-image: url('../images/disable.png');cursor: default;}

.bt-green{
	background-image: url('../images/green_normal.png');border: 0;width: 70px;cursor: pointer;
	height: 31px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	line-height: 1px;outline: none;text-align: center;color: #fff;
	transition:background-color 0.2s ease-in;
}
.bt-green:hover{background-image: url('../images/green_hover.png');}
.bt-green:active{background-image: url('../images/green_press.png');}
.bt-green:disabled{background-image: url('../images/disable.png');cursor: default;}

.bt-orange{
	background-image: url('../images/orange_normal.png');border: 0;width: 124px;cursor: pointer;
	height: 38px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	line-height: 1px;outline: none;text-align: center;color: #fff;
	transition:background-color 0.2s ease-in;
}
.bt-orange:hover{background-image: url('../images/orange_hover.png');}
.bt-orange:active{background-image: url('../images/orange_press.png');}

.bt-close{
	background-image: url('../images/IconClose.png');border: 0;width: 26px;cursor: pointer;
	height: 21px;background-color: transparent;background-repeat: no-repeat;
	transition:background-color 0.2s ease-in;
}
.bt-close:hover{background-image: url('../images/IconClose_hover.png');}
.bt-close:active{background-image: url('../images/IconClose_press.png');}
.bt-close-s{
	background-image: url('../images/PopClose.png');border: 0;width: 20px;cursor: pointer;
	height: 16px;background-color: transparent;background-repeat: no-repeat;
	transition:background-color 0.2s ease-in;
}
.bt-close-s:hover{background-image: url('../images/PopClose_hover.png');}
.bt-close-s:active{background-image: url('../images/PopClose_press.png');}
.bt-minimize{
	background-image: url('../images/Minimize.png');border: 0;width: 26px;cursor: pointer;
	height: 21px;background-color: transparent;background-repeat: no-repeat;
	transition:background-color 0.2s ease-in;
}
.bt-minimize:hover{background-image: url('../images/Minimize_hover.png');}
.bt-minimize:active{background-image: url('../images/Minimize_press.png');}

.bt-blue-l{
	background-image: url('../images/blue_l_normal.png');border: 0;width: 100px;cursor: pointer;
	height: 31px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	outline: none;text-align: center;color: #fff;
	transition:background-color 0.2s ease-in;
}
.bt-blue-l:hover{background-image: url('../images/blue_l_focus.png');}
.bt-blue-l:active{background-image: url('../images/blue_l_press.png');}

.bt-white-l{
	background-image: url('../images/white_l_normal.png');border: 0;width: 100px;cursor: pointer;
	height: 31px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	outline: none;text-align: center;color: #fff;
	transition:background-color 0.2s ease-in;
}
.bt-white-l:hover{background-image: url('../images/white_l_focus.png');}
.bt-white-l:active{background-image: url('../images/white_l_press.png');}

.im-tp{
	background-image: url('../images/toupiao.png');border: 0;width: 16px;cursor: pointer;
	height: 16px;background-color: transparent;background-repeat: no-repeat;font-size: 12px;
	outline: none;text-align: center;color: #fff;display: inline-block;
	transition:background-color 0.2s ease-in;
}

