<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.reportdb.dao.ReportProductSpreadStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.reportdb.po.ReportProductSpreadStatistics" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="STATISTICS_TYPE" property="statisticsType" jdbcType="TINYINT" />
    <result column="PV_COUNT" property="pvCount" jdbcType="INTEGER" />
    <result column="UV_COUNT" property="uvCount" jdbcType="INTEGER" />
    <result column="STATISTICS_TIME" property="statisticsTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, CITY_ID, COMP_ID, USER_ID, ARCHIVE_ID, STATISTICS_TYPE, PV_COUNT, UV_COUNT, STATISTICS_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.reportdb.po.ReportProductSpreadStatisticsExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PRODUCT_SPREAD_STATISTICS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from PRODUCT_SPREAD_STATISTICS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from PRODUCT_SPREAD_STATISTICS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.reportdb.po.ReportProductSpreadStatisticsExample" >
    <!--@mbggenerated-->
    delete from PRODUCT_SPREAD_STATISTICS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.reportdb.po.ReportProductSpreadStatistics" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into PRODUCT_SPREAD_STATISTICS (CITY_ID, COMP_ID, USER_ID, 
      ARCHIVE_ID, STATISTICS_TYPE, PV_COUNT, 
      UV_COUNT, STATISTICS_TIME)
    values (#{cityId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{archiveId,jdbcType=INTEGER}, #{statisticsType,jdbcType=TINYINT}, #{pvCount,jdbcType=INTEGER}, 
      #{uvCount,jdbcType=INTEGER}, #{statisticsTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.reportdb.po.ReportProductSpreadStatistics" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into PRODUCT_SPREAD_STATISTICS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="statisticsType != null" >
        STATISTICS_TYPE,
      </if>
      <if test="pvCount != null" >
        PV_COUNT,
      </if>
      <if test="uvCount != null" >
        UV_COUNT,
      </if>
      <if test="statisticsTime != null" >
        STATISTICS_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="statisticsType != null" >
        #{statisticsType,jdbcType=TINYINT},
      </if>
      <if test="pvCount != null" >
        #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="uvCount != null" >
        #{uvCount,jdbcType=INTEGER},
      </if>
      <if test="statisticsTime != null" >
        #{statisticsTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.reportdb.po.ReportProductSpreadStatisticsExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from PRODUCT_SPREAD_STATISTICS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update PRODUCT_SPREAD_STATISTICS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsType != null" >
        STATISTICS_TYPE = #{record.statisticsType,jdbcType=TINYINT},
      </if>
      <if test="record.pvCount != null" >
        PV_COUNT = #{record.pvCount,jdbcType=INTEGER},
      </if>
      <if test="record.uvCount != null" >
        UV_COUNT = #{record.uvCount,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsTime != null" >
        STATISTICS_TIME = #{record.statisticsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update PRODUCT_SPREAD_STATISTICS
    set ID = #{record.id,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      STATISTICS_TYPE = #{record.statisticsType,jdbcType=TINYINT},
      PV_COUNT = #{record.pvCount,jdbcType=INTEGER},
      UV_COUNT = #{record.uvCount,jdbcType=INTEGER},
      STATISTICS_TIME = #{record.statisticsTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.reportdb.po.ReportProductSpreadStatistics" >
    <!--@mbggenerated-->
    update PRODUCT_SPREAD_STATISTICS
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="statisticsType != null" >
        STATISTICS_TYPE = #{statisticsType,jdbcType=TINYINT},
      </if>
      <if test="pvCount != null" >
        PV_COUNT = #{pvCount,jdbcType=INTEGER},
      </if>
      <if test="uvCount != null" >
        UV_COUNT = #{uvCount,jdbcType=INTEGER},
      </if>
      <if test="statisticsTime != null" >
        STATISTICS_TIME = #{statisticsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.reportdb.po.ReportProductSpreadStatistics" >
    <!--@mbggenerated-->
    update PRODUCT_SPREAD_STATISTICS
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      STATISTICS_TYPE = #{statisticsType,jdbcType=TINYINT},
      PV_COUNT = #{pvCount,jdbcType=INTEGER},
      UV_COUNT = #{uvCount,jdbcType=INTEGER},
      STATISTICS_TIME = #{statisticsTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
   
</mapper>