<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.fafundb.dao.FafunShopInfoMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.fafundb.po.FafunShopInfo" >
    <!--@mbggenerated-->
    <id column="S_ID" property="sId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="SITE_ID" property="siteId" jdbcType="INTEGER" />
    <result column="USER_TYPE" property="userType" jdbcType="TINYINT" />
    <result column="L_ID" property="lId" jdbcType="BIGINT" />
    <result column="DATE_NOW" property="dateNow" jdbcType="TIMESTAMP" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="BE_ERROR" property="beError" jdbcType="BIT" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CONTACT_WAY" property="contactWay" jdbcType="VARCHAR" />
    <result column="BE_VALID" property="beValid" jdbcType="TINYINT" />
    <result column="SYN_DATE" property="synDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CHANGE_TIME" property="changeTime" jdbcType="TIMESTAMP" />
    <result column="CAN_USE" property="canUse" jdbcType="SMALLINT" />
    <result column="ACC_VER" property="accVer" jdbcType="INTEGER" />
    <result column="SALE_STORE" property="saleStore" jdbcType="INTEGER" />
    <result column="LEASE_STORE" property="leaseStore" jdbcType="INTEGER" />
    <result column="SALE_PUB_COUNT" property="salePubCount" jdbcType="INTEGER" />
    <result column="LEASE_PUB_COUNT" property="leasePubCount" jdbcType="INTEGER" />
    <result column="TODAY_SALE_PUB_COUNT" property="todaySalePubCount" jdbcType="INTEGER" />
    <result column="TODAY_LEASE_PUB_COUNT" property="todayLeasePubCount" jdbcType="INTEGER" />
    <result column="TODAY_SALE_REF_COUNT" property="todaySaleRefCount" jdbcType="INTEGER" />
    <result column="TODAY_LEASE_REF_COUNT" property="todayLeaseRefCount" jdbcType="INTEGER" />
    <result column="VIP_POINTS" property="vipPoints" jdbcType="VARCHAR" />
    <result column="REMAINING" property="remaining" jdbcType="VARCHAR" />
    <result column="DAILY_SALE_REF_COUNT" property="dailySaleRefCount" jdbcType="INTEGER" />
    <result column="DAILY_LEASE_REF_COUNT" property="dailyLeaseRefCount" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="IDCARD_AUTH" property="idcardAuth" jdbcType="BIT" />
    <result column="PHONE_AUTH" property="phoneAuth" jdbcType="BIT" />
    <result column="REMAINING_I" property="remainingI" jdbcType="VARCHAR" />
    <result column="REMAINING_II" property="remainingIi" jdbcType="VARCHAR" />
    <result column="COMBO_TIME_LIMIT" property="comboTimeLimit" jdbcType="VARCHAR" />
    <result column="HEAD_PIC_PATH" property="headPicPath" jdbcType="VARCHAR" />
    <result column="SALE_FREE_PUB_COUNT" property="saleFreePubCount" jdbcType="INTEGER" />
    <result column="LEASE_FREE_PUB_COUNT" property="leaseFreePubCount" jdbcType="INTEGER" />
    <result column="DAILY_SALE_PUB_COUNT" property="dailySalePubCount" jdbcType="INTEGER" />
    <result column="DAILY_LEASE_PUB_COUNT" property="dailyLeasePubCount" jdbcType="INTEGER" />
    <result column="TODAY_SALE_FREE_PUB_COUNT" property="todaySaleFreePubCount" jdbcType="INTEGER" />
    <result column="TODAY_LEASE_FREE_PUB_COUNT" property="todayLeaseFreePubCount" jdbcType="INTEGER" />
    <result column="TODAY_SALE_FREE_REF_COUNT" property="todaySaleFreeRefCount" jdbcType="INTEGER" />
    <result column="TODAY_LEASE_FREE_REF_COUNT" property="todayLeaseFreeRefCount" jdbcType="INTEGER" />
    <result column="USER_SOURCE" property="userSource" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.myfun.repository.fafundb.po.FafunShopInfo" extends="BaseResultMap" >
    <!--@mbggenerated-->
    <result column="S_COOKIE" property="sCookie" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    S_ID, ARCHIVE_ID, SITE_ID, USER_TYPE, L_ID, DATE_NOW, USERNAME, [PASSWORD], BE_ERROR, 
    MEMO, CONTACT_WAY, BE_VALID, SYN_DATE, UPDATE_TIME, CHANGE_TIME, CAN_USE, ACC_VER, 
    SALE_STORE, LEASE_STORE, SALE_PUB_COUNT, LEASE_PUB_COUNT, TODAY_SALE_PUB_COUNT, TODAY_LEASE_PUB_COUNT, 
    TODAY_SALE_REF_COUNT, TODAY_LEASE_REF_COUNT, VIP_POINTS, REMAINING, DAILY_SALE_REF_COUNT, 
    DAILY_LEASE_REF_COUNT, [NAME], PHONE, IDCARD_AUTH, PHONE_AUTH, REMAINING_I, REMAINING_II, 
    COMBO_TIME_LIMIT, HEAD_PIC_PATH, SALE_FREE_PUB_COUNT, LEASE_FREE_PUB_COUNT, DAILY_SALE_PUB_COUNT, 
    DAILY_LEASE_PUB_COUNT, TODAY_SALE_FREE_PUB_COUNT, TODAY_LEASE_FREE_PUB_COUNT, TODAY_SALE_FREE_REF_COUNT, 
    TODAY_LEASE_FREE_REF_COUNT, USER_SOURCE
  </sql>
  <sql id="Blob_Column_List" >
    <!--@mbggenerated-->
    S_COOKIE
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.myfun.repository.fafundb.po.FafunShopInfoExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SHOP_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.fafundb.po.FafunShopInfoExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SHOP_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SHOP_INFO
    where S_ID = #{sId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from SHOP_INFO
    where S_ID = #{sId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.fafundb.po.FafunShopInfoExample" >
    <!--@mbggenerated-->
    delete from SHOP_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.fafundb.po.FafunShopInfo" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="sId" order="BEFORE" >
      SELECT next value for SEQ_SHOP_INFO_S_ID
    </selectKey>
    insert into SHOP_INFO (S_ID, ARCHIVE_ID, SITE_ID, 
      USER_TYPE, L_ID, DATE_NOW, 
      USERNAME, [PASSWORD], BE_ERROR, 
      MEMO, CONTACT_WAY, BE_VALID, 
      SYN_DATE, UPDATE_TIME, CHANGE_TIME, 
      CAN_USE, ACC_VER, SALE_STORE, 
      LEASE_STORE, SALE_PUB_COUNT, LEASE_PUB_COUNT, 
      TODAY_SALE_PUB_COUNT, TODAY_LEASE_PUB_COUNT, 
      TODAY_SALE_REF_COUNT, TODAY_LEASE_REF_COUNT, 
      VIP_POINTS, REMAINING, DAILY_SALE_REF_COUNT, 
      DAILY_LEASE_REF_COUNT, [NAME], PHONE, 
      IDCARD_AUTH, PHONE_AUTH, REMAINING_I, 
      REMAINING_II, COMBO_TIME_LIMIT, HEAD_PIC_PATH, 
      SALE_FREE_PUB_COUNT, LEASE_FREE_PUB_COUNT, DAILY_SALE_PUB_COUNT, 
      DAILY_LEASE_PUB_COUNT, TODAY_SALE_FREE_PUB_COUNT, 
      TODAY_LEASE_FREE_PUB_COUNT, TODAY_SALE_FREE_REF_COUNT, 
      TODAY_LEASE_FREE_REF_COUNT, USER_SOURCE, S_COOKIE
      )
    values (#{sId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER}, 
      #{userType,jdbcType=TINYINT}, #{lId,jdbcType=BIGINT}, #{dateNow,jdbcType=TIMESTAMP}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{beError,jdbcType=BIT}, 
      #{memo,jdbcType=VARCHAR}, #{contactWay,jdbcType=VARCHAR}, #{beValid,jdbcType=TINYINT}, 
      #{synDate,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{changeTime,jdbcType=TIMESTAMP}, 
      #{canUse,jdbcType=SMALLINT}, #{accVer,jdbcType=INTEGER}, #{saleStore,jdbcType=INTEGER}, 
      #{leaseStore,jdbcType=INTEGER}, #{salePubCount,jdbcType=INTEGER}, #{leasePubCount,jdbcType=INTEGER}, 
      #{todaySalePubCount,jdbcType=INTEGER}, #{todayLeasePubCount,jdbcType=INTEGER}, 
      #{todaySaleRefCount,jdbcType=INTEGER}, #{todayLeaseRefCount,jdbcType=INTEGER}, 
      #{vipPoints,jdbcType=VARCHAR}, #{remaining,jdbcType=VARCHAR}, #{dailySaleRefCount,jdbcType=INTEGER}, 
      #{dailyLeaseRefCount,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{idcardAuth,jdbcType=BIT}, #{phoneAuth,jdbcType=BIT}, #{remainingI,jdbcType=VARCHAR}, 
      #{remainingIi,jdbcType=VARCHAR}, #{comboTimeLimit,jdbcType=VARCHAR}, #{headPicPath,jdbcType=VARCHAR}, 
      #{saleFreePubCount,jdbcType=INTEGER}, #{leaseFreePubCount,jdbcType=INTEGER}, #{dailySalePubCount,jdbcType=INTEGER}, 
      #{dailyLeasePubCount,jdbcType=INTEGER}, #{todaySaleFreePubCount,jdbcType=INTEGER}, 
      #{todayLeaseFreePubCount,jdbcType=INTEGER}, #{todaySaleFreeRefCount,jdbcType=INTEGER}, 
      #{todayLeaseFreeRefCount,jdbcType=INTEGER}, #{userSource,jdbcType=TINYINT}, #{sCookie,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.fafundb.po.FafunShopInfo" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="sId" order="BEFORE" >
      SELECT next value for SEQ_SHOP_INFO_S_ID
    </selectKey>
    insert into SHOP_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      S_ID,
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="lId != null" >
        L_ID,
      </if>
      <if test="dateNow != null" >
        DATE_NOW,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        [PASSWORD],
      </if>
      <if test="beError != null" >
        BE_ERROR,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="contactWay != null" >
        CONTACT_WAY,
      </if>
      <if test="beValid != null" >
        BE_VALID,
      </if>
      <if test="synDate != null" >
        SYN_DATE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="changeTime != null" >
        CHANGE_TIME,
      </if>
      <if test="canUse != null" >
        CAN_USE,
      </if>
      <if test="accVer != null" >
        ACC_VER,
      </if>
      <if test="saleStore != null" >
        SALE_STORE,
      </if>
      <if test="leaseStore != null" >
        LEASE_STORE,
      </if>
      <if test="salePubCount != null" >
        SALE_PUB_COUNT,
      </if>
      <if test="leasePubCount != null" >
        LEASE_PUB_COUNT,
      </if>
      <if test="todaySalePubCount != null" >
        TODAY_SALE_PUB_COUNT,
      </if>
      <if test="todayLeasePubCount != null" >
        TODAY_LEASE_PUB_COUNT,
      </if>
      <if test="todaySaleRefCount != null" >
        TODAY_SALE_REF_COUNT,
      </if>
      <if test="todayLeaseRefCount != null" >
        TODAY_LEASE_REF_COUNT,
      </if>
      <if test="vipPoints != null" >
        VIP_POINTS,
      </if>
      <if test="remaining != null" >
        REMAINING,
      </if>
      <if test="dailySaleRefCount != null" >
        DAILY_SALE_REF_COUNT,
      </if>
      <if test="dailyLeaseRefCount != null" >
        DAILY_LEASE_REF_COUNT,
      </if>
      <if test="name != null" >
        [NAME],
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="idcardAuth != null" >
        IDCARD_AUTH,
      </if>
      <if test="phoneAuth != null" >
        PHONE_AUTH,
      </if>
      <if test="remainingI != null" >
        REMAINING_I,
      </if>
      <if test="remainingIi != null" >
        REMAINING_II,
      </if>
      <if test="comboTimeLimit != null" >
        COMBO_TIME_LIMIT,
      </if>
      <if test="headPicPath != null" >
        HEAD_PIC_PATH,
      </if>
      <if test="saleFreePubCount != null" >
        SALE_FREE_PUB_COUNT,
      </if>
      <if test="leaseFreePubCount != null" >
        LEASE_FREE_PUB_COUNT,
      </if>
      <if test="dailySalePubCount != null" >
        DAILY_SALE_PUB_COUNT,
      </if>
      <if test="dailyLeasePubCount != null" >
        DAILY_LEASE_PUB_COUNT,
      </if>
      <if test="todaySaleFreePubCount != null" >
        TODAY_SALE_FREE_PUB_COUNT,
      </if>
      <if test="todayLeaseFreePubCount != null" >
        TODAY_LEASE_FREE_PUB_COUNT,
      </if>
      <if test="todaySaleFreeRefCount != null" >
        TODAY_SALE_FREE_REF_COUNT,
      </if>
      <if test="todayLeaseFreeRefCount != null" >
        TODAY_LEASE_FREE_REF_COUNT,
      </if>
      <if test="userSource != null" >
        USER_SOURCE,
      </if>
      <if test="sCookie != null" >
        S_COOKIE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{sId,jdbcType=INTEGER},
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="lId != null" >
        #{lId,jdbcType=BIGINT},
      </if>
      <if test="dateNow != null" >
        #{dateNow,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="beError != null" >
        #{beError,jdbcType=BIT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null" >
        #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="beValid != null" >
        #{beValid,jdbcType=TINYINT},
      </if>
      <if test="synDate != null" >
        #{synDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canUse != null" >
        #{canUse,jdbcType=SMALLINT},
      </if>
      <if test="accVer != null" >
        #{accVer,jdbcType=INTEGER},
      </if>
      <if test="saleStore != null" >
        #{saleStore,jdbcType=INTEGER},
      </if>
      <if test="leaseStore != null" >
        #{leaseStore,jdbcType=INTEGER},
      </if>
      <if test="salePubCount != null" >
        #{salePubCount,jdbcType=INTEGER},
      </if>
      <if test="leasePubCount != null" >
        #{leasePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySalePubCount != null" >
        #{todaySalePubCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeasePubCount != null" >
        #{todayLeasePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySaleRefCount != null" >
        #{todaySaleRefCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeaseRefCount != null" >
        #{todayLeaseRefCount,jdbcType=INTEGER},
      </if>
      <if test="vipPoints != null" >
        #{vipPoints,jdbcType=VARCHAR},
      </if>
      <if test="remaining != null" >
        #{remaining,jdbcType=VARCHAR},
      </if>
      <if test="dailySaleRefCount != null" >
        #{dailySaleRefCount,jdbcType=INTEGER},
      </if>
      <if test="dailyLeaseRefCount != null" >
        #{dailyLeaseRefCount,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idcardAuth != null" >
        #{idcardAuth,jdbcType=BIT},
      </if>
      <if test="phoneAuth != null" >
        #{phoneAuth,jdbcType=BIT},
      </if>
      <if test="remainingI != null" >
        #{remainingI,jdbcType=VARCHAR},
      </if>
      <if test="remainingIi != null" >
        #{remainingIi,jdbcType=VARCHAR},
      </if>
      <if test="comboTimeLimit != null" >
        #{comboTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="headPicPath != null" >
        #{headPicPath,jdbcType=VARCHAR},
      </if>
      <if test="saleFreePubCount != null" >
        #{saleFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="leaseFreePubCount != null" >
        #{leaseFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="dailySalePubCount != null" >
        #{dailySalePubCount,jdbcType=INTEGER},
      </if>
      <if test="dailyLeasePubCount != null" >
        #{dailyLeasePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySaleFreePubCount != null" >
        #{todaySaleFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeaseFreePubCount != null" >
        #{todayLeaseFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySaleFreeRefCount != null" >
        #{todaySaleFreeRefCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeaseFreeRefCount != null" >
        #{todayLeaseFreeRefCount,jdbcType=INTEGER},
      </if>
      <if test="userSource != null" >
        #{userSource,jdbcType=TINYINT},
      </if>
      <if test="sCookie != null" >
        #{sCookie,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.fafundb.po.FafunShopInfoExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from SHOP_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update SHOP_INFO
    <set >
      <if test="record.sId != null" >
        S_ID = #{record.sId,jdbcType=INTEGER},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.siteId != null" >
        SITE_ID = #{record.siteId,jdbcType=INTEGER},
      </if>
      <if test="record.userType != null" >
        USER_TYPE = #{record.userType,jdbcType=TINYINT},
      </if>
      <if test="record.lId != null" >
        L_ID = #{record.lId,jdbcType=BIGINT},
      </if>
      <if test="record.dateNow != null" >
        DATE_NOW = #{record.dateNow,jdbcType=TIMESTAMP},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        [PASSWORD] = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.beError != null" >
        BE_ERROR = #{record.beError,jdbcType=BIT},
      </if>
      <if test="record.memo != null" >
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.contactWay != null" >
        CONTACT_WAY = #{record.contactWay,jdbcType=VARCHAR},
      </if>
      <if test="record.beValid != null" >
        BE_VALID = #{record.beValid,jdbcType=TINYINT},
      </if>
      <if test="record.synDate != null" >
        SYN_DATE = #{record.synDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changeTime != null" >
        CHANGE_TIME = #{record.changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.canUse != null" >
        CAN_USE = #{record.canUse,jdbcType=SMALLINT},
      </if>
      <if test="record.accVer != null" >
        ACC_VER = #{record.accVer,jdbcType=INTEGER},
      </if>
      <if test="record.saleStore != null" >
        SALE_STORE = #{record.saleStore,jdbcType=INTEGER},
      </if>
      <if test="record.leaseStore != null" >
        LEASE_STORE = #{record.leaseStore,jdbcType=INTEGER},
      </if>
      <if test="record.salePubCount != null" >
        SALE_PUB_COUNT = #{record.salePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.leasePubCount != null" >
        LEASE_PUB_COUNT = #{record.leasePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.todaySalePubCount != null" >
        TODAY_SALE_PUB_COUNT = #{record.todaySalePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.todayLeasePubCount != null" >
        TODAY_LEASE_PUB_COUNT = #{record.todayLeasePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.todaySaleRefCount != null" >
        TODAY_SALE_REF_COUNT = #{record.todaySaleRefCount,jdbcType=INTEGER},
      </if>
      <if test="record.todayLeaseRefCount != null" >
        TODAY_LEASE_REF_COUNT = #{record.todayLeaseRefCount,jdbcType=INTEGER},
      </if>
      <if test="record.vipPoints != null" >
        VIP_POINTS = #{record.vipPoints,jdbcType=VARCHAR},
      </if>
      <if test="record.remaining != null" >
        REMAINING = #{record.remaining,jdbcType=VARCHAR},
      </if>
      <if test="record.dailySaleRefCount != null" >
        DAILY_SALE_REF_COUNT = #{record.dailySaleRefCount,jdbcType=INTEGER},
      </if>
      <if test="record.dailyLeaseRefCount != null" >
        DAILY_LEASE_REF_COUNT = #{record.dailyLeaseRefCount,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        [NAME] = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.idcardAuth != null" >
        IDCARD_AUTH = #{record.idcardAuth,jdbcType=BIT},
      </if>
      <if test="record.phoneAuth != null" >
        PHONE_AUTH = #{record.phoneAuth,jdbcType=BIT},
      </if>
      <if test="record.remainingI != null" >
        REMAINING_I = #{record.remainingI,jdbcType=VARCHAR},
      </if>
      <if test="record.remainingIi != null" >
        REMAINING_II = #{record.remainingIi,jdbcType=VARCHAR},
      </if>
      <if test="record.comboTimeLimit != null" >
        COMBO_TIME_LIMIT = #{record.comboTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.headPicPath != null" >
        HEAD_PIC_PATH = #{record.headPicPath,jdbcType=VARCHAR},
      </if>
      <if test="record.saleFreePubCount != null" >
        SALE_FREE_PUB_COUNT = #{record.saleFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.leaseFreePubCount != null" >
        LEASE_FREE_PUB_COUNT = #{record.leaseFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.dailySalePubCount != null" >
        DAILY_SALE_PUB_COUNT = #{record.dailySalePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.dailyLeasePubCount != null" >
        DAILY_LEASE_PUB_COUNT = #{record.dailyLeasePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.todaySaleFreePubCount != null" >
        TODAY_SALE_FREE_PUB_COUNT = #{record.todaySaleFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.todayLeaseFreePubCount != null" >
        TODAY_LEASE_FREE_PUB_COUNT = #{record.todayLeaseFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="record.todaySaleFreeRefCount != null" >
        TODAY_SALE_FREE_REF_COUNT = #{record.todaySaleFreeRefCount,jdbcType=INTEGER},
      </if>
      <if test="record.todayLeaseFreeRefCount != null" >
        TODAY_LEASE_FREE_REF_COUNT = #{record.todayLeaseFreeRefCount,jdbcType=INTEGER},
      </if>
      <if test="record.userSource != null" >
        USER_SOURCE = #{record.userSource,jdbcType=TINYINT},
      </if>
      <if test="record.sCookie != null" >
        S_COOKIE = #{record.sCookie,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--@mbggenerated-->
    update SHOP_INFO
    set S_ID = #{record.sId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      SITE_ID = #{record.siteId,jdbcType=INTEGER},
      USER_TYPE = #{record.userType,jdbcType=TINYINT},
      L_ID = #{record.lId,jdbcType=BIGINT},
      DATE_NOW = #{record.dateNow,jdbcType=TIMESTAMP},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      [PASSWORD] = #{record.password,jdbcType=VARCHAR},
      BE_ERROR = #{record.beError,jdbcType=BIT},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      CONTACT_WAY = #{record.contactWay,jdbcType=VARCHAR},
      BE_VALID = #{record.beValid,jdbcType=TINYINT},
      SYN_DATE = #{record.synDate,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CHANGE_TIME = #{record.changeTime,jdbcType=TIMESTAMP},
      CAN_USE = #{record.canUse,jdbcType=SMALLINT},
      ACC_VER = #{record.accVer,jdbcType=INTEGER},
      SALE_STORE = #{record.saleStore,jdbcType=INTEGER},
      LEASE_STORE = #{record.leaseStore,jdbcType=INTEGER},
      SALE_PUB_COUNT = #{record.salePubCount,jdbcType=INTEGER},
      LEASE_PUB_COUNT = #{record.leasePubCount,jdbcType=INTEGER},
      TODAY_SALE_PUB_COUNT = #{record.todaySalePubCount,jdbcType=INTEGER},
      TODAY_LEASE_PUB_COUNT = #{record.todayLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_REF_COUNT = #{record.todaySaleRefCount,jdbcType=INTEGER},
      TODAY_LEASE_REF_COUNT = #{record.todayLeaseRefCount,jdbcType=INTEGER},
      VIP_POINTS = #{record.vipPoints,jdbcType=VARCHAR},
      REMAINING = #{record.remaining,jdbcType=VARCHAR},
      DAILY_SALE_REF_COUNT = #{record.dailySaleRefCount,jdbcType=INTEGER},
      DAILY_LEASE_REF_COUNT = #{record.dailyLeaseRefCount,jdbcType=INTEGER},
      [NAME] = #{record.name,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      IDCARD_AUTH = #{record.idcardAuth,jdbcType=BIT},
      PHONE_AUTH = #{record.phoneAuth,jdbcType=BIT},
      REMAINING_I = #{record.remainingI,jdbcType=VARCHAR},
      REMAINING_II = #{record.remainingIi,jdbcType=VARCHAR},
      COMBO_TIME_LIMIT = #{record.comboTimeLimit,jdbcType=VARCHAR},
      HEAD_PIC_PATH = #{record.headPicPath,jdbcType=VARCHAR},
      SALE_FREE_PUB_COUNT = #{record.saleFreePubCount,jdbcType=INTEGER},
      LEASE_FREE_PUB_COUNT = #{record.leaseFreePubCount,jdbcType=INTEGER},
      DAILY_SALE_PUB_COUNT = #{record.dailySalePubCount,jdbcType=INTEGER},
      DAILY_LEASE_PUB_COUNT = #{record.dailyLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_PUB_COUNT = #{record.todaySaleFreePubCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_PUB_COUNT = #{record.todayLeaseFreePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_REF_COUNT = #{record.todaySaleFreeRefCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_REF_COUNT = #{record.todayLeaseFreeRefCount,jdbcType=INTEGER},
      USER_SOURCE = #{record.userSource,jdbcType=TINYINT},
      S_COOKIE = #{record.sCookie,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update SHOP_INFO
    set S_ID = #{record.sId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      SITE_ID = #{record.siteId,jdbcType=INTEGER},
      USER_TYPE = #{record.userType,jdbcType=TINYINT},
      L_ID = #{record.lId,jdbcType=BIGINT},
      DATE_NOW = #{record.dateNow,jdbcType=TIMESTAMP},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      [PASSWORD] = #{record.password,jdbcType=VARCHAR},
      BE_ERROR = #{record.beError,jdbcType=BIT},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      CONTACT_WAY = #{record.contactWay,jdbcType=VARCHAR},
      BE_VALID = #{record.beValid,jdbcType=TINYINT},
      SYN_DATE = #{record.synDate,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      CHANGE_TIME = #{record.changeTime,jdbcType=TIMESTAMP},
      CAN_USE = #{record.canUse,jdbcType=SMALLINT},
      ACC_VER = #{record.accVer,jdbcType=INTEGER},
      SALE_STORE = #{record.saleStore,jdbcType=INTEGER},
      LEASE_STORE = #{record.leaseStore,jdbcType=INTEGER},
      SALE_PUB_COUNT = #{record.salePubCount,jdbcType=INTEGER},
      LEASE_PUB_COUNT = #{record.leasePubCount,jdbcType=INTEGER},
      TODAY_SALE_PUB_COUNT = #{record.todaySalePubCount,jdbcType=INTEGER},
      TODAY_LEASE_PUB_COUNT = #{record.todayLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_REF_COUNT = #{record.todaySaleRefCount,jdbcType=INTEGER},
      TODAY_LEASE_REF_COUNT = #{record.todayLeaseRefCount,jdbcType=INTEGER},
      VIP_POINTS = #{record.vipPoints,jdbcType=VARCHAR},
      REMAINING = #{record.remaining,jdbcType=VARCHAR},
      DAILY_SALE_REF_COUNT = #{record.dailySaleRefCount,jdbcType=INTEGER},
      DAILY_LEASE_REF_COUNT = #{record.dailyLeaseRefCount,jdbcType=INTEGER},
      [NAME] = #{record.name,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      IDCARD_AUTH = #{record.idcardAuth,jdbcType=BIT},
      PHONE_AUTH = #{record.phoneAuth,jdbcType=BIT},
      REMAINING_I = #{record.remainingI,jdbcType=VARCHAR},
      REMAINING_II = #{record.remainingIi,jdbcType=VARCHAR},
      COMBO_TIME_LIMIT = #{record.comboTimeLimit,jdbcType=VARCHAR},
      HEAD_PIC_PATH = #{record.headPicPath,jdbcType=VARCHAR},
      SALE_FREE_PUB_COUNT = #{record.saleFreePubCount,jdbcType=INTEGER},
      LEASE_FREE_PUB_COUNT = #{record.leaseFreePubCount,jdbcType=INTEGER},
      DAILY_SALE_PUB_COUNT = #{record.dailySalePubCount,jdbcType=INTEGER},
      DAILY_LEASE_PUB_COUNT = #{record.dailyLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_PUB_COUNT = #{record.todaySaleFreePubCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_PUB_COUNT = #{record.todayLeaseFreePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_REF_COUNT = #{record.todaySaleFreeRefCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_REF_COUNT = #{record.todayLeaseFreeRefCount,jdbcType=INTEGER},
      USER_SOURCE = #{record.userSource,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.fafundb.po.FafunShopInfo" >
    <!--@mbggenerated-->
    update SHOP_INFO
    <set >
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        SITE_ID = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=TINYINT},
      </if>
      <if test="lId != null" >
        L_ID = #{lId,jdbcType=BIGINT},
      </if>
      <if test="dateNow != null" >
        DATE_NOW = #{dateNow,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        [PASSWORD] = #{password,jdbcType=VARCHAR},
      </if>
      <if test="beError != null" >
        BE_ERROR = #{beError,jdbcType=BIT},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null" >
        CONTACT_WAY = #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="beValid != null" >
        BE_VALID = #{beValid,jdbcType=TINYINT},
      </if>
      <if test="synDate != null" >
        SYN_DATE = #{synDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null" >
        CHANGE_TIME = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canUse != null" >
        CAN_USE = #{canUse,jdbcType=SMALLINT},
      </if>
      <if test="accVer != null" >
        ACC_VER = #{accVer,jdbcType=INTEGER},
      </if>
      <if test="saleStore != null" >
        SALE_STORE = #{saleStore,jdbcType=INTEGER},
      </if>
      <if test="leaseStore != null" >
        LEASE_STORE = #{leaseStore,jdbcType=INTEGER},
      </if>
      <if test="salePubCount != null" >
        SALE_PUB_COUNT = #{salePubCount,jdbcType=INTEGER},
      </if>
      <if test="leasePubCount != null" >
        LEASE_PUB_COUNT = #{leasePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySalePubCount != null" >
        TODAY_SALE_PUB_COUNT = #{todaySalePubCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeasePubCount != null" >
        TODAY_LEASE_PUB_COUNT = #{todayLeasePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySaleRefCount != null" >
        TODAY_SALE_REF_COUNT = #{todaySaleRefCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeaseRefCount != null" >
        TODAY_LEASE_REF_COUNT = #{todayLeaseRefCount,jdbcType=INTEGER},
      </if>
      <if test="vipPoints != null" >
        VIP_POINTS = #{vipPoints,jdbcType=VARCHAR},
      </if>
      <if test="remaining != null" >
        REMAINING = #{remaining,jdbcType=VARCHAR},
      </if>
      <if test="dailySaleRefCount != null" >
        DAILY_SALE_REF_COUNT = #{dailySaleRefCount,jdbcType=INTEGER},
      </if>
      <if test="dailyLeaseRefCount != null" >
        DAILY_LEASE_REF_COUNT = #{dailyLeaseRefCount,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        [NAME] = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idcardAuth != null" >
        IDCARD_AUTH = #{idcardAuth,jdbcType=BIT},
      </if>
      <if test="phoneAuth != null" >
        PHONE_AUTH = #{phoneAuth,jdbcType=BIT},
      </if>
      <if test="remainingI != null" >
        REMAINING_I = #{remainingI,jdbcType=VARCHAR},
      </if>
      <if test="remainingIi != null" >
        REMAINING_II = #{remainingIi,jdbcType=VARCHAR},
      </if>
      <if test="comboTimeLimit != null" >
        COMBO_TIME_LIMIT = #{comboTimeLimit,jdbcType=VARCHAR},
      </if>
      <if test="headPicPath != null" >
        HEAD_PIC_PATH = #{headPicPath,jdbcType=VARCHAR},
      </if>
      <if test="saleFreePubCount != null" >
        SALE_FREE_PUB_COUNT = #{saleFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="leaseFreePubCount != null" >
        LEASE_FREE_PUB_COUNT = #{leaseFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="dailySalePubCount != null" >
        DAILY_SALE_PUB_COUNT = #{dailySalePubCount,jdbcType=INTEGER},
      </if>
      <if test="dailyLeasePubCount != null" >
        DAILY_LEASE_PUB_COUNT = #{dailyLeasePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySaleFreePubCount != null" >
        TODAY_SALE_FREE_PUB_COUNT = #{todaySaleFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeaseFreePubCount != null" >
        TODAY_LEASE_FREE_PUB_COUNT = #{todayLeaseFreePubCount,jdbcType=INTEGER},
      </if>
      <if test="todaySaleFreeRefCount != null" >
        TODAY_SALE_FREE_REF_COUNT = #{todaySaleFreeRefCount,jdbcType=INTEGER},
      </if>
      <if test="todayLeaseFreeRefCount != null" >
        TODAY_LEASE_FREE_REF_COUNT = #{todayLeaseFreeRefCount,jdbcType=INTEGER},
      </if>
      <if test="userSource != null" >
        USER_SOURCE = #{userSource,jdbcType=TINYINT},
      </if>
      <if test="sCookie != null" >
        S_COOKIE = #{sCookie,jdbcType=CLOB},
      </if>
    </set>
    where S_ID = #{sId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myfun.repository.fafundb.po.FafunShopInfo" >
    <!--@mbggenerated-->
    update SHOP_INFO
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      SITE_ID = #{siteId,jdbcType=INTEGER},
      USER_TYPE = #{userType,jdbcType=TINYINT},
      L_ID = #{lId,jdbcType=BIGINT},
      DATE_NOW = #{dateNow,jdbcType=TIMESTAMP},
      USERNAME = #{username,jdbcType=VARCHAR},
      [PASSWORD] = #{password,jdbcType=VARCHAR},
      BE_ERROR = #{beError,jdbcType=BIT},
      MEMO = #{memo,jdbcType=VARCHAR},
      CONTACT_WAY = #{contactWay,jdbcType=VARCHAR},
      BE_VALID = #{beValid,jdbcType=TINYINT},
      SYN_DATE = #{synDate,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CHANGE_TIME = #{changeTime,jdbcType=TIMESTAMP},
      CAN_USE = #{canUse,jdbcType=SMALLINT},
      ACC_VER = #{accVer,jdbcType=INTEGER},
      SALE_STORE = #{saleStore,jdbcType=INTEGER},
      LEASE_STORE = #{leaseStore,jdbcType=INTEGER},
      SALE_PUB_COUNT = #{salePubCount,jdbcType=INTEGER},
      LEASE_PUB_COUNT = #{leasePubCount,jdbcType=INTEGER},
      TODAY_SALE_PUB_COUNT = #{todaySalePubCount,jdbcType=INTEGER},
      TODAY_LEASE_PUB_COUNT = #{todayLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_REF_COUNT = #{todaySaleRefCount,jdbcType=INTEGER},
      TODAY_LEASE_REF_COUNT = #{todayLeaseRefCount,jdbcType=INTEGER},
      VIP_POINTS = #{vipPoints,jdbcType=VARCHAR},
      REMAINING = #{remaining,jdbcType=VARCHAR},
      DAILY_SALE_REF_COUNT = #{dailySaleRefCount,jdbcType=INTEGER},
      DAILY_LEASE_REF_COUNT = #{dailyLeaseRefCount,jdbcType=INTEGER},
      [NAME] = #{name,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      IDCARD_AUTH = #{idcardAuth,jdbcType=BIT},
      PHONE_AUTH = #{phoneAuth,jdbcType=BIT},
      REMAINING_I = #{remainingI,jdbcType=VARCHAR},
      REMAINING_II = #{remainingIi,jdbcType=VARCHAR},
      COMBO_TIME_LIMIT = #{comboTimeLimit,jdbcType=VARCHAR},
      HEAD_PIC_PATH = #{headPicPath,jdbcType=VARCHAR},
      SALE_FREE_PUB_COUNT = #{saleFreePubCount,jdbcType=INTEGER},
      LEASE_FREE_PUB_COUNT = #{leaseFreePubCount,jdbcType=INTEGER},
      DAILY_SALE_PUB_COUNT = #{dailySalePubCount,jdbcType=INTEGER},
      DAILY_LEASE_PUB_COUNT = #{dailyLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_PUB_COUNT = #{todaySaleFreePubCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_PUB_COUNT = #{todayLeaseFreePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_REF_COUNT = #{todaySaleFreeRefCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_REF_COUNT = #{todayLeaseFreeRefCount,jdbcType=INTEGER},
      USER_SOURCE = #{userSource,jdbcType=TINYINT},
      S_COOKIE = #{sCookie,jdbcType=CLOB}
    where S_ID = #{sId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.fafundb.po.FafunShopInfo" >
    <!--@mbggenerated-->
    update SHOP_INFO
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      SITE_ID = #{siteId,jdbcType=INTEGER},
      USER_TYPE = #{userType,jdbcType=TINYINT},
      L_ID = #{lId,jdbcType=BIGINT},
      DATE_NOW = #{dateNow,jdbcType=TIMESTAMP},
      USERNAME = #{username,jdbcType=VARCHAR},
      [PASSWORD] = #{password,jdbcType=VARCHAR},
      BE_ERROR = #{beError,jdbcType=BIT},
      MEMO = #{memo,jdbcType=VARCHAR},
      CONTACT_WAY = #{contactWay,jdbcType=VARCHAR},
      BE_VALID = #{beValid,jdbcType=TINYINT},
      SYN_DATE = #{synDate,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CHANGE_TIME = #{changeTime,jdbcType=TIMESTAMP},
      CAN_USE = #{canUse,jdbcType=SMALLINT},
      ACC_VER = #{accVer,jdbcType=INTEGER},
      SALE_STORE = #{saleStore,jdbcType=INTEGER},
      LEASE_STORE = #{leaseStore,jdbcType=INTEGER},
      SALE_PUB_COUNT = #{salePubCount,jdbcType=INTEGER},
      LEASE_PUB_COUNT = #{leasePubCount,jdbcType=INTEGER},
      TODAY_SALE_PUB_COUNT = #{todaySalePubCount,jdbcType=INTEGER},
      TODAY_LEASE_PUB_COUNT = #{todayLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_REF_COUNT = #{todaySaleRefCount,jdbcType=INTEGER},
      TODAY_LEASE_REF_COUNT = #{todayLeaseRefCount,jdbcType=INTEGER},
      VIP_POINTS = #{vipPoints,jdbcType=VARCHAR},
      REMAINING = #{remaining,jdbcType=VARCHAR},
      DAILY_SALE_REF_COUNT = #{dailySaleRefCount,jdbcType=INTEGER},
      DAILY_LEASE_REF_COUNT = #{dailyLeaseRefCount,jdbcType=INTEGER},
      [NAME] = #{name,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      IDCARD_AUTH = #{idcardAuth,jdbcType=BIT},
      PHONE_AUTH = #{phoneAuth,jdbcType=BIT},
      REMAINING_I = #{remainingI,jdbcType=VARCHAR},
      REMAINING_II = #{remainingIi,jdbcType=VARCHAR},
      COMBO_TIME_LIMIT = #{comboTimeLimit,jdbcType=VARCHAR},
      HEAD_PIC_PATH = #{headPicPath,jdbcType=VARCHAR},
      SALE_FREE_PUB_COUNT = #{saleFreePubCount,jdbcType=INTEGER},
      LEASE_FREE_PUB_COUNT = #{leaseFreePubCount,jdbcType=INTEGER},
      DAILY_SALE_PUB_COUNT = #{dailySalePubCount,jdbcType=INTEGER},
      DAILY_LEASE_PUB_COUNT = #{dailyLeasePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_PUB_COUNT = #{todaySaleFreePubCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_PUB_COUNT = #{todayLeaseFreePubCount,jdbcType=INTEGER},
      TODAY_SALE_FREE_REF_COUNT = #{todaySaleFreeRefCount,jdbcType=INTEGER},
      TODAY_LEASE_FREE_REF_COUNT = #{todayLeaseFreeRefCount,jdbcType=INTEGER},
      USER_SOURCE = #{userSource,jdbcType=TINYINT}
    where S_ID = #{sId,jdbcType=INTEGER}
  </update>
  
  
  <delete id="deleteUserWriteOffFaFaData" parameterType="java.lang.Integer">
    delete from WEB_HOUSE where S_ID in (select S_ID from SHOP_INFO where ARCHIVE_ID = #{archiveId})
    delete from T_HOUSE_TRENDS where S_ID in (select S_ID from SHOP_INFO where ARCHIVE_ID = #{archiveId})
    delete from ORDER_HISTORY_LOG where fk_order_id in (select ords.id from ORDERREF_DATA ord left join ORDERREF_DATASUB ords on ords.fId = ord.id where  S_ID in (select S_ID from SHOP_INFO where ARCHIVE_ID = #{archiveId}))
    delete from ORDERREF_DATASUB where fId in (select id from ORDERREF_DATA where S_ID in (select S_ID from SHOP_INFO where ARCHIVE_ID = #{archiveId}))
    delete from ORDERREF_DATA where S_ID in (select S_ID from SHOP_INFO where ARCHIVE_ID = #{archiveId})
  </delete>
</mapper>