<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminWMicroshopAttachMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminWMicroshopAttach">
    <!--@mbggenerated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="broker_id" jdbcType="INTEGER" property="brokerId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="ext" jdbcType="CHAR" property="ext" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="belong" jdbcType="SMALLINT" property="belong" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    id, record_id, broker_id, user_id, [name], remark, [path], ext, [size], model, [type], 
    belong, add_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminWMicroshopAttachExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from w_microshop_attach
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from w_microshop_attach
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from w_microshop_attach
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminWMicroshopAttachExample">
    <!--@mbggenerated-->
    delete from w_microshop_attach
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminWMicroshopAttach">
    <!--@mbggenerated-->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into w_microshop_attach (record_id, broker_id, user_id, 
      [name], remark, [path], 
      ext, [size], model, [type], 
      belong, add_time, create_time
      )
    values (#{recordId,jdbcType=INTEGER}, #{brokerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{ext,jdbcType=CHAR}, #{size,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{belong,jdbcType=SMALLINT}, #{addTime,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminWMicroshopAttach">
    <!--@mbggenerated-->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into w_microshop_attach
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="brokerId != null">
        broker_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        [name],
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="path != null">
        [path],
      </if>
      <if test="ext != null">
        ext,
      </if>
      <if test="size != null">
        [size],
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="type != null">
        [type],
      </if>
      <if test="belong != null">
        belong,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=CHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="belong != null">
        #{belong,jdbcType=SMALLINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminWMicroshopAttachExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from w_microshop_attach
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update w_microshop_attach
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.recordId != null">
        record_id = #{record.recordId,jdbcType=INTEGER},
      </if>
      <if test="record.brokerId != null">
        broker_id = #{record.brokerId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        [name] = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null">
        [path] = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.ext != null">
        ext = #{record.ext,jdbcType=CHAR},
      </if>
      <if test="record.size != null">
        [size] = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        [type] = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.belong != null">
        belong = #{record.belong,jdbcType=SMALLINT},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update w_microshop_attach
    set id = #{record.id,jdbcType=INTEGER},
      record_id = #{record.recordId,jdbcType=INTEGER},
      broker_id = #{record.brokerId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      [name] = #{record.name,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      [path] = #{record.path,jdbcType=VARCHAR},
      ext = #{record.ext,jdbcType=CHAR},
      [size] = #{record.size,jdbcType=INTEGER},
      model = #{record.model,jdbcType=VARCHAR},
      [type] = #{record.type,jdbcType=TINYINT},
      belong = #{record.belong,jdbcType=SMALLINT},
      add_time = #{record.addTime,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminWMicroshopAttach">
    <!--@mbggenerated-->
    update w_microshop_attach
    <set>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null">
        broker_id = #{brokerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        [name] = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        [path] = #{path,jdbcType=VARCHAR},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=CHAR},
      </if>
      <if test="size != null">
        [size] = #{size,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        [type] = #{type,jdbcType=TINYINT},
      </if>
      <if test="belong != null">
        belong = #{belong,jdbcType=SMALLINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminWMicroshopAttach">
    <!--@mbggenerated-->
    update w_microshop_attach
    set record_id = #{recordId,jdbcType=INTEGER},
      broker_id = #{brokerId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      [name] = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      [path] = #{path,jdbcType=VARCHAR},
      ext = #{ext,jdbcType=CHAR},
      [size] = #{size,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      [type] = #{type,jdbcType=TINYINT},
      belong = #{belong,jdbcType=SMALLINT},
      add_time = #{addTime,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertForFastDfs">
    <foreach collection="dfsParamList" item="dfsParam" separator=";">
      INSERT  INTO  w_microshop_attach_FASTDFS_TMP(WM_ID, PATH_OLD,PATH_NEW)
      VALUES (#{dfsParam.wmId}, #{dfsParam.pathOld}, #{dfsParam.pathNew})
    </foreach>
  </insert>
</mapper>