<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunUserRqsMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunUserRqs">
    <!--@mbggenerated-->
    <id column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="USER_TYPE" jdbcType="INTEGER" property="userType" />
    <result column="USER_ICCODE" jdbcType="VARCHAR" property="userIccode" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="COMP_NAME" jdbcType="VARCHAR" property="compName" />
    <result column="RQS_ACTUAL_STATUS" jdbcType="INTEGER" property="rqsActualStatus" />
    <result column="RQS_ACTUAL_TIME" jdbcType="TIMESTAMP" property="rqsActualTime" />
    <result column="RQS_ACTUAL_DESC" jdbcType="VARCHAR" property="rqsActualDesc" />
    <result column="RQS_APTITUDE_STATUS" jdbcType="INTEGER" property="rqsAptitudeStatus" />
    <result column="RQS_APTITUDE_TIME" jdbcType="TIMESTAMP" property="rqsAptitudeTime" />
    <result column="RQS_APTITUDE_DESC" jdbcType="VARCHAR" property="rqsAptitudeDesc" />
    <result column="PROCESS_BY" jdbcType="VARCHAR" property="processBy" />
    <result column="SHOP_GIFT" jdbcType="TINYINT" property="shopGift" />
    <result column="USER_NOTE" jdbcType="INTEGER" property="userNote" />
    <result column="COACHER_MOBILE" jdbcType="VARCHAR" property="coacherMobile" />
    <result column="ACTUAL_SELL_ID" jdbcType="INTEGER" property="actualSellId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ARCHIVE_ID, USER_TYPE, USER_ICCODE, USER_NAME, COMP_NAME, RQS_ACTUAL_STATUS, RQS_ACTUAL_TIME, 
    RQS_ACTUAL_DESC, RQS_APTITUDE_STATUS, RQS_APTITUDE_TIME, RQS_APTITUDE_DESC, PROCESS_BY, 
    SHOP_GIFT, USER_NOTE, COACHER_MOBILE, ACTUAL_SELL_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_USER_RQS
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_USER_RQS
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunUserRqs">
    <!--@mbggenerated-->
    insert into FUN_USER_RQS (ARCHIVE_ID, USER_TYPE, USER_ICCODE, 
      USER_NAME, COMP_NAME, RQS_ACTUAL_STATUS, 
      RQS_ACTUAL_TIME, RQS_ACTUAL_DESC, RQS_APTITUDE_STATUS, 
      RQS_APTITUDE_TIME, RQS_APTITUDE_DESC, PROCESS_BY, 
      SHOP_GIFT, USER_NOTE, COACHER_MOBILE, 
      ACTUAL_SELL_ID)
    values (#{archiveId,jdbcType=INTEGER}, #{userType,jdbcType=INTEGER}, #{userIccode,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{compName,jdbcType=VARCHAR}, #{rqsActualStatus,jdbcType=INTEGER}, 
      #{rqsActualTime,jdbcType=TIMESTAMP}, #{rqsActualDesc,jdbcType=VARCHAR}, #{rqsAptitudeStatus,jdbcType=INTEGER}, 
      #{rqsAptitudeTime,jdbcType=TIMESTAMP}, #{rqsAptitudeDesc,jdbcType=VARCHAR}, #{processBy,jdbcType=VARCHAR}, 
      #{shopGift,jdbcType=TINYINT}, #{userNote,jdbcType=INTEGER}, #{coacherMobile,jdbcType=VARCHAR}, 
      #{actualSellId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunUserRqs">
    <!--@mbggenerated-->
    insert into FUN_USER_RQS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="userIccode != null">
        USER_ICCODE,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="compName != null">
        COMP_NAME,
      </if>
      <if test="rqsActualStatus != null">
        RQS_ACTUAL_STATUS,
      </if>
      <if test="rqsActualTime != null">
        RQS_ACTUAL_TIME,
      </if>
      <if test="rqsActualDesc != null">
        RQS_ACTUAL_DESC,
      </if>
      <if test="rqsAptitudeStatus != null">
        RQS_APTITUDE_STATUS,
      </if>
      <if test="rqsAptitudeTime != null">
        RQS_APTITUDE_TIME,
      </if>
      <if test="rqsAptitudeDesc != null">
        RQS_APTITUDE_DESC,
      </if>
      <if test="processBy != null">
        PROCESS_BY,
      </if>
      <if test="shopGift != null">
        SHOP_GIFT,
      </if>
      <if test="userNote != null">
        USER_NOTE,
      </if>
      <if test="coacherMobile != null">
        COACHER_MOBILE,
      </if>
      <if test="actualSellId != null">
        ACTUAL_SELL_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userIccode != null">
        #{userIccode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="compName != null">
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="rqsActualStatus != null">
        #{rqsActualStatus,jdbcType=INTEGER},
      </if>
      <if test="rqsActualTime != null">
        #{rqsActualTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rqsActualDesc != null">
        #{rqsActualDesc,jdbcType=VARCHAR},
      </if>
      <if test="rqsAptitudeStatus != null">
        #{rqsAptitudeStatus,jdbcType=INTEGER},
      </if>
      <if test="rqsAptitudeTime != null">
        #{rqsAptitudeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rqsAptitudeDesc != null">
        #{rqsAptitudeDesc,jdbcType=VARCHAR},
      </if>
      <if test="processBy != null">
        #{processBy,jdbcType=VARCHAR},
      </if>
      <if test="shopGift != null">
        #{shopGift,jdbcType=TINYINT},
      </if>
      <if test="userNote != null">
        #{userNote,jdbcType=INTEGER},
      </if>
      <if test="coacherMobile != null">
        #{coacherMobile,jdbcType=VARCHAR},
      </if>
      <if test="actualSellId != null">
        #{actualSellId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunUserRqs">
    <!--@mbggenerated-->
    update FUN_USER_RQS
    <set>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userIccode != null">
        USER_ICCODE = #{userIccode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="compName != null">
        COMP_NAME = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="rqsActualStatus != null">
        RQS_ACTUAL_STATUS = #{rqsActualStatus,jdbcType=INTEGER},
      </if>
      <if test="rqsActualTime != null">
        RQS_ACTUAL_TIME = #{rqsActualTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rqsActualDesc != null">
        RQS_ACTUAL_DESC = #{rqsActualDesc,jdbcType=VARCHAR},
      </if>
      <if test="rqsAptitudeStatus != null">
        RQS_APTITUDE_STATUS = #{rqsAptitudeStatus,jdbcType=INTEGER},
      </if>
      <if test="rqsAptitudeTime != null">
        RQS_APTITUDE_TIME = #{rqsAptitudeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rqsAptitudeDesc != null">
        RQS_APTITUDE_DESC = #{rqsAptitudeDesc,jdbcType=VARCHAR},
      </if>
      <if test="processBy != null">
        PROCESS_BY = #{processBy,jdbcType=VARCHAR},
      </if>
      <if test="shopGift != null">
        SHOP_GIFT = #{shopGift,jdbcType=TINYINT},
      </if>
      <if test="userNote != null">
        USER_NOTE = #{userNote,jdbcType=INTEGER},
      </if>
      <if test="coacherMobile != null">
        COACHER_MOBILE = #{coacherMobile,jdbcType=VARCHAR},
      </if>
      <if test="actualSellId != null">
        ACTUAL_SELL_ID = #{actualSellId,jdbcType=INTEGER},
      </if>
    </set>
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunUserRqs">
    <!--@mbggenerated-->
    update FUN_USER_RQS
    set USER_TYPE = #{userType,jdbcType=INTEGER},
      USER_ICCODE = #{userIccode,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      COMP_NAME = #{compName,jdbcType=VARCHAR},
      RQS_ACTUAL_STATUS = #{rqsActualStatus,jdbcType=INTEGER},
      RQS_ACTUAL_TIME = #{rqsActualTime,jdbcType=TIMESTAMP},
      RQS_ACTUAL_DESC = #{rqsActualDesc,jdbcType=VARCHAR},
      RQS_APTITUDE_STATUS = #{rqsAptitudeStatus,jdbcType=INTEGER},
      RQS_APTITUDE_TIME = #{rqsAptitudeTime,jdbcType=TIMESTAMP},
      RQS_APTITUDE_DESC = #{rqsAptitudeDesc,jdbcType=VARCHAR},
      PROCESS_BY = #{processBy,jdbcType=VARCHAR},
      SHOP_GIFT = #{shopGift,jdbcType=TINYINT},
      USER_NOTE = #{userNote,jdbcType=INTEGER},
      COACHER_MOBILE = #{coacherMobile,jdbcType=VARCHAR},
      ACTUAL_SELL_ID = #{actualSellId,jdbcType=INTEGER}
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </update>
  <update id="updatePhoneNum" parameterType="java.util.Map">
  	update FUN_USER_RQS 
  	set user_mobile = #{newNum} 
  	where user_mobile =#{oldNum} 
  </update>
  <select id="getCountByPrimaryKey" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	SELECT count(1) FROM  FUN_USER_RQS  where  ARCHIVE_ID=#{archiveId}
</select>
</mapper>