<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunCompRealMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunCompReal" >
    <!--@mbggenerated-->
    <id column="CITY_ID" property="cityId" jdbcType="SMALLINT" />
    <id column="DEVLOPER_ID" property="devloperId" jdbcType="INTEGER" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="INTEGER" />
    <result column="COMP_NAME" property="compName" jdbcType="VARCHAR" />
    <result column="COMP_CNAME" property="compCname" jdbcType="VARCHAR" />
    <result column="COMP_ADDR" property="compAddr" jdbcType="VARCHAR" />
    <result column="LEGAL_NAME" property="legalName" jdbcType="VARCHAR" />
    <result column="SALES_MANAGER" property="salesManager" jdbcType="VARCHAR" />
    <result column="SALES_MOBILE" property="salesMobile" jdbcType="VARCHAR" />
    <result column="COMP_REGCAP" property="compRegcap" jdbcType="VARCHAR" />
    <result column="COMP_DEVCLASS" property="compDevclass" jdbcType="VARCHAR" />
    <result column="COMP_TELE" property="compTele" jdbcType="VARCHAR" />
    <result column="COMP_FAX" property="compFax" jdbcType="VARCHAR" />
    <result column="COMP_LOG" property="compLog" jdbcType="VARCHAR" />
    <result column="COMP_WEBSITE" property="compWebsite" jdbcType="VARCHAR" />
    <result column="COMP_DESC" property="compDesc" jdbcType="VARCHAR" />
    <result column="CRM_COMP_ID" property="crmCompId" jdbcType="INTEGER" />
    <result column="CREATOR_UID" property="creatorUid" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    CITY_ID, DEVLOPER_ID, PROVINCE_ID, COMP_NAME, COMP_CNAME, COMP_ADDR, LEGAL_NAME, 
    SALES_MANAGER, SALES_MOBILE, COMP_REGCAP, COMP_DEVCLASS, COMP_TELE, COMP_FAX, COMP_LOG, 
    COMP_WEBSITE, COMP_DESC, CRM_COMP_ID, CREATOR_UID, CREATION_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.po.AdminFunCompRealKey" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_COMP_REAL
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and DEVLOPER_ID = #{devloperId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunCompRealKey" >
    <!--@mbggenerated-->
    delete from FUN_COMP_REAL
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and DEVLOPER_ID = #{devloperId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunCompReal" >
    <!--@mbggenerated-->
    insert into FUN_COMP_REAL (CITY_ID, DEVLOPER_ID, PROVINCE_ID, 
      COMP_NAME, COMP_CNAME, COMP_ADDR, 
      LEGAL_NAME, SALES_MANAGER, SALES_MOBILE, 
      COMP_REGCAP, COMP_DEVCLASS, COMP_TELE, 
      COMP_FAX, COMP_LOG, COMP_WEBSITE, 
      COMP_DESC, CRM_COMP_ID, CREATOR_UID, 
      CREATION_TIME)
    values (#{cityId,jdbcType=SMALLINT}, #{devloperId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, 
      #{compName,jdbcType=VARCHAR}, #{compCname,jdbcType=VARCHAR}, #{compAddr,jdbcType=VARCHAR}, 
      #{legalName,jdbcType=VARCHAR}, #{salesManager,jdbcType=VARCHAR}, #{salesMobile,jdbcType=VARCHAR}, 
      #{compRegcap,jdbcType=VARCHAR}, #{compDevclass,jdbcType=VARCHAR}, #{compTele,jdbcType=VARCHAR}, 
      #{compFax,jdbcType=VARCHAR}, #{compLog,jdbcType=VARCHAR}, #{compWebsite,jdbcType=VARCHAR}, 
      #{compDesc,jdbcType=VARCHAR}, #{crmCompId,jdbcType=INTEGER}, #{creatorUid,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunCompReal" >
    <!--@mbggenerated-->
    insert into FUN_COMP_REAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="devloperId != null" >
        DEVLOPER_ID,
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID,
      </if>
      <if test="compName != null" >
        COMP_NAME,
      </if>
      <if test="compCname != null" >
        COMP_CNAME,
      </if>
      <if test="compAddr != null" >
        COMP_ADDR,
      </if>
      <if test="legalName != null" >
        LEGAL_NAME,
      </if>
      <if test="salesManager != null" >
        SALES_MANAGER,
      </if>
      <if test="salesMobile != null" >
        SALES_MOBILE,
      </if>
      <if test="compRegcap != null" >
        COMP_REGCAP,
      </if>
      <if test="compDevclass != null" >
        COMP_DEVCLASS,
      </if>
      <if test="compTele != null" >
        COMP_TELE,
      </if>
      <if test="compFax != null" >
        COMP_FAX,
      </if>
      <if test="compLog != null" >
        COMP_LOG,
      </if>
      <if test="compWebsite != null" >
        COMP_WEBSITE,
      </if>
      <if test="compDesc != null" >
        COMP_DESC,
      </if>
      <if test="crmCompId != null" >
        CRM_COMP_ID,
      </if>
      <if test="creatorUid != null" >
        CREATOR_UID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="devloperId != null" >
        #{devloperId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="compName != null" >
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compCname != null" >
        #{compCname,jdbcType=VARCHAR},
      </if>
      <if test="compAddr != null" >
        #{compAddr,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null" >
        #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="salesManager != null" >
        #{salesManager,jdbcType=VARCHAR},
      </if>
      <if test="salesMobile != null" >
        #{salesMobile,jdbcType=VARCHAR},
      </if>
      <if test="compRegcap != null" >
        #{compRegcap,jdbcType=VARCHAR},
      </if>
      <if test="compDevclass != null" >
        #{compDevclass,jdbcType=VARCHAR},
      </if>
      <if test="compTele != null" >
        #{compTele,jdbcType=VARCHAR},
      </if>
      <if test="compFax != null" >
        #{compFax,jdbcType=VARCHAR},
      </if>
      <if test="compLog != null" >
        #{compLog,jdbcType=VARCHAR},
      </if>
      <if test="compWebsite != null" >
        #{compWebsite,jdbcType=VARCHAR},
      </if>
      <if test="compDesc != null" >
        #{compDesc,jdbcType=VARCHAR},
      </if>
      <if test="crmCompId != null" >
        #{crmCompId,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null" >
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunCompReal" >
    <!--@mbggenerated-->
    update FUN_COMP_REAL
    <set >
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="compName != null" >
        COMP_NAME = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compCname != null" >
        COMP_CNAME = #{compCname,jdbcType=VARCHAR},
      </if>
      <if test="compAddr != null" >
        COMP_ADDR = #{compAddr,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null" >
        LEGAL_NAME = #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="salesManager != null" >
        SALES_MANAGER = #{salesManager,jdbcType=VARCHAR},
      </if>
      <if test="salesMobile != null" >
        SALES_MOBILE = #{salesMobile,jdbcType=VARCHAR},
      </if>
      <if test="compRegcap != null" >
        COMP_REGCAP = #{compRegcap,jdbcType=VARCHAR},
      </if>
      <if test="compDevclass != null" >
        COMP_DEVCLASS = #{compDevclass,jdbcType=VARCHAR},
      </if>
      <if test="compTele != null" >
        COMP_TELE = #{compTele,jdbcType=VARCHAR},
      </if>
      <if test="compFax != null" >
        COMP_FAX = #{compFax,jdbcType=VARCHAR},
      </if>
      <if test="compLog != null" >
        COMP_LOG = #{compLog,jdbcType=VARCHAR},
      </if>
      <if test="compWebsite != null" >
        COMP_WEBSITE = #{compWebsite,jdbcType=VARCHAR},
      </if>
      <if test="compDesc != null" >
        COMP_DESC = #{compDesc,jdbcType=VARCHAR},
      </if>
      <if test="crmCompId != null" >
        CRM_COMP_ID = #{crmCompId,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null" >
        CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and DEVLOPER_ID = #{devloperId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunCompReal" >
    <!--@mbggenerated-->
    update FUN_COMP_REAL
    set PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      COMP_NAME = #{compName,jdbcType=VARCHAR},
      COMP_CNAME = #{compCname,jdbcType=VARCHAR},
      COMP_ADDR = #{compAddr,jdbcType=VARCHAR},
      LEGAL_NAME = #{legalName,jdbcType=VARCHAR},
      SALES_MANAGER = #{salesManager,jdbcType=VARCHAR},
      SALES_MOBILE = #{salesMobile,jdbcType=VARCHAR},
      COMP_REGCAP = #{compRegcap,jdbcType=VARCHAR},
      COMP_DEVCLASS = #{compDevclass,jdbcType=VARCHAR},
      COMP_TELE = #{compTele,jdbcType=VARCHAR},
      COMP_FAX = #{compFax,jdbcType=VARCHAR},
      COMP_LOG = #{compLog,jdbcType=VARCHAR},
      COMP_WEBSITE = #{compWebsite,jdbcType=VARCHAR},
      COMP_DESC = #{compDesc,jdbcType=VARCHAR},
      CRM_COMP_ID = #{crmCompId,jdbcType=INTEGER},
      CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and DEVLOPER_ID = #{devloperId,jdbcType=INTEGER}
  </update>
</mapper>