<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminVoipPoolMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminVoipPool">
    <!--@mbggenerated-->
    <id column="POOL_ID" jdbcType="INTEGER" property="poolId" />
    <result column="CHARGE_NBR" jdbcType="VARCHAR" property="chargeNbr" />
    <result column="CHARGE_KEY" jdbcType="VARCHAR" property="chargeKey" />
    <result column="IS_USE" jdbcType="TINYINT" property="isUse" />
    <result column="USE_TIME" jdbcType="TIMESTAMP" property="useTime" />
    <result column="LOCK_ID" jdbcType="VARCHAR" property="lockId" />
    <result column="DISPLAY_NBR" jdbcType="VARCHAR" property="displayNbr" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    POOL_ID, CHARGE_NBR, CHARGE_KEY, IS_USE, USE_TIME, LOCK_ID, DISPLAY_NBR
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from VOIP_POOL
    where POOL_ID = #{poolId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from VOIP_POOL
    where POOL_ID = #{poolId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminVoipPool">
    <!--@mbggenerated-->
    <selectKey keyProperty="poolId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into VOIP_POOL (CHARGE_NBR, CHARGE_KEY, IS_USE, 
      USE_TIME, LOCK_ID, DISPLAY_NBR
      )
    values (#{chargeNbr,jdbcType=VARCHAR}, #{chargeKey,jdbcType=VARCHAR}, #{isUse,jdbcType=TINYINT}, 
      #{useTime,jdbcType=TIMESTAMP}, #{lockId,jdbcType=VARCHAR}, #{displayNbr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminVoipPool">
    <!--@mbggenerated-->
    <selectKey keyProperty="poolId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into VOIP_POOL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chargeNbr != null">
        CHARGE_NBR,
      </if>
      <if test="chargeKey != null">
        CHARGE_KEY,
      </if>
      <if test="isUse != null">
        IS_USE,
      </if>
      <if test="useTime != null">
        USE_TIME,
      </if>
      <if test="lockId != null">
        LOCK_ID,
      </if>
      <if test="displayNbr != null">
        DISPLAY_NBR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chargeNbr != null">
        #{chargeNbr,jdbcType=VARCHAR},
      </if>
      <if test="chargeKey != null">
        #{chargeKey,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        #{isUse,jdbcType=TINYINT},
      </if>
      <if test="useTime != null">
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lockId != null">
        #{lockId,jdbcType=VARCHAR},
      </if>
      <if test="displayNbr != null">
        #{displayNbr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminVoipPool">
    <!--@mbggenerated-->
    update VOIP_POOL
    <set>
      <if test="chargeNbr != null">
        CHARGE_NBR = #{chargeNbr,jdbcType=VARCHAR},
      </if>
      <if test="chargeKey != null">
        CHARGE_KEY = #{chargeKey,jdbcType=VARCHAR},
      </if>
      <if test="isUse != null">
        IS_USE = #{isUse,jdbcType=TINYINT},
      </if>
      <if test="useTime != null">
        USE_TIME = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lockId != null">
        LOCK_ID = #{lockId,jdbcType=VARCHAR},
      </if>
      <if test="displayNbr != null">
        DISPLAY_NBR = #{displayNbr,jdbcType=VARCHAR},
      </if>
    </set>
    where POOL_ID = #{poolId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminVoipPool">
    <!--@mbggenerated-->
    update VOIP_POOL
    set CHARGE_NBR = #{chargeNbr,jdbcType=VARCHAR},
      CHARGE_KEY = #{chargeKey,jdbcType=VARCHAR},
      IS_USE = #{isUse,jdbcType=TINYINT},
      USE_TIME = #{useTime,jdbcType=TIMESTAMP},
      LOCK_ID = #{lockId,jdbcType=VARCHAR},
      DISPLAY_NBR = #{displayNbr,jdbcType=VARCHAR}
    where POOL_ID = #{poolId,jdbcType=INTEGER}
  </update>
  <!-- business -->
  <update id="lockVoipPoolByUse" parameterType="java.lang.String">
  	UPDATE VOIP_POOL SET LOCK_ID = #{lockId,jdbcType=VARCHAR},IS_USE=1,USE_TIME=GETDATE() where POOL_ID = (SELECT top 1 POOL_ID from VOIP_POOL where IS_USE = 0 ORDER BY NEWID())
  </update>
  <update id="lockVoipPoolByTimeOut" parameterType="java.lang.String">
  	UPDATE VOIP_POOL SET LOCK_ID = #{lockId,jdbcType=VARCHAR},IS_USE=1,USE_TIME=GETDATE() where POOL_ID = (SELECT top 1 POOL_ID from VOIP_POOL ORDER BY NEWID())
  </update>
  <select id="getVoipPoolByLockId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from VOIP_POOL
    where LOCK_ID = #{lockId,jdbcType=VARCHAR}
  </select>
  <select id="getRandomVoipPool" resultMap="BaseResultMap">
    SELECT top 1 <include refid="Base_Column_List" /> from VOIP_POOL ORDER BY NEWID()
  </select>
  <update id="freeVoipPoolByLockId" parameterType="java.lang.String">
  	UPDATE VOIP_POOL SET IS_USE=0 where LOCK_ID = #{lockId,jdbcType=VARCHAR}
  </update>
</mapper>