<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminSosoPhonesMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminSosoPhones" >
    <!--@mbggenerated-->
    <id column="SP_ID" property="spId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="CASE_ID" property="caseId" jdbcType="INTEGER" />
    <result column="CASE_TYPE" property="caseType" jdbcType="TINYINT" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="OWNER" property="owner" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="TINYINT" />
    <result column="CALL_FLAG" property="callFlag" jdbcType="TINYINT" />
    <result column="CRM_USER" property="crmUser" jdbcType="INTEGER" />
    <result column="CALL_TIME" property="callTime" jdbcType="TIMESTAMP" />
    <result column="PHONE_SOURCE" property="phoneSource" jdbcType="TINYINT" />
    <result column="IN_TIME" property="inTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    SP_ID, CITY_ID, CASE_ID, CASE_TYPE, PHONE, OWNER, SEX, CALL_FLAG, CRM_USER, CALL_TIME, 
    PHONE_SOURCE, IN_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from SOSO_PHONES
    where SP_ID = #{spId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from SOSO_PHONES
    where SP_ID = #{spId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminSosoPhones" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="spId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into SOSO_PHONES (CITY_ID, CASE_ID, CASE_TYPE, 
      PHONE, OWNER, SEX, 
      CALL_FLAG, CRM_USER, CALL_TIME, 
      PHONE_SOURCE, IN_TIME)
    values (#{cityId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{phone,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{callFlag,jdbcType=TINYINT}, #{crmUser,jdbcType=INTEGER}, #{callTime,jdbcType=TIMESTAMP}, 
      #{phoneSource,jdbcType=TINYINT}, #{inTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminSosoPhones" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="spId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into SOSO_PHONES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="caseId != null" >
        CASE_ID,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="owner != null" >
        OWNER,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="callFlag != null" >
        CALL_FLAG,
      </if>
      <if test="crmUser != null" >
        CRM_USER,
      </if>
      <if test="callTime != null" >
        CALL_TIME,
      </if>
      <if test="phoneSource != null" >
        PHONE_SOURCE,
      </if>
      <if test="inTime != null" >
        IN_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="callFlag != null" >
        #{callFlag,jdbcType=TINYINT},
      </if>
      <if test="crmUser != null" >
        #{crmUser,jdbcType=INTEGER},
      </if>
      <if test="callTime != null" >
        #{callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneSource != null" >
        #{phoneSource,jdbcType=TINYINT},
      </if>
      <if test="inTime != null" >
        #{inTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminSosoPhones" >
    <!--@mbggenerated-->
    update SOSO_PHONES
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        OWNER = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=TINYINT},
      </if>
      <if test="callFlag != null" >
        CALL_FLAG = #{callFlag,jdbcType=TINYINT},
      </if>
      <if test="crmUser != null" >
        CRM_USER = #{crmUser,jdbcType=INTEGER},
      </if>
      <if test="callTime != null" >
        CALL_TIME = #{callTime,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneSource != null" >
        PHONE_SOURCE = #{phoneSource,jdbcType=TINYINT},
      </if>
      <if test="inTime != null" >
        IN_TIME = #{inTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SP_ID = #{spId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminSosoPhones" >
    <!--@mbggenerated-->
    update SOSO_PHONES
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      PHONE = #{phone,jdbcType=VARCHAR},
      OWNER = #{owner,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=TINYINT},
      CALL_FLAG = #{callFlag,jdbcType=TINYINT},
      CRM_USER = #{crmUser,jdbcType=INTEGER},
      CALL_TIME = #{callTime,jdbcType=TIMESTAMP},
      PHONE_SOURCE = #{phoneSource,jdbcType=TINYINT},
      IN_TIME = #{inTime,jdbcType=TIMESTAMP}
    where SP_ID = #{spId,jdbcType=INTEGER}
  </update>
</mapper>