<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminLandlordFunHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminLandlordFunHistory" >
    <!--@mbggenerated-->
    <id column="HISTORY_ID" property="historyId" jdbcType="INTEGER" />
    <result column="HISTORY_MOBILE" property="historyMobile" jdbcType="VARCHAR" />
    <result column="HISTORY_FUN_ID" property="historyFunId" jdbcType="INTEGER" />
    <result column="HISTORY_FUN_TITLE" property="historyFunTitle" jdbcType="VARCHAR" />
    <result column="HISTORY_CITY" property="historyCity" jdbcType="INTEGER" />
    <result column="HISTORY_FUN_TYPE" property="historyFunType" jdbcType="TINYINT" />
    <result column="HISTORY_ADD_TIME" property="historyAddTime" jdbcType="INTEGER" />
    <result column="HISTORY_TYPE" property="historyType" jdbcType="TINYINT" />
    <result column="HISTORY_USER_ID" property="historyUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    HISTORY_ID, HISTORY_MOBILE, HISTORY_FUN_ID, HISTORY_FUN_TITLE, HISTORY_CITY, HISTORY_FUN_TYPE, 
    HISTORY_ADD_TIME, HISTORY_TYPE, HISTORY_USER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from LANDLORD_FUN_HISTORY
    where HISTORY_ID = #{historyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from LANDLORD_FUN_HISTORY
    where HISTORY_ID = #{historyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminLandlordFunHistory" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="historyId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into LANDLORD_FUN_HISTORY (HISTORY_MOBILE, HISTORY_FUN_ID, HISTORY_FUN_TITLE, 
      HISTORY_CITY, HISTORY_FUN_TYPE, HISTORY_ADD_TIME, 
      HISTORY_TYPE, HISTORY_USER_ID)
    values (#{historyMobile,jdbcType=VARCHAR}, #{historyFunId,jdbcType=INTEGER}, #{historyFunTitle,jdbcType=VARCHAR}, 
      #{historyCity,jdbcType=INTEGER}, #{historyFunType,jdbcType=TINYINT}, #{historyAddTime,jdbcType=INTEGER}, 
      #{historyType,jdbcType=TINYINT}, #{historyUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminLandlordFunHistory" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="historyId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into LANDLORD_FUN_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="historyMobile != null" >
        HISTORY_MOBILE,
      </if>
      <if test="historyFunId != null" >
        HISTORY_FUN_ID,
      </if>
      <if test="historyFunTitle != null" >
        HISTORY_FUN_TITLE,
      </if>
      <if test="historyCity != null" >
        HISTORY_CITY,
      </if>
      <if test="historyFunType != null" >
        HISTORY_FUN_TYPE,
      </if>
      <if test="historyAddTime != null" >
        HISTORY_ADD_TIME,
      </if>
      <if test="historyType != null" >
        HISTORY_TYPE,
      </if>
      <if test="historyUserId != null" >
        HISTORY_USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="historyMobile != null" >
        #{historyMobile,jdbcType=VARCHAR},
      </if>
      <if test="historyFunId != null" >
        #{historyFunId,jdbcType=INTEGER},
      </if>
      <if test="historyFunTitle != null" >
        #{historyFunTitle,jdbcType=VARCHAR},
      </if>
      <if test="historyCity != null" >
        #{historyCity,jdbcType=INTEGER},
      </if>
      <if test="historyFunType != null" >
        #{historyFunType,jdbcType=TINYINT},
      </if>
      <if test="historyAddTime != null" >
        #{historyAddTime,jdbcType=INTEGER},
      </if>
      <if test="historyType != null" >
        #{historyType,jdbcType=TINYINT},
      </if>
      <if test="historyUserId != null" >
        #{historyUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminLandlordFunHistory" >
    <!--@mbggenerated-->
    update LANDLORD_FUN_HISTORY
    <set >
      <if test="historyMobile != null" >
        HISTORY_MOBILE = #{historyMobile,jdbcType=VARCHAR},
      </if>
      <if test="historyFunId != null" >
        HISTORY_FUN_ID = #{historyFunId,jdbcType=INTEGER},
      </if>
      <if test="historyFunTitle != null" >
        HISTORY_FUN_TITLE = #{historyFunTitle,jdbcType=VARCHAR},
      </if>
      <if test="historyCity != null" >
        HISTORY_CITY = #{historyCity,jdbcType=INTEGER},
      </if>
      <if test="historyFunType != null" >
        HISTORY_FUN_TYPE = #{historyFunType,jdbcType=TINYINT},
      </if>
      <if test="historyAddTime != null" >
        HISTORY_ADD_TIME = #{historyAddTime,jdbcType=INTEGER},
      </if>
      <if test="historyType != null" >
        HISTORY_TYPE = #{historyType,jdbcType=TINYINT},
      </if>
      <if test="historyUserId != null" >
        HISTORY_USER_ID = #{historyUserId,jdbcType=INTEGER},
      </if>
    </set>
    where HISTORY_ID = #{historyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminLandlordFunHistory" >
    <!--@mbggenerated-->
    update LANDLORD_FUN_HISTORY
    set HISTORY_MOBILE = #{historyMobile,jdbcType=VARCHAR},
      HISTORY_FUN_ID = #{historyFunId,jdbcType=INTEGER},
      HISTORY_FUN_TITLE = #{historyFunTitle,jdbcType=VARCHAR},
      HISTORY_CITY = #{historyCity,jdbcType=INTEGER},
      HISTORY_FUN_TYPE = #{historyFunType,jdbcType=TINYINT},
      HISTORY_ADD_TIME = #{historyAddTime,jdbcType=INTEGER},
      HISTORY_TYPE = #{historyType,jdbcType=TINYINT},
      HISTORY_USER_ID = #{historyUserId,jdbcType=INTEGER}
    where HISTORY_ID = #{historyId,jdbcType=INTEGER}
  </update>
</mapper>