<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminYouViewFeeWithdrawalsMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawals">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="USER_MOBILE" jdbcType="VARCHAR" property="userMobile" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="UA_ID" jdbcType="INTEGER" property="uaId" />
    <result column="WITHDRAWALS_AMOUNT" jdbcType="DECIMAL" property="withdrawalsAmount" />
    <result column="WITHDRAWALS_TYPE" jdbcType="TINYINT" property="withdrawalsType" />
    <result column="PAYEE_USER_NAME" jdbcType="VARCHAR" property="payeeUserName" />
    <result column="PAYEE_WEIXIN_NAME" jdbcType="VARCHAR" property="payeeWeixinName" />
    <result column="PAYEE_ACCOUNT" jdbcType="VARCHAR" property="payeeAccount" />
    <result column="AUDIT_USER" jdbcType="INTEGER" property="auditUser" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="AUDIT_RESULT" jdbcType="TINYINT" property="auditResult" />
    <result column="AUDIT_EXPLAIN" jdbcType="VARCHAR" property="auditExplain" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, USER_NAME, USER_MOBILE, ARCHIVE_ID, CITY_ID, UA_ID, WITHDRAWALS_AMOUNT, WITHDRAWALS_TYPE, 
    PAYEE_USER_NAME, PAYEE_WEIXIN_NAME, PAYEE_ACCOUNT, AUDIT_USER, AUDIT_TIME, AUDIT_RESULT, 
    AUDIT_EXPLAIN, CREATION_TIME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawalsExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from YOU_VIEW_FEE_WITHDRAWALS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from YOU_VIEW_FEE_WITHDRAWALS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from YOU_VIEW_FEE_WITHDRAWALS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawalsExample">
    <!--@mbggenerated-->
    delete from YOU_VIEW_FEE_WITHDRAWALS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawals" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into YOU_VIEW_FEE_WITHDRAWALS (USER_NAME, USER_MOBILE, ARCHIVE_ID, 
      CITY_ID, UA_ID, WITHDRAWALS_AMOUNT, 
      WITHDRAWALS_TYPE, PAYEE_USER_NAME, PAYEE_WEIXIN_NAME, 
      PAYEE_ACCOUNT, AUDIT_USER, AUDIT_TIME, 
      AUDIT_RESULT, AUDIT_EXPLAIN, CREATION_TIME
      )
    values (#{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{archiveId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{uaId,jdbcType=INTEGER}, #{withdrawalsAmount,jdbcType=DECIMAL}, 
      #{withdrawalsType,jdbcType=TINYINT}, #{payeeUserName,jdbcType=VARCHAR}, #{payeeWeixinName,jdbcType=VARCHAR}, 
      #{payeeAccount,jdbcType=VARCHAR}, #{auditUser,jdbcType=INTEGER}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{auditResult,jdbcType=TINYINT}, #{auditExplain,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawals" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into YOU_VIEW_FEE_WITHDRAWALS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="userMobile != null">
        USER_MOBILE,
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="uaId != null">
        UA_ID,
      </if>
      <if test="withdrawalsAmount != null">
        WITHDRAWALS_AMOUNT,
      </if>
      <if test="withdrawalsType != null">
        WITHDRAWALS_TYPE,
      </if>
      <if test="payeeUserName != null">
        PAYEE_USER_NAME,
      </if>
      <if test="payeeWeixinName != null">
        PAYEE_WEIXIN_NAME,
      </if>
      <if test="payeeAccount != null">
        PAYEE_ACCOUNT,
      </if>
      <if test="auditUser != null">
        AUDIT_USER,
      </if>
      <if test="auditTime != null">
        AUDIT_TIME,
      </if>
      <if test="auditResult != null">
        AUDIT_RESULT,
      </if>
      <if test="auditExplain != null">
        AUDIT_EXPLAIN,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="uaId != null">
        #{uaId,jdbcType=INTEGER},
      </if>
      <if test="withdrawalsAmount != null">
        #{withdrawalsAmount,jdbcType=DECIMAL},
      </if>
      <if test="withdrawalsType != null">
        #{withdrawalsType,jdbcType=TINYINT},
      </if>
      <if test="payeeUserName != null">
        #{payeeUserName,jdbcType=VARCHAR},
      </if>
      <if test="payeeWeixinName != null">
        #{payeeWeixinName,jdbcType=VARCHAR},
      </if>
      <if test="payeeAccount != null">
        #{payeeAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null">
        #{auditUser,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditResult != null">
        #{auditResult,jdbcType=TINYINT},
      </if>
      <if test="auditExplain != null">
        #{auditExplain,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawalsExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from YOU_VIEW_FEE_WITHDRAWALS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update YOU_VIEW_FEE_WITHDRAWALS
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null">
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userMobile != null">
        USER_MOBILE = #{record.userMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.archiveId != null">
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.uaId != null">
        UA_ID = #{record.uaId,jdbcType=INTEGER},
      </if>
      <if test="record.withdrawalsAmount != null">
        WITHDRAWALS_AMOUNT = #{record.withdrawalsAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.withdrawalsType != null">
        WITHDRAWALS_TYPE = #{record.withdrawalsType,jdbcType=TINYINT},
      </if>
      <if test="record.payeeUserName != null">
        PAYEE_USER_NAME = #{record.payeeUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.payeeWeixinName != null">
        PAYEE_WEIXIN_NAME = #{record.payeeWeixinName,jdbcType=VARCHAR},
      </if>
      <if test="record.payeeAccount != null">
        PAYEE_ACCOUNT = #{record.payeeAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.auditUser != null">
        AUDIT_USER = #{record.auditUser,jdbcType=INTEGER},
      </if>
      <if test="record.auditTime != null">
        AUDIT_TIME = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditResult != null">
        AUDIT_RESULT = #{record.auditResult,jdbcType=TINYINT},
      </if>
      <if test="record.auditExplain != null">
        AUDIT_EXPLAIN = #{record.auditExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update YOU_VIEW_FEE_WITHDRAWALS
    set ID = #{record.id,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_MOBILE = #{record.userMobile,jdbcType=VARCHAR},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      UA_ID = #{record.uaId,jdbcType=INTEGER},
      WITHDRAWALS_AMOUNT = #{record.withdrawalsAmount,jdbcType=DECIMAL},
      WITHDRAWALS_TYPE = #{record.withdrawalsType,jdbcType=TINYINT},
      PAYEE_USER_NAME = #{record.payeeUserName,jdbcType=VARCHAR},
      PAYEE_WEIXIN_NAME = #{record.payeeWeixinName,jdbcType=VARCHAR},
      PAYEE_ACCOUNT = #{record.payeeAccount,jdbcType=VARCHAR},
      AUDIT_USER = #{record.auditUser,jdbcType=INTEGER},
      AUDIT_TIME = #{record.auditTime,jdbcType=TIMESTAMP},
      AUDIT_RESULT = #{record.auditResult,jdbcType=TINYINT},
      AUDIT_EXPLAIN = #{record.auditExplain,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawals">
    <!--@mbggenerated-->
    update YOU_VIEW_FEE_WITHDRAWALS
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="uaId != null">
        UA_ID = #{uaId,jdbcType=INTEGER},
      </if>
      <if test="withdrawalsAmount != null">
        WITHDRAWALS_AMOUNT = #{withdrawalsAmount,jdbcType=DECIMAL},
      </if>
      <if test="withdrawalsType != null">
        WITHDRAWALS_TYPE = #{withdrawalsType,jdbcType=TINYINT},
      </if>
      <if test="payeeUserName != null">
        PAYEE_USER_NAME = #{payeeUserName,jdbcType=VARCHAR},
      </if>
      <if test="payeeWeixinName != null">
        PAYEE_WEIXIN_NAME = #{payeeWeixinName,jdbcType=VARCHAR},
      </if>
      <if test="payeeAccount != null">
        PAYEE_ACCOUNT = #{payeeAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditUser != null">
        AUDIT_USER = #{auditUser,jdbcType=INTEGER},
      </if>
      <if test="auditTime != null">
        AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditResult != null">
        AUDIT_RESULT = #{auditResult,jdbcType=TINYINT},
      </if>
      <if test="auditExplain != null">
        AUDIT_EXPLAIN = #{auditExplain,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminYouViewFeeWithdrawals">
    <!--@mbggenerated-->
    update YOU_VIEW_FEE_WITHDRAWALS
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      UA_ID = #{uaId,jdbcType=INTEGER},
      WITHDRAWALS_AMOUNT = #{withdrawalsAmount,jdbcType=DECIMAL},
      WITHDRAWALS_TYPE = #{withdrawalsType,jdbcType=TINYINT},
      PAYEE_USER_NAME = #{payeeUserName,jdbcType=VARCHAR},
      PAYEE_WEIXIN_NAME = #{payeeWeixinName,jdbcType=VARCHAR},
      PAYEE_ACCOUNT = #{payeeAccount,jdbcType=VARCHAR},
      AUDIT_USER = #{auditUser,jdbcType=INTEGER},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      AUDIT_RESULT = #{auditResult,jdbcType=TINYINT},
      AUDIT_EXPLAIN = #{auditExplain,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>