<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunIssueInvoiceMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunIssueInvoice">
    <!--@mbggenerated-->
    <id column="INVOICE_ID" jdbcType="INTEGER" property="invoiceId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="COMP_NO" jdbcType="VARCHAR" property="compNo" />
    <result column="DEPT_NO" jdbcType="VARCHAR" property="deptNo" />
    <result column="PAID_ID" jdbcType="INTEGER" property="paidId" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="INVOICE_TYPE" jdbcType="TINYINT" property="invoiceType" />
    <result column="INVOICE_HEADER" jdbcType="VARCHAR" property="invoiceHeader" />
    <result column="IDENTIFICATION_NUMBER" jdbcType="VARCHAR" property="identificationNumber" />
    <result column="BUSINESS_NAME" jdbcType="VARCHAR" property="businessName" />
    <result column="ACCOUNT_BANK" jdbcType="VARCHAR" property="accountBank" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="ACCOUNT_CONTACT" jdbcType="VARCHAR" property="accountContact" />
    <result column="RECIPIENT_UNAME" jdbcType="VARCHAR" property="recipientUname" />
    <result column="RECIPIENT_ADDR" jdbcType="VARCHAR" property="recipientAddr" />
    <result column="RECIPIENT_PHONE" jdbcType="VARCHAR" property="recipientPhone" />
    <result column="EXPRESS_INFO" jdbcType="VARCHAR" property="expressInfo" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="INVOICE_STATUS" jdbcType="TINYINT" property="invoiceStatus" />
    <result column="BILLING_TIME" jdbcType="TIMESTAMP" property="billingTime" />
    <result column="BILLING_USER_ID" jdbcType="INTEGER" property="billingUserId" />
    <result column="FILLORDERS_USER_ID" jdbcType="INTEGER" property="fillordersUserId" />
    <result column="BUSINESS_ADDR" jdbcType="VARCHAR" property="businessAddr" />
    <result column="BUSINESS_PHONE" jdbcType="VARCHAR" property="businessPhone" />
    <result column="INVOICE_CONTENT" jdbcType="VARCHAR" property="invoiceContent" />
    <result column="CONSUMPTION_AMOUNT" jdbcType="NUMERIC" property="consumptionAmount" />
    <result column="APPLY_UID" jdbcType="INTEGER" property="applyUid" />
    <result column="APPLY_NAME" jdbcType="VARCHAR" property="applyName" />
    <result column="FAILURE_CAUSE" jdbcType="VARCHAR" property="failureCause" />
    <result column="ADUIT_DATE" jdbcType="TIMESTAMP" property="aduitDate" />
    <result column="INVOICE_NO" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="APPLY_TIME" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="ELECTRONIC_INVOICE" jdbcType="TINYINT" property="electronicInvoice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    INVOICE_ID, CITY_ID, COMP_NO, DEPT_NO, PAID_ID, ARCHIVE_ID, INVOICE_TYPE, INVOICE_HEADER, 
    IDENTIFICATION_NUMBER, BUSINESS_NAME, ACCOUNT_BANK, ACCOUNT_NAME, ACCOUNT_CONTACT, 
    RECIPIENT_UNAME, RECIPIENT_ADDR, RECIPIENT_PHONE, EXPRESS_INFO, CREATION_TIME, INVOICE_STATUS, 
    BILLING_TIME, BILLING_USER_ID, FILLORDERS_USER_ID, BUSINESS_ADDR, BUSINESS_PHONE, 
    INVOICE_CONTENT, CONSUMPTION_AMOUNT, APPLY_UID, APPLY_NAME, FAILURE_CAUSE, ADUIT_DATE, 
    INVOICE_NO, APPLY_TIME,ELECTRONIC_INVOICE
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminFunIssueInvoiceExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_ISSUE_INVOICE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_ISSUE_INVOICE
    where INVOICE_ID = #{invoiceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_ISSUE_INVOICE
    where INVOICE_ID = #{invoiceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminFunIssueInvoiceExample">
    <!--@mbggenerated-->
    delete from FUN_ISSUE_INVOICE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="invoiceId" parameterType="com.myfun.repository.admindb.po.AdminFunIssueInvoice" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ISSUE_INVOICE (CITY_ID, COMP_NO, DEPT_NO, 
      PAID_ID, ARCHIVE_ID, INVOICE_TYPE, 
      INVOICE_HEADER, IDENTIFICATION_NUMBER, BUSINESS_NAME, 
      ACCOUNT_BANK, ACCOUNT_NAME, ACCOUNT_CONTACT, 
      RECIPIENT_UNAME, RECIPIENT_ADDR, RECIPIENT_PHONE, 
      EXPRESS_INFO, CREATION_TIME, INVOICE_STATUS, 
      BILLING_TIME, BILLING_USER_ID, FILLORDERS_USER_ID, 
      BUSINESS_ADDR, BUSINESS_PHONE, INVOICE_CONTENT, 
      CONSUMPTION_AMOUNT, APPLY_UID, APPLY_NAME, 
      FAILURE_CAUSE, ADUIT_DATE, INVOICE_NO, 
      APPLY_TIME,ELECTRONIC_INVOICE)
    values (#{cityId,jdbcType=INTEGER}, #{compNo,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, 
      #{paidId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, #{invoiceType,jdbcType=TINYINT}, 
      #{invoiceHeader,jdbcType=VARCHAR}, #{identificationNumber,jdbcType=VARCHAR}, #{businessName,jdbcType=VARCHAR}, 
      #{accountBank,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{accountContact,jdbcType=VARCHAR}, 
      #{recipientUname,jdbcType=VARCHAR}, #{recipientAddr,jdbcType=VARCHAR}, #{recipientPhone,jdbcType=VARCHAR}, 
      #{expressInfo,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{invoiceStatus,jdbcType=TINYINT}, 
      #{billingTime,jdbcType=TIMESTAMP}, #{billingUserId,jdbcType=INTEGER}, #{fillordersUserId,jdbcType=INTEGER}, 
      #{businessAddr,jdbcType=VARCHAR}, #{businessPhone,jdbcType=VARCHAR}, #{invoiceContent,jdbcType=VARCHAR}, 
      #{consumptionAmount,jdbcType=NUMERIC}, #{applyUid,jdbcType=INTEGER}, #{applyName,jdbcType=VARCHAR}, 
      #{failureCause,jdbcType=VARCHAR}, #{aduitDate,jdbcType=TIMESTAMP}, #{invoiceNo,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP},#{electronicInvoice,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" keyProperty="invoiceId" parameterType="com.myfun.repository.admindb.po.AdminFunIssueInvoice" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into FUN_ISSUE_INVOICE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="compNo != null">
        COMP_NO,
      </if>
      <if test="deptNo != null">
        DEPT_NO,
      </if>
      <if test="paidId != null">
        PAID_ID,
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="invoiceType != null">
        INVOICE_TYPE,
      </if>
      <if test="invoiceHeader != null">
        INVOICE_HEADER,
      </if>
      <if test="identificationNumber != null">
        IDENTIFICATION_NUMBER,
      </if>
      <if test="businessName != null">
        BUSINESS_NAME,
      </if>
      <if test="accountBank != null">
        ACCOUNT_BANK,
      </if>
      <if test="accountName != null">
        ACCOUNT_NAME,
      </if>
      <if test="accountContact != null">
        ACCOUNT_CONTACT,
      </if>
      <if test="recipientUname != null">
        RECIPIENT_UNAME,
      </if>
      <if test="recipientAddr != null">
        RECIPIENT_ADDR,
      </if>
      <if test="recipientPhone != null">
        RECIPIENT_PHONE,
      </if>
      <if test="expressInfo != null">
        EXPRESS_INFO,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="invoiceStatus != null">
        INVOICE_STATUS,
      </if>
      <if test="billingTime != null">
        BILLING_TIME,
      </if>
      <if test="billingUserId != null">
        BILLING_USER_ID,
      </if>
      <if test="fillordersUserId != null">
        FILLORDERS_USER_ID,
      </if>
      <if test="businessAddr != null">
        BUSINESS_ADDR,
      </if>
      <if test="businessPhone != null">
        BUSINESS_PHONE,
      </if>
      <if test="invoiceContent != null">
        INVOICE_CONTENT,
      </if>
      <if test="consumptionAmount != null">
        CONSUMPTION_AMOUNT,
      </if>
      <if test="applyUid != null">
        APPLY_UID,
      </if>
      <if test="applyName != null">
        APPLY_NAME,
      </if>
      <if test="failureCause != null">
        FAILURE_CAUSE,
      </if>
      <if test="aduitDate != null">
        ADUIT_DATE,
      </if>
      <if test="invoiceNo != null">
        INVOICE_NO,
      </if>
      <if test="applyTime != null">
        APPLY_TIME,
      </if>
	  <if test="electronicInvoice != null">
	    ELECTRONIC_INVOICE,
	  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null">
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="paidId != null">
        #{paidId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null">
        #{invoiceType,jdbcType=TINYINT},
      </if>
      <if test="invoiceHeader != null">
        #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="identificationNumber != null">
        #{identificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null">
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null">
        #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountContact != null">
        #{accountContact,jdbcType=VARCHAR},
      </if>
      <if test="recipientUname != null">
        #{recipientUname,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddr != null">
        #{recipientAddr,jdbcType=VARCHAR},
      </if>
      <if test="recipientPhone != null">
        #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="expressInfo != null">
        #{expressInfo,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceStatus != null">
        #{invoiceStatus,jdbcType=TINYINT},
      </if>
      <if test="billingTime != null">
        #{billingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billingUserId != null">
        #{billingUserId,jdbcType=INTEGER},
      </if>
      <if test="fillordersUserId != null">
        #{fillordersUserId,jdbcType=INTEGER},
      </if>
      <if test="businessAddr != null">
        #{businessAddr,jdbcType=VARCHAR},
      </if>
      <if test="businessPhone != null">
        #{businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="invoiceContent != null">
        #{invoiceContent,jdbcType=VARCHAR},
      </if>
      <if test="consumptionAmount != null">
        #{consumptionAmount,jdbcType=NUMERIC},
      </if>
      <if test="applyUid != null">
        #{applyUid,jdbcType=INTEGER},
      </if>
      <if test="applyName != null">
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="failureCause != null">
        #{failureCause,jdbcType=VARCHAR},
      </if>
      <if test="aduitDate != null">
        #{aduitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNo != null">
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="electronicInvoice != null">
	     #{electronicInvoice,jdbcType=TINYINT},
	  </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminFunIssueInvoiceExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_ISSUE_INVOICE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ISSUE_INVOICE
    <set>
      <if test="record.invoiceId != null">
        INVOICE_ID = #{record.invoiceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.compNo != null">
        COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNo != null">
        DEPT_NO = #{record.deptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.paidId != null">
        PAID_ID = #{record.paidId,jdbcType=INTEGER},
      </if>
      <if test="record.archiveId != null">
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceType != null">
        INVOICE_TYPE = #{record.invoiceType,jdbcType=TINYINT},
      </if>
      <if test="record.invoiceHeader != null">
        INVOICE_HEADER = #{record.invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="record.identificationNumber != null">
        IDENTIFICATION_NUMBER = #{record.identificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.businessName != null">
        BUSINESS_NAME = #{record.businessName,jdbcType=VARCHAR},
      </if>
      <if test="record.accountBank != null">
        ACCOUNT_BANK = #{record.accountBank,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null">
        ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.accountContact != null">
        ACCOUNT_CONTACT = #{record.accountContact,jdbcType=VARCHAR},
      </if>
      <if test="record.recipientUname != null">
        RECIPIENT_UNAME = #{record.recipientUname,jdbcType=VARCHAR},
      </if>
      <if test="record.recipientAddr != null">
        RECIPIENT_ADDR = #{record.recipientAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.recipientPhone != null">
        RECIPIENT_PHONE = #{record.recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.expressInfo != null">
        EXPRESS_INFO = #{record.expressInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invoiceStatus != null">
        INVOICE_STATUS = #{record.invoiceStatus,jdbcType=TINYINT},
      </if>
      <if test="record.billingTime != null">
        BILLING_TIME = #{record.billingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.billingUserId != null">
        BILLING_USER_ID = #{record.billingUserId,jdbcType=INTEGER},
      </if>
      <if test="record.fillordersUserId != null">
        FILLORDERS_USER_ID = #{record.fillordersUserId,jdbcType=INTEGER},
      </if>
      <if test="record.businessAddr != null">
        BUSINESS_ADDR = #{record.businessAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.businessPhone != null">
        BUSINESS_PHONE = #{record.businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceContent != null">
        INVOICE_CONTENT = #{record.invoiceContent,jdbcType=VARCHAR},
      </if>
      <if test="record.consumptionAmount != null">
        CONSUMPTION_AMOUNT = #{record.consumptionAmount,jdbcType=NUMERIC},
      </if>
      <if test="record.applyUid != null">
        APPLY_UID = #{record.applyUid,jdbcType=INTEGER},
      </if>
      <if test="record.applyName != null">
        APPLY_NAME = #{record.applyName,jdbcType=VARCHAR},
      </if>
      <if test="record.failureCause != null">
        FAILURE_CAUSE = #{record.failureCause,jdbcType=VARCHAR},
      </if>
      <if test="record.aduitDate != null">
        ADUIT_DATE = #{record.aduitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.invoiceNo != null">
        INVOICE_NO = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.applyTime != null">
        APPLY_TIME = #{record.applyTime,jdbcType=TIMESTAMP},
      </if>
       <if test="record.electronicInvoice != null">
        ELECTRONIC_INVOICE = #{record.electronicInvoice,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_ISSUE_INVOICE
    set INVOICE_ID = #{record.invoiceId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      DEPT_NO = #{record.deptNo,jdbcType=VARCHAR},
      PAID_ID = #{record.paidId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      INVOICE_TYPE = #{record.invoiceType,jdbcType=TINYINT},
      INVOICE_HEADER = #{record.invoiceHeader,jdbcType=VARCHAR},
      IDENTIFICATION_NUMBER = #{record.identificationNumber,jdbcType=VARCHAR},
      BUSINESS_NAME = #{record.businessName,jdbcType=VARCHAR},
      ACCOUNT_BANK = #{record.accountBank,jdbcType=VARCHAR},
      ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      ACCOUNT_CONTACT = #{record.accountContact,jdbcType=VARCHAR},
      RECIPIENT_UNAME = #{record.recipientUname,jdbcType=VARCHAR},
      RECIPIENT_ADDR = #{record.recipientAddr,jdbcType=VARCHAR},
      RECIPIENT_PHONE = #{record.recipientPhone,jdbcType=VARCHAR},
      EXPRESS_INFO = #{record.expressInfo,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      INVOICE_STATUS = #{record.invoiceStatus,jdbcType=TINYINT},
      BILLING_TIME = #{record.billingTime,jdbcType=TIMESTAMP},
      BILLING_USER_ID = #{record.billingUserId,jdbcType=INTEGER},
      FILLORDERS_USER_ID = #{record.fillordersUserId,jdbcType=INTEGER},
      BUSINESS_ADDR = #{record.businessAddr,jdbcType=VARCHAR},
      BUSINESS_PHONE = #{record.businessPhone,jdbcType=VARCHAR},
      INVOICE_CONTENT = #{record.invoiceContent,jdbcType=VARCHAR},
      CONSUMPTION_AMOUNT = #{record.consumptionAmount,jdbcType=NUMERIC},
      APPLY_UID = #{record.applyUid,jdbcType=INTEGER},
      APPLY_NAME = #{record.applyName,jdbcType=VARCHAR},
      FAILURE_CAUSE = #{record.failureCause,jdbcType=VARCHAR},
      ADUIT_DATE = #{record.aduitDate,jdbcType=TIMESTAMP},
      INVOICE_NO = #{record.invoiceNo,jdbcType=VARCHAR},
      APPLY_TIME = #{record.applyTime,jdbcType=TIMESTAMP},
      ELECTRONIC_INVOICE = #{record.electronicInvoice,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunIssueInvoice">
    <!--@mbggenerated-->
    update FUN_ISSUE_INVOICE
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null">
        COMP_NO = #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="paidId != null">
        PAID_ID = #{paidId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null">
        INVOICE_TYPE = #{invoiceType,jdbcType=TINYINT},
      </if>
      <if test="invoiceHeader != null">
        INVOICE_HEADER = #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="identificationNumber != null">
        IDENTIFICATION_NUMBER = #{identificationNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null">
        BUSINESS_NAME = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="accountBank != null">
        ACCOUNT_BANK = #{accountBank,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountContact != null">
        ACCOUNT_CONTACT = #{accountContact,jdbcType=VARCHAR},
      </if>
      <if test="recipientUname != null">
        RECIPIENT_UNAME = #{recipientUname,jdbcType=VARCHAR},
      </if>
      <if test="recipientAddr != null">
        RECIPIENT_ADDR = #{recipientAddr,jdbcType=VARCHAR},
      </if>
      <if test="recipientPhone != null">
        RECIPIENT_PHONE = #{recipientPhone,jdbcType=VARCHAR},
      </if>
      <if test="expressInfo != null">
        EXPRESS_INFO = #{expressInfo,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceStatus != null">
        INVOICE_STATUS = #{invoiceStatus,jdbcType=TINYINT},
      </if>
      <if test="billingTime != null">
        BILLING_TIME = #{billingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billingUserId != null">
        BILLING_USER_ID = #{billingUserId,jdbcType=INTEGER},
      </if>
      <if test="fillordersUserId != null">
        FILLORDERS_USER_ID = #{fillordersUserId,jdbcType=INTEGER},
      </if>
      <if test="businessAddr != null">
        BUSINESS_ADDR = #{businessAddr,jdbcType=VARCHAR},
      </if>
      <if test="businessPhone != null">
        BUSINESS_PHONE = #{businessPhone,jdbcType=VARCHAR},
      </if>
      <if test="invoiceContent != null">
        INVOICE_CONTENT = #{invoiceContent,jdbcType=VARCHAR},
      </if>
      <if test="consumptionAmount != null">
        CONSUMPTION_AMOUNT = #{consumptionAmount,jdbcType=NUMERIC},
      </if>
      <if test="applyUid != null">
        APPLY_UID = #{applyUid,jdbcType=INTEGER},
      </if>
      <if test="applyName != null">
        APPLY_NAME = #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="failureCause != null">
        FAILURE_CAUSE = #{failureCause,jdbcType=VARCHAR},
      </if>
      <if test="aduitDate != null">
        ADUIT_DATE = #{aduitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="invoiceNo != null">
        INVOICE_NO = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="electronicInvoice != null">
        ELECTRONIC_INVOICE = #{electronicInvoice,jdbcType=TINYINT},
      </if>
    </set>
    where INVOICE_ID = #{invoiceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunIssueInvoice">
    <!--@mbggenerated-->
    update FUN_ISSUE_INVOICE
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_NO = #{compNo,jdbcType=VARCHAR},
      DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      PAID_ID = #{paidId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      INVOICE_TYPE = #{invoiceType,jdbcType=TINYINT},
      INVOICE_HEADER = #{invoiceHeader,jdbcType=VARCHAR},
      IDENTIFICATION_NUMBER = #{identificationNumber,jdbcType=VARCHAR},
      BUSINESS_NAME = #{businessName,jdbcType=VARCHAR},
      ACCOUNT_BANK = #{accountBank,jdbcType=VARCHAR},
      ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      ACCOUNT_CONTACT = #{accountContact,jdbcType=VARCHAR},
      RECIPIENT_UNAME = #{recipientUname,jdbcType=VARCHAR},
      RECIPIENT_ADDR = #{recipientAddr,jdbcType=VARCHAR},
      RECIPIENT_PHONE = #{recipientPhone,jdbcType=VARCHAR},
      EXPRESS_INFO = #{expressInfo,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      INVOICE_STATUS = #{invoiceStatus,jdbcType=TINYINT},
      BILLING_TIME = #{billingTime,jdbcType=TIMESTAMP},
      BILLING_USER_ID = #{billingUserId,jdbcType=INTEGER},
      FILLORDERS_USER_ID = #{fillordersUserId,jdbcType=INTEGER},
      BUSINESS_ADDR = #{businessAddr,jdbcType=VARCHAR},
      BUSINESS_PHONE = #{businessPhone,jdbcType=VARCHAR},
      INVOICE_CONTENT = #{invoiceContent,jdbcType=VARCHAR},
      CONSUMPTION_AMOUNT = #{consumptionAmount,jdbcType=NUMERIC},
      APPLY_UID = #{applyUid,jdbcType=INTEGER},
      APPLY_NAME = #{applyName,jdbcType=VARCHAR},
      FAILURE_CAUSE = #{failureCause,jdbcType=VARCHAR},
      ADUIT_DATE = #{aduitDate,jdbcType=TIMESTAMP},
      INVOICE_NO = #{invoiceNo,jdbcType=VARCHAR},
      APPLY_TIME = #{applyTime,jdbcType=TIMESTAMP},
      ELECTRONIC_INVOICE = #{electronicInvoice,jdbcType=TINYINT}
    where INVOICE_ID = #{invoiceId,jdbcType=INTEGER}
  </update>
  <resultMap id="DtoBaseResultMap" type="com.myfun.repository.admindb.dto.AdminFunIssueInvoiceDto">
    <id column="INVOICE_ID" jdbcType="INTEGER" property="invoiceId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="COMP_NO" jdbcType="VARCHAR" property="compNo" />
    <result column="DEPT_NO" jdbcType="VARCHAR" property="deptNo" />
    <result column="PAID_ID" jdbcType="INTEGER" property="paidId" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="INVOICE_TYPE" jdbcType="TINYINT" property="invoiceType" />
    <result column="INVOICE_HEADER" jdbcType="VARCHAR" property="invoiceHeader" />
    <result column="IDENTIFICATION_NUMBER" jdbcType="VARCHAR" property="identificationNumber" />
    <result column="BUSINESS_NAME" jdbcType="VARCHAR" property="businessName" />
    <result column="ACCOUNT_BANK" jdbcType="VARCHAR" property="accountBank" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="ACCOUNT_CONTACT" jdbcType="VARCHAR" property="accountContact" />
    <result column="RECIPIENT_UNAME" jdbcType="VARCHAR" property="recipientUname" />
    <result column="RECIPIENT_ADDR" jdbcType="VARCHAR" property="recipientAddr" />
    <result column="RECIPIENT_PHONE" jdbcType="VARCHAR" property="recipientPhone" />
    <result column="EXPRESS_INFO" jdbcType="VARCHAR" property="expressInfo" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="INVOICE_STATUS" jdbcType="TINYINT" property="invoiceStatus" />
    <result column="BILLING_TIME" jdbcType="TIMESTAMP" property="billingTime" />
    <result column="BILLING_USER_ID" jdbcType="INTEGER" property="billingUserId" />
    <result column="FILLORDERS_USER_ID" jdbcType="INTEGER" property="fillordersUserId" />
    <result column="BUSINESS_ADDR" jdbcType="VARCHAR" property="businessAddr" />
    <result column="BUSINESS_PHONE" jdbcType="VARCHAR" property="businessPhone" />
    <result column="INVOICE_CONTENT" jdbcType="VARCHAR" property="invoiceContent" />
    <result column="CONSUMPTION_AMOUNT" jdbcType="NUMERIC" property="consumptionAmount" />
    <result column="APPLY_UID" jdbcType="INTEGER" property="applyUid" />
    <result column="APPLY_NAME" jdbcType="VARCHAR" property="applyName" />
    <result column="FAILURE_CAUSE" jdbcType="VARCHAR" property="failureCause" />
    <result column="ADUIT_DATE" jdbcType="TIMESTAMP" property="aduitDate" />
    <result column="INVOICE_NO" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="APPLY_TIME" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="PAID_TYPE" property="paidType" />
    <result column="ELECTRONIC_INVOICE" property="electronicInvoice"  jdbcType="TINYINT" />
  </resultMap>

	<select id="countEffectiveInvoice" resultType="java.lang.Integer">
		SELECT COUNT(*) AS ATTR_NAME
		FROM FUN_ISSUE_INVOICE WITH (NOLOCK)
		WHERE APPLY_TIME &gt;= #{startTime} AND APPLY_TIME &lt;= #{endTime} AND INVOICE_TYPE != '2'
		AND ( INVOICE_STATUS NOT IN ('1' ,'6' ) OR (INVOICE_STATUS = 1 AND ADUIT_DATE &gt; #{aduitDate} ))
  </select>
  
  <select id="getInvoiceCount" resultType="java.lang.Integer">
  	SELECT 
  		COUNT(DISTINCT(A.INVOICE_ID)) AS INVOICE_COUNT 
  	FROM 
  		FUN_PAID_INVOICERELATIVE A 
  	LEFT JOIN 
  		FUN_ISSUE_INVOICE B 
  	ON 
  		A.INVOICE_ID = B.INVOICE_ID 
  	WHERE 
  		A.PAID_ID = #{paidId} 
  	AND 
  		B.INVOICE_TYPE IN 
  			<foreach close=")" collection="invoiceTypes" item="invoiceType" open="(" separator=",">
              #{invoiceType}
            </foreach>
  </select>
  
  <select id="getInvoiceCountByOneType" resultType="java.lang.Integer">
  	SELECT 
  		COUNT(DISTINCT(A.INVOICE_ID)) AS INVOICE_COUNT 
  	FROM 
  		FUN_PAID_INVOICERELATIVE A 
  	LEFT JOIN 
  		FUN_ISSUE_INVOICE B 
  	ON 
  		A.INVOICE_ID = B.INVOICE_ID 
  	WHERE 
  		B.INVOICE_TYPE = 2 
  	AND 
  		A.PAID_ID IN 
  			<foreach close=")" collection="paidIdList" item="paidId" open="(" separator=",">
              #{paidId}
            </foreach>
  </select>
</mapper>