<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminBiddingDayDetailMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminBiddingDayDetail" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="GUID" property="guid" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="INTEGER" />
    <result column="BIG_CODE" property="bigCode" jdbcType="VARCHAR" />
    <result column="EXT_CODE" property="extCode" jdbcType="INTEGER" />
    <result column="ANI" property="ani" jdbcType="VARCHAR" />
    <result column="ANI_PROVINCE" property="aniProvince" jdbcType="VARCHAR" />
    <result column="ANI_CITY" property="aniCity" jdbcType="VARCHAR" />
    <result column="DNI" property="dni" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="CALL_FEE" property="callFee" jdbcType="VARCHAR" />
    <result column="CALLER_TIME" property="callerTime" jdbcType="INTEGER" />
    <result column="CALLED_TIME" property="calledTime" jdbcType="INTEGER" />
    <result column="CALL_RESULT" property="callResult" jdbcType="INTEGER" />
    <result column="RESULT_STR" property="resultStr" jdbcType="VARCHAR" />
    <result column="RECORD_ID" property="recordId" jdbcType="VARCHAR" />
    <result column="SERVICE_LEVEL" property="serviceLevel" jdbcType="INTEGER" />
    <result column="WAVE_PATH" property="wavePath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, USER_ID, GUID, CUST_ID, BIG_CODE, EXT_CODE, ANI, ANI_PROVINCE, ANI_CITY, DNI, 
    START_TIME, END_TIME, CALL_FEE, CALLER_TIME, CALLED_TIME, CALL_RESULT, RESULT_STR, 
    RECORD_ID, SERVICE_LEVEL, WAVE_PATH
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from BIDDING_DAY_DETAIL
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from BIDDING_DAY_DETAIL
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminBiddingDayDetail" >
    <!--@mbggenerated-->
    insert into BIDDING_DAY_DETAIL (ID, USER_ID, GUID, 
      CUST_ID, BIG_CODE, EXT_CODE, 
      ANI, ANI_PROVINCE, ANI_CITY, 
      DNI, START_TIME, END_TIME, 
      CALL_FEE, CALLER_TIME, CALLED_TIME, 
      CALL_RESULT, RESULT_STR, RECORD_ID, 
      SERVICE_LEVEL, WAVE_PATH)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{guid,jdbcType=VARCHAR}, 
      #{custId,jdbcType=INTEGER}, #{bigCode,jdbcType=VARCHAR}, #{extCode,jdbcType=INTEGER}, 
      #{ani,jdbcType=VARCHAR}, #{aniProvince,jdbcType=VARCHAR}, #{aniCity,jdbcType=VARCHAR}, 
      #{dni,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{callFee,jdbcType=VARCHAR}, #{callerTime,jdbcType=INTEGER}, #{calledTime,jdbcType=INTEGER}, 
      #{callResult,jdbcType=INTEGER}, #{resultStr,jdbcType=VARCHAR}, #{recordId,jdbcType=VARCHAR}, 
      #{serviceLevel,jdbcType=INTEGER}, #{wavePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminBiddingDayDetail" >
    <!--@mbggenerated-->
    insert into BIDDING_DAY_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="guid != null" >
        GUID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="bigCode != null" >
        BIG_CODE,
      </if>
      <if test="extCode != null" >
        EXT_CODE,
      </if>
      <if test="ani != null" >
        ANI,
      </if>
      <if test="aniProvince != null" >
        ANI_PROVINCE,
      </if>
      <if test="aniCity != null" >
        ANI_CITY,
      </if>
      <if test="dni != null" >
        DNI,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="callFee != null" >
        CALL_FEE,
      </if>
      <if test="callerTime != null" >
        CALLER_TIME,
      </if>
      <if test="calledTime != null" >
        CALLED_TIME,
      </if>
      <if test="callResult != null" >
        CALL_RESULT,
      </if>
      <if test="resultStr != null" >
        RESULT_STR,
      </if>
      <if test="recordId != null" >
        RECORD_ID,
      </if>
      <if test="serviceLevel != null" >
        SERVICE_LEVEL,
      </if>
      <if test="wavePath != null" >
        WAVE_PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="bigCode != null" >
        #{bigCode,jdbcType=VARCHAR},
      </if>
      <if test="extCode != null" >
        #{extCode,jdbcType=INTEGER},
      </if>
      <if test="ani != null" >
        #{ani,jdbcType=VARCHAR},
      </if>
      <if test="aniProvince != null" >
        #{aniProvince,jdbcType=VARCHAR},
      </if>
      <if test="aniCity != null" >
        #{aniCity,jdbcType=VARCHAR},
      </if>
      <if test="dni != null" >
        #{dni,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callFee != null" >
        #{callFee,jdbcType=VARCHAR},
      </if>
      <if test="callerTime != null" >
        #{callerTime,jdbcType=INTEGER},
      </if>
      <if test="calledTime != null" >
        #{calledTime,jdbcType=INTEGER},
      </if>
      <if test="callResult != null" >
        #{callResult,jdbcType=INTEGER},
      </if>
      <if test="resultStr != null" >
        #{resultStr,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null" >
        #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="serviceLevel != null" >
        #{serviceLevel,jdbcType=INTEGER},
      </if>
      <if test="wavePath != null" >
        #{wavePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminBiddingDayDetail" >
    <!--@mbggenerated-->
    update BIDDING_DAY_DETAIL
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="guid != null" >
        GUID = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=INTEGER},
      </if>
      <if test="bigCode != null" >
        BIG_CODE = #{bigCode,jdbcType=VARCHAR},
      </if>
      <if test="extCode != null" >
        EXT_CODE = #{extCode,jdbcType=INTEGER},
      </if>
      <if test="ani != null" >
        ANI = #{ani,jdbcType=VARCHAR},
      </if>
      <if test="aniProvince != null" >
        ANI_PROVINCE = #{aniProvince,jdbcType=VARCHAR},
      </if>
      <if test="aniCity != null" >
        ANI_CITY = #{aniCity,jdbcType=VARCHAR},
      </if>
      <if test="dni != null" >
        DNI = #{dni,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callFee != null" >
        CALL_FEE = #{callFee,jdbcType=VARCHAR},
      </if>
      <if test="callerTime != null" >
        CALLER_TIME = #{callerTime,jdbcType=INTEGER},
      </if>
      <if test="calledTime != null" >
        CALLED_TIME = #{calledTime,jdbcType=INTEGER},
      </if>
      <if test="callResult != null" >
        CALL_RESULT = #{callResult,jdbcType=INTEGER},
      </if>
      <if test="resultStr != null" >
        RESULT_STR = #{resultStr,jdbcType=VARCHAR},
      </if>
      <if test="recordId != null" >
        RECORD_ID = #{recordId,jdbcType=VARCHAR},
      </if>
      <if test="serviceLevel != null" >
        SERVICE_LEVEL = #{serviceLevel,jdbcType=INTEGER},
      </if>
      <if test="wavePath != null" >
        WAVE_PATH = #{wavePath,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminBiddingDayDetail" >
    <!--@mbggenerated-->
    update BIDDING_DAY_DETAIL
    set USER_ID = #{userId,jdbcType=INTEGER},
      GUID = #{guid,jdbcType=VARCHAR},
      CUST_ID = #{custId,jdbcType=INTEGER},
      BIG_CODE = #{bigCode,jdbcType=VARCHAR},
      EXT_CODE = #{extCode,jdbcType=INTEGER},
      ANI = #{ani,jdbcType=VARCHAR},
      ANI_PROVINCE = #{aniProvince,jdbcType=VARCHAR},
      ANI_CITY = #{aniCity,jdbcType=VARCHAR},
      DNI = #{dni,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      CALL_FEE = #{callFee,jdbcType=VARCHAR},
      CALLER_TIME = #{callerTime,jdbcType=INTEGER},
      CALLED_TIME = #{calledTime,jdbcType=INTEGER},
      CALL_RESULT = #{callResult,jdbcType=INTEGER},
      RESULT_STR = #{resultStr,jdbcType=VARCHAR},
      RECORD_ID = #{recordId,jdbcType=VARCHAR},
      SERVICE_LEVEL = #{serviceLevel,jdbcType=INTEGER},
      WAVE_PATH = #{wavePath,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>