<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminFinancIntentMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFinancIntent" >
    <!--@mbggenerated-->
    <id column="FI_ID" property="fiId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="FI_OWNER" property="fiOwner" jdbcType="VARCHAR" />
    <result column="FI_SEX" property="fiSex" jdbcType="TINYINT" />
    <result column="FI_PHONE" property="fiPhone" jdbcType="VARCHAR" />
    <result column="HAS_FUN" property="hasFun" jdbcType="TINYINT" />
    <result column="FUN_VALUES" property="funValues" jdbcType="INTEGER" />
    <result column="HAS_MOTO" property="hasMoto" jdbcType="TINYINT" />
    <result column="MOTO_VALUES" property="motoValues" jdbcType="INTEGER" />
    <result column="HAS_LICENSE" property="hasLicense" jdbcType="TINYINT" />
    <result column="LICENSE_YEARS" property="licenseYears" jdbcType="INTEGER" />
    <result column="EXPECT_POINT" property="expectPoint" jdbcType="INTEGER" />
    <result column="CUST_LEVEL" property="custLevel" jdbcType="TINYINT" />
    <result column="CUST_DESC" property="custDesc" jdbcType="VARCHAR" />
    <result column="FI_STATUS" property="fiStatus" jdbcType="TINYINT" />
    <result column="SP_ID" property="spId" jdbcType="INTEGER" />
    <result column="FI_COMP" property="fiComp" jdbcType="INTEGER" />
    <result column="FI_USER" property="fiUser" jdbcType="INTEGER" />
    <result column="CREATOR_UID" property="creatorUid" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    FI_ID, CITY_ID, FI_OWNER, FI_SEX, FI_PHONE, HAS_FUN, FUN_VALUES, HAS_MOTO, MOTO_VALUES, 
    HAS_LICENSE, LICENSE_YEARS, EXPECT_POINT, CUST_LEVEL, CUST_DESC, FI_STATUS, SP_ID, 
    FI_COMP, FI_USER, CREATOR_UID, CREATION_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FINANC_INTENT
    where FI_ID = #{fiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FINANC_INTENT
    where FI_ID = #{fiId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFinancIntent" >
    <!--@mbggenerated-->
    insert into FINANC_INTENT (FI_ID, CITY_ID, FI_OWNER, 
      FI_SEX, FI_PHONE, HAS_FUN, 
      FUN_VALUES, HAS_MOTO, MOTO_VALUES, 
      HAS_LICENSE, LICENSE_YEARS, EXPECT_POINT, 
      CUST_LEVEL, CUST_DESC, FI_STATUS, 
      SP_ID, FI_COMP, FI_USER, 
      CREATOR_UID, CREATION_TIME)
    values (#{fiId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{fiOwner,jdbcType=VARCHAR}, 
      #{fiSex,jdbcType=TINYINT}, #{fiPhone,jdbcType=VARCHAR}, #{hasFun,jdbcType=TINYINT}, 
      #{funValues,jdbcType=INTEGER}, #{hasMoto,jdbcType=TINYINT}, #{motoValues,jdbcType=INTEGER}, 
      #{hasLicense,jdbcType=TINYINT}, #{licenseYears,jdbcType=INTEGER}, #{expectPoint,jdbcType=INTEGER}, 
      #{custLevel,jdbcType=TINYINT}, #{custDesc,jdbcType=VARCHAR}, #{fiStatus,jdbcType=TINYINT}, 
      #{spId,jdbcType=INTEGER}, #{fiComp,jdbcType=INTEGER}, #{fiUser,jdbcType=INTEGER}, 
      #{creatorUid,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFinancIntent" >
    <!--@mbggenerated-->
    insert into FINANC_INTENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        FI_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="fiOwner != null" >
        FI_OWNER,
      </if>
      <if test="fiSex != null" >
        FI_SEX,
      </if>
      <if test="fiPhone != null" >
        FI_PHONE,
      </if>
      <if test="hasFun != null" >
        HAS_FUN,
      </if>
      <if test="funValues != null" >
        FUN_VALUES,
      </if>
      <if test="hasMoto != null" >
        HAS_MOTO,
      </if>
      <if test="motoValues != null" >
        MOTO_VALUES,
      </if>
      <if test="hasLicense != null" >
        HAS_LICENSE,
      </if>
      <if test="licenseYears != null" >
        LICENSE_YEARS,
      </if>
      <if test="expectPoint != null" >
        EXPECT_POINT,
      </if>
      <if test="custLevel != null" >
        CUST_LEVEL,
      </if>
      <if test="custDesc != null" >
        CUST_DESC,
      </if>
      <if test="fiStatus != null" >
        FI_STATUS,
      </if>
      <if test="spId != null" >
        SP_ID,
      </if>
      <if test="fiComp != null" >
        FI_COMP,
      </if>
      <if test="fiUser != null" >
        FI_USER,
      </if>
      <if test="creatorUid != null" >
        CREATOR_UID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fiId != null" >
        #{fiId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="fiOwner != null" >
        #{fiOwner,jdbcType=VARCHAR},
      </if>
      <if test="fiSex != null" >
        #{fiSex,jdbcType=TINYINT},
      </if>
      <if test="fiPhone != null" >
        #{fiPhone,jdbcType=VARCHAR},
      </if>
      <if test="hasFun != null" >
        #{hasFun,jdbcType=TINYINT},
      </if>
      <if test="funValues != null" >
        #{funValues,jdbcType=INTEGER},
      </if>
      <if test="hasMoto != null" >
        #{hasMoto,jdbcType=TINYINT},
      </if>
      <if test="motoValues != null" >
        #{motoValues,jdbcType=INTEGER},
      </if>
      <if test="hasLicense != null" >
        #{hasLicense,jdbcType=TINYINT},
      </if>
      <if test="licenseYears != null" >
        #{licenseYears,jdbcType=INTEGER},
      </if>
      <if test="expectPoint != null" >
        #{expectPoint,jdbcType=INTEGER},
      </if>
      <if test="custLevel != null" >
        #{custLevel,jdbcType=TINYINT},
      </if>
      <if test="custDesc != null" >
        #{custDesc,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        #{fiStatus,jdbcType=TINYINT},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="fiComp != null" >
        #{fiComp,jdbcType=INTEGER},
      </if>
      <if test="fiUser != null" >
        #{fiUser,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null" >
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFinancIntent" >
    <!--@mbggenerated-->
    update FINANC_INTENT
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="fiOwner != null" >
        FI_OWNER = #{fiOwner,jdbcType=VARCHAR},
      </if>
      <if test="fiSex != null" >
        FI_SEX = #{fiSex,jdbcType=TINYINT},
      </if>
      <if test="fiPhone != null" >
        FI_PHONE = #{fiPhone,jdbcType=VARCHAR},
      </if>
      <if test="hasFun != null" >
        HAS_FUN = #{hasFun,jdbcType=TINYINT},
      </if>
      <if test="funValues != null" >
        FUN_VALUES = #{funValues,jdbcType=INTEGER},
      </if>
      <if test="hasMoto != null" >
        HAS_MOTO = #{hasMoto,jdbcType=TINYINT},
      </if>
      <if test="motoValues != null" >
        MOTO_VALUES = #{motoValues,jdbcType=INTEGER},
      </if>
      <if test="hasLicense != null" >
        HAS_LICENSE = #{hasLicense,jdbcType=TINYINT},
      </if>
      <if test="licenseYears != null" >
        LICENSE_YEARS = #{licenseYears,jdbcType=INTEGER},
      </if>
      <if test="expectPoint != null" >
        EXPECT_POINT = #{expectPoint,jdbcType=INTEGER},
      </if>
      <if test="custLevel != null" >
        CUST_LEVEL = #{custLevel,jdbcType=TINYINT},
      </if>
      <if test="custDesc != null" >
        CUST_DESC = #{custDesc,jdbcType=VARCHAR},
      </if>
      <if test="fiStatus != null" >
        FI_STATUS = #{fiStatus,jdbcType=TINYINT},
      </if>
      <if test="spId != null" >
        SP_ID = #{spId,jdbcType=INTEGER},
      </if>
      <if test="fiComp != null" >
        FI_COMP = #{fiComp,jdbcType=INTEGER},
      </if>
      <if test="fiUser != null" >
        FI_USER = #{fiUser,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null" >
        CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FI_ID = #{fiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFinancIntent" >
    <!--@mbggenerated-->
    update FINANC_INTENT
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      FI_OWNER = #{fiOwner,jdbcType=VARCHAR},
      FI_SEX = #{fiSex,jdbcType=TINYINT},
      FI_PHONE = #{fiPhone,jdbcType=VARCHAR},
      HAS_FUN = #{hasFun,jdbcType=TINYINT},
      FUN_VALUES = #{funValues,jdbcType=INTEGER},
      HAS_MOTO = #{hasMoto,jdbcType=TINYINT},
      MOTO_VALUES = #{motoValues,jdbcType=INTEGER},
      HAS_LICENSE = #{hasLicense,jdbcType=TINYINT},
      LICENSE_YEARS = #{licenseYears,jdbcType=INTEGER},
      EXPECT_POINT = #{expectPoint,jdbcType=INTEGER},
      CUST_LEVEL = #{custLevel,jdbcType=TINYINT},
      CUST_DESC = #{custDesc,jdbcType=VARCHAR},
      FI_STATUS = #{fiStatus,jdbcType=TINYINT},
      SP_ID = #{spId,jdbcType=INTEGER},
      FI_COMP = #{fiComp,jdbcType=INTEGER},
      FI_USER = #{fiUser,jdbcType=INTEGER},
      CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where FI_ID = #{fiId,jdbcType=INTEGER}
  </update>
</mapper>