<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminTemplateFunRentCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminTemplateFunRentCustomer" >
    <!--@mbggenerated-->
    <result column="RENT_CUST_ID" property="rentCustId" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="RENT_CUST_NAME" property="rentCustName" jdbcType="VARCHAR" />
    <result column="RENT_CUST_SEX" property="rentCustSex" jdbcType="BIT" />
    <result column="RENT_CUST_AGE" property="rentCustAge" jdbcType="TINYINT" />
    <result column="RENT_CUST_CAREER" property="rentCustCareer" jdbcType="TINYINT" />
    <result column="CELL_PHONE" property="cellPhone" jdbcType="VARCHAR" />
    <result column="ID_CARD" property="idCard" jdbcType="VARCHAR" />
    <result column="CUST_ADDR" property="custAddr" jdbcType="VARCHAR" />
    <result column="RENT_LIFEBOUND" property="rentLifebound" jdbcType="VARCHAR" />
    <result column="RENT_GOAL" property="rentGoal" jdbcType="TINYINT" />
    <result column="RENT_LENGTH" property="rentLength" jdbcType="TINYINT" />
    <result column="RENT_ABILITY" property="rentAbility" jdbcType="TINYINT" />
    <result column="RENT_PAYTYPE" property="rentPaytype" jdbcType="TINYINT" />
    <result column="CUST_LEVEL" property="custLevel" jdbcType="VARCHAR" />
    <result column="HOUSE_ROOM" property="houseRoom" jdbcType="TINYINT" />
    <result column="HOUSE_ROOM_1" property="houseRoom1" jdbcType="TINYINT" />
    <result column="HOUSE_REGION" property="houseRegion" jdbcType="VARCHAR" />
    <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR" />
    <result column="HOUSE_TYPE" property="houseType" jdbcType="VARCHAR" />
    <result column="HOUSE_USEAGE" property="houseUseage" jdbcType="VARCHAR" />
    <result column="HOUSE_FITMENT" property="houseFitment" jdbcType="TINYINT" />
    <result column="HOUSE_DIRECT" property="houseDirect" jdbcType="TINYINT" />
    <result column="PLATE_TYPE" property="plateType" jdbcType="TINYINT" />
    <result column="RENT_CUST_SOURCE" property="rentCustSource" jdbcType="TINYINT" />
    <result column="RENT_CUST_LEVEL" property="rentCustLevel" jdbcType="TINYINT" />
    <result column="HOUSE_FLOOR_LOW" property="houseFloorLow" jdbcType="SMALLINT" />
    <result column="HOUSE_FLOOR_HIGH" property="houseFloorHigh" jdbcType="SMALLINT" />
    <result column="HOUSE_PRICE_LOW" property="housePriceLow" jdbcType="NUMERIC" />
    <result column="HOUSE_PRICE_HIGH" property="housePriceHigh" jdbcType="NUMERIC" />
    <result column="HOUSE_AREA_LOW" property="houseAreaLow" jdbcType="NUMERIC" />
    <result column="HOUSE_AREA_HIGH" property="houseAreaHigh" jdbcType="NUMERIC" />
    <result column="HOUSE_YEAR_LOW" property="houseYearLow" jdbcType="SMALLINT" />
    <result column="HOUSE_YEAR_HIGH" property="houseYearHigh" jdbcType="SMALLINT" />
    <result column="HOUSE_LOOK" property="houseLook" jdbcType="BIT" />
    <result column="CUST_REQUEST" property="custRequest" jdbcType="VARCHAR" />
    <result column="CUST_MEMO" property="custMemo" jdbcType="VARCHAR" />
    <result column="RENT_CUST_STATUS" property="rentCustStatus" jdbcType="TINYINT" />
    <result column="REPEAT_FLAG" property="repeatFlag" jdbcType="BIT" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminTemplateFunRentCustomer" >
    <!--@mbggenerated-->
    insert into TEMPLATE_FUN_RENT_CUSTOMER (RENT_CUST_ID, CREATION_TIME, UPDATE_TIME, 
      RENT_CUST_NAME, RENT_CUST_SEX, RENT_CUST_AGE, 
      RENT_CUST_CAREER, CELL_PHONE, ID_CARD, 
      CUST_ADDR, RENT_LIFEBOUND, RENT_GOAL, 
      RENT_LENGTH, RENT_ABILITY, RENT_PAYTYPE, 
      CUST_LEVEL, HOUSE_ROOM, HOUSE_ROOM_1, 
      HOUSE_REGION, REGION_NAME, HOUSE_TYPE, 
      HOUSE_USEAGE, HOUSE_FITMENT, HOUSE_DIRECT, 
      PLATE_TYPE, RENT_CUST_SOURCE, RENT_CUST_LEVEL, 
      HOUSE_FLOOR_LOW, HOUSE_FLOOR_HIGH, HOUSE_PRICE_LOW, 
      HOUSE_PRICE_HIGH, HOUSE_AREA_LOW, HOUSE_AREA_HIGH, 
      HOUSE_YEAR_LOW, HOUSE_YEAR_HIGH, HOUSE_LOOK, 
      CUST_REQUEST, CUST_MEMO, RENT_CUST_STATUS, 
      REPEAT_FLAG)
    values (#{rentCustId,jdbcType=INTEGER}, #{creationTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{rentCustName,jdbcType=VARCHAR}, #{rentCustSex,jdbcType=BIT}, #{rentCustAge,jdbcType=TINYINT}, 
      #{rentCustCareer,jdbcType=TINYINT}, #{cellPhone,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{custAddr,jdbcType=VARCHAR}, #{rentLifebound,jdbcType=VARCHAR}, #{rentGoal,jdbcType=TINYINT}, 
      #{rentLength,jdbcType=TINYINT}, #{rentAbility,jdbcType=TINYINT}, #{rentPaytype,jdbcType=TINYINT}, 
      #{custLevel,jdbcType=VARCHAR}, #{houseRoom,jdbcType=TINYINT}, #{houseRoom1,jdbcType=TINYINT}, 
      #{houseRegion,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, 
      #{houseUseage,jdbcType=VARCHAR}, #{houseFitment,jdbcType=TINYINT}, #{houseDirect,jdbcType=TINYINT}, 
      #{plateType,jdbcType=TINYINT}, #{rentCustSource,jdbcType=TINYINT}, #{rentCustLevel,jdbcType=TINYINT}, 
      #{houseFloorLow,jdbcType=SMALLINT}, #{houseFloorHigh,jdbcType=SMALLINT}, #{housePriceLow,jdbcType=NUMERIC}, 
      #{housePriceHigh,jdbcType=NUMERIC}, #{houseAreaLow,jdbcType=NUMERIC}, #{houseAreaHigh,jdbcType=NUMERIC}, 
      #{houseYearLow,jdbcType=SMALLINT}, #{houseYearHigh,jdbcType=SMALLINT}, #{houseLook,jdbcType=BIT}, 
      #{custRequest,jdbcType=VARCHAR}, #{custMemo,jdbcType=VARCHAR}, #{rentCustStatus,jdbcType=TINYINT}, 
      #{repeatFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminTemplateFunRentCustomer" >
    <!--@mbggenerated-->
    insert into TEMPLATE_FUN_RENT_CUSTOMER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rentCustId != null" >
        RENT_CUST_ID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="rentCustName != null" >
        RENT_CUST_NAME,
      </if>
      <if test="rentCustSex != null" >
        RENT_CUST_SEX,
      </if>
      <if test="rentCustAge != null" >
        RENT_CUST_AGE,
      </if>
      <if test="rentCustCareer != null" >
        RENT_CUST_CAREER,
      </if>
      <if test="cellPhone != null" >
        CELL_PHONE,
      </if>
      <if test="idCard != null" >
        ID_CARD,
      </if>
      <if test="custAddr != null" >
        CUST_ADDR,
      </if>
      <if test="rentLifebound != null" >
        RENT_LIFEBOUND,
      </if>
      <if test="rentGoal != null" >
        RENT_GOAL,
      </if>
      <if test="rentLength != null" >
        RENT_LENGTH,
      </if>
      <if test="rentAbility != null" >
        RENT_ABILITY,
      </if>
      <if test="rentPaytype != null" >
        RENT_PAYTYPE,
      </if>
      <if test="custLevel != null" >
        CUST_LEVEL,
      </if>
      <if test="houseRoom != null" >
        HOUSE_ROOM,
      </if>
      <if test="houseRoom1 != null" >
        HOUSE_ROOM_1,
      </if>
      <if test="houseRegion != null" >
        HOUSE_REGION,
      </if>
      <if test="regionName != null" >
        REGION_NAME,
      </if>
      <if test="houseType != null" >
        HOUSE_TYPE,
      </if>
      <if test="houseUseage != null" >
        HOUSE_USEAGE,
      </if>
      <if test="houseFitment != null" >
        HOUSE_FITMENT,
      </if>
      <if test="houseDirect != null" >
        HOUSE_DIRECT,
      </if>
      <if test="plateType != null" >
        PLATE_TYPE,
      </if>
      <if test="rentCustSource != null" >
        RENT_CUST_SOURCE,
      </if>
      <if test="rentCustLevel != null" >
        RENT_CUST_LEVEL,
      </if>
      <if test="houseFloorLow != null" >
        HOUSE_FLOOR_LOW,
      </if>
      <if test="houseFloorHigh != null" >
        HOUSE_FLOOR_HIGH,
      </if>
      <if test="housePriceLow != null" >
        HOUSE_PRICE_LOW,
      </if>
      <if test="housePriceHigh != null" >
        HOUSE_PRICE_HIGH,
      </if>
      <if test="houseAreaLow != null" >
        HOUSE_AREA_LOW,
      </if>
      <if test="houseAreaHigh != null" >
        HOUSE_AREA_HIGH,
      </if>
      <if test="houseYearLow != null" >
        HOUSE_YEAR_LOW,
      </if>
      <if test="houseYearHigh != null" >
        HOUSE_YEAR_HIGH,
      </if>
      <if test="houseLook != null" >
        HOUSE_LOOK,
      </if>
      <if test="custRequest != null" >
        CUST_REQUEST,
      </if>
      <if test="custMemo != null" >
        CUST_MEMO,
      </if>
      <if test="rentCustStatus != null" >
        RENT_CUST_STATUS,
      </if>
      <if test="repeatFlag != null" >
        REPEAT_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rentCustId != null" >
        #{rentCustId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="rentCustName != null" >
        #{rentCustName,jdbcType=VARCHAR},
      </if>
      <if test="rentCustSex != null" >
        #{rentCustSex,jdbcType=BIT},
      </if>
      <if test="rentCustAge != null" >
        #{rentCustAge,jdbcType=TINYINT},
      </if>
      <if test="rentCustCareer != null" >
        #{rentCustCareer,jdbcType=TINYINT},
      </if>
      <if test="cellPhone != null" >
        #{cellPhone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="custAddr != null" >
        #{custAddr,jdbcType=VARCHAR},
      </if>
      <if test="rentLifebound != null" >
        #{rentLifebound,jdbcType=VARCHAR},
      </if>
      <if test="rentGoal != null" >
        #{rentGoal,jdbcType=TINYINT},
      </if>
      <if test="rentLength != null" >
        #{rentLength,jdbcType=TINYINT},
      </if>
      <if test="rentAbility != null" >
        #{rentAbility,jdbcType=TINYINT},
      </if>
      <if test="rentPaytype != null" >
        #{rentPaytype,jdbcType=TINYINT},
      </if>
      <if test="custLevel != null" >
        #{custLevel,jdbcType=VARCHAR},
      </if>
      <if test="houseRoom != null" >
        #{houseRoom,jdbcType=TINYINT},
      </if>
      <if test="houseRoom1 != null" >
        #{houseRoom1,jdbcType=TINYINT},
      </if>
      <if test="houseRegion != null" >
        #{houseRegion,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="houseUseage != null" >
        #{houseUseage,jdbcType=VARCHAR},
      </if>
      <if test="houseFitment != null" >
        #{houseFitment,jdbcType=TINYINT},
      </if>
      <if test="houseDirect != null" >
        #{houseDirect,jdbcType=TINYINT},
      </if>
      <if test="plateType != null" >
        #{plateType,jdbcType=TINYINT},
      </if>
      <if test="rentCustSource != null" >
        #{rentCustSource,jdbcType=TINYINT},
      </if>
      <if test="rentCustLevel != null" >
        #{rentCustLevel,jdbcType=TINYINT},
      </if>
      <if test="houseFloorLow != null" >
        #{houseFloorLow,jdbcType=SMALLINT},
      </if>
      <if test="houseFloorHigh != null" >
        #{houseFloorHigh,jdbcType=SMALLINT},
      </if>
      <if test="housePriceLow != null" >
        #{housePriceLow,jdbcType=NUMERIC},
      </if>
      <if test="housePriceHigh != null" >
        #{housePriceHigh,jdbcType=NUMERIC},
      </if>
      <if test="houseAreaLow != null" >
        #{houseAreaLow,jdbcType=NUMERIC},
      </if>
      <if test="houseAreaHigh != null" >
        #{houseAreaHigh,jdbcType=NUMERIC},
      </if>
      <if test="houseYearLow != null" >
        #{houseYearLow,jdbcType=SMALLINT},
      </if>
      <if test="houseYearHigh != null" >
        #{houseYearHigh,jdbcType=SMALLINT},
      </if>
      <if test="houseLook != null" >
        #{houseLook,jdbcType=BIT},
      </if>
      <if test="custRequest != null" >
        #{custRequest,jdbcType=VARCHAR},
      </if>
      <if test="custMemo != null" >
        #{custMemo,jdbcType=VARCHAR},
      </if>
      <if test="rentCustStatus != null" >
        #{rentCustStatus,jdbcType=TINYINT},
      </if>
      <if test="repeatFlag != null" >
        #{repeatFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>