<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminCrmTrackMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminCrmTrack" >
    <!--@mbggenerated-->
    <id column="TRACK_ID" property="trackId" jdbcType="INTEGER" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="CRM_COMP_ID" property="crmCompId" jdbcType="INTEGER" />
    <result column="CRM_DEPT_ID" property="crmDeptId" jdbcType="INTEGER" />
    <result column="COMP_NO" property="compNo" jdbcType="VARCHAR" />
    <result column="DEPT_NO" property="deptNo" jdbcType="VARCHAR" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_TELE" property="userTele" jdbcType="VARCHAR" />
    <result column="TRACK_TYPE" property="trackType" jdbcType="VARCHAR" />
    <result column="TYPE_DESC" property="typeDesc" jdbcType="VARCHAR" />
    <result column="TRACK_STYLE" property="trackStyle" jdbcType="VARCHAR" />
    <result column="SERVICE_TYPE" property="serviceType" jdbcType="VARCHAR" />
    <result column="SALE_EVAL_LEVEL" property="saleEvalLevel" jdbcType="INTEGER" />
    <result column="SOFT_EVAL_LEVEL" property="softEvalLevel" jdbcType="INTEGER" />
    <result column="SERV_EVAL_LEVEL" property="servEvalLevel" jdbcType="INTEGER" />
    <result column="TRACK_WARM" property="trackWarm" jdbcType="INTEGER" />
    <result column="WARM_USER" property="warmUser" jdbcType="INTEGER" />
    <result column="WARM_TIME" property="warmTime" jdbcType="TIMESTAMP" />
    <result column="WARM_CONTENT" property="warmContent" jdbcType="VARCHAR" />
    <result column="CREATOR_UID" property="creatorUid" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="REAL_WEIXIN" property="realWeixin" jdbcType="TINYINT" />
    <result column="FORCED_SINGLE_POINT" property="forcedSinglePoint" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="IS_STICK" property="isStick" jdbcType="TINYINT" />
    <result column="NEXT_TRACK_TIME" property="nextTrackTime" jdbcType="TIMESTAMP" />
    <result column="PLAN_COMPLETE" property="planComplete" jdbcType="TINYINT" />
    <result column="JOIN_INTENTION" property="joinIntention" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.myfun.repository.admindb.po.AdminCrmTrack" extends="BaseResultMap" >
    <!--@mbggenerated-->
    <result column="TRACK_CONTENT" property="trackContent" jdbcType="CLOB" />
    <result column="CUSTOMER_FEEDBACK" property="customerFeedback" jdbcType="CLOB" />
    <result column="NEXT_PLAN" property="nextPlan" jdbcType="CLOB" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    TRACK_ID, PROVINCE_ID, CITY_ID, COMP_ID, CRM_COMP_ID, CRM_DEPT_ID, COMP_NO, DEPT_NO, 
    ARCHIVE_ID, USER_NAME, USER_TELE, TRACK_TYPE, TYPE_DESC, TRACK_STYLE, SERVICE_TYPE, 
    SALE_EVAL_LEVEL, SOFT_EVAL_LEVEL, SERV_EVAL_LEVEL, TRACK_WARM, WARM_USER, WARM_TIME, 
    WARM_CONTENT, CREATOR_UID, CREATION_TIME, REAL_WEIXIN, FORCED_SINGLE_POINT, DEPT_ID, 
    IS_STICK, NEXT_TRACK_TIME, PLAN_COMPLETE, JOIN_INTENTION
  </sql>
  <sql id="Blob_Column_List" >
    <!--@mbggenerated-->
    TRACK_CONTENT, CUSTOMER_FEEDBACK, NEXT_PLAN
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.myfun.repository.admindb.po.AdminCrmTrackExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CRM_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.po.AdminCrmTrackExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRM_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CRM_TRACK
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from CRM_TRACK
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminCrmTrackExample" >
    <!--@mbggenerated-->
    delete from CRM_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminCrmTrack" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="trackId" order="BEFORE" >
      SELECT next value for SEQ_CRM_TRACK_TRACK_ID
    </selectKey>
    insert into CRM_TRACK (TRACK_ID, PROVINCE_ID, CITY_ID, 
      COMP_ID, CRM_COMP_ID, CRM_DEPT_ID, 
      COMP_NO, DEPT_NO, ARCHIVE_ID, 
      USER_NAME, USER_TELE, TRACK_TYPE, 
      TYPE_DESC, TRACK_STYLE, SERVICE_TYPE, 
      SALE_EVAL_LEVEL, SOFT_EVAL_LEVEL, SERV_EVAL_LEVEL, 
      TRACK_WARM, WARM_USER, WARM_TIME, 
      WARM_CONTENT, CREATOR_UID, CREATION_TIME, 
      REAL_WEIXIN, FORCED_SINGLE_POINT, DEPT_ID, 
      IS_STICK, NEXT_TRACK_TIME, PLAN_COMPLETE, 
      JOIN_INTENTION, TRACK_CONTENT, CUSTOMER_FEEDBACK, 
      NEXT_PLAN)
    values (#{trackId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{compId,jdbcType=INTEGER}, #{crmCompId,jdbcType=INTEGER}, #{crmDeptId,jdbcType=INTEGER}, 
      #{compNo,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, #{archiveId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{userTele,jdbcType=VARCHAR}, #{trackType,jdbcType=VARCHAR}, 
      #{typeDesc,jdbcType=VARCHAR}, #{trackStyle,jdbcType=VARCHAR}, #{serviceType,jdbcType=VARCHAR}, 
      #{saleEvalLevel,jdbcType=INTEGER}, #{softEvalLevel,jdbcType=INTEGER}, #{servEvalLevel,jdbcType=INTEGER}, 
      #{trackWarm,jdbcType=INTEGER}, #{warmUser,jdbcType=INTEGER}, #{warmTime,jdbcType=TIMESTAMP}, 
      #{warmContent,jdbcType=VARCHAR}, #{creatorUid,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{realWeixin,jdbcType=TINYINT}, #{forcedSinglePoint,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, 
      #{isStick,jdbcType=TINYINT}, #{nextTrackTime,jdbcType=TIMESTAMP}, #{planComplete,jdbcType=TINYINT}, 
      #{joinIntention,jdbcType=TINYINT}, #{trackContent,jdbcType=CLOB}, #{customerFeedback,jdbcType=CLOB}, 
      #{nextPlan,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminCrmTrack" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="trackId" order="BEFORE" >
      SELECT next value for SEQ_CRM_TRACK_TRACK_ID
    </selectKey>
    insert into CRM_TRACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      TRACK_ID,
      <if test="provinceId != null" >
        PROVINCE_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="crmCompId != null" >
        CRM_COMP_ID,
      </if>
      <if test="crmDeptId != null" >
        CRM_DEPT_ID,
      </if>
      <if test="compNo != null" >
        COMP_NO,
      </if>
      <if test="deptNo != null" >
        DEPT_NO,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userTele != null" >
        USER_TELE,
      </if>
      <if test="trackType != null" >
        TRACK_TYPE,
      </if>
      <if test="typeDesc != null" >
        TYPE_DESC,
      </if>
      <if test="trackStyle != null" >
        TRACK_STYLE,
      </if>
      <if test="serviceType != null" >
        SERVICE_TYPE,
      </if>
      <if test="saleEvalLevel != null" >
        SALE_EVAL_LEVEL,
      </if>
      <if test="softEvalLevel != null" >
        SOFT_EVAL_LEVEL,
      </if>
      <if test="servEvalLevel != null" >
        SERV_EVAL_LEVEL,
      </if>
      <if test="trackWarm != null" >
        TRACK_WARM,
      </if>
      <if test="warmUser != null" >
        WARM_USER,
      </if>
      <if test="warmTime != null" >
        WARM_TIME,
      </if>
      <if test="warmContent != null" >
        WARM_CONTENT,
      </if>
      <if test="creatorUid != null" >
        CREATOR_UID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="realWeixin != null" >
        REAL_WEIXIN,
      </if>
      <if test="forcedSinglePoint != null" >
        FORCED_SINGLE_POINT,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="isStick != null" >
        IS_STICK,
      </if>
      <if test="nextTrackTime != null" >
        NEXT_TRACK_TIME,
      </if>
      <if test="planComplete != null" >
        PLAN_COMPLETE,
      </if>
      <if test="joinIntention != null" >
        JOIN_INTENTION,
      </if>
      <if test="trackContent != null" >
        TRACK_CONTENT,
      </if>
      <if test="customerFeedback != null" >
        CUSTOMER_FEEDBACK,
      </if>
      <if test="nextPlan != null" >
        NEXT_PLAN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{trackId,jdbcType=INTEGER},
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="crmCompId != null" >
        #{crmCompId,jdbcType=INTEGER},
      </if>
      <if test="crmDeptId != null" >
        #{crmDeptId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null" >
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null" >
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTele != null" >
        #{userTele,jdbcType=VARCHAR},
      </if>
      <if test="trackType != null" >
        #{trackType,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="trackStyle != null" >
        #{trackStyle,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="saleEvalLevel != null" >
        #{saleEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="softEvalLevel != null" >
        #{softEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="servEvalLevel != null" >
        #{servEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="trackWarm != null" >
        #{trackWarm,jdbcType=INTEGER},
      </if>
      <if test="warmUser != null" >
        #{warmUser,jdbcType=INTEGER},
      </if>
      <if test="warmTime != null" >
        #{warmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warmContent != null" >
        #{warmContent,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null" >
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realWeixin != null" >
        #{realWeixin,jdbcType=TINYINT},
      </if>
      <if test="forcedSinglePoint != null" >
        #{forcedSinglePoint,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="isStick != null" >
        #{isStick,jdbcType=TINYINT},
      </if>
      <if test="nextTrackTime != null" >
        #{nextTrackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planComplete != null" >
        #{planComplete,jdbcType=TINYINT},
      </if>
      <if test="joinIntention != null" >
        #{joinIntention,jdbcType=TINYINT},
      </if>
      <if test="trackContent != null" >
        #{trackContent,jdbcType=CLOB},
      </if>
      <if test="customerFeedback != null" >
        #{customerFeedback,jdbcType=CLOB},
      </if>
      <if test="nextPlan != null" >
        #{nextPlan,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminCrmTrackExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from CRM_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update CRM_TRACK
    <set >
      <if test="record.trackId != null" >
        TRACK_ID = #{record.trackId,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null" >
        PROVINCE_ID = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.crmCompId != null" >
        CRM_COMP_ID = #{record.crmCompId,jdbcType=INTEGER},
      </if>
      <if test="record.crmDeptId != null" >
        CRM_DEPT_ID = #{record.crmDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.compNo != null" >
        COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNo != null" >
        DEPT_NO = #{record.deptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userTele != null" >
        USER_TELE = #{record.userTele,jdbcType=VARCHAR},
      </if>
      <if test="record.trackType != null" >
        TRACK_TYPE = #{record.trackType,jdbcType=VARCHAR},
      </if>
      <if test="record.typeDesc != null" >
        TYPE_DESC = #{record.typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.trackStyle != null" >
        TRACK_STYLE = #{record.trackStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceType != null" >
        SERVICE_TYPE = #{record.serviceType,jdbcType=VARCHAR},
      </if>
      <if test="record.saleEvalLevel != null" >
        SALE_EVAL_LEVEL = #{record.saleEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="record.softEvalLevel != null" >
        SOFT_EVAL_LEVEL = #{record.softEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="record.servEvalLevel != null" >
        SERV_EVAL_LEVEL = #{record.servEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="record.trackWarm != null" >
        TRACK_WARM = #{record.trackWarm,jdbcType=INTEGER},
      </if>
      <if test="record.warmUser != null" >
        WARM_USER = #{record.warmUser,jdbcType=INTEGER},
      </if>
      <if test="record.warmTime != null" >
        WARM_TIME = #{record.warmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.warmContent != null" >
        WARM_CONTENT = #{record.warmContent,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorUid != null" >
        CREATOR_UID = #{record.creatorUid,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null" >
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realWeixin != null" >
        REAL_WEIXIN = #{record.realWeixin,jdbcType=TINYINT},
      </if>
      <if test="record.forcedSinglePoint != null" >
        FORCED_SINGLE_POINT = #{record.forcedSinglePoint,jdbcType=VARCHAR},
      </if>
      <if test="record.deptId != null" >
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.isStick != null" >
        IS_STICK = #{record.isStick,jdbcType=TINYINT},
      </if>
      <if test="record.nextTrackTime != null" >
        NEXT_TRACK_TIME = #{record.nextTrackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.planComplete != null" >
        PLAN_COMPLETE = #{record.planComplete,jdbcType=TINYINT},
      </if>
      <if test="record.joinIntention != null" >
        JOIN_INTENTION = #{record.joinIntention,jdbcType=TINYINT},
      </if>
      <if test="record.trackContent != null" >
        TRACK_CONTENT = #{record.trackContent,jdbcType=CLOB},
      </if>
      <if test="record.customerFeedback != null" >
        CUSTOMER_FEEDBACK = #{record.customerFeedback,jdbcType=CLOB},
      </if>
      <if test="record.nextPlan != null" >
        NEXT_PLAN = #{record.nextPlan,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    <!--@mbggenerated-->
    update CRM_TRACK
    set TRACK_ID = #{record.trackId,jdbcType=INTEGER},
      PROVINCE_ID = #{record.provinceId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CRM_COMP_ID = #{record.crmCompId,jdbcType=INTEGER},
      CRM_DEPT_ID = #{record.crmDeptId,jdbcType=INTEGER},
      COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      DEPT_NO = #{record.deptNo,jdbcType=VARCHAR},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_TELE = #{record.userTele,jdbcType=VARCHAR},
      TRACK_TYPE = #{record.trackType,jdbcType=VARCHAR},
      TYPE_DESC = #{record.typeDesc,jdbcType=VARCHAR},
      TRACK_STYLE = #{record.trackStyle,jdbcType=VARCHAR},
      SERVICE_TYPE = #{record.serviceType,jdbcType=VARCHAR},
      SALE_EVAL_LEVEL = #{record.saleEvalLevel,jdbcType=INTEGER},
      SOFT_EVAL_LEVEL = #{record.softEvalLevel,jdbcType=INTEGER},
      SERV_EVAL_LEVEL = #{record.servEvalLevel,jdbcType=INTEGER},
      TRACK_WARM = #{record.trackWarm,jdbcType=INTEGER},
      WARM_USER = #{record.warmUser,jdbcType=INTEGER},
      WARM_TIME = #{record.warmTime,jdbcType=TIMESTAMP},
      WARM_CONTENT = #{record.warmContent,jdbcType=VARCHAR},
      CREATOR_UID = #{record.creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      REAL_WEIXIN = #{record.realWeixin,jdbcType=TINYINT},
      FORCED_SINGLE_POINT = #{record.forcedSinglePoint,jdbcType=VARCHAR},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      IS_STICK = #{record.isStick,jdbcType=TINYINT},
      NEXT_TRACK_TIME = #{record.nextTrackTime,jdbcType=TIMESTAMP},
      PLAN_COMPLETE = #{record.planComplete,jdbcType=TINYINT},
      JOIN_INTENTION = #{record.joinIntention,jdbcType=TINYINT},
      TRACK_CONTENT = #{record.trackContent,jdbcType=CLOB},
      CUSTOMER_FEEDBACK = #{record.customerFeedback,jdbcType=CLOB},
      NEXT_PLAN = #{record.nextPlan,jdbcType=CLOB}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update CRM_TRACK
    set TRACK_ID = #{record.trackId,jdbcType=INTEGER},
      PROVINCE_ID = #{record.provinceId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CRM_COMP_ID = #{record.crmCompId,jdbcType=INTEGER},
      CRM_DEPT_ID = #{record.crmDeptId,jdbcType=INTEGER},
      COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      DEPT_NO = #{record.deptNo,jdbcType=VARCHAR},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_TELE = #{record.userTele,jdbcType=VARCHAR},
      TRACK_TYPE = #{record.trackType,jdbcType=VARCHAR},
      TYPE_DESC = #{record.typeDesc,jdbcType=VARCHAR},
      TRACK_STYLE = #{record.trackStyle,jdbcType=VARCHAR},
      SERVICE_TYPE = #{record.serviceType,jdbcType=VARCHAR},
      SALE_EVAL_LEVEL = #{record.saleEvalLevel,jdbcType=INTEGER},
      SOFT_EVAL_LEVEL = #{record.softEvalLevel,jdbcType=INTEGER},
      SERV_EVAL_LEVEL = #{record.servEvalLevel,jdbcType=INTEGER},
      TRACK_WARM = #{record.trackWarm,jdbcType=INTEGER},
      WARM_USER = #{record.warmUser,jdbcType=INTEGER},
      WARM_TIME = #{record.warmTime,jdbcType=TIMESTAMP},
      WARM_CONTENT = #{record.warmContent,jdbcType=VARCHAR},
      CREATOR_UID = #{record.creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      REAL_WEIXIN = #{record.realWeixin,jdbcType=TINYINT},
      FORCED_SINGLE_POINT = #{record.forcedSinglePoint,jdbcType=VARCHAR},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      IS_STICK = #{record.isStick,jdbcType=TINYINT},
      NEXT_TRACK_TIME = #{record.nextTrackTime,jdbcType=TIMESTAMP},
      PLAN_COMPLETE = #{record.planComplete,jdbcType=TINYINT},
      JOIN_INTENTION = #{record.joinIntention,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminCrmTrack" >
    <!--@mbggenerated-->
    update CRM_TRACK
    <set >
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="crmCompId != null" >
        CRM_COMP_ID = #{crmCompId,jdbcType=INTEGER},
      </if>
      <if test="crmDeptId != null" >
        CRM_DEPT_ID = #{crmDeptId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null" >
        COMP_NO = #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null" >
        DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userTele != null" >
        USER_TELE = #{userTele,jdbcType=VARCHAR},
      </if>
      <if test="trackType != null" >
        TRACK_TYPE = #{trackType,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null" >
        TYPE_DESC = #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="trackStyle != null" >
        TRACK_STYLE = #{trackStyle,jdbcType=VARCHAR},
      </if>
      <if test="serviceType != null" >
        SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},
      </if>
      <if test="saleEvalLevel != null" >
        SALE_EVAL_LEVEL = #{saleEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="softEvalLevel != null" >
        SOFT_EVAL_LEVEL = #{softEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="servEvalLevel != null" >
        SERV_EVAL_LEVEL = #{servEvalLevel,jdbcType=INTEGER},
      </if>
      <if test="trackWarm != null" >
        TRACK_WARM = #{trackWarm,jdbcType=INTEGER},
      </if>
      <if test="warmUser != null" >
        WARM_USER = #{warmUser,jdbcType=INTEGER},
      </if>
      <if test="warmTime != null" >
        WARM_TIME = #{warmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="warmContent != null" >
        WARM_CONTENT = #{warmContent,jdbcType=VARCHAR},
      </if>
      <if test="creatorUid != null" >
        CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realWeixin != null" >
        REAL_WEIXIN = #{realWeixin,jdbcType=TINYINT},
      </if>
      <if test="forcedSinglePoint != null" >
        FORCED_SINGLE_POINT = #{forcedSinglePoint,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="isStick != null" >
        IS_STICK = #{isStick,jdbcType=TINYINT},
      </if>
      <if test="nextTrackTime != null" >
        NEXT_TRACK_TIME = #{nextTrackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planComplete != null" >
        PLAN_COMPLETE = #{planComplete,jdbcType=TINYINT},
      </if>
      <if test="joinIntention != null" >
        JOIN_INTENTION = #{joinIntention,jdbcType=TINYINT},
      </if>
      <if test="trackContent != null" >
        TRACK_CONTENT = #{trackContent,jdbcType=CLOB},
      </if>
      <if test="customerFeedback != null" >
        CUSTOMER_FEEDBACK = #{customerFeedback,jdbcType=CLOB},
      </if>
      <if test="nextPlan != null" >
        NEXT_PLAN = #{nextPlan,jdbcType=CLOB},
      </if>
    </set>
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myfun.repository.admindb.po.AdminCrmTrack" >
    <!--@mbggenerated-->
    update CRM_TRACK
    set PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CRM_COMP_ID = #{crmCompId,jdbcType=INTEGER},
      CRM_DEPT_ID = #{crmDeptId,jdbcType=INTEGER},
      COMP_NO = #{compNo,jdbcType=VARCHAR},
      DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_TELE = #{userTele,jdbcType=VARCHAR},
      TRACK_TYPE = #{trackType,jdbcType=VARCHAR},
      TYPE_DESC = #{typeDesc,jdbcType=VARCHAR},
      TRACK_STYLE = #{trackStyle,jdbcType=VARCHAR},
      SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},
      SALE_EVAL_LEVEL = #{saleEvalLevel,jdbcType=INTEGER},
      SOFT_EVAL_LEVEL = #{softEvalLevel,jdbcType=INTEGER},
      SERV_EVAL_LEVEL = #{servEvalLevel,jdbcType=INTEGER},
      TRACK_WARM = #{trackWarm,jdbcType=INTEGER},
      WARM_USER = #{warmUser,jdbcType=INTEGER},
      WARM_TIME = #{warmTime,jdbcType=TIMESTAMP},
      WARM_CONTENT = #{warmContent,jdbcType=VARCHAR},
      CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      REAL_WEIXIN = #{realWeixin,jdbcType=TINYINT},
      FORCED_SINGLE_POINT = #{forcedSinglePoint,jdbcType=VARCHAR},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      IS_STICK = #{isStick,jdbcType=TINYINT},
      NEXT_TRACK_TIME = #{nextTrackTime,jdbcType=TIMESTAMP},
      PLAN_COMPLETE = #{planComplete,jdbcType=TINYINT},
      JOIN_INTENTION = #{joinIntention,jdbcType=TINYINT},
      TRACK_CONTENT = #{trackContent,jdbcType=CLOB},
      CUSTOMER_FEEDBACK = #{customerFeedback,jdbcType=CLOB},
      NEXT_PLAN = #{nextPlan,jdbcType=CLOB}
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminCrmTrack" >
    <!--@mbggenerated-->
    update CRM_TRACK
    set PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CRM_COMP_ID = #{crmCompId,jdbcType=INTEGER},
      CRM_DEPT_ID = #{crmDeptId,jdbcType=INTEGER},
      COMP_NO = #{compNo,jdbcType=VARCHAR},
      DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_TELE = #{userTele,jdbcType=VARCHAR},
      TRACK_TYPE = #{trackType,jdbcType=VARCHAR},
      TYPE_DESC = #{typeDesc,jdbcType=VARCHAR},
      TRACK_STYLE = #{trackStyle,jdbcType=VARCHAR},
      SERVICE_TYPE = #{serviceType,jdbcType=VARCHAR},
      SALE_EVAL_LEVEL = #{saleEvalLevel,jdbcType=INTEGER},
      SOFT_EVAL_LEVEL = #{softEvalLevel,jdbcType=INTEGER},
      SERV_EVAL_LEVEL = #{servEvalLevel,jdbcType=INTEGER},
      TRACK_WARM = #{trackWarm,jdbcType=INTEGER},
      WARM_USER = #{warmUser,jdbcType=INTEGER},
      WARM_TIME = #{warmTime,jdbcType=TIMESTAMP},
      WARM_CONTENT = #{warmContent,jdbcType=VARCHAR},
      CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      REAL_WEIXIN = #{realWeixin,jdbcType=TINYINT},
      FORCED_SINGLE_POINT = #{forcedSinglePoint,jdbcType=VARCHAR},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      IS_STICK = #{isStick,jdbcType=TINYINT},
      NEXT_TRACK_TIME = #{nextTrackTime,jdbcType=TIMESTAMP},
      PLAN_COMPLETE = #{planComplete,jdbcType=TINYINT},
      JOIN_INTENTION = #{joinIntention,jdbcType=TINYINT}
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </update>
</mapper>