<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminCrmDeptsMapMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminCrmDeptsMap">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="DEPT_ADDR" jdbcType="VARCHAR" property="deptAddr" />
    <result column="DEPT_CONTACT" jdbcType="VARCHAR" property="deptContact" />
    <result column="DEPT_TELE" jdbcType="VARCHAR" property="deptTele" />
    <result column="CONTACT_PHONE" jdbcType="VARCHAR" property="contactPhone" />
    <result column="POSITION_X" jdbcType="VARCHAR" property="positionX" />
    <result column="POSITION_Y" jdbcType="VARCHAR" property="positionY" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="CREATOR_UID" jdbcType="INTEGER" property="creatorUid" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="DEPT_FLAG" jdbcType="INTEGER" property="deptFlag" />
    <result column="DEPT_DESCRIP" jdbcType="VARCHAR" property="deptDescrip" />
    <result column="UPDATE_UID" jdbcType="INTEGER" property="updateUid" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="DISTRIBUTE_FLAG" jdbcType="TINYINT" property="distributeFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, CITY_ID, DEPT_ID, DEPT_NAME, DEPT_ADDR, DEPT_CONTACT, DEPT_TELE, CONTACT_PHONE, 
    POSITION_X, POSITION_Y, COMP_ID, CREATOR_UID, CREATION_TIME, DEPT_FLAG, DEPT_DESCRIP, 
    UPDATE_UID, UPDATE_TIME, DISTRIBUTE_FLAG
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMapExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CRM_DEPTS_MAP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from CRM_DEPTS_MAP
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from CRM_DEPTS_MAP
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMapExample">
    <!--@mbggenerated-->
    delete from CRM_DEPTS_MAP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMap">
    <!--@mbggenerated-->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into CRM_DEPTS_MAP (CITY_ID, DEPT_ID, DEPT_NAME, 
      DEPT_ADDR, DEPT_CONTACT, DEPT_TELE, 
      CONTACT_PHONE, POSITION_X, POSITION_Y, 
      COMP_ID, CREATOR_UID, CREATION_TIME, 
      DEPT_FLAG, DEPT_DESCRIP, UPDATE_UID, 
      UPDATE_TIME, DISTRIBUTE_FLAG)
    values (#{cityId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR}, 
      #{deptAddr,jdbcType=VARCHAR}, #{deptContact,jdbcType=VARCHAR}, #{deptTele,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{positionX,jdbcType=VARCHAR}, #{positionY,jdbcType=VARCHAR}, 
      #{compId,jdbcType=INTEGER}, #{creatorUid,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{deptFlag,jdbcType=INTEGER}, #{deptDescrip,jdbcType=VARCHAR}, #{updateUid,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{distributeFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMap">
    <!--@mbggenerated-->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into CRM_DEPTS_MAP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="deptAddr != null">
        DEPT_ADDR,
      </if>
      <if test="deptContact != null">
        DEPT_CONTACT,
      </if>
      <if test="deptTele != null">
        DEPT_TELE,
      </if>
      <if test="contactPhone != null">
        CONTACT_PHONE,
      </if>
      <if test="positionX != null">
        POSITION_X,
      </if>
      <if test="positionY != null">
        POSITION_Y,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="creatorUid != null">
        CREATOR_UID,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG,
      </if>
      <if test="deptDescrip != null">
        DEPT_DESCRIP,
      </if>
      <if test="updateUid != null">
        UPDATE_UID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="distributeFlag != null">
        DISTRIBUTE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAddr != null">
        #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptContact != null">
        #{deptContact,jdbcType=VARCHAR},
      </if>
      <if test="deptTele != null">
        #{deptTele,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null">
        #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null">
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptFlag != null">
        #{deptFlag,jdbcType=INTEGER},
      </if>
      <if test="deptDescrip != null">
        #{deptDescrip,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null">
        #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributeFlag != null">
        #{distributeFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMapExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from CRM_DEPTS_MAP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update CRM_DEPTS_MAP
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.deptName != null">
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptAddr != null">
        DEPT_ADDR = #{record.deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.deptContact != null">
        DEPT_CONTACT = #{record.deptContact,jdbcType=VARCHAR},
      </if>
      <if test="record.deptTele != null">
        DEPT_TELE = #{record.deptTele,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null">
        CONTACT_PHONE = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.positionX != null">
        POSITION_X = #{record.positionX,jdbcType=VARCHAR},
      </if>
      <if test="record.positionY != null">
        POSITION_Y = #{record.positionY,jdbcType=VARCHAR},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.creatorUid != null">
        CREATOR_UID = #{record.creatorUid,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null">
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deptFlag != null">
        DEPT_FLAG = #{record.deptFlag,jdbcType=INTEGER},
      </if>
      <if test="record.deptDescrip != null">
        DEPT_DESCRIP = #{record.deptDescrip,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUid != null">
        UPDATE_UID = #{record.updateUid,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.distributeFlag != null">
        DISTRIBUTE_FLAG = #{record.distributeFlag,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update CRM_DEPTS_MAP
    set ID = #{record.id,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      DEPT_ADDR = #{record.deptAddr,jdbcType=VARCHAR},
      DEPT_CONTACT = #{record.deptContact,jdbcType=VARCHAR},
      DEPT_TELE = #{record.deptTele,jdbcType=VARCHAR},
      CONTACT_PHONE = #{record.contactPhone,jdbcType=VARCHAR},
      POSITION_X = #{record.positionX,jdbcType=VARCHAR},
      POSITION_Y = #{record.positionY,jdbcType=VARCHAR},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      CREATOR_UID = #{record.creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      DEPT_FLAG = #{record.deptFlag,jdbcType=INTEGER},
      DEPT_DESCRIP = #{record.deptDescrip,jdbcType=VARCHAR},
      UPDATE_UID = #{record.updateUid,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      DISTRIBUTE_FLAG = #{record.distributeFlag,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMap">
    <!--@mbggenerated-->
    update CRM_DEPTS_MAP
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAddr != null">
        DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptContact != null">
        DEPT_CONTACT = #{deptContact,jdbcType=VARCHAR},
      </if>
      <if test="deptTele != null">
        DEPT_TELE = #{deptTele,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        POSITION_X = #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null">
        POSITION_Y = #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null">
        CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG = #{deptFlag,jdbcType=INTEGER},
      </if>
      <if test="deptDescrip != null">
        DEPT_DESCRIP = #{deptDescrip,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null">
        UPDATE_UID = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributeFlag != null">
        DISTRIBUTE_FLAG = #{distributeFlag,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMap">
    <!--@mbggenerated-->
    update CRM_DEPTS_MAP
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      DEPT_CONTACT = #{deptContact,jdbcType=VARCHAR},
      DEPT_TELE = #{deptTele,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      POSITION_X = #{positionX,jdbcType=VARCHAR},
      POSITION_Y = #{positionY,jdbcType=VARCHAR},
      COMP_ID = #{compId,jdbcType=INTEGER},
      CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      DEPT_FLAG = #{deptFlag,jdbcType=INTEGER},
      DEPT_DESCRIP = #{deptDescrip,jdbcType=VARCHAR},
      UPDATE_UID = #{updateUid,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DISTRIBUTE_FLAG = #{distributeFlag,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByDeptId" parameterType="com.myfun.repository.admindb.po.AdminCrmDeptsMap">
    update CRM_DEPTS_MAP
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAddr != null">
        DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptContact != null">
        DEPT_CONTACT = #{deptContact,jdbcType=VARCHAR},
      </if>
      <if test="deptTele != null">
        DEPT_TELE = #{deptTele,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null">
        POSITION_X = #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null">
        POSITION_Y = #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="creatorUid != null">
        CREATOR_UID = #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG = #{deptFlag,jdbcType=INTEGER},
      </if>
      <if test="deptDescrip != null">
        DEPT_DESCRIP = #{deptDescrip,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null">
        UPDATE_UID = #{updateUid,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="distributeFlag != null">
        DISTRIBUTE_FLAG = #{distributeFlag,jdbcType=TINYINT},
      </if>
    </set>
    where DEPT_ID = #{deptId,jdbcType=INTEGER}
  </update>
</mapper>