<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminDiscountConfigMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminDiscountConfig">
    <!--@mbggenerated-->
    <id column="DC_ID" jdbcType="INTEGER" property="dcId" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="TYPE_DESC" jdbcType="VARCHAR" property="typeDesc" />
    <result column="LIMIT" jdbcType="INTEGER" property="limit" />
    <result column="DISCOUNT_1" jdbcType="DOUBLE" property="discount1" />
    <result column="DISCOUNT_2" jdbcType="VARCHAR" property="discount2" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="PROVINCE_ID" jdbcType="INTEGER" property="provinceId" />
    <result column="CITY_ID" jdbcType="SMALLINT" property="cityId" />
    <result column="ITEMS" jdbcType="VARCHAR" property="items" />
    <result column="OPTION_1" jdbcType="VARCHAR" property="option1" />
    <result column="OPTION_2" jdbcType="VARCHAR" property="option2" />
    <result column="OPTION_3" jdbcType="VARCHAR" property="option3" />
    <result column="OPTION_4" jdbcType="VARCHAR" property="option4" />
    <result column="EXT_JSON" jdbcType="VARCHAR" property="extJson" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    DC_ID, VERSION, [TYPE], TYPE_DESC, [LIMIT], DISCOUNT_1, DISCOUNT_2, START_TIME, END_TIME, 
    PROVINCE_ID, CITY_ID, ITEMS, OPTION_1, OPTION_2, OPTION_3, OPTION_4, EXT_JSON
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from DISCOUNT_CONFIG
    where DC_ID = #{dcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from DISCOUNT_CONFIG
    where DC_ID = #{dcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminDiscountConfig">
    <!--@mbggenerated-->
    <selectKey keyProperty="dcId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into DISCOUNT_CONFIG (VERSION, [TYPE], TYPE_DESC, 
      [LIMIT], DISCOUNT_1, DISCOUNT_2, 
      START_TIME, END_TIME, PROVINCE_ID, 
      CITY_ID, ITEMS, OPTION_1, 
      OPTION_2, OPTION_3, OPTION_4, 
      EXT_JSON)
    values (#{version,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{typeDesc,jdbcType=VARCHAR}, 
      #{limit,jdbcType=INTEGER}, #{discount1,jdbcType=DOUBLE}, #{discount2,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=SMALLINT}, #{items,jdbcType=VARCHAR}, #{option1,jdbcType=VARCHAR}, 
      #{option2,jdbcType=VARCHAR}, #{option3,jdbcType=VARCHAR}, #{option4,jdbcType=VARCHAR}, 
      #{extJson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminDiscountConfig">
    <!--@mbggenerated-->
    <selectKey keyProperty="dcId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into DISCOUNT_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="version != null">
        VERSION,
      </if>
      <if test="type != null">
        [TYPE],
      </if>
      <if test="typeDesc != null">
        TYPE_DESC,
      </if>
      <if test="limit != null">
        [LIMIT],
      </if>
      <if test="discount1 != null">
        DISCOUNT_1,
      </if>
      <if test="discount2 != null">
        DISCOUNT_2,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="provinceId != null">
        PROVINCE_ID,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="items != null">
        ITEMS,
      </if>
      <if test="option1 != null">
        OPTION_1,
      </if>
      <if test="option2 != null">
        OPTION_2,
      </if>
      <if test="option3 != null">
        OPTION_3,
      </if>
      <if test="option4 != null">
        OPTION_4,
      </if>
      <if test="extJson != null">
        EXT_JSON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="limit != null">
        #{limit,jdbcType=INTEGER},
      </if>
      <if test="discount1 != null">
        #{discount1,jdbcType=DOUBLE},
      </if>
      <if test="discount2 != null">
        #{discount2,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="items != null">
        #{items,jdbcType=VARCHAR},
      </if>
      <if test="option1 != null">
        #{option1,jdbcType=VARCHAR},
      </if>
      <if test="option2 != null">
        #{option2,jdbcType=VARCHAR},
      </if>
      <if test="option3 != null">
        #{option3,jdbcType=VARCHAR},
      </if>
      <if test="option4 != null">
        #{option4,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        #{extJson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminDiscountConfig">
    <!--@mbggenerated-->
    update DISCOUNT_CONFIG
    <set>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        [TYPE] = #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null">
        TYPE_DESC = #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="limit != null">
        [LIMIT] = #{limit,jdbcType=INTEGER},
      </if>
      <if test="discount1 != null">
        DISCOUNT_1 = #{discount1,jdbcType=DOUBLE},
      </if>
      <if test="discount2 != null">
        DISCOUNT_2 = #{discount2,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceId != null">
        PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="items != null">
        ITEMS = #{items,jdbcType=VARCHAR},
      </if>
      <if test="option1 != null">
        OPTION_1 = #{option1,jdbcType=VARCHAR},
      </if>
      <if test="option2 != null">
        OPTION_2 = #{option2,jdbcType=VARCHAR},
      </if>
      <if test="option3 != null">
        OPTION_3 = #{option3,jdbcType=VARCHAR},
      </if>
      <if test="option4 != null">
        OPTION_4 = #{option4,jdbcType=VARCHAR},
      </if>
      <if test="extJson != null">
        EXT_JSON = #{extJson,jdbcType=VARCHAR},
      </if>
    </set>
    where DC_ID = #{dcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminDiscountConfig">
    <!--@mbggenerated-->
    update DISCOUNT_CONFIG
    set VERSION = #{version,jdbcType=VARCHAR},
      [TYPE] = #{type,jdbcType=VARCHAR},
      TYPE_DESC = #{typeDesc,jdbcType=VARCHAR},
      [LIMIT] = #{limit,jdbcType=INTEGER},
      DISCOUNT_1 = #{discount1,jdbcType=DOUBLE},
      DISCOUNT_2 = #{discount2,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=SMALLINT},
      ITEMS = #{items,jdbcType=VARCHAR},
      OPTION_1 = #{option1,jdbcType=VARCHAR},
      OPTION_2 = #{option2,jdbcType=VARCHAR},
      OPTION_3 = #{option3,jdbcType=VARCHAR},
      OPTION_4 = #{option4,jdbcType=VARCHAR},
      EXT_JSON = #{extJson,jdbcType=VARCHAR}
    where DC_ID = #{dcId,jdbcType=INTEGER}
  </update>
  
  <select id="getConfigByCityAndType" resultMap="BaseResultMap">
  select DC.DC_ID, DC.VERSION, DC.TYPE, DC.TYPE_DESC, DC.LIMIT, DC.DISCOUNT_1, DC.DISCOUNT_2, DC.START_TIME, DC.END_TIME,
         DC.PROVINCE_ID, DC.CITY_ID, DC.ITEMS, DC.OPTION_1, DC.OPTION_2, DC.OPTION_3, DC.OPTION_4, DC.EXT_JSON from DISCOUNT_CONFIG DC, FUN_CITY FC
	where FC.CITY_LEVEL = DC.VERSION and FC.CITY_ID = #{cityId} 
	and (DC.city_id = #{cityId} or DC.city_id = 0) AND DC.TYPE = #{type} ORDER BY DC.CITY_ID DESC
  </select>
  
  <select id="getRecordByCityLevelAndType" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" /> FROM DISCOUNT_CONFIG WHERE TYPE = #{type} AND VERSION = #{cityLevel}
  </select>
</mapper>