<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunTagsMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunTags">
    <!--@mbggenerated-->
    <id column="TAGS_ID" jdbcType="INTEGER" property="tagsId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="TAGS_TYPE" jdbcType="TINYINT" property="tagsType" />
    <result column="TAGS_NAME" jdbcType="VARCHAR" property="tagsName" />
    <result column="SEQ_NO" jdbcType="INTEGER" property="seqNo" />
    <result column="TAGS_STATUS" jdbcType="TINYINT" property="tagsStatus" />
    <result column="USEAGE" jdbcType="TINYINT" property="useage" />
    <result column="SCORE" jdbcType="INTEGER" property="score" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    TAGS_ID, CITY_ID, TAGS_TYPE, TAGS_NAME, SEQ_NO, TAGS_STATUS, USEAGE, SCORE, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminFunTagsExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_TAGS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_TAGS
    where TAGS_ID = #{tagsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from FUN_TAGS
    where TAGS_ID = #{tagsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminFunTagsExample">
    <!--@mbggenerated-->
    delete from FUN_TAGS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunTags">
    <!--@mbggenerated-->
    insert into FUN_TAGS (TAGS_ID, CITY_ID, TAGS_TYPE, 
      TAGS_NAME, SEQ_NO, TAGS_STATUS, 
      USEAGE, SCORE, UPDATE_TIME
      )
    values (#{tagsId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{tagsType,jdbcType=TINYINT}, 
      #{tagsName,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{tagsStatus,jdbcType=TINYINT}, 
      #{useage,jdbcType=TINYINT}, #{score,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunTags">
    <!--@mbggenerated-->
    insert into FUN_TAGS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagsId != null">
        TAGS_ID,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="tagsType != null">
        TAGS_TYPE,
      </if>
      <if test="tagsName != null">
        TAGS_NAME,
      </if>
      <if test="seqNo != null">
        SEQ_NO,
      </if>
      <if test="tagsStatus != null">
        TAGS_STATUS,
      </if>
      <if test="useage != null">
        USEAGE,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagsId != null">
        #{tagsId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="tagsType != null">
        #{tagsType,jdbcType=TINYINT},
      </if>
      <if test="tagsName != null">
        #{tagsName,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="tagsStatus != null">
        #{tagsStatus,jdbcType=TINYINT},
      </if>
      <if test="useage != null">
        #{useage,jdbcType=TINYINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminFunTagsExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_TAGS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_TAGS
    <set>
      <if test="record.tagsId != null">
        TAGS_ID = #{record.tagsId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.tagsType != null">
        TAGS_TYPE = #{record.tagsType,jdbcType=TINYINT},
      </if>
      <if test="record.tagsName != null">
        TAGS_NAME = #{record.tagsName,jdbcType=VARCHAR},
      </if>
      <if test="record.seqNo != null">
        SEQ_NO = #{record.seqNo,jdbcType=INTEGER},
      </if>
      <if test="record.tagsStatus != null">
        TAGS_STATUS = #{record.tagsStatus,jdbcType=TINYINT},
      </if>
      <if test="record.useage != null">
        USEAGE = #{record.useage,jdbcType=TINYINT},
      </if>
      <if test="record.score != null">
        SCORE = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_TAGS
    set TAGS_ID = #{record.tagsId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      TAGS_TYPE = #{record.tagsType,jdbcType=TINYINT},
      TAGS_NAME = #{record.tagsName,jdbcType=VARCHAR},
      SEQ_NO = #{record.seqNo,jdbcType=INTEGER},
      TAGS_STATUS = #{record.tagsStatus,jdbcType=TINYINT},
      USEAGE = #{record.useage,jdbcType=TINYINT},
      SCORE = #{record.score,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunTags">
    <!--@mbggenerated-->
    update FUN_TAGS
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="tagsType != null">
        TAGS_TYPE = #{tagsType,jdbcType=TINYINT},
      </if>
      <if test="tagsName != null">
        TAGS_NAME = #{tagsName,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null">
        SEQ_NO = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="tagsStatus != null">
        TAGS_STATUS = #{tagsStatus,jdbcType=TINYINT},
      </if>
      <if test="useage != null">
        USEAGE = #{useage,jdbcType=TINYINT},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where TAGS_ID = #{tagsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunTags">
    <!--@mbggenerated-->
    update FUN_TAGS
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      TAGS_TYPE = #{tagsType,jdbcType=TINYINT},
      TAGS_NAME = #{tagsName,jdbcType=VARCHAR},
      SEQ_NO = #{seqNo,jdbcType=INTEGER},
      TAGS_STATUS = #{tagsStatus,jdbcType=TINYINT},
      USEAGE = #{useage,jdbcType=TINYINT},
      SCORE = #{score,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
    where TAGS_ID = #{tagsId,jdbcType=INTEGER}
  </update>

  <resultMap id="extBaseResultVoMap" type="com.myfun.erpWeb.common.vo.AdminFunTagsVo">
    <id column="TAGS_ID" jdbcType="INTEGER" property="tagsId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="TAGS_TYPE" jdbcType="TINYINT" property="tagsType" />
    <result column="TAGS_NAME" jdbcType="VARCHAR" property="tagsName" />
    <result column="SEQ_NO" jdbcType="INTEGER" property="seqNo" />
    <result column="TAGS_STATUS" jdbcType="TINYINT" property="tagsStatus" />
    <result column="USEAGE" jdbcType="TINYINT" property="useage" />
  </resultMap>
  <select id="getFunTagsVoList" resultMap="extBaseResultVoMap">
    select <include refid="Base_Column_List" /> from FUN_TAGS where TAGS_STATUS != -1 ORDER BY SEQ_NO ASC
  </select>
</mapper>