<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myfun.repository.admindb.dao.Admin_Sync_OA_ML_DepartmentChangeDataMapper">
  
  <!-- 获取部门调迁记录  -->
 <select id="getDeptTransferList"  parameterType="com.myfun.repository.admindb.param.Admin_Sync_OA_ML_DepartmentChangeDataParam" resultType="com.myfun.repository.admindb.vo.Admin_Sync_OA_ML_DeptVO">
  	SELECT * from ( 
		  SELECT
			a.C_TYPE AS type,
			a.C_TYPE_CODE AS typeCode,
			a.CHANGE_TITLE AS changeTitle,
			a.CHANGE_CODE AS changeCode,
			a.DEP_CODE AS deptCode,
			a.NEW_MARKET_NAME AS newMarketName,
			a.OLD_MARKET_NAME AS oldMarketName,
			a.ORG_PATH AS orgPath,
			a.ORG_PATH_HISTORY AS orgPathHistory,
			b.[LEVEL] orgLevel,
			a.DEP_GRADE_TITLE deptGradeTitle,
			a.CHANGE_DATE AS changeDate,
			<!-- 失效日期，取下一个动作起效的前一天 -->
			(SELECT top 1 dateadd(day,-1,d.CHANGE_DATE)  
				from ML_DEPT_CHANGE_DATA d 
				where d.DEP_ID=a.DEP_ID 
				AND d.CHANGE_ID <![CDATA[<>]]> a.CHANGE_ID 
				AND d.CHANGE_DATE <![CDATA[>=]]> a.CHANGE_DATE order by d.CHANGE_DATE ASC  
			) as invalidDate,
			a.INITIALIZED_TIME AS initializedTime,
			b.ID orgCode,
			a.NEW_TITLE orgName,
			ISNULL(c.TITLE, '') parentOrgName,
			CASE 
				WHEN a.C_TYPE_CODE= 2 and a.CHANGE_CODE=2 then ISNULL(a.OLD_DEP_TITLE, a.OLD_DEP_ABBR) 
			else a.OLD_DEP_TITLE end  oldOrgName
		 from ML_DEPT_CHANGE_DATA a 
		 LEFT JOIN ML_ORG_TREE b ON 'd'+CONVERT(VARCHAR(11),A.DEP_ID)=b.ID
		 LEFT JOIN ML_ORG_TREE c ON b.XID=c.ID
		<where>
			<choose>
			 <when test="queryDateType == 1">
		 		<if test="queryBeginTime != null"> 
				 	and a.CHANGE_DATE <![CDATA[ >= ]]> convert (varchar(10),#{queryBeginTime},120)
				 </if>
			 	 <if test="queryEndTime != null"> 
				 	and a.CHANGE_DATE <![CDATA[ <= ]]> convert (varchar(10),#{queryEndTime},120)
				 </if>
		 	</when>
		 </choose>
		 <!-- 查询指定的组织，及其子组织数据 -->
	  	 <if test="organizationId != null"> 
		 	AND b.ORG_PATH LIKE '%/'+(select ID from ML_ORG_TREE t where t.HFT_ORG_ID=#{organizationId} )+'%'
		 </if>
		 
		</where>
	) temp
	<!-- 查询失效时间的情况下 -->
	<where>
		<if test="queryDateType == 2">
	 		<if test="queryBeginTime != null"> 
			 	and temp.invalidDate <![CDATA[ >= ]]> convert (varchar(10),#{queryBeginTime},120)
			 </if>
		 	 <if test="queryEndTime != null"> 
			 	and temp.invalidDate <![CDATA[ <= ]]> convert (varchar(10),#{queryEndTime},120)
			 </if>
	 	</if>
	</where>
	 ORDER BY temp.changeDate  ASC
  </select>
  
</mapper>