<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminTSignDateMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminTSignDate" >
    <!--@mbggenerated-->
    <id column="T_DATE_ID" property="tDateId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="T_DATE" property="tDate" jdbcType="TIMESTAMP" />
    <result column="T_GET_TIME" property="tGetTime" jdbcType="TIMESTAMP" />
    <result column="T_GET_STATU" property="tGetStatu" jdbcType="VARCHAR" />
    <result column="T_SIGN_DAY" property="tSignDay" jdbcType="VARCHAR" />
    <result column="T_PRIZE_MONEY" property="tPrizeMoney" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    T_DATE_ID, ARCHIVE_ID, T_DATE, T_GET_TIME, T_GET_STATU, T_SIGN_DAY, T_PRIZE_MONEY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from T_SIGN_DATE
    where T_DATE_ID = #{tDateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from T_SIGN_DATE
    where T_DATE_ID = #{tDateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminTSignDate" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="tDateId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into T_SIGN_DATE (ARCHIVE_ID, T_DATE, T_GET_TIME, 
      T_GET_STATU, T_SIGN_DAY, T_PRIZE_MONEY
      )
    values (#{archiveId,jdbcType=INTEGER}, #{tDate,jdbcType=TIMESTAMP}, #{tGetTime,jdbcType=TIMESTAMP}, 
      #{tGetStatu,jdbcType=VARCHAR}, #{tSignDay,jdbcType=VARCHAR}, #{tPrizeMoney,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminTSignDate" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="tDateId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into T_SIGN_DATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="tDate != null" >
        T_DATE,
      </if>
      <if test="tGetTime != null" >
        T_GET_TIME,
      </if>
      <if test="tGetStatu != null" >
        T_GET_STATU,
      </if>
      <if test="tSignDay != null" >
        T_SIGN_DAY,
      </if>
      <if test="tPrizeMoney != null" >
        T_PRIZE_MONEY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="tDate != null" >
        #{tDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tGetTime != null" >
        #{tGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tGetStatu != null" >
        #{tGetStatu,jdbcType=VARCHAR},
      </if>
      <if test="tSignDay != null" >
        #{tSignDay,jdbcType=VARCHAR},
      </if>
      <if test="tPrizeMoney != null" >
        #{tPrizeMoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminTSignDate" >
    <!--@mbggenerated-->
    update T_SIGN_DATE
    <set >
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="tDate != null" >
        T_DATE = #{tDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tGetTime != null" >
        T_GET_TIME = #{tGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tGetStatu != null" >
        T_GET_STATU = #{tGetStatu,jdbcType=VARCHAR},
      </if>
      <if test="tSignDay != null" >
        T_SIGN_DAY = #{tSignDay,jdbcType=VARCHAR},
      </if>
      <if test="tPrizeMoney != null" >
        T_PRIZE_MONEY = #{tPrizeMoney,jdbcType=VARCHAR},
      </if>
    </set>
    where T_DATE_ID = #{tDateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminTSignDate" >
    <!--@mbggenerated-->
    update T_SIGN_DATE
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      T_DATE = #{tDate,jdbcType=TIMESTAMP},
      T_GET_TIME = #{tGetTime,jdbcType=TIMESTAMP},
      T_GET_STATU = #{tGetStatu,jdbcType=VARCHAR},
      T_SIGN_DAY = #{tSignDay,jdbcType=VARCHAR},
      T_PRIZE_MONEY = #{tPrizeMoney,jdbcType=VARCHAR}
    where T_DATE_ID = #{tDateId,jdbcType=INTEGER}
  </update>
</mapper>