<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminWebSiteMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminWebSite" >
    <!--@mbggenerated-->
    <id column="SITE_ID" property="siteId" jdbcType="INTEGER" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="SITE_NAME" property="siteName" jdbcType="VARCHAR" />
    <result column="FATHER_ID" property="fatherId" jdbcType="INTEGER" />
    <result column="AVAILABLE_FLAG" property="availableFlag" jdbcType="BIT" />
    <result column="B_SPEC" property="bSpec" jdbcType="BIT" />
    <result column="B_EDIT" property="bEdit" jdbcType="BIT" />
    <result column="B_SELFPUB" property="bSelfpub" jdbcType="BIT" />
    <result column="B_PHOTO" property="bPhoto" jdbcType="BIT" />
    <result column="CAN_SERVER_PUB" property="canServerPub" jdbcType="BIT" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE2" property="cityCode2" jdbcType="VARCHAR" />
    <result column="SITE_ADDRESS" property="siteAddress" jdbcType="VARCHAR" />
    <result column="REG_ADDRESS" property="regAddress" jdbcType="VARCHAR" />
    <result column="INVISIBLE" property="invisible" jdbcType="TINYINT" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="MARK_POS" property="markPos" jdbcType="VARCHAR" />
    <result column="SITE_NOTE" property="siteNote" jdbcType="VARCHAR" />
    <result column="REG_NOTE" property="regNote" jdbcType="VARCHAR" />
    <result column="SITE_PUB_NOTE" property="sitePubNote" jdbcType="VARCHAR" />
    <result column="B_RICH_TEXT" property="bRichText" jdbcType="BIT" />
    <result column="B_REF" property="bRef" jdbcType="BIT" />
    <result column="B_PAY" property="bPay" jdbcType="BIT" />
    <result column="B_ORDERREF" property="bOrderref" jdbcType="TINYINT" />
    <result column="B_VALID" property="bValid" jdbcType="BIT" />
    <result column="LOGIN_ADDRESS" property="loginAddress" jdbcType="VARCHAR" />
    <result column="SITE_USAGE" property="siteUsage" jdbcType="TINYINT" />
    <result column="SITE_ID_OLD" property="siteIdOld" jdbcType="INTEGER" />
    <result column="CAN_CLICK_COUNT" property="canClickCount" jdbcType="TINYINT" />
    <result column="SHOW_ACC_INFO" property="showAccInfo" jdbcType="BIT" />
    <result column="ENGINE_VERSION" property="engineVersion" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    SITE_ID, PROVINCE_ID, CITY_ID, SITE_NAME, FATHER_ID, AVAILABLE_FLAG, B_SPEC, B_EDIT, 
    B_SELFPUB, B_PHOTO, CAN_SERVER_PUB, MEMO, CITY_CODE, CITY_CODE2, SITE_ADDRESS, REG_ADDRESS, 
    INVISIBLE, UPDATE_TIME, MARK_POS, SITE_NOTE, REG_NOTE, SITE_PUB_NOTE, B_RICH_TEXT, 
    B_REF, B_PAY, B_ORDERREF, B_VALID, LOGIN_ADDRESS, SITE_USAGE, SITE_ID_OLD, CAN_CLICK_COUNT, 
    SHOW_ACC_INFO,ENGINE_VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WEB_SITE
    where SITE_ID = #{siteId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from WEB_SITE
    where SITE_ID = #{siteId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminWebSite" >
    <!--@mbggenerated-->
    insert into WEB_SITE (SITE_ID, PROVINCE_ID, CITY_ID, 
      SITE_NAME, FATHER_ID, AVAILABLE_FLAG, 
      B_SPEC, B_EDIT, B_SELFPUB, B_PHOTO, 
      CAN_SERVER_PUB, MEMO, CITY_CODE, 
      CITY_CODE2, SITE_ADDRESS, REG_ADDRESS, 
      INVISIBLE, UPDATE_TIME, MARK_POS, 
      SITE_NOTE, REG_NOTE, SITE_PUB_NOTE, 
      B_RICH_TEXT, B_REF, B_PAY, B_ORDERREF, 
      B_VALID, LOGIN_ADDRESS, SITE_USAGE, 
      SITE_ID_OLD, CAN_CLICK_COUNT, SHOW_ACC_INFO
      )
    values (#{siteId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{siteName,jdbcType=VARCHAR}, #{fatherId,jdbcType=INTEGER}, #{availableFlag,jdbcType=BIT}, 
      #{bSpec,jdbcType=BIT}, #{bEdit,jdbcType=BIT}, #{bSelfpub,jdbcType=BIT}, #{bPhoto,jdbcType=BIT}, 
      #{canServerPub,jdbcType=BIT}, #{memo,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{cityCode2,jdbcType=VARCHAR}, #{siteAddress,jdbcType=VARCHAR}, #{regAddress,jdbcType=VARCHAR}, 
      #{invisible,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}, #{markPos,jdbcType=VARCHAR}, 
      #{siteNote,jdbcType=VARCHAR}, #{regNote,jdbcType=VARCHAR}, #{sitePubNote,jdbcType=VARCHAR}, 
      #{bRichText,jdbcType=BIT}, #{bRef,jdbcType=BIT}, #{bPay,jdbcType=BIT}, #{bOrderref,jdbcType=TINYINT}, 
      #{bValid,jdbcType=BIT}, #{loginAddress,jdbcType=VARCHAR}, #{siteUsage,jdbcType=TINYINT}, 
      #{siteIdOld,jdbcType=INTEGER}, #{canClickCount,jdbcType=TINYINT}, #{showAccInfo,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminWebSite" >
    <!--@mbggenerated-->
    insert into WEB_SITE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="siteName != null" >
        SITE_NAME,
      </if>
      <if test="fatherId != null" >
        FATHER_ID,
      </if>
      <if test="availableFlag != null" >
        AVAILABLE_FLAG,
      </if>
      <if test="bSpec != null" >
        B_SPEC,
      </if>
      <if test="bEdit != null" >
        B_EDIT,
      </if>
      <if test="bSelfpub != null" >
        B_SELFPUB,
      </if>
      <if test="bPhoto != null" >
        B_PHOTO,
      </if>
      <if test="canServerPub != null" >
        CAN_SERVER_PUB,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="cityCode2 != null" >
        CITY_CODE2,
      </if>
      <if test="siteAddress != null" >
        SITE_ADDRESS,
      </if>
      <if test="regAddress != null" >
        REG_ADDRESS,
      </if>
      <if test="invisible != null" >
        INVISIBLE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="markPos != null" >
        MARK_POS,
      </if>
      <if test="siteNote != null" >
        SITE_NOTE,
      </if>
      <if test="regNote != null" >
        REG_NOTE,
      </if>
      <if test="sitePubNote != null" >
        SITE_PUB_NOTE,
      </if>
      <if test="bRichText != null" >
        B_RICH_TEXT,
      </if>
      <if test="bRef != null" >
        B_REF,
      </if>
      <if test="bPay != null" >
        B_PAY,
      </if>
      <if test="bOrderref != null" >
        B_ORDERREF,
      </if>
      <if test="bValid != null" >
        B_VALID,
      </if>
      <if test="loginAddress != null" >
        LOGIN_ADDRESS,
      </if>
      <if test="siteUsage != null" >
        SITE_USAGE,
      </if>
      <if test="siteIdOld != null" >
        SITE_ID_OLD,
      </if>
      <if test="canClickCount != null" >
        CAN_CLICK_COUNT,
      </if>
      <if test="showAccInfo != null" >
        SHOW_ACC_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null" >
        #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="availableFlag != null" >
        #{availableFlag,jdbcType=BIT},
      </if>
      <if test="bSpec != null" >
        #{bSpec,jdbcType=BIT},
      </if>
      <if test="bEdit != null" >
        #{bEdit,jdbcType=BIT},
      </if>
      <if test="bSelfpub != null" >
        #{bSelfpub,jdbcType=BIT},
      </if>
      <if test="bPhoto != null" >
        #{bPhoto,jdbcType=BIT},
      </if>
      <if test="canServerPub != null" >
        #{canServerPub,jdbcType=BIT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode2 != null" >
        #{cityCode2,jdbcType=VARCHAR},
      </if>
      <if test="siteAddress != null" >
        #{siteAddress,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null" >
        #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="invisible != null" >
        #{invisible,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="markPos != null" >
        #{markPos,jdbcType=VARCHAR},
      </if>
      <if test="siteNote != null" >
        #{siteNote,jdbcType=VARCHAR},
      </if>
      <if test="regNote != null" >
        #{regNote,jdbcType=VARCHAR},
      </if>
      <if test="sitePubNote != null" >
        #{sitePubNote,jdbcType=VARCHAR},
      </if>
      <if test="bRichText != null" >
        #{bRichText,jdbcType=BIT},
      </if>
      <if test="bRef != null" >
        #{bRef,jdbcType=BIT},
      </if>
      <if test="bPay != null" >
        #{bPay,jdbcType=BIT},
      </if>
      <if test="bOrderref != null" >
        #{bOrderref,jdbcType=TINYINT},
      </if>
      <if test="bValid != null" >
        #{bValid,jdbcType=BIT},
      </if>
      <if test="loginAddress != null" >
        #{loginAddress,jdbcType=VARCHAR},
      </if>
      <if test="siteUsage != null" >
        #{siteUsage,jdbcType=TINYINT},
      </if>
      <if test="siteIdOld != null" >
        #{siteIdOld,jdbcType=INTEGER},
      </if>
      <if test="canClickCount != null" >
        #{canClickCount,jdbcType=TINYINT},
      </if>
      <if test="showAccInfo != null" >
        #{showAccInfo,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminWebSite" >
    <!--@mbggenerated-->
    update WEB_SITE
    <set >
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="siteName != null" >
        SITE_NAME = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null" >
        FATHER_ID = #{fatherId,jdbcType=INTEGER},
      </if>
      <if test="availableFlag != null" >
        AVAILABLE_FLAG = #{availableFlag,jdbcType=BIT},
      </if>
      <if test="bSpec != null" >
        B_SPEC = #{bSpec,jdbcType=BIT},
      </if>
      <if test="bEdit != null" >
        B_EDIT = #{bEdit,jdbcType=BIT},
      </if>
      <if test="bSelfpub != null" >
        B_SELFPUB = #{bSelfpub,jdbcType=BIT},
      </if>
      <if test="bPhoto != null" >
        B_PHOTO = #{bPhoto,jdbcType=BIT},
      </if>
      <if test="canServerPub != null" >
        CAN_SERVER_PUB = #{canServerPub,jdbcType=BIT},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode2 != null" >
        CITY_CODE2 = #{cityCode2,jdbcType=VARCHAR},
      </if>
      <if test="siteAddress != null" >
        SITE_ADDRESS = #{siteAddress,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null" >
        REG_ADDRESS = #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="invisible != null" >
        INVISIBLE = #{invisible,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="markPos != null" >
        MARK_POS = #{markPos,jdbcType=VARCHAR},
      </if>
      <if test="siteNote != null" >
        SITE_NOTE = #{siteNote,jdbcType=VARCHAR},
      </if>
      <if test="regNote != null" >
        REG_NOTE = #{regNote,jdbcType=VARCHAR},
      </if>
      <if test="sitePubNote != null" >
        SITE_PUB_NOTE = #{sitePubNote,jdbcType=VARCHAR},
      </if>
      <if test="bRichText != null" >
        B_RICH_TEXT = #{bRichText,jdbcType=BIT},
      </if>
      <if test="bRef != null" >
        B_REF = #{bRef,jdbcType=BIT},
      </if>
      <if test="bPay != null" >
        B_PAY = #{bPay,jdbcType=BIT},
      </if>
      <if test="bOrderref != null" >
        B_ORDERREF = #{bOrderref,jdbcType=TINYINT},
      </if>
      <if test="bValid != null" >
        B_VALID = #{bValid,jdbcType=BIT},
      </if>
      <if test="loginAddress != null" >
        LOGIN_ADDRESS = #{loginAddress,jdbcType=VARCHAR},
      </if>
      <if test="siteUsage != null" >
        SITE_USAGE = #{siteUsage,jdbcType=TINYINT},
      </if>
      <if test="siteIdOld != null" >
        SITE_ID_OLD = #{siteIdOld,jdbcType=INTEGER},
      </if>
      <if test="canClickCount != null" >
        CAN_CLICK_COUNT = #{canClickCount,jdbcType=TINYINT},
      </if>
      <if test="showAccInfo != null" >
        SHOW_ACC_INFO = #{showAccInfo,jdbcType=BIT},
      </if>
    </set>
    where SITE_ID = #{siteId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminWebSite" >
    <!--@mbggenerated-->
    update WEB_SITE
    set PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      SITE_NAME = #{siteName,jdbcType=VARCHAR},
      FATHER_ID = #{fatherId,jdbcType=INTEGER},
      AVAILABLE_FLAG = #{availableFlag,jdbcType=BIT},
      B_SPEC = #{bSpec,jdbcType=BIT},
      B_EDIT = #{bEdit,jdbcType=BIT},
      B_SELFPUB = #{bSelfpub,jdbcType=BIT},
      B_PHOTO = #{bPhoto,jdbcType=BIT},
      CAN_SERVER_PUB = #{canServerPub,jdbcType=BIT},
      MEMO = #{memo,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CITY_CODE2 = #{cityCode2,jdbcType=VARCHAR},
      SITE_ADDRESS = #{siteAddress,jdbcType=VARCHAR},
      REG_ADDRESS = #{regAddress,jdbcType=VARCHAR},
      INVISIBLE = #{invisible,jdbcType=TINYINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      MARK_POS = #{markPos,jdbcType=VARCHAR},
      SITE_NOTE = #{siteNote,jdbcType=VARCHAR},
      REG_NOTE = #{regNote,jdbcType=VARCHAR},
      SITE_PUB_NOTE = #{sitePubNote,jdbcType=VARCHAR},
      B_RICH_TEXT = #{bRichText,jdbcType=BIT},
      B_REF = #{bRef,jdbcType=BIT},
      B_PAY = #{bPay,jdbcType=BIT},
      B_ORDERREF = #{bOrderref,jdbcType=TINYINT},
      B_VALID = #{bValid,jdbcType=BIT},
      LOGIN_ADDRESS = #{loginAddress,jdbcType=VARCHAR},
      SITE_USAGE = #{siteUsage,jdbcType=TINYINT},
      SITE_ID_OLD = #{siteIdOld,jdbcType=INTEGER},
      CAN_CLICK_COUNT = #{canClickCount,jdbcType=TINYINT},
      SHOW_ACC_INFO = #{showAccInfo,jdbcType=BIT}
    where SITE_ID = #{siteId,jdbcType=INTEGER}
  </update>
  <select id="getSiteMapByCityId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from WEB_SITE
		<where>
		<if test="cityId != null and '' != cityId ">
		CITY_ID = #{cityId}
		</if>
		AND INVISIBLE = 0
		AND AVAILABLE_FLAG = 1
		</where>		
	</select>
	<select id="getSiteName" resultType="java.util.Map">
		select
		SITE_ID AS siteId,
		 SITE_NAME as siteName
		from WEB_SITE
		<where>
		<if test="param.cityId != null and '' != param.cityId ">
		CITY_ID = #{param.cityId}
		</if>
		and SITE_ID in
		<foreach item="sId" index="index" collection="sitesIdList" open="(" close=")" separator=","> 
    	 #{sId}
    	</foreach>
		AND INVISIBLE = 0
		AND AVAILABLE_FLAG = 1
		</where>		
	</select>
</mapper>