<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminPushMessageMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminPushMessage">
    <!--@mbggenerated-->
    <id column="MSG_ID" jdbcType="INTEGER" property="msgId" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="PHOTO_ADDR" jdbcType="VARCHAR" property="photoAddr" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="MARK" jdbcType="VARCHAR" property="mark" />
    <result column="MSG_CONTENT" jdbcType="VARCHAR" property="msgContent" />
    <result column="IM_TYPE" jdbcType="INTEGER" property="imType" />
    <result column="MSG_TYPE" jdbcType="INTEGER" property="msgType" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="JSON" jdbcType="VARCHAR" property="json" />
    <result column="IS_PUSH" jdbcType="TINYINT" property="isPush" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="CASE_TYPE" jdbcType="INTEGER" property="caseType" />
    <result column="SENDER" jdbcType="VARCHAR" property="sender" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    MSG_ID, ARCHIVE_ID, PHOTO_ADDR, TITLE, MARK, MSG_CONTENT, IM_TYPE, MSG_TYPE, URL, 
    JSON, IS_PUSH, CREATE_TIME, CASE_ID, CITY_ID, CASE_TYPE, SENDER
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminPushMessageExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PUSH_MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from PUSH_MESSAGE
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from PUSH_MESSAGE
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminPushMessageExample">
    <!--@mbggenerated-->
    delete from PUSH_MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="msgId" parameterType="com.myfun.repository.admindb.po.AdminPushMessage" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into PUSH_MESSAGE (ARCHIVE_ID, PHOTO_ADDR, TITLE, 
      MARK, MSG_CONTENT, IM_TYPE, 
      MSG_TYPE, URL, JSON, 
      IS_PUSH, CREATE_TIME, CASE_ID, 
      CITY_ID, CASE_TYPE, SENDER
      )
    values (#{archiveId,jdbcType=INTEGER}, #{photoAddr,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{mark,jdbcType=VARCHAR}, #{msgContent,jdbcType=VARCHAR}, #{imType,jdbcType=INTEGER}, 
      #{msgType,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{json,jdbcType=VARCHAR}, 
      #{isPush,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{caseId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{caseType,jdbcType=INTEGER}, #{sender,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyProperty="msgId" parameterType="com.myfun.repository.admindb.po.AdminPushMessage" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into PUSH_MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="mark != null">
        MARK,
      </if>
      <if test="msgContent != null">
        MSG_CONTENT,
      </if>
      <if test="imType != null">
        IM_TYPE,
      </if>
      <if test="msgType != null">
        MSG_TYPE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="json != null">
        JSON,
      </if>
      <if test="isPush != null">
        IS_PUSH,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="sender != null">
        SENDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null">
        #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="imType != null">
        #{imType,jdbcType=INTEGER},
      </if>
      <if test="msgType != null">
        #{msgType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="json != null">
        #{json,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        #{isPush,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=INTEGER},
      </if>
      <if test="sender != null">
        #{sender,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminPushMessageExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from PUSH_MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update PUSH_MESSAGE
    <set>
      <if test="record.msgId != null">
        MSG_ID = #{record.msgId,jdbcType=INTEGER},
      </if>
      <if test="record.archiveId != null">
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.photoAddr != null">
        PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.mark != null">
        MARK = #{record.mark,jdbcType=VARCHAR},
      </if>
      <if test="record.msgContent != null">
        MSG_CONTENT = #{record.msgContent,jdbcType=VARCHAR},
      </if>
      <if test="record.imType != null">
        IM_TYPE = #{record.imType,jdbcType=INTEGER},
      </if>
      <if test="record.msgType != null">
        MSG_TYPE = #{record.msgType,jdbcType=INTEGER},
      </if>
      <if test="record.url != null">
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.json != null">
        JSON = #{record.json,jdbcType=VARCHAR},
      </if>
      <if test="record.isPush != null">
        IS_PUSH = #{record.isPush,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.caseId != null">
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=INTEGER},
      </if>
      <if test="record.sender != null">
        SENDER = #{record.sender,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update PUSH_MESSAGE
    set MSG_ID = #{record.msgId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      MARK = #{record.mark,jdbcType=VARCHAR},
      MSG_CONTENT = #{record.msgContent,jdbcType=VARCHAR},
      IM_TYPE = #{record.imType,jdbcType=INTEGER},
      MSG_TYPE = #{record.msgType,jdbcType=INTEGER},
      URL = #{record.url,jdbcType=VARCHAR},
      JSON = #{record.json,jdbcType=VARCHAR},
      IS_PUSH = #{record.isPush,jdbcType=TINYINT},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=INTEGER},
      SENDER = #{record.sender,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminPushMessage">
    <!--@mbggenerated-->
    update PUSH_MESSAGE
    <set>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null">
        PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        MARK = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="msgContent != null">
        MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="imType != null">
        IM_TYPE = #{imType,jdbcType=INTEGER},
      </if>
      <if test="msgType != null">
        MSG_TYPE = #{msgType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="json != null">
        JSON = #{json,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        IS_PUSH = #{isPush,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=INTEGER},
      </if>
      <if test="sender != null">
        SENDER = #{sender,jdbcType=VARCHAR},
      </if>
    </set>
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminPushMessage">
    <!--@mbggenerated-->
    update PUSH_MESSAGE
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      MARK = #{mark,jdbcType=VARCHAR},
      MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      IM_TYPE = #{imType,jdbcType=INTEGER},
      MSG_TYPE = #{msgType,jdbcType=INTEGER},
      URL = #{url,jdbcType=VARCHAR},
      JSON = #{json,jdbcType=VARCHAR},
      IS_PUSH = #{isPush,jdbcType=TINYINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=INTEGER},
      SENDER = #{sender,jdbcType=VARCHAR}
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </update>
</mapper>