<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminHouseAreaPriceMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminHouseAreaPrice" >
    <!--@mbggenerated-->
    <id column="FId" property="fid" jdbcType="INTEGER" />
    <result column="FCityId" property="fcityid" jdbcType="INTEGER" />
    <result column="FType" property="ftype" jdbcType="TINYINT" />
    <result column="FCaseId" property="fcaseid" jdbcType="INTEGER" />
    <result column="FStDate" property="fstdate" jdbcType="VARCHAR" />
    <result column="FStValue" property="fstvalue" jdbcType="INTEGER" />
    <result column="FStatus" property="fstatus" jdbcType="TINYINT" />
    <result column="FCreateTime" property="fcreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    FId, FCityId, FType, FCaseId, FStDate, FStValue, FStatus, FCreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from HOUSE_AREA_PRICE
    where FId = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from HOUSE_AREA_PRICE
    where FId = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminHouseAreaPrice" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="fid" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into HOUSE_AREA_PRICE (FCityId, FType, FCaseId, 
      FStDate, FStValue, FStatus, 
      FCreateTime)
    values (#{fcityid,jdbcType=INTEGER}, #{ftype,jdbcType=TINYINT}, #{fcaseid,jdbcType=INTEGER}, 
      #{fstdate,jdbcType=VARCHAR}, #{fstvalue,jdbcType=INTEGER}, #{fstatus,jdbcType=TINYINT}, 
      #{fcreatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminHouseAreaPrice" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="fid" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into HOUSE_AREA_PRICE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fcityid != null" >
        FCityId,
      </if>
      <if test="ftype != null" >
        FType,
      </if>
      <if test="fcaseid != null" >
        FCaseId,
      </if>
      <if test="fstdate != null" >
        FStDate,
      </if>
      <if test="fstvalue != null" >
        FStValue,
      </if>
      <if test="fstatus != null" >
        FStatus,
      </if>
      <if test="fcreatetime != null" >
        FCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fcityid != null" >
        #{fcityid,jdbcType=INTEGER},
      </if>
      <if test="ftype != null" >
        #{ftype,jdbcType=TINYINT},
      </if>
      <if test="fcaseid != null" >
        #{fcaseid,jdbcType=INTEGER},
      </if>
      <if test="fstdate != null" >
        #{fstdate,jdbcType=VARCHAR},
      </if>
      <if test="fstvalue != null" >
        #{fstvalue,jdbcType=INTEGER},
      </if>
      <if test="fstatus != null" >
        #{fstatus,jdbcType=TINYINT},
      </if>
      <if test="fcreatetime != null" >
        #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminHouseAreaPrice" >
    <!--@mbggenerated-->
    update HOUSE_AREA_PRICE
    <set >
      <if test="fcityid != null" >
        FCityId = #{fcityid,jdbcType=INTEGER},
      </if>
      <if test="ftype != null" >
        FType = #{ftype,jdbcType=TINYINT},
      </if>
      <if test="fcaseid != null" >
        FCaseId = #{fcaseid,jdbcType=INTEGER},
      </if>
      <if test="fstdate != null" >
        FStDate = #{fstdate,jdbcType=VARCHAR},
      </if>
      <if test="fstvalue != null" >
        FStValue = #{fstvalue,jdbcType=INTEGER},
      </if>
      <if test="fstatus != null" >
        FStatus = #{fstatus,jdbcType=TINYINT},
      </if>
      <if test="fcreatetime != null" >
        FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FId = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminHouseAreaPrice" >
    <!--@mbggenerated-->
    update HOUSE_AREA_PRICE
    set FCityId = #{fcityid,jdbcType=INTEGER},
      FType = #{ftype,jdbcType=TINYINT},
      FCaseId = #{fcaseid,jdbcType=INTEGER},
      FStDate = #{fstdate,jdbcType=VARCHAR},
      FStValue = #{fstvalue,jdbcType=INTEGER},
      FStatus = #{fstatus,jdbcType=TINYINT},
      FCreateTime = #{fcreatetime,jdbcType=TIMESTAMP}
    where FId = #{fid,jdbcType=INTEGER}
  </update>
</mapper>