<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminGoodNewsTempleteMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminGoodNewsTemplete">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TEMPLETE_BACKGROUND" jdbcType="VARCHAR" property="templeteBackground" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.myfun.repository.admindb.po.AdminGoodNewsTemplete">
    <!--@mbggenerated-->
    <result column="TEMPLETE_CONTENT" jdbcType="CLOB" property="templeteContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, TEMPLETE_BACKGROUND
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbggenerated-->
    TEMPLETE_CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from GOOD_NEWS_TEMPLETE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from GOOD_NEWS_TEMPLETE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.admindb.po.AdminGoodNewsTemplete" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into GOOD_NEWS_TEMPLETE (TEMPLETE_BACKGROUND, TEMPLETE_CONTENT)
    values (#{templeteBackground,jdbcType=VARCHAR}, #{templeteContent,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.admindb.po.AdminGoodNewsTemplete" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into GOOD_NEWS_TEMPLETE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templeteBackground != null">
        TEMPLETE_BACKGROUND,
      </if>
      <if test="templeteContent != null">
        TEMPLETE_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templeteBackground != null">
        #{templeteBackground,jdbcType=VARCHAR},
      </if>
      <if test="templeteContent != null">
        #{templeteContent,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminGoodNewsTemplete">
    <!--@mbggenerated-->
    update GOOD_NEWS_TEMPLETE
    <set>
      <if test="templeteBackground != null">
        TEMPLETE_BACKGROUND = #{templeteBackground,jdbcType=VARCHAR},
      </if>
      <if test="templeteContent != null">
        TEMPLETE_CONTENT = #{templeteContent,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myfun.repository.admindb.po.AdminGoodNewsTemplete">
    <!--@mbggenerated-->
    update GOOD_NEWS_TEMPLETE
    set TEMPLETE_BACKGROUND = #{templeteBackground,jdbcType=VARCHAR},
      TEMPLETE_CONTENT = #{templeteContent,jdbcType=CLOB}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminGoodNewsTemplete">
    <!--@mbggenerated-->
    update GOOD_NEWS_TEMPLETE
    set TEMPLETE_BACKGROUND = #{templeteBackground,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectLastUseTemplet" resultMap ="ResultMapWithBLOBs" >
    select 
    top 1
 	 B.ID,B.TEMPLETE_BACKGROUND,B.TEMPLETE_CONTENT
    from BULLET A left join GOOD_NEWS_TEMPLETE B ON A.TEMPLETE_ID = B.ID
    where COMP_ID = #{compId} and BULLET_BOUND = 8 and A.RELEASE_STATUS =1  order by ORDER_TIME desc
  </select>
</mapper>