<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminCityshareBorkerComplaintMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaint">
    <!--@mbggenerated-->
    <id column="COMPLAINT_ID" jdbcType="INTEGER" property="complaintId" />
    <result column="SHAREHOUSE_ID" jdbcType="INTEGER" property="sharehouseId" />
    <result column="CINFO_TYPE" jdbcType="TINYINT" property="cinfoType" />
    <result column="SOURCE_COMP_ID" jdbcType="INTEGER" property="sourceCompId" />
    <result column="SOURCE_DEPT_ID" jdbcType="INTEGER" property="sourceDeptId" />
    <result column="SOURCE_USER_ID" jdbcType="INTEGER" property="sourceUserId" />
    <result column="SOURCE_ARCHIVE_ID" jdbcType="INTEGER" property="sourceArchiveId" />
    <result column="TARGET_COMP_ID" jdbcType="INTEGER" property="targetCompId" />
    <result column="TARGET_DEPT_ID" jdbcType="INTEGER" property="targetDeptId" />
    <result column="TARGET_USER_ID" jdbcType="INTEGER" property="targetUserId" />
    <result column="TARGET_ARCHIVE_ID" jdbcType="INTEGER" property="targetArchiveId" />
    <result column="COMPLAIN_CONTENT" jdbcType="VARCHAR" property="complainContent" />
    <result column="COMPLAIN_TYPE" jdbcType="TINYINT" property="complainType" />
    <result column="DEAL_STATUS" jdbcType="TINYINT" property="dealStatus" />
    <result column="DEAL_TYPE" jdbcType="TINYINT" property="dealType" />
    <result column="DEAL_DESC" jdbcType="VARCHAR" property="dealDesc" />
    <result column="DEAL_TIME" jdbcType="TIMESTAMP" property="dealTime" />
    <result column="DEAL_CRM_USER" jdbcType="INTEGER" property="dealCrmUser" />
    <result column="COMPLAIN_TIME" jdbcType="TIMESTAMP" property="complainTime" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="CASE_TYPE" jdbcType="TINYINT" property="caseType" />
    <result column="CASE_NO" jdbcType="VARCHAR" property="caseNo" />
    <result column="COOPERATION_TYPE" jdbcType="TINYINT" property="cooperationType" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="DEAL_METHOD" jdbcType="TINYINT" property="dealMethod" />
  </resultMap>
	<resultMap
		type="com.myfun.repository.admindb.dto.AdminCityshareBorkerComplaintDto" id="BaseResultMapDto" extends="BaseResultMap">
		<result column="SETTING_NAME" jdbcType="VARCHAR" property="settingName" />
	</resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    COMPLAINT_ID, SHAREHOUSE_ID, CINFO_TYPE, SOURCE_COMP_ID, SOURCE_DEPT_ID, SOURCE_USER_ID, 
    SOURCE_ARCHIVE_ID, TARGET_COMP_ID, TARGET_DEPT_ID, TARGET_USER_ID, TARGET_ARCHIVE_ID, 
    COMPLAIN_CONTENT, COMPLAIN_TYPE, DEAL_STATUS, DEAL_TYPE, DEAL_DESC, DEAL_TIME, DEAL_CRM_USER, 
    COMPLAIN_TIME, CITY_ID, CASE_TYPE, CASE_NO, COOPERATION_TYPE, CASE_ID, DEAL_METHOD
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaintExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CITYSHARE_BORKER_COMPLAINT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from CITYSHARE_BORKER_COMPLAINT
    where COMPLAINT_ID = #{complaintId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from CITYSHARE_BORKER_COMPLAINT
    where COMPLAINT_ID = #{complaintId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaintExample">
    <!--@mbggenerated-->
    delete from CITYSHARE_BORKER_COMPLAINT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaint">
    <!--@mbggenerated-->
    <selectKey keyProperty="complaintId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_FUN_USER_ACCOUNT_UA_ID
    </selectKey>
    insert into CITYSHARE_BORKER_COMPLAINT (COMPLAINT_ID, SHAREHOUSE_ID, CINFO_TYPE, 
      SOURCE_COMP_ID, SOURCE_DEPT_ID, SOURCE_USER_ID, 
      SOURCE_ARCHIVE_ID, TARGET_COMP_ID, TARGET_DEPT_ID, 
      TARGET_USER_ID, TARGET_ARCHIVE_ID, COMPLAIN_CONTENT, 
      COMPLAIN_TYPE, DEAL_STATUS, DEAL_TYPE, 
      DEAL_DESC, DEAL_TIME, DEAL_CRM_USER, 
      COMPLAIN_TIME, CITY_ID, CASE_TYPE, 
      CASE_NO, COOPERATION_TYPE, CASE_ID, 
      DEAL_METHOD)
    values (#{complaintId,jdbcType=INTEGER}, #{sharehouseId,jdbcType=INTEGER}, #{cinfoType,jdbcType=TINYINT}, 
      #{sourceCompId,jdbcType=INTEGER}, #{sourceDeptId,jdbcType=INTEGER}, #{sourceUserId,jdbcType=INTEGER}, 
      #{sourceArchiveId,jdbcType=INTEGER}, #{targetCompId,jdbcType=INTEGER}, #{targetDeptId,jdbcType=INTEGER}, 
      #{targetUserId,jdbcType=INTEGER}, #{targetArchiveId,jdbcType=INTEGER}, #{complainContent,jdbcType=VARCHAR}, 
      #{complainType,jdbcType=TINYINT}, #{dealStatus,jdbcType=TINYINT}, #{dealType,jdbcType=TINYINT}, 
      #{dealDesc,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP}, #{dealCrmUser,jdbcType=INTEGER}, 
      #{complainTime,jdbcType=TIMESTAMP}, #{cityId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{caseNo,jdbcType=VARCHAR}, #{cooperationType,jdbcType=TINYINT}, #{caseId,jdbcType=INTEGER}, 
      #{dealMethod,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaint">
    <!--@mbggenerated-->
    <selectKey keyProperty="complaintId" order="BEFORE" resultType="java.lang.Integer">
      SELECT next value for SEQ_FUN_USER_ACCOUNT_UA_ID
    </selectKey>
    insert into CITYSHARE_BORKER_COMPLAINT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      COMPLAINT_ID,
      <if test="sharehouseId != null">
        SHAREHOUSE_ID,
      </if>
      <if test="cinfoType != null">
        CINFO_TYPE,
      </if>
      <if test="sourceCompId != null">
        SOURCE_COMP_ID,
      </if>
      <if test="sourceDeptId != null">
        SOURCE_DEPT_ID,
      </if>
      <if test="sourceUserId != null">
        SOURCE_USER_ID,
      </if>
      <if test="sourceArchiveId != null">
        SOURCE_ARCHIVE_ID,
      </if>
      <if test="targetCompId != null">
        TARGET_COMP_ID,
      </if>
      <if test="targetDeptId != null">
        TARGET_DEPT_ID,
      </if>
      <if test="targetUserId != null">
        TARGET_USER_ID,
      </if>
      <if test="targetArchiveId != null">
        TARGET_ARCHIVE_ID,
      </if>
      <if test="complainContent != null">
        COMPLAIN_CONTENT,
      </if>
      <if test="complainType != null">
        COMPLAIN_TYPE,
      </if>
      <if test="dealStatus != null">
        DEAL_STATUS,
      </if>
      <if test="dealType != null">
        DEAL_TYPE,
      </if>
      <if test="dealDesc != null">
        DEAL_DESC,
      </if>
      <if test="dealTime != null">
        DEAL_TIME,
      </if>
      <if test="dealCrmUser != null">
        DEAL_CRM_USER,
      </if>
      <if test="complainTime != null">
        COMPLAIN_TIME,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="caseNo != null">
        CASE_NO,
      </if>
      <if test="cooperationType != null">
        COOPERATION_TYPE,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="dealMethod != null">
        DEAL_METHOD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{complaintId,jdbcType=INTEGER},
      <if test="sharehouseId != null">
        #{sharehouseId,jdbcType=INTEGER},
      </if>
      <if test="cinfoType != null">
        #{cinfoType,jdbcType=TINYINT},
      </if>
      <if test="sourceCompId != null">
        #{sourceCompId,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptId != null">
        #{sourceDeptId,jdbcType=INTEGER},
      </if>
      <if test="sourceUserId != null">
        #{sourceUserId,jdbcType=INTEGER},
      </if>
      <if test="sourceArchiveId != null">
        #{sourceArchiveId,jdbcType=INTEGER},
      </if>
      <if test="targetCompId != null">
        #{targetCompId,jdbcType=INTEGER},
      </if>
      <if test="targetDeptId != null">
        #{targetDeptId,jdbcType=INTEGER},
      </if>
      <if test="targetUserId != null">
        #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="targetArchiveId != null">
        #{targetArchiveId,jdbcType=INTEGER},
      </if>
      <if test="complainContent != null">
        #{complainContent,jdbcType=VARCHAR},
      </if>
      <if test="complainType != null">
        #{complainType,jdbcType=TINYINT},
      </if>
      <if test="dealStatus != null">
        #{dealStatus,jdbcType=TINYINT},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=TINYINT},
      </if>
      <if test="dealDesc != null">
        #{dealDesc,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealCrmUser != null">
        #{dealCrmUser,jdbcType=INTEGER},
      </if>
      <if test="complainTime != null">
        #{complainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseNo != null">
        #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="cooperationType != null">
        #{cooperationType,jdbcType=TINYINT},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="dealMethod != null">
        #{dealMethod,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaintExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from CITYSHARE_BORKER_COMPLAINT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update CITYSHARE_BORKER_COMPLAINT
    <set>
      <if test="record.complaintId != null">
        COMPLAINT_ID = #{record.complaintId,jdbcType=INTEGER},
      </if>
      <if test="record.sharehouseId != null">
        SHAREHOUSE_ID = #{record.sharehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.cinfoType != null">
        CINFO_TYPE = #{record.cinfoType,jdbcType=TINYINT},
      </if>
      <if test="record.sourceCompId != null">
        SOURCE_COMP_ID = #{record.sourceCompId,jdbcType=INTEGER},
      </if>
      <if test="record.sourceDeptId != null">
        SOURCE_DEPT_ID = #{record.sourceDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.sourceUserId != null">
        SOURCE_USER_ID = #{record.sourceUserId,jdbcType=INTEGER},
      </if>
      <if test="record.sourceArchiveId != null">
        SOURCE_ARCHIVE_ID = #{record.sourceArchiveId,jdbcType=INTEGER},
      </if>
      <if test="record.targetCompId != null">
        TARGET_COMP_ID = #{record.targetCompId,jdbcType=INTEGER},
      </if>
      <if test="record.targetDeptId != null">
        TARGET_DEPT_ID = #{record.targetDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.targetUserId != null">
        TARGET_USER_ID = #{record.targetUserId,jdbcType=INTEGER},
      </if>
      <if test="record.targetArchiveId != null">
        TARGET_ARCHIVE_ID = #{record.targetArchiveId,jdbcType=INTEGER},
      </if>
      <if test="record.complainContent != null">
        COMPLAIN_CONTENT = #{record.complainContent,jdbcType=VARCHAR},
      </if>
      <if test="record.complainType != null">
        COMPLAIN_TYPE = #{record.complainType,jdbcType=TINYINT},
      </if>
      <if test="record.dealStatus != null">
        DEAL_STATUS = #{record.dealStatus,jdbcType=TINYINT},
      </if>
      <if test="record.dealType != null">
        DEAL_TYPE = #{record.dealType,jdbcType=TINYINT},
      </if>
      <if test="record.dealDesc != null">
        DEAL_DESC = #{record.dealDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTime != null">
        DEAL_TIME = #{record.dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealCrmUser != null">
        DEAL_CRM_USER = #{record.dealCrmUser,jdbcType=INTEGER},
      </if>
      <if test="record.complainTime != null">
        COMPLAIN_TIME = #{record.complainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null">
        CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      </if>
      <if test="record.caseNo != null">
        CASE_NO = #{record.caseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cooperationType != null">
        COOPERATION_TYPE = #{record.cooperationType,jdbcType=TINYINT},
      </if>
      <if test="record.caseId != null">
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.dealMethod != null">
        DEAL_METHOD = #{record.dealMethod,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update CITYSHARE_BORKER_COMPLAINT
    set COMPLAINT_ID = #{record.complaintId,jdbcType=INTEGER},
      SHAREHOUSE_ID = #{record.sharehouseId,jdbcType=INTEGER},
      CINFO_TYPE = #{record.cinfoType,jdbcType=TINYINT},
      SOURCE_COMP_ID = #{record.sourceCompId,jdbcType=INTEGER},
      SOURCE_DEPT_ID = #{record.sourceDeptId,jdbcType=INTEGER},
      SOURCE_USER_ID = #{record.sourceUserId,jdbcType=INTEGER},
      SOURCE_ARCHIVE_ID = #{record.sourceArchiveId,jdbcType=INTEGER},
      TARGET_COMP_ID = #{record.targetCompId,jdbcType=INTEGER},
      TARGET_DEPT_ID = #{record.targetDeptId,jdbcType=INTEGER},
      TARGET_USER_ID = #{record.targetUserId,jdbcType=INTEGER},
      TARGET_ARCHIVE_ID = #{record.targetArchiveId,jdbcType=INTEGER},
      COMPLAIN_CONTENT = #{record.complainContent,jdbcType=VARCHAR},
      COMPLAIN_TYPE = #{record.complainType,jdbcType=TINYINT},
      DEAL_STATUS = #{record.dealStatus,jdbcType=TINYINT},
      DEAL_TYPE = #{record.dealType,jdbcType=TINYINT},
      DEAL_DESC = #{record.dealDesc,jdbcType=VARCHAR},
      DEAL_TIME = #{record.dealTime,jdbcType=TIMESTAMP},
      DEAL_CRM_USER = #{record.dealCrmUser,jdbcType=INTEGER},
      COMPLAIN_TIME = #{record.complainTime,jdbcType=TIMESTAMP},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      CASE_NO = #{record.caseNo,jdbcType=VARCHAR},
      COOPERATION_TYPE = #{record.cooperationType,jdbcType=TINYINT},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      DEAL_METHOD = #{record.dealMethod,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaint">
    <!--@mbggenerated-->
    update CITYSHARE_BORKER_COMPLAINT
    <set>
      <if test="sharehouseId != null">
        SHAREHOUSE_ID = #{sharehouseId,jdbcType=INTEGER},
      </if>
      <if test="cinfoType != null">
        CINFO_TYPE = #{cinfoType,jdbcType=TINYINT},
      </if>
      <if test="sourceCompId != null">
        SOURCE_COMP_ID = #{sourceCompId,jdbcType=INTEGER},
      </if>
      <if test="sourceDeptId != null">
        SOURCE_DEPT_ID = #{sourceDeptId,jdbcType=INTEGER},
      </if>
      <if test="sourceUserId != null">
        SOURCE_USER_ID = #{sourceUserId,jdbcType=INTEGER},
      </if>
      <if test="sourceArchiveId != null">
        SOURCE_ARCHIVE_ID = #{sourceArchiveId,jdbcType=INTEGER},
      </if>
      <if test="targetCompId != null">
        TARGET_COMP_ID = #{targetCompId,jdbcType=INTEGER},
      </if>
      <if test="targetDeptId != null">
        TARGET_DEPT_ID = #{targetDeptId,jdbcType=INTEGER},
      </if>
      <if test="targetUserId != null">
        TARGET_USER_ID = #{targetUserId,jdbcType=INTEGER},
      </if>
      <if test="targetArchiveId != null">
        TARGET_ARCHIVE_ID = #{targetArchiveId,jdbcType=INTEGER},
      </if>
      <if test="complainContent != null">
        COMPLAIN_CONTENT = #{complainContent,jdbcType=VARCHAR},
      </if>
      <if test="complainType != null">
        COMPLAIN_TYPE = #{complainType,jdbcType=TINYINT},
      </if>
      <if test="dealStatus != null">
        DEAL_STATUS = #{dealStatus,jdbcType=TINYINT},
      </if>
      <if test="dealType != null">
        DEAL_TYPE = #{dealType,jdbcType=TINYINT},
      </if>
      <if test="dealDesc != null">
        DEAL_DESC = #{dealDesc,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null">
        DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealCrmUser != null">
        DEAL_CRM_USER = #{dealCrmUser,jdbcType=INTEGER},
      </if>
      <if test="complainTime != null">
        COMPLAIN_TIME = #{complainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseNo != null">
        CASE_NO = #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="cooperationType != null">
        COOPERATION_TYPE = #{cooperationType,jdbcType=TINYINT},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="dealMethod != null">
        DEAL_METHOD = #{dealMethod,jdbcType=TINYINT},
      </if>
    </set>
    where COMPLAINT_ID = #{complaintId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminCityshareBorkerComplaint">
    <!--@mbggenerated-->
    update CITYSHARE_BORKER_COMPLAINT
    set SHAREHOUSE_ID = #{sharehouseId,jdbcType=INTEGER},
      CINFO_TYPE = #{cinfoType,jdbcType=TINYINT},
      SOURCE_COMP_ID = #{sourceCompId,jdbcType=INTEGER},
      SOURCE_DEPT_ID = #{sourceDeptId,jdbcType=INTEGER},
      SOURCE_USER_ID = #{sourceUserId,jdbcType=INTEGER},
      SOURCE_ARCHIVE_ID = #{sourceArchiveId,jdbcType=INTEGER},
      TARGET_COMP_ID = #{targetCompId,jdbcType=INTEGER},
      TARGET_DEPT_ID = #{targetDeptId,jdbcType=INTEGER},
      TARGET_USER_ID = #{targetUserId,jdbcType=INTEGER},
      TARGET_ARCHIVE_ID = #{targetArchiveId,jdbcType=INTEGER},
      COMPLAIN_CONTENT = #{complainContent,jdbcType=VARCHAR},
      COMPLAIN_TYPE = #{complainType,jdbcType=TINYINT},
      DEAL_STATUS = #{dealStatus,jdbcType=TINYINT},
      DEAL_TYPE = #{dealType,jdbcType=TINYINT},
      DEAL_DESC = #{dealDesc,jdbcType=VARCHAR},
      DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      DEAL_CRM_USER = #{dealCrmUser,jdbcType=INTEGER},
      COMPLAIN_TIME = #{complainTime,jdbcType=TIMESTAMP},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      CASE_NO = #{caseNo,jdbcType=VARCHAR},
      COOPERATION_TYPE = #{cooperationType,jdbcType=TINYINT},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      DEAL_METHOD = #{dealMethod,jdbcType=TINYINT}
    where COMPLAINT_ID = #{complaintId,jdbcType=INTEGER}
  </update>

	<select id="getDealStatusList" resultMap="BaseResultMap">
		SELECT DEAL_STATUS FROM CITYSHARE_BORKER_COMPLAINT
		WHERE SHAREHOUSE_ID = #{shareHouseId}
		<if test="0 == dealStatusJudge">
			AND DEAL_STATUS != #{dealStatus}
		</if>
		<if test="1 == dealStatusJudge">
			AND DEAL_STATUS = #{dealStatus}
		</if>
		AND SOURCE_ARCHIVE_ID = #{selfArchiveId}
		<if test="1 == cinfoType">
			AND TARGET_ARCHIVE_ID = #{targetArchiveId}
		</if>
	</select>
	
	<select id="getListForBaseBeans" resultMap="BaseResultMapDto">
		SELECT 
		A.SHAREHOUSE_ID,A.CINFO_TYPE,A.COMPLAIN_TYPE,A.COMPLAIN_TIME,A.COMPLAIN_CONTENT,A.DEAL_DESC,A.SOURCE_USER_ID,
		A.TARGET_DEPT_ID,A.DEAL_STATUS,A.DEAL_TIME,A.TARGET_ARCHIVE_ID,A.SOURCE_ARCHIVE_ID,B.SETTING_NAME 
		FROM
		CITYSHARE_BORKER_COMPLAINT A LEFT join CITYHOUSE_COMPLAINT_SETTING B ON A.COMPLAIN_TYPE = B.SETTING_ID
		WHERE A.CITY_ID = #{cityId} AND A.CASE_ID = #{caseId} AND A.CASE_TYPE = #{caseType}
		AND (
		A.SOURCE_USER_ID = #{userId} OR A.TARGET_USER_ID = #{userId}
		)
		ORDER BY A.COMPLAIN_TIME DESC
	</select>
</mapper>