<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminFddCityMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFddCity" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FDD_CITY_ID" property="fddCityId" jdbcType="INTEGER" />
    <result column="FDD_CITY_NAME" property="fddCityName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="HFT_CITY_ID" property="hftCityId" jdbcType="INTEGER" />
    <result column="OPEN_FDD_FLAG" property="openFddFlag" jdbcType="TINYINT" />
    <result column="HOUSE_TOPLINE" property="houseTopline" jdbcType="TINYINT" />
    <result column="BUILD_REDPACKET" property="buildRedpacket" jdbcType="TINYINT" />
    <result column="NEW_HOUSE_SALE" property="newHouseSale" jdbcType="TINYINT" />
    <result column="BUY_PRE_CARD" property="buyPreCard" jdbcType="TINYINT" />
    <result column="OPEN_FDD_ICON" property="openFddIcon" jdbcType="TINYINT" />
    <result column="IS_OPEN_FDD" property="isOpenFdd" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, FDD_CITY_ID, FDD_CITY_NAME, CREATE_TIME, HFT_CITY_ID, OPEN_FDD_FLAG, HOUSE_TOPLINE, 
    BUILD_REDPACKET, NEW_HOUSE_SALE, BUY_PRE_CARD, OPEN_FDD_ICON, IS_OPEN_FDD
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.po.AdminFddCityExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FDD_CITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FDD_CITY
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FDD_CITY
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminFddCityExample" >
    <!--@mbggenerated-->
    delete from FDD_CITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFddCity" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FDD_CITY (FDD_CITY_ID, FDD_CITY_NAME, CREATE_TIME, 
      HFT_CITY_ID, OPEN_FDD_FLAG, HOUSE_TOPLINE, 
      BUILD_REDPACKET, NEW_HOUSE_SALE, BUY_PRE_CARD, 
      OPEN_FDD_ICON, IS_OPEN_FDD)
    values (#{fddCityId,jdbcType=INTEGER}, #{fddCityName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{hftCityId,jdbcType=INTEGER}, #{openFddFlag,jdbcType=TINYINT}, #{houseTopline,jdbcType=TINYINT}, 
      #{buildRedpacket,jdbcType=TINYINT}, #{newHouseSale,jdbcType=TINYINT}, #{buyPreCard,jdbcType=TINYINT}, 
      #{openFddIcon,jdbcType=TINYINT}, #{isOpenFdd,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFddCity" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FDD_CITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fddCityId != null" >
        FDD_CITY_ID,
      </if>
      <if test="fddCityName != null" >
        FDD_CITY_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="hftCityId != null" >
        HFT_CITY_ID,
      </if>
      <if test="openFddFlag != null" >
        OPEN_FDD_FLAG,
      </if>
      <if test="houseTopline != null" >
        HOUSE_TOPLINE,
      </if>
      <if test="buildRedpacket != null" >
        BUILD_REDPACKET,
      </if>
      <if test="newHouseSale != null" >
        NEW_HOUSE_SALE,
      </if>
      <if test="buyPreCard != null" >
        BUY_PRE_CARD,
      </if>
      <if test="openFddIcon != null" >
        OPEN_FDD_ICON,
      </if>
      <if test="isOpenFdd != null" >
        IS_OPEN_FDD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fddCityId != null" >
        #{fddCityId,jdbcType=INTEGER},
      </if>
      <if test="fddCityName != null" >
        #{fddCityName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hftCityId != null" >
        #{hftCityId,jdbcType=INTEGER},
      </if>
      <if test="openFddFlag != null" >
        #{openFddFlag,jdbcType=TINYINT},
      </if>
      <if test="houseTopline != null" >
        #{houseTopline,jdbcType=TINYINT},
      </if>
      <if test="buildRedpacket != null" >
        #{buildRedpacket,jdbcType=TINYINT},
      </if>
      <if test="newHouseSale != null" >
        #{newHouseSale,jdbcType=TINYINT},
      </if>
      <if test="buyPreCard != null" >
        #{buyPreCard,jdbcType=TINYINT},
      </if>
      <if test="openFddIcon != null" >
        #{openFddIcon,jdbcType=TINYINT},
      </if>
      <if test="isOpenFdd != null" >
        #{isOpenFdd,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminFddCityExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from FDD_CITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update FDD_CITY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fddCityId != null" >
        FDD_CITY_ID = #{record.fddCityId,jdbcType=INTEGER},
      </if>
      <if test="record.fddCityName != null" >
        FDD_CITY_NAME = #{record.fddCityName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hftCityId != null" >
        HFT_CITY_ID = #{record.hftCityId,jdbcType=INTEGER},
      </if>
      <if test="record.openFddFlag != null" >
        OPEN_FDD_FLAG = #{record.openFddFlag,jdbcType=TINYINT},
      </if>
      <if test="record.houseTopline != null" >
        HOUSE_TOPLINE = #{record.houseTopline,jdbcType=TINYINT},
      </if>
      <if test="record.buildRedpacket != null" >
        BUILD_REDPACKET = #{record.buildRedpacket,jdbcType=TINYINT},
      </if>
      <if test="record.newHouseSale != null" >
        NEW_HOUSE_SALE = #{record.newHouseSale,jdbcType=TINYINT},
      </if>
      <if test="record.buyPreCard != null" >
        BUY_PRE_CARD = #{record.buyPreCard,jdbcType=TINYINT},
      </if>
      <if test="record.openFddIcon != null" >
        OPEN_FDD_ICON = #{record.openFddIcon,jdbcType=TINYINT},
      </if>
      <if test="record.isOpenFdd != null" >
        IS_OPEN_FDD = #{record.isOpenFdd,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update FDD_CITY
    set ID = #{record.id,jdbcType=INTEGER},
      FDD_CITY_ID = #{record.fddCityId,jdbcType=INTEGER},
      FDD_CITY_NAME = #{record.fddCityName,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      HFT_CITY_ID = #{record.hftCityId,jdbcType=INTEGER},
      OPEN_FDD_FLAG = #{record.openFddFlag,jdbcType=TINYINT},
      HOUSE_TOPLINE = #{record.houseTopline,jdbcType=TINYINT},
      BUILD_REDPACKET = #{record.buildRedpacket,jdbcType=TINYINT},
      NEW_HOUSE_SALE = #{record.newHouseSale,jdbcType=TINYINT},
      BUY_PRE_CARD = #{record.buyPreCard,jdbcType=TINYINT},
      OPEN_FDD_ICON = #{record.openFddIcon,jdbcType=TINYINT},
      IS_OPEN_FDD = #{record.isOpenFdd,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFddCity" >
    <!--@mbggenerated-->
    update FDD_CITY
    <set >
      <if test="fddCityId != null" >
        FDD_CITY_ID = #{fddCityId,jdbcType=INTEGER},
      </if>
      <if test="fddCityName != null" >
        FDD_CITY_NAME = #{fddCityName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hftCityId != null" >
        HFT_CITY_ID = #{hftCityId,jdbcType=INTEGER},
      </if>
      <if test="openFddFlag != null" >
        OPEN_FDD_FLAG = #{openFddFlag,jdbcType=TINYINT},
      </if>
      <if test="houseTopline != null" >
        HOUSE_TOPLINE = #{houseTopline,jdbcType=TINYINT},
      </if>
      <if test="buildRedpacket != null" >
        BUILD_REDPACKET = #{buildRedpacket,jdbcType=TINYINT},
      </if>
      <if test="newHouseSale != null" >
        NEW_HOUSE_SALE = #{newHouseSale,jdbcType=TINYINT},
      </if>
      <if test="buyPreCard != null" >
        BUY_PRE_CARD = #{buyPreCard,jdbcType=TINYINT},
      </if>
      <if test="openFddIcon != null" >
        OPEN_FDD_ICON = #{openFddIcon,jdbcType=TINYINT},
      </if>
      <if test="isOpenFdd != null" >
        IS_OPEN_FDD = #{isOpenFdd,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFddCity" >
    <!--@mbggenerated-->
    update FDD_CITY
    set FDD_CITY_ID = #{fddCityId,jdbcType=INTEGER},
      FDD_CITY_NAME = #{fddCityName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      HFT_CITY_ID = #{hftCityId,jdbcType=INTEGER},
      OPEN_FDD_FLAG = #{openFddFlag,jdbcType=TINYINT},
      HOUSE_TOPLINE = #{houseTopline,jdbcType=TINYINT},
      BUILD_REDPACKET = #{buildRedpacket,jdbcType=TINYINT},
      NEW_HOUSE_SALE = #{newHouseSale,jdbcType=TINYINT},
      BUY_PRE_CARD = #{buyPreCard,jdbcType=TINYINT},
      OPEN_FDD_ICON = #{openFddIcon,jdbcType=TINYINT},
      IS_OPEN_FDD = #{isOpenFdd,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>