<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunAppealMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunAppeal" >
    <!--@mbggenerated-->
    <id column="AP_ID" property="apId" jdbcType="INTEGER" />
    <result column="AP_NO" property="apNo" jdbcType="VARCHAR" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_ICCODE" property="userIccode" jdbcType="VARCHAR" />
    <result column="USER_REAL_NAME" property="userRealName" jdbcType="VARCHAR" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="USER_COMP_NAME" property="userCompName" jdbcType="VARCHAR" />
    <result column="USER_IN_TIME" property="userInTime" jdbcType="TIMESTAMP" />
    <result column="USER_LAST_LOGIN_TIME" property="userLastLoginTime" jdbcType="TIMESTAMP" />
    <result column="APER_EMAIL" property="aperEmail" jdbcType="VARCHAR" />
    <result column="APER_REAL_NAME" property="aperRealName" jdbcType="VARCHAR" />
    <result column="APER_MOBILE" property="aperMobile" jdbcType="VARCHAR" />
    <result column="APER_ICCODE" property="aperIccode" jdbcType="VARCHAR" />
    <result column="AP_STATUS" property="apStatus" jdbcType="INTEGER" />
    <result column="AP_INFO" property="apInfo" jdbcType="VARCHAR" />
    <result column="AP_PROCESS_ID" property="apProcessId" jdbcType="INTEGER" />
    <result column="AP_CHECK_TIME" property="apCheckTime" jdbcType="TIMESTAMP" />
    <result column="FAIL_INFO" property="failInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    AP_ID, AP_NO, ARCHIVE_ID, USER_NAME, USER_EMAIL, USER_ICCODE, USER_REAL_NAME, USER_MOBILE, 
    USER_COMP_NAME, USER_IN_TIME, USER_LAST_LOGIN_TIME, APER_EMAIL, APER_REAL_NAME, APER_MOBILE, 
    APER_ICCODE, AP_STATUS, AP_INFO, AP_PROCESS_ID, AP_CHECK_TIME, FAIL_INFO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_APPEAL
    where AP_ID = #{apId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_APPEAL
    where AP_ID = #{apId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunAppeal" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="apId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FUN_APPEAL (AP_NO, ARCHIVE_ID, USER_NAME, 
      USER_EMAIL, USER_ICCODE, USER_REAL_NAME, 
      USER_MOBILE, USER_COMP_NAME, USER_IN_TIME, 
      USER_LAST_LOGIN_TIME, APER_EMAIL, APER_REAL_NAME, 
      APER_MOBILE, APER_ICCODE, AP_STATUS, 
      AP_INFO, AP_PROCESS_ID, AP_CHECK_TIME, 
      FAIL_INFO)
    values (#{apNo,jdbcType=VARCHAR}, #{archiveId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userIccode,jdbcType=VARCHAR}, #{userRealName,jdbcType=VARCHAR}, 
      #{userMobile,jdbcType=VARCHAR}, #{userCompName,jdbcType=VARCHAR}, #{userInTime,jdbcType=TIMESTAMP}, 
      #{userLastLoginTime,jdbcType=TIMESTAMP}, #{aperEmail,jdbcType=VARCHAR}, #{aperRealName,jdbcType=VARCHAR}, 
      #{aperMobile,jdbcType=VARCHAR}, #{aperIccode,jdbcType=VARCHAR}, #{apStatus,jdbcType=INTEGER}, 
      #{apInfo,jdbcType=VARCHAR}, #{apProcessId,jdbcType=INTEGER}, #{apCheckTime,jdbcType=TIMESTAMP}, 
      #{failInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunAppeal" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="apId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FUN_APPEAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apNo != null" >
        AP_NO,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userEmail != null" >
        USER_EMAIL,
      </if>
      <if test="userIccode != null" >
        USER_ICCODE,
      </if>
      <if test="userRealName != null" >
        USER_REAL_NAME,
      </if>
      <if test="userMobile != null" >
        USER_MOBILE,
      </if>
      <if test="userCompName != null" >
        USER_COMP_NAME,
      </if>
      <if test="userInTime != null" >
        USER_IN_TIME,
      </if>
      <if test="userLastLoginTime != null" >
        USER_LAST_LOGIN_TIME,
      </if>
      <if test="aperEmail != null" >
        APER_EMAIL,
      </if>
      <if test="aperRealName != null" >
        APER_REAL_NAME,
      </if>
      <if test="aperMobile != null" >
        APER_MOBILE,
      </if>
      <if test="aperIccode != null" >
        APER_ICCODE,
      </if>
      <if test="apStatus != null" >
        AP_STATUS,
      </if>
      <if test="apInfo != null" >
        AP_INFO,
      </if>
      <if test="apProcessId != null" >
        AP_PROCESS_ID,
      </if>
      <if test="apCheckTime != null" >
        AP_CHECK_TIME,
      </if>
      <if test="failInfo != null" >
        FAIL_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apNo != null" >
        #{apNo,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userIccode != null" >
        #{userIccode,jdbcType=VARCHAR},
      </if>
      <if test="userRealName != null" >
        #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userCompName != null" >
        #{userCompName,jdbcType=VARCHAR},
      </if>
      <if test="userInTime != null" >
        #{userInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLoginTime != null" >
        #{userLastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aperEmail != null" >
        #{aperEmail,jdbcType=VARCHAR},
      </if>
      <if test="aperRealName != null" >
        #{aperRealName,jdbcType=VARCHAR},
      </if>
      <if test="aperMobile != null" >
        #{aperMobile,jdbcType=VARCHAR},
      </if>
      <if test="aperIccode != null" >
        #{aperIccode,jdbcType=VARCHAR},
      </if>
      <if test="apStatus != null" >
        #{apStatus,jdbcType=INTEGER},
      </if>
      <if test="apInfo != null" >
        #{apInfo,jdbcType=VARCHAR},
      </if>
      <if test="apProcessId != null" >
        #{apProcessId,jdbcType=INTEGER},
      </if>
      <if test="apCheckTime != null" >
        #{apCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failInfo != null" >
        #{failInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunAppeal" >
    <!--@mbggenerated-->
    update FUN_APPEAL
    <set >
      <if test="apNo != null" >
        AP_NO = #{apNo,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userIccode != null" >
        USER_ICCODE = #{userIccode,jdbcType=VARCHAR},
      </if>
      <if test="userRealName != null" >
        USER_REAL_NAME = #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="userCompName != null" >
        USER_COMP_NAME = #{userCompName,jdbcType=VARCHAR},
      </if>
      <if test="userInTime != null" >
        USER_IN_TIME = #{userInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userLastLoginTime != null" >
        USER_LAST_LOGIN_TIME = #{userLastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aperEmail != null" >
        APER_EMAIL = #{aperEmail,jdbcType=VARCHAR},
      </if>
      <if test="aperRealName != null" >
        APER_REAL_NAME = #{aperRealName,jdbcType=VARCHAR},
      </if>
      <if test="aperMobile != null" >
        APER_MOBILE = #{aperMobile,jdbcType=VARCHAR},
      </if>
      <if test="aperIccode != null" >
        APER_ICCODE = #{aperIccode,jdbcType=VARCHAR},
      </if>
      <if test="apStatus != null" >
        AP_STATUS = #{apStatus,jdbcType=INTEGER},
      </if>
      <if test="apInfo != null" >
        AP_INFO = #{apInfo,jdbcType=VARCHAR},
      </if>
      <if test="apProcessId != null" >
        AP_PROCESS_ID = #{apProcessId,jdbcType=INTEGER},
      </if>
      <if test="apCheckTime != null" >
        AP_CHECK_TIME = #{apCheckTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failInfo != null" >
        FAIL_INFO = #{failInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where AP_ID = #{apId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunAppeal" >
    <!--@mbggenerated-->
    update FUN_APPEAL
    set AP_NO = #{apNo,jdbcType=VARCHAR},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_ICCODE = #{userIccode,jdbcType=VARCHAR},
      USER_REAL_NAME = #{userRealName,jdbcType=VARCHAR},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      USER_COMP_NAME = #{userCompName,jdbcType=VARCHAR},
      USER_IN_TIME = #{userInTime,jdbcType=TIMESTAMP},
      USER_LAST_LOGIN_TIME = #{userLastLoginTime,jdbcType=TIMESTAMP},
      APER_EMAIL = #{aperEmail,jdbcType=VARCHAR},
      APER_REAL_NAME = #{aperRealName,jdbcType=VARCHAR},
      APER_MOBILE = #{aperMobile,jdbcType=VARCHAR},
      APER_ICCODE = #{aperIccode,jdbcType=VARCHAR},
      AP_STATUS = #{apStatus,jdbcType=INTEGER},
      AP_INFO = #{apInfo,jdbcType=VARCHAR},
      AP_PROCESS_ID = #{apProcessId,jdbcType=INTEGER},
      AP_CHECK_TIME = #{apCheckTime,jdbcType=TIMESTAMP},
      FAIL_INFO = #{failInfo,jdbcType=VARCHAR}
    where AP_ID = #{apId,jdbcType=INTEGER}
  </update>
  
  <!-- buniess -->
  <select id="getRecords" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.param.AdminFunAppealParam" >
    select 
    <include refid="Base_Column_List" />
    from FUN_APPEAL
    where 1 = 1
    <if test="userName != null and userName != ''">
        and USER_NAME = #{userName}
    </if>
    <if test="userMobile != null and userMobile != ''" >
       and USER_MOBILE = #{userMobile}
    </if>
    <if test="apNo != null and apNo != ''" >
       and AP_NO = #{apNo}
    </if>
    <if test="apStatus != null">
       and AP_STATUS = #{apStatus}
    </if> 
    <if test="time1 != null and time1 != null and time2 != null and time2 != '' ">
       and AP_CHECK_TIME <![CDATA[  >=  ]]> #{time1} and AP_CHECK_TIME <![CDATA[  <=  ]]>  #{time2}
    </if>
    order by AP_ID desc
  </select>
</mapper>