<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminQrtzBlobTriggersMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminQrtzBlobTriggers" >
    <!--@mbggenerated-->
    <result column="SCHED_NAME" property="schedName" jdbcType="VARCHAR" />
    <result column="TRIGGER_NAME" property="triggerName" jdbcType="VARCHAR" />
    <result column="TRIGGER_GROUP" property="triggerGroup" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.myfun.repository.admindb.po.AdminQrtzBlobTriggers" extends="BaseResultMap" >
    <!--@mbggenerated-->
    <result column="BLOB_DATA" property="blobData" jdbcType="BLOB" />
  </resultMap>
  <sql id="Blob_Column_List" >
    <!--@mbggenerated-->
    BLOB_DATA
  </sql>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminQrtzBlobTriggers" >
    <!--@mbggenerated-->
    insert into QRTZ_BLOB_TRIGGERS (SCHED_NAME, TRIGGER_NAME, TRIGGER_GROUP, 
      BLOB_DATA)
    values (#{schedName,jdbcType=VARCHAR}, #{triggerName,jdbcType=VARCHAR}, #{triggerGroup,jdbcType=VARCHAR}, 
      #{blobData,jdbcType=BLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminQrtzBlobTriggers" >
    <!--@mbggenerated-->
    insert into QRTZ_BLOB_TRIGGERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schedName != null" >
        SCHED_NAME,
      </if>
      <if test="triggerName != null" >
        TRIGGER_NAME,
      </if>
      <if test="triggerGroup != null" >
        TRIGGER_GROUP,
      </if>
      <if test="blobData != null" >
        BLOB_DATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schedName != null" >
        #{schedName,jdbcType=VARCHAR},
      </if>
      <if test="triggerName != null" >
        #{triggerName,jdbcType=VARCHAR},
      </if>
      <if test="triggerGroup != null" >
        #{triggerGroup,jdbcType=VARCHAR},
      </if>
      <if test="blobData != null" >
        #{blobData,jdbcType=BLOB},
      </if>
    </trim>
  </insert>
</mapper>