<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminAppUpgradeMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminAppUpgrade" >
    <!--@mbggenerated-->
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="VERSION_CODE" property="versionCode" jdbcType="INTEGER" />
    <result column="UPGRADE_TYPE" property="upgradeType" jdbcType="INTEGER" />
    <result column="VERSION_NAME" property="versionName" jdbcType="VARCHAR" />
    <result column="UPGRADE" property="upgrade" jdbcType="INTEGER" />
    <result column="UPGRADE_URL" property="upgradeUrl" jdbcType="VARCHAR" />
    <result column="UPGRADE_DESC" property="upgradeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminAppUpgrade" >
    <!--@mbggenerated-->
    insert into APP_UPGRADE (DEVICE_TYPE, VERSION_CODE, UPGRADE_TYPE, 
      VERSION_NAME, UPGRADE, UPGRADE_URL, 
      UPGRADE_DESC)
    values (#{deviceType,jdbcType=INTEGER}, #{versionCode,jdbcType=INTEGER}, #{upgradeType,jdbcType=INTEGER}, 
      #{versionName,jdbcType=VARCHAR}, #{upgrade,jdbcType=INTEGER}, #{upgradeUrl,jdbcType=VARCHAR}, 
      #{upgradeDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminAppUpgrade" >
    <!--@mbggenerated-->
    insert into APP_UPGRADE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceType != null" >
        DEVICE_TYPE,
      </if>
      <if test="versionCode != null" >
        VERSION_CODE,
      </if>
      <if test="upgradeType != null" >
        UPGRADE_TYPE,
      </if>
      <if test="versionName != null" >
        VERSION_NAME,
      </if>
      <if test="upgrade != null" >
        UPGRADE,
      </if>
      <if test="upgradeUrl != null" >
        UPGRADE_URL,
      </if>
      <if test="upgradeDesc != null" >
        UPGRADE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceType != null" >
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="versionCode != null" >
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="upgradeType != null" >
        #{upgradeType,jdbcType=INTEGER},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="upgrade != null" >
        #{upgrade,jdbcType=INTEGER},
      </if>
      <if test="upgradeUrl != null" >
        #{upgradeUrl,jdbcType=VARCHAR},
      </if>
      <if test="upgradeDesc != null" >
        #{upgradeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectAndroidDownloadUrl" resultType="java.lang.String">
    select UPGRADE_URL from APP_UPGRADE where device_type = #{deviceType}
  </select>
</mapper>