<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunMacMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunMac">
    <!--@mbggenerated-->
    <id column="MACADDR" jdbcType="CHAR" property="macaddr" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="COMP_NO" jdbcType="VARCHAR" property="compNo" />
    <result column="DEPT_NO" jdbcType="VARCHAR" property="deptNo" />
    <result column="PCNAME" jdbcType="VARCHAR" property="pcname" />
    <result column="FLAG" jdbcType="TINYINT" property="flag" />
    <result column="ROAM" jdbcType="BIT" property="roam" />
    <result column="ROAM_USER" jdbcType="INTEGER" property="roamUser" />
    <result column="OWNER" jdbcType="VARCHAR" property="owner" />
    <result column="PCDISKNO" jdbcType="VARCHAR" property="pcdiskno" />
    <result column="ROUTEMAC" jdbcType="CHAR" property="routemac" />
    <result column="REGTIME" jdbcType="VARCHAR" property="regtime" />
    <result column="LAST_LOGIN_TIME" jdbcType="VARCHAR" property="lastLoginTime" />
    <result column="ORGANIZATION_ID" jdbcType="INTEGER" property="organizationId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    MACADDR, COMP_ID, DEPT_ID, COMP_NO, DEPT_NO, PCNAME, FLAG, ROAM, ROAM_USER, [OWNER], 
    PCDISKNO, ROUTEMAC, REGTIME, LAST_LOGIN_TIME, ORGANIZATION_ID
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminFunMacExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from FUN_MAC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_MAC
    where MACADDR = #{macaddr,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbggenerated-->
    delete from FUN_MAC
    where MACADDR = #{macaddr,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminFunMacExample">
    <!--@mbggenerated-->
    delete from FUN_MAC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunMac">
    <!--@mbggenerated-->
    insert into FUN_MAC (MACADDR, COMP_ID, DEPT_ID, 
      COMP_NO, DEPT_NO, PCNAME, 
      FLAG, ROAM, ROAM_USER, [OWNER], 
      PCDISKNO, ROUTEMAC, REGTIME, 
      LAST_LOGIN_TIME, ORGANIZATION_ID)
    values (#{macaddr,jdbcType=CHAR}, #{compId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{compNo,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, #{pcname,jdbcType=VARCHAR}, 
      #{flag,jdbcType=TINYINT}, #{roam,jdbcType=BIT}, #{roamUser,jdbcType=INTEGER}, #{owner,jdbcType=VARCHAR}, 
      #{pcdiskno,jdbcType=VARCHAR}, #{routemac,jdbcType=CHAR}, #{regtime,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=VARCHAR}, #{organizationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunMac">
    <!--@mbggenerated-->
    insert into FUN_MAC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="macaddr != null">
        MACADDR,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="compNo != null">
        COMP_NO,
      </if>
      <if test="deptNo != null">
        DEPT_NO,
      </if>
      <if test="pcname != null">
        PCNAME,
      </if>
      <if test="flag != null">
        FLAG,
      </if>
      <if test="roam != null">
        ROAM,
      </if>
      <if test="roamUser != null">
        ROAM_USER,
      </if>
      <if test="owner != null">
        [OWNER],
      </if>
      <if test="pcdiskno != null">
        PCDISKNO,
      </if>
      <if test="routemac != null">
        ROUTEMAC,
      </if>
      <if test="regtime != null">
        REGTIME,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="macaddr != null">
        #{macaddr,jdbcType=CHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null">
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="pcname != null">
        #{pcname,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="roam != null">
        #{roam,jdbcType=BIT},
      </if>
      <if test="roamUser != null">
        #{roamUser,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="pcdiskno != null">
        #{pcdiskno,jdbcType=VARCHAR},
      </if>
      <if test="routemac != null">
        #{routemac,jdbcType=CHAR},
      </if>
      <if test="regtime != null">
        #{regtime,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        #{organizationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminFunMacExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from FUN_MAC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update FUN_MAC
    <set>
      <if test="record.macaddr != null">
        MACADDR = #{record.macaddr,jdbcType=CHAR},
      </if>
      <if test="record.compId != null">
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.compNo != null">
        COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      </if>
      <if test="record.deptNo != null">
        DEPT_NO = #{record.deptNo,jdbcType=VARCHAR},
      </if>
      <if test="record.pcname != null">
        PCNAME = #{record.pcname,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        FLAG = #{record.flag,jdbcType=TINYINT},
      </if>
      <if test="record.roam != null">
        ROAM = #{record.roam,jdbcType=BIT},
      </if>
      <if test="record.roamUser != null">
        ROAM_USER = #{record.roamUser,jdbcType=INTEGER},
      </if>
      <if test="record.owner != null">
        [OWNER] = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.pcdiskno != null">
        PCDISKNO = #{record.pcdiskno,jdbcType=VARCHAR},
      </if>
      <if test="record.routemac != null">
        ROUTEMAC = #{record.routemac,jdbcType=CHAR},
      </if>
      <if test="record.regtime != null">
        REGTIME = #{record.regtime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTime != null">
        LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationId != null">
        ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update FUN_MAC
    set MACADDR = #{record.macaddr,jdbcType=CHAR},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      DEPT_NO = #{record.deptNo,jdbcType=VARCHAR},
      PCNAME = #{record.pcname,jdbcType=VARCHAR},
      FLAG = #{record.flag,jdbcType=TINYINT},
      ROAM = #{record.roam,jdbcType=BIT},
      ROAM_USER = #{record.roamUser,jdbcType=INTEGER},
      [OWNER] = #{record.owner,jdbcType=VARCHAR},
      PCDISKNO = #{record.pcdiskno,jdbcType=VARCHAR},
      ROUTEMAC = #{record.routemac,jdbcType=CHAR},
      REGTIME = #{record.regtime,jdbcType=VARCHAR},
      LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{record.organizationId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunMac">
    <!--@mbggenerated-->
    update FUN_MAC
    <set>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null">
        COMP_NO = #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="pcname != null">
        PCNAME = #{pcname,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        FLAG = #{flag,jdbcType=TINYINT},
      </if>
      <if test="roam != null">
        ROAM = #{roam,jdbcType=BIT},
      </if>
      <if test="roamUser != null">
        ROAM_USER = #{roamUser,jdbcType=INTEGER},
      </if>
      <if test="owner != null">
        [OWNER] = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="pcdiskno != null">
        PCDISKNO = #{pcdiskno,jdbcType=VARCHAR},
      </if>
      <if test="routemac != null">
        ROUTEMAC = #{routemac,jdbcType=CHAR},
      </if>
      <if test="regtime != null">
        REGTIME = #{regtime,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null">
        ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER},
      </if>
    </set>
    where MACADDR = #{macaddr,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunMac">
    <!--@mbggenerated-->
    update FUN_MAC
    set COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      COMP_NO = #{compNo,jdbcType=VARCHAR},
      DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      PCNAME = #{pcname,jdbcType=VARCHAR},
      FLAG = #{flag,jdbcType=TINYINT},
      ROAM = #{roam,jdbcType=BIT},
      ROAM_USER = #{roamUser,jdbcType=INTEGER},
      [OWNER] = #{owner,jdbcType=VARCHAR},
      PCDISKNO = #{pcdiskno,jdbcType=VARCHAR},
      ROUTEMAC = #{routemac,jdbcType=CHAR},
      REGTIME = #{regtime,jdbcType=VARCHAR},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=VARCHAR},
      ORGANIZATION_ID = #{organizationId,jdbcType=INTEGER}
    where MACADDR = #{macaddr,jdbcType=CHAR}
  </update>
  <resultMap extends="BaseResultMap" id="exResultMap" type="com.myfun.repository.admindb.dto.AdminFunMacDto">
	<result column="COMP_CNAME" jdbcType="INTEGER" property="compName" />
    <result column="COMP_NO" jdbcType="INTEGER" property="compNo" />
    <result column="DEPT_CNAME" jdbcType="VARCHAR" property="deptName" />
    <result column="DEPT_NO" jdbcType="VARCHAR" property="deptNo" />
  </resultMap>
	
	<update id="updateMacInfoByMacAddr">
		update FUN_MAC
		set ROAM = #{roam}
		<if test="roamUser != null">,ROAM_USER = #{roamUser}</if>
		where MACADDR = #{macaddr}
	</update>
	
	<select id="getCompInfoByMacAddr" parameterType="java.lang.String" resultMap="exResultMap">
		select
		FUN_MAC.MACADDR,
		FUN_COMP.COMP_CNAME,
		FUN_COMP.COMP_NO,
		FUN_DEPTS.DEPT_CNAME,
		FUN_DEPTS.DEPT_NO
		from FUN_MAC
		left join FUN_COMP on FUN_MAC.COMP_ID=FUN_COMP.COMP_ID
		left join FUN_DEPTS on FUN_MAC.COMP_ID=FUN_DEPTS.COMP_ID and
		FUN_MAC.DEPT_ID = FUN_DEPTS.DEPT_ID
		where FUN_MAC.MACADDR =#{macAddr}
	</select>

	<delete id="deleteByDeptId">
		delete from FUN_MAC where DEPT_ID = #{deptId}
	</delete>
	
	<delete id="deleteByMacAddr">
		delete from FUN_MAC where MACADDR = #{param.macaddr,jdbcType=CHAR}
	</delete>

	<update id="updateRecordsBycompId">
		update FUN_MAC set ROAM = 0, ROAM_USER = null where COMP_ID = #{compId}
	</update>

  <update id="updateFunMacLoginStatusOrReg">
    update FUN_MAC <set>
    <if test="param.owner != null">
      OWNER = #{param.owner,jdbcType=VARCHAR},
    </if>
    <if test="param.loginType != null">
      FLAG = #{param.loginType,jdbcType=TINYINT},
    </if>
  </set>
    where MACADDR = #{param.macaddr,jdbcType=CHAR}
  </update>


  <select id="selectByMacAddr" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from FUN_MAC
    where MACADDR = #{macAddr}
  </select>

</mapper>