<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminLoanRateMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminLoanRate">
    <!--@mbggenerated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOAN_DESC" jdbcType="VARCHAR" property="loanDesc" />
    <result column="LOAN_DATE" jdbcType="TIMESTAMP" property="loanDate" />
    <result column="LOAN_S_M6" jdbcType="DECIMAL" property="loanSM6" />
    <result column="LOAN_S_M12" jdbcType="DECIMAL" property="loanSM12" />
    <result column="LOAN_S_M36" jdbcType="DECIMAL" property="loanSM36" />
    <result column="LOAN_S_M60" jdbcType="DECIMAL" property="loanSM60" />
    <result column="LOAN_S_M120" jdbcType="DECIMAL" property="loanSM120" />
    <result column="LOAN_G_M60" jdbcType="DECIMAL" property="loanGM60" />
    <result column="LOAN_G_M120" jdbcType="DECIMAL" property="loanGM120" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbggenerated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ID, LOAN_DESC, LOAN_DATE, LOAN_S_M6, LOAN_S_M12, LOAN_S_M36, LOAN_S_M60, LOAN_S_M120, 
    LOAN_G_M60, LOAN_G_M120, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.myfun.repository.admindb.po.AdminLoanRateExample" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LOAN_RATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from LOAN_RATE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from LOAN_RATE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminLoanRateExample">
    <!--@mbggenerated-->
    delete from LOAN_RATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.myfun.repository.admindb.po.AdminLoanRate" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into LOAN_RATE (LOAN_DESC, LOAN_DATE, LOAN_S_M6, 
      LOAN_S_M12, LOAN_S_M36, LOAN_S_M60, 
      LOAN_S_M120, LOAN_G_M60, LOAN_G_M120, 
      UPDATE_TIME)
    values (#{loanDesc,jdbcType=VARCHAR}, #{loanDate,jdbcType=TIMESTAMP}, #{loanSM6,jdbcType=DECIMAL}, 
      #{loanSM12,jdbcType=DECIMAL}, #{loanSM36,jdbcType=DECIMAL}, #{loanSM60,jdbcType=DECIMAL}, 
      #{loanSM120,jdbcType=DECIMAL}, #{loanGM60,jdbcType=DECIMAL}, #{loanGM120,jdbcType=DECIMAL}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyProperty="id" parameterType="com.myfun.repository.admindb.po.AdminLoanRate" useGeneratedKeys="true">
    <!--@mbggenerated-->
    insert into LOAN_RATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loanDesc != null">
        LOAN_DESC,
      </if>
      <if test="loanDate != null">
        LOAN_DATE,
      </if>
      <if test="loanSM6 != null">
        LOAN_S_M6,
      </if>
      <if test="loanSM12 != null">
        LOAN_S_M12,
      </if>
      <if test="loanSM36 != null">
        LOAN_S_M36,
      </if>
      <if test="loanSM60 != null">
        LOAN_S_M60,
      </if>
      <if test="loanSM120 != null">
        LOAN_S_M120,
      </if>
      <if test="loanGM60 != null">
        LOAN_G_M60,
      </if>
      <if test="loanGM120 != null">
        LOAN_G_M120,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loanDesc != null">
        #{loanDesc,jdbcType=VARCHAR},
      </if>
      <if test="loanDate != null">
        #{loanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loanSM6 != null">
        #{loanSM6,jdbcType=DECIMAL},
      </if>
      <if test="loanSM12 != null">
        #{loanSM12,jdbcType=DECIMAL},
      </if>
      <if test="loanSM36 != null">
        #{loanSM36,jdbcType=DECIMAL},
      </if>
      <if test="loanSM60 != null">
        #{loanSM60,jdbcType=DECIMAL},
      </if>
      <if test="loanSM120 != null">
        #{loanSM120,jdbcType=DECIMAL},
      </if>
      <if test="loanGM60 != null">
        #{loanGM60,jdbcType=DECIMAL},
      </if>
      <if test="loanGM120 != null">
        #{loanGM120,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminLoanRateExample" resultType="java.lang.Integer">
    <!--@mbggenerated-->
    select count(*) from LOAN_RATE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--@mbggenerated-->
    update LOAN_RATE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.loanDesc != null">
        LOAN_DESC = #{record.loanDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.loanDate != null">
        LOAN_DATE = #{record.loanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.loanSM6 != null">
        LOAN_S_M6 = #{record.loanSM6,jdbcType=DECIMAL},
      </if>
      <if test="record.loanSM12 != null">
        LOAN_S_M12 = #{record.loanSM12,jdbcType=DECIMAL},
      </if>
      <if test="record.loanSM36 != null">
        LOAN_S_M36 = #{record.loanSM36,jdbcType=DECIMAL},
      </if>
      <if test="record.loanSM60 != null">
        LOAN_S_M60 = #{record.loanSM60,jdbcType=DECIMAL},
      </if>
      <if test="record.loanSM120 != null">
        LOAN_S_M120 = #{record.loanSM120,jdbcType=DECIMAL},
      </if>
      <if test="record.loanGM60 != null">
        LOAN_G_M60 = #{record.loanGM60,jdbcType=DECIMAL},
      </if>
      <if test="record.loanGM120 != null">
        LOAN_G_M120 = #{record.loanGM120,jdbcType=DECIMAL},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--@mbggenerated-->
    update LOAN_RATE
    set ID = #{record.id,jdbcType=INTEGER},
      LOAN_DESC = #{record.loanDesc,jdbcType=VARCHAR},
      LOAN_DATE = #{record.loanDate,jdbcType=TIMESTAMP},
      LOAN_S_M6 = #{record.loanSM6,jdbcType=DECIMAL},
      LOAN_S_M12 = #{record.loanSM12,jdbcType=DECIMAL},
      LOAN_S_M36 = #{record.loanSM36,jdbcType=DECIMAL},
      LOAN_S_M60 = #{record.loanSM60,jdbcType=DECIMAL},
      LOAN_S_M120 = #{record.loanSM120,jdbcType=DECIMAL},
      LOAN_G_M60 = #{record.loanGM60,jdbcType=DECIMAL},
      LOAN_G_M120 = #{record.loanGM120,jdbcType=DECIMAL},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminLoanRate">
    <!--@mbggenerated-->
    update LOAN_RATE
    <set>
      <if test="loanDesc != null">
        LOAN_DESC = #{loanDesc,jdbcType=VARCHAR},
      </if>
      <if test="loanDate != null">
        LOAN_DATE = #{loanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loanSM6 != null">
        LOAN_S_M6 = #{loanSM6,jdbcType=DECIMAL},
      </if>
      <if test="loanSM12 != null">
        LOAN_S_M12 = #{loanSM12,jdbcType=DECIMAL},
      </if>
      <if test="loanSM36 != null">
        LOAN_S_M36 = #{loanSM36,jdbcType=DECIMAL},
      </if>
      <if test="loanSM60 != null">
        LOAN_S_M60 = #{loanSM60,jdbcType=DECIMAL},
      </if>
      <if test="loanSM120 != null">
        LOAN_S_M120 = #{loanSM120,jdbcType=DECIMAL},
      </if>
      <if test="loanGM60 != null">
        LOAN_G_M60 = #{loanGM60,jdbcType=DECIMAL},
      </if>
      <if test="loanGM120 != null">
        LOAN_G_M120 = #{loanGM120,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminLoanRate">
    <!--@mbggenerated-->
    update LOAN_RATE
    set LOAN_DESC = #{loanDesc,jdbcType=VARCHAR},
      LOAN_DATE = #{loanDate,jdbcType=TIMESTAMP},
      LOAN_S_M6 = #{loanSM6,jdbcType=DECIMAL},
      LOAN_S_M12 = #{loanSM12,jdbcType=DECIMAL},
      LOAN_S_M36 = #{loanSM36,jdbcType=DECIMAL},
      LOAN_S_M60 = #{loanSM60,jdbcType=DECIMAL},
      LOAN_S_M120 = #{loanSM120,jdbcType=DECIMAL},
      LOAN_G_M60 = #{loanGM60,jdbcType=DECIMAL},
      LOAN_G_M120 = #{loanGM120,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
	<resultMap id="extBaseResultVoMap" type="com.myfun.erpWeb.common.vo.AdminLoanRateVo">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="LOAN_DESC" jdbcType="VARCHAR" property="loanDesc" />
		<result column="LOAN_DATE" jdbcType="TIMESTAMP" property="loanDate" />
		<result column="LOAN_S_M6" jdbcType="DECIMAL" property="loanSM6" />
		<result column="LOAN_S_M12" jdbcType="DECIMAL" property="loanSM12" />
		<result column="LOAN_S_M36" jdbcType="DECIMAL" property="loanSM36" />
		<result column="LOAN_S_M60" jdbcType="DECIMAL" property="loanSM60" />
		<result column="LOAN_S_M120" jdbcType="DECIMAL" property="loanSM120" />
		<result column="LOAN_G_M60" jdbcType="DECIMAL" property="loanGM60" />
		<result column="LOAN_G_M120" jdbcType="DECIMAL" property="loanGM120" />
		<result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<select id="getLoanRateVoList" resultMap="extBaseResultVoMap">
		select <include refid="Base_Column_List" /> from LOAN_RATE
		order by LOAN_DATE desc
	</select>
</mapper>