<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminPhotoTmpMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminPhotoTmp" >
    <!--@mbggenerated-->
    <id column="PHOTO_ADDR" property="photoAddr" jdbcType="VARCHAR" />
    <result column="PHOTO_TYPE" property="photoType" jdbcType="INTEGER" />
    <result column="SOURCE" property="source" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    PHOTO_ADDR, PHOTO_TYPE, [SOURCE], [STATUS], CREATE_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.po.AdminPhotoTmpExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PHOTO_TMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from PHOTO_TMP
    where PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    delete from PHOTO_TMP
    where PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminPhotoTmpExample" >
    <!--@mbggenerated-->
    delete from PHOTO_TMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminPhotoTmp" useGeneratedKeys="true" keyProperty="photoAddr" >
    <!--@mbggenerated-->
    insert into PHOTO_TMP (PHOTO_TYPE, [SOURCE], [STATUS], 
      CREATE_TIME)
    values (#{photoType,jdbcType=INTEGER}, #{source,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminPhotoTmp" useGeneratedKeys="true" keyProperty="photoAddr" >
    <!--@mbggenerated-->
    insert into PHOTO_TMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="photoType != null" >
        PHOTO_TYPE,
      </if>
      <if test="source != null" >
        [SOURCE],
      </if>
      <if test="status != null" >
        [STATUS],
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="photoType != null" >
        #{photoType,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminPhotoTmpExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from PHOTO_TMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update PHOTO_TMP
    <set >
      <if test="record.photoAddr != null" >
        PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.photoType != null" >
        PHOTO_TYPE = #{record.photoType,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        [SOURCE] = #{record.source,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        [STATUS] = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update PHOTO_TMP
    set PHOTO_ADDR = #{record.photoAddr,jdbcType=VARCHAR},
      PHOTO_TYPE = #{record.photoType,jdbcType=INTEGER},
      [SOURCE] = #{record.source,jdbcType=INTEGER},
      [STATUS] = #{record.status,jdbcType=TINYINT},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminPhotoTmp" >
    <!--@mbggenerated-->
    update PHOTO_TMP
    <set >
      <if test="photoType != null" >
        PHOTO_TYPE = #{photoType,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        [SOURCE] = #{source,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        [STATUS] = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminPhotoTmp" >
    <!--@mbggenerated-->
    update PHOTO_TMP
    set PHOTO_TYPE = #{photoType,jdbcType=INTEGER},
      [SOURCE] = #{source,jdbcType=INTEGER},
      [STATUS] = #{status,jdbcType=TINYINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR}
  </update>
   <delete id="deleteByEcardAddr" parameterType="java.lang.String">
   	delete from PHOTO_TMP
    where PHOTO_ADDR = #{ecardAddr}
   </delete>
	
	<select id="getErpFunPhotoTmpList" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from PHOTO_TMP
		where SOURCE =2 and PHOTO_ADDR in 
		<foreach item="url" index="index" collection="urlsArr" open="(" close=")" separator=",">
			#{url}
		</foreach>
	</select>
	
	<update id="updatePhotoTmp">
		update PHOTO_TMP 
		set STATUS = 1
		where SOURCE= 2 and PHOTO_ADDR in 
		<foreach item="url" index="index" collection="urlsArr" open="(" close=")" separator=",">
			#{url}
		</foreach>
	</update>
	
</mapper>

