<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminOurFieldMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminOurField" >
    <!--@mbggenerated-->
    <id column="field_id" property="fieldId" jdbcType="SMALLINT" />
    <result column="sale_lease" property="saleLease" jdbcType="TINYINT" />
    <result column="url_type" property="urlType" jdbcType="TINYINT" />
    <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
    <result column="field_desc" property="fieldDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    field_id, sale_lease, url_type, field_name, field_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from OUR_FIELD
    where field_id = #{fieldId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    <!--@mbggenerated-->
    delete from OUR_FIELD
    where field_id = #{fieldId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminOurField" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Short" keyProperty="fieldId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into OUR_FIELD (sale_lease, url_type, field_name, 
      field_desc)
    values (#{saleLease,jdbcType=TINYINT}, #{urlType,jdbcType=TINYINT}, #{fieldName,jdbcType=VARCHAR}, 
      #{fieldDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminOurField" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Short" keyProperty="fieldId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into OUR_FIELD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="saleLease != null" >
        sale_lease,
      </if>
      <if test="urlType != null" >
        url_type,
      </if>
      <if test="fieldName != null" >
        field_name,
      </if>
      <if test="fieldDesc != null" >
        field_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="saleLease != null" >
        #{saleLease,jdbcType=TINYINT},
      </if>
      <if test="urlType != null" >
        #{urlType,jdbcType=TINYINT},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldDesc != null" >
        #{fieldDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminOurField" >
    <!--@mbggenerated-->
    update OUR_FIELD
    <set >
      <if test="saleLease != null" >
        sale_lease = #{saleLease,jdbcType=TINYINT},
      </if>
      <if test="urlType != null" >
        url_type = #{urlType,jdbcType=TINYINT},
      </if>
      <if test="fieldName != null" >
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldDesc != null" >
        field_desc = #{fieldDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where field_id = #{fieldId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminOurField" >
    <!--@mbggenerated-->
    update OUR_FIELD
    set sale_lease = #{saleLease,jdbcType=TINYINT},
      url_type = #{urlType,jdbcType=TINYINT},
      field_name = #{fieldName,jdbcType=VARCHAR},
      field_desc = #{fieldDesc,jdbcType=VARCHAR}
    where field_id = #{fieldId,jdbcType=SMALLINT}
  </update>
</mapper>