<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminCaseCooperateMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminCaseCooperate" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="HOUSE_CITY_ID" property="houseCityId" jdbcType="INTEGER" />
    <result column="HOUSE_ARCHIVE_ID" property="houseArchiveId" jdbcType="INTEGER" />
    <result column="HOUSE_USER_ID" property="houseUserId" jdbcType="INTEGER" />
    <result column="HOUSE_ID" property="houseId" jdbcType="INTEGER" />
    <result column="CUST_CITY_ID" property="custCityId" jdbcType="INTEGER" />
    <result column="CUST_ARCHIVE_ID" property="custArchiveId" jdbcType="INTEGER" />
    <result column="CUST_USER_ID" property="custUserId" jdbcType="INTEGER" />
    <result column="CUST_ID" property="custId" jdbcType="INTEGER" />
    <result column="COOPERATE_TYPE" property="cooperateType" jdbcType="TINYINT" />
    <result column="TAKE_LOOK_TIME" property="takeLookTime" jdbcType="TIMESTAMP" />
    <result column="SCAN_CODE_ADDRESS" property="scanCodeAddress" jdbcType="VARCHAR" />
    <result column="HOUSE_COOPERATE_STATUS" property="houseCooperateStatus" jdbcType="TINYINT" />
    <result column="CUST_COOPERATE_STATUS" property="custCooperateStatus" jdbcType="TINYINT" />
    <result column="HOUSE_JSON" property="houseJson" jdbcType="VARCHAR" />
    <result column="CUST_JSON" property="custJson" jdbcType="VARCHAR" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="HOUSE_COMP_ID" property="houseCompId" jdbcType="INTEGER" />
    <result column="HOUSE_AREA_ID" property="houseAreaId" jdbcType="INTEGER" />
    <result column="HOUSE_REG_ID" property="houseRegId" jdbcType="INTEGER" />
    <result column="HOUSE_DEPT_ID" property="houseDeptId" jdbcType="INTEGER" />
    <result column="HOUSE_GR_ID" property="houseGrId" jdbcType="INTEGER" />
    <result column="CUST_COMP_ID" property="custCompId" jdbcType="INTEGER" />
    <result column="CUST_AREA_ID" property="custAreaId" jdbcType="INTEGER" />
    <result column="CUST_REG_ID" property="custRegId" jdbcType="INTEGER" />
    <result column="CUST_DEPT_ID" property="custDeptId" jdbcType="INTEGER" />
    <result column="CUST_GR_ID" property="custGrId" jdbcType="INTEGER" />
    <result column="SCAN_FLAG" property="scanFlag" jdbcType="TINYINT" />
    <result column="HOUSE_COOPERATE_UPDATE_TIME" property="houseCooperateUpdateTime" jdbcType="TIMESTAMP" />
    <result column="CUST_COOPERATE_UPDATE_TIME" property="custCooperateUpdateTime" jdbcType="TIMESTAMP" />
    <result column="HOUSE_DEAL_PRICE" property="houseDealPrice" jdbcType="NUMERIC" />
    <result column="HOUSE_BROKERAGE" property="houseBrokerage" jdbcType="NUMERIC" />
    <result column="CUST_DEAL_PRICE" property="custDealPrice" jdbcType="NUMERIC" />
    <result column="CUST_BROKERAGE" property="custBrokerage" jdbcType="NUMERIC" />
    <result column="HOUSE_ENDDATE" property="houseEnddate" jdbcType="TIMESTAMP" />
    <result column="CUST_ENDDATE" property="custEnddate" jdbcType="TIMESTAMP" />
    <result column="HOUSE_DEAL_DESC" property="houseDealDesc" jdbcType="VARCHAR" />
    <result column="CUST_DEAL_DESC" property="custDealDesc" jdbcType="VARCHAR" />
    <result column="HOUSE_LEASE_UNIT" property="houseLeaseUnit" jdbcType="TINYINT" />
    <result column="CUST_LEASE_UNIT" property="custLeaseUnit" jdbcType="TINYINT" />
    <result column="DEAL_ARCHIVE_ID" property="dealArchiveId" jdbcType="INTEGER" />
    <result column="TOTAL_BROKERAGE" property="totalBrokerage" jdbcType="NUMERIC" />
    <result column="DEAL_COMP_ID" property="dealCompId" jdbcType="INTEGER" />
    <result column="DEAL_USER_ID" property="dealUserId" jdbcType="INTEGER" />
    <result column="DEAL_HOUSE_CUST" property="dealHouseCust" jdbcType="TINYINT" />
    <result column="HOUSE_COMMISSION_RATE" property="houseCommissionRate" jdbcType="DECIMAL" />
    <result column="CUST_COMMISSION_RATE" property="custCommissionRate" jdbcType="DECIMAL" />
    <result column="HOUSE_COMPLAINT_STATUS" property="houseComplaintStatus" jdbcType="TINYINT" />
    <result column="CUST_COMPLAINT_STATUS" property="custComplaintStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, HOUSE_CITY_ID, HOUSE_ARCHIVE_ID, HOUSE_USER_ID, HOUSE_ID, CUST_CITY_ID, CUST_ARCHIVE_ID, 
    CUST_USER_ID, CUST_ID, COOPERATE_TYPE, TAKE_LOOK_TIME, SCAN_CODE_ADDRESS, HOUSE_COOPERATE_STATUS, 
    CUST_COOPERATE_STATUS, HOUSE_JSON, CUST_JSON, CREATION_TIME, HOUSE_COMP_ID, HOUSE_AREA_ID, 
    HOUSE_REG_ID, HOUSE_DEPT_ID, HOUSE_GR_ID, CUST_COMP_ID, CUST_AREA_ID, CUST_REG_ID, 
    CUST_DEPT_ID, CUST_GR_ID, SCAN_FLAG, HOUSE_COOPERATE_UPDATE_TIME, CUST_COOPERATE_UPDATE_TIME, 
    HOUSE_DEAL_PRICE, HOUSE_BROKERAGE, CUST_DEAL_PRICE, CUST_BROKERAGE, HOUSE_ENDDATE, 
    CUST_ENDDATE, HOUSE_DEAL_DESC, CUST_DEAL_DESC, HOUSE_LEASE_UNIT, CUST_LEASE_UNIT, 
    DEAL_ARCHIVE_ID, TOTAL_BROKERAGE, DEAL_COMP_ID, DEAL_USER_ID, DEAL_HOUSE_CUST, HOUSE_COMMISSION_RATE, 
    CUST_COMMISSION_RATE, HOUSE_COMPLAINT_STATUS, CUST_COMPLAINT_STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.po.AdminCaseCooperateExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CASE_COOPERATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from CASE_COOPERATE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from CASE_COOPERATE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminCaseCooperateExample" >
    <!--@mbggenerated-->
    delete from CASE_COOPERATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminCaseCooperate" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into CASE_COOPERATE (HOUSE_CITY_ID, HOUSE_ARCHIVE_ID, HOUSE_USER_ID, 
      HOUSE_ID, CUST_CITY_ID, CUST_ARCHIVE_ID, 
      CUST_USER_ID, CUST_ID, COOPERATE_TYPE, 
      TAKE_LOOK_TIME, SCAN_CODE_ADDRESS, HOUSE_COOPERATE_STATUS, 
      CUST_COOPERATE_STATUS, HOUSE_JSON, CUST_JSON, 
      CREATION_TIME, HOUSE_COMP_ID, HOUSE_AREA_ID, 
      HOUSE_REG_ID, HOUSE_DEPT_ID, HOUSE_GR_ID, 
      CUST_COMP_ID, CUST_AREA_ID, CUST_REG_ID, 
      CUST_DEPT_ID, CUST_GR_ID, SCAN_FLAG, 
      HOUSE_COOPERATE_UPDATE_TIME, CUST_COOPERATE_UPDATE_TIME, 
      HOUSE_DEAL_PRICE, HOUSE_BROKERAGE, CUST_DEAL_PRICE, 
      CUST_BROKERAGE, HOUSE_ENDDATE, CUST_ENDDATE, 
      HOUSE_DEAL_DESC, CUST_DEAL_DESC, HOUSE_LEASE_UNIT, 
      CUST_LEASE_UNIT, DEAL_ARCHIVE_ID, TOTAL_BROKERAGE, 
      DEAL_COMP_ID, DEAL_USER_ID, DEAL_HOUSE_CUST, 
      HOUSE_COMMISSION_RATE, CUST_COMMISSION_RATE, 
      HOUSE_COMPLAINT_STATUS, CUST_COMPLAINT_STATUS
      )
    values (#{houseCityId,jdbcType=INTEGER}, #{houseArchiveId,jdbcType=INTEGER}, #{houseUserId,jdbcType=INTEGER}, 
      #{houseId,jdbcType=INTEGER}, #{custCityId,jdbcType=INTEGER}, #{custArchiveId,jdbcType=INTEGER}, 
      #{custUserId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, #{cooperateType,jdbcType=TINYINT}, 
      #{takeLookTime,jdbcType=TIMESTAMP}, #{scanCodeAddress,jdbcType=VARCHAR}, #{houseCooperateStatus,jdbcType=TINYINT}, 
      #{custCooperateStatus,jdbcType=TINYINT}, #{houseJson,jdbcType=VARCHAR}, #{custJson,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{houseCompId,jdbcType=INTEGER}, #{houseAreaId,jdbcType=INTEGER}, 
      #{houseRegId,jdbcType=INTEGER}, #{houseDeptId,jdbcType=INTEGER}, #{houseGrId,jdbcType=INTEGER}, 
      #{custCompId,jdbcType=INTEGER}, #{custAreaId,jdbcType=INTEGER}, #{custRegId,jdbcType=INTEGER}, 
      #{custDeptId,jdbcType=INTEGER}, #{custGrId,jdbcType=INTEGER}, #{scanFlag,jdbcType=TINYINT}, 
      #{houseCooperateUpdateTime,jdbcType=TIMESTAMP}, #{custCooperateUpdateTime,jdbcType=TIMESTAMP}, 
      #{houseDealPrice,jdbcType=NUMERIC}, #{houseBrokerage,jdbcType=NUMERIC}, #{custDealPrice,jdbcType=NUMERIC}, 
      #{custBrokerage,jdbcType=NUMERIC}, #{houseEnddate,jdbcType=TIMESTAMP}, #{custEnddate,jdbcType=TIMESTAMP}, 
      #{houseDealDesc,jdbcType=VARCHAR}, #{custDealDesc,jdbcType=VARCHAR}, #{houseLeaseUnit,jdbcType=TINYINT}, 
      #{custLeaseUnit,jdbcType=TINYINT}, #{dealArchiveId,jdbcType=INTEGER}, #{totalBrokerage,jdbcType=NUMERIC}, 
      #{dealCompId,jdbcType=INTEGER}, #{dealUserId,jdbcType=INTEGER}, #{dealHouseCust,jdbcType=TINYINT}, 
      #{houseCommissionRate,jdbcType=DECIMAL}, #{custCommissionRate,jdbcType=DECIMAL}, 
      #{houseComplaintStatus,jdbcType=TINYINT}, #{custComplaintStatus,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminCaseCooperate" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into CASE_COOPERATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseCityId != null" >
        HOUSE_CITY_ID,
      </if>
      <if test="houseArchiveId != null" >
        HOUSE_ARCHIVE_ID,
      </if>
      <if test="houseUserId != null" >
        HOUSE_USER_ID,
      </if>
      <if test="houseId != null" >
        HOUSE_ID,
      </if>
      <if test="custCityId != null" >
        CUST_CITY_ID,
      </if>
      <if test="custArchiveId != null" >
        CUST_ARCHIVE_ID,
      </if>
      <if test="custUserId != null" >
        CUST_USER_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="cooperateType != null" >
        COOPERATE_TYPE,
      </if>
      <if test="takeLookTime != null" >
        TAKE_LOOK_TIME,
      </if>
      <if test="scanCodeAddress != null" >
        SCAN_CODE_ADDRESS,
      </if>
      <if test="houseCooperateStatus != null" >
        HOUSE_COOPERATE_STATUS,
      </if>
      <if test="custCooperateStatus != null" >
        CUST_COOPERATE_STATUS,
      </if>
      <if test="houseJson != null" >
        HOUSE_JSON,
      </if>
      <if test="custJson != null" >
        CUST_JSON,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="houseCompId != null" >
        HOUSE_COMP_ID,
      </if>
      <if test="houseAreaId != null" >
        HOUSE_AREA_ID,
      </if>
      <if test="houseRegId != null" >
        HOUSE_REG_ID,
      </if>
      <if test="houseDeptId != null" >
        HOUSE_DEPT_ID,
      </if>
      <if test="houseGrId != null" >
        HOUSE_GR_ID,
      </if>
      <if test="custCompId != null" >
        CUST_COMP_ID,
      </if>
      <if test="custAreaId != null" >
        CUST_AREA_ID,
      </if>
      <if test="custRegId != null" >
        CUST_REG_ID,
      </if>
      <if test="custDeptId != null" >
        CUST_DEPT_ID,
      </if>
      <if test="custGrId != null" >
        CUST_GR_ID,
      </if>
      <if test="scanFlag != null" >
        SCAN_FLAG,
      </if>
      <if test="houseCooperateUpdateTime != null" >
        HOUSE_COOPERATE_UPDATE_TIME,
      </if>
      <if test="custCooperateUpdateTime != null" >
        CUST_COOPERATE_UPDATE_TIME,
      </if>
      <if test="houseDealPrice != null" >
        HOUSE_DEAL_PRICE,
      </if>
      <if test="houseBrokerage != null" >
        HOUSE_BROKERAGE,
      </if>
      <if test="custDealPrice != null" >
        CUST_DEAL_PRICE,
      </if>
      <if test="custBrokerage != null" >
        CUST_BROKERAGE,
      </if>
      <if test="houseEnddate != null" >
        HOUSE_ENDDATE,
      </if>
      <if test="custEnddate != null" >
        CUST_ENDDATE,
      </if>
      <if test="houseDealDesc != null" >
        HOUSE_DEAL_DESC,
      </if>
      <if test="custDealDesc != null" >
        CUST_DEAL_DESC,
      </if>
      <if test="houseLeaseUnit != null" >
        HOUSE_LEASE_UNIT,
      </if>
      <if test="custLeaseUnit != null" >
        CUST_LEASE_UNIT,
      </if>
      <if test="dealArchiveId != null" >
        DEAL_ARCHIVE_ID,
      </if>
      <if test="totalBrokerage != null" >
        TOTAL_BROKERAGE,
      </if>
      <if test="dealCompId != null" >
        DEAL_COMP_ID,
      </if>
      <if test="dealUserId != null" >
        DEAL_USER_ID,
      </if>
      <if test="dealHouseCust != null" >
        DEAL_HOUSE_CUST,
      </if>
      <if test="houseCommissionRate != null" >
        HOUSE_COMMISSION_RATE,
      </if>
      <if test="custCommissionRate != null" >
        CUST_COMMISSION_RATE,
      </if>
      <if test="houseComplaintStatus != null" >
        HOUSE_COMPLAINT_STATUS,
      </if>
      <if test="custComplaintStatus != null" >
        CUST_COMPLAINT_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseCityId != null" >
        #{houseCityId,jdbcType=INTEGER},
      </if>
      <if test="houseArchiveId != null" >
        #{houseArchiveId,jdbcType=INTEGER},
      </if>
      <if test="houseUserId != null" >
        #{houseUserId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="custCityId != null" >
        #{custCityId,jdbcType=INTEGER},
      </if>
      <if test="custArchiveId != null" >
        #{custArchiveId,jdbcType=INTEGER},
      </if>
      <if test="custUserId != null" >
        #{custUserId,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="cooperateType != null" >
        #{cooperateType,jdbcType=TINYINT},
      </if>
      <if test="takeLookTime != null" >
        #{takeLookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scanCodeAddress != null" >
        #{scanCodeAddress,jdbcType=VARCHAR},
      </if>
      <if test="houseCooperateStatus != null" >
        #{houseCooperateStatus,jdbcType=TINYINT},
      </if>
      <if test="custCooperateStatus != null" >
        #{custCooperateStatus,jdbcType=TINYINT},
      </if>
      <if test="houseJson != null" >
        #{houseJson,jdbcType=VARCHAR},
      </if>
      <if test="custJson != null" >
        #{custJson,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseCompId != null" >
        #{houseCompId,jdbcType=INTEGER},
      </if>
      <if test="houseAreaId != null" >
        #{houseAreaId,jdbcType=INTEGER},
      </if>
      <if test="houseRegId != null" >
        #{houseRegId,jdbcType=INTEGER},
      </if>
      <if test="houseDeptId != null" >
        #{houseDeptId,jdbcType=INTEGER},
      </if>
      <if test="houseGrId != null" >
        #{houseGrId,jdbcType=INTEGER},
      </if>
      <if test="custCompId != null" >
        #{custCompId,jdbcType=INTEGER},
      </if>
      <if test="custAreaId != null" >
        #{custAreaId,jdbcType=INTEGER},
      </if>
      <if test="custRegId != null" >
        #{custRegId,jdbcType=INTEGER},
      </if>
      <if test="custDeptId != null" >
        #{custDeptId,jdbcType=INTEGER},
      </if>
      <if test="custGrId != null" >
        #{custGrId,jdbcType=INTEGER},
      </if>
      <if test="scanFlag != null" >
        #{scanFlag,jdbcType=TINYINT},
      </if>
      <if test="houseCooperateUpdateTime != null" >
        #{houseCooperateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custCooperateUpdateTime != null" >
        #{custCooperateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseDealPrice != null" >
        #{houseDealPrice,jdbcType=NUMERIC},
      </if>
      <if test="houseBrokerage != null" >
        #{houseBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="custDealPrice != null" >
        #{custDealPrice,jdbcType=NUMERIC},
      </if>
      <if test="custBrokerage != null" >
        #{custBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="houseEnddate != null" >
        #{houseEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="custEnddate != null" >
        #{custEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="houseDealDesc != null" >
        #{houseDealDesc,jdbcType=VARCHAR},
      </if>
      <if test="custDealDesc != null" >
        #{custDealDesc,jdbcType=VARCHAR},
      </if>
      <if test="houseLeaseUnit != null" >
        #{houseLeaseUnit,jdbcType=TINYINT},
      </if>
      <if test="custLeaseUnit != null" >
        #{custLeaseUnit,jdbcType=TINYINT},
      </if>
      <if test="dealArchiveId != null" >
        #{dealArchiveId,jdbcType=INTEGER},
      </if>
      <if test="totalBrokerage != null" >
        #{totalBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="dealCompId != null" >
        #{dealCompId,jdbcType=INTEGER},
      </if>
      <if test="dealUserId != null" >
        #{dealUserId,jdbcType=INTEGER},
      </if>
      <if test="dealHouseCust != null" >
        #{dealHouseCust,jdbcType=TINYINT},
      </if>
      <if test="houseCommissionRate != null" >
        #{houseCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="custCommissionRate != null" >
        #{custCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="houseComplaintStatus != null" >
        #{houseComplaintStatus,jdbcType=TINYINT},
      </if>
      <if test="custComplaintStatus != null" >
        #{custComplaintStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminCaseCooperateExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from CASE_COOPERATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update CASE_COOPERATE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.houseCityId != null" >
        HOUSE_CITY_ID = #{record.houseCityId,jdbcType=INTEGER},
      </if>
      <if test="record.houseArchiveId != null" >
        HOUSE_ARCHIVE_ID = #{record.houseArchiveId,jdbcType=INTEGER},
      </if>
      <if test="record.houseUserId != null" >
        HOUSE_USER_ID = #{record.houseUserId,jdbcType=INTEGER},
      </if>
      <if test="record.houseId != null" >
        HOUSE_ID = #{record.houseId,jdbcType=INTEGER},
      </if>
      <if test="record.custCityId != null" >
        CUST_CITY_ID = #{record.custCityId,jdbcType=INTEGER},
      </if>
      <if test="record.custArchiveId != null" >
        CUST_ARCHIVE_ID = #{record.custArchiveId,jdbcType=INTEGER},
      </if>
      <if test="record.custUserId != null" >
        CUST_USER_ID = #{record.custUserId,jdbcType=INTEGER},
      </if>
      <if test="record.custId != null" >
        CUST_ID = #{record.custId,jdbcType=INTEGER},
      </if>
      <if test="record.cooperateType != null" >
        COOPERATE_TYPE = #{record.cooperateType,jdbcType=TINYINT},
      </if>
      <if test="record.takeLookTime != null" >
        TAKE_LOOK_TIME = #{record.takeLookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.scanCodeAddress != null" >
        SCAN_CODE_ADDRESS = #{record.scanCodeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.houseCooperateStatus != null" >
        HOUSE_COOPERATE_STATUS = #{record.houseCooperateStatus,jdbcType=TINYINT},
      </if>
      <if test="record.custCooperateStatus != null" >
        CUST_COOPERATE_STATUS = #{record.custCooperateStatus,jdbcType=TINYINT},
      </if>
      <if test="record.houseJson != null" >
        HOUSE_JSON = #{record.houseJson,jdbcType=VARCHAR},
      </if>
      <if test="record.custJson != null" >
        CUST_JSON = #{record.custJson,jdbcType=VARCHAR},
      </if>
      <if test="record.creationTime != null" >
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.houseCompId != null" >
        HOUSE_COMP_ID = #{record.houseCompId,jdbcType=INTEGER},
      </if>
      <if test="record.houseAreaId != null" >
        HOUSE_AREA_ID = #{record.houseAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.houseRegId != null" >
        HOUSE_REG_ID = #{record.houseRegId,jdbcType=INTEGER},
      </if>
      <if test="record.houseDeptId != null" >
        HOUSE_DEPT_ID = #{record.houseDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.houseGrId != null" >
        HOUSE_GR_ID = #{record.houseGrId,jdbcType=INTEGER},
      </if>
      <if test="record.custCompId != null" >
        CUST_COMP_ID = #{record.custCompId,jdbcType=INTEGER},
      </if>
      <if test="record.custAreaId != null" >
        CUST_AREA_ID = #{record.custAreaId,jdbcType=INTEGER},
      </if>
      <if test="record.custRegId != null" >
        CUST_REG_ID = #{record.custRegId,jdbcType=INTEGER},
      </if>
      <if test="record.custDeptId != null" >
        CUST_DEPT_ID = #{record.custDeptId,jdbcType=INTEGER},
      </if>
      <if test="record.custGrId != null" >
        CUST_GR_ID = #{record.custGrId,jdbcType=INTEGER},
      </if>
      <if test="record.scanFlag != null" >
        SCAN_FLAG = #{record.scanFlag,jdbcType=TINYINT},
      </if>
      <if test="record.houseCooperateUpdateTime != null" >
        HOUSE_COOPERATE_UPDATE_TIME = #{record.houseCooperateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.custCooperateUpdateTime != null" >
        CUST_COOPERATE_UPDATE_TIME = #{record.custCooperateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.houseDealPrice != null" >
        HOUSE_DEAL_PRICE = #{record.houseDealPrice,jdbcType=NUMERIC},
      </if>
      <if test="record.houseBrokerage != null" >
        HOUSE_BROKERAGE = #{record.houseBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="record.custDealPrice != null" >
        CUST_DEAL_PRICE = #{record.custDealPrice,jdbcType=NUMERIC},
      </if>
      <if test="record.custBrokerage != null" >
        CUST_BROKERAGE = #{record.custBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="record.houseEnddate != null" >
        HOUSE_ENDDATE = #{record.houseEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.custEnddate != null" >
        CUST_ENDDATE = #{record.custEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.houseDealDesc != null" >
        HOUSE_DEAL_DESC = #{record.houseDealDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.custDealDesc != null" >
        CUST_DEAL_DESC = #{record.custDealDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.houseLeaseUnit != null" >
        HOUSE_LEASE_UNIT = #{record.houseLeaseUnit,jdbcType=TINYINT},
      </if>
      <if test="record.custLeaseUnit != null" >
        CUST_LEASE_UNIT = #{record.custLeaseUnit,jdbcType=TINYINT},
      </if>
      <if test="record.dealArchiveId != null" >
        DEAL_ARCHIVE_ID = #{record.dealArchiveId,jdbcType=INTEGER},
      </if>
      <if test="record.totalBrokerage != null" >
        TOTAL_BROKERAGE = #{record.totalBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="record.dealCompId != null" >
        DEAL_COMP_ID = #{record.dealCompId,jdbcType=INTEGER},
      </if>
      <if test="record.dealUserId != null" >
        DEAL_USER_ID = #{record.dealUserId,jdbcType=INTEGER},
      </if>
      <if test="record.dealHouseCust != null" >
        DEAL_HOUSE_CUST = #{record.dealHouseCust,jdbcType=TINYINT},
      </if>
      <if test="record.houseCommissionRate != null" >
        HOUSE_COMMISSION_RATE = #{record.houseCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="record.custCommissionRate != null" >
        CUST_COMMISSION_RATE = #{record.custCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="record.houseComplaintStatus != null" >
        HOUSE_COMPLAINT_STATUS = #{record.houseComplaintStatus,jdbcType=TINYINT},
      </if>
      <if test="record.custComplaintStatus != null" >
        CUST_COMPLAINT_STATUS = #{record.custComplaintStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update CASE_COOPERATE
    set ID = #{record.id,jdbcType=INTEGER},
      HOUSE_CITY_ID = #{record.houseCityId,jdbcType=INTEGER},
      HOUSE_ARCHIVE_ID = #{record.houseArchiveId,jdbcType=INTEGER},
      HOUSE_USER_ID = #{record.houseUserId,jdbcType=INTEGER},
      HOUSE_ID = #{record.houseId,jdbcType=INTEGER},
      CUST_CITY_ID = #{record.custCityId,jdbcType=INTEGER},
      CUST_ARCHIVE_ID = #{record.custArchiveId,jdbcType=INTEGER},
      CUST_USER_ID = #{record.custUserId,jdbcType=INTEGER},
      CUST_ID = #{record.custId,jdbcType=INTEGER},
      COOPERATE_TYPE = #{record.cooperateType,jdbcType=TINYINT},
      TAKE_LOOK_TIME = #{record.takeLookTime,jdbcType=TIMESTAMP},
      SCAN_CODE_ADDRESS = #{record.scanCodeAddress,jdbcType=VARCHAR},
      HOUSE_COOPERATE_STATUS = #{record.houseCooperateStatus,jdbcType=TINYINT},
      CUST_COOPERATE_STATUS = #{record.custCooperateStatus,jdbcType=TINYINT},
      HOUSE_JSON = #{record.houseJson,jdbcType=VARCHAR},
      CUST_JSON = #{record.custJson,jdbcType=VARCHAR},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      HOUSE_COMP_ID = #{record.houseCompId,jdbcType=INTEGER},
      HOUSE_AREA_ID = #{record.houseAreaId,jdbcType=INTEGER},
      HOUSE_REG_ID = #{record.houseRegId,jdbcType=INTEGER},
      HOUSE_DEPT_ID = #{record.houseDeptId,jdbcType=INTEGER},
      HOUSE_GR_ID = #{record.houseGrId,jdbcType=INTEGER},
      CUST_COMP_ID = #{record.custCompId,jdbcType=INTEGER},
      CUST_AREA_ID = #{record.custAreaId,jdbcType=INTEGER},
      CUST_REG_ID = #{record.custRegId,jdbcType=INTEGER},
      CUST_DEPT_ID = #{record.custDeptId,jdbcType=INTEGER},
      CUST_GR_ID = #{record.custGrId,jdbcType=INTEGER},
      SCAN_FLAG = #{record.scanFlag,jdbcType=TINYINT},
      HOUSE_COOPERATE_UPDATE_TIME = #{record.houseCooperateUpdateTime,jdbcType=TIMESTAMP},
      CUST_COOPERATE_UPDATE_TIME = #{record.custCooperateUpdateTime,jdbcType=TIMESTAMP},
      HOUSE_DEAL_PRICE = #{record.houseDealPrice,jdbcType=NUMERIC},
      HOUSE_BROKERAGE = #{record.houseBrokerage,jdbcType=NUMERIC},
      CUST_DEAL_PRICE = #{record.custDealPrice,jdbcType=NUMERIC},
      CUST_BROKERAGE = #{record.custBrokerage,jdbcType=NUMERIC},
      HOUSE_ENDDATE = #{record.houseEnddate,jdbcType=TIMESTAMP},
      CUST_ENDDATE = #{record.custEnddate,jdbcType=TIMESTAMP},
      HOUSE_DEAL_DESC = #{record.houseDealDesc,jdbcType=VARCHAR},
      CUST_DEAL_DESC = #{record.custDealDesc,jdbcType=VARCHAR},
      HOUSE_LEASE_UNIT = #{record.houseLeaseUnit,jdbcType=TINYINT},
      CUST_LEASE_UNIT = #{record.custLeaseUnit,jdbcType=TINYINT},
      DEAL_ARCHIVE_ID = #{record.dealArchiveId,jdbcType=INTEGER},
      TOTAL_BROKERAGE = #{record.totalBrokerage,jdbcType=NUMERIC},
      DEAL_COMP_ID = #{record.dealCompId,jdbcType=INTEGER},
      DEAL_USER_ID = #{record.dealUserId,jdbcType=INTEGER},
      DEAL_HOUSE_CUST = #{record.dealHouseCust,jdbcType=TINYINT},
      HOUSE_COMMISSION_RATE = #{record.houseCommissionRate,jdbcType=DECIMAL},
      CUST_COMMISSION_RATE = #{record.custCommissionRate,jdbcType=DECIMAL},
      HOUSE_COMPLAINT_STATUS = #{record.houseComplaintStatus,jdbcType=TINYINT},
      CUST_COMPLAINT_STATUS = #{record.custComplaintStatus,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminCaseCooperate" >
    <!--@mbggenerated-->
    update CASE_COOPERATE
    <set >
      <if test="houseCityId != null" >
        HOUSE_CITY_ID = #{houseCityId,jdbcType=INTEGER},
      </if>
      <if test="houseArchiveId != null" >
        HOUSE_ARCHIVE_ID = #{houseArchiveId,jdbcType=INTEGER},
      </if>
      <if test="houseUserId != null" >
        HOUSE_USER_ID = #{houseUserId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        HOUSE_ID = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="custCityId != null" >
        CUST_CITY_ID = #{custCityId,jdbcType=INTEGER},
      </if>
      <if test="custArchiveId != null" >
        CUST_ARCHIVE_ID = #{custArchiveId,jdbcType=INTEGER},
      </if>
      <if test="custUserId != null" >
        CUST_USER_ID = #{custUserId,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=INTEGER},
      </if>
      <if test="cooperateType != null" >
        COOPERATE_TYPE = #{cooperateType,jdbcType=TINYINT},
      </if>
      <if test="takeLookTime != null" >
        TAKE_LOOK_TIME = #{takeLookTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scanCodeAddress != null" >
        SCAN_CODE_ADDRESS = #{scanCodeAddress,jdbcType=VARCHAR},
      </if>
      <if test="houseCooperateStatus != null" >
        HOUSE_COOPERATE_STATUS = #{houseCooperateStatus,jdbcType=TINYINT},
      </if>
      <if test="custCooperateStatus != null" >
        CUST_COOPERATE_STATUS = #{custCooperateStatus,jdbcType=TINYINT},
      </if>
      <if test="houseJson != null" >
        HOUSE_JSON = #{houseJson,jdbcType=VARCHAR},
      </if>
      <if test="custJson != null" >
        CUST_JSON = #{custJson,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseCompId != null" >
        HOUSE_COMP_ID = #{houseCompId,jdbcType=INTEGER},
      </if>
      <if test="houseAreaId != null" >
        HOUSE_AREA_ID = #{houseAreaId,jdbcType=INTEGER},
      </if>
      <if test="houseRegId != null" >
        HOUSE_REG_ID = #{houseRegId,jdbcType=INTEGER},
      </if>
      <if test="houseDeptId != null" >
        HOUSE_DEPT_ID = #{houseDeptId,jdbcType=INTEGER},
      </if>
      <if test="houseGrId != null" >
        HOUSE_GR_ID = #{houseGrId,jdbcType=INTEGER},
      </if>
      <if test="custCompId != null" >
        CUST_COMP_ID = #{custCompId,jdbcType=INTEGER},
      </if>
      <if test="custAreaId != null" >
        CUST_AREA_ID = #{custAreaId,jdbcType=INTEGER},
      </if>
      <if test="custRegId != null" >
        CUST_REG_ID = #{custRegId,jdbcType=INTEGER},
      </if>
      <if test="custDeptId != null" >
        CUST_DEPT_ID = #{custDeptId,jdbcType=INTEGER},
      </if>
      <if test="custGrId != null" >
        CUST_GR_ID = #{custGrId,jdbcType=INTEGER},
      </if>
      <if test="scanFlag != null" >
        SCAN_FLAG = #{scanFlag,jdbcType=TINYINT},
      </if>
      <if test="houseCooperateUpdateTime != null" >
        HOUSE_COOPERATE_UPDATE_TIME = #{houseCooperateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="custCooperateUpdateTime != null" >
        CUST_COOPERATE_UPDATE_TIME = #{custCooperateUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseDealPrice != null" >
        HOUSE_DEAL_PRICE = #{houseDealPrice,jdbcType=NUMERIC},
      </if>
      <if test="houseBrokerage != null" >
        HOUSE_BROKERAGE = #{houseBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="custDealPrice != null" >
        CUST_DEAL_PRICE = #{custDealPrice,jdbcType=NUMERIC},
      </if>
      <if test="custBrokerage != null" >
        CUST_BROKERAGE = #{custBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="houseEnddate != null" >
        HOUSE_ENDDATE = #{houseEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="custEnddate != null" >
        CUST_ENDDATE = #{custEnddate,jdbcType=TIMESTAMP},
      </if>
      <if test="houseDealDesc != null" >
        HOUSE_DEAL_DESC = #{houseDealDesc,jdbcType=VARCHAR},
      </if>
      <if test="custDealDesc != null" >
        CUST_DEAL_DESC = #{custDealDesc,jdbcType=VARCHAR},
      </if>
      <if test="houseLeaseUnit != null" >
        HOUSE_LEASE_UNIT = #{houseLeaseUnit,jdbcType=TINYINT},
      </if>
      <if test="custLeaseUnit != null" >
        CUST_LEASE_UNIT = #{custLeaseUnit,jdbcType=TINYINT},
      </if>
      <if test="dealArchiveId != null" >
        DEAL_ARCHIVE_ID = #{dealArchiveId,jdbcType=INTEGER},
      </if>
      <if test="totalBrokerage != null" >
        TOTAL_BROKERAGE = #{totalBrokerage,jdbcType=NUMERIC},
      </if>
      <if test="dealCompId != null" >
        DEAL_COMP_ID = #{dealCompId,jdbcType=INTEGER},
      </if>
      <if test="dealUserId != null" >
        DEAL_USER_ID = #{dealUserId,jdbcType=INTEGER},
      </if>
      <if test="dealHouseCust != null" >
        DEAL_HOUSE_CUST = #{dealHouseCust,jdbcType=TINYINT},
      </if>
      <if test="houseCommissionRate != null" >
        HOUSE_COMMISSION_RATE = #{houseCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="custCommissionRate != null" >
        CUST_COMMISSION_RATE = #{custCommissionRate,jdbcType=DECIMAL},
      </if>
      <if test="houseComplaintStatus != null" >
        HOUSE_COMPLAINT_STATUS = #{houseComplaintStatus,jdbcType=TINYINT},
      </if>
      <if test="custComplaintStatus != null" >
        CUST_COMPLAINT_STATUS = #{custComplaintStatus,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminCaseCooperate" >
    <!--@mbggenerated-->
    update CASE_COOPERATE
    set HOUSE_CITY_ID = #{houseCityId,jdbcType=INTEGER},
      HOUSE_ARCHIVE_ID = #{houseArchiveId,jdbcType=INTEGER},
      HOUSE_USER_ID = #{houseUserId,jdbcType=INTEGER},
      HOUSE_ID = #{houseId,jdbcType=INTEGER},
      CUST_CITY_ID = #{custCityId,jdbcType=INTEGER},
      CUST_ARCHIVE_ID = #{custArchiveId,jdbcType=INTEGER},
      CUST_USER_ID = #{custUserId,jdbcType=INTEGER},
      CUST_ID = #{custId,jdbcType=INTEGER},
      COOPERATE_TYPE = #{cooperateType,jdbcType=TINYINT},
      TAKE_LOOK_TIME = #{takeLookTime,jdbcType=TIMESTAMP},
      SCAN_CODE_ADDRESS = #{scanCodeAddress,jdbcType=VARCHAR},
      HOUSE_COOPERATE_STATUS = #{houseCooperateStatus,jdbcType=TINYINT},
      CUST_COOPERATE_STATUS = #{custCooperateStatus,jdbcType=TINYINT},
      HOUSE_JSON = #{houseJson,jdbcType=VARCHAR},
      CUST_JSON = #{custJson,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      HOUSE_COMP_ID = #{houseCompId,jdbcType=INTEGER},
      HOUSE_AREA_ID = #{houseAreaId,jdbcType=INTEGER},
      HOUSE_REG_ID = #{houseRegId,jdbcType=INTEGER},
      HOUSE_DEPT_ID = #{houseDeptId,jdbcType=INTEGER},
      HOUSE_GR_ID = #{houseGrId,jdbcType=INTEGER},
      CUST_COMP_ID = #{custCompId,jdbcType=INTEGER},
      CUST_AREA_ID = #{custAreaId,jdbcType=INTEGER},
      CUST_REG_ID = #{custRegId,jdbcType=INTEGER},
      CUST_DEPT_ID = #{custDeptId,jdbcType=INTEGER},
      CUST_GR_ID = #{custGrId,jdbcType=INTEGER},
      SCAN_FLAG = #{scanFlag,jdbcType=TINYINT},
      HOUSE_COOPERATE_UPDATE_TIME = #{houseCooperateUpdateTime,jdbcType=TIMESTAMP},
      CUST_COOPERATE_UPDATE_TIME = #{custCooperateUpdateTime,jdbcType=TIMESTAMP},
      HOUSE_DEAL_PRICE = #{houseDealPrice,jdbcType=NUMERIC},
      HOUSE_BROKERAGE = #{houseBrokerage,jdbcType=NUMERIC},
      CUST_DEAL_PRICE = #{custDealPrice,jdbcType=NUMERIC},
      CUST_BROKERAGE = #{custBrokerage,jdbcType=NUMERIC},
      HOUSE_ENDDATE = #{houseEnddate,jdbcType=TIMESTAMP},
      CUST_ENDDATE = #{custEnddate,jdbcType=TIMESTAMP},
      HOUSE_DEAL_DESC = #{houseDealDesc,jdbcType=VARCHAR},
      CUST_DEAL_DESC = #{custDealDesc,jdbcType=VARCHAR},
      HOUSE_LEASE_UNIT = #{houseLeaseUnit,jdbcType=TINYINT},
      CUST_LEASE_UNIT = #{custLeaseUnit,jdbcType=TINYINT},
      DEAL_ARCHIVE_ID = #{dealArchiveId,jdbcType=INTEGER},
      TOTAL_BROKERAGE = #{totalBrokerage,jdbcType=NUMERIC},
      DEAL_COMP_ID = #{dealCompId,jdbcType=INTEGER},
      DEAL_USER_ID = #{dealUserId,jdbcType=INTEGER},
      DEAL_HOUSE_CUST = #{dealHouseCust,jdbcType=TINYINT},
      HOUSE_COMMISSION_RATE = #{houseCommissionRate,jdbcType=DECIMAL},
      CUST_COMMISSION_RATE = #{custCommissionRate,jdbcType=DECIMAL},
      HOUSE_COMPLAINT_STATUS = #{houseComplaintStatus,jdbcType=TINYINT},
      CUST_COMPLAINT_STATUS = #{custComplaintStatus,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>