<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminSyncDataConfigMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminSyncDataConfig" >
    <!--@mbggenerated-->
    <id column="COMP_NO" property="compNo" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="COMP_NAME" property="compName" jdbcType="VARCHAR" />
    <result column="SYNC_VERIFYID" property="syncVerifyid" jdbcType="VARCHAR" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="LAST_TIME_SALE" property="lastTimeSale" jdbcType="TIMESTAMP" />
    <result column="LAST_TIME_LEASE" property="lastTimeLease" jdbcType="TIMESTAMP" />
    <result column="LAST_TIME_PHOTO" property="lastTimePhoto" jdbcType="TIMESTAMP" />
    <result column="LAST_TIME_USER" property="lastTimeUser" jdbcType="TIMESTAMP" />
    <result column="LAST_TIME_COMP" property="lastTimeComp" jdbcType="TIMESTAMP" />
    <result column="LAST_TIME_DEPT" property="lastTimeDept" jdbcType="TIMESTAMP" />
    <result column="LAST_TIME_DEBUG" property="lastTimeDebug" jdbcType="TIMESTAMP" />
    <result column="RECENT_TIME_SALE" property="recentTimeSale" jdbcType="TIMESTAMP" />
    <result column="RECENT_TIME_LEASE" property="recentTimeLease" jdbcType="TIMESTAMP" />
    <result column="LAST_PAGE_LEASE" property="lastPageLease" jdbcType="INTEGER" />
    <result column="LAST_PAGE_SALE" property="lastPageSale" jdbcType="INTEGER" />
    <result column="RECENT_PAGE_LEASE" property="recentPageLease" jdbcType="INTEGER" />
    <result column="RECENT_PAGE_SALE" property="recentPageSale" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    COMP_NO, CITY_ID, COMP_NAME, SYNC_VERIFYID, CREATION_TIME, LAST_TIME_SALE, LAST_TIME_LEASE, 
    LAST_TIME_PHOTO, LAST_TIME_USER, LAST_TIME_COMP, LAST_TIME_DEPT, LAST_TIME_DEBUG, 
    RECENT_TIME_SALE, RECENT_TIME_LEASE, LAST_PAGE_LEASE, LAST_PAGE_SALE, RECENT_PAGE_LEASE, 
    RECENT_PAGE_SALE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from SYNC_DATA_CONFIG
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    delete from SYNC_DATA_CONFIG
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminSyncDataConfig" >
    <!--@mbggenerated-->
    insert into SYNC_DATA_CONFIG (COMP_NO, CITY_ID, COMP_NAME, 
      SYNC_VERIFYID, CREATION_TIME, LAST_TIME_SALE, 
      LAST_TIME_LEASE, LAST_TIME_PHOTO, LAST_TIME_USER, 
      LAST_TIME_COMP, LAST_TIME_DEPT, LAST_TIME_DEBUG, 
      RECENT_TIME_SALE, RECENT_TIME_LEASE, LAST_PAGE_LEASE, 
      LAST_PAGE_SALE, RECENT_PAGE_LEASE, RECENT_PAGE_SALE
      )
    values (#{compNo,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{compName,jdbcType=VARCHAR}, 
      #{syncVerifyid,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{lastTimeSale,jdbcType=TIMESTAMP}, 
      #{lastTimeLease,jdbcType=TIMESTAMP}, #{lastTimePhoto,jdbcType=TIMESTAMP}, #{lastTimeUser,jdbcType=TIMESTAMP}, 
      #{lastTimeComp,jdbcType=TIMESTAMP}, #{lastTimeDept,jdbcType=TIMESTAMP}, #{lastTimeDebug,jdbcType=TIMESTAMP}, 
      #{recentTimeSale,jdbcType=TIMESTAMP}, #{recentTimeLease,jdbcType=TIMESTAMP}, #{lastPageLease,jdbcType=INTEGER}, 
      #{lastPageSale,jdbcType=INTEGER}, #{recentPageLease,jdbcType=INTEGER}, #{recentPageSale,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminSyncDataConfig" >
    <!--@mbggenerated-->
    insert into SYNC_DATA_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compNo != null" >
        COMP_NO,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="compName != null" >
        COMP_NAME,
      </if>
      <if test="syncVerifyid != null" >
        SYNC_VERIFYID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="lastTimeSale != null" >
        LAST_TIME_SALE,
      </if>
      <if test="lastTimeLease != null" >
        LAST_TIME_LEASE,
      </if>
      <if test="lastTimePhoto != null" >
        LAST_TIME_PHOTO,
      </if>
      <if test="lastTimeUser != null" >
        LAST_TIME_USER,
      </if>
      <if test="lastTimeComp != null" >
        LAST_TIME_COMP,
      </if>
      <if test="lastTimeDept != null" >
        LAST_TIME_DEPT,
      </if>
      <if test="lastTimeDebug != null" >
        LAST_TIME_DEBUG,
      </if>
      <if test="recentTimeSale != null" >
        RECENT_TIME_SALE,
      </if>
      <if test="recentTimeLease != null" >
        RECENT_TIME_LEASE,
      </if>
      <if test="lastPageLease != null" >
        LAST_PAGE_LEASE,
      </if>
      <if test="lastPageSale != null" >
        LAST_PAGE_SALE,
      </if>
      <if test="recentPageLease != null" >
        RECENT_PAGE_LEASE,
      </if>
      <if test="recentPageSale != null" >
        RECENT_PAGE_SALE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compNo != null" >
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compName != null" >
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="syncVerifyid != null" >
        #{syncVerifyid,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeSale != null" >
        #{lastTimeSale,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeLease != null" >
        #{lastTimeLease,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimePhoto != null" >
        #{lastTimePhoto,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeUser != null" >
        #{lastTimeUser,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeComp != null" >
        #{lastTimeComp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeDept != null" >
        #{lastTimeDept,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeDebug != null" >
        #{lastTimeDebug,jdbcType=TIMESTAMP},
      </if>
      <if test="recentTimeSale != null" >
        #{recentTimeSale,jdbcType=TIMESTAMP},
      </if>
      <if test="recentTimeLease != null" >
        #{recentTimeLease,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPageLease != null" >
        #{lastPageLease,jdbcType=INTEGER},
      </if>
      <if test="lastPageSale != null" >
        #{lastPageSale,jdbcType=INTEGER},
      </if>
      <if test="recentPageLease != null" >
        #{recentPageLease,jdbcType=INTEGER},
      </if>
      <if test="recentPageSale != null" >
        #{recentPageSale,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminSyncDataConfig" >
    <!--@mbggenerated-->
    update SYNC_DATA_CONFIG
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compName != null" >
        COMP_NAME = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="syncVerifyid != null" >
        SYNC_VERIFYID = #{syncVerifyid,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeSale != null" >
        LAST_TIME_SALE = #{lastTimeSale,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeLease != null" >
        LAST_TIME_LEASE = #{lastTimeLease,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimePhoto != null" >
        LAST_TIME_PHOTO = #{lastTimePhoto,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeUser != null" >
        LAST_TIME_USER = #{lastTimeUser,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeComp != null" >
        LAST_TIME_COMP = #{lastTimeComp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeDept != null" >
        LAST_TIME_DEPT = #{lastTimeDept,jdbcType=TIMESTAMP},
      </if>
      <if test="lastTimeDebug != null" >
        LAST_TIME_DEBUG = #{lastTimeDebug,jdbcType=TIMESTAMP},
      </if>
      <if test="recentTimeSale != null" >
        RECENT_TIME_SALE = #{recentTimeSale,jdbcType=TIMESTAMP},
      </if>
      <if test="recentTimeLease != null" >
        RECENT_TIME_LEASE = #{recentTimeLease,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPageLease != null" >
        LAST_PAGE_LEASE = #{lastPageLease,jdbcType=INTEGER},
      </if>
      <if test="lastPageSale != null" >
        LAST_PAGE_SALE = #{lastPageSale,jdbcType=INTEGER},
      </if>
      <if test="recentPageLease != null" >
        RECENT_PAGE_LEASE = #{recentPageLease,jdbcType=INTEGER},
      </if>
      <if test="recentPageSale != null" >
        RECENT_PAGE_SALE = #{recentPageSale,jdbcType=INTEGER},
      </if>
    </set>
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminSyncDataConfig" >
    <!--@mbggenerated-->
    update SYNC_DATA_CONFIG
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_NAME = #{compName,jdbcType=VARCHAR},
      SYNC_VERIFYID = #{syncVerifyid,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      LAST_TIME_SALE = #{lastTimeSale,jdbcType=TIMESTAMP},
      LAST_TIME_LEASE = #{lastTimeLease,jdbcType=TIMESTAMP},
      LAST_TIME_PHOTO = #{lastTimePhoto,jdbcType=TIMESTAMP},
      LAST_TIME_USER = #{lastTimeUser,jdbcType=TIMESTAMP},
      LAST_TIME_COMP = #{lastTimeComp,jdbcType=TIMESTAMP},
      LAST_TIME_DEPT = #{lastTimeDept,jdbcType=TIMESTAMP},
      LAST_TIME_DEBUG = #{lastTimeDebug,jdbcType=TIMESTAMP},
      RECENT_TIME_SALE = #{recentTimeSale,jdbcType=TIMESTAMP},
      RECENT_TIME_LEASE = #{recentTimeLease,jdbcType=TIMESTAMP},
      LAST_PAGE_LEASE = #{lastPageLease,jdbcType=INTEGER},
      LAST_PAGE_SALE = #{lastPageSale,jdbcType=INTEGER},
      RECENT_PAGE_LEASE = #{recentPageLease,jdbcType=INTEGER},
      RECENT_PAGE_SALE = #{recentPageSale,jdbcType=INTEGER}
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </update>
</mapper>