<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminLimitWebMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminLimitWeb" >
    <!--@mbggenerated-->
    <id column="L_ID" property="lId" jdbcType="INTEGER" />
    <result column="SITE_ID" property="siteId" jdbcType="INTEGER" />
    <result column="USER_TYPE" property="userType" jdbcType="TINYINT" />
    <result column="TYPE_DESC" property="typeDesc" jdbcType="VARCHAR" />
    <result column="NO_CS" property="noCs" jdbcType="TINYINT" />
    <result column="NO_CZ" property="noCz" jdbcType="TINYINT" />
    <result column="NO_HOUSING" property="noHousing" jdbcType="TINYINT" />
    <result column="NO_OFFICE" property="noOffice" jdbcType="TINYINT" />
    <result column="NO_TRADE" property="noTrade" jdbcType="TINYINT" />
    <result column="NO_STORE" property="noStore" jdbcType="TINYINT" />
    <result column="NO_DEL" property="noDel" jdbcType="TINYINT" />
    <result column="NO_REF" property="noRef" jdbcType="TINYINT" />
    <result column="NEED_PIC" property="needPic" jdbcType="TINYINT" />
    <result column="NEED_VALID" property="needValid" jdbcType="TINYINT" />
    <result column="NEED_PAY" property="needPay" jdbcType="TINYINT" />
    <result column="TREAT_WAY" property="treatWay" jdbcType="VARCHAR" />
    <result column="KEYWORD" property="keyword" jdbcType="VARCHAR" />
    <result column="PUB_WAY" property="pubWay" jdbcType="VARCHAR" />
    <result column="REF_WAY" property="refWay" jdbcType="VARCHAR" />
    <result column="TYPE_INFO" property="typeInfo" jdbcType="VARCHAR" />
    <result column="CAN_USE" property="canUse" jdbcType="TINYINT" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    L_ID, SITE_ID, USER_TYPE, TYPE_DESC, NO_CS, NO_CZ, NO_HOUSING, NO_OFFICE, NO_TRADE, 
    NO_STORE, NO_DEL, NO_REF, NEED_PIC, NEED_VALID, NEED_PAY, TREAT_WAY, KEYWORD, PUB_WAY, 
    REF_WAY, TYPE_INFO, CAN_USE, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from LIMIT_WEB
    where L_ID = #{lId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from LIMIT_WEB
    where L_ID = #{lId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminLimitWeb" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="lId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into LIMIT_WEB (SITE_ID, USER_TYPE, TYPE_DESC, 
      NO_CS, NO_CZ, NO_HOUSING, 
      NO_OFFICE, NO_TRADE, NO_STORE, 
      NO_DEL, NO_REF, NEED_PIC, 
      NEED_VALID, NEED_PAY, TREAT_WAY, 
      KEYWORD, PUB_WAY, REF_WAY, 
      TYPE_INFO, CAN_USE, UPDATE_TIME
      )
    values (#{siteId,jdbcType=INTEGER}, #{userType,jdbcType=TINYINT}, #{typeDesc,jdbcType=VARCHAR}, 
      #{noCs,jdbcType=TINYINT}, #{noCz,jdbcType=TINYINT}, #{noHousing,jdbcType=TINYINT}, 
      #{noOffice,jdbcType=TINYINT}, #{noTrade,jdbcType=TINYINT}, #{noStore,jdbcType=TINYINT}, 
      #{noDel,jdbcType=TINYINT}, #{noRef,jdbcType=TINYINT}, #{needPic,jdbcType=TINYINT}, 
      #{needValid,jdbcType=TINYINT}, #{needPay,jdbcType=TINYINT}, #{treatWay,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{pubWay,jdbcType=VARCHAR}, #{refWay,jdbcType=VARCHAR}, 
      #{typeInfo,jdbcType=VARCHAR}, #{canUse,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminLimitWeb" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="lId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into LIMIT_WEB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="siteId != null" >
        SITE_ID,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="typeDesc != null" >
        TYPE_DESC,
      </if>
      <if test="noCs != null" >
        NO_CS,
      </if>
      <if test="noCz != null" >
        NO_CZ,
      </if>
      <if test="noHousing != null" >
        NO_HOUSING,
      </if>
      <if test="noOffice != null" >
        NO_OFFICE,
      </if>
      <if test="noTrade != null" >
        NO_TRADE,
      </if>
      <if test="noStore != null" >
        NO_STORE,
      </if>
      <if test="noDel != null" >
        NO_DEL,
      </if>
      <if test="noRef != null" >
        NO_REF,
      </if>
      <if test="needPic != null" >
        NEED_PIC,
      </if>
      <if test="needValid != null" >
        NEED_VALID,
      </if>
      <if test="needPay != null" >
        NEED_PAY,
      </if>
      <if test="treatWay != null" >
        TREAT_WAY,
      </if>
      <if test="keyword != null" >
        KEYWORD,
      </if>
      <if test="pubWay != null" >
        PUB_WAY,
      </if>
      <if test="refWay != null" >
        REF_WAY,
      </if>
      <if test="typeInfo != null" >
        TYPE_INFO,
      </if>
      <if test="canUse != null" >
        CAN_USE,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="noCs != null" >
        #{noCs,jdbcType=TINYINT},
      </if>
      <if test="noCz != null" >
        #{noCz,jdbcType=TINYINT},
      </if>
      <if test="noHousing != null" >
        #{noHousing,jdbcType=TINYINT},
      </if>
      <if test="noOffice != null" >
        #{noOffice,jdbcType=TINYINT},
      </if>
      <if test="noTrade != null" >
        #{noTrade,jdbcType=TINYINT},
      </if>
      <if test="noStore != null" >
        #{noStore,jdbcType=TINYINT},
      </if>
      <if test="noDel != null" >
        #{noDel,jdbcType=TINYINT},
      </if>
      <if test="noRef != null" >
        #{noRef,jdbcType=TINYINT},
      </if>
      <if test="needPic != null" >
        #{needPic,jdbcType=TINYINT},
      </if>
      <if test="needValid != null" >
        #{needValid,jdbcType=TINYINT},
      </if>
      <if test="needPay != null" >
        #{needPay,jdbcType=TINYINT},
      </if>
      <if test="treatWay != null" >
        #{treatWay,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="pubWay != null" >
        #{pubWay,jdbcType=VARCHAR},
      </if>
      <if test="refWay != null" >
        #{refWay,jdbcType=VARCHAR},
      </if>
      <if test="typeInfo != null" >
        #{typeInfo,jdbcType=VARCHAR},
      </if>
      <if test="canUse != null" >
        #{canUse,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminLimitWeb" >
    <!--@mbggenerated-->
    update LIMIT_WEB
    <set >
      <if test="siteId != null" >
        SITE_ID = #{siteId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=TINYINT},
      </if>
      <if test="typeDesc != null" >
        TYPE_DESC = #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="noCs != null" >
        NO_CS = #{noCs,jdbcType=TINYINT},
      </if>
      <if test="noCz != null" >
        NO_CZ = #{noCz,jdbcType=TINYINT},
      </if>
      <if test="noHousing != null" >
        NO_HOUSING = #{noHousing,jdbcType=TINYINT},
      </if>
      <if test="noOffice != null" >
        NO_OFFICE = #{noOffice,jdbcType=TINYINT},
      </if>
      <if test="noTrade != null" >
        NO_TRADE = #{noTrade,jdbcType=TINYINT},
      </if>
      <if test="noStore != null" >
        NO_STORE = #{noStore,jdbcType=TINYINT},
      </if>
      <if test="noDel != null" >
        NO_DEL = #{noDel,jdbcType=TINYINT},
      </if>
      <if test="noRef != null" >
        NO_REF = #{noRef,jdbcType=TINYINT},
      </if>
      <if test="needPic != null" >
        NEED_PIC = #{needPic,jdbcType=TINYINT},
      </if>
      <if test="needValid != null" >
        NEED_VALID = #{needValid,jdbcType=TINYINT},
      </if>
      <if test="needPay != null" >
        NEED_PAY = #{needPay,jdbcType=TINYINT},
      </if>
      <if test="treatWay != null" >
        TREAT_WAY = #{treatWay,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        KEYWORD = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="pubWay != null" >
        PUB_WAY = #{pubWay,jdbcType=VARCHAR},
      </if>
      <if test="refWay != null" >
        REF_WAY = #{refWay,jdbcType=VARCHAR},
      </if>
      <if test="typeInfo != null" >
        TYPE_INFO = #{typeInfo,jdbcType=VARCHAR},
      </if>
      <if test="canUse != null" >
        CAN_USE = #{canUse,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where L_ID = #{lId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminLimitWeb" >
    <!--@mbggenerated-->
    update LIMIT_WEB
    set SITE_ID = #{siteId,jdbcType=INTEGER},
      USER_TYPE = #{userType,jdbcType=TINYINT},
      TYPE_DESC = #{typeDesc,jdbcType=VARCHAR},
      NO_CS = #{noCs,jdbcType=TINYINT},
      NO_CZ = #{noCz,jdbcType=TINYINT},
      NO_HOUSING = #{noHousing,jdbcType=TINYINT},
      NO_OFFICE = #{noOffice,jdbcType=TINYINT},
      NO_TRADE = #{noTrade,jdbcType=TINYINT},
      NO_STORE = #{noStore,jdbcType=TINYINT},
      NO_DEL = #{noDel,jdbcType=TINYINT},
      NO_REF = #{noRef,jdbcType=TINYINT},
      NEED_PIC = #{needPic,jdbcType=TINYINT},
      NEED_VALID = #{needValid,jdbcType=TINYINT},
      NEED_PAY = #{needPay,jdbcType=TINYINT},
      TREAT_WAY = #{treatWay,jdbcType=VARCHAR},
      KEYWORD = #{keyword,jdbcType=VARCHAR},
      PUB_WAY = #{pubWay,jdbcType=VARCHAR},
      REF_WAY = #{refWay,jdbcType=VARCHAR},
      TYPE_INFO = #{typeInfo,jdbcType=VARCHAR},
      CAN_USE = #{canUse,jdbcType=TINYINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where L_ID = #{lId,jdbcType=INTEGER}
  </update>
</mapper>