<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunUsersMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunUsers" >
    <!--@mbggenerated-->
    <id column="USER_NO" property="userNo" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="COMP_NO" property="compNo" jdbcType="VARCHAR" />
    <result column="DEPT_NO" property="deptNo" jdbcType="VARCHAR" />
    <result column="USER_POSITION" property="userPosition" jdbcType="VARCHAR" />
    <result column="USER_EDITION" property="userEdition" jdbcType="INTEGER" />
    <result column="USER_WRITEOFF" property="userWriteoff" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    USER_NO, CITY_ID, ARCHIVE_ID, USER_NAME, USER_MOBILE, COMP_NO, DEPT_NO, USER_POSITION, 
    USER_EDITION, USER_WRITEOFF
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_USERS
    where USER_NO = #{userNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    delete from FUN_USERS
    where USER_NO = #{userNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunUsers" >
    <!--@mbggenerated-->
    insert into FUN_USERS (USER_NO, CITY_ID, ARCHIVE_ID, 
      USER_NAME, USER_MOBILE, COMP_NO, 
      DEPT_NO, USER_POSITION, USER_EDITION, 
      USER_WRITEOFF)
    values (#{userNo,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{compNo,jdbcType=VARCHAR}, 
      #{deptNo,jdbcType=VARCHAR}, #{userPosition,jdbcType=VARCHAR}, #{userEdition,jdbcType=INTEGER}, 
      #{userWriteoff,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunUsers" >
    <!--@mbggenerated-->
    insert into FUN_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        USER_NO,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userMobile != null" >
        USER_MOBILE,
      </if>
      <if test="compNo != null" >
        COMP_NO,
      </if>
      <if test="deptNo != null" >
        DEPT_NO,
      </if>
      <if test="userPosition != null" >
        USER_POSITION,
      </if>
      <if test="userEdition != null" >
        USER_EDITION,
      </if>
      <if test="userWriteoff != null" >
        USER_WRITEOFF,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userNo != null" >
        #{userNo,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="compNo != null" >
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null" >
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        #{userPosition,jdbcType=VARCHAR},
      </if>
      <if test="userEdition != null" >
        #{userEdition,jdbcType=INTEGER},
      </if>
      <if test="userWriteoff != null" >
        #{userWriteoff,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunUsers" >
    <!--@mbggenerated-->
    update FUN_USERS
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="compNo != null" >
        COMP_NO = #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null" >
        DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="userPosition != null" >
        USER_POSITION = #{userPosition,jdbcType=VARCHAR},
      </if>
      <if test="userEdition != null" >
        USER_EDITION = #{userEdition,jdbcType=INTEGER},
      </if>
      <if test="userWriteoff != null" >
        USER_WRITEOFF = #{userWriteoff,jdbcType=TINYINT},
      </if>
    </set>
    where USER_NO = #{userNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunUsers" >
    <!--@mbggenerated-->
    update FUN_USERS
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      COMP_NO = #{compNo,jdbcType=VARCHAR},
      DEPT_NO = #{deptNo,jdbcType=VARCHAR},
      USER_POSITION = #{userPosition,jdbcType=VARCHAR},
      USER_EDITION = #{userEdition,jdbcType=INTEGER},
      USER_WRITEOFF = #{userWriteoff,jdbcType=TINYINT}
    where USER_NO = #{userNo,jdbcType=VARCHAR}
  </update>

  <select id="selectByArchiveId" resultMap="BaseResultMap" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM FUN_USERS
    WHERE ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </select>


</mapper>