<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunDatasourceConfigMapper" >
  <cache type="com.myfun.repository.support.mybatis.cache.redis.MybatisCacheRedisImpl"></cache>
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunDatasourceConfig" >
    <!--@mbggenerated-->
    <id column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="DS_CONNECTION_ID" property="dsConnectionId" jdbcType="VARCHAR" />
    <result column="SERVER_IP" property="serverIp" jdbcType="VARCHAR" />
    <result column="DB_NAME" property="dbName" jdbcType="VARCHAR" />
    <result column="LOGIC_SERVER_IP" property="logicServerIp" jdbcType="VARCHAR" />
    <result column="DUMP_SERVER_IP" property="dumpServerIp" jdbcType="VARCHAR" />
    <result column="DUMP_SERVER_IP_2" property="dumpServerIp2" jdbcType="VARCHAR" />
    <result column="DUMP_SERVER_IP_3" property="dumpServerIp3" jdbcType="VARCHAR" />
    <result column="DB_LOGIN_NAME" property="dbLoginName" jdbcType="VARCHAR" />
    <result column="DB_LOGIN_PASSWORD" property="dbLoginPassword" jdbcType="VARCHAR" />
    <result column="SOSO_CONN_ID" property="sosoConnId" jdbcType="VARCHAR" />
    <result column="SOSO_DB_NAME" property="sosoDbName" jdbcType="VARCHAR" />
    <result column="FAFA_CONN_ID" property="fafaConnId" jdbcType="VARCHAR" />
    <result column="FAFA_DB_NAME" property="fafaDbName" jdbcType="VARCHAR" />
    <result column="WEB_CONN_ID" property="webConnId" jdbcType="VARCHAR" />
    <result column="WEB_DB_NAME" property="webDbName" jdbcType="VARCHAR" />
    <result column="ENTERPRISE_VESION" property="enterpriseVesion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    COMP_ID, DS_CONNECTION_ID, SERVER_IP, DB_NAME, LOGIC_SERVER_IP, DUMP_SERVER_IP, DUMP_SERVER_IP_2, 
    DUMP_SERVER_IP_3, DB_LOGIN_NAME, DB_LOGIN_PASSWORD, SOSO_CONN_ID, SOSO_DB_NAME, FAFA_CONN_ID, 
    FAFA_DB_NAME, WEB_CONN_ID, WEB_DB_NAME, ENTERPRISE_VESION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" useCache="true">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_DATASOURCE_CONFIG
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_DATASOURCE_CONFIG
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunDatasourceConfig" >
    <!--@mbggenerated-->
    insert into FUN_DATASOURCE_CONFIG (COMP_ID, DS_CONNECTION_ID, SERVER_IP, 
      DB_NAME, LOGIC_SERVER_IP, DUMP_SERVER_IP, 
      DUMP_SERVER_IP_2, DUMP_SERVER_IP_3, DB_LOGIN_NAME, 
      DB_LOGIN_PASSWORD, SOSO_CONN_ID, SOSO_DB_NAME, 
      FAFA_CONN_ID, FAFA_DB_NAME, WEB_CONN_ID, 
      WEB_DB_NAME, ENTERPRISE_VESION)
    values (#{compId,jdbcType=INTEGER}, #{dsConnectionId,jdbcType=VARCHAR}, #{serverIp,jdbcType=VARCHAR}, 
      #{dbName,jdbcType=VARCHAR}, #{logicServerIp,jdbcType=VARCHAR}, #{dumpServerIp,jdbcType=VARCHAR}, 
      #{dumpServerIp2,jdbcType=VARCHAR}, #{dumpServerIp3,jdbcType=VARCHAR}, #{dbLoginName,jdbcType=VARCHAR}, 
      #{dbLoginPassword,jdbcType=VARCHAR}, #{sosoConnId,jdbcType=VARCHAR}, #{sosoDbName,jdbcType=VARCHAR}, 
      #{fafaConnId,jdbcType=VARCHAR}, #{fafaDbName,jdbcType=VARCHAR}, #{webConnId,jdbcType=VARCHAR}, 
      #{webDbName,jdbcType=VARCHAR}, #{enterpriseVesion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunDatasourceConfig" >
    <!--@mbggenerated-->
    insert into FUN_DATASOURCE_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="dsConnectionId != null" >
        DS_CONNECTION_ID,
      </if>
      <if test="serverIp != null" >
        SERVER_IP,
      </if>
      <if test="dbName != null" >
        DB_NAME,
      </if>
      <if test="logicServerIp != null" >
        LOGIC_SERVER_IP,
      </if>
      <if test="dumpServerIp != null" >
        DUMP_SERVER_IP,
      </if>
      <if test="dumpServerIp2 != null" >
        DUMP_SERVER_IP_2,
      </if>
      <if test="dumpServerIp3 != null" >
        DUMP_SERVER_IP_3,
      </if>
      <if test="dbLoginName != null" >
        DB_LOGIN_NAME,
      </if>
      <if test="dbLoginPassword != null" >
        DB_LOGIN_PASSWORD,
      </if>
      <if test="sosoConnId != null" >
        SOSO_CONN_ID,
      </if>
      <if test="sosoDbName != null" >
        SOSO_DB_NAME,
      </if>
      <if test="fafaConnId != null" >
        FAFA_CONN_ID,
      </if>
      <if test="fafaDbName != null" >
        FAFA_DB_NAME,
      </if>
      <if test="webConnId != null" >
        WEB_CONN_ID,
      </if>
      <if test="webDbName != null" >
        WEB_DB_NAME,
      </if>
      <if test="enterpriseVesion != null" >
        ENTERPRISE_VESION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="dsConnectionId != null" >
        #{dsConnectionId,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="logicServerIp != null" >
        #{logicServerIp,jdbcType=VARCHAR},
      </if>
      <if test="dumpServerIp != null" >
        #{dumpServerIp,jdbcType=VARCHAR},
      </if>
      <if test="dumpServerIp2 != null" >
        #{dumpServerIp2,jdbcType=VARCHAR},
      </if>
      <if test="dumpServerIp3 != null" >
        #{dumpServerIp3,jdbcType=VARCHAR},
      </if>
      <if test="dbLoginName != null" >
        #{dbLoginName,jdbcType=VARCHAR},
      </if>
      <if test="dbLoginPassword != null" >
        #{dbLoginPassword,jdbcType=VARCHAR},
      </if>
      <if test="sosoConnId != null" >
        #{sosoConnId,jdbcType=VARCHAR},
      </if>
      <if test="sosoDbName != null" >
        #{sosoDbName,jdbcType=VARCHAR},
      </if>
      <if test="fafaConnId != null" >
        #{fafaConnId,jdbcType=VARCHAR},
      </if>
      <if test="fafaDbName != null" >
        #{fafaDbName,jdbcType=VARCHAR},
      </if>
      <if test="webConnId != null" >
        #{webConnId,jdbcType=VARCHAR},
      </if>
      <if test="webDbName != null" >
        #{webDbName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseVesion != null" >
        #{enterpriseVesion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunDatasourceConfig" >
    <!--@mbggenerated-->
    update FUN_DATASOURCE_CONFIG
    <set >
      <if test="dsConnectionId != null" >
        DS_CONNECTION_ID = #{dsConnectionId,jdbcType=VARCHAR},
      </if>
      <if test="serverIp != null" >
        SERVER_IP = #{serverIp,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        DB_NAME = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="logicServerIp != null" >
        LOGIC_SERVER_IP = #{logicServerIp,jdbcType=VARCHAR},
      </if>
      <if test="dumpServerIp != null" >
        DUMP_SERVER_IP = #{dumpServerIp,jdbcType=VARCHAR},
      </if>
      <if test="dumpServerIp2 != null" >
        DUMP_SERVER_IP_2 = #{dumpServerIp2,jdbcType=VARCHAR},
      </if>
      <if test="dumpServerIp3 != null" >
        DUMP_SERVER_IP_3 = #{dumpServerIp3,jdbcType=VARCHAR},
      </if>
      <if test="dbLoginName != null" >
        DB_LOGIN_NAME = #{dbLoginName,jdbcType=VARCHAR},
      </if>
      <if test="dbLoginPassword != null" >
        DB_LOGIN_PASSWORD = #{dbLoginPassword,jdbcType=VARCHAR},
      </if>
      <if test="sosoConnId != null" >
        SOSO_CONN_ID = #{sosoConnId,jdbcType=VARCHAR},
      </if>
      <if test="sosoDbName != null" >
        SOSO_DB_NAME = #{sosoDbName,jdbcType=VARCHAR},
      </if>
      <if test="fafaConnId != null" >
        FAFA_CONN_ID = #{fafaConnId,jdbcType=VARCHAR},
      </if>
      <if test="fafaDbName != null" >
        FAFA_DB_NAME = #{fafaDbName,jdbcType=VARCHAR},
      </if>
      <if test="webConnId != null" >
        WEB_CONN_ID = #{webConnId,jdbcType=VARCHAR},
      </if>
      <if test="webDbName != null" >
        WEB_DB_NAME = #{webDbName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseVesion != null" >
        ENTERPRISE_VESION = #{enterpriseVesion,jdbcType=VARCHAR},
      </if>
    </set>
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunDatasourceConfig" >
    <!--@mbggenerated-->
    update FUN_DATASOURCE_CONFIG
    set DS_CONNECTION_ID = #{dsConnectionId,jdbcType=VARCHAR},
      SERVER_IP = #{serverIp,jdbcType=VARCHAR},
      DB_NAME = #{dbName,jdbcType=VARCHAR},
      LOGIC_SERVER_IP = #{logicServerIp,jdbcType=VARCHAR},
      DUMP_SERVER_IP = #{dumpServerIp,jdbcType=VARCHAR},
      DUMP_SERVER_IP_2 = #{dumpServerIp2,jdbcType=VARCHAR},
      DUMP_SERVER_IP_3 = #{dumpServerIp3,jdbcType=VARCHAR},
      DB_LOGIN_NAME = #{dbLoginName,jdbcType=VARCHAR},
      DB_LOGIN_PASSWORD = #{dbLoginPassword,jdbcType=VARCHAR},
      SOSO_CONN_ID = #{sosoConnId,jdbcType=VARCHAR},
      SOSO_DB_NAME = #{sosoDbName,jdbcType=VARCHAR},
      FAFA_CONN_ID = #{fafaConnId,jdbcType=VARCHAR},
      FAFA_DB_NAME = #{fafaDbName,jdbcType=VARCHAR},
      WEB_CONN_ID = #{webConnId,jdbcType=VARCHAR},
      WEB_DB_NAME = #{webDbName,jdbcType=VARCHAR},
      ENTERPRISE_VESION = #{enterpriseVesion,jdbcType=VARCHAR}
    where COMP_ID = #{compId,jdbcType=INTEGER}
  </update>
  <!-- business -->
  <select id="getDatasourceNameGroupBy" resultType="java.lang.String" useCache="true">
    select DISTINCT DB_NAME from FUN_DATASOURCE_CONFIG ORDER BY DB_NAME
  </select>
  <select id="selectOneByConnId" resultMap="BaseResultMap" parameterType="java.lang.String" useCache="true">
  	select TOP 1 <include refid="Base_Column_List" /> from FUN_DATASOURCE_CONFIG where DS_CONNECTION_ID = #{connId,jdbcType=VARCHAR}
  </select>
  <update id="updateAllCompVersion" parameterType="java.lang.String" >
    update FUN_DATASOURCE_CONFIG set ENTERPRISE_VESION=#{enterpriseVesion,jdbcType=VARCHAR}
  </update>
  <select id="getServerTime" resultType="java.util.Date" >
	select getdate()
  </select>
  
  <delete id="deleteByCompId">
  	DELETE FUN_DATASOURCE_CONFIG WHERE COMP_ID = #{compId}
  </delete>
</mapper>