<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminLeaveMessageMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminLeaveMessage" >
    <!--@mbggenerated-->
    <id column="MSG_ID" property="msgId" jdbcType="INTEGER" />
    <result column="MSG_TYPE" property="msgType" jdbcType="INTEGER" />
    <result column="SEND_ARCHIVE_ID" property="sendArchiveId" jdbcType="VARCHAR" />
    <result column="RECEIVE_ARCHIVE_ID" property="receiveArchiveId" jdbcType="VARCHAR" />
    <result column="SEND_USER_TYPE" property="sendUserType" jdbcType="INTEGER" />
    <result column="RECEIVE_USER_TYPE" property="receiveUserType" jdbcType="INTEGER" />
    <result column="MSG_CONTENT" property="msgContent" jdbcType="VARCHAR" />
    <result column="VOICE_PATH" property="voicePath" jdbcType="VARCHAR" />
    <result column="SEND_IS_READ" property="sendIsRead" jdbcType="INTEGER" />
    <result column="RECEIVE_IS_READ" property="receiveIsRead" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    MSG_ID, MSG_TYPE, SEND_ARCHIVE_ID, RECEIVE_ARCHIVE_ID, SEND_USER_TYPE, RECEIVE_USER_TYPE, 
    MSG_CONTENT, VOICE_PATH, SEND_IS_READ, RECEIVE_IS_READ, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from LEAVE_MESSAGE
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from LEAVE_MESSAGE
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminLeaveMessage" >
    <!--@mbggenerated-->
    insert into LEAVE_MESSAGE (MSG_ID, MSG_TYPE, SEND_ARCHIVE_ID, 
      RECEIVE_ARCHIVE_ID, SEND_USER_TYPE, RECEIVE_USER_TYPE, 
      MSG_CONTENT, VOICE_PATH, SEND_IS_READ, 
      RECEIVE_IS_READ, CREATE_TIME)
    values (#{msgId,jdbcType=INTEGER}, #{msgType,jdbcType=INTEGER}, #{sendArchiveId,jdbcType=VARCHAR}, 
      #{receiveArchiveId,jdbcType=VARCHAR}, #{sendUserType,jdbcType=INTEGER}, #{receiveUserType,jdbcType=INTEGER}, 
      #{msgContent,jdbcType=VARCHAR}, #{voicePath,jdbcType=VARCHAR}, #{sendIsRead,jdbcType=INTEGER}, 
      #{receiveIsRead,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminLeaveMessage" >
    <!--@mbggenerated-->
    insert into LEAVE_MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        MSG_ID,
      </if>
      <if test="msgType != null" >
        MSG_TYPE,
      </if>
      <if test="sendArchiveId != null" >
        SEND_ARCHIVE_ID,
      </if>
      <if test="receiveArchiveId != null" >
        RECEIVE_ARCHIVE_ID,
      </if>
      <if test="sendUserType != null" >
        SEND_USER_TYPE,
      </if>
      <if test="receiveUserType != null" >
        RECEIVE_USER_TYPE,
      </if>
      <if test="msgContent != null" >
        MSG_CONTENT,
      </if>
      <if test="voicePath != null" >
        VOICE_PATH,
      </if>
      <if test="sendIsRead != null" >
        SEND_IS_READ,
      </if>
      <if test="receiveIsRead != null" >
        RECEIVE_IS_READ,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgId != null" >
        #{msgId,jdbcType=INTEGER},
      </if>
      <if test="msgType != null" >
        #{msgType,jdbcType=INTEGER},
      </if>
      <if test="sendArchiveId != null" >
        #{sendArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="receiveArchiveId != null" >
        #{receiveArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendUserType != null" >
        #{sendUserType,jdbcType=INTEGER},
      </if>
      <if test="receiveUserType != null" >
        #{receiveUserType,jdbcType=INTEGER},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="voicePath != null" >
        #{voicePath,jdbcType=VARCHAR},
      </if>
      <if test="sendIsRead != null" >
        #{sendIsRead,jdbcType=INTEGER},
      </if>
      <if test="receiveIsRead != null" >
        #{receiveIsRead,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminLeaveMessage" >
    <!--@mbggenerated-->
    update LEAVE_MESSAGE
    <set >
      <if test="msgType != null" >
        MSG_TYPE = #{msgType,jdbcType=INTEGER},
      </if>
      <if test="sendArchiveId != null" >
        SEND_ARCHIVE_ID = #{sendArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="receiveArchiveId != null" >
        RECEIVE_ARCHIVE_ID = #{receiveArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendUserType != null" >
        SEND_USER_TYPE = #{sendUserType,jdbcType=INTEGER},
      </if>
      <if test="receiveUserType != null" >
        RECEIVE_USER_TYPE = #{receiveUserType,jdbcType=INTEGER},
      </if>
      <if test="msgContent != null" >
        MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="voicePath != null" >
        VOICE_PATH = #{voicePath,jdbcType=VARCHAR},
      </if>
      <if test="sendIsRead != null" >
        SEND_IS_READ = #{sendIsRead,jdbcType=INTEGER},
      </if>
      <if test="receiveIsRead != null" >
        RECEIVE_IS_READ = #{receiveIsRead,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminLeaveMessage" >
    <!--@mbggenerated-->
    update LEAVE_MESSAGE
    set MSG_TYPE = #{msgType,jdbcType=INTEGER},
      SEND_ARCHIVE_ID = #{sendArchiveId,jdbcType=VARCHAR},
      RECEIVE_ARCHIVE_ID = #{receiveArchiveId,jdbcType=VARCHAR},
      SEND_USER_TYPE = #{sendUserType,jdbcType=INTEGER},
      RECEIVE_USER_TYPE = #{receiveUserType,jdbcType=INTEGER},
      MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      VOICE_PATH = #{voicePath,jdbcType=VARCHAR},
      SEND_IS_READ = #{sendIsRead,jdbcType=INTEGER},
      RECEIVE_IS_READ = #{receiveIsRead,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </update>
</mapper>