<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.admindb.dao.AdminWeixinContractMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminWeixinContract">
    <!--@mbggenerated-->
    <id column="WEI_CONTRACT_ID" jdbcType="INTEGER" property="weiContractId" />
    <result column="WEI_CRM_COMP_ID" jdbcType="INTEGER" property="weiCrmCompId" />
    <result column="WEI_DEPT_ID" jdbcType="INTEGER" property="weiDeptId" />
    <result column="WEI_CONTRACT_NO" jdbcType="VARCHAR" property="weiContractNo" />
    <result column="WEI_PARTY_A" jdbcType="VARCHAR" property="weiPartyA" />
    <result column="WEI_PARTY_A_ADDR" jdbcType="VARCHAR" property="weiPartyAAddr" />
    <result column="WEI_PARTY_TEL" jdbcType="VARCHAR" property="weiPartyTel" />
    <result column="WEI_PARTY_A_LINKMAN" jdbcType="VARCHAR" property="weiPartyALinkman" />
    <result column="WEI_PARTY_A_LINKMOBILE" jdbcType="VARCHAR" property="weiPartyALinkmobile" />
    <result column="WEI_PARTY_B" jdbcType="VARCHAR" property="weiPartyB" />
    <result column="WEI_PARTY_B_ADDR" jdbcType="VARCHAR" property="weiPartyBAddr" />
    <result column="WEI_PARTY_B_TEL" jdbcType="VARCHAR" property="weiPartyBTel" />
    <result column="WEI_PARTY_B_ID" jdbcType="INTEGER" property="weiPartyBId" />
    <result column="WEI_PARTY_B_AGENT" jdbcType="VARCHAR" property="weiPartyBAgent" />
    <result column="WEI_TOTAL_PRICE" jdbcType="DOUBLE" property="weiTotalPrice" />
    <result column="WEI_TOTAL_PRICE_CN" jdbcType="VARCHAR" property="weiTotalPriceCn" />
    <result column="WEI_SIGN_DATE" jdbcType="TIMESTAMP" property="weiSignDate" />
    <result column="WEI_CONTRACT_HTML" jdbcType="VARCHAR" property="weiContractHtml" />
    <result column="WEI_CREATION_UID" jdbcType="INTEGER" property="weiCreationUid" />
    <result column="PAY_TIME" jdbcType="TIMESTAMP" property="payTime" />
    <result column="WEI_SIGN_USER" jdbcType="INTEGER" property="weiSignUser" />
    <result column="WEI_DISTYPE" jdbcType="INTEGER" property="weiDistype" />
    <result column="WEI_COMP_ID" jdbcType="INTEGER" property="weiCompId" />
    <result column="PARTY_A_AGENT" jdbcType="VARCHAR" property="partyAAgent" />
    <result column="PARTY_A_MOBILE" jdbcType="VARCHAR" property="partyAMobile" />
    <result column="CONTRACT_STATUS" jdbcType="INTEGER" property="contractStatus" />
    <result column="CION" jdbcType="INTEGER" property="cion" />
    <result column="TICKET" jdbcType="INTEGER" property="ticket" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="WEI_CONTRACT_PATH" jdbcType="VARCHAR" property="weiContractPath" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    WEI_CONTRACT_ID, WEI_CRM_COMP_ID, WEI_DEPT_ID, WEI_CONTRACT_NO, WEI_PARTY_A, WEI_PARTY_A_ADDR, 
    WEI_PARTY_TEL, WEI_PARTY_A_LINKMAN, WEI_PARTY_A_LINKMOBILE, WEI_PARTY_B, WEI_PARTY_B_ADDR, 
    WEI_PARTY_B_TEL, WEI_PARTY_B_ID, WEI_PARTY_B_AGENT, WEI_TOTAL_PRICE, WEI_TOTAL_PRICE_CN, 
    WEI_SIGN_DATE, WEI_CONTRACT_HTML, WEI_CREATION_UID, PAY_TIME, WEI_SIGN_USER, WEI_DISTYPE, 
    WEI_COMP_ID, PARTY_A_AGENT, PARTY_A_MOBILE, CONTRACT_STATUS, CION, TICKET, CREATION_TIME, 
    WEI_CONTRACT_PATH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WEIXIN_CONTRACT
    where WEI_CONTRACT_ID = #{weiContractId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from WEIXIN_CONTRACT
    where WEI_CONTRACT_ID = #{weiContractId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminWeixinContract">
    <!--@mbggenerated-->
    <selectKey keyProperty="weiContractId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WEIXIN_CONTRACT (WEI_CRM_COMP_ID, WEI_DEPT_ID, WEI_CONTRACT_NO, 
      WEI_PARTY_A, WEI_PARTY_A_ADDR, WEI_PARTY_TEL, 
      WEI_PARTY_A_LINKMAN, WEI_PARTY_A_LINKMOBILE, 
      WEI_PARTY_B, WEI_PARTY_B_ADDR, WEI_PARTY_B_TEL, 
      WEI_PARTY_B_ID, WEI_PARTY_B_AGENT, WEI_TOTAL_PRICE, 
      WEI_TOTAL_PRICE_CN, WEI_SIGN_DATE, WEI_CONTRACT_HTML, 
      WEI_CREATION_UID, PAY_TIME, WEI_SIGN_USER, 
      WEI_DISTYPE, WEI_COMP_ID, PARTY_A_AGENT, 
      PARTY_A_MOBILE, CONTRACT_STATUS, CION, 
      TICKET, CREATION_TIME, WEI_CONTRACT_PATH
      )
    values (#{weiCrmCompId,jdbcType=INTEGER}, #{weiDeptId,jdbcType=INTEGER}, #{weiContractNo,jdbcType=VARCHAR}, 
      #{weiPartyA,jdbcType=VARCHAR}, #{weiPartyAAddr,jdbcType=VARCHAR}, #{weiPartyTel,jdbcType=VARCHAR}, 
      #{weiPartyALinkman,jdbcType=VARCHAR}, #{weiPartyALinkmobile,jdbcType=VARCHAR}, 
      #{weiPartyB,jdbcType=VARCHAR}, #{weiPartyBAddr,jdbcType=VARCHAR}, #{weiPartyBTel,jdbcType=VARCHAR}, 
      #{weiPartyBId,jdbcType=INTEGER}, #{weiPartyBAgent,jdbcType=VARCHAR}, #{weiTotalPrice,jdbcType=DOUBLE}, 
      #{weiTotalPriceCn,jdbcType=VARCHAR}, #{weiSignDate,jdbcType=TIMESTAMP}, #{weiContractHtml,jdbcType=VARCHAR}, 
      #{weiCreationUid,jdbcType=INTEGER}, #{payTime,jdbcType=TIMESTAMP}, #{weiSignUser,jdbcType=INTEGER}, 
      #{weiDistype,jdbcType=INTEGER}, #{weiCompId,jdbcType=INTEGER}, #{partyAAgent,jdbcType=VARCHAR}, 
      #{partyAMobile,jdbcType=VARCHAR}, #{contractStatus,jdbcType=INTEGER}, #{cion,jdbcType=INTEGER}, 
      #{ticket,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, #{weiContractPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminWeixinContract">
    <!--@mbggenerated-->
    <selectKey keyProperty="weiContractId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WEIXIN_CONTRACT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="weiCrmCompId != null">
        WEI_CRM_COMP_ID,
      </if>
      <if test="weiDeptId != null">
        WEI_DEPT_ID,
      </if>
      <if test="weiContractNo != null">
        WEI_CONTRACT_NO,
      </if>
      <if test="weiPartyA != null">
        WEI_PARTY_A,
      </if>
      <if test="weiPartyAAddr != null">
        WEI_PARTY_A_ADDR,
      </if>
      <if test="weiPartyTel != null">
        WEI_PARTY_TEL,
      </if>
      <if test="weiPartyALinkman != null">
        WEI_PARTY_A_LINKMAN,
      </if>
      <if test="weiPartyALinkmobile != null">
        WEI_PARTY_A_LINKMOBILE,
      </if>
      <if test="weiPartyB != null">
        WEI_PARTY_B,
      </if>
      <if test="weiPartyBAddr != null">
        WEI_PARTY_B_ADDR,
      </if>
      <if test="weiPartyBTel != null">
        WEI_PARTY_B_TEL,
      </if>
      <if test="weiPartyBId != null">
        WEI_PARTY_B_ID,
      </if>
      <if test="weiPartyBAgent != null">
        WEI_PARTY_B_AGENT,
      </if>
      <if test="weiTotalPrice != null">
        WEI_TOTAL_PRICE,
      </if>
      <if test="weiTotalPriceCn != null">
        WEI_TOTAL_PRICE_CN,
      </if>
      <if test="weiSignDate != null">
        WEI_SIGN_DATE,
      </if>
      <if test="weiContractHtml != null">
        WEI_CONTRACT_HTML,
      </if>
      <if test="weiCreationUid != null">
        WEI_CREATION_UID,
      </if>
      <if test="payTime != null">
        PAY_TIME,
      </if>
      <if test="weiSignUser != null">
        WEI_SIGN_USER,
      </if>
      <if test="weiDistype != null">
        WEI_DISTYPE,
      </if>
      <if test="weiCompId != null">
        WEI_COMP_ID,
      </if>
      <if test="partyAAgent != null">
        PARTY_A_AGENT,
      </if>
      <if test="partyAMobile != null">
        PARTY_A_MOBILE,
      </if>
      <if test="contractStatus != null">
        CONTRACT_STATUS,
      </if>
      <if test="cion != null">
        CION,
      </if>
      <if test="ticket != null">
        TICKET,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="weiContractPath != null">
        WEI_CONTRACT_PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="weiCrmCompId != null">
        #{weiCrmCompId,jdbcType=INTEGER},
      </if>
      <if test="weiDeptId != null">
        #{weiDeptId,jdbcType=INTEGER},
      </if>
      <if test="weiContractNo != null">
        #{weiContractNo,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyA != null">
        #{weiPartyA,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyAAddr != null">
        #{weiPartyAAddr,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyTel != null">
        #{weiPartyTel,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyALinkman != null">
        #{weiPartyALinkman,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyALinkmobile != null">
        #{weiPartyALinkmobile,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyB != null">
        #{weiPartyB,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBAddr != null">
        #{weiPartyBAddr,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBTel != null">
        #{weiPartyBTel,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBId != null">
        #{weiPartyBId,jdbcType=INTEGER},
      </if>
      <if test="weiPartyBAgent != null">
        #{weiPartyBAgent,jdbcType=VARCHAR},
      </if>
      <if test="weiTotalPrice != null">
        #{weiTotalPrice,jdbcType=DOUBLE},
      </if>
      <if test="weiTotalPriceCn != null">
        #{weiTotalPriceCn,jdbcType=VARCHAR},
      </if>
      <if test="weiSignDate != null">
        #{weiSignDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weiContractHtml != null">
        #{weiContractHtml,jdbcType=VARCHAR},
      </if>
      <if test="weiCreationUid != null">
        #{weiCreationUid,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="weiSignUser != null">
        #{weiSignUser,jdbcType=INTEGER},
      </if>
      <if test="weiDistype != null">
        #{weiDistype,jdbcType=INTEGER},
      </if>
      <if test="weiCompId != null">
        #{weiCompId,jdbcType=INTEGER},
      </if>
      <if test="partyAAgent != null">
        #{partyAAgent,jdbcType=VARCHAR},
      </if>
      <if test="partyAMobile != null">
        #{partyAMobile,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="cion != null">
        #{cion,jdbcType=INTEGER},
      </if>
      <if test="ticket != null">
        #{ticket,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="weiContractPath != null">
        #{weiContractPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminWeixinContract">
    <!--@mbggenerated-->
    update WEIXIN_CONTRACT
    <set>
      <if test="weiCrmCompId != null">
        WEI_CRM_COMP_ID = #{weiCrmCompId,jdbcType=INTEGER},
      </if>
      <if test="weiDeptId != null">
        WEI_DEPT_ID = #{weiDeptId,jdbcType=INTEGER},
      </if>
      <if test="weiContractNo != null">
        WEI_CONTRACT_NO = #{weiContractNo,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyA != null">
        WEI_PARTY_A = #{weiPartyA,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyAAddr != null">
        WEI_PARTY_A_ADDR = #{weiPartyAAddr,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyTel != null">
        WEI_PARTY_TEL = #{weiPartyTel,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyALinkman != null">
        WEI_PARTY_A_LINKMAN = #{weiPartyALinkman,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyALinkmobile != null">
        WEI_PARTY_A_LINKMOBILE = #{weiPartyALinkmobile,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyB != null">
        WEI_PARTY_B = #{weiPartyB,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBAddr != null">
        WEI_PARTY_B_ADDR = #{weiPartyBAddr,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBTel != null">
        WEI_PARTY_B_TEL = #{weiPartyBTel,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBId != null">
        WEI_PARTY_B_ID = #{weiPartyBId,jdbcType=INTEGER},
      </if>
      <if test="weiPartyBAgent != null">
        WEI_PARTY_B_AGENT = #{weiPartyBAgent,jdbcType=VARCHAR},
      </if>
      <if test="weiTotalPrice != null">
        WEI_TOTAL_PRICE = #{weiTotalPrice,jdbcType=DOUBLE},
      </if>
      <if test="weiTotalPriceCn != null">
        WEI_TOTAL_PRICE_CN = #{weiTotalPriceCn,jdbcType=VARCHAR},
      </if>
      <if test="weiSignDate != null">
        WEI_SIGN_DATE = #{weiSignDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weiContractHtml != null">
        WEI_CONTRACT_HTML = #{weiContractHtml,jdbcType=VARCHAR},
      </if>
      <if test="weiCreationUid != null">
        WEI_CREATION_UID = #{weiCreationUid,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="weiSignUser != null">
        WEI_SIGN_USER = #{weiSignUser,jdbcType=INTEGER},
      </if>
      <if test="weiDistype != null">
        WEI_DISTYPE = #{weiDistype,jdbcType=INTEGER},
      </if>
      <if test="weiCompId != null">
        WEI_COMP_ID = #{weiCompId,jdbcType=INTEGER},
      </if>
      <if test="partyAAgent != null">
        PARTY_A_AGENT = #{partyAAgent,jdbcType=VARCHAR},
      </if>
      <if test="partyAMobile != null">
        PARTY_A_MOBILE = #{partyAMobile,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        CONTRACT_STATUS = #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="cion != null">
        CION = #{cion,jdbcType=INTEGER},
      </if>
      <if test="ticket != null">
        TICKET = #{ticket,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="weiContractPath != null">
        WEI_CONTRACT_PATH = #{weiContractPath,jdbcType=VARCHAR},
      </if>
    </set>
    where WEI_CONTRACT_ID = #{weiContractId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminWeixinContract">
    <!--@mbggenerated-->
    update WEIXIN_CONTRACT
    set WEI_CRM_COMP_ID = #{weiCrmCompId,jdbcType=INTEGER},
      WEI_DEPT_ID = #{weiDeptId,jdbcType=INTEGER},
      WEI_CONTRACT_NO = #{weiContractNo,jdbcType=VARCHAR},
      WEI_PARTY_A = #{weiPartyA,jdbcType=VARCHAR},
      WEI_PARTY_A_ADDR = #{weiPartyAAddr,jdbcType=VARCHAR},
      WEI_PARTY_TEL = #{weiPartyTel,jdbcType=VARCHAR},
      WEI_PARTY_A_LINKMAN = #{weiPartyALinkman,jdbcType=VARCHAR},
      WEI_PARTY_A_LINKMOBILE = #{weiPartyALinkmobile,jdbcType=VARCHAR},
      WEI_PARTY_B = #{weiPartyB,jdbcType=VARCHAR},
      WEI_PARTY_B_ADDR = #{weiPartyBAddr,jdbcType=VARCHAR},
      WEI_PARTY_B_TEL = #{weiPartyBTel,jdbcType=VARCHAR},
      WEI_PARTY_B_ID = #{weiPartyBId,jdbcType=INTEGER},
      WEI_PARTY_B_AGENT = #{weiPartyBAgent,jdbcType=VARCHAR},
      WEI_TOTAL_PRICE = #{weiTotalPrice,jdbcType=DOUBLE},
      WEI_TOTAL_PRICE_CN = #{weiTotalPriceCn,jdbcType=VARCHAR},
      WEI_SIGN_DATE = #{weiSignDate,jdbcType=TIMESTAMP},
      WEI_CONTRACT_HTML = #{weiContractHtml,jdbcType=VARCHAR},
      WEI_CREATION_UID = #{weiCreationUid,jdbcType=INTEGER},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      WEI_SIGN_USER = #{weiSignUser,jdbcType=INTEGER},
      WEI_DISTYPE = #{weiDistype,jdbcType=INTEGER},
      WEI_COMP_ID = #{weiCompId,jdbcType=INTEGER},
      PARTY_A_AGENT = #{partyAAgent,jdbcType=VARCHAR},
      PARTY_A_MOBILE = #{partyAMobile,jdbcType=VARCHAR},
      CONTRACT_STATUS = #{contractStatus,jdbcType=INTEGER},
      CION = #{cion,jdbcType=INTEGER},
      TICKET = #{ticket,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      WEI_CONTRACT_PATH = #{weiContractPath,jdbcType=VARCHAR}
    where WEI_CONTRACT_ID = #{weiContractId,jdbcType=INTEGER}
  </update>
  
  <!-- buniess -->
  <select id="getRecordByCompId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from WEIXIN_CONTRACT where WEI_COMP_ID = #{compId}
  </select>
  
  <select id="getRecordByWeiDeptId" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from WEIXIN_CONTRACT where WEI_DEPT_ID = #{deptId}
  </select>
  
  <update id="updateByWeiCompId">
  	 update WEIXIN_CONTRACT
    <set>
      <if test="weiCrmCompId != null">
        WEI_CRM_COMP_ID = #{weiCrmCompId,jdbcType=INTEGER},
      </if>
      <if test="weiDeptId != null">
        WEI_DEPT_ID = #{weiDeptId,jdbcType=INTEGER},
      </if>
      <if test="weiContractNo != null">
        WEI_CONTRACT_NO = #{weiContractNo,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyA != null">
        WEI_PARTY_A = #{weiPartyA,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyAAddr != null">
        WEI_PARTY_A_ADDR = #{weiPartyAAddr,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyTel != null">
        WEI_PARTY_TEL = #{weiPartyTel,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyALinkman != null">
        WEI_PARTY_A_LINKMAN = #{weiPartyALinkman,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyALinkmobile != null">
        WEI_PARTY_A_LINKMOBILE = #{weiPartyALinkmobile,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyB != null">
        WEI_PARTY_B = #{weiPartyB,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBAddr != null">
        WEI_PARTY_B_ADDR = #{weiPartyBAddr,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBTel != null">
        WEI_PARTY_B_TEL = #{weiPartyBTel,jdbcType=VARCHAR},
      </if>
      <if test="weiPartyBId != null">
        WEI_PARTY_B_ID = #{weiPartyBId,jdbcType=INTEGER},
      </if>
      <if test="weiPartyBAgent != null">
        WEI_PARTY_B_AGENT = #{weiPartyBAgent,jdbcType=VARCHAR},
      </if>
      <if test="weiTotalPrice != null">
        WEI_TOTAL_PRICE = #{weiTotalPrice,jdbcType=DOUBLE},
      </if>
      <if test="weiTotalPriceCn != null">
        WEI_TOTAL_PRICE_CN = #{weiTotalPriceCn,jdbcType=VARCHAR},
      </if>
      <if test="weiSignDate != null">
        WEI_SIGN_DATE = #{weiSignDate,jdbcType=TIMESTAMP},
      </if>
      <if test="weiContractHtml != null">
        WEI_CONTRACT_HTML = #{weiContractHtml,jdbcType=VARCHAR},
      </if>
      <if test="weiCreationUid != null">
        WEI_CREATION_UID = #{weiCreationUid,jdbcType=INTEGER},
      </if>
      <if test="payTime != null">
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="weiSignUser != null">
        WEI_SIGN_USER = #{weiSignUser,jdbcType=INTEGER},
      </if>
      <if test="weiDistype != null">
        WEI_DISTYPE = #{weiDistype,jdbcType=INTEGER},
      </if>
      <if test="weiCompId != null">
        WEI_COMP_ID = #{weiCompId,jdbcType=INTEGER},
      </if>
      <if test="partyAAgent != null">
        PARTY_A_AGENT = #{partyAAgent,jdbcType=VARCHAR},
      </if>
      <if test="partyAMobile != null">
        PARTY_A_MOBILE = #{partyAMobile,jdbcType=VARCHAR},
      </if>
      <if test="contractStatus != null">
        CONTRACT_STATUS = #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="cion != null">
        CION = #{cion,jdbcType=INTEGER},
      </if>
      <if test="ticket != null">
        TICKET = #{ticket,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime},
      </if>
      <if test="weiContractPath != null">
        WEI_CONTRACT_PATH = #{weiContractPath},
      </if>
    </set>
    where WEI_COMP_ID = #{weiCompId}
  </update>
  
  <select id="countByWeixinCompId" resultType="java.lang.Integer">
  	select count(1) from WEIXIN_CONTRACT where WEI_COMP_ID = #{compId}
  </select>
  <select id="selectByCompIdAndstatus" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from WEIXIN_CONTRACT where WEI_COMP_ID = #{compId}
  	<if test="contractStatus != null">
      and CONTRACT_STATUS = #{contractStatus,jdbcType=INTEGER}
    </if>
  </select>
   <delete id="deleteByCompIdAndNoCompId" parameterType="java.lang.Integer">
    delete from WEIXIN_CONTRACT
    where WEI_COMP_ID = #{compId} and WEI_COMP_ID &lt;&gt; #{notCompId}
  </delete>
</mapper>