<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminBulletYouUsersMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminBulletYouUsers" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="BULLET_ID" property="bulletId" jdbcType="INTEGER" />
    <result column="ERP_USER_ID" property="erpUserId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="IS_VIEW" property="isView" jdbcType="TINYINT" />
    <result column="VIEW_TIME" property="viewTime" jdbcType="TIMESTAMP" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="COMP_NO" property="compNo" jdbcType="VARCHAR" />
    <result column="USER_DEPT_NO" property="userDeptNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, BULLET_ID, ERP_USER_ID, CITY_ID, CREATE_TIME, IS_VIEW, VIEW_TIME, ARCHIVE_ID, 
    COMP_NO, USER_DEPT_NO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.po.AdminBulletYouUsersExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BULLET_YOU_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from BULLET_YOU_USERS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from BULLET_YOU_USERS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminBulletYouUsersExample" >
    <!--@mbggenerated-->
    delete from BULLET_YOU_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminBulletYouUsers" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into BULLET_YOU_USERS (BULLET_ID, ERP_USER_ID, CITY_ID, 
      CREATE_TIME, IS_VIEW, VIEW_TIME, 
      ARCHIVE_ID, COMP_NO, USER_DEPT_NO
      )
    values (#{bulletId,jdbcType=INTEGER}, #{erpUserId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isView,jdbcType=TINYINT}, #{viewTime,jdbcType=TIMESTAMP}, 
      #{archiveId,jdbcType=INTEGER}, #{compNo,jdbcType=VARCHAR}, #{userDeptNo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminBulletYouUsers" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into BULLET_YOU_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bulletId != null" >
        BULLET_ID,
      </if>
      <if test="erpUserId != null" >
        ERP_USER_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="isView != null" >
        IS_VIEW,
      </if>
      <if test="viewTime != null" >
        VIEW_TIME,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="compNo != null" >
        COMP_NO,
      </if>
      <if test="userDeptNo != null" >
        USER_DEPT_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bulletId != null" >
        #{bulletId,jdbcType=INTEGER},
      </if>
      <if test="erpUserId != null" >
        #{erpUserId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isView != null" >
        #{isView,jdbcType=TINYINT},
      </if>
      <if test="viewTime != null" >
        #{viewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null" >
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="userDeptNo != null" >
        #{userDeptNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminBulletYouUsersExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from BULLET_YOU_USERS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update BULLET_YOU_USERS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.bulletId != null" >
        BULLET_ID = #{record.bulletId,jdbcType=INTEGER},
      </if>
      <if test="record.erpUserId != null" >
        ERP_USER_ID = #{record.erpUserId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isView != null" >
        IS_VIEW = #{record.isView,jdbcType=TINYINT},
      </if>
      <if test="record.viewTime != null" >
        VIEW_TIME = #{record.viewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.compNo != null" >
        COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userDeptNo != null" >
        USER_DEPT_NO = #{record.userDeptNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update BULLET_YOU_USERS
    set ID = #{record.id,jdbcType=INTEGER},
      BULLET_ID = #{record.bulletId,jdbcType=INTEGER},
      ERP_USER_ID = #{record.erpUserId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      IS_VIEW = #{record.isView,jdbcType=TINYINT},
      VIEW_TIME = #{record.viewTime,jdbcType=TIMESTAMP},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      COMP_NO = #{record.compNo,jdbcType=VARCHAR},
      USER_DEPT_NO = #{record.userDeptNo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminBulletYouUsers" >
    <!--@mbggenerated-->
    update BULLET_YOU_USERS
    <set >
      <if test="bulletId != null" >
        BULLET_ID = #{bulletId,jdbcType=INTEGER},
      </if>
      <if test="erpUserId != null" >
        ERP_USER_ID = #{erpUserId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isView != null" >
        IS_VIEW = #{isView,jdbcType=TINYINT},
      </if>
      <if test="viewTime != null" >
        VIEW_TIME = #{viewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="compNo != null" >
        COMP_NO = #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="userDeptNo != null" >
        USER_DEPT_NO = #{userDeptNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminBulletYouUsers" >
    <!--@mbggenerated-->
    update BULLET_YOU_USERS
    set BULLET_ID = #{bulletId,jdbcType=INTEGER},
      ERP_USER_ID = #{erpUserId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      IS_VIEW = #{isView,jdbcType=TINYINT},
      VIEW_TIME = #{viewTime,jdbcType=TIMESTAMP},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      COMP_NO = #{compNo,jdbcType=VARCHAR},
      USER_DEPT_NO = #{userDeptNo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateIsView">
    update BULLET_YOU_USERS set IS_VIEW=1, VIEW_TIME=getdate()
    where BULLET_ID=#{bulletId} and CITY_ID=#{cityId} and ERP_USER_ID=#{userId}
  </update>
</mapper>