<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminBuildingInfoTmpMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminBuildingInfoTmp" >
    <!--@mbggenerated-->
    <id column="SID" property="sid" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="BUILD_ID" property="buildId" jdbcType="INTEGER" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="SMALLINT" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="BUILD_NAME" property="buildName" jdbcType="VARCHAR" />
    <result column="BUILD_CODE" property="buildCode" jdbcType="VARCHAR" />
    <result column="BUILD_DEVLOPER" property="buildDevloper" jdbcType="VARCHAR" />
    <result column="BUILD_ADDR" property="buildAddr" jdbcType="VARCHAR" />
    <result column="BUILD_REGION" property="buildRegion" jdbcType="INTEGER" />
    <result column="SECTION_ID" property="sectionId" jdbcType="INTEGER" />
    <result column="BUILD_ROUND" property="buildRound" jdbcType="VARCHAR" />
    <result column="ADD_CASE" property="addCase" jdbcType="VARCHAR" />
    <result column="RIGHT_CONDUCT" property="rightConduct" jdbcType="VARCHAR" />
    <result column="BUILD_TYPE" property="buildType" jdbcType="VARCHAR" />
    <result column="BUILD_DATE" property="buildDate" jdbcType="VARCHAR" />
    <result column="BUILD_AREA" property="buildArea" jdbcType="VARCHAR" />
    <result column="PROJECT_COVER" property="projectCover" jdbcType="VARCHAR" />
    <result column="PROJECT_SPACE" property="projectSpace" jdbcType="VARCHAR" />
    <result column="PROJECT_GREEN" property="projectGreen" jdbcType="VARCHAR" />
    <result column="CARS_CASE" property="carsCase" jdbcType="VARCHAR" />
    <result column="BUS_LINE" property="busLine" jdbcType="VARCHAR" />
    <result column="PROPERTY_COMP" property="propertyComp" jdbcType="VARCHAR" />
    <result column="PROPERTYCOMP_TELE" property="propertycompTele" jdbcType="VARCHAR" />
    <result column="COST_STANDARD" property="costStandard" jdbcType="VARCHAR" />
    <result column="BUILD_DESCRIPT" property="buildDescript" jdbcType="VARCHAR" />
    <result column="BUILD_PHOTO" property="buildPhoto" jdbcType="TINYINT" />
    <result column="POSITION_X" property="positionX" jdbcType="INTEGER" />
    <result column="POSTION_Y" property="postionY" jdbcType="INTEGER" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="TINYINT" />
    <result column="SUBMIT_DATE" property="submitDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    SID, CREATE_TIME, ARCHIVE_ID, BUILD_ID, PROVINCE_ID, CITY_ID, COMP_ID, DEPT_ID, BUILD_NAME, 
    BUILD_CODE, BUILD_DEVLOPER, BUILD_ADDR, BUILD_REGION, SECTION_ID, BUILD_ROUND, ADD_CASE, 
    RIGHT_CONDUCT, BUILD_TYPE, BUILD_DATE, BUILD_AREA, PROJECT_COVER, PROJECT_SPACE, 
    PROJECT_GREEN, CARS_CASE, BUS_LINE, PROPERTY_COMP, PROPERTYCOMP_TELE, COST_STANDARD, 
    BUILD_DESCRIPT, BUILD_PHOTO, POSITION_X, POSTION_Y, CHECK_FLAG, SUBMIT_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindb.po.AdminBuildingInfoTmpExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BUILDING_INFO_TMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from BUILDING_INFO_TMP
    where SID = #{sid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from BUILDING_INFO_TMP
    where SID = #{sid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindb.po.AdminBuildingInfoTmpExample" >
    <!--@mbggenerated-->
    delete from BUILDING_INFO_TMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminBuildingInfoTmp" useGeneratedKeys="true" keyProperty="sid" >
    <!--@mbggenerated-->
    insert into BUILDING_INFO_TMP (CREATE_TIME, ARCHIVE_ID, BUILD_ID, 
      PROVINCE_ID, CITY_ID, COMP_ID, 
      DEPT_ID, BUILD_NAME, BUILD_CODE, 
      BUILD_DEVLOPER, BUILD_ADDR, BUILD_REGION, 
      SECTION_ID, BUILD_ROUND, ADD_CASE, 
      RIGHT_CONDUCT, BUILD_TYPE, BUILD_DATE, 
      BUILD_AREA, PROJECT_COVER, PROJECT_SPACE, 
      PROJECT_GREEN, CARS_CASE, BUS_LINE, 
      PROPERTY_COMP, PROPERTYCOMP_TELE, COST_STANDARD, 
      BUILD_DESCRIPT, BUILD_PHOTO, POSITION_X, 
      POSTION_Y, CHECK_FLAG, SUBMIT_DATE
      )
    values (#{createTime,jdbcType=VARCHAR}, #{archiveId,jdbcType=INTEGER}, #{buildId,jdbcType=INTEGER}, 
      #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=SMALLINT}, #{compId,jdbcType=INTEGER}, 
      #{deptId,jdbcType=INTEGER}, #{buildName,jdbcType=VARCHAR}, #{buildCode,jdbcType=VARCHAR}, 
      #{buildDevloper,jdbcType=VARCHAR}, #{buildAddr,jdbcType=VARCHAR}, #{buildRegion,jdbcType=INTEGER}, 
      #{sectionId,jdbcType=INTEGER}, #{buildRound,jdbcType=VARCHAR}, #{addCase,jdbcType=VARCHAR}, 
      #{rightConduct,jdbcType=VARCHAR}, #{buildType,jdbcType=VARCHAR}, #{buildDate,jdbcType=VARCHAR}, 
      #{buildArea,jdbcType=VARCHAR}, #{projectCover,jdbcType=VARCHAR}, #{projectSpace,jdbcType=VARCHAR}, 
      #{projectGreen,jdbcType=VARCHAR}, #{carsCase,jdbcType=VARCHAR}, #{busLine,jdbcType=VARCHAR}, 
      #{propertyComp,jdbcType=VARCHAR}, #{propertycompTele,jdbcType=VARCHAR}, #{costStandard,jdbcType=VARCHAR}, 
      #{buildDescript,jdbcType=VARCHAR}, #{buildPhoto,jdbcType=TINYINT}, #{positionX,jdbcType=INTEGER}, 
      #{postionY,jdbcType=INTEGER}, #{checkFlag,jdbcType=TINYINT}, #{submitDate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminBuildingInfoTmp" useGeneratedKeys="true" keyProperty="sid" >
    <!--@mbggenerated-->
    insert into BUILDING_INFO_TMP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="buildId != null" >
        BUILD_ID,
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="buildName != null" >
        BUILD_NAME,
      </if>
      <if test="buildCode != null" >
        BUILD_CODE,
      </if>
      <if test="buildDevloper != null" >
        BUILD_DEVLOPER,
      </if>
      <if test="buildAddr != null" >
        BUILD_ADDR,
      </if>
      <if test="buildRegion != null" >
        BUILD_REGION,
      </if>
      <if test="sectionId != null" >
        SECTION_ID,
      </if>
      <if test="buildRound != null" >
        BUILD_ROUND,
      </if>
      <if test="addCase != null" >
        ADD_CASE,
      </if>
      <if test="rightConduct != null" >
        RIGHT_CONDUCT,
      </if>
      <if test="buildType != null" >
        BUILD_TYPE,
      </if>
      <if test="buildDate != null" >
        BUILD_DATE,
      </if>
      <if test="buildArea != null" >
        BUILD_AREA,
      </if>
      <if test="projectCover != null" >
        PROJECT_COVER,
      </if>
      <if test="projectSpace != null" >
        PROJECT_SPACE,
      </if>
      <if test="projectGreen != null" >
        PROJECT_GREEN,
      </if>
      <if test="carsCase != null" >
        CARS_CASE,
      </if>
      <if test="busLine != null" >
        BUS_LINE,
      </if>
      <if test="propertyComp != null" >
        PROPERTY_COMP,
      </if>
      <if test="propertycompTele != null" >
        PROPERTYCOMP_TELE,
      </if>
      <if test="costStandard != null" >
        COST_STANDARD,
      </if>
      <if test="buildDescript != null" >
        BUILD_DESCRIPT,
      </if>
      <if test="buildPhoto != null" >
        BUILD_PHOTO,
      </if>
      <if test="positionX != null" >
        POSITION_X,
      </if>
      <if test="postionY != null" >
        POSTION_Y,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
      <if test="submitDate != null" >
        SUBMIT_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="buildId != null" >
        #{buildId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="buildName != null" >
        #{buildName,jdbcType=VARCHAR},
      </if>
      <if test="buildCode != null" >
        #{buildCode,jdbcType=VARCHAR},
      </if>
      <if test="buildDevloper != null" >
        #{buildDevloper,jdbcType=VARCHAR},
      </if>
      <if test="buildAddr != null" >
        #{buildAddr,jdbcType=VARCHAR},
      </if>
      <if test="buildRegion != null" >
        #{buildRegion,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="buildRound != null" >
        #{buildRound,jdbcType=VARCHAR},
      </if>
      <if test="addCase != null" >
        #{addCase,jdbcType=VARCHAR},
      </if>
      <if test="rightConduct != null" >
        #{rightConduct,jdbcType=VARCHAR},
      </if>
      <if test="buildType != null" >
        #{buildType,jdbcType=VARCHAR},
      </if>
      <if test="buildDate != null" >
        #{buildDate,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null" >
        #{buildArea,jdbcType=VARCHAR},
      </if>
      <if test="projectCover != null" >
        #{projectCover,jdbcType=VARCHAR},
      </if>
      <if test="projectSpace != null" >
        #{projectSpace,jdbcType=VARCHAR},
      </if>
      <if test="projectGreen != null" >
        #{projectGreen,jdbcType=VARCHAR},
      </if>
      <if test="carsCase != null" >
        #{carsCase,jdbcType=VARCHAR},
      </if>
      <if test="busLine != null" >
        #{busLine,jdbcType=VARCHAR},
      </if>
      <if test="propertyComp != null" >
        #{propertyComp,jdbcType=VARCHAR},
      </if>
      <if test="propertycompTele != null" >
        #{propertycompTele,jdbcType=VARCHAR},
      </if>
      <if test="costStandard != null" >
        #{costStandard,jdbcType=VARCHAR},
      </if>
      <if test="buildDescript != null" >
        #{buildDescript,jdbcType=VARCHAR},
      </if>
      <if test="buildPhoto != null" >
        #{buildPhoto,jdbcType=TINYINT},
      </if>
      <if test="positionX != null" >
        #{positionX,jdbcType=INTEGER},
      </if>
      <if test="postionY != null" >
        #{postionY,jdbcType=INTEGER},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=TINYINT},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindb.po.AdminBuildingInfoTmpExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from BUILDING_INFO_TMP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update BUILDING_INFO_TMP
    <set >
      <if test="record.sid != null" >
        SID = #{record.sid,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.buildId != null" >
        BUILD_ID = #{record.buildId,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null" >
        PROVINCE_ID = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=SMALLINT},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null" >
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.buildName != null" >
        BUILD_NAME = #{record.buildName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildCode != null" >
        BUILD_CODE = #{record.buildCode,jdbcType=VARCHAR},
      </if>
      <if test="record.buildDevloper != null" >
        BUILD_DEVLOPER = #{record.buildDevloper,jdbcType=VARCHAR},
      </if>
      <if test="record.buildAddr != null" >
        BUILD_ADDR = #{record.buildAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.buildRegion != null" >
        BUILD_REGION = #{record.buildRegion,jdbcType=INTEGER},
      </if>
      <if test="record.sectionId != null" >
        SECTION_ID = #{record.sectionId,jdbcType=INTEGER},
      </if>
      <if test="record.buildRound != null" >
        BUILD_ROUND = #{record.buildRound,jdbcType=VARCHAR},
      </if>
      <if test="record.addCase != null" >
        ADD_CASE = #{record.addCase,jdbcType=VARCHAR},
      </if>
      <if test="record.rightConduct != null" >
        RIGHT_CONDUCT = #{record.rightConduct,jdbcType=VARCHAR},
      </if>
      <if test="record.buildType != null" >
        BUILD_TYPE = #{record.buildType,jdbcType=VARCHAR},
      </if>
      <if test="record.buildDate != null" >
        BUILD_DATE = #{record.buildDate,jdbcType=VARCHAR},
      </if>
      <if test="record.buildArea != null" >
        BUILD_AREA = #{record.buildArea,jdbcType=VARCHAR},
      </if>
      <if test="record.projectCover != null" >
        PROJECT_COVER = #{record.projectCover,jdbcType=VARCHAR},
      </if>
      <if test="record.projectSpace != null" >
        PROJECT_SPACE = #{record.projectSpace,jdbcType=VARCHAR},
      </if>
      <if test="record.projectGreen != null" >
        PROJECT_GREEN = #{record.projectGreen,jdbcType=VARCHAR},
      </if>
      <if test="record.carsCase != null" >
        CARS_CASE = #{record.carsCase,jdbcType=VARCHAR},
      </if>
      <if test="record.busLine != null" >
        BUS_LINE = #{record.busLine,jdbcType=VARCHAR},
      </if>
      <if test="record.propertyComp != null" >
        PROPERTY_COMP = #{record.propertyComp,jdbcType=VARCHAR},
      </if>
      <if test="record.propertycompTele != null" >
        PROPERTYCOMP_TELE = #{record.propertycompTele,jdbcType=VARCHAR},
      </if>
      <if test="record.costStandard != null" >
        COST_STANDARD = #{record.costStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.buildDescript != null" >
        BUILD_DESCRIPT = #{record.buildDescript,jdbcType=VARCHAR},
      </if>
      <if test="record.buildPhoto != null" >
        BUILD_PHOTO = #{record.buildPhoto,jdbcType=TINYINT},
      </if>
      <if test="record.positionX != null" >
        POSITION_X = #{record.positionX,jdbcType=INTEGER},
      </if>
      <if test="record.postionY != null" >
        POSTION_Y = #{record.postionY,jdbcType=INTEGER},
      </if>
      <if test="record.checkFlag != null" >
        CHECK_FLAG = #{record.checkFlag,jdbcType=TINYINT},
      </if>
      <if test="record.submitDate != null" >
        SUBMIT_DATE = #{record.submitDate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update BUILDING_INFO_TMP
    set SID = #{record.sid,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=VARCHAR},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      BUILD_ID = #{record.buildId,jdbcType=INTEGER},
      PROVINCE_ID = #{record.provinceId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=SMALLINT},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      BUILD_NAME = #{record.buildName,jdbcType=VARCHAR},
      BUILD_CODE = #{record.buildCode,jdbcType=VARCHAR},
      BUILD_DEVLOPER = #{record.buildDevloper,jdbcType=VARCHAR},
      BUILD_ADDR = #{record.buildAddr,jdbcType=VARCHAR},
      BUILD_REGION = #{record.buildRegion,jdbcType=INTEGER},
      SECTION_ID = #{record.sectionId,jdbcType=INTEGER},
      BUILD_ROUND = #{record.buildRound,jdbcType=VARCHAR},
      ADD_CASE = #{record.addCase,jdbcType=VARCHAR},
      RIGHT_CONDUCT = #{record.rightConduct,jdbcType=VARCHAR},
      BUILD_TYPE = #{record.buildType,jdbcType=VARCHAR},
      BUILD_DATE = #{record.buildDate,jdbcType=VARCHAR},
      BUILD_AREA = #{record.buildArea,jdbcType=VARCHAR},
      PROJECT_COVER = #{record.projectCover,jdbcType=VARCHAR},
      PROJECT_SPACE = #{record.projectSpace,jdbcType=VARCHAR},
      PROJECT_GREEN = #{record.projectGreen,jdbcType=VARCHAR},
      CARS_CASE = #{record.carsCase,jdbcType=VARCHAR},
      BUS_LINE = #{record.busLine,jdbcType=VARCHAR},
      PROPERTY_COMP = #{record.propertyComp,jdbcType=VARCHAR},
      PROPERTYCOMP_TELE = #{record.propertycompTele,jdbcType=VARCHAR},
      COST_STANDARD = #{record.costStandard,jdbcType=VARCHAR},
      BUILD_DESCRIPT = #{record.buildDescript,jdbcType=VARCHAR},
      BUILD_PHOTO = #{record.buildPhoto,jdbcType=TINYINT},
      POSITION_X = #{record.positionX,jdbcType=INTEGER},
      POSTION_Y = #{record.postionY,jdbcType=INTEGER},
      CHECK_FLAG = #{record.checkFlag,jdbcType=TINYINT},
      SUBMIT_DATE = #{record.submitDate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminBuildingInfoTmp" >
    <!--@mbggenerated-->
    update BUILDING_INFO_TMP
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="buildId != null" >
        BUILD_ID = #{buildId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="buildName != null" >
        BUILD_NAME = #{buildName,jdbcType=VARCHAR},
      </if>
      <if test="buildCode != null" >
        BUILD_CODE = #{buildCode,jdbcType=VARCHAR},
      </if>
      <if test="buildDevloper != null" >
        BUILD_DEVLOPER = #{buildDevloper,jdbcType=VARCHAR},
      </if>
      <if test="buildAddr != null" >
        BUILD_ADDR = #{buildAddr,jdbcType=VARCHAR},
      </if>
      <if test="buildRegion != null" >
        BUILD_REGION = #{buildRegion,jdbcType=INTEGER},
      </if>
      <if test="sectionId != null" >
        SECTION_ID = #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="buildRound != null" >
        BUILD_ROUND = #{buildRound,jdbcType=VARCHAR},
      </if>
      <if test="addCase != null" >
        ADD_CASE = #{addCase,jdbcType=VARCHAR},
      </if>
      <if test="rightConduct != null" >
        RIGHT_CONDUCT = #{rightConduct,jdbcType=VARCHAR},
      </if>
      <if test="buildType != null" >
        BUILD_TYPE = #{buildType,jdbcType=VARCHAR},
      </if>
      <if test="buildDate != null" >
        BUILD_DATE = #{buildDate,jdbcType=VARCHAR},
      </if>
      <if test="buildArea != null" >
        BUILD_AREA = #{buildArea,jdbcType=VARCHAR},
      </if>
      <if test="projectCover != null" >
        PROJECT_COVER = #{projectCover,jdbcType=VARCHAR},
      </if>
      <if test="projectSpace != null" >
        PROJECT_SPACE = #{projectSpace,jdbcType=VARCHAR},
      </if>
      <if test="projectGreen != null" >
        PROJECT_GREEN = #{projectGreen,jdbcType=VARCHAR},
      </if>
      <if test="carsCase != null" >
        CARS_CASE = #{carsCase,jdbcType=VARCHAR},
      </if>
      <if test="busLine != null" >
        BUS_LINE = #{busLine,jdbcType=VARCHAR},
      </if>
      <if test="propertyComp != null" >
        PROPERTY_COMP = #{propertyComp,jdbcType=VARCHAR},
      </if>
      <if test="propertycompTele != null" >
        PROPERTYCOMP_TELE = #{propertycompTele,jdbcType=VARCHAR},
      </if>
      <if test="costStandard != null" >
        COST_STANDARD = #{costStandard,jdbcType=VARCHAR},
      </if>
      <if test="buildDescript != null" >
        BUILD_DESCRIPT = #{buildDescript,jdbcType=VARCHAR},
      </if>
      <if test="buildPhoto != null" >
        BUILD_PHOTO = #{buildPhoto,jdbcType=TINYINT},
      </if>
      <if test="positionX != null" >
        POSITION_X = #{positionX,jdbcType=INTEGER},
      </if>
      <if test="postionY != null" >
        POSTION_Y = #{postionY,jdbcType=INTEGER},
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG = #{checkFlag,jdbcType=TINYINT},
      </if>
      <if test="submitDate != null" >
        SUBMIT_DATE = #{submitDate,jdbcType=VARCHAR},
      </if>
    </set>
    where SID = #{sid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminBuildingInfoTmp" >
    <!--@mbggenerated-->
    update BUILDING_INFO_TMP
    set CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      BUILD_ID = #{buildId,jdbcType=INTEGER},
      PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=SMALLINT},
      COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      BUILD_NAME = #{buildName,jdbcType=VARCHAR},
      BUILD_CODE = #{buildCode,jdbcType=VARCHAR},
      BUILD_DEVLOPER = #{buildDevloper,jdbcType=VARCHAR},
      BUILD_ADDR = #{buildAddr,jdbcType=VARCHAR},
      BUILD_REGION = #{buildRegion,jdbcType=INTEGER},
      SECTION_ID = #{sectionId,jdbcType=INTEGER},
      BUILD_ROUND = #{buildRound,jdbcType=VARCHAR},
      ADD_CASE = #{addCase,jdbcType=VARCHAR},
      RIGHT_CONDUCT = #{rightConduct,jdbcType=VARCHAR},
      BUILD_TYPE = #{buildType,jdbcType=VARCHAR},
      BUILD_DATE = #{buildDate,jdbcType=VARCHAR},
      BUILD_AREA = #{buildArea,jdbcType=VARCHAR},
      PROJECT_COVER = #{projectCover,jdbcType=VARCHAR},
      PROJECT_SPACE = #{projectSpace,jdbcType=VARCHAR},
      PROJECT_GREEN = #{projectGreen,jdbcType=VARCHAR},
      CARS_CASE = #{carsCase,jdbcType=VARCHAR},
      BUS_LINE = #{busLine,jdbcType=VARCHAR},
      PROPERTY_COMP = #{propertyComp,jdbcType=VARCHAR},
      PROPERTYCOMP_TELE = #{propertycompTele,jdbcType=VARCHAR},
      COST_STANDARD = #{costStandard,jdbcType=VARCHAR},
      BUILD_DESCRIPT = #{buildDescript,jdbcType=VARCHAR},
      BUILD_PHOTO = #{buildPhoto,jdbcType=TINYINT},
      POSITION_X = #{positionX,jdbcType=INTEGER},
      POSTION_Y = #{postionY,jdbcType=INTEGER},
      CHECK_FLAG = #{checkFlag,jdbcType=TINYINT},
      SUBMIT_DATE = #{submitDate,jdbcType=VARCHAR}
    where SID = #{sid,jdbcType=INTEGER}
  </update>

	<select id="selectBuildInfoTmp" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from BUILDING_INFO_TMP
		where SID = #{conditionModel.sid,jdbcType=INTEGER}
		<if test="buildId != null">
			and BUILD_ID=#{conditionModel.buildId,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectTopOneBuildInfoTmp" resultMap="BaseResultMap">
		select top 1 BUILD_ID,SID from BUILDING_INFO_TMP where
		BUILD_ID=#{buildId,jdbcType=INTEGER} order by CREATE_TIME desc
	</select>

	<insert id="insertBuildingInfoTmp">
		insert into BUILDING_INFO_TMP
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="insertModel.createTime != null">
				CREATE_TIME,
			</if>
			<if test="insertModel.archiveId != null">
				ARCHIVE_ID,
			</if>
			<if test="insertModel.buildId != null">
				BUILD_ID,
			</if>
			<if test="insertModel.provinceId != null">
				PROVINCE_ID,
			</if>
			<if test="insertModel.cityId != null">
				CITY_ID,
			</if>
			<if test="insertModel.compId != null">
				COMP_ID,
			</if>
			<if test="insertModel.deptId != null">
				DEPT_ID,
			</if>
			<if test="insertModel.buildName != null">
				BUILD_NAME,
			</if>
			<if test="insertModel.buildCode != null">
				BUILD_CODE,
			</if>
			<if test="insertModel.buildDevloper != null">
				BUILD_DEVLOPER,
			</if>
			<if test="insertModel.buildAddr != null">
				BUILD_ADDR,
			</if>
			<if test="insertModel.buildRegion != null">
				BUILD_REGION,
			</if>
			<if test="insertModel.sectionId != null">
				SECTION_ID,
			</if>
			<if test="insertModel.buildRound != null">
				BUILD_ROUND,
			</if>
			<if test="insertModel.addCase != null">
				ADD_CASE,
			</if>
			<if test="insertModel.rightConduct != null">
				RIGHT_CONDUCT,
			</if>
			<if test="insertModel.buildType != null">
				BUILD_TYPE,
			</if>
			<if test="insertModel.buildDate != null">
				BUILD_DATE,
			</if>
			<if test="insertModel.buildArea != null">
				BUILD_AREA,
			</if>
			<if test="insertModel.projectCover != null">
				PROJECT_COVER,
			</if>
			<if test="insertModel.projectSpace != null">
				PROJECT_SPACE,
			</if>
			<if test="insertModel.projectGreen != null">
				PROJECT_GREEN,
			</if>
			<if test="insertModel.carsCase != null">
				CARS_CASE,
			</if>
			<if test="insertModel.busLine != null">
				BUS_LINE,
			</if>
			<if test="insertModel.propertyComp != null">
				PROPERTY_COMP,
			</if>
			<if test="insertModel.propertycompTele != null">
				PROPERTYCOMP_TELE,
			</if>
			<if test="insertModel.costStandard != null">
				COST_STANDARD,
			</if>
			<if test="insertModel.buildDescript != null">
				BUILD_DESCRIPT,
			</if>
			<if test="insertModel.buildPhoto != null">
				BUILD_PHOTO,
			</if>
			<if test="insertModel.positionX != null">
				POSITION_X,
			</if>
			<if test="insertModel.postionY != null">
				POSTION_Y,
			</if>
			<if test="insertModel.checkFlag != null">
				CHECK_FLAG,
			</if>
			<if test="insertModel.submitDate != null">
				SUBMIT_DATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{insertModel.sid,jdbcType=INTEGER},
			<if test="insertModel.createTime != null">
				#{insertModel.createTime,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.archiveId != null">
				#{insertModel.archiveId,jdbcType=INTEGER},
			</if>
			<if test="insertModel.buildId != null">
				#{insertModel.buildId,jdbcType=INTEGER},
			</if>
			<if test="insertModel.provinceId != null">
				#{insertModel.provinceId,jdbcType=INTEGER},
			</if>
			<if test="insertModel.cityId != null">
				#{insertModel.cityId,jdbcType=SMALLINT},
			</if>
			<if test="insertModel.compId != null">
				#{insertModel.compId,jdbcType=INTEGER},
			</if>
			<if test="insertModel.deptId != null">
				#{insertModel.deptId,jdbcType=INTEGER},
			</if>
			<if test="insertModel.buildName != null">
				#{insertModel.buildName,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildCode != null">
				#{insertModel.buildCode,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildDevloper != null">
				#{insertModel.buildDevloper,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildAddr != null">
				#{insertModel.buildAddr,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildRegion != null">
				#{insertModel.buildRegion,jdbcType=INTEGER},
			</if>
			<if test="insertModel.sectionId != null">
				#{insertModel.sectionId,jdbcType=INTEGER},
			</if>
			<if test="insertModel.buildRound != null">
				#{insertModel.buildRound,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.addCase != null">
				#{insertModel.addCase,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.rightConduct != null">
				#{insertModel.rightConduct,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildType != null">
				#{insertModel.buildType,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildDate != null">
				#{insertModel.buildDate,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildArea != null">
				#{insertModel.buildArea,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.projectCover != null">
				#{insertModel.projectCover,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.projectSpace != null">
				#{insertModel.projectSpace,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.projectGreen != null">
				#{insertModel.projectGreen,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.carsCase != null">
				#{insertModel.carsCase,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.busLine != null">
				#{insertModel.busLine,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.propertyComp != null">
				#{insertModel.propertyComp,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.propertycompTele != null">
				#{insertModel.propertycompTele,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.costStandard != null">
				#{insertModel.costStandard,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildDescript != null">
				#{insertModel.buildDescript,jdbcType=VARCHAR},
			</if>
			<if test="insertModel.buildPhoto != null">
				#{insertModel.buildPhoto,jdbcType=TINYINT},
			</if>
			<if test="insertModel.positionX != null">
				#{insertModel.positionX,jdbcType=INTEGER},
			</if>
			<if test="insertModel.postionY != null">
				#{insertModel.postionY,jdbcType=INTEGER},
			</if>
			<if test="insertModel.checkFlag != null">
				#{insertModel.checkFlag,jdbcType=TINYINT},
			</if>
			<if test="insertModel.submitDate != null">
				#{insertModel.submitDate,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateBuildingInfoTmp">
		update BUILDING_INFO_TMP
		<set>
			<if test="updateModel.createTime != null">
				CREATE_TIME = #{updateModel.createTime,jdbcType=VARCHAR},
			</if>
			<if test="updateModel.archiveId != null">
				ARCHIVE_ID = #{updateModel.archiveId,jdbcType=INTEGER},
			</if>
			<if test="updateModel.buildId != null">
				BUILD_ID = #{updateModel.buildId,jdbcType=INTEGER},
			</if>
			<if test="updateModel.provinceId != null">
				PROVINCE_ID = #{updateModel.provinceId,jdbcType=INTEGER},
			</if>
			<if test="updateModel.cityId != null">
				CITY_ID = #{updateModel.cityId,jdbcType=SMALLINT},
			</if>
			<if test="updateModel.compId != null">
				COMP_ID = #{compId,jdbcType=INTEGER},
			</if>
			<if test="deptId != null">
				DEPT_ID = #{deptId,jdbcType=INTEGER},
			</if>
			<if test="buildName != null">
				BUILD_NAME = #{buildName,jdbcType=VARCHAR},
			</if>
			<if test="buildCode != null">
				BUILD_CODE = #{buildCode,jdbcType=VARCHAR},
			</if>
			<if test="buildDevloper != null">
				BUILD_DEVLOPER = #{buildDevloper,jdbcType=VARCHAR},
			</if>
			<if test="buildAddr != null">
				BUILD_ADDR = #{buildAddr,jdbcType=VARCHAR},
			</if>
			<if test="buildRegion != null">
				BUILD_REGION = #{buildRegion,jdbcType=INTEGER},
			</if>
			<if test="sectionId != null">
				SECTION_ID = #{sectionId,jdbcType=INTEGER},
			</if>
			<if test="buildRound != null">
				BUILD_ROUND = #{buildRound,jdbcType=VARCHAR},
			</if>
			<if test="addCase != null">
				ADD_CASE = #{addCase,jdbcType=VARCHAR},
			</if>
			<if test="rightConduct != null">
				RIGHT_CONDUCT = #{rightConduct,jdbcType=VARCHAR},
			</if>
			<if test="buildType != null">
				BUILD_TYPE = #{buildType,jdbcType=VARCHAR},
			</if>
			<if test="buildDate != null">
				BUILD_DATE = #{buildDate,jdbcType=VARCHAR},
			</if>
			<if test="buildArea != null">
				BUILD_AREA = #{buildArea,jdbcType=VARCHAR},
			</if>
			<if test="projectCover != null">
				PROJECT_COVER = #{projectCover,jdbcType=VARCHAR},
			</if>
			<if test="projectSpace != null">
				PROJECT_SPACE = #{projectSpace,jdbcType=VARCHAR},
			</if>
			<if test="projectGreen != null">
				PROJECT_GREEN = #{projectGreen,jdbcType=VARCHAR},
			</if>
			<if test="carsCase != null">
				CARS_CASE = #{carsCase,jdbcType=VARCHAR},
			</if>
			<if test="busLine != null">
				BUS_LINE = #{busLine,jdbcType=VARCHAR},
			</if>
			<if test="propertyComp != null">
				PROPERTY_COMP = #{propertyComp,jdbcType=VARCHAR},
			</if>
			<if test="propertycompTele != null">
				PROPERTYCOMP_TELE = #{propertycompTele,jdbcType=VARCHAR},
			</if>
			<if test="costStandard != null">
				COST_STANDARD = #{costStandard,jdbcType=VARCHAR},
			</if>
			<if test="buildDescript != null">
				BUILD_DESCRIPT = #{buildDescript,jdbcType=VARCHAR},
			</if>
			<if test="buildPhoto != null">
				BUILD_PHOTO = #{buildPhoto,jdbcType=TINYINT},
			</if>
			<if test="positionX != null">
				POSITION_X = #{positionX,jdbcType=INTEGER},
			</if>
			<if test="postionY != null">
				POSTION_Y = #{postionY,jdbcType=INTEGER},
			</if>
			<if test="checkFlag != null">
				CHECK_FLAG = #{checkFlag,jdbcType=TINYINT},
			</if>
			<if test="submitDate != null">
				SUBMIT_DATE = #{submitDate,jdbcType=VARCHAR},
			</if>
		</set>
		where SID = #{sid,jdbcType=INTEGER}
	</update>
	
	<select id="getCheckFlag" resultType="java.lang.Integer">
		select count(BUILD_ID) from BUILDING_INFO_TMP where ARCHIVE_ID =
		#{param.archiveId,jdbcType=VARCHAR} and
		BUILD_ID = #{param.buildId,jdbcType=INTEGER} and CHECK_FLAG = 0
	</select>
</mapper>