<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminFunCompNosMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminFunCompNos" >
    <!--@mbggenerated-->
    <id column="COMP_NO" property="compNo" jdbcType="VARCHAR" />
    <result column="SEQ_NO" property="seqNo" jdbcType="INTEGER" />
    <result column="BE_USE" property="beUse" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    COMP_NO, SEQ_NO, BE_USE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_COMP_NOS
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    delete from FUN_COMP_NOS
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminFunCompNos" >
    <!--@mbggenerated-->
    insert into FUN_COMP_NOS (COMP_NO, SEQ_NO, BE_USE
      )
    values (#{compNo,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{beUse,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminFunCompNos" >
    <!--@mbggenerated-->
    insert into FUN_COMP_NOS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compNo != null" >
        COMP_NO,
      </if>
      <if test="seqNo != null" >
        SEQ_NO,
      </if>
      <if test="beUse != null" >
        BE_USE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compNo != null" >
        #{compNo,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="beUse != null" >
        #{beUse,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminFunCompNos" >
    <!--@mbggenerated-->
    update FUN_COMP_NOS
    <set >
      <if test="seqNo != null" >
        SEQ_NO = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="beUse != null" >
        BE_USE = #{beUse,jdbcType=BIT},
      </if>
    </set>
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminFunCompNos" >
    <!--@mbggenerated-->
    update FUN_COMP_NOS
    set SEQ_NO = #{seqNo,jdbcType=INTEGER},
      BE_USE = #{beUse,jdbcType=BIT}
    where COMP_NO = #{compNo,jdbcType=VARCHAR}
  </update>

  <select id="selectCompNo" resultType="java.lang.String">
  	SELECT TOP 1 upper(COMP_NO) FROM FUN_COMP_NOS WHERE BE_USE = 0 ORDER BY SEQ_NO DESC
  </select>

  <update id="updateBeUseByCompNo">
  	UPDATE FUN_COMP_NOS SET BE_USE = 1 WHERE COMP_NO = #{compNo}
  </update>
</mapper>