<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminBiddingTeleWorkgroupMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminBiddingTeleWorkgroup" >
    <!--@mbggenerated-->
    <id column="GUID" property="guid" jdbcType="VARCHAR" />
    <result column="BIDDING_ID" property="biddingId" jdbcType="INTEGER" />
    <result column="CUST_ID" property="custId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="BIG_CODE" property="bigCode" jdbcType="VARCHAR" />
    <result column="EXT_CODE" property="extCode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="EXTENSION" property="extension" jdbcType="VARCHAR" />
    <result column="USER_LIST" property="userList" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    GUID, BIDDING_ID, CUST_ID, NAME, BIG_CODE, EXT_CODE, STATUS, EXTENSION, USER_LIST
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from BIDDING_TELE_WORKGROUP
    where GUID = #{guid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    delete from BIDDING_TELE_WORKGROUP
    where GUID = #{guid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminBiddingTeleWorkgroup" >
    <!--@mbggenerated-->
    insert into BIDDING_TELE_WORKGROUP (GUID, BIDDING_ID, CUST_ID, 
      NAME, BIG_CODE, EXT_CODE, 
      STATUS, EXTENSION, USER_LIST
      )
    values (#{guid,jdbcType=VARCHAR}, #{biddingId,jdbcType=INTEGER}, #{custId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{bigCode,jdbcType=VARCHAR}, #{extCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{extension,jdbcType=VARCHAR}, #{userList,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminBiddingTeleWorkgroup" >
    <!--@mbggenerated-->
    insert into BIDDING_TELE_WORKGROUP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guid != null" >
        GUID,
      </if>
      <if test="biddingId != null" >
        BIDDING_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="bigCode != null" >
        BIG_CODE,
      </if>
      <if test="extCode != null" >
        EXT_CODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="extension != null" >
        EXTENSION,
      </if>
      <if test="userList != null" >
        USER_LIST,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="biddingId != null" >
        #{biddingId,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bigCode != null" >
        #{bigCode,jdbcType=VARCHAR},
      </if>
      <if test="extCode != null" >
        #{extCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="extension != null" >
        #{extension,jdbcType=VARCHAR},
      </if>
      <if test="userList != null" >
        #{userList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminBiddingTeleWorkgroup" >
    <!--@mbggenerated-->
    update BIDDING_TELE_WORKGROUP
    <set >
      <if test="biddingId != null" >
        BIDDING_ID = #{biddingId,jdbcType=INTEGER},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bigCode != null" >
        BIG_CODE = #{bigCode,jdbcType=VARCHAR},
      </if>
      <if test="extCode != null" >
        EXT_CODE = #{extCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="extension != null" >
        EXTENSION = #{extension,jdbcType=VARCHAR},
      </if>
      <if test="userList != null" >
        USER_LIST = #{userList,jdbcType=VARCHAR},
      </if>
    </set>
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminBiddingTeleWorkgroup" >
    <!--@mbggenerated-->
    update BIDDING_TELE_WORKGROUP
    set BIDDING_ID = #{biddingId,jdbcType=INTEGER},
      CUST_ID = #{custId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      BIG_CODE = #{bigCode,jdbcType=VARCHAR},
      EXT_CODE = #{extCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      EXTENSION = #{extension,jdbcType=VARCHAR},
      USER_LIST = #{userList,jdbcType=VARCHAR}
    where GUID = #{guid,jdbcType=VARCHAR}
  </update>
</mapper>