<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.AdminMsgPushMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.AdminMsgPush" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="PUSH_TOKEN" property="pushToken" jdbcType="VARCHAR" />
    <result column="IS_PUSH" property="isPush" jdbcType="INTEGER" />
    <result column="PUSH_TITLE" property="pushTitle" jdbcType="VARCHAR" />
    <result column="PUSH_CONTENT" property="pushContent" jdbcType="VARCHAR" />
    <result column="PUSH_JSON" property="pushJson" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="PUSH_TIME" property="pushTime" jdbcType="TIMESTAMP" />
    <result column="RECEIVE_ARCHIVE_ID" property="receiveArchiveId" jdbcType="VARCHAR" />
    <result column="SEND_ARCHIVE_ID" property="sendArchiveId" jdbcType="VARCHAR" />
    <result column="PUSH_LEVEL" property="pushLevel" jdbcType="INTEGER" />
    <result column="USER_TYPE" property="userType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, DEVICE_TYPE, PUSH_TOKEN, IS_PUSH, PUSH_TITLE, PUSH_CONTENT, PUSH_JSON, CREATE_TIME, 
    PUSH_TIME, RECEIVE_ARCHIVE_ID, SEND_ARCHIVE_ID, PUSH_LEVEL, USER_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from MSG_PUSH
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from MSG_PUSH
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.AdminMsgPush" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into MSG_PUSH (DEVICE_TYPE, PUSH_TOKEN, IS_PUSH, 
      PUSH_TITLE, PUSH_CONTENT, PUSH_JSON, 
      CREATE_TIME, PUSH_TIME, RECEIVE_ARCHIVE_ID, 
      SEND_ARCHIVE_ID, PUSH_LEVEL, USER_TYPE
      )
    values (#{deviceType,jdbcType=INTEGER}, #{pushToken,jdbcType=VARCHAR}, #{isPush,jdbcType=INTEGER}, 
      #{pushTitle,jdbcType=VARCHAR}, #{pushContent,jdbcType=VARCHAR}, #{pushJson,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{pushTime,jdbcType=TIMESTAMP}, #{receiveArchiveId,jdbcType=VARCHAR}, 
      #{sendArchiveId,jdbcType=VARCHAR}, #{pushLevel,jdbcType=INTEGER}, #{userType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.AdminMsgPush" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into MSG_PUSH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceType != null" >
        DEVICE_TYPE,
      </if>
      <if test="pushToken != null" >
        PUSH_TOKEN,
      </if>
      <if test="isPush != null" >
        IS_PUSH,
      </if>
      <if test="pushTitle != null" >
        PUSH_TITLE,
      </if>
      <if test="pushContent != null" >
        PUSH_CONTENT,
      </if>
      <if test="pushJson != null" >
        PUSH_JSON,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="pushTime != null" >
        PUSH_TIME,
      </if>
      <if test="receiveArchiveId != null" >
        RECEIVE_ARCHIVE_ID,
      </if>
      <if test="sendArchiveId != null" >
        SEND_ARCHIVE_ID,
      </if>
      <if test="pushLevel != null" >
        PUSH_LEVEL,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceType != null" >
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="pushToken != null" >
        #{pushToken,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null" >
        #{isPush,jdbcType=INTEGER},
      </if>
      <if test="pushTitle != null" >
        #{pushTitle,jdbcType=VARCHAR},
      </if>
      <if test="pushContent != null" >
        #{pushContent,jdbcType=VARCHAR},
      </if>
      <if test="pushJson != null" >
        #{pushJson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushTime != null" >
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveArchiveId != null" >
        #{receiveArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendArchiveId != null" >
        #{sendArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="pushLevel != null" >
        #{pushLevel,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.AdminMsgPush" >
    <!--@mbggenerated-->
    update MSG_PUSH
    <set >
      <if test="deviceType != null" >
        DEVICE_TYPE = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="pushToken != null" >
        PUSH_TOKEN = #{pushToken,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null" >
        IS_PUSH = #{isPush,jdbcType=INTEGER},
      </if>
      <if test="pushTitle != null" >
        PUSH_TITLE = #{pushTitle,jdbcType=VARCHAR},
      </if>
      <if test="pushContent != null" >
        PUSH_CONTENT = #{pushContent,jdbcType=VARCHAR},
      </if>
      <if test="pushJson != null" >
        PUSH_JSON = #{pushJson,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushTime != null" >
        PUSH_TIME = #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveArchiveId != null" >
        RECEIVE_ARCHIVE_ID = #{receiveArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="sendArchiveId != null" >
        SEND_ARCHIVE_ID = #{sendArchiveId,jdbcType=VARCHAR},
      </if>
      <if test="pushLevel != null" >
        PUSH_LEVEL = #{pushLevel,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.AdminMsgPush" >
    <!--@mbggenerated-->
    update MSG_PUSH
    set DEVICE_TYPE = #{deviceType,jdbcType=INTEGER},
      PUSH_TOKEN = #{pushToken,jdbcType=VARCHAR},
      IS_PUSH = #{isPush,jdbcType=INTEGER},
      PUSH_TITLE = #{pushTitle,jdbcType=VARCHAR},
      PUSH_CONTENT = #{pushContent,jdbcType=VARCHAR},
      PUSH_JSON = #{pushJson,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PUSH_TIME = #{pushTime,jdbcType=TIMESTAMP},
      RECEIVE_ARCHIVE_ID = #{receiveArchiveId,jdbcType=VARCHAR},
      SEND_ARCHIVE_ID = #{sendArchiveId,jdbcType=VARCHAR},
      PUSH_LEVEL = #{pushLevel,jdbcType=INTEGER},
      USER_TYPE = #{userType,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>