<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindb.dao.ErpYouComplaintTypeMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindb.po.ErpYouComplaintType" >
    <!--@mbggenerated-->
    <id column="YCT_ID" property="yctId" jdbcType="INTEGER" />
    <result column="YCT_NAME" property="yctName" jdbcType="VARCHAR" />
    <result column="YCT_DESC" property="yctDesc" jdbcType="VARCHAR" />
    <result column="YCT_OWNER" property="yctOwner" jdbcType="TINYINT" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    YCT_ID, YCT_NAME, YCT_DESC, YCT_OWNER, DEL_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from YOU_COMPLAINT_TYPE
    where YCT_ID = #{yctId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from YOU_COMPLAINT_TYPE
    where YCT_ID = #{yctId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindb.po.ErpYouComplaintType" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="yctId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into YOU_COMPLAINT_TYPE (YCT_NAME, YCT_DESC, YCT_OWNER, 
      DEL_FLAG)
    values (#{yctName,jdbcType=VARCHAR}, #{yctDesc,jdbcType=VARCHAR}, #{yctOwner,jdbcType=TINYINT}, 
      #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindb.po.ErpYouComplaintType" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="yctId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into YOU_COMPLAINT_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yctName != null" >
        YCT_NAME,
      </if>
      <if test="yctDesc != null" >
        YCT_DESC,
      </if>
      <if test="yctOwner != null" >
        YCT_OWNER,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yctName != null" >
        #{yctName,jdbcType=VARCHAR},
      </if>
      <if test="yctDesc != null" >
        #{yctDesc,jdbcType=VARCHAR},
      </if>
      <if test="yctOwner != null" >
        #{yctOwner,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindb.po.ErpYouComplaintType" >
    <!--@mbggenerated-->
    update YOU_COMPLAINT_TYPE
    <set >
      <if test="yctName != null" >
        YCT_NAME = #{yctName,jdbcType=VARCHAR},
      </if>
      <if test="yctDesc != null" >
        YCT_DESC = #{yctDesc,jdbcType=VARCHAR},
      </if>
      <if test="yctOwner != null" >
        YCT_OWNER = #{yctOwner,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where YCT_ID = #{yctId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindb.po.ErpYouComplaintType" >
    <!--@mbggenerated-->
    update YOU_COMPLAINT_TYPE
    set YCT_NAME = #{yctName,jdbcType=VARCHAR},
      YCT_DESC = #{yctDesc,jdbcType=VARCHAR},
      YCT_OWNER = #{yctOwner,jdbcType=TINYINT},
      DEL_FLAG = #{delFlag,jdbcType=TINYINT}
    where YCT_ID = #{yctId,jdbcType=INTEGER}
  </update>
  
  <select id="getComplainTypeList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" /> from YOU_COMPLAINT_TYPE
	WHERE DEL_FLAG=0
	<if test="_parameter != null and _parameter !=''">
	 AND YCT_OWNER = #{_parameter,jdbcType=VARCHAR}
	</if>
	ORDER BY YCT_ID ASC
  </select>
  <select id="selectByYctId" parameterType="java.lang.Byte" resultMap="BaseResultMap">
	  select YCT_NAME from YOU_COMPLAINT_TYPE WITH(NOLOCK) where YCT_ID = #{complainType,jdbcType=TINYINT}
  </select>
</mapper>