<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyFunCustStrokeMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyFunCustStroke" >
    <!--@mbggenerated-->
    <id column="FCS_ID" property="fcsId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="SMALLINT" />
    <result column="CUST_ID" property="custId" jdbcType="INTEGER" />
    <result column="STROKE_TYPE" property="strokeType" jdbcType="VARCHAR" />
    <result column="STROKE_OFFER" property="strokeOffer" jdbcType="VARCHAR" />
    <result column="STROKE_NO" property="strokeNo" jdbcType="VARCHAR" />
    <result column="STROKE_TIME" property="strokeTime" jdbcType="TIMESTAMP" />
    <result column="STROKE_MEMO" property="strokeMemo" jdbcType="VARCHAR" />
    <result column="VALID_FLAG" property="validFlag" jdbcType="TINYINT" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    FCS_ID, CITY_ID, CUST_ID, STROKE_TYPE, STROKE_OFFER, STROKE_NO, STROKE_TIME, STROKE_MEMO, 
    VALID_FLAG, CREATION_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_CUST_STROKE
    where FCS_ID = #{fcsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_CUST_STROKE
    where FCS_ID = #{fcsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyFunCustStroke" >
    <!--@mbggenerated-->
    insert into FUN_CUST_STROKE (FCS_ID, CITY_ID, CUST_ID, 
      STROKE_TYPE, STROKE_OFFER, STROKE_NO, 
      STROKE_TIME, STROKE_MEMO, VALID_FLAG, 
      CREATION_TIME)
    values (#{fcsId,jdbcType=INTEGER}, #{cityId,jdbcType=SMALLINT}, #{custId,jdbcType=INTEGER}, 
      #{strokeType,jdbcType=VARCHAR}, #{strokeOffer,jdbcType=VARCHAR}, #{strokeNo,jdbcType=VARCHAR}, 
      #{strokeTime,jdbcType=TIMESTAMP}, #{strokeMemo,jdbcType=VARCHAR}, #{validFlag,jdbcType=TINYINT}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyFunCustStroke" >
    <!--@mbggenerated-->
    insert into FUN_CUST_STROKE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fcsId != null" >
        FCS_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="strokeType != null" >
        STROKE_TYPE,
      </if>
      <if test="strokeOffer != null" >
        STROKE_OFFER,
      </if>
      <if test="strokeNo != null" >
        STROKE_NO,
      </if>
      <if test="strokeTime != null" >
        STROKE_TIME,
      </if>
      <if test="strokeMemo != null" >
        STROKE_MEMO,
      </if>
      <if test="validFlag != null" >
        VALID_FLAG,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fcsId != null" >
        #{fcsId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=INTEGER},
      </if>
      <if test="strokeType != null" >
        #{strokeType,jdbcType=VARCHAR},
      </if>
      <if test="strokeOffer != null" >
        #{strokeOffer,jdbcType=VARCHAR},
      </if>
      <if test="strokeNo != null" >
        #{strokeNo,jdbcType=VARCHAR},
      </if>
      <if test="strokeTime != null" >
        #{strokeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="strokeMemo != null" >
        #{strokeMemo,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null" >
        #{validFlag,jdbcType=TINYINT},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyFunCustStroke" >
    <!--@mbggenerated-->
    update FUN_CUST_STROKE
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=INTEGER},
      </if>
      <if test="strokeType != null" >
        STROKE_TYPE = #{strokeType,jdbcType=VARCHAR},
      </if>
      <if test="strokeOffer != null" >
        STROKE_OFFER = #{strokeOffer,jdbcType=VARCHAR},
      </if>
      <if test="strokeNo != null" >
        STROKE_NO = #{strokeNo,jdbcType=VARCHAR},
      </if>
      <if test="strokeTime != null" >
        STROKE_TIME = #{strokeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="strokeMemo != null" >
        STROKE_MEMO = #{strokeMemo,jdbcType=VARCHAR},
      </if>
      <if test="validFlag != null" >
        VALID_FLAG = #{validFlag,jdbcType=TINYINT},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FCS_ID = #{fcsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyFunCustStroke" >
    <!--@mbggenerated-->
    update FUN_CUST_STROKE
    set CITY_ID = #{cityId,jdbcType=SMALLINT},
      CUST_ID = #{custId,jdbcType=INTEGER},
      STROKE_TYPE = #{strokeType,jdbcType=VARCHAR},
      STROKE_OFFER = #{strokeOffer,jdbcType=VARCHAR},
      STROKE_NO = #{strokeNo,jdbcType=VARCHAR},
      STROKE_TIME = #{strokeTime,jdbcType=TIMESTAMP},
      STROKE_MEMO = #{strokeMemo,jdbcType=VARCHAR},
      VALID_FLAG = #{validFlag,jdbcType=TINYINT},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where FCS_ID = #{fcsId,jdbcType=INTEGER}
  </update>
</mapper>