<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfFilterMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfFilter" >
    <!--@mbggenerated-->
    <id column="WF_ID" property="wfId" jdbcType="INTEGER" />
    <result column="WF_WORD" property="wfWord" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
    <result column="WF_STATUS" property="wfStatus" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    WF_ID, WF_WORD, CREATE_TIME, OPERATOR_ID, WF_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_FILTER
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from WF_FILTER
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfFilter" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="wfId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_FILTER (WF_WORD, CREATE_TIME, OPERATOR_ID, 
      WF_STATUS)
    values (#{wfWord,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{operatorId,jdbcType=INTEGER}, 
      #{wfStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfFilter" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="wfId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_FILTER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wfWord != null" >
        WF_WORD,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="wfStatus != null" >
        WF_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wfWord != null" >
        #{wfWord,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="wfStatus != null" >
        #{wfStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfFilter" >
    <!--@mbggenerated-->
    update WF_FILTER
    <set >
      <if test="wfWord != null" >
        WF_WORD = #{wfWord,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="wfStatus != null" >
        WF_STATUS = #{wfStatus,jdbcType=TINYINT},
      </if>
    </set>
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfFilter" >
    <!--@mbggenerated-->
    update WF_FILTER
    set WF_WORD = #{wfWord,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      WF_STATUS = #{wfStatus,jdbcType=TINYINT}
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </update>
</mapper>