<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfBonusLogMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfBonusLog" >
    <!--@mbggenerated-->
    <id column="BONUS_ID" property="bonusId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="WX_ID" property="wxId" jdbcType="INTEGER" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="MCH_BILLNO" property="mchBillno" jdbcType="VARCHAR" />
    <result column="BONUS_STATUS" property="bonusStatus" jdbcType="TINYINT" />
    <result column="SEND_TIMES" property="sendTimes" jdbcType="TINYINT" />
    <result column="ACT_TIME" property="actTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    BONUS_ID, ARCHIVE_ID, WX_ID, MONEY, MCH_BILLNO, BONUS_STATUS, SEND_TIMES, ACT_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_BONUS_LOG
    where BONUS_ID = #{bonusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from WF_BONUS_LOG
    where BONUS_ID = #{bonusId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfBonusLog" >
    <!--@mbggenerated-->
    insert into WF_BONUS_LOG (BONUS_ID, ARCHIVE_ID, WX_ID, 
      MONEY, MCH_BILLNO, BONUS_STATUS, 
      SEND_TIMES, ACT_TIME)
    values (#{bonusId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, #{wxId,jdbcType=INTEGER}, 
      #{money,jdbcType=DECIMAL}, #{mchBillno,jdbcType=VARCHAR}, #{bonusStatus,jdbcType=TINYINT}, 
      #{sendTimes,jdbcType=TINYINT}, #{actTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfBonusLog" >
    <!--@mbggenerated-->
    insert into WF_BONUS_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bonusId != null" >
        BONUS_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="wxId != null" >
        WX_ID,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="mchBillno != null" >
        MCH_BILLNO,
      </if>
      <if test="bonusStatus != null" >
        BONUS_STATUS,
      </if>
      <if test="sendTimes != null" >
        SEND_TIMES,
      </if>
      <if test="actTime != null" >
        ACT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bonusId != null" >
        #{bonusId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="wxId != null" >
        #{wxId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="mchBillno != null" >
        #{mchBillno,jdbcType=VARCHAR},
      </if>
      <if test="bonusStatus != null" >
        #{bonusStatus,jdbcType=TINYINT},
      </if>
      <if test="sendTimes != null" >
        #{sendTimes,jdbcType=TINYINT},
      </if>
      <if test="actTime != null" >
        #{actTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfBonusLog" >
    <!--@mbggenerated-->
    update WF_BONUS_LOG
    <set >
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="wxId != null" >
        WX_ID = #{wxId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="mchBillno != null" >
        MCH_BILLNO = #{mchBillno,jdbcType=VARCHAR},
      </if>
      <if test="bonusStatus != null" >
        BONUS_STATUS = #{bonusStatus,jdbcType=TINYINT},
      </if>
      <if test="sendTimes != null" >
        SEND_TIMES = #{sendTimes,jdbcType=TINYINT},
      </if>
      <if test="actTime != null" >
        ACT_TIME = #{actTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BONUS_ID = #{bonusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfBonusLog" >
    <!--@mbggenerated-->
    update WF_BONUS_LOG
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      WX_ID = #{wxId,jdbcType=INTEGER},
      MONEY = #{money,jdbcType=DECIMAL},
      MCH_BILLNO = #{mchBillno,jdbcType=VARCHAR},
      BONUS_STATUS = #{bonusStatus,jdbcType=TINYINT},
      SEND_TIMES = #{sendTimes,jdbcType=TINYINT},
      ACT_TIME = #{actTime,jdbcType=TIMESTAMP}
    where BONUS_ID = #{bonusId,jdbcType=INTEGER}
  </update>
</mapper>