<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyVipQueueMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyVipQueue">
    <!--@mbggenerated-->
    <id column="WF_ID" jdbcType="INTEGER" property="wfId" />
    <result column="CITY_ID" jdbcType="INTEGER" property="cityId" />
    <result column="CASE_ID" jdbcType="INTEGER" property="caseId" />
    <result column="CASE_TYPE" jdbcType="TINYINT" property="caseType" />
    <result column="CASE_SUBJECT" jdbcType="VARCHAR" property="caseSubject" />
    <result column="CASE_DESC" jdbcType="VARCHAR" property="caseDesc" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="JIEDAN_COUNT" jdbcType="TINYINT" property="jiedanCount" />
    <result column="WF_REWARD" jdbcType="INTEGER" property="wfReward" />
    <result column="WF_FEE" jdbcType="VARCHAR" property="wfFee" />
    <result column="WF_STATUS" jdbcType="INTEGER" property="wfStatus" />
    <result column="WX_ID" jdbcType="INTEGER" property="wxId" />
    <result column="WF_RELATE_ID" jdbcType="INTEGER" property="wfRelateId" />
    <result column="WF_SEX" jdbcType="TINYINT" property="wfSex" />
    <result column="WF_REGION" jdbcType="INTEGER" property="wfRegion" />
    <result column="WF_SECTION" jdbcType="INTEGER" property="wfSection" />
    <result column="WF_FIX" jdbcType="INTEGER" property="wfFix" />
    <result column="WF_RECOMED" jdbcType="TINYINT" property="wfRecomed" />
    <result column="IS_VIP" jdbcType="TINYINT" property="isVip" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ARCHIVE_ID" jdbcType="VARCHAR" property="archiveId" />
    <result column="LOCK_NUM" jdbcType="TINYINT" property="lockNum" />
    <result column="LOTTERY_TIMES" jdbcType="TINYINT" property="lotteryTimes" />
    <result column="REMAIN_TIMES" jdbcType="TINYINT" property="remainTimes" />
    <result column="WINNING_TIMES" jdbcType="TINYINT" property="winningTimes" />
    <result column="ISHEZU" jdbcType="INTEGER" property="ishezu" />
    <result column="SOURCE_TYPE" jdbcType="TINYINT" property="sourceType" />
    <result column="WF_RELATE_SOURCE" jdbcType="TINYINT" property="wfRelateSource" />
    <result column="HOUSE_USEAGE" jdbcType="VARCHAR" property="houseUseage" />
    <result column="YOUYOU_USERNAME" jdbcType="VARCHAR" property="youyouUsername" />
    <result column="ONLY_MD5_STR" jdbcType="VARCHAR" property="onlyMd5Str" />
    <result column="REWARD_TYPE" jdbcType="TINYINT" property="rewardType" />
    <result column="REWARD_MONEY" jdbcType="DECIMAL" property="rewardMoney" />
    <result column="RECEIVE_TIME" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="CRM_USER_ID" jdbcType="INTEGER" property="crmUserId" />
    <result column="DOWN_REASON" jdbcType="VARCHAR" property="downReason" />
    <result column="OPERATOR_ID" jdbcType="INTEGER" property="operatorId" />
    <result column="DOWN_TIME" jdbcType="TIMESTAMP" property="downTime" />
    <result column="TO_SEND" jdbcType="TINYINT" property="toSend" />
    <result column="JIEDAN_TOTAL" jdbcType="INTEGER" property="jiedanTotal" />
    <result column="PUSH_REWARD_TIME" jdbcType="TIMESTAMP" property="pushRewardTime" />
    <result column="PUSH_NUM" jdbcType="INTEGER" property="pushNum" />
    <result column="SEND_MORE_TIME" jdbcType="TIMESTAMP" property="sendMoreTime" />
    <result column="SHARE_ID" jdbcType="INTEGER" property="shareId" />
    <result column="SHOW_LIST" jdbcType="TINYINT" property="showList" />
    <result column="SYNC_UNION_DATA" jdbcType="TINYINT" property="syncUnionData" />
    <result column="D_GR_ID" jdbcType="INTEGER" property="dGrId" />
    <result column="ERP_COMP_ID" jdbcType="INTEGER" property="erpCompId" />
    <result column="C_PLATE_TYPE" jdbcType="TINYINT" property="cPlateType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    WF_ID, CITY_ID, CASE_ID, CASE_TYPE, CASE_SUBJECT, CASE_DESC, CREATION_TIME, JIEDAN_COUNT, 
    WF_REWARD, WF_FEE, WF_STATUS, WX_ID, WF_RELATE_ID, WF_SEX, WF_REGION, WF_SECTION, 
    WF_FIX, WF_RECOMED, IS_VIP, UPDATE_TIME, ARCHIVE_ID, LOCK_NUM, LOTTERY_TIMES, REMAIN_TIMES, 
    WINNING_TIMES, ISHEZU, SOURCE_TYPE, WF_RELATE_SOURCE, HOUSE_USEAGE, YOUYOU_USERNAME, 
    ONLY_MD5_STR, REWARD_TYPE, REWARD_MONEY, RECEIVE_TIME, CRM_USER_ID, DOWN_REASON, 
    OPERATOR_ID, DOWN_TIME, TO_SEND, JIEDAN_TOTAL, PUSH_REWARD_TIME, PUSH_NUM, SEND_MORE_TIME, 
    SHARE_ID, SHOW_LIST, SYNC_UNION_DATA, D_GR_ID, ERP_COMP_ID, C_PLATE_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from VIP_QUEUE
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from VIP_QUEUE
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyVipQueue">
    <!--@mbggenerated-->
    <selectKey keyProperty="wfId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into VIP_QUEUE (CITY_ID, CASE_ID, CASE_TYPE, 
      CASE_SUBJECT, CASE_DESC, CREATION_TIME, 
      JIEDAN_COUNT, WF_REWARD, WF_FEE, 
      WF_STATUS, WX_ID, WF_RELATE_ID, 
      WF_SEX, WF_REGION, WF_SECTION, 
      WF_FIX, WF_RECOMED, IS_VIP, 
      UPDATE_TIME, ARCHIVE_ID, LOCK_NUM, 
      LOTTERY_TIMES, REMAIN_TIMES, WINNING_TIMES, 
      ISHEZU, SOURCE_TYPE, WF_RELATE_SOURCE, 
      HOUSE_USEAGE, YOUYOU_USERNAME, ONLY_MD5_STR, 
      REWARD_TYPE, REWARD_MONEY, RECEIVE_TIME, 
      CRM_USER_ID, DOWN_REASON, OPERATOR_ID, 
      DOWN_TIME, TO_SEND, JIEDAN_TOTAL, 
      PUSH_REWARD_TIME, PUSH_NUM, SEND_MORE_TIME, 
      SHARE_ID, SHOW_LIST, SYNC_UNION_DATA, 
      D_GR_ID, ERP_COMP_ID, C_PLATE_TYPE
      )
    values (#{cityId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{caseSubject,jdbcType=VARCHAR}, #{caseDesc,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{jiedanCount,jdbcType=TINYINT}, #{wfReward,jdbcType=INTEGER}, #{wfFee,jdbcType=VARCHAR}, 
      #{wfStatus,jdbcType=INTEGER}, #{wxId,jdbcType=INTEGER}, #{wfRelateId,jdbcType=INTEGER}, 
      #{wfSex,jdbcType=TINYINT}, #{wfRegion,jdbcType=INTEGER}, #{wfSection,jdbcType=INTEGER}, 
      #{wfFix,jdbcType=INTEGER}, #{wfRecomed,jdbcType=TINYINT}, #{isVip,jdbcType=TINYINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{archiveId,jdbcType=VARCHAR}, #{lockNum,jdbcType=TINYINT}, 
      #{lotteryTimes,jdbcType=TINYINT}, #{remainTimes,jdbcType=TINYINT}, #{winningTimes,jdbcType=TINYINT}, 
      #{ishezu,jdbcType=INTEGER}, #{sourceType,jdbcType=TINYINT}, #{wfRelateSource,jdbcType=TINYINT}, 
      #{houseUseage,jdbcType=VARCHAR}, #{youyouUsername,jdbcType=VARCHAR}, #{onlyMd5Str,jdbcType=VARCHAR}, 
      #{rewardType,jdbcType=TINYINT}, #{rewardMoney,jdbcType=DECIMAL}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{crmUserId,jdbcType=INTEGER}, #{downReason,jdbcType=VARCHAR}, #{operatorId,jdbcType=INTEGER}, 
      #{downTime,jdbcType=TIMESTAMP}, #{toSend,jdbcType=TINYINT}, #{jiedanTotal,jdbcType=INTEGER}, 
      #{pushRewardTime,jdbcType=TIMESTAMP}, #{pushNum,jdbcType=INTEGER}, #{sendMoreTime,jdbcType=TIMESTAMP}, 
      #{shareId,jdbcType=INTEGER}, #{showList,jdbcType=TINYINT}, #{syncUnionData,jdbcType=TINYINT}, 
      #{dGrId,jdbcType=INTEGER}, #{erpCompId,jdbcType=INTEGER}, #{cPlateType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyVipQueue">
    <!--@mbggenerated-->
    <selectKey keyProperty="wfId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into VIP_QUEUE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="caseId != null">
        CASE_ID,
      </if>
      <if test="caseType != null">
        CASE_TYPE,
      </if>
      <if test="caseSubject != null">
        CASE_SUBJECT,
      </if>
      <if test="caseDesc != null">
        CASE_DESC,
      </if>
      <if test="creationTime != null">
        CREATION_TIME,
      </if>
      <if test="jiedanCount != null">
        JIEDAN_COUNT,
      </if>
      <if test="wfReward != null">
        WF_REWARD,
      </if>
      <if test="wfFee != null">
        WF_FEE,
      </if>
      <if test="wfStatus != null">
        WF_STATUS,
      </if>
      <if test="wxId != null">
        WX_ID,
      </if>
      <if test="wfRelateId != null">
        WF_RELATE_ID,
      </if>
      <if test="wfSex != null">
        WF_SEX,
      </if>
      <if test="wfRegion != null">
        WF_REGION,
      </if>
      <if test="wfSection != null">
        WF_SECTION,
      </if>
      <if test="wfFix != null">
        WF_FIX,
      </if>
      <if test="wfRecomed != null">
        WF_RECOMED,
      </if>
      <if test="isVip != null">
        IS_VIP,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="lockNum != null">
        LOCK_NUM,
      </if>
      <if test="lotteryTimes != null">
        LOTTERY_TIMES,
      </if>
      <if test="remainTimes != null">
        REMAIN_TIMES,
      </if>
      <if test="winningTimes != null">
        WINNING_TIMES,
      </if>
      <if test="ishezu != null">
        ISHEZU,
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE,
      </if>
      <if test="wfRelateSource != null">
        WF_RELATE_SOURCE,
      </if>
      <if test="houseUseage != null">
        HOUSE_USEAGE,
      </if>
      <if test="youyouUsername != null">
        YOUYOU_USERNAME,
      </if>
      <if test="onlyMd5Str != null">
        ONLY_MD5_STR,
      </if>
      <if test="rewardType != null">
        REWARD_TYPE,
      </if>
      <if test="rewardMoney != null">
        REWARD_MONEY,
      </if>
      <if test="receiveTime != null">
        RECEIVE_TIME,
      </if>
      <if test="crmUserId != null">
        CRM_USER_ID,
      </if>
      <if test="downReason != null">
        DOWN_REASON,
      </if>
      <if test="operatorId != null">
        OPERATOR_ID,
      </if>
      <if test="downTime != null">
        DOWN_TIME,
      </if>
      <if test="toSend != null">
        TO_SEND,
      </if>
      <if test="jiedanTotal != null">
        JIEDAN_TOTAL,
      </if>
      <if test="pushRewardTime != null">
        PUSH_REWARD_TIME,
      </if>
      <if test="pushNum != null">
        PUSH_NUM,
      </if>
      <if test="sendMoreTime != null">
        SEND_MORE_TIME,
      </if>
      <if test="shareId != null">
        SHARE_ID,
      </if>
      <if test="showList != null">
        SHOW_LIST,
      </if>
      <if test="syncUnionData != null">
        SYNC_UNION_DATA,
      </if>
      <if test="dGrId != null">
        D_GR_ID,
      </if>
      <if test="erpCompId != null">
        ERP_COMP_ID,
      </if>
      <if test="cPlateType != null">
        C_PLATE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null">
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseSubject != null">
        #{caseSubject,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null">
        #{caseDesc,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jiedanCount != null">
        #{jiedanCount,jdbcType=TINYINT},
      </if>
      <if test="wfReward != null">
        #{wfReward,jdbcType=INTEGER},
      </if>
      <if test="wfFee != null">
        #{wfFee,jdbcType=VARCHAR},
      </if>
      <if test="wfStatus != null">
        #{wfStatus,jdbcType=INTEGER},
      </if>
      <if test="wxId != null">
        #{wxId,jdbcType=INTEGER},
      </if>
      <if test="wfRelateId != null">
        #{wfRelateId,jdbcType=INTEGER},
      </if>
      <if test="wfSex != null">
        #{wfSex,jdbcType=TINYINT},
      </if>
      <if test="wfRegion != null">
        #{wfRegion,jdbcType=INTEGER},
      </if>
      <if test="wfSection != null">
        #{wfSection,jdbcType=INTEGER},
      </if>
      <if test="wfFix != null">
        #{wfFix,jdbcType=INTEGER},
      </if>
      <if test="wfRecomed != null">
        #{wfRecomed,jdbcType=TINYINT},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveId != null">
        #{archiveId,jdbcType=VARCHAR},
      </if>
      <if test="lockNum != null">
        #{lockNum,jdbcType=TINYINT},
      </if>
      <if test="lotteryTimes != null">
        #{lotteryTimes,jdbcType=TINYINT},
      </if>
      <if test="remainTimes != null">
        #{remainTimes,jdbcType=TINYINT},
      </if>
      <if test="winningTimes != null">
        #{winningTimes,jdbcType=TINYINT},
      </if>
      <if test="ishezu != null">
        #{ishezu,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="wfRelateSource != null">
        #{wfRelateSource,jdbcType=TINYINT},
      </if>
      <if test="houseUseage != null">
        #{houseUseage,jdbcType=VARCHAR},
      </if>
      <if test="youyouUsername != null">
        #{youyouUsername,jdbcType=VARCHAR},
      </if>
      <if test="onlyMd5Str != null">
        #{onlyMd5Str,jdbcType=VARCHAR},
      </if>
      <if test="rewardType != null">
        #{rewardType,jdbcType=TINYINT},
      </if>
      <if test="rewardMoney != null">
        #{rewardMoney,jdbcType=DECIMAL},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crmUserId != null">
        #{crmUserId,jdbcType=INTEGER},
      </if>
      <if test="downReason != null">
        #{downReason,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="downTime != null">
        #{downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toSend != null">
        #{toSend,jdbcType=TINYINT},
      </if>
      <if test="jiedanTotal != null">
        #{jiedanTotal,jdbcType=INTEGER},
      </if>
      <if test="pushRewardTime != null">
        #{pushRewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushNum != null">
        #{pushNum,jdbcType=INTEGER},
      </if>
      <if test="sendMoreTime != null">
        #{sendMoreTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shareId != null">
        #{shareId,jdbcType=INTEGER},
      </if>
      <if test="showList != null">
        #{showList,jdbcType=TINYINT},
      </if>
      <if test="syncUnionData != null">
        #{syncUnionData,jdbcType=TINYINT},
      </if>
      <if test="dGrId != null">
        #{dGrId,jdbcType=INTEGER},
      </if>
      <if test="erpCompId != null">
        #{erpCompId,jdbcType=INTEGER},
      </if>
      <if test="cPlateType != null">
        #{cPlateType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyVipQueue">
    <!--@mbggenerated-->
    update VIP_QUEUE
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null">
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null">
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="caseSubject != null">
        CASE_SUBJECT = #{caseSubject,jdbcType=VARCHAR},
      </if>
      <if test="caseDesc != null">
        CASE_DESC = #{caseDesc,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="jiedanCount != null">
        JIEDAN_COUNT = #{jiedanCount,jdbcType=TINYINT},
      </if>
      <if test="wfReward != null">
        WF_REWARD = #{wfReward,jdbcType=INTEGER},
      </if>
      <if test="wfFee != null">
        WF_FEE = #{wfFee,jdbcType=VARCHAR},
      </if>
      <if test="wfStatus != null">
        WF_STATUS = #{wfStatus,jdbcType=INTEGER},
      </if>
      <if test="wxId != null">
        WX_ID = #{wxId,jdbcType=INTEGER},
      </if>
      <if test="wfRelateId != null">
        WF_RELATE_ID = #{wfRelateId,jdbcType=INTEGER},
      </if>
      <if test="wfSex != null">
        WF_SEX = #{wfSex,jdbcType=TINYINT},
      </if>
      <if test="wfRegion != null">
        WF_REGION = #{wfRegion,jdbcType=INTEGER},
      </if>
      <if test="wfSection != null">
        WF_SECTION = #{wfSection,jdbcType=INTEGER},
      </if>
      <if test="wfFix != null">
        WF_FIX = #{wfFix,jdbcType=INTEGER},
      </if>
      <if test="wfRecomed != null">
        WF_RECOMED = #{wfRecomed,jdbcType=TINYINT},
      </if>
      <if test="isVip != null">
        IS_VIP = #{isVip,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=VARCHAR},
      </if>
      <if test="lockNum != null">
        LOCK_NUM = #{lockNum,jdbcType=TINYINT},
      </if>
      <if test="lotteryTimes != null">
        LOTTERY_TIMES = #{lotteryTimes,jdbcType=TINYINT},
      </if>
      <if test="remainTimes != null">
        REMAIN_TIMES = #{remainTimes,jdbcType=TINYINT},
      </if>
      <if test="winningTimes != null">
        WINNING_TIMES = #{winningTimes,jdbcType=TINYINT},
      </if>
      <if test="ishezu != null">
        ISHEZU = #{ishezu,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE = #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="wfRelateSource != null">
        WF_RELATE_SOURCE = #{wfRelateSource,jdbcType=TINYINT},
      </if>
      <if test="houseUseage != null">
        HOUSE_USEAGE = #{houseUseage,jdbcType=VARCHAR},
      </if>
      <if test="youyouUsername != null">
        YOUYOU_USERNAME = #{youyouUsername,jdbcType=VARCHAR},
      </if>
      <if test="onlyMd5Str != null">
        ONLY_MD5_STR = #{onlyMd5Str,jdbcType=VARCHAR},
      </if>
      <if test="rewardType != null">
        REWARD_TYPE = #{rewardType,jdbcType=TINYINT},
      </if>
      <if test="rewardMoney != null">
        REWARD_MONEY = #{rewardMoney,jdbcType=DECIMAL},
      </if>
      <if test="receiveTime != null">
        RECEIVE_TIME = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crmUserId != null">
        CRM_USER_ID = #{crmUserId,jdbcType=INTEGER},
      </if>
      <if test="downReason != null">
        DOWN_REASON = #{downReason,jdbcType=VARCHAR},
      </if>
      <if test="operatorId != null">
        OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="downTime != null">
        DOWN_TIME = #{downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="toSend != null">
        TO_SEND = #{toSend,jdbcType=TINYINT},
      </if>
      <if test="jiedanTotal != null">
        JIEDAN_TOTAL = #{jiedanTotal,jdbcType=INTEGER},
      </if>
      <if test="pushRewardTime != null">
        PUSH_REWARD_TIME = #{pushRewardTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushNum != null">
        PUSH_NUM = #{pushNum,jdbcType=INTEGER},
      </if>
      <if test="sendMoreTime != null">
        SEND_MORE_TIME = #{sendMoreTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shareId != null">
        SHARE_ID = #{shareId,jdbcType=INTEGER},
      </if>
      <if test="showList != null">
        SHOW_LIST = #{showList,jdbcType=TINYINT},
      </if>
      <if test="syncUnionData != null">
        SYNC_UNION_DATA = #{syncUnionData,jdbcType=TINYINT},
      </if>
      <if test="dGrId != null">
        D_GR_ID = #{dGrId,jdbcType=INTEGER},
      </if>
      <if test="erpCompId != null">
        ERP_COMP_ID = #{erpCompId,jdbcType=INTEGER},
      </if>
      <if test="cPlateType != null">
        C_PLATE_TYPE = #{cPlateType,jdbcType=TINYINT},
      </if>
    </set>
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyVipQueue">
    <!--@mbggenerated-->
    update VIP_QUEUE
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      CASE_SUBJECT = #{caseSubject,jdbcType=VARCHAR},
      CASE_DESC = #{caseDesc,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      JIEDAN_COUNT = #{jiedanCount,jdbcType=TINYINT},
      WF_REWARD = #{wfReward,jdbcType=INTEGER},
      WF_FEE = #{wfFee,jdbcType=VARCHAR},
      WF_STATUS = #{wfStatus,jdbcType=INTEGER},
      WX_ID = #{wxId,jdbcType=INTEGER},
      WF_RELATE_ID = #{wfRelateId,jdbcType=INTEGER},
      WF_SEX = #{wfSex,jdbcType=TINYINT},
      WF_REGION = #{wfRegion,jdbcType=INTEGER},
      WF_SECTION = #{wfSection,jdbcType=INTEGER},
      WF_FIX = #{wfFix,jdbcType=INTEGER},
      WF_RECOMED = #{wfRecomed,jdbcType=TINYINT},
      IS_VIP = #{isVip,jdbcType=TINYINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ARCHIVE_ID = #{archiveId,jdbcType=VARCHAR},
      LOCK_NUM = #{lockNum,jdbcType=TINYINT},
      LOTTERY_TIMES = #{lotteryTimes,jdbcType=TINYINT},
      REMAIN_TIMES = #{remainTimes,jdbcType=TINYINT},
      WINNING_TIMES = #{winningTimes,jdbcType=TINYINT},
      ISHEZU = #{ishezu,jdbcType=INTEGER},
      SOURCE_TYPE = #{sourceType,jdbcType=TINYINT},
      WF_RELATE_SOURCE = #{wfRelateSource,jdbcType=TINYINT},
      HOUSE_USEAGE = #{houseUseage,jdbcType=VARCHAR},
      YOUYOU_USERNAME = #{youyouUsername,jdbcType=VARCHAR},
      ONLY_MD5_STR = #{onlyMd5Str,jdbcType=VARCHAR},
      REWARD_TYPE = #{rewardType,jdbcType=TINYINT},
      REWARD_MONEY = #{rewardMoney,jdbcType=DECIMAL},
      RECEIVE_TIME = #{receiveTime,jdbcType=TIMESTAMP},
      CRM_USER_ID = #{crmUserId,jdbcType=INTEGER},
      DOWN_REASON = #{downReason,jdbcType=VARCHAR},
      OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      DOWN_TIME = #{downTime,jdbcType=TIMESTAMP},
      TO_SEND = #{toSend,jdbcType=TINYINT},
      JIEDAN_TOTAL = #{jiedanTotal,jdbcType=INTEGER},
      PUSH_REWARD_TIME = #{pushRewardTime,jdbcType=TIMESTAMP},
      PUSH_NUM = #{pushNum,jdbcType=INTEGER},
      SEND_MORE_TIME = #{sendMoreTime,jdbcType=TIMESTAMP},
      SHARE_ID = #{shareId,jdbcType=INTEGER},
      SHOW_LIST = #{showList,jdbcType=TINYINT},
      SYNC_UNION_DATA = #{syncUnionData,jdbcType=TINYINT},
      D_GR_ID = #{dGrId,jdbcType=INTEGER},
      ERP_COMP_ID = #{erpCompId,jdbcType=INTEGER},
      C_PLATE_TYPE = #{cPlateType,jdbcType=TINYINT}
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </update>
  <!-- 
  <select id="queryVipQueueList" resultMap="BaseResultMap" parameterType="com.myfun.repository.agencydb.po.AgencyVipQueue" >
    select 
    	<include refid="Base_Column_List" />
   	from VIP_QUEUE where CITY_ID = #{cityId,jdbcType=INTEGER} and WX_ID = #{wxId,jdbcType=INTEGER}
   	order by WF_ID desc
  </select> -->
  
  <!-- 测试数据 -->
  <select id="queryVipQueueList" parameterType="com.myfun.repository.agencydb.po.AgencyVipQueue" resultMap="BaseResultMap">
    select 
    	<include refid="Base_Column_List" />
   	from VIP_QUEUE where WF_ID IN (17147,17146,17113,17098) order by WF_ID desc
  </select>

  <select id="getVipQueueList" resultType="com.myfun.repository.agencydb.vo.EntrustVO">
    select WF_ID AS wfId, CASE_ID AS caseId, CASE_TYPE AS caseType, CASE_SUBJECT AS caseSubject, CASE_DESC AS caseDesc,
    CREATION_TIME AS creationTime, IS_VIP AS isVip, YOUYOU_USERNAME AS youyouUsername, WF_STATUS AS wfStatus, WX_ID AS wxId
    from VIP_QUEUE
    WHERE CITY_ID = #{param.cityId} AND ERP_COMP_ID = #{param.compId}
    <if test="param.caseType != null and '' != param.caseType">
      AND CASE_TYPE=#{param.caseType}
    </if>
    <if test="param.startTime != null and '' != param.startTime">
      AND CREATION_TIME &gt;= #{param.startTime}
    </if>
    <if test="param.endTime != null and '' != param.endTime">
      AND CREATION_TIME &lt; #{param.endTime}
    </if>
    <if test="param.isVip != null and '' != param.isVip">
      AND IS_VIP = #{param.isVip}
    </if>
    ORDER BY CREATION_TIME DESC
  </select>

</mapper>