<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencySeeVipdataRecordMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencySeeVipdataRecord" >
    <!--@mbggenerated-->
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="CASE_TYPE" property="caseType" jdbcType="VARCHAR" />
    <result column="CASE_ID" property="caseId" jdbcType="INTEGER" />
    <result column="SEE_TIME" property="seeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencySeeVipdataRecord" >
    <!--@mbggenerated-->
    insert into SEE_VIPDATA_RECORD (COMP_ID, DEPT_ID, ARCHIVE_ID, 
      CASE_TYPE, CASE_ID, SEE_TIME
      )
    values (#{compId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, 
      #{caseType,jdbcType=VARCHAR}, #{caseId,jdbcType=INTEGER}, #{seeTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencySeeVipdataRecord" >
    <!--@mbggenerated-->
    insert into SEE_VIPDATA_RECORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="caseId != null" >
        CASE_ID,
      </if>
      <if test="seeTime != null" >
        SEE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="seeTime != null" >
        #{seeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>