<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyMyBrokerStatusMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyMyBrokerStatus" >
    <!--@mbggenerated-->
    <id column="my_status_id" property="myStatusId" jdbcType="INTEGER" />
    <result column="broker_id" property="brokerId" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="INTEGER" />
    <result column="cst_status" property="cstStatus" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    my_status_id, broker_id, check_status, cst_status, date, reason
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from MY_BROKER_STATUS
    where my_status_id = #{myStatusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from MY_BROKER_STATUS
    where my_status_id = #{myStatusId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyMyBrokerStatus" >
    <!--@mbggenerated-->
    insert into MY_BROKER_STATUS (my_status_id, broker_id, check_status, 
      cst_status, date, reason
      )
    values (#{myStatusId,jdbcType=INTEGER}, #{brokerId,jdbcType=VARCHAR}, #{checkStatus,jdbcType=INTEGER}, 
      #{cstStatus,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBrokerStatus" >
    <!--@mbggenerated-->
    insert into MY_BROKER_STATUS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="myStatusId != null" >
        my_status_id,
      </if>
      <if test="brokerId != null" >
        broker_id,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="cstStatus != null" >
        cst_status,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="reason != null" >
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="myStatusId != null" >
        #{myStatusId,jdbcType=INTEGER},
      </if>
      <if test="brokerId != null" >
        #{brokerId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="cstStatus != null" >
        #{cstStatus,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBrokerStatus" >
    <!--@mbggenerated-->
    update MY_BROKER_STATUS
    <set >
      <if test="brokerId != null" >
        broker_id = #{brokerId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=INTEGER},
      </if>
      <if test="cstStatus != null" >
        cst_status = #{cstStatus,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where my_status_id = #{myStatusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyMyBrokerStatus" >
    <!--@mbggenerated-->
    update MY_BROKER_STATUS
    set broker_id = #{brokerId,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=INTEGER},
      cst_status = #{cstStatus,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      reason = #{reason,jdbcType=VARCHAR}
    where my_status_id = #{myStatusId,jdbcType=INTEGER}
  </update>
</mapper>