<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfClientTradingLogsMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfClientTradingLogs" >
    <!--@mbggenerated-->
    <id column="TRADING_LOG_ID" property="tradingLogId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="WX_ID" property="wxId" jdbcType="INTEGER" />
    <result column="WX_NICKNAME" property="wxNickname" jdbcType="VARCHAR" />
    <result column="WX_USERNAME" property="wxUsername" jdbcType="VARCHAR" />
    <result column="WX_MOBILE" property="wxMobile" jdbcType="CHAR" />
    <result column="TRADING_TYPE" property="tradingType" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DOUBLE" />
    <result column="DIGEST" property="digest" jdbcType="VARCHAR" />
    <result column="EXT_PARAM" property="extParam" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    TRADING_LOG_ID, CITY_ID, WX_ID, WX_NICKNAME, WX_USERNAME, WX_MOBILE, TRADING_TYPE, 
    AMOUNT, DIGEST, EXT_PARAM, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_CLIENT_TRADING_LOGS
    where TRADING_LOG_ID = #{tradingLogId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from WF_CLIENT_TRADING_LOGS
    where TRADING_LOG_ID = #{tradingLogId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfClientTradingLogs" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="tradingLogId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_CLIENT_TRADING_LOGS (CITY_ID, WX_ID, WX_NICKNAME, 
      WX_USERNAME, WX_MOBILE, TRADING_TYPE, 
      AMOUNT, DIGEST, EXT_PARAM, 
      CREATE_TIME)
    values (#{cityId,jdbcType=INTEGER}, #{wxId,jdbcType=INTEGER}, #{wxNickname,jdbcType=VARCHAR}, 
      #{wxUsername,jdbcType=VARCHAR}, #{wxMobile,jdbcType=CHAR}, #{tradingType,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DOUBLE}, #{digest,jdbcType=VARCHAR}, #{extParam,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfClientTradingLogs" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="tradingLogId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_CLIENT_TRADING_LOGS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="wxId != null" >
        WX_ID,
      </if>
      <if test="wxNickname != null" >
        WX_NICKNAME,
      </if>
      <if test="wxUsername != null" >
        WX_USERNAME,
      </if>
      <if test="wxMobile != null" >
        WX_MOBILE,
      </if>
      <if test="tradingType != null" >
        TRADING_TYPE,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="digest != null" >
        DIGEST,
      </if>
      <if test="extParam != null" >
        EXT_PARAM,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="wxId != null" >
        #{wxId,jdbcType=INTEGER},
      </if>
      <if test="wxNickname != null" >
        #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxUsername != null" >
        #{wxUsername,jdbcType=VARCHAR},
      </if>
      <if test="wxMobile != null" >
        #{wxMobile,jdbcType=CHAR},
      </if>
      <if test="tradingType != null" >
        #{tradingType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="extParam != null" >
        #{extParam,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfClientTradingLogs" >
    <!--@mbggenerated-->
    update WF_CLIENT_TRADING_LOGS
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="wxId != null" >
        WX_ID = #{wxId,jdbcType=INTEGER},
      </if>
      <if test="wxNickname != null" >
        WX_NICKNAME = #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxUsername != null" >
        WX_USERNAME = #{wxUsername,jdbcType=VARCHAR},
      </if>
      <if test="wxMobile != null" >
        WX_MOBILE = #{wxMobile,jdbcType=CHAR},
      </if>
      <if test="tradingType != null" >
        TRADING_TYPE = #{tradingType,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="digest != null" >
        DIGEST = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="extParam != null" >
        EXT_PARAM = #{extParam,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TRADING_LOG_ID = #{tradingLogId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfClientTradingLogs" >
    <!--@mbggenerated-->
    update WF_CLIENT_TRADING_LOGS
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      WX_ID = #{wxId,jdbcType=INTEGER},
      WX_NICKNAME = #{wxNickname,jdbcType=VARCHAR},
      WX_USERNAME = #{wxUsername,jdbcType=VARCHAR},
      WX_MOBILE = #{wxMobile,jdbcType=CHAR},
      TRADING_TYPE = #{tradingType,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DOUBLE},
      DIGEST = #{digest,jdbcType=VARCHAR},
      EXT_PARAM = #{extParam,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where TRADING_LOG_ID = #{tradingLogId,jdbcType=INTEGER}
  </update>
</mapper>