<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyMyBuildingInfoMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyMyBuildingInfo" >
    <!--@mbggenerated-->
    <id column="my_id" property="myId" jdbcType="INTEGER" />
    <result column="avg_price" property="avgPrice" jdbcType="VARCHAR" />
    <result column="brokerage_count" property="brokerageCount" jdbcType="INTEGER" />
    <result column="building_id" property="buildingId" jdbcType="VARCHAR" />
    <result column="check_status" property="checkStatus" jdbcType="VARCHAR" />
    <result column="check_time" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="check_user" property="checkUser" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="cst_confirm_mode" property="cstConfirmMode" jdbcType="INTEGER" />
    <result column="decorate" property="decorate" jdbcType="VARCHAR" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="developers" property="developers" jdbcType="VARCHAR" />
    <result column="enddate" property="enddate" jdbcType="VARCHAR" />
    <result column="green_rate" property="greenRate" jdbcType="VARCHAR" />
    <result column="identification_chips_bonus" property="identificationChipsBonus" jdbcType="DOUBLE" />
    <result column="jy_brokerage_condition" property="jyBrokerageCondition" jdbcType="INTEGER" />
    <result column="look_bonus" property="lookBonus" jdbcType="DOUBLE" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parking_number" property="parkingNumber" jdbcType="INTEGER" />
    <result column="plot_radio" property="plotRadio" jdbcType="NUMERIC" />
    <result column="preferential" property="preferential" jdbcType="VARCHAR" />
    <result column="property_company" property="propertyCompany" jdbcType="VARCHAR" />
    <result column="property_fee" property="propertyFee" jdbcType="VARCHAR" />
    <result column="property_type" property="propertyType" jdbcType="VARCHAR" />
    <result column="region_code" property="regionCode" jdbcType="INTEGER" />
    <result column="service_admin_name" property="serviceAdminName" jdbcType="VARCHAR" />
    <result column="service_admin_tel" property="serviceAdminTel" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="open_date" property="openDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.myfun.repository.agencydb.po.AgencyMyBuildingInfoWithBLOBs" extends="BaseResultMap" >
    <!--@mbggenerated-->
    <result column="cooperation_rules" property="cooperationRules" jdbcType="CLOB" />
    <result column="selling_points" property="sellingPoints" jdbcType="CLOB" />
    <result column="support" property="support" jdbcType="CLOB" />
    <result column="talk_skills" property="talkSkills" jdbcType="CLOB" />
    <result column="target_customer" property="targetCustomer" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    my_id, avg_price, brokerage_count, building_id, check_status, check_time, check_user, 
    creation_time, cst_confirm_mode, decorate, detail_address, developers, enddate, green_rate, 
    identification_chips_bonus, jy_brokerage_condition, look_bonus, name, parking_number, 
    plot_radio, preferential, property_company, property_fee, property_type, region_code, 
    service_admin_name, service_admin_tel, status, type, open_date
  </sql>
  <sql id="Blob_Column_List" >
    <!--@mbggenerated-->
    cooperation_rules, selling_points, support, talk_skills, target_customer
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MY_BUILDING_INFO
    where my_id = #{myId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from MY_BUILDING_INFO
    where my_id = #{myId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingInfoWithBLOBs" >
    <!--@mbggenerated-->
    insert into MY_BUILDING_INFO (my_id, avg_price, brokerage_count, 
      building_id, check_status, check_time, 
      check_user, creation_time, cst_confirm_mode, 
      decorate, detail_address, developers, 
      enddate, green_rate, identification_chips_bonus, 
      jy_brokerage_condition, look_bonus, name, 
      parking_number, plot_radio, preferential, 
      property_company, property_fee, property_type, 
      region_code, service_admin_name, service_admin_tel, 
      status, type, open_date, 
      cooperation_rules, selling_points, support, 
      talk_skills, target_customer)
    values (#{myId,jdbcType=INTEGER}, #{avgPrice,jdbcType=VARCHAR}, #{brokerageCount,jdbcType=INTEGER}, 
      #{buildingId,jdbcType=VARCHAR}, #{checkStatus,jdbcType=VARCHAR}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{checkUser,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, #{cstConfirmMode,jdbcType=INTEGER}, 
      #{decorate,jdbcType=VARCHAR}, #{detailAddress,jdbcType=VARCHAR}, #{developers,jdbcType=VARCHAR}, 
      #{enddate,jdbcType=VARCHAR}, #{greenRate,jdbcType=VARCHAR}, #{identificationChipsBonus,jdbcType=DOUBLE}, 
      #{jyBrokerageCondition,jdbcType=INTEGER}, #{lookBonus,jdbcType=DOUBLE}, #{name,jdbcType=VARCHAR}, 
      #{parkingNumber,jdbcType=INTEGER}, #{plotRadio,jdbcType=NUMERIC}, #{preferential,jdbcType=VARCHAR}, 
      #{propertyCompany,jdbcType=VARCHAR}, #{propertyFee,jdbcType=VARCHAR}, #{propertyType,jdbcType=VARCHAR}, 
      #{regionCode,jdbcType=INTEGER}, #{serviceAdminName,jdbcType=VARCHAR}, #{serviceAdminTel,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{openDate,jdbcType=TIMESTAMP}, 
      #{cooperationRules,jdbcType=CLOB}, #{sellingPoints,jdbcType=CLOB}, #{support,jdbcType=CLOB}, 
      #{talkSkills,jdbcType=CLOB}, #{targetCustomer,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingInfoWithBLOBs" >
    <!--@mbggenerated-->
    insert into MY_BUILDING_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="myId != null" >
        my_id,
      </if>
      <if test="avgPrice != null" >
        avg_price,
      </if>
      <if test="brokerageCount != null" >
        brokerage_count,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="checkStatus != null" >
        check_status,
      </if>
      <if test="checkTime != null" >
        check_time,
      </if>
      <if test="checkUser != null" >
        check_user,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="cstConfirmMode != null" >
        cst_confirm_mode,
      </if>
      <if test="decorate != null" >
        decorate,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="developers != null" >
        developers,
      </if>
      <if test="enddate != null" >
        enddate,
      </if>
      <if test="greenRate != null" >
        green_rate,
      </if>
      <if test="identificationChipsBonus != null" >
        identification_chips_bonus,
      </if>
      <if test="jyBrokerageCondition != null" >
        jy_brokerage_condition,
      </if>
      <if test="lookBonus != null" >
        look_bonus,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parkingNumber != null" >
        parking_number,
      </if>
      <if test="plotRadio != null" >
        plot_radio,
      </if>
      <if test="preferential != null" >
        preferential,
      </if>
      <if test="propertyCompany != null" >
        property_company,
      </if>
      <if test="propertyFee != null" >
        property_fee,
      </if>
      <if test="propertyType != null" >
        property_type,
      </if>
      <if test="regionCode != null" >
        region_code,
      </if>
      <if test="serviceAdminName != null" >
        service_admin_name,
      </if>
      <if test="serviceAdminTel != null" >
        service_admin_tel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="openDate != null" >
        open_date,
      </if>
      <if test="cooperationRules != null" >
        cooperation_rules,
      </if>
      <if test="sellingPoints != null" >
        selling_points,
      </if>
      <if test="support != null" >
        support,
      </if>
      <if test="talkSkills != null" >
        talk_skills,
      </if>
      <if test="targetCustomer != null" >
        target_customer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="myId != null" >
        #{myId,jdbcType=INTEGER},
      </if>
      <if test="avgPrice != null" >
        #{avgPrice,jdbcType=VARCHAR},
      </if>
      <if test="brokerageCount != null" >
        #{brokerageCount,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUser != null" >
        #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cstConfirmMode != null" >
        #{cstConfirmMode,jdbcType=INTEGER},
      </if>
      <if test="decorate != null" >
        #{decorate,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="developers != null" >
        #{developers,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="greenRate != null" >
        #{greenRate,jdbcType=VARCHAR},
      </if>
      <if test="identificationChipsBonus != null" >
        #{identificationChipsBonus,jdbcType=DOUBLE},
      </if>
      <if test="jyBrokerageCondition != null" >
        #{jyBrokerageCondition,jdbcType=INTEGER},
      </if>
      <if test="lookBonus != null" >
        #{lookBonus,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parkingNumber != null" >
        #{parkingNumber,jdbcType=INTEGER},
      </if>
      <if test="plotRadio != null" >
        #{plotRadio,jdbcType=NUMERIC},
      </if>
      <if test="preferential != null" >
        #{preferential,jdbcType=VARCHAR},
      </if>
      <if test="propertyCompany != null" >
        #{propertyCompany,jdbcType=VARCHAR},
      </if>
      <if test="propertyFee != null" >
        #{propertyFee,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null" >
        #{propertyType,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=INTEGER},
      </if>
      <if test="serviceAdminName != null" >
        #{serviceAdminName,jdbcType=VARCHAR},
      </if>
      <if test="serviceAdminTel != null" >
        #{serviceAdminTel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null" >
        #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cooperationRules != null" >
        #{cooperationRules,jdbcType=CLOB},
      </if>
      <if test="sellingPoints != null" >
        #{sellingPoints,jdbcType=CLOB},
      </if>
      <if test="support != null" >
        #{support,jdbcType=CLOB},
      </if>
      <if test="talkSkills != null" >
        #{talkSkills,jdbcType=CLOB},
      </if>
      <if test="targetCustomer != null" >
        #{targetCustomer,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingInfoWithBLOBs" >
    <!--@mbggenerated-->
    update MY_BUILDING_INFO
    <set >
      <if test="avgPrice != null" >
        avg_price = #{avgPrice,jdbcType=VARCHAR},
      </if>
      <if test="brokerageCount != null" >
        brokerage_count = #{brokerageCount,jdbcType=INTEGER},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="checkStatus != null" >
        check_status = #{checkStatus,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null" >
        check_time = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkUser != null" >
        check_user = #{checkUser,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cstConfirmMode != null" >
        cst_confirm_mode = #{cstConfirmMode,jdbcType=INTEGER},
      </if>
      <if test="decorate != null" >
        decorate = #{decorate,jdbcType=VARCHAR},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="developers != null" >
        developers = #{developers,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        enddate = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="greenRate != null" >
        green_rate = #{greenRate,jdbcType=VARCHAR},
      </if>
      <if test="identificationChipsBonus != null" >
        identification_chips_bonus = #{identificationChipsBonus,jdbcType=DOUBLE},
      </if>
      <if test="jyBrokerageCondition != null" >
        jy_brokerage_condition = #{jyBrokerageCondition,jdbcType=INTEGER},
      </if>
      <if test="lookBonus != null" >
        look_bonus = #{lookBonus,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parkingNumber != null" >
        parking_number = #{parkingNumber,jdbcType=INTEGER},
      </if>
      <if test="plotRadio != null" >
        plot_radio = #{plotRadio,jdbcType=NUMERIC},
      </if>
      <if test="preferential != null" >
        preferential = #{preferential,jdbcType=VARCHAR},
      </if>
      <if test="propertyCompany != null" >
        property_company = #{propertyCompany,jdbcType=VARCHAR},
      </if>
      <if test="propertyFee != null" >
        property_fee = #{propertyFee,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null" >
        property_type = #{propertyType,jdbcType=VARCHAR},
      </if>
      <if test="regionCode != null" >
        region_code = #{regionCode,jdbcType=INTEGER},
      </if>
      <if test="serviceAdminName != null" >
        service_admin_name = #{serviceAdminName,jdbcType=VARCHAR},
      </if>
      <if test="serviceAdminTel != null" >
        service_admin_tel = #{serviceAdminTel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="openDate != null" >
        open_date = #{openDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cooperationRules != null" >
        cooperation_rules = #{cooperationRules,jdbcType=CLOB},
      </if>
      <if test="sellingPoints != null" >
        selling_points = #{sellingPoints,jdbcType=CLOB},
      </if>
      <if test="support != null" >
        support = #{support,jdbcType=CLOB},
      </if>
      <if test="talkSkills != null" >
        talk_skills = #{talkSkills,jdbcType=CLOB},
      </if>
      <if test="targetCustomer != null" >
        target_customer = #{targetCustomer,jdbcType=CLOB},
      </if>
    </set>
    where my_id = #{myId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingInfoWithBLOBs" >
    <!--@mbggenerated-->
    update MY_BUILDING_INFO
    set avg_price = #{avgPrice,jdbcType=VARCHAR},
      brokerage_count = #{brokerageCount,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_user = #{checkUser,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      cst_confirm_mode = #{cstConfirmMode,jdbcType=INTEGER},
      decorate = #{decorate,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      developers = #{developers,jdbcType=VARCHAR},
      enddate = #{enddate,jdbcType=VARCHAR},
      green_rate = #{greenRate,jdbcType=VARCHAR},
      identification_chips_bonus = #{identificationChipsBonus,jdbcType=DOUBLE},
      jy_brokerage_condition = #{jyBrokerageCondition,jdbcType=INTEGER},
      look_bonus = #{lookBonus,jdbcType=DOUBLE},
      name = #{name,jdbcType=VARCHAR},
      parking_number = #{parkingNumber,jdbcType=INTEGER},
      plot_radio = #{plotRadio,jdbcType=NUMERIC},
      preferential = #{preferential,jdbcType=VARCHAR},
      property_company = #{propertyCompany,jdbcType=VARCHAR},
      property_fee = #{propertyFee,jdbcType=VARCHAR},
      property_type = #{propertyType,jdbcType=VARCHAR},
      region_code = #{regionCode,jdbcType=INTEGER},
      service_admin_name = #{serviceAdminName,jdbcType=VARCHAR},
      service_admin_tel = #{serviceAdminTel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      open_date = #{openDate,jdbcType=TIMESTAMP},
      cooperation_rules = #{cooperationRules,jdbcType=CLOB},
      selling_points = #{sellingPoints,jdbcType=CLOB},
      support = #{support,jdbcType=CLOB},
      talk_skills = #{talkSkills,jdbcType=CLOB},
      target_customer = #{targetCustomer,jdbcType=CLOB}
    where my_id = #{myId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingInfo" >
    <!--@mbggenerated-->
    update MY_BUILDING_INFO
    set avg_price = #{avgPrice,jdbcType=VARCHAR},
      brokerage_count = #{brokerageCount,jdbcType=INTEGER},
      building_id = #{buildingId,jdbcType=VARCHAR},
      check_status = #{checkStatus,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=TIMESTAMP},
      check_user = #{checkUser,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      cst_confirm_mode = #{cstConfirmMode,jdbcType=INTEGER},
      decorate = #{decorate,jdbcType=VARCHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      developers = #{developers,jdbcType=VARCHAR},
      enddate = #{enddate,jdbcType=VARCHAR},
      green_rate = #{greenRate,jdbcType=VARCHAR},
      identification_chips_bonus = #{identificationChipsBonus,jdbcType=DOUBLE},
      jy_brokerage_condition = #{jyBrokerageCondition,jdbcType=INTEGER},
      look_bonus = #{lookBonus,jdbcType=DOUBLE},
      name = #{name,jdbcType=VARCHAR},
      parking_number = #{parkingNumber,jdbcType=INTEGER},
      plot_radio = #{plotRadio,jdbcType=NUMERIC},
      preferential = #{preferential,jdbcType=VARCHAR},
      property_company = #{propertyCompany,jdbcType=VARCHAR},
      property_fee = #{propertyFee,jdbcType=VARCHAR},
      property_type = #{propertyType,jdbcType=VARCHAR},
      region_code = #{regionCode,jdbcType=INTEGER},
      service_admin_name = #{serviceAdminName,jdbcType=VARCHAR},
      service_admin_tel = #{serviceAdminTel,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      open_date = #{openDate,jdbcType=TIMESTAMP}
    where my_id = #{myId,jdbcType=INTEGER}
  </update>
</mapper>