<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyMyBuildingDynamicMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyMyBuildingDynamic" >
    <!--@mbggenerated-->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="building_id" property="buildingId" jdbcType="VARCHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="is_show" property="isShow" jdbcType="INTEGER" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="timestamp" property="timestamp" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.myfun.repository.agencydb.po.AgencyMyBuildingDynamic" extends="BaseResultMap" >
    <!--@mbggenerated-->
    <result column="content" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    id, building_id, creation_time, is_show, label, pic_url, timestamp, title
  </sql>
  <sql id="Blob_Column_List" >
    <!--@mbggenerated-->
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MY_BUILDING_DYNAMIC
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!--@mbggenerated-->
    delete from MY_BUILDING_DYNAMIC
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingDynamic" >
    <!--@mbggenerated-->
    insert into MY_BUILDING_DYNAMIC (id, building_id, creation_time, 
      is_show, label, pic_url, 
      timestamp, title, content
      )
    values (#{id,jdbcType=VARCHAR}, #{buildingId,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{isShow,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{timestamp,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=CLOB}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingDynamic" >
    <!--@mbggenerated-->
    insert into MY_BUILDING_DYNAMIC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="isShow != null" >
        is_show,
      </if>
      <if test="label != null" >
        label,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShow != null" >
        #{isShow,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingDynamic" >
    <!--@mbggenerated-->
    update MY_BUILDING_DYNAMIC
    <set >
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isShow != null" >
        is_show = #{isShow,jdbcType=INTEGER},
      </if>
      <if test="label != null" >
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=CLOB},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingDynamic" >
    <!--@mbggenerated-->
    update MY_BUILDING_DYNAMIC
    set building_id = #{buildingId,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      is_show = #{isShow,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=CLOB}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingDynamic" >
    <!--@mbggenerated-->
    update MY_BUILDING_DYNAMIC
    set building_id = #{buildingId,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      is_show = #{isShow,jdbcType=INTEGER},
      label = #{label,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>