<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfBrokerageMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfBrokerage" >
    <!--@mbggenerated-->
    <id column="BROKERAGE_ID" property="brokerageId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="WX_ID" property="wxId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="CASE_ID" property="caseId" jdbcType="INTEGER" />
    <result column="CASE_TYPE" property="caseType" jdbcType="TINYINT" />
    <result column="RECOM_HOUSE_ID" property="recomHouseId" jdbcType="INTEGER" />
    <result column="OFFLINE_MONEY" property="offlineMoney" jdbcType="DECIMAL" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="WD_WX_TRADE_NO" property="wdWxTradeNo" jdbcType="VARCHAR" />
    <result column="WD_TRADE_NO" property="wdTradeNo" jdbcType="VARCHAR" />
    <result column="WD_TIME" property="wdTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR_ID" property="operatorId" jdbcType="INTEGER" />
    <result column="VERTIFY_TIME" property="vertifyTime" jdbcType="TIMESTAMP" />
    <result column="NOT_PASS_REASON" property="notPassReason" jdbcType="VARCHAR" />
    <result column="TAX_RATE" property="taxRate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    BROKERAGE_ID, ARCHIVE_ID, COMP_ID, USER_NAME, WX_ID, CITY_ID, CASE_ID, CASE_TYPE, 
    RECOM_HOUSE_ID, OFFLINE_MONEY, MONEY, WD_WX_TRADE_NO, WD_TRADE_NO, WD_TIME, STATUS, 
    CREATE_TIME, OPERATOR_ID, VERTIFY_TIME, NOT_PASS_REASON, TAX_RATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_BROKERAGE
    where BROKERAGE_ID = #{brokerageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from WF_BROKERAGE
    where BROKERAGE_ID = #{brokerageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfBrokerage" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="brokerageId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_BROKERAGE (ARCHIVE_ID, COMP_ID, USER_NAME, 
      WX_ID, CITY_ID, CASE_ID, 
      CASE_TYPE, RECOM_HOUSE_ID, OFFLINE_MONEY, 
      MONEY, WD_WX_TRADE_NO, WD_TRADE_NO, 
      WD_TIME, STATUS, CREATE_TIME, 
      OPERATOR_ID, VERTIFY_TIME, NOT_PASS_REASON, 
      TAX_RATE)
    values (#{archiveId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{wxId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, 
      #{caseType,jdbcType=TINYINT}, #{recomHouseId,jdbcType=INTEGER}, #{offlineMoney,jdbcType=DECIMAL}, 
      #{money,jdbcType=DECIMAL}, #{wdWxTradeNo,jdbcType=VARCHAR}, #{wdTradeNo,jdbcType=VARCHAR}, 
      #{wdTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operatorId,jdbcType=INTEGER}, #{vertifyTime,jdbcType=TIMESTAMP}, #{notPassReason,jdbcType=VARCHAR}, 
      #{taxRate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfBrokerage" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="brokerageId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_BROKERAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="wxId != null" >
        WX_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="caseId != null" >
        CASE_ID,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="recomHouseId != null" >
        RECOM_HOUSE_ID,
      </if>
      <if test="offlineMoney != null" >
        OFFLINE_MONEY,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="wdWxTradeNo != null" >
        WD_WX_TRADE_NO,
      </if>
      <if test="wdTradeNo != null" >
        WD_TRADE_NO,
      </if>
      <if test="wdTime != null" >
        WD_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="vertifyTime != null" >
        VERTIFY_TIME,
      </if>
      <if test="notPassReason != null" >
        NOT_PASS_REASON,
      </if>
      <if test="taxRate != null" >
        TAX_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="wxId != null" >
        #{wxId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="recomHouseId != null" >
        #{recomHouseId,jdbcType=INTEGER},
      </if>
      <if test="offlineMoney != null" >
        #{offlineMoney,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="wdWxTradeNo != null" >
        #{wdWxTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="wdTradeNo != null" >
        #{wdTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="wdTime != null" >
        #{wdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="vertifyTime != null" >
        #{vertifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notPassReason != null" >
        #{notPassReason,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        #{taxRate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfBrokerage" >
    <!--@mbggenerated-->
    update WF_BROKERAGE
    <set >
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="wxId != null" >
        WX_ID = #{wxId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="recomHouseId != null" >
        RECOM_HOUSE_ID = #{recomHouseId,jdbcType=INTEGER},
      </if>
      <if test="offlineMoney != null" >
        OFFLINE_MONEY = #{offlineMoney,jdbcType=DECIMAL},
      </if>
      <if test="money != null" >
        MONEY = #{money,jdbcType=DECIMAL},
      </if>
      <if test="wdWxTradeNo != null" >
        WD_WX_TRADE_NO = #{wdWxTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="wdTradeNo != null" >
        WD_TRADE_NO = #{wdTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="wdTime != null" >
        WD_TIME = #{wdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operatorId != null" >
        OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="vertifyTime != null" >
        VERTIFY_TIME = #{vertifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notPassReason != null" >
        NOT_PASS_REASON = #{notPassReason,jdbcType=VARCHAR},
      </if>
      <if test="taxRate != null" >
        TAX_RATE = #{taxRate,jdbcType=VARCHAR},
      </if>
    </set>
    where BROKERAGE_ID = #{brokerageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfBrokerage" >
    <!--@mbggenerated-->
    update WF_BROKERAGE
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      WX_ID = #{wxId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      RECOM_HOUSE_ID = #{recomHouseId,jdbcType=INTEGER},
      OFFLINE_MONEY = #{offlineMoney,jdbcType=DECIMAL},
      MONEY = #{money,jdbcType=DECIMAL},
      WD_WX_TRADE_NO = #{wdWxTradeNo,jdbcType=VARCHAR},
      WD_TRADE_NO = #{wdTradeNo,jdbcType=VARCHAR},
      WD_TIME = #{wdTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPERATOR_ID = #{operatorId,jdbcType=INTEGER},
      VERTIFY_TIME = #{vertifyTime,jdbcType=TIMESTAMP},
      NOT_PASS_REASON = #{notPassReason,jdbcType=VARCHAR},
      TAX_RATE = #{taxRate,jdbcType=VARCHAR}
    where BROKERAGE_ID = #{brokerageId,jdbcType=INTEGER}
  </update>
</mapper>