<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencySpreadDeptMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencySpreadDept" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SPREAD_ID" property="spreadId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="DS_CONNECTION_ID" property="dsConnectionId" jdbcType="VARCHAR" />
    <result column="IS_SEND" property="isSend" jdbcType="INTEGER" />
    <result column="PUSH_TIME" property="pushTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, SPREAD_ID, CITY_ID, DEPT_ID, DEPT_NAME, DS_CONNECTION_ID, IS_SEND, PUSH_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from SPREAD_DEPT
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from SPREAD_DEPT
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencySpreadDept" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into SPREAD_DEPT (SPREAD_ID, CITY_ID, DEPT_ID, 
      DEPT_NAME, DS_CONNECTION_ID, IS_SEND, 
      PUSH_TIME)
    values (#{spreadId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{deptName,jdbcType=VARCHAR}, #{dsConnectionId,jdbcType=VARCHAR}, #{isSend,jdbcType=INTEGER}, 
      #{pushTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencySpreadDept" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into SPREAD_DEPT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spreadId != null" >
        SPREAD_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="dsConnectionId != null" >
        DS_CONNECTION_ID,
      </if>
      <if test="isSend != null" >
        IS_SEND,
      </if>
      <if test="pushTime != null" >
        PUSH_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spreadId != null" >
        #{spreadId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dsConnectionId != null" >
        #{dsConnectionId,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null" >
        #{isSend,jdbcType=INTEGER},
      </if>
      <if test="pushTime != null" >
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencySpreadDept" >
    <!--@mbggenerated-->
    update SPREAD_DEPT
    <set >
      <if test="spreadId != null" >
        SPREAD_ID = #{spreadId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dsConnectionId != null" >
        DS_CONNECTION_ID = #{dsConnectionId,jdbcType=VARCHAR},
      </if>
      <if test="isSend != null" >
        IS_SEND = #{isSend,jdbcType=INTEGER},
      </if>
      <if test="pushTime != null" >
        PUSH_TIME = #{pushTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencySpreadDept" >
    <!--@mbggenerated-->
    update SPREAD_DEPT
    set SPREAD_ID = #{spreadId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DS_CONNECTION_ID = #{dsConnectionId,jdbcType=VARCHAR},
      IS_SEND = #{isSend,jdbcType=INTEGER},
      PUSH_TIME = #{pushTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>