<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyVipSaleErr15Mapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyVipSaleErr15" >
    <!--@mbggenerated-->
    <result column="CITY_ID" property="cityId" jdbcType="SMALLINT" />
    <result column="SALE_ID" property="saleId" jdbcType="INTEGER" />
    <result column="BUILD_ID" property="buildId" jdbcType="INTEGER" />
    <result column="BUILD_NAME" property="buildName" jdbcType="VARCHAR" />
    <result column="BUILD_ADDR" property="buildAddr" jdbcType="VARCHAR" />
    <result column="BUILD_REGION" property="buildRegion" jdbcType="INTEGER" />
    <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR" />
    <result column="SECTION_ID" property="sectionId" jdbcType="INTEGER" />
    <result column="SECTION_NAME" property="sectionName" jdbcType="VARCHAR" />
    <result column="HOUSE_SUBJECT" property="houseSubject" jdbcType="VARCHAR" />
    <result column="HOUSE_USEAGE" property="houseUseage" jdbcType="VARCHAR" />
    <result column="HOUSE_TYPE" property="houseType" jdbcType="VARCHAR" />
    <result column="HOUSE_STRUCT" property="houseStruct" jdbcType="VARCHAR" />
    <result column="HOUSE_YEAR" property="houseYear" jdbcType="VARCHAR" />
    <result column="HOUSE_DIRECT" property="houseDirect" jdbcType="VARCHAR" />
    <result column="HOUSE_RIGHT" property="houseRight" jdbcType="VARCHAR" />
    <result column="HOUSE_FITMENT" property="houseFitment" jdbcType="VARCHAR" />
    <result column="HOUSE_FLOOR" property="houseFloor" jdbcType="SMALLINT" />
    <result column="HOUSE_FLOORS" property="houseFloors" jdbcType="SMALLINT" />
    <result column="HOUSE_ROOM" property="houseRoom" jdbcType="TINYINT" />
    <result column="HOUSE_HALL" property="houseHall" jdbcType="TINYINT" />
    <result column="HOUSE_WEI" property="houseWei" jdbcType="TINYINT" />
    <result column="HOUSE_AREA" property="houseArea" jdbcType="DECIMAL" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="PRICE_MIN" property="priceMin" jdbcType="DECIMAL" />
    <result column="DESCP" property="descp" jdbcType="VARCHAR" />
    <result column="PERIOD" property="period" jdbcType="TINYINT" />
    <result column="COMMISSION" property="commission" jdbcType="NUMERIC" />
    <result column="CASH_DEPOSIT" property="cashDeposit" jdbcType="INTEGER" />
    <result column="CLIENT_ID" property="clientId" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="TRACK_USER" property="trackUser" jdbcType="INTEGER" />
    <result column="TRACK_TIME" property="trackTime" jdbcType="TIMESTAMP" />
    <result column="CASE_STATUS" property="caseStatus" jdbcType="INTEGER" />
    <result column="TRADE_PRICE" property="tradePrice" jdbcType="INTEGER" />
    <result column="TRADE_TIMES" property="tradeTimes" jdbcType="INTEGER" />
    <result column="TRADE_USER" property="tradeUser" jdbcType="INTEGER" />
    <result column="TRADE_TIME" property="tradeTime" jdbcType="TIMESTAMP" />
    <result column="TRADE_FLAG" property="tradeFlag" jdbcType="TINYINT" />
    <result column="INFO_SOURCE" property="infoSource" jdbcType="TINYINT" />
    <result column="REPEAT_FLAG" property="repeatFlag" jdbcType="TINYINT" />
    <result column="CREATOR_UID" property="creatorUid" jdbcType="INTEGER" />
    <result column="BUILD_FLAG" property="buildFlag" jdbcType="TINYINT" />
    <result column="NEW_COMPLAIN" property="newComplain" jdbcType="TINYINT" />
    <result column="HOUSE_STATE" property="houseState" jdbcType="VARCHAR" />
    <result column="HOUSE_ROOF" property="houseRoof" jdbcType="VARCHAR" />
    <result column="HOUSE_UNIT" property="houseUnit" jdbcType="VARCHAR" />
    <result column="HOUSE_NUM" property="houseNum" jdbcType="VARCHAR" />
    <result column="COMPLAIN_TIME" property="complainTime" jdbcType="TIMESTAMP" />
    <result column="HAS_REFUND" property="hasRefund" jdbcType="TINYINT" />
    <result column="REFUND_TIME" property="refundTime" jdbcType="TIMESTAMP" />
    <result column="PURCHASE_COUNT" property="purchaseCount" jdbcType="TINYINT" />
    <result column="COMPLAIN_COUNT" property="complainCount" jdbcType="TINYINT" />
    <result column="DOWN_TIME" property="downTime" jdbcType="TIMESTAMP" />
    <result column="FULL_TIME" property="fullTime" jdbcType="TIMESTAMP" />
    <result column="DOWN_TRACKID" property="downTrackid" jdbcType="INTEGER" />
    <result column="ISURGENT" property="isurgent" jdbcType="TINYINT" />
  </resultMap>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyVipSaleErr15" >
    <!--@mbggenerated-->
    insert into vip_sale_err_15 (CITY_ID, SALE_ID, BUILD_ID, 
      BUILD_NAME, BUILD_ADDR, BUILD_REGION, 
      REGION_NAME, SECTION_ID, SECTION_NAME, 
      HOUSE_SUBJECT, HOUSE_USEAGE, HOUSE_TYPE, 
      HOUSE_STRUCT, HOUSE_YEAR, HOUSE_DIRECT, 
      HOUSE_RIGHT, HOUSE_FITMENT, HOUSE_FLOOR, 
      HOUSE_FLOORS, HOUSE_ROOM, HOUSE_HALL, 
      HOUSE_WEI, HOUSE_AREA, PRICE, 
      PRICE_MIN, DESCP, PERIOD, 
      COMMISSION, CASH_DEPOSIT, CLIENT_ID, 
      CREATION_TIME, TRACK_USER, TRACK_TIME, 
      CASE_STATUS, TRADE_PRICE, TRADE_TIMES, 
      TRADE_USER, TRADE_TIME, TRADE_FLAG, 
      INFO_SOURCE, REPEAT_FLAG, CREATOR_UID, 
      BUILD_FLAG, NEW_COMPLAIN, HOUSE_STATE, 
      HOUSE_ROOF, HOUSE_UNIT, HOUSE_NUM, 
      COMPLAIN_TIME, HAS_REFUND, REFUND_TIME, 
      PURCHASE_COUNT, COMPLAIN_COUNT, DOWN_TIME, 
      FULL_TIME, DOWN_TRACKID, ISURGENT
      )
    values (#{cityId,jdbcType=SMALLINT}, #{saleId,jdbcType=INTEGER}, #{buildId,jdbcType=INTEGER}, 
      #{buildName,jdbcType=VARCHAR}, #{buildAddr,jdbcType=VARCHAR}, #{buildRegion,jdbcType=INTEGER}, 
      #{regionName,jdbcType=VARCHAR}, #{sectionId,jdbcType=INTEGER}, #{sectionName,jdbcType=VARCHAR}, 
      #{houseSubject,jdbcType=VARCHAR}, #{houseUseage,jdbcType=VARCHAR}, #{houseType,jdbcType=VARCHAR}, 
      #{houseStruct,jdbcType=VARCHAR}, #{houseYear,jdbcType=VARCHAR}, #{houseDirect,jdbcType=VARCHAR}, 
      #{houseRight,jdbcType=VARCHAR}, #{houseFitment,jdbcType=VARCHAR}, #{houseFloor,jdbcType=SMALLINT}, 
      #{houseFloors,jdbcType=SMALLINT}, #{houseRoom,jdbcType=TINYINT}, #{houseHall,jdbcType=TINYINT}, 
      #{houseWei,jdbcType=TINYINT}, #{houseArea,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{priceMin,jdbcType=DECIMAL}, #{descp,jdbcType=VARCHAR}, #{period,jdbcType=TINYINT}, 
      #{commission,jdbcType=NUMERIC}, #{cashDeposit,jdbcType=INTEGER}, #{clientId,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{trackUser,jdbcType=INTEGER}, #{trackTime,jdbcType=TIMESTAMP}, 
      #{caseStatus,jdbcType=INTEGER}, #{tradePrice,jdbcType=INTEGER}, #{tradeTimes,jdbcType=INTEGER}, 
      #{tradeUser,jdbcType=INTEGER}, #{tradeTime,jdbcType=TIMESTAMP}, #{tradeFlag,jdbcType=TINYINT}, 
      #{infoSource,jdbcType=TINYINT}, #{repeatFlag,jdbcType=TINYINT}, #{creatorUid,jdbcType=INTEGER}, 
      #{buildFlag,jdbcType=TINYINT}, #{newComplain,jdbcType=TINYINT}, #{houseState,jdbcType=VARCHAR}, 
      #{houseRoof,jdbcType=VARCHAR}, #{houseUnit,jdbcType=VARCHAR}, #{houseNum,jdbcType=VARCHAR}, 
      #{complainTime,jdbcType=TIMESTAMP}, #{hasRefund,jdbcType=TINYINT}, #{refundTime,jdbcType=TIMESTAMP}, 
      #{purchaseCount,jdbcType=TINYINT}, #{complainCount,jdbcType=TINYINT}, #{downTime,jdbcType=TIMESTAMP}, 
      #{fullTime,jdbcType=TIMESTAMP}, #{downTrackid,jdbcType=INTEGER}, #{isurgent,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyVipSaleErr15" >
    <!--@mbggenerated-->
    insert into vip_sale_err_15
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="saleId != null" >
        SALE_ID,
      </if>
      <if test="buildId != null" >
        BUILD_ID,
      </if>
      <if test="buildName != null" >
        BUILD_NAME,
      </if>
      <if test="buildAddr != null" >
        BUILD_ADDR,
      </if>
      <if test="buildRegion != null" >
        BUILD_REGION,
      </if>
      <if test="regionName != null" >
        REGION_NAME,
      </if>
      <if test="sectionId != null" >
        SECTION_ID,
      </if>
      <if test="sectionName != null" >
        SECTION_NAME,
      </if>
      <if test="houseSubject != null" >
        HOUSE_SUBJECT,
      </if>
      <if test="houseUseage != null" >
        HOUSE_USEAGE,
      </if>
      <if test="houseType != null" >
        HOUSE_TYPE,
      </if>
      <if test="houseStruct != null" >
        HOUSE_STRUCT,
      </if>
      <if test="houseYear != null" >
        HOUSE_YEAR,
      </if>
      <if test="houseDirect != null" >
        HOUSE_DIRECT,
      </if>
      <if test="houseRight != null" >
        HOUSE_RIGHT,
      </if>
      <if test="houseFitment != null" >
        HOUSE_FITMENT,
      </if>
      <if test="houseFloor != null" >
        HOUSE_FLOOR,
      </if>
      <if test="houseFloors != null" >
        HOUSE_FLOORS,
      </if>
      <if test="houseRoom != null" >
        HOUSE_ROOM,
      </if>
      <if test="houseHall != null" >
        HOUSE_HALL,
      </if>
      <if test="houseWei != null" >
        HOUSE_WEI,
      </if>
      <if test="houseArea != null" >
        HOUSE_AREA,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="priceMin != null" >
        PRICE_MIN,
      </if>
      <if test="descp != null" >
        DESCP,
      </if>
      <if test="period != null" >
        PERIOD,
      </if>
      <if test="commission != null" >
        COMMISSION,
      </if>
      <if test="cashDeposit != null" >
        CASH_DEPOSIT,
      </if>
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="trackUser != null" >
        TRACK_USER,
      </if>
      <if test="trackTime != null" >
        TRACK_TIME,
      </if>
      <if test="caseStatus != null" >
        CASE_STATUS,
      </if>
      <if test="tradePrice != null" >
        TRADE_PRICE,
      </if>
      <if test="tradeTimes != null" >
        TRADE_TIMES,
      </if>
      <if test="tradeUser != null" >
        TRADE_USER,
      </if>
      <if test="tradeTime != null" >
        TRADE_TIME,
      </if>
      <if test="tradeFlag != null" >
        TRADE_FLAG,
      </if>
      <if test="infoSource != null" >
        INFO_SOURCE,
      </if>
      <if test="repeatFlag != null" >
        REPEAT_FLAG,
      </if>
      <if test="creatorUid != null" >
        CREATOR_UID,
      </if>
      <if test="buildFlag != null" >
        BUILD_FLAG,
      </if>
      <if test="newComplain != null" >
        NEW_COMPLAIN,
      </if>
      <if test="houseState != null" >
        HOUSE_STATE,
      </if>
      <if test="houseRoof != null" >
        HOUSE_ROOF,
      </if>
      <if test="houseUnit != null" >
        HOUSE_UNIT,
      </if>
      <if test="houseNum != null" >
        HOUSE_NUM,
      </if>
      <if test="complainTime != null" >
        COMPLAIN_TIME,
      </if>
      <if test="hasRefund != null" >
        HAS_REFUND,
      </if>
      <if test="refundTime != null" >
        REFUND_TIME,
      </if>
      <if test="purchaseCount != null" >
        PURCHASE_COUNT,
      </if>
      <if test="complainCount != null" >
        COMPLAIN_COUNT,
      </if>
      <if test="downTime != null" >
        DOWN_TIME,
      </if>
      <if test="fullTime != null" >
        FULL_TIME,
      </if>
      <if test="downTrackid != null" >
        DOWN_TRACKID,
      </if>
      <if test="isurgent != null" >
        ISURGENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="saleId != null" >
        #{saleId,jdbcType=INTEGER},
      </if>
      <if test="buildId != null" >
        #{buildId,jdbcType=INTEGER},
      </if>
      <if test="buildName != null" >
        #{buildName,jdbcType=VARCHAR},
      </if>
      <if test="buildAddr != null" >
        #{buildAddr,jdbcType=VARCHAR},
      </if>
      <if test="buildRegion != null" >
        #{buildRegion,jdbcType=INTEGER},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="sectionId != null" >
        #{sectionId,jdbcType=INTEGER},
      </if>
      <if test="sectionName != null" >
        #{sectionName,jdbcType=VARCHAR},
      </if>
      <if test="houseSubject != null" >
        #{houseSubject,jdbcType=VARCHAR},
      </if>
      <if test="houseUseage != null" >
        #{houseUseage,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="houseStruct != null" >
        #{houseStruct,jdbcType=VARCHAR},
      </if>
      <if test="houseYear != null" >
        #{houseYear,jdbcType=VARCHAR},
      </if>
      <if test="houseDirect != null" >
        #{houseDirect,jdbcType=VARCHAR},
      </if>
      <if test="houseRight != null" >
        #{houseRight,jdbcType=VARCHAR},
      </if>
      <if test="houseFitment != null" >
        #{houseFitment,jdbcType=VARCHAR},
      </if>
      <if test="houseFloor != null" >
        #{houseFloor,jdbcType=SMALLINT},
      </if>
      <if test="houseFloors != null" >
        #{houseFloors,jdbcType=SMALLINT},
      </if>
      <if test="houseRoom != null" >
        #{houseRoom,jdbcType=TINYINT},
      </if>
      <if test="houseHall != null" >
        #{houseHall,jdbcType=TINYINT},
      </if>
      <if test="houseWei != null" >
        #{houseWei,jdbcType=TINYINT},
      </if>
      <if test="houseArea != null" >
        #{houseArea,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="priceMin != null" >
        #{priceMin,jdbcType=DECIMAL},
      </if>
      <if test="descp != null" >
        #{descp,jdbcType=VARCHAR},
      </if>
      <if test="period != null" >
        #{period,jdbcType=TINYINT},
      </if>
      <if test="commission != null" >
        #{commission,jdbcType=NUMERIC},
      </if>
      <if test="cashDeposit != null" >
        #{cashDeposit,jdbcType=INTEGER},
      </if>
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="trackUser != null" >
        #{trackUser,jdbcType=INTEGER},
      </if>
      <if test="trackTime != null" >
        #{trackTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseStatus != null" >
        #{caseStatus,jdbcType=INTEGER},
      </if>
      <if test="tradePrice != null" >
        #{tradePrice,jdbcType=INTEGER},
      </if>
      <if test="tradeTimes != null" >
        #{tradeTimes,jdbcType=INTEGER},
      </if>
      <if test="tradeUser != null" >
        #{tradeUser,jdbcType=INTEGER},
      </if>
      <if test="tradeTime != null" >
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeFlag != null" >
        #{tradeFlag,jdbcType=TINYINT},
      </if>
      <if test="infoSource != null" >
        #{infoSource,jdbcType=TINYINT},
      </if>
      <if test="repeatFlag != null" >
        #{repeatFlag,jdbcType=TINYINT},
      </if>
      <if test="creatorUid != null" >
        #{creatorUid,jdbcType=INTEGER},
      </if>
      <if test="buildFlag != null" >
        #{buildFlag,jdbcType=TINYINT},
      </if>
      <if test="newComplain != null" >
        #{newComplain,jdbcType=TINYINT},
      </if>
      <if test="houseState != null" >
        #{houseState,jdbcType=VARCHAR},
      </if>
      <if test="houseRoof != null" >
        #{houseRoof,jdbcType=VARCHAR},
      </if>
      <if test="houseUnit != null" >
        #{houseUnit,jdbcType=VARCHAR},
      </if>
      <if test="houseNum != null" >
        #{houseNum,jdbcType=VARCHAR},
      </if>
      <if test="complainTime != null" >
        #{complainTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasRefund != null" >
        #{hasRefund,jdbcType=TINYINT},
      </if>
      <if test="refundTime != null" >
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="purchaseCount != null" >
        #{purchaseCount,jdbcType=TINYINT},
      </if>
      <if test="complainCount != null" >
        #{complainCount,jdbcType=TINYINT},
      </if>
      <if test="downTime != null" >
        #{downTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fullTime != null" >
        #{fullTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downTrackid != null" >
        #{downTrackid,jdbcType=INTEGER},
      </if>
      <if test="isurgent != null" >
        #{isurgent,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>