<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyRoleOpersMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyRoleOpersKey" >
    <!--@mbggenerated-->
    <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <id column="OPER_ID" property="operId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyRoleOpersKey" >
    <!--@mbggenerated-->
    delete from ROLE_OPERS
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
      and OPER_ID = #{operId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyRoleOpersKey" >
    <!--@mbggenerated-->
    insert into ROLE_OPERS (ROLE_ID, OPER_ID)
    values (#{roleId,jdbcType=VARCHAR}, #{operId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyRoleOpersKey" >
    <!--@mbggenerated-->
    insert into ROLE_OPERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="operId != null" >
        OPER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="operId != null" >
        #{operId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>