<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWebClientMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWebClient">
    <!--@mbggenerated-->
    <id column="CLIENT_ID" jdbcType="INTEGER" property="clientId" />
    <result column="CITY_ID" jdbcType="SMALLINT" property="cityId" />
    <result column="CLIENT_NAME" jdbcType="VARCHAR" property="clientName" />
    <result column="CLIENT_SEX" jdbcType="TINYINT" property="clientSex" />
    <result column="CLIENT_MOBILE" jdbcType="VARCHAR" property="clientMobile" />
    <result column="CLIENT_ICCODE" jdbcType="VARCHAR" property="clientIccode" />
    <result column="SECU_EMAIL" jdbcType="VARCHAR" property="secuEmail" />
    <result column="LOGIN_PWD" jdbcType="VARCHAR" property="loginPwd" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="VERTIFY_FLAG" jdbcType="TINYINT" property="vertifyFlag" />
    <result column="CLIENT_SOURCE" jdbcType="TINYINT" property="clientSource" />
    <result column="CLIENT_MOBILE1" jdbcType="VARCHAR" property="clientMobile1" />
    <result column="IS_BROKER" jdbcType="TINYINT" property="isBroker" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    CLIENT_ID, CITY_ID, CLIENT_NAME, CLIENT_SEX, CLIENT_MOBILE, CLIENT_ICCODE, SECU_EMAIL, 
    LOGIN_PWD, CREATE_TIME, VERTIFY_FLAG, CLIENT_SOURCE, CLIENT_MOBILE1, IS_BROKER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WEB_CLIENT
    where CLIENT_ID = #{clientId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from WEB_CLIENT
    where CLIENT_ID = #{clientId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWebClient">
    <!--@mbggenerated-->
    <selectKey keyProperty="clientId" order="BEFORE" resultType="java.lang.Integer">
      SELECT MAX(CLIENT_ID)+1 FROM WEB_CLIENT
    </selectKey>
    insert into WEB_CLIENT (CLIENT_ID, CITY_ID, CLIENT_NAME, 
      CLIENT_SEX, CLIENT_MOBILE, CLIENT_ICCODE, 
      SECU_EMAIL, LOGIN_PWD, CREATE_TIME, 
      VERTIFY_FLAG, CLIENT_SOURCE, CLIENT_MOBILE1, 
      IS_BROKER)
    values (#{clientId,jdbcType=INTEGER}, #{cityId,jdbcType=SMALLINT}, #{clientName,jdbcType=VARCHAR}, 
      #{clientSex,jdbcType=TINYINT}, #{clientMobile,jdbcType=VARCHAR}, #{clientIccode,jdbcType=VARCHAR}, 
      #{secuEmail,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{vertifyFlag,jdbcType=TINYINT}, #{clientSource,jdbcType=TINYINT}, #{clientMobile1,jdbcType=VARCHAR}, 
      #{isBroker,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWebClient">
    <!--@mbggenerated-->
    <selectKey keyProperty="clientId" order="BEFORE" resultType="java.lang.Integer">
      SELECT MAX(CLIENT_ID)+1 FROM WEB_CLIENT
    </selectKey>
    insert into WEB_CLIENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      CLIENT_ID,
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="clientName != null">
        CLIENT_NAME,
      </if>
      <if test="clientSex != null">
        CLIENT_SEX,
      </if>
      <if test="clientMobile != null">
        CLIENT_MOBILE,
      </if>
      <if test="clientIccode != null">
        CLIENT_ICCODE,
      </if>
      <if test="secuEmail != null">
        SECU_EMAIL,
      </if>
      <if test="loginPwd != null">
        LOGIN_PWD,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="vertifyFlag != null">
        VERTIFY_FLAG,
      </if>
      <if test="clientSource != null">
        CLIENT_SOURCE,
      </if>
      <if test="clientMobile1 != null">
        CLIENT_MOBILE1,
      </if>
      <if test="isBroker != null">
        IS_BROKER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{clientId,jdbcType=INTEGER},
      <if test="cityId != null">
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="clientName != null">
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientSex != null">
        #{clientSex,jdbcType=TINYINT},
      </if>
      <if test="clientMobile != null">
        #{clientMobile,jdbcType=VARCHAR},
      </if>
      <if test="clientIccode != null">
        #{clientIccode,jdbcType=VARCHAR},
      </if>
      <if test="secuEmail != null">
        #{secuEmail,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vertifyFlag != null">
        #{vertifyFlag,jdbcType=TINYINT},
      </if>
      <if test="clientSource != null">
        #{clientSource,jdbcType=TINYINT},
      </if>
      <if test="clientMobile1 != null">
        #{clientMobile1,jdbcType=VARCHAR},
      </if>
      <if test="isBroker != null">
        #{isBroker,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWebClient">
    <!--@mbggenerated-->
    update WEB_CLIENT
    <set>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="clientName != null">
        CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="clientSex != null">
        CLIENT_SEX = #{clientSex,jdbcType=TINYINT},
      </if>
      <if test="clientMobile != null">
        CLIENT_MOBILE = #{clientMobile,jdbcType=VARCHAR},
      </if>
      <if test="clientIccode != null">
        CLIENT_ICCODE = #{clientIccode,jdbcType=VARCHAR},
      </if>
      <if test="secuEmail != null">
        SECU_EMAIL = #{secuEmail,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        LOGIN_PWD = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vertifyFlag != null">
        VERTIFY_FLAG = #{vertifyFlag,jdbcType=TINYINT},
      </if>
      <if test="clientSource != null">
        CLIENT_SOURCE = #{clientSource,jdbcType=TINYINT},
      </if>
      <if test="clientMobile1 != null">
        CLIENT_MOBILE1 = #{clientMobile1,jdbcType=VARCHAR},
      </if>
      <if test="isBroker != null">
        IS_BROKER = #{isBroker,jdbcType=TINYINT},
      </if>
    </set>
    where CLIENT_ID = #{clientId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWebClient">
    <!--@mbggenerated-->
    update WEB_CLIENT
    set CITY_ID = #{cityId,jdbcType=SMALLINT},
      CLIENT_NAME = #{clientName,jdbcType=VARCHAR},
      CLIENT_SEX = #{clientSex,jdbcType=TINYINT},
      CLIENT_MOBILE = #{clientMobile,jdbcType=VARCHAR},
      CLIENT_ICCODE = #{clientIccode,jdbcType=VARCHAR},
      SECU_EMAIL = #{secuEmail,jdbcType=VARCHAR},
      LOGIN_PWD = #{loginPwd,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      VERTIFY_FLAG = #{vertifyFlag,jdbcType=TINYINT},
      CLIENT_SOURCE = #{clientSource,jdbcType=TINYINT},
      CLIENT_MOBILE1 = #{clientMobile1,jdbcType=VARCHAR},
      IS_BROKER = #{isBroker,jdbcType=TINYINT}
    where CLIENT_ID = #{clientId,jdbcType=INTEGER}
  </update>
  	<select id="getWebClient" resultMap="BaseResultMap">
   		select 
   			 <include refid="Base_Column_List" />
    	from WEB_CLIENT
    		where 
    		CLIENT_MOBILE = #{phone1}
    		<if test="phone2 !=null and phone2 != ''">
    			or CLIENT_MOBILE1 = #{phone2}
    		</if>
  </select>
  <select id="getId" resultType="java.lang.Integer">
  	select MAx(CLIENT_ID)+1 as CLIENT_ID from WEB_CLIENT
  </select>
  <select id="getClientMobile" resultMap="BaseResultMap">
  	SELECT
		CLIENT_MOBILE
	FROM
		WEB_CLIENT
	WHERE
		CLIENT_ID = (
			SELECT
				CLIENT_ID
			FROM
				VIP_SALE
			WHERE
				CITY_ID = #{cityId}
			AND SALE_ID = #{caseId}
		)
  </select>
  
  <select id="getClientSex" resultMap="BaseResultMap">
  	select  CLIENT_SEX from WEB_CLIENT 
  	where CLIENT_ID=(select CLIENT_ID from VIP_SALE 
  	where CITY_ID=#{cityId,jdbcType=INTEGER} and SALE_ID=#{caseId,jdbcType=INTEGER}
  	)
  </select>
  
  <update id="updateByMobile" parameterType="com.myfun.repository.agencydb.po.AgencyWebClient">
  	update WEB_CLIENT set CLIENT_SEX = #{clientSex} where CLIENT_MOBILE = #{clientMobile}
  </update>
</mapper>