<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyMyBuildingLayoutMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyMyBuildingLayout" >
    <!--@mbggenerated-->
    <id column="layout_id" property="layoutId" jdbcType="INTEGER" />
    <result column="building_area" property="buildingArea" jdbcType="DOUBLE" />
    <result column="building_id" property="buildingId" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="timestamp" property="timestamp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    layout_id, building_area, building_id, code, introduction, name, pic_path, timestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from MY_BUILDING_LAYOUT
    where layout_id = #{layoutId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from MY_BUILDING_LAYOUT
    where layout_id = #{layoutId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingLayout" >
    <!--@mbggenerated-->
    insert into MY_BUILDING_LAYOUT (layout_id, building_area, building_id, 
      code, introduction, name, 
      pic_path, timestamp)
    values (#{layoutId,jdbcType=INTEGER}, #{buildingArea,jdbcType=DOUBLE}, #{buildingId,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{picPath,jdbcType=VARCHAR}, #{timestamp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingLayout" >
    <!--@mbggenerated-->
    insert into MY_BUILDING_LAYOUT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="layoutId != null" >
        layout_id,
      </if>
      <if test="buildingArea != null" >
        building_area,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="layoutId != null" >
        #{layoutId,jdbcType=INTEGER},
      </if>
      <if test="buildingArea != null" >
        #{buildingArea,jdbcType=DOUBLE},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingLayout" >
    <!--@mbggenerated-->
    update MY_BUILDING_LAYOUT
    <set >
      <if test="buildingArea != null" >
        building_area = #{buildingArea,jdbcType=DOUBLE},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=VARCHAR},
      </if>
    </set>
    where layout_id = #{layoutId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildingLayout" >
    <!--@mbggenerated-->
    update MY_BUILDING_LAYOUT
    set building_area = #{buildingArea,jdbcType=DOUBLE},
      building_id = #{buildingId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=VARCHAR}
    where layout_id = #{layoutId,jdbcType=INTEGER}
  </update>
</mapper>