<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyAgencyLoginMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyAgencyLogin" >
    <!--@mbggenerated-->
    <id column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="LOGIN_TIME" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="VERSION_NAME" property="versionName" jdbcType="VARCHAR" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="INTEGER" />
    <result column="PUSH_TOKEN" property="pushToken" jdbcType="VARCHAR" />
    <result column="LOGIN_TOKEN" property="loginToken" jdbcType="VARCHAR" />
    <result column="LOGIN_STATUS" property="loginStatus" jdbcType="INTEGER" />
    <result column="SIMSERIAL" property="simserial" jdbcType="VARCHAR" />
    <result column="IS_PUSH" property="isPush" jdbcType="INTEGER" />
    <result column="DISTRACTION_FREE" property="distractionFree" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    USER_ID, LOGIN_TIME, USER_MOBILE, VERSION_NAME, DEVICE_TYPE, PUSH_TOKEN, LOGIN_TOKEN, 
    LOGIN_STATUS, SIMSERIAL, IS_PUSH, DISTRACTION_FREE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from AGENCY_LOGIN
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from AGENCY_LOGIN
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyAgencyLogin" >
    <!--@mbggenerated-->
    insert into AGENCY_LOGIN (USER_ID, LOGIN_TIME, USER_MOBILE, 
      VERSION_NAME, DEVICE_TYPE, PUSH_TOKEN, 
      LOGIN_TOKEN, LOGIN_STATUS, SIMSERIAL, 
      IS_PUSH, DISTRACTION_FREE)
    values (#{userId,jdbcType=INTEGER}, #{loginTime,jdbcType=TIMESTAMP}, #{userMobile,jdbcType=VARCHAR}, 
      #{versionName,jdbcType=VARCHAR}, #{deviceType,jdbcType=INTEGER}, #{pushToken,jdbcType=VARCHAR}, 
      #{loginToken,jdbcType=VARCHAR}, #{loginStatus,jdbcType=INTEGER}, #{simserial,jdbcType=VARCHAR}, 
      #{isPush,jdbcType=INTEGER}, #{distractionFree,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyAgencyLogin" >
    <!--@mbggenerated-->
    insert into AGENCY_LOGIN
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="loginTime != null" >
        LOGIN_TIME,
      </if>
      <if test="userMobile != null" >
        USER_MOBILE,
      </if>
      <if test="versionName != null" >
        VERSION_NAME,
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE,
      </if>
      <if test="pushToken != null" >
        PUSH_TOKEN,
      </if>
      <if test="loginToken != null" >
        LOGIN_TOKEN,
      </if>
      <if test="loginStatus != null" >
        LOGIN_STATUS,
      </if>
      <if test="simserial != null" >
        SIMSERIAL,
      </if>
      <if test="isPush != null" >
        IS_PUSH,
      </if>
      <if test="distractionFree != null" >
        DISTRACTION_FREE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="pushToken != null" >
        #{pushToken,jdbcType=VARCHAR},
      </if>
      <if test="loginToken != null" >
        #{loginToken,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        #{loginStatus,jdbcType=INTEGER},
      </if>
      <if test="simserial != null" >
        #{simserial,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null" >
        #{isPush,jdbcType=INTEGER},
      </if>
      <if test="distractionFree != null" >
        #{distractionFree,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyAgencyLogin" >
    <!--@mbggenerated-->
    update AGENCY_LOGIN
    <set >
      <if test="loginTime != null" >
        LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        VERSION_NAME = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="pushToken != null" >
        PUSH_TOKEN = #{pushToken,jdbcType=VARCHAR},
      </if>
      <if test="loginToken != null" >
        LOGIN_TOKEN = #{loginToken,jdbcType=VARCHAR},
      </if>
      <if test="loginStatus != null" >
        LOGIN_STATUS = #{loginStatus,jdbcType=INTEGER},
      </if>
      <if test="simserial != null" >
        SIMSERIAL = #{simserial,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null" >
        IS_PUSH = #{isPush,jdbcType=INTEGER},
      </if>
      <if test="distractionFree != null" >
        DISTRACTION_FREE = #{distractionFree,jdbcType=INTEGER},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyAgencyLogin" >
    <!--@mbggenerated-->
    update AGENCY_LOGIN
    set LOGIN_TIME = #{loginTime,jdbcType=TIMESTAMP},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      VERSION_NAME = #{versionName,jdbcType=VARCHAR},
      DEVICE_TYPE = #{deviceType,jdbcType=INTEGER},
      PUSH_TOKEN = #{pushToken,jdbcType=VARCHAR},
      LOGIN_TOKEN = #{loginToken,jdbcType=VARCHAR},
      LOGIN_STATUS = #{loginStatus,jdbcType=INTEGER},
      SIMSERIAL = #{simserial,jdbcType=VARCHAR},
      IS_PUSH = #{isPush,jdbcType=INTEGER},
      DISTRACTION_FREE = #{distractionFree,jdbcType=INTEGER}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
</mapper>