<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyBuildingPhotoMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyBuildingPhoto" >
    <!--@mbggenerated-->
    <id column="CITY_ID" property="cityId" jdbcType="SMALLINT" />
    <id column="BUILD_ID" property="buildId" jdbcType="INTEGER" />
    <id column="PHOTO_ID" property="photoId" jdbcType="INTEGER" />
    <result column="PHOTO_TYPE" property="photoType" jdbcType="TINYINT" />
    <result column="PHOTO_DESC" property="photoDesc" jdbcType="VARCHAR" />
    <result column="PHOTO_ADDR" property="photoAddr" jdbcType="VARCHAR" />
    <result column="IS_FIRST" property="isFirst" jdbcType="TINYINT" />
    <result column="LAYOUT_ID" property="layoutId" jdbcType="INTEGER" />
    <result column="LAYOUT_FIRST" property="layoutFirst" jdbcType="TINYINT" />
    <result column="SEQ_NO" property="seqNo" jdbcType="INTEGER" />
    <result column="UPLOAD_USER" property="uploadUser" jdbcType="INTEGER" />
    <result column="UPLOAD_DATE" property="uploadDate" jdbcType="TIMESTAMP" />
    <result column="EDIT_FLAG" property="editFlag" jdbcType="TINYINT" />
    <result column="DEF_FFIMG_FLAG" property="defFfimgFlag" jdbcType="TINYINT" />
  </resultMap>
  <resultMap type="com.myfun.repository.agencydb.dto.AgencyBuildingPhotoDto" id="extResultMap" extends="BaseResultMap">
    <result column="layoutNo" property="layoutNo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    CITY_ID, BUILD_ID, PHOTO_ID, PHOTO_TYPE, PHOTO_DESC, PHOTO_ADDR, IS_FIRST, LAYOUT_ID, 
    LAYOUT_FIRST, SEQ_NO, UPLOAD_USER, UPLOAD_DATE, EDIT_FLAG, DEF_FFIMG_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.myfun.repository.agencydb.po.AgencyBuildingPhotoKey" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from BUILDING_PHOTO
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and BUILD_ID = #{buildId,jdbcType=INTEGER}
      and PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyBuildingPhotoKey" >
    <!--@mbggenerated-->
    delete from BUILDING_PHOTO
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and BUILD_ID = #{buildId,jdbcType=INTEGER}
      and PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyBuildingPhoto" >
    <!--@mbggenerated-->
    insert into BUILDING_PHOTO (CITY_ID, BUILD_ID, PHOTO_ID, 
      PHOTO_TYPE, PHOTO_DESC, PHOTO_ADDR, 
      IS_FIRST, LAYOUT_ID, LAYOUT_FIRST, 
      SEQ_NO, UPLOAD_USER, UPLOAD_DATE, 
      EDIT_FLAG, DEF_FFIMG_FLAG)
    values (#{cityId,jdbcType=SMALLINT}, #{buildId,jdbcType=INTEGER}, #{photoId,jdbcType=INTEGER}, 
      #{photoType,jdbcType=TINYINT}, #{photoDesc,jdbcType=VARCHAR}, #{photoAddr,jdbcType=VARCHAR}, 
      #{isFirst,jdbcType=TINYINT}, #{layoutId,jdbcType=INTEGER}, #{layoutFirst,jdbcType=TINYINT}, 
      #{seqNo,jdbcType=INTEGER}, #{uploadUser,jdbcType=INTEGER}, #{uploadDate,jdbcType=TIMESTAMP}, 
      #{editFlag,jdbcType=TINYINT}, #{defFfimgFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyBuildingPhoto" >
    <!--@mbggenerated-->
    insert into BUILDING_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="buildId != null" >
        BUILD_ID,
      </if>
      <if test="photoId != null" >
        PHOTO_ID,
      </if>
      <if test="photoType != null" >
        PHOTO_TYPE,
      </if>
      <if test="photoDesc != null" >
        PHOTO_DESC,
      </if>
      <if test="photoAddr != null" >
        PHOTO_ADDR,
      </if>
      <if test="isFirst != null" >
        IS_FIRST,
      </if>
      <if test="layoutId != null" >
        LAYOUT_ID,
      </if>
      <if test="layoutFirst != null" >
        LAYOUT_FIRST,
      </if>
      <if test="seqNo != null" >
        SEQ_NO,
      </if>
      <if test="uploadUser != null" >
        UPLOAD_USER,
      </if>
      <if test="uploadDate != null" >
        UPLOAD_DATE,
      </if>
      <if test="editFlag != null" >
        EDIT_FLAG,
      </if>
      <if test="defFfimgFlag != null" >
        DEF_FFIMG_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="buildId != null" >
        #{buildId,jdbcType=INTEGER},
      </if>
      <if test="photoId != null" >
        #{photoId,jdbcType=INTEGER},
      </if>
      <if test="photoType != null" >
        #{photoType,jdbcType=TINYINT},
      </if>
      <if test="photoDesc != null" >
        #{photoDesc,jdbcType=VARCHAR},
      </if>
      <if test="photoAddr != null" >
        #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="isFirst != null" >
        #{isFirst,jdbcType=TINYINT},
      </if>
      <if test="layoutId != null" >
        #{layoutId,jdbcType=INTEGER},
      </if>
      <if test="layoutFirst != null" >
        #{layoutFirst,jdbcType=TINYINT},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="uploadUser != null" >
        #{uploadUser,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null" >
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editFlag != null" >
        #{editFlag,jdbcType=TINYINT},
      </if>
      <if test="defFfimgFlag != null" >
        #{defFfimgFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyBuildingPhoto" >
    <!--@mbggenerated-->
    update BUILDING_PHOTO
    <set >
      <if test="photoType != null" >
        PHOTO_TYPE = #{photoType,jdbcType=TINYINT},
      </if>
      <if test="photoDesc != null" >
        PHOTO_DESC = #{photoDesc,jdbcType=VARCHAR},
      </if>
      <if test="photoAddr != null" >
        PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="isFirst != null" >
        IS_FIRST = #{isFirst,jdbcType=TINYINT},
      </if>
      <if test="layoutId != null" >
        LAYOUT_ID = #{layoutId,jdbcType=INTEGER},
      </if>
      <if test="layoutFirst != null" >
        LAYOUT_FIRST = #{layoutFirst,jdbcType=TINYINT},
      </if>
      <if test="seqNo != null" >
        SEQ_NO = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="uploadUser != null" >
        UPLOAD_USER = #{uploadUser,jdbcType=INTEGER},
      </if>
      <if test="uploadDate != null" >
        UPLOAD_DATE = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editFlag != null" >
        EDIT_FLAG = #{editFlag,jdbcType=TINYINT},
      </if>
      <if test="defFfimgFlag != null" >
        DEF_FFIMG_FLAG = #{defFfimgFlag,jdbcType=TINYINT},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and BUILD_ID = #{buildId,jdbcType=INTEGER}
      and PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyBuildingPhoto" >
    <!--@mbggenerated-->
    update BUILDING_PHOTO
    set PHOTO_TYPE = #{photoType,jdbcType=TINYINT},
      PHOTO_DESC = #{photoDesc,jdbcType=VARCHAR},
      PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      IS_FIRST = #{isFirst,jdbcType=TINYINT},
      LAYOUT_ID = #{layoutId,jdbcType=INTEGER},
      LAYOUT_FIRST = #{layoutFirst,jdbcType=TINYINT},
      SEQ_NO = #{seqNo,jdbcType=INTEGER},
      UPLOAD_USER = #{uploadUser,jdbcType=INTEGER},
      UPLOAD_DATE = #{uploadDate,jdbcType=TIMESTAMP},
      EDIT_FLAG = #{editFlag,jdbcType=TINYINT},
      DEF_FFIMG_FLAG = #{defFfimgFlag,jdbcType=TINYINT}
    where CITY_ID = #{cityId,jdbcType=SMALLINT}
      and BUILD_ID = #{buildId,jdbcType=INTEGER}
      and PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
  <select id="getLayoutList" parameterType="com.myfun.repository.agencydb.param.AgencyBuildingPhotoParam" resultMap="extResultMap">
  		select CITY_ID, BUILD_ID, PHOTO_ID, PHOTO_TYPE, PHOTO_DESC, PHOTO_ADDR, IS_FIRST, LAYOUT_ID, LAYOUT_FIRST, SEQ_NO, UPLOAD_USER, UPLOAD_DATE, EDIT_FLAG, DEF_FFIMG_FLAG, (SELECT LAYOUT_NO FROM BUILD_LAYOUT WHERE BUILD_LAYOUT.LAYOUT_ID = BUILDING_PHOTO.LAYOUT_ID) as layoutNo 
  		from BUILDING_PHOTO
  		where BUILD_ID = #{buildId} and CITY_ID = #{cityId} and PHOTO_TYPE = 3 <![CDATA[and EDIT_FLAG <> 1]]>
  		order by LAYOUT_FIRST,UPLOAD_DATE DESC
  </select>
  <select id="getCountByBuildId" resultType="java.lang.Integer">
	select count(1) from   BUILDING_PHOTO where BUILD_ID = #{buildId}				
  </select>
  <select id="getMaxPhotoId" resultType="java.lang.Integer">
	select max(PHOTO_ID) + 1 as MAX_ID from BUILDING_PHOTO			
  </select>
  <delete id="deleteLayout" >
  	delete from BUILDING_PHOTO where LAYOUT_ID = #{layoutId}
  </delete>
  <select id="getDistBuildPhotoList" parameterType="java.util.Map" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" /> FROM BUILDING_PHOTO 
  	<where>
  		<if test="1==1">
  			<![CDATA[ AND CITY_ID = #{cityId} AND BUILD_ID = #{buildId} AND EDIT_FLAG <> 1 ]]>
  		</if>
  		<choose>
  			<when test="null != photoType and '' != photoType">
  				<if test="photoType == 3">
  					and (PHOTO_TYPE = #{photoType} or PHOTO_TYPE = 8)
  				</if>
  				<if test="photoType != 3">
  					and PHOTO_TYPE = #{photoType}
  				</if>
  			</when>
  			<otherwise>
  				and (PHOTO_TYPE = 3 or PHOTO_TYPE = 8)
  			</otherwise>
  		</choose>
  	</where>
  	ORDER BY UPLOAD_DATE DESC
  </select>
</mapper>