<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfServiceSettingMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfServiceSetting">
    <!--@mbggenerated-->
    <id column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="IS_WORK" jdbcType="TINYINT" property="isWork" />
    <result column="REQUIREMENT_NOTIFY" jdbcType="TINYINT" property="requirementNotify" />
    <result column="BUY_REQUIREMENT_NOTIFY" jdbcType="TINYINT" property="buyRequirementNotify" />
    <result column="RENT_REQUIREMENT_NOTIFY" jdbcType="TINYINT" property="rentRequirementNotify" />
    <result column="RENT_BROKERAGE" jdbcType="VARCHAR" property="rentBrokerage" />
    <result column="SALE_BROKERAGE_RATIO" jdbcType="VARCHAR" property="saleBrokerageRatio" />
    <result column="SMS_NOTIFY" jdbcType="TINYINT" property="smsNotify" />
    <result column="BUY_MONEY" jdbcType="INTEGER" property="buyMoney" />
    <result column="RENT_MONEY" jdbcType="INTEGER" property="rentMoney" />
    <result column="WD_HB_SWITCH" jdbcType="INTEGER" property="wdHbSwitch" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    ARCHIVE_ID, IS_WORK, REQUIREMENT_NOTIFY, BUY_REQUIREMENT_NOTIFY, RENT_REQUIREMENT_NOTIFY, 
    RENT_BROKERAGE, SALE_BROKERAGE_RATIO, SMS_NOTIFY, BUY_MONEY, RENT_MONEY, WD_HB_SWITCH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_SERVICE_SETTING
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from WF_SERVICE_SETTING
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfServiceSetting">
    <!--@mbggenerated-->
    insert into WF_SERVICE_SETTING (ARCHIVE_ID, IS_WORK, REQUIREMENT_NOTIFY, 
      BUY_REQUIREMENT_NOTIFY, RENT_REQUIREMENT_NOTIFY, 
      RENT_BROKERAGE, SALE_BROKERAGE_RATIO, SMS_NOTIFY, 
      BUY_MONEY, RENT_MONEY, WD_HB_SWITCH
      )
    values (#{archiveId,jdbcType=INTEGER}, #{isWork,jdbcType=TINYINT}, #{requirementNotify,jdbcType=TINYINT}, 
      #{buyRequirementNotify,jdbcType=TINYINT}, #{rentRequirementNotify,jdbcType=TINYINT}, 
      #{rentBrokerage,jdbcType=VARCHAR}, #{saleBrokerageRatio,jdbcType=VARCHAR}, #{smsNotify,jdbcType=TINYINT}, 
      #{buyMoney,jdbcType=INTEGER}, #{rentMoney,jdbcType=INTEGER}, #{wdHbSwitch,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfServiceSetting">
    <!--@mbggenerated-->
    insert into WF_SERVICE_SETTING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="isWork != null">
        IS_WORK,
      </if>
      <if test="requirementNotify != null">
        REQUIREMENT_NOTIFY,
      </if>
      <if test="buyRequirementNotify != null">
        BUY_REQUIREMENT_NOTIFY,
      </if>
      <if test="rentRequirementNotify != null">
        RENT_REQUIREMENT_NOTIFY,
      </if>
      <if test="rentBrokerage != null">
        RENT_BROKERAGE,
      </if>
      <if test="saleBrokerageRatio != null">
        SALE_BROKERAGE_RATIO,
      </if>
      <if test="smsNotify != null">
        SMS_NOTIFY,
      </if>
      <if test="buyMoney != null">
        BUY_MONEY,
      </if>
      <if test="rentMoney != null">
        RENT_MONEY,
      </if>
      <if test="wdHbSwitch != null">
        WD_HB_SWITCH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="isWork != null">
        #{isWork,jdbcType=TINYINT},
      </if>
      <if test="requirementNotify != null">
        #{requirementNotify,jdbcType=TINYINT},
      </if>
      <if test="buyRequirementNotify != null">
        #{buyRequirementNotify,jdbcType=TINYINT},
      </if>
      <if test="rentRequirementNotify != null">
        #{rentRequirementNotify,jdbcType=TINYINT},
      </if>
      <if test="rentBrokerage != null">
        #{rentBrokerage,jdbcType=VARCHAR},
      </if>
      <if test="saleBrokerageRatio != null">
        #{saleBrokerageRatio,jdbcType=VARCHAR},
      </if>
      <if test="smsNotify != null">
        #{smsNotify,jdbcType=TINYINT},
      </if>
      <if test="buyMoney != null">
        #{buyMoney,jdbcType=INTEGER},
      </if>
      <if test="rentMoney != null">
        #{rentMoney,jdbcType=INTEGER},
      </if>
      <if test="wdHbSwitch != null">
        #{wdHbSwitch,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfServiceSetting">
    <!--@mbggenerated-->
    update WF_SERVICE_SETTING
    <set>
      <if test="isWork != null">
        IS_WORK = #{isWork,jdbcType=TINYINT},
      </if>
      <if test="requirementNotify != null">
        REQUIREMENT_NOTIFY = #{requirementNotify,jdbcType=TINYINT},
      </if>
      <if test="buyRequirementNotify != null">
        BUY_REQUIREMENT_NOTIFY = #{buyRequirementNotify,jdbcType=TINYINT},
      </if>
      <if test="rentRequirementNotify != null">
        RENT_REQUIREMENT_NOTIFY = #{rentRequirementNotify,jdbcType=TINYINT},
      </if>
      <if test="rentBrokerage != null">
        RENT_BROKERAGE = #{rentBrokerage,jdbcType=VARCHAR},
      </if>
      <if test="saleBrokerageRatio != null">
        SALE_BROKERAGE_RATIO = #{saleBrokerageRatio,jdbcType=VARCHAR},
      </if>
      <if test="smsNotify != null">
        SMS_NOTIFY = #{smsNotify,jdbcType=TINYINT},
      </if>
      <if test="buyMoney != null">
        BUY_MONEY = #{buyMoney,jdbcType=INTEGER},
      </if>
      <if test="rentMoney != null">
        RENT_MONEY = #{rentMoney,jdbcType=INTEGER},
      </if>
      <if test="wdHbSwitch != null">
        WD_HB_SWITCH = #{wdHbSwitch,jdbcType=INTEGER},
      </if>
    </set>
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfServiceSetting">
    <!--@mbggenerated-->
    update WF_SERVICE_SETTING
    set IS_WORK = #{isWork,jdbcType=TINYINT},
      REQUIREMENT_NOTIFY = #{requirementNotify,jdbcType=TINYINT},
      BUY_REQUIREMENT_NOTIFY = #{buyRequirementNotify,jdbcType=TINYINT},
      RENT_REQUIREMENT_NOTIFY = #{rentRequirementNotify,jdbcType=TINYINT},
      RENT_BROKERAGE = #{rentBrokerage,jdbcType=VARCHAR},
      SALE_BROKERAGE_RATIO = #{saleBrokerageRatio,jdbcType=VARCHAR},
      SMS_NOTIFY = #{smsNotify,jdbcType=TINYINT},
      BUY_MONEY = #{buyMoney,jdbcType=INTEGER},
      RENT_MONEY = #{rentMoney,jdbcType=INTEGER},
      WD_HB_SWITCH = #{wdHbSwitch,jdbcType=INTEGER}
    where ARCHIVE_ID = #{archiveId,jdbcType=INTEGER}
  </update>   
  <select id="getNumberByArchiveId" resultType="java.lang.Integer">
  select count(*) from  WF_SERVICE_SETTING where ARCHIVE_ID = #{param.archiveId}
  </select>
  <update id="changeRedPacketMumber" parameterType="com.myfun.repository.agencydb.po.AgencyWfServiceSetting">
    update WF_SERVICE_SETTING
  	 set BUY_MONEY = #{param.buyMoney,jdbcType=TINYINT},
      RENT_MONEY = #{param.rentMoney,jdbcType=TINYINT}
    where ARCHIVE_ID = #{param.archiveId,jdbcType=INTEGER}
  </update>
    <select id="getSwitchNumberByArchiveId" resultType="java.lang.Integer">
  select WD_HB_SWITCH from  WF_SERVICE_SETTING where ARCHIVE_ID = #{param.archiveId}
  </select>
 </mapper>