<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyFunCityMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyFunCity" >
    <!--@mbggenerated-->
    <id column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="INTEGER" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="PY_CODE" property="pyCode" jdbcType="VARCHAR" />
    <result column="SEQ_NO" property="seqNo" jdbcType="INTEGER" />
    <result column="CITY_DESC" property="cityDesc" jdbcType="VARCHAR" />
    <result column="CITY_ON" property="cityOn" jdbcType="INTEGER" />
    <result column="tel_code" property="telCode" jdbcType="VARCHAR" />
    <result column="POSITION_X" property="positionX" jdbcType="VARCHAR" />
    <result column="POSITION_Y" property="positionY" jdbcType="VARCHAR" />
    <result column="CITY_SINGLE" property="citySingle" jdbcType="INTEGER" />
    <result column="DIST_ON" property="distOn" jdbcType="BIT" />
    <result column="WEB_DOMAIN" property="webDomain" jdbcType="VARCHAR" />
    <result column="WEB_DOMAIN_OLD" property="webDomainOld" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    CITY_ID, PROVINCE_ID, CITY_NAME, PY_CODE, SEQ_NO, CITY_DESC, CITY_ON, tel_code, POSITION_X, 
    POSITION_Y, CITY_SINGLE, DIST_ON, WEB_DOMAIN, WEB_DOMAIN_OLD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FUN_CITY
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FUN_CITY
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyFunCity" >
    <!--@mbggenerated-->
    insert into FUN_CITY (CITY_ID, PROVINCE_ID, CITY_NAME, 
      PY_CODE, SEQ_NO, CITY_DESC, 
      CITY_ON, tel_code, POSITION_X, 
      POSITION_Y, CITY_SINGLE, DIST_ON, 
      WEB_DOMAIN, WEB_DOMAIN_OLD)
    values (#{cityId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{pyCode,jdbcType=VARCHAR}, #{seqNo,jdbcType=INTEGER}, #{cityDesc,jdbcType=VARCHAR}, 
      #{cityOn,jdbcType=INTEGER}, #{telCode,jdbcType=VARCHAR}, #{positionX,jdbcType=VARCHAR}, 
      #{positionY,jdbcType=VARCHAR}, #{citySingle,jdbcType=INTEGER}, #{distOn,jdbcType=BIT}, 
      #{webDomain,jdbcType=VARCHAR}, #{webDomainOld,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyFunCity" >
    <!--@mbggenerated-->
    insert into FUN_CITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="pyCode != null" >
        PY_CODE,
      </if>
      <if test="seqNo != null" >
        SEQ_NO,
      </if>
      <if test="cityDesc != null" >
        CITY_DESC,
      </if>
      <if test="cityOn != null" >
        CITY_ON,
      </if>
      <if test="telCode != null" >
        tel_code,
      </if>
      <if test="positionX != null" >
        POSITION_X,
      </if>
      <if test="positionY != null" >
        POSITION_Y,
      </if>
      <if test="citySingle != null" >
        CITY_SINGLE,
      </if>
      <if test="distOn != null" >
        DIST_ON,
      </if>
      <if test="webDomain != null" >
        WEB_DOMAIN,
      </if>
      <if test="webDomainOld != null" >
        WEB_DOMAIN_OLD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="pyCode != null" >
        #{pyCode,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="cityDesc != null" >
        #{cityDesc,jdbcType=VARCHAR},
      </if>
      <if test="cityOn != null" >
        #{cityOn,jdbcType=INTEGER},
      </if>
      <if test="telCode != null" >
        #{telCode,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null" >
        #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null" >
        #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="citySingle != null" >
        #{citySingle,jdbcType=INTEGER},
      </if>
      <if test="distOn != null" >
        #{distOn,jdbcType=BIT},
      </if>
      <if test="webDomain != null" >
        #{webDomain,jdbcType=VARCHAR},
      </if>
      <if test="webDomainOld != null" >
        #{webDomainOld,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyFunCity" >
    <!--@mbggenerated-->
    update FUN_CITY
    <set >
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="pyCode != null" >
        PY_CODE = #{pyCode,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        SEQ_NO = #{seqNo,jdbcType=INTEGER},
      </if>
      <if test="cityDesc != null" >
        CITY_DESC = #{cityDesc,jdbcType=VARCHAR},
      </if>
      <if test="cityOn != null" >
        CITY_ON = #{cityOn,jdbcType=INTEGER},
      </if>
      <if test="telCode != null" >
        tel_code = #{telCode,jdbcType=VARCHAR},
      </if>
      <if test="positionX != null" >
        POSITION_X = #{positionX,jdbcType=VARCHAR},
      </if>
      <if test="positionY != null" >
        POSITION_Y = #{positionY,jdbcType=VARCHAR},
      </if>
      <if test="citySingle != null" >
        CITY_SINGLE = #{citySingle,jdbcType=INTEGER},
      </if>
      <if test="distOn != null" >
        DIST_ON = #{distOn,jdbcType=BIT},
      </if>
      <if test="webDomain != null" >
        WEB_DOMAIN = #{webDomain,jdbcType=VARCHAR},
      </if>
      <if test="webDomainOld != null" >
        WEB_DOMAIN_OLD = #{webDomainOld,jdbcType=VARCHAR},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyFunCity" >
    <!--@mbggenerated-->
    update FUN_CITY
    set PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      PY_CODE = #{pyCode,jdbcType=VARCHAR},
      SEQ_NO = #{seqNo,jdbcType=INTEGER},
      CITY_DESC = #{cityDesc,jdbcType=VARCHAR},
      CITY_ON = #{cityOn,jdbcType=INTEGER},
      tel_code = #{telCode,jdbcType=VARCHAR},
      POSITION_X = #{positionX,jdbcType=VARCHAR},
      POSITION_Y = #{positionY,jdbcType=VARCHAR},
      CITY_SINGLE = #{citySingle,jdbcType=INTEGER},
      DIST_ON = #{distOn,jdbcType=BIT},
      WEB_DOMAIN = #{webDomain,jdbcType=VARCHAR},
      WEB_DOMAIN_OLD = #{webDomainOld,jdbcType=VARCHAR}
    where CITY_ID = #{cityId,jdbcType=INTEGER}
  </update>
  
  <!-- buniess -->
  <select id="getCityList" resultMap="BaseResultMap">
  		SELECT CITY_ID,CITY_NAME FROM FUN_CITY
  </select>
  
  <select id="getBatchCityList" resultMap="BaseResultMap">
  	SELECT CITY_ID,CITY_NAME FROM FUN_CITY
  	where PROVINCE_ID in
  	<foreach collection="ids" open="(" separator="," close=")" item="item" index="index">
  		#{item}
  	</foreach>
  </select>
</mapper>