<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfCompWdCardsMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfCompWdCards" >
    <!--@mbggenerated-->
    <id column="CARD_ID" property="cardId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="CARD_NUMBER" property="cardNumber" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="IA" property="ia" jdbcType="VARCHAR" />
    <result column="IA_ACR" property="iaAcr" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    CARD_ID, COMP_ID, ARCHIVE_ID, CITY_ID, CARD_NUMBER, NAME, IA, IA_ACR, TYPE, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_COMP_WD_CARDS
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from WF_COMP_WD_CARDS
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfCompWdCards" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="cardId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_COMP_WD_CARDS (COMP_ID, ARCHIVE_ID, CITY_ID, 
      CARD_NUMBER, NAME, IA, 
      IA_ACR, TYPE, CREATE_TIME
      )
    values (#{compId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{cardNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{ia,jdbcType=VARCHAR}, 
      #{iaAcr,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfCompWdCards" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="cardId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_COMP_WD_CARDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="cardNumber != null" >
        CARD_NUMBER,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="ia != null" >
        IA,
      </if>
      <if test="iaAcr != null" >
        IA_ACR,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ia != null" >
        #{ia,jdbcType=VARCHAR},
      </if>
      <if test="iaAcr != null" >
        #{iaAcr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfCompWdCards" >
    <!--@mbggenerated-->
    update WF_COMP_WD_CARDS
    <set >
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cardNumber != null" >
        CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ia != null" >
        IA = #{ia,jdbcType=VARCHAR},
      </if>
      <if test="iaAcr != null" >
        IA_ACR = #{iaAcr,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfCompWdCards" >
    <!--@mbggenerated-->
    update WF_COMP_WD_CARDS
    set COMP_ID = #{compId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      CARD_NUMBER = #{cardNumber,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      IA = #{ia,jdbcType=VARCHAR},
      IA_ACR = #{iaAcr,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </update>
</mapper>