<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyVoipPayMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyVoipPay" >
    <!--@mbggenerated-->
    <id column="PAY_ID" property="payId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="UA_ID" property="uaId" jdbcType="INTEGER" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="CARD_NO" property="cardNo" jdbcType="VARCHAR" />
    <result column="IS_GIFT" property="isGift" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    PAY_ID, ARCHIVE_ID, UA_ID, USER_MOBILE, CARD_NO, IS_GIFT, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from VOIP_PAY
    where PAY_ID = #{payId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from VOIP_PAY
    where PAY_ID = #{payId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyVoipPay" >
    <!--@mbggenerated-->
    insert into VOIP_PAY (PAY_ID, ARCHIVE_ID, UA_ID, 
      USER_MOBILE, CARD_NO, IS_GIFT, 
      CREATE_TIME)
    values (#{payId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, #{uaId,jdbcType=INTEGER}, 
      #{userMobile,jdbcType=VARCHAR}, #{cardNo,jdbcType=VARCHAR}, #{isGift,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyVoipPay" >
    <!--@mbggenerated-->
    insert into VOIP_PAY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        PAY_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="uaId != null" >
        UA_ID,
      </if>
      <if test="userMobile != null" >
        USER_MOBILE,
      </if>
      <if test="cardNo != null" >
        CARD_NO,
      </if>
      <if test="isGift != null" >
        IS_GIFT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="payId != null" >
        #{payId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="uaId != null" >
        #{uaId,jdbcType=INTEGER},
      </if>
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="isGift != null" >
        #{isGift,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyVoipPay" >
    <!--@mbggenerated-->
    update VOIP_PAY
    <set >
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="uaId != null" >
        UA_ID = #{uaId,jdbcType=INTEGER},
      </if>
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null" >
        CARD_NO = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="isGift != null" >
        IS_GIFT = #{isGift,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PAY_ID = #{payId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyVoipPay" >
    <!--@mbggenerated-->
    update VOIP_PAY
    set ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      UA_ID = #{uaId,jdbcType=INTEGER},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      CARD_NO = #{cardNo,jdbcType=VARCHAR},
      IS_GIFT = #{isGift,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where PAY_ID = #{payId,jdbcType=INTEGER}
  </update>
</mapper>