<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfUserMapper">
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfUser">
    <!--@mbggenerated-->
    <id column="WX_ID" jdbcType="INTEGER" property="wxId" />
    <result column="WX_USERNAME" jdbcType="VARCHAR" property="wxUsername" />
    <result column="WX_NICKNAME" jdbcType="VARCHAR" property="wxNickname" />
    <result column="WX_PHOTO" jdbcType="VARCHAR" property="wxPhoto" />
    <result column="WX_SEX" jdbcType="TINYINT" property="wxSex" />
    <result column="WX_PROVINCE" jdbcType="VARCHAR" property="wxProvince" />
    <result column="WX_CITY" jdbcType="VARCHAR" property="wxCity" />
    <result column="WX_ADD_TIME" jdbcType="INTEGER" property="wxAddTime" />
    <result column="WX_MOBILE" jdbcType="VARCHAR" property="wxMobile" />
    <result column="WX_STATUS" jdbcType="TINYINT" property="wxStatus" />
    <result column="WX_LOCATE_CITY" jdbcType="INTEGER" property="wxLocateCity" />
    <result column="WX_MONEY" jdbcType="DOUBLE" property="wxMoney" />
    <result column="ARCHIVE_ID" jdbcType="INTEGER" property="archiveId" />
    <result column="SUBSCRIBE" jdbcType="TINYINT" property="subscribe" />
    <result column="POSITION_LAT" jdbcType="VARCHAR" property="positionLat" />
    <result column="POSITION_LNG" jdbcType="VARCHAR" property="positionLng" />
    <result column="BONUS_MONEY" jdbcType="DECIMAL" property="bonusMoney" />
    <result column="BONUS_TIME" jdbcType="TIMESTAMP" property="bonusTime" />
    <result column="BONUS_BILLNO" jdbcType="VARCHAR" property="bonusBillno" />
    <result column="LOTTERY_TIMES" jdbcType="INTEGER" property="lotteryTimes" />
    <result column="RED_MONEY" jdbcType="INTEGER" property="redMoney" />
    <result column="REMAIN_LOTTERY_TIMES" jdbcType="INTEGER" property="remainLotteryTimes" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="WX_UNIONID" jdbcType="VARCHAR" property="wxUnionid" />
    <result column="PRESENTER" jdbcType="VARCHAR" property="presenter" />
    <result column="PRESENT_TYPE" jdbcType="INTEGER" property="presentType" />
    <result column="IS_PAY" jdbcType="TINYINT" property="isPay" />
    <result column="WF_ACTIVITY" jdbcType="VARCHAR" property="wfActivity" />
    <result column="WX_PASSWORD" jdbcType="VARCHAR" property="wxPassword" />
    <result column="DEVICE_TOKEN" jdbcType="VARCHAR" property="deviceToken" />
    <result column="DEVICE_TYPE" jdbcType="TINYINT" property="deviceType" />
    <result column="WX_AGE" jdbcType="INTEGER" property="wxAge" />
    <result column="WX_INFO_TYPE" jdbcType="INTEGER" property="wxInfoType" />
    <result column="DEVICE_CID" jdbcType="VARCHAR" property="deviceCid" />
    <result column="OPEN_ID_BACK" jdbcType="VARCHAR" property="openIdBack" />
    <result column="OPEN_ID" jdbcType="VARCHAR" property="openId" />
    <result column="NICKNAME_WX" jdbcType="VARCHAR" property="nicknameWx" />
    <result column="PHOTO_WX" jdbcType="VARCHAR" property="photoWx" />
    <result column="UID_WX" jdbcType="VARCHAR" property="uidWx" />
    <result column="NICKNAME_QQ" jdbcType="VARCHAR" property="nicknameQq" />
    <result column="PHOTO_QQ" jdbcType="VARCHAR" property="photoQq" />
    <result column="UID_QQ" jdbcType="VARCHAR" property="uidQq" />
    <result column="NICKNAME_WB" jdbcType="VARCHAR" property="nicknameWb" />
    <result column="PHOTO_WB" jdbcType="VARCHAR" property="photoWb" />
    <result column="UID_WB" jdbcType="VARCHAR" property="uidWb" />
    <result column="UPTIME" jdbcType="TIMESTAMP" property="uptime" />
    <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="WX_BIRTHDAY" jdbcType="VARCHAR" property="wxBirthday" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="SPECIAL_ACOUNT" jdbcType="TINYINT" property="specialAcount" />
    <result column="MONEY_BOX_ID" jdbcType="INTEGER" property="moneyBoxId" />
    <result column="IDFA" jdbcType="VARCHAR" property="idfa" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
    <result column="DEFINE_APP_ID" jdbcType="VARCHAR" property="defineAppId" />
    <result column="MEGER_TIME" jdbcType="TIMESTAMP" property="megerTime" />
    <result column="OLD_CREATE_TIME" jdbcType="TIMESTAMP" property="oldCreateTime" />
    <result column="YUNXIN_TOKEN" jdbcType="VARCHAR" property="yunxinToken" />
    <result column="SOURCE_TYPE" jdbcType="TINYINT" property="sourceType" />
    <result column="YOUJIA_OPEN_ID" jdbcType="VARCHAR" property="youjiaOpenId" />
    <result column="YOUJIA_MOBILE" jdbcType="VARCHAR" property="youjiaMobile" />
    <result column="FILE_ADDR" jdbcType="VARCHAR" property="fileAddr" />
    <result column="PHONE_400" jdbcType="VARCHAR" property="phone400" />
    <result column="COMP_ID" jdbcType="INTEGER" property="compId" />
    <result column="WEIDIAN_OPEN_ID" jdbcType="VARCHAR" property="weidianOpenId" />
    <result column="WEIDIAN_MOBILE" jdbcType="VARCHAR" property="weidianMobile" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbggenerated-->
    WX_ID, WX_USERNAME, WX_NICKNAME, WX_PHOTO, WX_SEX, WX_PROVINCE, WX_CITY, WX_ADD_TIME, 
    WX_MOBILE, WX_STATUS, WX_LOCATE_CITY, WX_MONEY, ARCHIVE_ID, SUBSCRIBE, POSITION_LAT, 
    POSITION_LNG, BONUS_MONEY, BONUS_TIME, BONUS_BILLNO, LOTTERY_TIMES, RED_MONEY, REMAIN_LOTTERY_TIMES, 
    [TYPE], WX_UNIONID, PRESENTER, PRESENT_TYPE, IS_PAY, WF_ACTIVITY, WX_PASSWORD, DEVICE_TOKEN, 
    DEVICE_TYPE, WX_AGE, WX_INFO_TYPE, DEVICE_CID, OPEN_ID_BACK, OPEN_ID, NICKNAME_WX, 
    PHOTO_WX, UID_WX, NICKNAME_QQ, PHOTO_QQ, UID_QQ, NICKNAME_WB, PHOTO_WB, UID_WB, UPTIME, 
    LAST_LOGIN_TIME, WX_BIRTHDAY, CREATE_TIME, SPECIAL_ACOUNT, MONEY_BOX_ID, IDFA, IMEI, 
    DEFINE_APP_ID, MEGER_TIME, OLD_CREATE_TIME, YUNXIN_TOKEN, SOURCE_TYPE, YOUJIA_OPEN_ID, 
    YOUJIA_MOBILE, FILE_ADDR, PHONE_400, COMP_ID, WEIDIAN_OPEN_ID, WEIDIAN_MOBILE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_USER
    where WX_ID = #{wxId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbggenerated-->
    delete from WF_USER
    where WX_ID = #{wxId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfUser">
    <!--@mbggenerated-->
    <selectKey keyProperty="wxId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_USER (WX_USERNAME, WX_NICKNAME, WX_PHOTO, 
      WX_SEX, WX_PROVINCE, WX_CITY, 
      WX_ADD_TIME, WX_MOBILE, WX_STATUS, 
      WX_LOCATE_CITY, WX_MONEY, ARCHIVE_ID, 
      SUBSCRIBE, POSITION_LAT, POSITION_LNG, 
      BONUS_MONEY, BONUS_TIME, BONUS_BILLNO, 
      LOTTERY_TIMES, RED_MONEY, REMAIN_LOTTERY_TIMES, 
      [TYPE], WX_UNIONID, PRESENTER, 
      PRESENT_TYPE, IS_PAY, WF_ACTIVITY, 
      WX_PASSWORD, DEVICE_TOKEN, DEVICE_TYPE, 
      WX_AGE, WX_INFO_TYPE, DEVICE_CID, 
      OPEN_ID_BACK, OPEN_ID, NICKNAME_WX, 
      PHOTO_WX, UID_WX, NICKNAME_QQ, 
      PHOTO_QQ, UID_QQ, NICKNAME_WB, 
      PHOTO_WB, UID_WB, UPTIME, 
      LAST_LOGIN_TIME, WX_BIRTHDAY, CREATE_TIME, 
      SPECIAL_ACOUNT, MONEY_BOX_ID, IDFA, 
      IMEI, DEFINE_APP_ID, MEGER_TIME, 
      OLD_CREATE_TIME, YUNXIN_TOKEN, SOURCE_TYPE, 
      YOUJIA_OPEN_ID, YOUJIA_MOBILE, FILE_ADDR, 
      PHONE_400, COMP_ID, WEIDIAN_OPEN_ID, 
      WEIDIAN_MOBILE)
    values (#{wxUsername,jdbcType=VARCHAR}, #{wxNickname,jdbcType=VARCHAR}, #{wxPhoto,jdbcType=VARCHAR}, 
      #{wxSex,jdbcType=TINYINT}, #{wxProvince,jdbcType=VARCHAR}, #{wxCity,jdbcType=VARCHAR}, 
      #{wxAddTime,jdbcType=INTEGER}, #{wxMobile,jdbcType=VARCHAR}, #{wxStatus,jdbcType=TINYINT}, 
      #{wxLocateCity,jdbcType=INTEGER}, #{wxMoney,jdbcType=DOUBLE}, #{archiveId,jdbcType=INTEGER}, 
      #{subscribe,jdbcType=TINYINT}, #{positionLat,jdbcType=VARCHAR}, #{positionLng,jdbcType=VARCHAR}, 
      #{bonusMoney,jdbcType=DECIMAL}, #{bonusTime,jdbcType=TIMESTAMP}, #{bonusBillno,jdbcType=VARCHAR}, 
      #{lotteryTimes,jdbcType=INTEGER}, #{redMoney,jdbcType=INTEGER}, #{remainLotteryTimes,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{wxUnionid,jdbcType=VARCHAR}, #{presenter,jdbcType=VARCHAR}, 
      #{presentType,jdbcType=INTEGER}, #{isPay,jdbcType=TINYINT}, #{wfActivity,jdbcType=VARCHAR}, 
      #{wxPassword,jdbcType=VARCHAR}, #{deviceToken,jdbcType=VARCHAR}, #{deviceType,jdbcType=TINYINT}, 
      #{wxAge,jdbcType=INTEGER}, #{wxInfoType,jdbcType=INTEGER}, #{deviceCid,jdbcType=VARCHAR}, 
      #{openIdBack,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{nicknameWx,jdbcType=VARCHAR}, 
      #{photoWx,jdbcType=VARCHAR}, #{uidWx,jdbcType=VARCHAR}, #{nicknameQq,jdbcType=VARCHAR}, 
      #{photoQq,jdbcType=VARCHAR}, #{uidQq,jdbcType=VARCHAR}, #{nicknameWb,jdbcType=VARCHAR}, 
      #{photoWb,jdbcType=VARCHAR}, #{uidWb,jdbcType=VARCHAR}, #{uptime,jdbcType=TIMESTAMP}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{wxBirthday,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{specialAcount,jdbcType=TINYINT}, #{moneyBoxId,jdbcType=INTEGER}, #{idfa,jdbcType=VARCHAR}, 
      #{imei,jdbcType=VARCHAR}, #{defineAppId,jdbcType=VARCHAR}, #{megerTime,jdbcType=TIMESTAMP}, 
      #{oldCreateTime,jdbcType=TIMESTAMP}, #{yunxinToken,jdbcType=VARCHAR}, #{sourceType,jdbcType=TINYINT}, 
      #{youjiaOpenId,jdbcType=VARCHAR}, #{youjiaMobile,jdbcType=VARCHAR}, #{fileAddr,jdbcType=VARCHAR}, 
      #{phone400,jdbcType=VARCHAR}, #{compId,jdbcType=INTEGER}, #{weidianOpenId,jdbcType=VARCHAR}, 
      #{weidianMobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfUser">
    <!--@mbggenerated-->
    <selectKey keyProperty="wxId" order="AFTER" resultType="java.lang.Integer">
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into WF_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wxUsername != null">
        WX_USERNAME,
      </if>
      <if test="wxNickname != null">
        WX_NICKNAME,
      </if>
      <if test="wxPhoto != null">
        WX_PHOTO,
      </if>
      <if test="wxSex != null">
        WX_SEX,
      </if>
      <if test="wxProvince != null">
        WX_PROVINCE,
      </if>
      <if test="wxCity != null">
        WX_CITY,
      </if>
      <if test="wxAddTime != null">
        WX_ADD_TIME,
      </if>
      <if test="wxMobile != null">
        WX_MOBILE,
      </if>
      <if test="wxStatus != null">
        WX_STATUS,
      </if>
      <if test="wxLocateCity != null">
        WX_LOCATE_CITY,
      </if>
      <if test="wxMoney != null">
        WX_MONEY,
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID,
      </if>
      <if test="subscribe != null">
        SUBSCRIBE,
      </if>
      <if test="positionLat != null">
        POSITION_LAT,
      </if>
      <if test="positionLng != null">
        POSITION_LNG,
      </if>
      <if test="bonusMoney != null">
        BONUS_MONEY,
      </if>
      <if test="bonusTime != null">
        BONUS_TIME,
      </if>
      <if test="bonusBillno != null">
        BONUS_BILLNO,
      </if>
      <if test="lotteryTimes != null">
        LOTTERY_TIMES,
      </if>
      <if test="redMoney != null">
        RED_MONEY,
      </if>
      <if test="remainLotteryTimes != null">
        REMAIN_LOTTERY_TIMES,
      </if>
      <if test="type != null">
        [TYPE],
      </if>
      <if test="wxUnionid != null">
        WX_UNIONID,
      </if>
      <if test="presenter != null">
        PRESENTER,
      </if>
      <if test="presentType != null">
        PRESENT_TYPE,
      </if>
      <if test="isPay != null">
        IS_PAY,
      </if>
      <if test="wfActivity != null">
        WF_ACTIVITY,
      </if>
      <if test="wxPassword != null">
        WX_PASSWORD,
      </if>
      <if test="deviceToken != null">
        DEVICE_TOKEN,
      </if>
      <if test="deviceType != null">
        DEVICE_TYPE,
      </if>
      <if test="wxAge != null">
        WX_AGE,
      </if>
      <if test="wxInfoType != null">
        WX_INFO_TYPE,
      </if>
      <if test="deviceCid != null">
        DEVICE_CID,
      </if>
      <if test="openIdBack != null">
        OPEN_ID_BACK,
      </if>
      <if test="openId != null">
        OPEN_ID,
      </if>
      <if test="nicknameWx != null">
        NICKNAME_WX,
      </if>
      <if test="photoWx != null">
        PHOTO_WX,
      </if>
      <if test="uidWx != null">
        UID_WX,
      </if>
      <if test="nicknameQq != null">
        NICKNAME_QQ,
      </if>
      <if test="photoQq != null">
        PHOTO_QQ,
      </if>
      <if test="uidQq != null">
        UID_QQ,
      </if>
      <if test="nicknameWb != null">
        NICKNAME_WB,
      </if>
      <if test="photoWb != null">
        PHOTO_WB,
      </if>
      <if test="uidWb != null">
        UID_WB,
      </if>
      <if test="uptime != null">
        UPTIME,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="wxBirthday != null">
        WX_BIRTHDAY,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="specialAcount != null">
        SPECIAL_ACOUNT,
      </if>
      <if test="moneyBoxId != null">
        MONEY_BOX_ID,
      </if>
      <if test="idfa != null">
        IDFA,
      </if>
      <if test="imei != null">
        IMEI,
      </if>
      <if test="defineAppId != null">
        DEFINE_APP_ID,
      </if>
      <if test="megerTime != null">
        MEGER_TIME,
      </if>
      <if test="oldCreateTime != null">
        OLD_CREATE_TIME,
      </if>
      <if test="yunxinToken != null">
        YUNXIN_TOKEN,
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE,
      </if>
      <if test="youjiaOpenId != null">
        YOUJIA_OPEN_ID,
      </if>
      <if test="youjiaMobile != null">
        YOUJIA_MOBILE,
      </if>
      <if test="fileAddr != null">
        FILE_ADDR,
      </if>
      <if test="phone400 != null">
        PHONE_400,
      </if>
      <if test="compId != null">
        COMP_ID,
      </if>
      <if test="weidianOpenId != null">
        WEIDIAN_OPEN_ID,
      </if>
      <if test="weidianMobile != null">
        WEIDIAN_MOBILE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wxUsername != null">
        #{wxUsername,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null">
        #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxPhoto != null">
        #{wxPhoto,jdbcType=VARCHAR},
      </if>
      <if test="wxSex != null">
        #{wxSex,jdbcType=TINYINT},
      </if>
      <if test="wxProvince != null">
        #{wxProvince,jdbcType=VARCHAR},
      </if>
      <if test="wxCity != null">
        #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxAddTime != null">
        #{wxAddTime,jdbcType=INTEGER},
      </if>
      <if test="wxMobile != null">
        #{wxMobile,jdbcType=VARCHAR},
      </if>
      <if test="wxStatus != null">
        #{wxStatus,jdbcType=TINYINT},
      </if>
      <if test="wxLocateCity != null">
        #{wxLocateCity,jdbcType=INTEGER},
      </if>
      <if test="wxMoney != null">
        #{wxMoney,jdbcType=DOUBLE},
      </if>
      <if test="archiveId != null">
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="subscribe != null">
        #{subscribe,jdbcType=TINYINT},
      </if>
      <if test="positionLat != null">
        #{positionLat,jdbcType=VARCHAR},
      </if>
      <if test="positionLng != null">
        #{positionLng,jdbcType=VARCHAR},
      </if>
      <if test="bonusMoney != null">
        #{bonusMoney,jdbcType=DECIMAL},
      </if>
      <if test="bonusTime != null">
        #{bonusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bonusBillno != null">
        #{bonusBillno,jdbcType=VARCHAR},
      </if>
      <if test="lotteryTimes != null">
        #{lotteryTimes,jdbcType=INTEGER},
      </if>
      <if test="redMoney != null">
        #{redMoney,jdbcType=INTEGER},
      </if>
      <if test="remainLotteryTimes != null">
        #{remainLotteryTimes,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="wxUnionid != null">
        #{wxUnionid,jdbcType=VARCHAR},
      </if>
      <if test="presenter != null">
        #{presenter,jdbcType=VARCHAR},
      </if>
      <if test="presentType != null">
        #{presentType,jdbcType=INTEGER},
      </if>
      <if test="isPay != null">
        #{isPay,jdbcType=TINYINT},
      </if>
      <if test="wfActivity != null">
        #{wfActivity,jdbcType=VARCHAR},
      </if>
      <if test="wxPassword != null">
        #{wxPassword,jdbcType=VARCHAR},
      </if>
      <if test="deviceToken != null">
        #{deviceToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=TINYINT},
      </if>
      <if test="wxAge != null">
        #{wxAge,jdbcType=INTEGER},
      </if>
      <if test="wxInfoType != null">
        #{wxInfoType,jdbcType=INTEGER},
      </if>
      <if test="deviceCid != null">
        #{deviceCid,jdbcType=VARCHAR},
      </if>
      <if test="openIdBack != null">
        #{openIdBack,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nicknameWx != null">
        #{nicknameWx,jdbcType=VARCHAR},
      </if>
      <if test="photoWx != null">
        #{photoWx,jdbcType=VARCHAR},
      </if>
      <if test="uidWx != null">
        #{uidWx,jdbcType=VARCHAR},
      </if>
      <if test="nicknameQq != null">
        #{nicknameQq,jdbcType=VARCHAR},
      </if>
      <if test="photoQq != null">
        #{photoQq,jdbcType=VARCHAR},
      </if>
      <if test="uidQq != null">
        #{uidQq,jdbcType=VARCHAR},
      </if>
      <if test="nicknameWb != null">
        #{nicknameWb,jdbcType=VARCHAR},
      </if>
      <if test="photoWb != null">
        #{photoWb,jdbcType=VARCHAR},
      </if>
      <if test="uidWb != null">
        #{uidWb,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null">
        #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wxBirthday != null">
        #{wxBirthday,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="specialAcount != null">
        #{specialAcount,jdbcType=TINYINT},
      </if>
      <if test="moneyBoxId != null">
        #{moneyBoxId,jdbcType=INTEGER},
      </if>
      <if test="idfa != null">
        #{idfa,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="defineAppId != null">
        #{defineAppId,jdbcType=VARCHAR},
      </if>
      <if test="megerTime != null">
        #{megerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldCreateTime != null">
        #{oldCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yunxinToken != null">
        #{yunxinToken,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="youjiaOpenId != null">
        #{youjiaOpenId,jdbcType=VARCHAR},
      </if>
      <if test="youjiaMobile != null">
        #{youjiaMobile,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="phone400 != null">
        #{phone400,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="weidianOpenId != null">
        #{weidianOpenId,jdbcType=VARCHAR},
      </if>
      <if test="weidianMobile != null">
        #{weidianMobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfUser">
    <!--@mbggenerated-->
    update WF_USER
    <set>
      <if test="wxUsername != null">
        WX_USERNAME = #{wxUsername,jdbcType=VARCHAR},
      </if>
      <if test="wxNickname != null">
        WX_NICKNAME = #{wxNickname,jdbcType=VARCHAR},
      </if>
      <if test="wxPhoto != null">
        WX_PHOTO = #{wxPhoto,jdbcType=VARCHAR},
      </if>
      <if test="wxSex != null">
        WX_SEX = #{wxSex,jdbcType=TINYINT},
      </if>
      <if test="wxProvince != null">
        WX_PROVINCE = #{wxProvince,jdbcType=VARCHAR},
      </if>
      <if test="wxCity != null">
        WX_CITY = #{wxCity,jdbcType=VARCHAR},
      </if>
      <if test="wxAddTime != null">
        WX_ADD_TIME = #{wxAddTime,jdbcType=INTEGER},
      </if>
      <if test="wxMobile != null">
        WX_MOBILE = #{wxMobile,jdbcType=VARCHAR},
      </if>
      <if test="wxStatus != null">
        WX_STATUS = #{wxStatus,jdbcType=TINYINT},
      </if>
      <if test="wxLocateCity != null">
        WX_LOCATE_CITY = #{wxLocateCity,jdbcType=INTEGER},
      </if>
      <if test="wxMoney != null">
        WX_MONEY = #{wxMoney,jdbcType=DOUBLE},
      </if>
      <if test="archiveId != null">
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="subscribe != null">
        SUBSCRIBE = #{subscribe,jdbcType=TINYINT},
      </if>
      <if test="positionLat != null">
        POSITION_LAT = #{positionLat,jdbcType=VARCHAR},
      </if>
      <if test="positionLng != null">
        POSITION_LNG = #{positionLng,jdbcType=VARCHAR},
      </if>
      <if test="bonusMoney != null">
        BONUS_MONEY = #{bonusMoney,jdbcType=DECIMAL},
      </if>
      <if test="bonusTime != null">
        BONUS_TIME = #{bonusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bonusBillno != null">
        BONUS_BILLNO = #{bonusBillno,jdbcType=VARCHAR},
      </if>
      <if test="lotteryTimes != null">
        LOTTERY_TIMES = #{lotteryTimes,jdbcType=INTEGER},
      </if>
      <if test="redMoney != null">
        RED_MONEY = #{redMoney,jdbcType=INTEGER},
      </if>
      <if test="remainLotteryTimes != null">
        REMAIN_LOTTERY_TIMES = #{remainLotteryTimes,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        [TYPE] = #{type,jdbcType=INTEGER},
      </if>
      <if test="wxUnionid != null">
        WX_UNIONID = #{wxUnionid,jdbcType=VARCHAR},
      </if>
      <if test="presenter != null">
        PRESENTER = #{presenter,jdbcType=VARCHAR},
      </if>
      <if test="presentType != null">
        PRESENT_TYPE = #{presentType,jdbcType=INTEGER},
      </if>
      <if test="isPay != null">
        IS_PAY = #{isPay,jdbcType=TINYINT},
      </if>
      <if test="wfActivity != null">
        WF_ACTIVITY = #{wfActivity,jdbcType=VARCHAR},
      </if>
      <if test="wxPassword != null">
        WX_PASSWORD = #{wxPassword,jdbcType=VARCHAR},
      </if>
      <if test="deviceToken != null">
        DEVICE_TOKEN = #{deviceToken,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        DEVICE_TYPE = #{deviceType,jdbcType=TINYINT},
      </if>
      <if test="wxAge != null">
        WX_AGE = #{wxAge,jdbcType=INTEGER},
      </if>
      <if test="wxInfoType != null">
        WX_INFO_TYPE = #{wxInfoType,jdbcType=INTEGER},
      </if>
      <if test="deviceCid != null">
        DEVICE_CID = #{deviceCid,jdbcType=VARCHAR},
      </if>
      <if test="openIdBack != null">
        OPEN_ID_BACK = #{openIdBack,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        OPEN_ID = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="nicknameWx != null">
        NICKNAME_WX = #{nicknameWx,jdbcType=VARCHAR},
      </if>
      <if test="photoWx != null">
        PHOTO_WX = #{photoWx,jdbcType=VARCHAR},
      </if>
      <if test="uidWx != null">
        UID_WX = #{uidWx,jdbcType=VARCHAR},
      </if>
      <if test="nicknameQq != null">
        NICKNAME_QQ = #{nicknameQq,jdbcType=VARCHAR},
      </if>
      <if test="photoQq != null">
        PHOTO_QQ = #{photoQq,jdbcType=VARCHAR},
      </if>
      <if test="uidQq != null">
        UID_QQ = #{uidQq,jdbcType=VARCHAR},
      </if>
      <if test="nicknameWb != null">
        NICKNAME_WB = #{nicknameWb,jdbcType=VARCHAR},
      </if>
      <if test="photoWb != null">
        PHOTO_WB = #{photoWb,jdbcType=VARCHAR},
      </if>
      <if test="uidWb != null">
        UID_WB = #{uidWb,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null">
        UPTIME = #{uptime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wxBirthday != null">
        WX_BIRTHDAY = #{wxBirthday,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="specialAcount != null">
        SPECIAL_ACOUNT = #{specialAcount,jdbcType=TINYINT},
      </if>
      <if test="moneyBoxId != null">
        MONEY_BOX_ID = #{moneyBoxId,jdbcType=INTEGER},
      </if>
      <if test="idfa != null">
        IDFA = #{idfa,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        IMEI = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="defineAppId != null">
        DEFINE_APP_ID = #{defineAppId,jdbcType=VARCHAR},
      </if>
      <if test="megerTime != null">
        MEGER_TIME = #{megerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oldCreateTime != null">
        OLD_CREATE_TIME = #{oldCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yunxinToken != null">
        YUNXIN_TOKEN = #{yunxinToken,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        SOURCE_TYPE = #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="youjiaOpenId != null">
        YOUJIA_OPEN_ID = #{youjiaOpenId,jdbcType=VARCHAR},
      </if>
      <if test="youjiaMobile != null">
        YOUJIA_MOBILE = #{youjiaMobile,jdbcType=VARCHAR},
      </if>
      <if test="fileAddr != null">
        FILE_ADDR = #{fileAddr,jdbcType=VARCHAR},
      </if>
      <if test="phone400 != null">
        PHONE_400 = #{phone400,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="weidianOpenId != null">
        WEIDIAN_OPEN_ID = #{weidianOpenId,jdbcType=VARCHAR},
      </if>
      <if test="weidianMobile != null">
        WEIDIAN_MOBILE = #{weidianMobile,jdbcType=VARCHAR},
      </if>
    </set>
    where WX_ID = #{wxId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfUser">
    <!--@mbggenerated-->
    update WF_USER
    set WX_USERNAME = #{wxUsername,jdbcType=VARCHAR},
      WX_NICKNAME = #{wxNickname,jdbcType=VARCHAR},
      WX_PHOTO = #{wxPhoto,jdbcType=VARCHAR},
      WX_SEX = #{wxSex,jdbcType=TINYINT},
      WX_PROVINCE = #{wxProvince,jdbcType=VARCHAR},
      WX_CITY = #{wxCity,jdbcType=VARCHAR},
      WX_ADD_TIME = #{wxAddTime,jdbcType=INTEGER},
      WX_MOBILE = #{wxMobile,jdbcType=VARCHAR},
      WX_STATUS = #{wxStatus,jdbcType=TINYINT},
      WX_LOCATE_CITY = #{wxLocateCity,jdbcType=INTEGER},
      WX_MONEY = #{wxMoney,jdbcType=DOUBLE},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      SUBSCRIBE = #{subscribe,jdbcType=TINYINT},
      POSITION_LAT = #{positionLat,jdbcType=VARCHAR},
      POSITION_LNG = #{positionLng,jdbcType=VARCHAR},
      BONUS_MONEY = #{bonusMoney,jdbcType=DECIMAL},
      BONUS_TIME = #{bonusTime,jdbcType=TIMESTAMP},
      BONUS_BILLNO = #{bonusBillno,jdbcType=VARCHAR},
      LOTTERY_TIMES = #{lotteryTimes,jdbcType=INTEGER},
      RED_MONEY = #{redMoney,jdbcType=INTEGER},
      REMAIN_LOTTERY_TIMES = #{remainLotteryTimes,jdbcType=INTEGER},
      [TYPE] = #{type,jdbcType=INTEGER},
      WX_UNIONID = #{wxUnionid,jdbcType=VARCHAR},
      PRESENTER = #{presenter,jdbcType=VARCHAR},
      PRESENT_TYPE = #{presentType,jdbcType=INTEGER},
      IS_PAY = #{isPay,jdbcType=TINYINT},
      WF_ACTIVITY = #{wfActivity,jdbcType=VARCHAR},
      WX_PASSWORD = #{wxPassword,jdbcType=VARCHAR},
      DEVICE_TOKEN = #{deviceToken,jdbcType=VARCHAR},
      DEVICE_TYPE = #{deviceType,jdbcType=TINYINT},
      WX_AGE = #{wxAge,jdbcType=INTEGER},
      WX_INFO_TYPE = #{wxInfoType,jdbcType=INTEGER},
      DEVICE_CID = #{deviceCid,jdbcType=VARCHAR},
      OPEN_ID_BACK = #{openIdBack,jdbcType=VARCHAR},
      OPEN_ID = #{openId,jdbcType=VARCHAR},
      NICKNAME_WX = #{nicknameWx,jdbcType=VARCHAR},
      PHOTO_WX = #{photoWx,jdbcType=VARCHAR},
      UID_WX = #{uidWx,jdbcType=VARCHAR},
      NICKNAME_QQ = #{nicknameQq,jdbcType=VARCHAR},
      PHOTO_QQ = #{photoQq,jdbcType=VARCHAR},
      UID_QQ = #{uidQq,jdbcType=VARCHAR},
      NICKNAME_WB = #{nicknameWb,jdbcType=VARCHAR},
      PHOTO_WB = #{photoWb,jdbcType=VARCHAR},
      UID_WB = #{uidWb,jdbcType=VARCHAR},
      UPTIME = #{uptime,jdbcType=TIMESTAMP},
      LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      WX_BIRTHDAY = #{wxBirthday,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      SPECIAL_ACOUNT = #{specialAcount,jdbcType=TINYINT},
      MONEY_BOX_ID = #{moneyBoxId,jdbcType=INTEGER},
      IDFA = #{idfa,jdbcType=VARCHAR},
      IMEI = #{imei,jdbcType=VARCHAR},
      DEFINE_APP_ID = #{defineAppId,jdbcType=VARCHAR},
      MEGER_TIME = #{megerTime,jdbcType=TIMESTAMP},
      OLD_CREATE_TIME = #{oldCreateTime,jdbcType=TIMESTAMP},
      YUNXIN_TOKEN = #{yunxinToken,jdbcType=VARCHAR},
      SOURCE_TYPE = #{sourceType,jdbcType=TINYINT},
      YOUJIA_OPEN_ID = #{youjiaOpenId,jdbcType=VARCHAR},
      YOUJIA_MOBILE = #{youjiaMobile,jdbcType=VARCHAR},
      FILE_ADDR = #{fileAddr,jdbcType=VARCHAR},
      PHONE_400 = #{phone400,jdbcType=VARCHAR},
      COMP_ID = #{compId,jdbcType=INTEGER},
      WEIDIAN_OPEN_ID = #{weidianOpenId,jdbcType=VARCHAR},
      WEIDIAN_MOBILE = #{weidianMobile,jdbcType=VARCHAR}
    where WX_ID = #{wxId,jdbcType=INTEGER}
  </update>
  <select id="getWfUserListByCaseIds" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	from WF_USER
	where WX_ID IN
	<foreach close=")" collection="caseIds" item="caseId"
		open="(" separator=",">
		#{caseId}
	</foreach>
</select>
</mapper>