<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyBuildActivityPhotoMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyBuildActivityPhoto" >
    <!--@mbggenerated-->
    <id column="PHOTO_ID" property="photoId" jdbcType="INTEGER" />
    <result column="ACT_ID" property="actId" jdbcType="INTEGER" />
    <result column="PHOTO_ADDR" property="photoAddr" jdbcType="VARCHAR" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    PHOTO_ID, ACT_ID, PHOTO_ADDR, CREATION_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from BUILD_ACTIVITY_PHOTO
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from BUILD_ACTIVITY_PHOTO
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyBuildActivityPhoto" >
    <!--@mbggenerated-->
    insert into BUILD_ACTIVITY_PHOTO (PHOTO_ID, ACT_ID, PHOTO_ADDR, 
      CREATION_TIME)
    values (#{photoId,jdbcType=INTEGER}, #{actId,jdbcType=INTEGER}, #{photoAddr,jdbcType=VARCHAR}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyBuildActivityPhoto" >
    <!--@mbggenerated-->
    insert into BUILD_ACTIVITY_PHOTO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="photoId != null" >
        PHOTO_ID,
      </if>
      <if test="actId != null" >
        ACT_ID,
      </if>
      <if test="photoAddr != null" >
        PHOTO_ADDR,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="photoId != null" >
        #{photoId,jdbcType=INTEGER},
      </if>
      <if test="actId != null" >
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null" >
        #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyBuildActivityPhoto" >
    <!--@mbggenerated-->
    update BUILD_ACTIVITY_PHOTO
    <set >
      <if test="actId != null" >
        ACT_ID = #{actId,jdbcType=INTEGER},
      </if>
      <if test="photoAddr != null" >
        PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyBuildActivityPhoto" >
    <!--@mbggenerated-->
    update BUILD_ACTIVITY_PHOTO
    set ACT_ID = #{actId,jdbcType=INTEGER},
      PHOTO_ADDR = #{photoAddr,jdbcType=VARCHAR},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where PHOTO_ID = #{photoId,jdbcType=INTEGER}
  </update>
</mapper>