<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyVoipAmountLogMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyVoipAmountLog" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="SYS_IP_AMOUNT" property="sysIpAmount" jdbcType="NUMERIC" />
    <result column="IP_AMOUNT" property="ipAmount" jdbcType="NUMERIC" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, USER_MOBILE, SYS_IP_AMOUNT, IP_AMOUNT, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from VOIP_AMOUNT_LOG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from VOIP_AMOUNT_LOG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyVoipAmountLog" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into VOIP_AMOUNT_LOG (USER_MOBILE, SYS_IP_AMOUNT, IP_AMOUNT, 
      CREATE_TIME)
    values (#{userMobile,jdbcType=VARCHAR}, #{sysIpAmount,jdbcType=NUMERIC}, #{ipAmount,jdbcType=NUMERIC}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyVoipAmountLog" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into VOIP_AMOUNT_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userMobile != null" >
        USER_MOBILE,
      </if>
      <if test="sysIpAmount != null" >
        SYS_IP_AMOUNT,
      </if>
      <if test="ipAmount != null" >
        IP_AMOUNT,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userMobile != null" >
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="sysIpAmount != null" >
        #{sysIpAmount,jdbcType=NUMERIC},
      </if>
      <if test="ipAmount != null" >
        #{ipAmount,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyVoipAmountLog" >
    <!--@mbggenerated-->
    update VOIP_AMOUNT_LOG
    <set >
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="sysIpAmount != null" >
        SYS_IP_AMOUNT = #{sysIpAmount,jdbcType=NUMERIC},
      </if>
      <if test="ipAmount != null" >
        IP_AMOUNT = #{ipAmount,jdbcType=NUMERIC},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyVoipAmountLog" >
    <!--@mbggenerated-->
    update VOIP_AMOUNT_LOG
    set USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      SYS_IP_AMOUNT = #{sysIpAmount,jdbcType=NUMERIC},
      IP_AMOUNT = #{ipAmount,jdbcType=NUMERIC},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>