<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyPhoneViewLogMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyPhoneViewLog" >
    <!--@mbggenerated-->
    <id column="VIEW_ID" property="viewId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="CASE_ID" property="caseId" jdbcType="INTEGER" />
    <result column="CASE_TYPE" property="caseType" jdbcType="VARCHAR" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="VIEW_USER" property="viewUser" jdbcType="INTEGER" />
    <result column="VIEW_TIME" property="viewTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    VIEW_ID, CITY_ID, CASE_ID, CASE_TYPE, COMP_ID, VIEW_USER, VIEW_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from PHONE_VIEW_LOG
    where VIEW_ID = #{viewId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from PHONE_VIEW_LOG
    where VIEW_ID = #{viewId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyPhoneViewLog" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="viewId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into PHONE_VIEW_LOG (CITY_ID, CASE_ID, CASE_TYPE, 
      COMP_ID, VIEW_USER, VIEW_TIME
      )
    values (#{cityId,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{caseType,jdbcType=VARCHAR}, 
      #{compId,jdbcType=INTEGER}, #{viewUser,jdbcType=INTEGER}, #{viewTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyPhoneViewLog" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="viewId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into PHONE_VIEW_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="caseId != null" >
        CASE_ID,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="viewUser != null" >
        VIEW_USER,
      </if>
      <if test="viewTime != null" >
        VIEW_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="viewUser != null" >
        #{viewUser,jdbcType=INTEGER},
      </if>
      <if test="viewTime != null" >
        #{viewTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyPhoneViewLog" >
    <!--@mbggenerated-->
    update PHONE_VIEW_LOG
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=VARCHAR},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="viewUser != null" >
        VIEW_USER = #{viewUser,jdbcType=INTEGER},
      </if>
      <if test="viewTime != null" >
        VIEW_TIME = #{viewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where VIEW_ID = #{viewId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyPhoneViewLog" >
    <!--@mbggenerated-->
    update PHONE_VIEW_LOG
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      CASE_ID = #{caseId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=VARCHAR},
      COMP_ID = #{compId,jdbcType=INTEGER},
      VIEW_USER = #{viewUser,jdbcType=INTEGER},
      VIEW_TIME = #{viewTime,jdbcType=TIMESTAMP}
    where VIEW_ID = #{viewId,jdbcType=INTEGER}
  </update>
</mapper>