<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyFinancialTrackMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyFinancialTrack" >
    <!--@mbggenerated-->
    <id column="TRACK_ID" property="trackId" jdbcType="INTEGER" />
    <result column="DETAIL_ID" property="detailId" jdbcType="INTEGER" />
    <result column="TRACK_CONTENT" property="trackContent" jdbcType="VARCHAR" />
    <result column="TRACK_UID" property="trackUid" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    TRACK_ID, DETAIL_ID, TRACK_CONTENT, TRACK_UID, CREATION_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from FINANCIAL_TRACK
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from FINANCIAL_TRACK
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyFinancialTrack" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="trackId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FINANCIAL_TRACK (DETAIL_ID, TRACK_CONTENT, TRACK_UID, 
      CREATION_TIME)
    values (#{detailId,jdbcType=INTEGER}, #{trackContent,jdbcType=VARCHAR}, #{trackUid,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyFinancialTrack" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="trackId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into FINANCIAL_TRACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        DETAIL_ID,
      </if>
      <if test="trackContent != null" >
        TRACK_CONTENT,
      </if>
      <if test="trackUid != null" >
        TRACK_UID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailId != null" >
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="trackContent != null" >
        #{trackContent,jdbcType=VARCHAR},
      </if>
      <if test="trackUid != null" >
        #{trackUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyFinancialTrack" >
    <!--@mbggenerated-->
    update FINANCIAL_TRACK
    <set >
      <if test="detailId != null" >
        DETAIL_ID = #{detailId,jdbcType=INTEGER},
      </if>
      <if test="trackContent != null" >
        TRACK_CONTENT = #{trackContent,jdbcType=VARCHAR},
      </if>
      <if test="trackUid != null" >
        TRACK_UID = #{trackUid,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyFinancialTrack" >
    <!--@mbggenerated-->
    update FINANCIAL_TRACK
    set DETAIL_ID = #{detailId,jdbcType=INTEGER},
      TRACK_CONTENT = #{trackContent,jdbcType=VARCHAR},
      TRACK_UID = #{trackUid,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP}
    where TRACK_ID = #{trackId,jdbcType=INTEGER}
  </update>
  
  <!-- buniess -->
  <select id="getFinancialTrack" resultMap="BaseResultMap">
  	select   <include refid="Base_Column_List" /> from FINANCIAL_TRACK
  	where DETAIL_ID = #{detailId}
  	order by CREATION_TIME DESC
  </select>
  
</mapper>