<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyWfDidiTrackMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyWfDidiTrack" >
    <!--@mbggenerated-->
    <id column="WF_ID" property="wfId" jdbcType="INTEGER" />
    <result column="CASE_ID" property="caseId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="CASE_TYPE" property="caseType" jdbcType="TINYINT" />
    <result column="TRACK_TYPE" property="trackType" jdbcType="VARCHAR" />
    <result column="TRACK_CONTENT" property="trackContent" jdbcType="VARCHAR" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="TRACK_SOURCE" property="trackSource" jdbcType="TINYINT" />
    <result column="TRACK_TITLE" property="trackTitle" jdbcType="VARCHAR" />
    <result column="FROM_SOURCE" property="fromSource" jdbcType="TINYINT" />
    <result column="IS_B" property="isB" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    WF_ID, CASE_ID, CITY_ID, CASE_TYPE, TRACK_TYPE, TRACK_CONTENT, ARCHIVE_ID, CREATE_TIME, 
    TRACK_SOURCE, TRACK_TITLE, FROM_SOURCE, IS_B
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.agencydb.po.AgencyWfDidiTrackExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WF_DIDI_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from WF_DIDI_TRACK
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from WF_DIDI_TRACK
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.agencydb.po.AgencyWfDidiTrackExample" >
    <!--@mbggenerated-->
    delete from WF_DIDI_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyWfDidiTrack" useGeneratedKeys="true" keyProperty="wfId" >
    <!--@mbggenerated-->
    insert into WF_DIDI_TRACK (CASE_ID, CITY_ID, CASE_TYPE, 
      TRACK_TYPE, TRACK_CONTENT, ARCHIVE_ID, 
      CREATE_TIME, TRACK_SOURCE, TRACK_TITLE, 
      FROM_SOURCE, IS_B)
    values (#{caseId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT}, 
      #{trackType,jdbcType=VARCHAR}, #{trackContent,jdbcType=VARCHAR}, #{archiveId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{trackSource,jdbcType=TINYINT}, #{trackTitle,jdbcType=VARCHAR}, 
      #{fromSource,jdbcType=TINYINT}, #{isB,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfDidiTrack" useGeneratedKeys="true" keyProperty="wfId" >
    <!--@mbggenerated-->
    insert into WF_DIDI_TRACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caseId != null" >
        CASE_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
      <if test="trackType != null" >
        TRACK_TYPE,
      </if>
      <if test="trackContent != null" >
        TRACK_CONTENT,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="trackSource != null" >
        TRACK_SOURCE,
      </if>
      <if test="trackTitle != null" >
        TRACK_TITLE,
      </if>
      <if test="fromSource != null" >
        FROM_SOURCE,
      </if>
      <if test="isB != null" >
        IS_B,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=TINYINT},
      </if>
      <if test="trackType != null" >
        #{trackType,jdbcType=VARCHAR},
      </if>
      <if test="trackContent != null" >
        #{trackContent,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="trackSource != null" >
        #{trackSource,jdbcType=TINYINT},
      </if>
      <if test="trackTitle != null" >
        #{trackTitle,jdbcType=VARCHAR},
      </if>
      <if test="fromSource != null" >
        #{fromSource,jdbcType=TINYINT},
      </if>
      <if test="isB != null" >
        #{isB,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.agencydb.po.AgencyWfDidiTrackExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from WF_DIDI_TRACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update WF_DIDI_TRACK
    <set >
      <if test="record.wfId != null" >
        WF_ID = #{record.wfId,jdbcType=INTEGER},
      </if>
      <if test="record.caseId != null" >
        CASE_ID = #{record.caseId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null" >
        CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      </if>
      <if test="record.trackType != null" >
        TRACK_TYPE = #{record.trackType,jdbcType=VARCHAR},
      </if>
      <if test="record.trackContent != null" >
        TRACK_CONTENT = #{record.trackContent,jdbcType=VARCHAR},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.trackSource != null" >
        TRACK_SOURCE = #{record.trackSource,jdbcType=TINYINT},
      </if>
      <if test="record.trackTitle != null" >
        TRACK_TITLE = #{record.trackTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.fromSource != null" >
        FROM_SOURCE = #{record.fromSource,jdbcType=TINYINT},
      </if>
      <if test="record.isB != null" >
        IS_B = #{record.isB,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update WF_DIDI_TRACK
    set WF_ID = #{record.wfId,jdbcType=INTEGER},
      CASE_ID = #{record.caseId,jdbcType=INTEGER},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      TRACK_TYPE = #{record.trackType,jdbcType=VARCHAR},
      TRACK_CONTENT = #{record.trackContent,jdbcType=VARCHAR},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      TRACK_SOURCE = #{record.trackSource,jdbcType=TINYINT},
      TRACK_TITLE = #{record.trackTitle,jdbcType=VARCHAR},
      FROM_SOURCE = #{record.fromSource,jdbcType=TINYINT},
      IS_B = #{record.isB,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyWfDidiTrack" >
    <!--@mbggenerated-->
    update WF_DIDI_TRACK
    <set >
      <if test="caseId != null" >
        CASE_ID = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
      <if test="trackType != null" >
        TRACK_TYPE = #{trackType,jdbcType=VARCHAR},
      </if>
      <if test="trackContent != null" >
        TRACK_CONTENT = #{trackContent,jdbcType=VARCHAR},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="trackSource != null" >
        TRACK_SOURCE = #{trackSource,jdbcType=TINYINT},
      </if>
      <if test="trackTitle != null" >
        TRACK_TITLE = #{trackTitle,jdbcType=VARCHAR},
      </if>
      <if test="fromSource != null" >
        FROM_SOURCE = #{fromSource,jdbcType=TINYINT},
      </if>
      <if test="isB != null" >
        IS_B = #{isB,jdbcType=TINYINT},
      </if>
    </set>
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyWfDidiTrack" >
    <!--@mbggenerated-->
    update WF_DIDI_TRACK
    set CASE_ID = #{caseId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT},
      TRACK_TYPE = #{trackType,jdbcType=VARCHAR},
      TRACK_CONTENT = #{trackContent,jdbcType=VARCHAR},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      TRACK_SOURCE = #{trackSource,jdbcType=TINYINT},
      TRACK_TITLE = #{trackTitle,jdbcType=VARCHAR},
      FROM_SOURCE = #{fromSource,jdbcType=TINYINT},
      IS_B = #{isB,jdbcType=TINYINT}
    where WF_ID = #{wfId,jdbcType=INTEGER}
  </update>
</mapper>