<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyAccountLogMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyAccountLog" >
    <!--@mbggenerated-->
    <id column="AL_ID" property="alId" jdbcType="INTEGER" />
    <result column="CLIENT_ID" property="clientId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="SMALLINT" />
    <result column="PAID_CATIGORY" property="paidCatigory" jdbcType="VARCHAR" />
    <result column="PAID_TYPE" property="paidType" jdbcType="VARCHAR" />
    <result column="CARDNO" property="cardno" jdbcType="VARCHAR" />
    <result column="ORDERNO" property="orderno" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="NUMERIC" />
    <result column="PADI_TIME" property="padiTime" jdbcType="TIMESTAMP" />
    <result column="AL_DESC" property="alDesc" jdbcType="VARCHAR" />
    <result column="AMOUNT_BEFORE" property="amountBefore" jdbcType="NUMERIC" />
    <result column="AMOUNT_AFTER" property="amountAfter" jdbcType="NUMERIC" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    AL_ID, CLIENT_ID, CITY_ID, PAID_CATIGORY, PAID_TYPE, CARDNO, ORDERNO, AMOUNT, PADI_TIME, 
    AL_DESC, AMOUNT_BEFORE, AMOUNT_AFTER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from ACCOUNT_LOG
    where AL_ID = #{alId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from ACCOUNT_LOG
    where AL_ID = #{alId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyAccountLog" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="alId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into ACCOUNT_LOG (CLIENT_ID, CITY_ID, PAID_CATIGORY, 
      PAID_TYPE, CARDNO, ORDERNO, 
      AMOUNT, PADI_TIME, AL_DESC, 
      AMOUNT_BEFORE, AMOUNT_AFTER)
    values (#{clientId,jdbcType=INTEGER}, #{cityId,jdbcType=SMALLINT}, #{paidCatigory,jdbcType=VARCHAR}, 
      #{paidType,jdbcType=VARCHAR}, #{cardno,jdbcType=VARCHAR}, #{orderno,jdbcType=VARCHAR}, 
      #{amount,jdbcType=NUMERIC}, #{padiTime,jdbcType=TIMESTAMP}, #{alDesc,jdbcType=VARCHAR}, 
      #{amountBefore,jdbcType=NUMERIC}, #{amountAfter,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyAccountLog" >
    <!--@mbggenerated-->
    <selectKey resultType="java.lang.Integer" keyProperty="alId" order="AFTER" >
      SELECT SCOPE_IDENTITY()
    </selectKey>
    insert into ACCOUNT_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        CLIENT_ID,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="paidCatigory != null" >
        PAID_CATIGORY,
      </if>
      <if test="paidType != null" >
        PAID_TYPE,
      </if>
      <if test="cardno != null" >
        CARDNO,
      </if>
      <if test="orderno != null" >
        ORDERNO,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="padiTime != null" >
        PADI_TIME,
      </if>
      <if test="alDesc != null" >
        AL_DESC,
      </if>
      <if test="amountBefore != null" >
        AMOUNT_BEFORE,
      </if>
      <if test="amountAfter != null" >
        AMOUNT_AFTER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clientId != null" >
        #{clientId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="paidCatigory != null" >
        #{paidCatigory,jdbcType=VARCHAR},
      </if>
      <if test="paidType != null" >
        #{paidType,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=NUMERIC},
      </if>
      <if test="padiTime != null" >
        #{padiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alDesc != null" >
        #{alDesc,jdbcType=VARCHAR},
      </if>
      <if test="amountBefore != null" >
        #{amountBefore,jdbcType=NUMERIC},
      </if>
      <if test="amountAfter != null" >
        #{amountAfter,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyAccountLog" >
    <!--@mbggenerated-->
    update ACCOUNT_LOG
    <set >
      <if test="clientId != null" >
        CLIENT_ID = #{clientId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=SMALLINT},
      </if>
      <if test="paidCatigory != null" >
        PAID_CATIGORY = #{paidCatigory,jdbcType=VARCHAR},
      </if>
      <if test="paidType != null" >
        PAID_TYPE = #{paidType,jdbcType=VARCHAR},
      </if>
      <if test="cardno != null" >
        CARDNO = #{cardno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        ORDERNO = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=NUMERIC},
      </if>
      <if test="padiTime != null" >
        PADI_TIME = #{padiTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alDesc != null" >
        AL_DESC = #{alDesc,jdbcType=VARCHAR},
      </if>
      <if test="amountBefore != null" >
        AMOUNT_BEFORE = #{amountBefore,jdbcType=NUMERIC},
      </if>
      <if test="amountAfter != null" >
        AMOUNT_AFTER = #{amountAfter,jdbcType=NUMERIC},
      </if>
    </set>
    where AL_ID = #{alId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyAccountLog" >
    <!--@mbggenerated-->
    update ACCOUNT_LOG
    set CLIENT_ID = #{clientId,jdbcType=INTEGER},
      CITY_ID = #{cityId,jdbcType=SMALLINT},
      PAID_CATIGORY = #{paidCatigory,jdbcType=VARCHAR},
      PAID_TYPE = #{paidType,jdbcType=VARCHAR},
      CARDNO = #{cardno,jdbcType=VARCHAR},
      ORDERNO = #{orderno,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=NUMERIC},
      PADI_TIME = #{padiTime,jdbcType=TIMESTAMP},
      AL_DESC = #{alDesc,jdbcType=VARCHAR},
      AMOUNT_BEFORE = #{amountBefore,jdbcType=NUMERIC},
      AMOUNT_AFTER = #{amountAfter,jdbcType=NUMERIC}
    where AL_ID = #{alId,jdbcType=INTEGER}
  </update>
</mapper>