<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.agencydb.dao.AgencyMyBuildRuleMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.agencydb.po.AgencyMyBuildRule" >
    <!--@mbggenerated-->
    <id column="rule_id" property="ruleId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="building_id" property="buildingId" jdbcType="VARCHAR" />
    <result column="capacity" property="capacity" jdbcType="VARCHAR" />
    <result column="condition" property="condition" jdbcType="VARCHAR" />
    <result column="higherlimit" property="higherlimit" jdbcType="VARCHAR" />
    <result column="lowerlimit" property="lowerlimit" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="percentage" property="percentage" jdbcType="VARCHAR" />
    <result column="proportion" property="proportion" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    rule_id, amount, building_id, capacity, condition, higherlimit, lowerlimit, name, 
    num, percentage, proportion, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from MY_BUILD_RULE
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--@mbggenerated-->
    delete from MY_BUILD_RULE
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildRule" >
    <!--@mbggenerated-->
    insert into MY_BUILD_RULE (rule_id, amount, building_id, 
      capacity, condition, higherlimit, 
      lowerlimit, name, num, 
      percentage, proportion, type
      )
    values (#{ruleId,jdbcType=INTEGER}, #{amount,jdbcType=VARCHAR}, #{buildingId,jdbcType=VARCHAR}, 
      #{capacity,jdbcType=VARCHAR}, #{condition,jdbcType=VARCHAR}, #{higherlimit,jdbcType=VARCHAR}, 
      #{lowerlimit,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{percentage,jdbcType=VARCHAR}, #{proportion,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildRule" >
    <!--@mbggenerated-->
    insert into MY_BUILD_RULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        rule_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="capacity != null" >
        capacity,
      </if>
      <if test="condition != null" >
        condition,
      </if>
      <if test="higherlimit != null" >
        higherlimit,
      </if>
      <if test="lowerlimit != null" >
        lowerlimit,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="percentage != null" >
        percentage,
      </if>
      <if test="proportion != null" >
        proportion,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ruleId != null" >
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="condition != null" >
        #{condition,jdbcType=VARCHAR},
      </if>
      <if test="higherlimit != null" >
        #{higherlimit,jdbcType=VARCHAR},
      </if>
      <if test="lowerlimit != null" >
        #{lowerlimit,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="percentage != null" >
        #{percentage,jdbcType=VARCHAR},
      </if>
      <if test="proportion != null" >
        #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildRule" >
    <!--@mbggenerated-->
    update MY_BUILD_RULE
    <set >
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null" >
        capacity = #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="condition != null" >
        condition = #{condition,jdbcType=VARCHAR},
      </if>
      <if test="higherlimit != null" >
        higherlimit = #{higherlimit,jdbcType=VARCHAR},
      </if>
      <if test="lowerlimit != null" >
        lowerlimit = #{lowerlimit,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="percentage != null" >
        percentage = #{percentage,jdbcType=VARCHAR},
      </if>
      <if test="proportion != null" >
        proportion = #{proportion,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.agencydb.po.AgencyMyBuildRule" >
    <!--@mbggenerated-->
    update MY_BUILD_RULE
    set amount = #{amount,jdbcType=VARCHAR},
      building_id = #{buildingId,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=VARCHAR},
      condition = #{condition,jdbcType=VARCHAR},
      higherlimit = #{higherlimit,jdbcType=VARCHAR},
      lowerlimit = #{lowerlimit,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      percentage = #{percentage,jdbcType=VARCHAR},
      proportion = #{proportion,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where rule_id = #{ruleId,jdbcType=INTEGER}
  </update>
</mapper>