<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myfun.repository.admindbRpt.dao.AdminRptHouseorcustFlowAnalysistotalMapper" >
  <resultMap id="BaseResultMap" type="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotal" >
    <!--@mbggenerated-->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="COMP_ID" property="compId" jdbcType="INTEGER" />
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="GR_ID" property="grId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="ARCHIVE_ID" property="archiveId" jdbcType="INTEGER" />
    <result column="CREATION_TIME" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="EFFECTIVE_SAVE_COUNT" property="effectiveSaveCount" jdbcType="INTEGER" />
    <result column="SEALINGPLATE_SAVE_COUNT" property="sealingplateSaveCount" jdbcType="INTEGER" />
    <result column="CANCELL_SAVE_COUNT" property="cancellSaveCount" jdbcType="INTEGER" />
    <result column="BOOK_SAVE_COUNT" property="bookSaveCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOEFFTIVE_SAVE_COUNT" property="transfertoefftiveSaveCount" jdbcType="INTEGER" />
    <result column="INNDERDEAL_SAVE_COUNT" property="innderdealSaveCount" jdbcType="INTEGER" />
    <result column="OUTDEAL_SAVE_COUNT" property="outdealSaveCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOSALE_SAVE_COUNT" property="transfertosaleSaveCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOLEASE_SAVE_COUNT" property="transfertoleaseSaveCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOPUBLIC_SAVE_COUNT" property="transfertopublicSaveCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOSHARE_SAVE_COUNT" property="transfertoshareSaveCount" jdbcType="INTEGER" />
    <result column="EFFECTIVE_ADD_COUNT" property="effectiveAddCount" jdbcType="INTEGER" />
    <result column="SEALINGPLATE_ADD_COUNT" property="sealingplateAddCount" jdbcType="INTEGER" />
    <result column="CANCELL_ADD_COUNT" property="cancellAddCount" jdbcType="INTEGER" />
    <result column="BOOK_ADD_COUNT" property="bookAddCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOEFFTIVE_ADD_COUNT" property="transfertoefftiveAddCount" jdbcType="INTEGER" />
    <result column="INNDERDEAL_ADD_COUNT" property="innderdealAddCount" jdbcType="INTEGER" />
    <result column="OUTDEAL_ADD_COUNT" property="outdealAddCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOSALE_ADD_COUNT" property="transfertosaleAddCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOLEASE_ADD_COUNT" property="transfertoleaseAddCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOPUBLIC_ADD_COUNT" property="transfertopublicAddCount" jdbcType="INTEGER" />
    <result column="TRANSFERTOSHARE_ADD_COUNT" property="transfertoshareAddCount" jdbcType="INTEGER" />
    <result column="CASE_TYPE" property="caseType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--@mbggenerated-->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--@mbggenerated-->
    ID, CITY_ID, COMP_ID, DEPT_ID, GR_ID, USER_ID, ARCHIVE_ID, CREATION_TIME, EFFECTIVE_SAVE_COUNT, 
    SEALINGPLATE_SAVE_COUNT, CANCELL_SAVE_COUNT, BOOK_SAVE_COUNT, TRANSFERTOEFFTIVE_SAVE_COUNT, 
    INNDERDEAL_SAVE_COUNT, OUTDEAL_SAVE_COUNT, TRANSFERTOSALE_SAVE_COUNT, TRANSFERTOLEASE_SAVE_COUNT, 
    TRANSFERTOPUBLIC_SAVE_COUNT, TRANSFERTOSHARE_SAVE_COUNT, EFFECTIVE_ADD_COUNT, SEALINGPLATE_ADD_COUNT, 
    CANCELL_ADD_COUNT, BOOK_ADD_COUNT, TRANSFERTOEFFTIVE_ADD_COUNT, INNDERDEAL_ADD_COUNT, 
    OUTDEAL_ADD_COUNT, TRANSFERTOSALE_ADD_COUNT, TRANSFERTOLEASE_ADD_COUNT, TRANSFERTOPUBLIC_ADD_COUNT, 
    TRANSFERTOSHARE_ADD_COUNT, CASE_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotalExample" >
    <!--@mbggenerated-->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from HOUSEORCUST_FLOW_ANALYSISTOTAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    <!--@mbggenerated-->
    select 
    <include refid="Base_Column_List" />
    from HOUSEORCUST_FLOW_ANALYSISTOTAL
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--@mbggenerated-->
    delete from HOUSEORCUST_FLOW_ANALYSISTOTAL
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotalExample" >
    <!--@mbggenerated-->
    delete from HOUSEORCUST_FLOW_ANALYSISTOTAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotal" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into HOUSEORCUST_FLOW_ANALYSISTOTAL (CITY_ID, COMP_ID, DEPT_ID, 
      GR_ID, USER_ID, ARCHIVE_ID, 
      CREATION_TIME, EFFECTIVE_SAVE_COUNT, SEALINGPLATE_SAVE_COUNT, 
      CANCELL_SAVE_COUNT, BOOK_SAVE_COUNT, TRANSFERTOEFFTIVE_SAVE_COUNT, 
      INNDERDEAL_SAVE_COUNT, OUTDEAL_SAVE_COUNT, 
      TRANSFERTOSALE_SAVE_COUNT, TRANSFERTOLEASE_SAVE_COUNT, 
      TRANSFERTOPUBLIC_SAVE_COUNT, TRANSFERTOSHARE_SAVE_COUNT, 
      EFFECTIVE_ADD_COUNT, SEALINGPLATE_ADD_COUNT, 
      CANCELL_ADD_COUNT, BOOK_ADD_COUNT, TRANSFERTOEFFTIVE_ADD_COUNT, 
      INNDERDEAL_ADD_COUNT, OUTDEAL_ADD_COUNT, TRANSFERTOSALE_ADD_COUNT, 
      TRANSFERTOLEASE_ADD_COUNT, TRANSFERTOPUBLIC_ADD_COUNT, 
      TRANSFERTOSHARE_ADD_COUNT, CASE_TYPE)
    values (#{cityId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, 
      #{grId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{archiveId,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{effectiveSaveCount,jdbcType=INTEGER}, #{sealingplateSaveCount,jdbcType=INTEGER}, 
      #{cancellSaveCount,jdbcType=INTEGER}, #{bookSaveCount,jdbcType=INTEGER}, #{transfertoefftiveSaveCount,jdbcType=INTEGER}, 
      #{innderdealSaveCount,jdbcType=INTEGER}, #{outdealSaveCount,jdbcType=INTEGER}, 
      #{transfertosaleSaveCount,jdbcType=INTEGER}, #{transfertoleaseSaveCount,jdbcType=INTEGER}, 
      #{transfertopublicSaveCount,jdbcType=INTEGER}, #{transfertoshareSaveCount,jdbcType=INTEGER}, 
      #{effectiveAddCount,jdbcType=INTEGER}, #{sealingplateAddCount,jdbcType=INTEGER}, 
      #{cancellAddCount,jdbcType=INTEGER}, #{bookAddCount,jdbcType=INTEGER}, #{transfertoefftiveAddCount,jdbcType=INTEGER}, 
      #{innderdealAddCount,jdbcType=INTEGER}, #{outdealAddCount,jdbcType=INTEGER}, #{transfertosaleAddCount,jdbcType=INTEGER}, 
      #{transfertoleaseAddCount,jdbcType=INTEGER}, #{transfertopublicAddCount,jdbcType=INTEGER}, 
      #{transfertoshareAddCount,jdbcType=INTEGER}, #{caseType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotal" useGeneratedKeys="true" keyProperty="id" >
    <!--@mbggenerated-->
    insert into HOUSEORCUST_FLOW_ANALYSISTOTAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        CITY_ID,
      </if>
      <if test="compId != null" >
        COMP_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="grId != null" >
        GR_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID,
      </if>
      <if test="creationTime != null" >
        CREATION_TIME,
      </if>
      <if test="effectiveSaveCount != null" >
        EFFECTIVE_SAVE_COUNT,
      </if>
      <if test="sealingplateSaveCount != null" >
        SEALINGPLATE_SAVE_COUNT,
      </if>
      <if test="cancellSaveCount != null" >
        CANCELL_SAVE_COUNT,
      </if>
      <if test="bookSaveCount != null" >
        BOOK_SAVE_COUNT,
      </if>
      <if test="transfertoefftiveSaveCount != null" >
        TRANSFERTOEFFTIVE_SAVE_COUNT,
      </if>
      <if test="innderdealSaveCount != null" >
        INNDERDEAL_SAVE_COUNT,
      </if>
      <if test="outdealSaveCount != null" >
        OUTDEAL_SAVE_COUNT,
      </if>
      <if test="transfertosaleSaveCount != null" >
        TRANSFERTOSALE_SAVE_COUNT,
      </if>
      <if test="transfertoleaseSaveCount != null" >
        TRANSFERTOLEASE_SAVE_COUNT,
      </if>
      <if test="transfertopublicSaveCount != null" >
        TRANSFERTOPUBLIC_SAVE_COUNT,
      </if>
      <if test="transfertoshareSaveCount != null" >
        TRANSFERTOSHARE_SAVE_COUNT,
      </if>
      <if test="effectiveAddCount != null" >
        EFFECTIVE_ADD_COUNT,
      </if>
      <if test="sealingplateAddCount != null" >
        SEALINGPLATE_ADD_COUNT,
      </if>
      <if test="cancellAddCount != null" >
        CANCELL_ADD_COUNT,
      </if>
      <if test="bookAddCount != null" >
        BOOK_ADD_COUNT,
      </if>
      <if test="transfertoefftiveAddCount != null" >
        TRANSFERTOEFFTIVE_ADD_COUNT,
      </if>
      <if test="innderdealAddCount != null" >
        INNDERDEAL_ADD_COUNT,
      </if>
      <if test="outdealAddCount != null" >
        OUTDEAL_ADD_COUNT,
      </if>
      <if test="transfertosaleAddCount != null" >
        TRANSFERTOSALE_ADD_COUNT,
      </if>
      <if test="transfertoleaseAddCount != null" >
        TRANSFERTOLEASE_ADD_COUNT,
      </if>
      <if test="transfertopublicAddCount != null" >
        TRANSFERTOPUBLIC_ADD_COUNT,
      </if>
      <if test="transfertoshareAddCount != null" >
        TRANSFERTOSHARE_ADD_COUNT,
      </if>
      <if test="caseType != null" >
        CASE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="grId != null" >
        #{grId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveSaveCount != null" >
        #{effectiveSaveCount,jdbcType=INTEGER},
      </if>
      <if test="sealingplateSaveCount != null" >
        #{sealingplateSaveCount,jdbcType=INTEGER},
      </if>
      <if test="cancellSaveCount != null" >
        #{cancellSaveCount,jdbcType=INTEGER},
      </if>
      <if test="bookSaveCount != null" >
        #{bookSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoefftiveSaveCount != null" >
        #{transfertoefftiveSaveCount,jdbcType=INTEGER},
      </if>
      <if test="innderdealSaveCount != null" >
        #{innderdealSaveCount,jdbcType=INTEGER},
      </if>
      <if test="outdealSaveCount != null" >
        #{outdealSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertosaleSaveCount != null" >
        #{transfertosaleSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoleaseSaveCount != null" >
        #{transfertoleaseSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertopublicSaveCount != null" >
        #{transfertopublicSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoshareSaveCount != null" >
        #{transfertoshareSaveCount,jdbcType=INTEGER},
      </if>
      <if test="effectiveAddCount != null" >
        #{effectiveAddCount,jdbcType=INTEGER},
      </if>
      <if test="sealingplateAddCount != null" >
        #{sealingplateAddCount,jdbcType=INTEGER},
      </if>
      <if test="cancellAddCount != null" >
        #{cancellAddCount,jdbcType=INTEGER},
      </if>
      <if test="bookAddCount != null" >
        #{bookAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoefftiveAddCount != null" >
        #{transfertoefftiveAddCount,jdbcType=INTEGER},
      </if>
      <if test="innderdealAddCount != null" >
        #{innderdealAddCount,jdbcType=INTEGER},
      </if>
      <if test="outdealAddCount != null" >
        #{outdealAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertosaleAddCount != null" >
        #{transfertosaleAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoleaseAddCount != null" >
        #{transfertoleaseAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertopublicAddCount != null" >
        #{transfertopublicAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoshareAddCount != null" >
        #{transfertoshareAddCount,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        #{caseType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotalExample" resultType="java.lang.Integer" >
    <!--@mbggenerated-->
    select count(*) from HOUSEORCUST_FLOW_ANALYSISTOTAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--@mbggenerated-->
    update HOUSEORCUST_FLOW_ANALYSISTOTAL
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.compId != null" >
        COMP_ID = #{record.compId,jdbcType=INTEGER},
      </if>
      <if test="record.deptId != null" >
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.grId != null" >
        GR_ID = #{record.grId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.archiveId != null" >
        ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      </if>
      <if test="record.creationTime != null" >
        CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.effectiveSaveCount != null" >
        EFFECTIVE_SAVE_COUNT = #{record.effectiveSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.sealingplateSaveCount != null" >
        SEALINGPLATE_SAVE_COUNT = #{record.sealingplateSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.cancellSaveCount != null" >
        CANCELL_SAVE_COUNT = #{record.cancellSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.bookSaveCount != null" >
        BOOK_SAVE_COUNT = #{record.bookSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertoefftiveSaveCount != null" >
        TRANSFERTOEFFTIVE_SAVE_COUNT = #{record.transfertoefftiveSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.innderdealSaveCount != null" >
        INNDERDEAL_SAVE_COUNT = #{record.innderdealSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.outdealSaveCount != null" >
        OUTDEAL_SAVE_COUNT = #{record.outdealSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertosaleSaveCount != null" >
        TRANSFERTOSALE_SAVE_COUNT = #{record.transfertosaleSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertoleaseSaveCount != null" >
        TRANSFERTOLEASE_SAVE_COUNT = #{record.transfertoleaseSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertopublicSaveCount != null" >
        TRANSFERTOPUBLIC_SAVE_COUNT = #{record.transfertopublicSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertoshareSaveCount != null" >
        TRANSFERTOSHARE_SAVE_COUNT = #{record.transfertoshareSaveCount,jdbcType=INTEGER},
      </if>
      <if test="record.effectiveAddCount != null" >
        EFFECTIVE_ADD_COUNT = #{record.effectiveAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.sealingplateAddCount != null" >
        SEALINGPLATE_ADD_COUNT = #{record.sealingplateAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.cancellAddCount != null" >
        CANCELL_ADD_COUNT = #{record.cancellAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.bookAddCount != null" >
        BOOK_ADD_COUNT = #{record.bookAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertoefftiveAddCount != null" >
        TRANSFERTOEFFTIVE_ADD_COUNT = #{record.transfertoefftiveAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.innderdealAddCount != null" >
        INNDERDEAL_ADD_COUNT = #{record.innderdealAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.outdealAddCount != null" >
        OUTDEAL_ADD_COUNT = #{record.outdealAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertosaleAddCount != null" >
        TRANSFERTOSALE_ADD_COUNT = #{record.transfertosaleAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertoleaseAddCount != null" >
        TRANSFERTOLEASE_ADD_COUNT = #{record.transfertoleaseAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertopublicAddCount != null" >
        TRANSFERTOPUBLIC_ADD_COUNT = #{record.transfertopublicAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.transfertoshareAddCount != null" >
        TRANSFERTOSHARE_ADD_COUNT = #{record.transfertoshareAddCount,jdbcType=INTEGER},
      </if>
      <if test="record.caseType != null" >
        CASE_TYPE = #{record.caseType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--@mbggenerated-->
    update HOUSEORCUST_FLOW_ANALYSISTOTAL
    set ID = #{record.id,jdbcType=BIGINT},
      CITY_ID = #{record.cityId,jdbcType=INTEGER},
      COMP_ID = #{record.compId,jdbcType=INTEGER},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      GR_ID = #{record.grId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{record.archiveId,jdbcType=INTEGER},
      CREATION_TIME = #{record.creationTime,jdbcType=TIMESTAMP},
      EFFECTIVE_SAVE_COUNT = #{record.effectiveSaveCount,jdbcType=INTEGER},
      SEALINGPLATE_SAVE_COUNT = #{record.sealingplateSaveCount,jdbcType=INTEGER},
      CANCELL_SAVE_COUNT = #{record.cancellSaveCount,jdbcType=INTEGER},
      BOOK_SAVE_COUNT = #{record.bookSaveCount,jdbcType=INTEGER},
      TRANSFERTOEFFTIVE_SAVE_COUNT = #{record.transfertoefftiveSaveCount,jdbcType=INTEGER},
      INNDERDEAL_SAVE_COUNT = #{record.innderdealSaveCount,jdbcType=INTEGER},
      OUTDEAL_SAVE_COUNT = #{record.outdealSaveCount,jdbcType=INTEGER},
      TRANSFERTOSALE_SAVE_COUNT = #{record.transfertosaleSaveCount,jdbcType=INTEGER},
      TRANSFERTOLEASE_SAVE_COUNT = #{record.transfertoleaseSaveCount,jdbcType=INTEGER},
      TRANSFERTOPUBLIC_SAVE_COUNT = #{record.transfertopublicSaveCount,jdbcType=INTEGER},
      TRANSFERTOSHARE_SAVE_COUNT = #{record.transfertoshareSaveCount,jdbcType=INTEGER},
      EFFECTIVE_ADD_COUNT = #{record.effectiveAddCount,jdbcType=INTEGER},
      SEALINGPLATE_ADD_COUNT = #{record.sealingplateAddCount,jdbcType=INTEGER},
      CANCELL_ADD_COUNT = #{record.cancellAddCount,jdbcType=INTEGER},
      BOOK_ADD_COUNT = #{record.bookAddCount,jdbcType=INTEGER},
      TRANSFERTOEFFTIVE_ADD_COUNT = #{record.transfertoefftiveAddCount,jdbcType=INTEGER},
      INNDERDEAL_ADD_COUNT = #{record.innderdealAddCount,jdbcType=INTEGER},
      OUTDEAL_ADD_COUNT = #{record.outdealAddCount,jdbcType=INTEGER},
      TRANSFERTOSALE_ADD_COUNT = #{record.transfertosaleAddCount,jdbcType=INTEGER},
      TRANSFERTOLEASE_ADD_COUNT = #{record.transfertoleaseAddCount,jdbcType=INTEGER},
      TRANSFERTOPUBLIC_ADD_COUNT = #{record.transfertopublicAddCount,jdbcType=INTEGER},
      TRANSFERTOSHARE_ADD_COUNT = #{record.transfertoshareAddCount,jdbcType=INTEGER},
      CASE_TYPE = #{record.caseType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotal" >
    <!--@mbggenerated-->
    update HOUSEORCUST_FLOW_ANALYSISTOTAL
    <set >
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="compId != null" >
        COMP_ID = #{compId,jdbcType=INTEGER},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="grId != null" >
        GR_ID = #{grId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="archiveId != null" >
        ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null" >
        CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveSaveCount != null" >
        EFFECTIVE_SAVE_COUNT = #{effectiveSaveCount,jdbcType=INTEGER},
      </if>
      <if test="sealingplateSaveCount != null" >
        SEALINGPLATE_SAVE_COUNT = #{sealingplateSaveCount,jdbcType=INTEGER},
      </if>
      <if test="cancellSaveCount != null" >
        CANCELL_SAVE_COUNT = #{cancellSaveCount,jdbcType=INTEGER},
      </if>
      <if test="bookSaveCount != null" >
        BOOK_SAVE_COUNT = #{bookSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoefftiveSaveCount != null" >
        TRANSFERTOEFFTIVE_SAVE_COUNT = #{transfertoefftiveSaveCount,jdbcType=INTEGER},
      </if>
      <if test="innderdealSaveCount != null" >
        INNDERDEAL_SAVE_COUNT = #{innderdealSaveCount,jdbcType=INTEGER},
      </if>
      <if test="outdealSaveCount != null" >
        OUTDEAL_SAVE_COUNT = #{outdealSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertosaleSaveCount != null" >
        TRANSFERTOSALE_SAVE_COUNT = #{transfertosaleSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoleaseSaveCount != null" >
        TRANSFERTOLEASE_SAVE_COUNT = #{transfertoleaseSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertopublicSaveCount != null" >
        TRANSFERTOPUBLIC_SAVE_COUNT = #{transfertopublicSaveCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoshareSaveCount != null" >
        TRANSFERTOSHARE_SAVE_COUNT = #{transfertoshareSaveCount,jdbcType=INTEGER},
      </if>
      <if test="effectiveAddCount != null" >
        EFFECTIVE_ADD_COUNT = #{effectiveAddCount,jdbcType=INTEGER},
      </if>
      <if test="sealingplateAddCount != null" >
        SEALINGPLATE_ADD_COUNT = #{sealingplateAddCount,jdbcType=INTEGER},
      </if>
      <if test="cancellAddCount != null" >
        CANCELL_ADD_COUNT = #{cancellAddCount,jdbcType=INTEGER},
      </if>
      <if test="bookAddCount != null" >
        BOOK_ADD_COUNT = #{bookAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoefftiveAddCount != null" >
        TRANSFERTOEFFTIVE_ADD_COUNT = #{transfertoefftiveAddCount,jdbcType=INTEGER},
      </if>
      <if test="innderdealAddCount != null" >
        INNDERDEAL_ADD_COUNT = #{innderdealAddCount,jdbcType=INTEGER},
      </if>
      <if test="outdealAddCount != null" >
        OUTDEAL_ADD_COUNT = #{outdealAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertosaleAddCount != null" >
        TRANSFERTOSALE_ADD_COUNT = #{transfertosaleAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoleaseAddCount != null" >
        TRANSFERTOLEASE_ADD_COUNT = #{transfertoleaseAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertopublicAddCount != null" >
        TRANSFERTOPUBLIC_ADD_COUNT = #{transfertopublicAddCount,jdbcType=INTEGER},
      </if>
      <if test="transfertoshareAddCount != null" >
        TRANSFERTOSHARE_ADD_COUNT = #{transfertoshareAddCount,jdbcType=INTEGER},
      </if>
      <if test="caseType != null" >
        CASE_TYPE = #{caseType,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myfun.repository.admindbRpt.po.AdminRptHouseorcustFlowAnalysistotal" >
    <!--@mbggenerated-->
    update HOUSEORCUST_FLOW_ANALYSISTOTAL
    set CITY_ID = #{cityId,jdbcType=INTEGER},
      COMP_ID = #{compId,jdbcType=INTEGER},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      GR_ID = #{grId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      ARCHIVE_ID = #{archiveId,jdbcType=INTEGER},
      CREATION_TIME = #{creationTime,jdbcType=TIMESTAMP},
      EFFECTIVE_SAVE_COUNT = #{effectiveSaveCount,jdbcType=INTEGER},
      SEALINGPLATE_SAVE_COUNT = #{sealingplateSaveCount,jdbcType=INTEGER},
      CANCELL_SAVE_COUNT = #{cancellSaveCount,jdbcType=INTEGER},
      BOOK_SAVE_COUNT = #{bookSaveCount,jdbcType=INTEGER},
      TRANSFERTOEFFTIVE_SAVE_COUNT = #{transfertoefftiveSaveCount,jdbcType=INTEGER},
      INNDERDEAL_SAVE_COUNT = #{innderdealSaveCount,jdbcType=INTEGER},
      OUTDEAL_SAVE_COUNT = #{outdealSaveCount,jdbcType=INTEGER},
      TRANSFERTOSALE_SAVE_COUNT = #{transfertosaleSaveCount,jdbcType=INTEGER},
      TRANSFERTOLEASE_SAVE_COUNT = #{transfertoleaseSaveCount,jdbcType=INTEGER},
      TRANSFERTOPUBLIC_SAVE_COUNT = #{transfertopublicSaveCount,jdbcType=INTEGER},
      TRANSFERTOSHARE_SAVE_COUNT = #{transfertoshareSaveCount,jdbcType=INTEGER},
      EFFECTIVE_ADD_COUNT = #{effectiveAddCount,jdbcType=INTEGER},
      SEALINGPLATE_ADD_COUNT = #{sealingplateAddCount,jdbcType=INTEGER},
      CANCELL_ADD_COUNT = #{cancellAddCount,jdbcType=INTEGER},
      BOOK_ADD_COUNT = #{bookAddCount,jdbcType=INTEGER},
      TRANSFERTOEFFTIVE_ADD_COUNT = #{transfertoefftiveAddCount,jdbcType=INTEGER},
      INNDERDEAL_ADD_COUNT = #{innderdealAddCount,jdbcType=INTEGER},
      OUTDEAL_ADD_COUNT = #{outdealAddCount,jdbcType=INTEGER},
      TRANSFERTOSALE_ADD_COUNT = #{transfertosaleAddCount,jdbcType=INTEGER},
      TRANSFERTOLEASE_ADD_COUNT = #{transfertoleaseAddCount,jdbcType=INTEGER},
      TRANSFERTOPUBLIC_ADD_COUNT = #{transfertopublicAddCount,jdbcType=INTEGER},
      TRANSFERTOSHARE_ADD_COUNT = #{transfertoshareAddCount,jdbcType=INTEGER},
      CASE_TYPE = #{caseType,jdbcType=TINYINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>